    <link rel="icon" href="../../../../favicon.ico">
	<link href="<%=url_for('css/main.css?=22')%>" rel="stylesheet">
    <script src="<%=url_for('js/ion.sound.min.js')%>"></script>
    <script src="/vendor/d3/d3.min.cus.js"></script>
	<link href='/vendor/fullcalendar/main.css' rel='stylesheet' />
	<script src='/vendor/fullcalendar/main.js'></script>
    <title>Medical IOT Solution</title>

    <!-- Bootstrap core CSS -->
    <link href="<%=url_for 'css/bootstrap.min.css'%>" rel="stylesheet">
	<link href="/open-iconic/font/css/open-iconic-foundation.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="" rel="stylesheet">
	<script src="/vendor/jquery-1.9.1.min.js"></script>
	<%=inline(this,:'../share/_theme')%>
	<link rel="stylesheet" type="text/css" href="<%=url_for(@theme_default_css) %>"/>
	<link rel="stylesheet" type="text/css" href="<%=url_for(@theme_custom_css) %>"/>