<%
	
	
    room = Room.find params[:id]
	zone = Zone.find room.zone_id
	
	beds = room.beds 
	
	admits = []
	
	for bed in beds 
	
		admit =  Admit.where(:bed_id=> bed.id, :zone_id=>session[:current_zone], :status=>'Admitted').first
	 	
		admits << admit
	end
	
	
	
	
%>

<style>


</style>

<script src="https://kit.fontawesome.com/13a3acd719.js" crossorigin="anonymous"></script>
<link href="<%=url_for('css/er_dark.css')%>" rel="stylesheet">
<link href="<%=url_for('css/er.css?=22')%>" rel="stylesheet">
   
   
   <div id="panel">
	   Loading...
   </div>
   <div class="row d-flex text-center justify-content-center">
                <div class="mt-3 mr-3 ">
                    <div class="card-info">
                        <span>Today beds</span>
                        <br>
                        <span class="card-num">2</span>
                    </div>


                </div>
                <div class="mt-3 mr-3 ">
                    <div class="card-info">
                        Avarage Duration
                        <br>
                        <span class="card-num">50</span>

                    </div>
                </div>
                <div class="mt-3 mr-3 ">
                    <div class="card-info ">
                        Total Time
                        <br>
                        <span class="card-num">1:40</span>
                    </div>
                </div>
                <div class="mt-3 mr-3">
                    <div class="card-info">
                        ER Occupancy <!--of patients in the ER compared to # of beds-->
                        <br>
                        <span class="card-num">2</span>
                    </div>
                </div>
	</div>
   <br>
   <div class="container-fluid mt-0 ">
		<table class="dashboard-table w-100">
			<tr>
				<div class="">
				<th class="p-1 dashboard-head text-center" rowspan="2">Patient</th>
				<th class="p-1 dashboard-head text-center" rowspan="2">Triage</th>
				<th class="p-1 dashboard-head text-center" rowspan="2">Duration</th>
				<th class="p-1 dashboard-head text-center" colspan="4">Vital Sign</th>	
			</tr>
			<tr>
				<td class="p-1 dashboard-head text-center">BP</td>
				<td class="p-1 dashboard-head text-center">Pulse/SpO<sub>2</sub></td>
				<td class="p-1 dashboard-head text-center">Body Temp</td>
				<td class="p-1 dashboard-head text-center">RR</td>
			</tr>
			<tr>
				<div class="">
				<td class="p-2"><span><%=%></span>Patient Name</td>
				<td class=" text-center"><span><%=%></span>แดง</td>
				<td class="text-center"><span><%=%></span>50 mins</td>
				<td class="text-center"><span><%=%></span>120/90</td>
				<td class="text-center"><span><%=%></span>82/90</td>
				<td class="text-center"><span><%=%></span>37.2</td>
				<td class="text-center"><span><%=%></span>89</td>
			</tr>
			<tr>
				<div class="">
				<td class="p-2"><span><%=%></span>Patient Name</td>
				<td class="text-center"><span><%=%></span>แดง</td>
				<td class="text-center"><span><%=%></span>50 mins</td>
				<td class="text-center"><span><%=%></span>120/90</td>
				<td class="text-center"><span><%=%></span>82/90</td>
				<td class="text-center"><span><%=%></span>37.2</td>
				<td class="text-center"><span><%=%></span>89</td>
			</tr>
			
		</table>
   </div>
   
	<script>
		

		
		
		function executeQuery() {
		  $.ajax({
		    url: '_dashboard_partial?id=<%=params[:id]%>',
		    success: function(data) {
		      // do something with the return value here if you like
				$('#panel').html(data)
		    }
		  });
		  updateCall();
		}

		function updateCall(){
		setTimeout(function(){executeQuery()}, 1000);
		}

		$(document).ready(function() {
		  executeQuery();
		  
		
		
		});
		
	</script>
