Create
<%


  document = EMRDocument.where(:name=>params[:document]).first
  ems_case = EMSCase.find params[:case_id]

  if request.post?


    document.update_attributes :schema=>params[:schema]


    record = EMRRecord.create :stamp=>Time.now, :document_id=>document.id, :case_id=>ems_case.id, :admit_id=>ems_case.admit_id, :data=>params[:record]

    admit = Admit.find(ems_case.admit_id)

    values = record

    text = "EMR: #{document.name}"

    if File.file?(File.dirname(__FILE__) +'/documents/_'+document.name+"_text.erb")

      text = inline(this,'documents/_'+document.name+"_text", :this=>this, :record=>values, :ems_case=> ems_case, :mode=>'line')

    end

     # nurse_record = admit.nurse_records.create :name=>"Paramedic" ,:description=>"EMR: #{document.name}", :start_time=>Time.now
     # nurse_record = admit.nurse_records.create :name=>"Paramedic" ,:description=>text.strip, :start_time=>Time.now, :data_record_id=>record.id, :tag=>'emr'
     name = 'EMR'

     name = document.title.split(" ")[0] if document and document.name
    
     note = EMSProgressNote.create :name=>name, :type=>"emr" ,:text =>text.strip, :time=>Time.now, :ref_id=>record.id,:case_id=>ems_case.id, :item_id=>params[:item_id]



      path = "miot/#{@context.settings.name}/z/#{admit.zone.name}"
      msg = {:type=>'emr', :document_id=>document.id, :record_id=>record.id, :case_id=>ems_case.id}
  send_msg = <<MSG
#{'Zone.Message'} #{path}
#{msg.to_json}
MSG

    @context.settings.redis.publish(path, send_msg)


%>

<!--<META HTTP-EQUIV="Refresh" CONTENT="1;URL=../EMS/show?id=<%=ems_case.id%>">-->

<% else %>
<%



    record = EMRRecord.new

    values = {}

%>
<form action="<%=get_path 'create_partial'%>" id="form-<%=record.id%>" method="post">
<input type="hidden" name="case_id" value="<%=ems_case.id%>">
<input type="hidden" name="item_id" value="<%=params[:item_id]%>">
<input type="hidden" name="document" value="<%=document.name%>">
<input type="hidden" name="schema" id="schema" value="">

<% fieldset(:record) do |f| %>
<%= inline(this,'documents/_'+document.name, :this=>this, :f=>f, :record=>values, :ems_case=> ems_case, :record_id=>"form-#{record.id}")  %>
<% end %>
<br/>
<div class="modal-footer">
  <input type="submit" value="Create" class="btn btn-success">

  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>

</form>
<% end %>

<script>

  $("#form-<%=record.id%>").submit(function(e){

    fields = []

    e.preventDefault();
    
    $('.field').each(function(){

        cname =  $(this).attr("name")
        start =  cname.indexOf('[')
        column = cname.substring(start+1, cname.length-1)

        f = {'name':column,'type':$(this).attr('field_type')}
        fields.push(f)

    })

    $('#schema').val(JSON.stringify(fields))


    var form = $(this);
    var actionUrl = form.attr('action');

    $.ajax({
        type: "POST",
        url: actionUrl,
        data: form.serialize(), // serializes the form's elements.
        success: function(data)
        {
          // alert(data);
          $('#dispatch_emr_panel').modal("hide")
          // show response from the php script.
        }
    });


  });






</script>
