<%


  document = EMRDocument.where(:name=>params[:document]).first
  ems_case = EMSCase.find params[:case_id]
  record = EMRRecord.find params[:id]


  if request.post?


 	 # document.update_attributes :schema=>params[:schema]



     record.update_attributes :stamp=>Time.now, :document_id=>document.id, :case_id=>ems_case.id, :admit_id=>ems_case.admit_id, :data=>params[:record]
     values = record

	 
	 
     if File.file?(File.dirname(__FILE__) +'/documents/_'+document.name+"_text.erb")

       text = inline(this,'documents/_'+document.name+"_text", :this=>this, :record=>values, :ems_case=> ems_case, :mode=>'line')
	   	
       note = EMSProgressNote.where(:ref_id=>record.id,:case_id=>ems_case.id).first
	   
	   note.update_attributes :text=>text if note
		
		
     end
	 
#
#     admit = Admit.find(ems_case.admit_id)
#
#     values = record
#
#     text = "EMR: #{document.name}"
#
#     if File.file?(File.dirname(__FILE__) +'/documents/_'+document.name+"_text.erb")
#
#       text = inline(this,'documents/_'+document.name+"_text", :this=>this, :record=>values, :ems_case=> ems_case)
#
#     end
#
#     # nurse_record = admit.nurse_records.create :name=>"Paramedic" ,:description=>"EMR: #{document.name}", :start_time=>Time.now
#     nurse_record = admit.nurse_records.create :name=>"Paramedic" ,:description=>text.strip, :start_time=>Time.now
#
#
       path = "miot/#{@context.settings.name}/z/#{ems_case.zone.name}"
       msg = {:type=>'emr', :document_id=>document.id, :record_id=>record.id, :case_id=>ems_case.id}
   send_msg = <<MSG
#{'Zone.Message'} #{path}
#{msg.to_json}
MSG

     @context.settings.redis.publish(path, send_msg)


%>

<!--<META HTTP-EQUIV="Refresh" CONTENT="1;URL=../EMS/show?id=<%=ems_case.id%>">-->
<% else %>
<%

 values = record.data



%>
<%=params[:prefix]%>
<form action="<%=get_path 'update_partial'%>" class="form-<%=record.id%>" id="<%=params[:prefix]+"-" if params[:prefix]%><%=record.id%>" method="post">

<input type="hidden" name="id" value="<%=record.id%>">
<input type="hidden" name="case_id" value="<%=ems_case.id%>">
<input type="hidden" name="document" value="<%=document.name%>">


<% fieldset(:record) do |f| %>
<%= inline(this,'documents/_'+document.name, :this=>this, :f=>f, :record=>values, :ems_case=> ems_case, :record_id=>"emr#{record.id}")  %>
<% end %>
<br/>
<div class="">
  <input type="submit" value="Update" class="btn btn-success">

  <a href="#" id="delete-<%=record.id%>" class="delete-btn btn btn-danger " style="float:right">Delete</a> 
  <span id="result-<%=record.id%>"></span>
</div>

</form>
<% end %>

<script>


  $("#delete-<%=record.id%>").click(function(){

        $.ajax({
            type: "POST",
            url: "<%=get_path 'destroy_partial'%>?id=<%=record.id%>",
            success: function(data)
            {
              // alert(data);
              $('#result-<%=record.id%>').html("deleted")
              location.reload();
              // show response from the php script.
            }
        });
  })

  $(".form-<%=record.id%>").submit(function(e){
 
  e.preventDefault();


    var form = $(this);
    var actionUrl = form.attr('action');
	console.log(form.serialize())

    $.ajax({
        type: "POST",
        url: actionUrl,
        data: form.serialize(), // serializes the form's elements.
        success: function(data)
        {
         
          $('#dispatch_emr_panel').modal("hide")
          $('#result-<%=record.id%>').html("update")
         

          // show response from the php script.
        }
    });


  });






</script>
