<%


	ems_case =  EMSCase.find params[:id]

	zone = ems_case.zone

	admit = ems_case.admit

	patient = admit.patient


%>
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Case</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page"></li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
						<div class="btn-group">
							<button type="button" class="btn btn-primary">Actions</button>
							<button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
							</button>
							<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">

								<a class="dropdown-item btn btn-danger" onclick="confirmNavigation(event, 'destroy?id=<%= ems_case.id %>')">Delete</a>
						
							</div>
						</div>
					</div>
					<!-- Bootstrap Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Confirm Navigation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to leave this page?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a href="#" id="confirmBtn" class="btn btn-primary">Yes, Continue</a>
      </div>
    </div>
  </div>
</div>

<script>
function confirmNavigation(event, url) {
    event.preventDefault(); // Prevent default link behavior
    var confirmBtn = document.getElementById('confirmBtn');
    confirmBtn.href = url; // Set the URL on the confirm button
    var modal = new bootstrap.Modal(document.getElementById('confirmModal'));
    modal.show(); // Show the confirmation modal
}
</script>
</div>

<style>
	.card-x{
		min-height:150px;
	}
</style>

<div class="row">

<div class="col-12 col-lg-4">
<div class="card card-x radius-10 border-start border-0 border-3 border-success">
<div class="card-body">
	<h5>Request</h5>

	<% if ems_case %>
	<li>Request at : <%=ems_case.created_at.strftime("%d-%m-%Y %H:%M")%> (<%=format('%.1f',(Time.now-ems_case.created_at)/60.0)%>mins)</li>
	<li>Address : <%=ems_case.address%></li>
	<li>Location : <%=ems_case.latlng%></li>
	<li>Identify Patient : <%=ems_case.patient_name %></li>
	<% end %>
</div>
</div>
</div>
<%
	status = 'info'
	list = nil
	if ems_case

		list = EMSCaseWorkflow.where(:case_id=>ems_case.id).all

		status = 'success' if list.size>0

	end
%>
<div class="col-12 col-lg-4">
<div class="card card-x radius-10 border-start border-0 border-3 border-<%=status%>">
<div class="card-body">
	<h5>PreArrival</h5>
		<% if ems_case %>
	<%

		list = EMSCaseWorkflow.where(:case_id=>ems_case.id).all

		for i in list
			wf = EMSKWorkflow.find i.kworkflow_id
			ps = EMSCaseProcess.where(:case_id=>ems_case.id,:case_workflow_id=>i.id).count
	%>
	<li><%=wf.name  if wf%> (<%=ps%>)</li>

	<% end %>

	<% end %>
</div>
</div>
</div>
<%
	status = 'info'
	list = nil
	if ems_case

		list = EMSCommand.where(:case_id=>ems_case.id).all

		status = 'success' if list.size>0

	end
%>
<div class="col-12 col-lg-4">
<div class="card card-x radius-10 border-start border-0 border-3 border-<%=status%>">
<div class="card-body">
	<h5>Command</h5>
		<% if ems_case %>
	<%



		for i in list

		ambu = Ambulance.find i.ambulance_id

		providers = i.providers



		route = AocCaseRoute.where(:status=>'STARTED', :admit_id=>admit.id).first
	%>
	<li>Ambu : <%=ambu.name %> (<%=ambu.plate_license%>)</li>
	<li>Route : <% if route %><%=route.address %> <%=route.to_s%><% end %> </li>

	<% for p in providers
	provider = p.provider
	 %>
	<li>EMS : <%=provider.name if provider%> (<%=provider.code%> <%=p.position%>) </li>
	<% end %>

	<% end %>

	<% end %>
</div>
</div>
</div>

<%
	status = 'info'
	list = nil

	status = 'warning' if ems_case.paramedic_start_at

	status = 'success' if ems_case.paramedic_stop_at

%>
<div class="col-12 col-lg-4">
<div class="card card-x radius-10 border-start border-0 border-3 border-<%=status%>">
<div class="card-body">
	<h5>Paramedic</h5>
	<li>Start : <% if ems_case.paramedic_start_at %><%=ems_case.paramedic_start_at.strftime("%d-%m-%Y %H:%M")%> (<%=format('%.1f',(Time.now-ems_case.paramedic_start_at)/60.0)%>mins)  <% end %></li>
	<li>Stop : <% if ems_case.paramedic_stop_at %><%=ems_case.paramedic_stop_at.strftime("%d-%m-%Y %H:%M")%> (<%=format('%.1f',(Time.now-ems_case.paramedic_stop_at)/60.0)%>mins) <% end %></li>
	<li>Duration : <% if ems_case.paramedic_start_at and ems_case.paramedic_stop_at %><%=format('%.1f', (ems_case.paramedic_stop_at.to_i - ems_case.paramedic_start_at.to_i)/60.0 )%> mins <% end %></li>
	<li>Note : <%= admit.nurse_records.count %> records, Med : <%= admit.medication_records.count %> records</li>
</div>
</div>
</div>

<div class="col-12 col-lg-4">
<div class="card card-x radius-10 border-start border-0 border-3 border-info">
<div class="card-body">
	<h5>EMR</h5>

	<li>N/A</li>
</div>
</div>
</div>

<%
	status = 'info'
	list = nil

	status = 'success' if admit.status=='Discharged'
%>

<div class="col-12 col-lg-4">
<div class="card  card-x radius-10 border-start border-0 border-3 border-<%=status%>">
<div class="card-body">
	<h5>Discharge</h5>

	<li>Status : <%=ems_case.status%></li>
	<li>Admit : <%=admit.status%></li>
	<li>Discharge at : <% if admit.discharge_stamp %><%=admit.discharge_stamp.strftime("%d-%m-%Y %H:%M")%> (<%=format('%.1f',(Time.now-admit.discharge_stamp)/60.0)%>mins)  <% end %></li>
	<li>Case Duration : <% if admit.discharge_stamp %><%=format('%.1f', (admit.discharge_stamp.to_i - ems_case.created_at.to_i)/60.0 )%> mins (Request-Discharge) <% end %></li>


</div>
</div>
</div>

</div>



<div class="row">
<div class="col-12 ">

<div class="card radius-10 border-start border-0 border-3 border-info">
<div class="card-body">
	<h5>Case Summary</h5>

	<div class="summary">-</div>
	<script>

		$.ajax({
			url: "<%="../EMS/summary"%>?id=<%=ems_case.id%>",
			context: document.body
		}).done(function(data) {
			$( '.summary' ).html(data);


		});

	</script>


</div>
</div>
</div>
</div>
