<% 

ems_case = EMSCase.find params[:id]


if request.post?
	
	ems_case.update_attributes :export=>'AwaitExport', :summary=>params[:record][:summary]
	
	if params[:select]
	
		for i in params[:images]
			
			msg = Message.find i
			
			if msg and params[:select].index i
			
				msg.update_attributes :export=>'true'
				
			else
				
				msg.update_attributes :export=>nil
			end
				
		end
		
	end
	
	
	
%>
<%= params.inspect%>
	<meta http-equiv="Refresh" content="0; url='show?id=<%=ems_case.id%>'" />
<%
else
%>
<h1> Export HIS : <%=ems_case.case_no%></h1>


<%
     admit = ems_case.admit
	  messages = Message.where(:admit_id=>admit.id).all
	
%>

<form action="export" method="post" >
	
	<input type="hidden" name="id" value="<%=ems_case.id%>">
	
	<div class="row">
		
	<div class="col-6">
			
	
	<div class="col-12 text-panel">


	</div>
 
    </div>
	<script>

	  function update_text(){

	    $.ajax({
	      url: "<%="../EMS/summary_text"%>?id=<%=ems_case.id%>&mode=inner",
	      context: document.body
	    }).done(function(data) {

	      $( '.text-panel' ).html(data);


	    });

	  }
	  update_text();
	</script>
	
	
	
	<div class="col-6"><br/>
	<h4>Impage to Export</h4>
	 <div class="row" style="border:0px solid red">
		 
    		<%
    console = []

        records = admit.logs.where(:status=>'COMPLETED').all
        for m in records

          console << [m.stamp, :log, m]

        end

        msgs = admit.messages.where({}).sort(:created_at=>-1).all

		
        for m in msgs

          console << [m.created_at, :msg, m]

        end


        %>
		
			
        <% for l in console.sort{|a,b| a[0]<=>b[0]}
          type = l[1]
          i = l[2]
        %>
		
		  <% if type == :msg and  i.type == 'image' %>
		  
	
		  
		<div class="col-12  col-lg-6">
		<div class="card col" >
    	  <div class="card-header">
			<input type="hidden"  name="images[]" value="<%=i.id%>">
			<input type="checkbox" id="<%=i.id%>" name="select[]" <%='checked' if i.export %> value="<%=i.id%>">
			<label for="<%=i.id%>"> Select </label><br>
		  </div>
		  <div class="card-body">

		 
		 <% 
		   
		   
           url = "../Message/content?id=#{i.id}"
		    %>
			
				
					<a href="<%=url%>" target="_blank" ><img src="<%=url%>" height="200"></a>
					
			</div>
					 </div>		 </div>		
		   <% end %>
		   
	
		   
		   <% end %>
		   
	
		 </div>
		  </div>
		   <br/>
		   <br/>
		   
	</div>
</div>

<input type="submit" value="Export" class="btn btn-success"> <a href="show?id=<%=ems_case.id%>" class="btn btn-primary " >Cancel</a>


</form>
<% end %>