<html>
<head>
	<style>
		.center {
		  margin: auto;
		  width: 30%;
		  min-width:300px;
	/*	  border: 1px solid #1e6dfB;*/
		  padding: 10px;
	    }
	    @font-face {
	    font-family: IBMPlex;
	    src: url("<%=url_for('css/IBMPlexSansThai-Regular.ttf?=22')%>");
	    }
	/*    body {
	        background: transparent linear-gradient(274deg, #18A79DBF 0%, #1C7CD5 100%) 0% 0% no-repeat padding-box;
	        height:100vh;
	        font-family: "IBMPlex","Sarabun", sans-serif;
	    }*/  
	    .bg-all{
	        background-image: url("<%=url_for @theme_login_background_uri%>");
	        background-repeat: no-repeat;
	        background-size: contain;
	        background-position:bottom;
	        height:90vh;
	        display:flex;
	        align-items:center;
	        flex-direction:column;
        
	    }
	    .login-contain{
	        background:rgba(255, 255, 255, 0.8);
			box-shadow: 5px 5px 5px rgba(55, 55, 55, 0.1);
	        /* margin:auto; */
	        min-width:400px;
	        width:30%;
	        /* padding:10px; */
	        /* padding-left:0px; */
	    }
	 
	</style>
	
	<%=inline(this,:'../share/_essential')%>
</head>
<body class="body-login">

	<link rel="stylesheet" type="text/css" href="<%=url_for('PatternLock/_style/patternlock.css') %>"/>
	
<%
	
login_mode = Setting.get 'default_login'


record = User.find params[:id] 
	
if request.post?
	
	if params[:login] and params[:password]
		user_login = User.authenticate(params[:login], params[:password])
		session[:identity] = user_login.id if user_login	
	end
	
	if login_mode == 'pattern' and params[:pattern_password]
		user_login = User.where(:pattern=>params[:pattern_password]).first
		if user_login
			user_login.login_perform
			session[:identity] = user_login.id  if user_login
			
		end
	end
	
	if session[:identity]
	
		session[:current_solution] = @context.settings.name
		
	end
	
	path = '../Home/index'
	if user_login and user_login.role 
		if  user_login.role.zone
			session[:current_zone] = user_login.role.zone_id
		elsif first = Zone.first
			session[:current_zone] = first.id
	
		end
	end
	path = session[:return_to] if session[:return_to]
	session.delete :return_to
	
%>
<%# redirect_to path
%>

<% else %>
<div class="bg-all">

<div class="logo-img login-logo">

</div>

<div class="login-contain p-5 rounded">
<!--<center><h3 class="header"><img src="/miot/img/svg/aoc-icon.svg" width="40"><span style="font-size:0.8em"> <%=Setting.get :default_center_name %></spsn></h3></center>-->


<form action="login" method="post" enctype="multipart/form-data" style="width:100%;border:0px solid">

    <input type="hidden" class="form-control" id="record_id" name="id" value="<%=params[:id]%>" placeholder="Password">
<div class="login-header">
<center><h3>Smart Health</h3>

<%= Setting.get :aoc_title%>
<br/>
</center>
</div>

<div class="login-panel">	
<div class="form-group">
  <label for="product-name">ลงชื่อเข้าใช้</label>

    <input type="text" class="form-control" id="login" name="login" value="" placeholder="User ID">
	

</div>

<div class="form-group">
  <label for="product-name">รหัสผ่าน</label>
<div class="input-group mb-3">
    <input type="password" class="form-control" id="password" name="password" value="" placeholder="รหัสผ่าน">
	<button class="btn btn-outline-secondary" type="button" id="btn-pass"><i class="fas fa-eye" id="i-pass"></i></button>
	</div>

</div>

<!-- <div class="form-group">
  <label for="product-name">รหัสโรงพยาบาล</label>
<div class="input-group mb-3">
    <input type="text" class="form-control" id="hospital_code" name="code" value="" placeholder="รหัสโรงพยาบาล">
	</div>

</div> -->

<button type="submit" class="btn btn-primary">เข้าสู่ระบบ</button> 
<%#link_to 'Back', "index" %>
<a href="#" class="patternlock-toggle"> </a>
<!-- <a href="../Home/index" class="patternlock-toggle">Back</a> -->
</div>


<div class="patternlock-panel">
<center>
<div>
<input type="password" name="pattern_password" class="patternlock">
<!-- <input type="reset" value="reset" > -->

</div>
</center>
<br/>
<input type="submit" value="login" style="display: none;">

<%#link_to 'Back', "index" %> 
<a href="#" class="patternlock-toggle"> Login with User </a>
</div>

</form>

</div>
</div>
<script>
	$('.patternlock-toggle').click(function(){
		$('.patternlock-panel').toggle();
		$('.login-panel').toggle();
	});
	<% if login_mode=='pattern' %>
	$('.login-panel').toggle();
	<% else %>
	$('.patternlock-panel').toggle();
	<% end %>

	$(document).ready(function(){
		$("#btn-pass").click(function(){
			t = $("#password").attr('type')
			i = $("#i-pass")
			$("#password").attr('type',(t=='password')?"text":"password")
			if(i.hasClass("fa-eye")){
				i.removeClass("fa-eye").addClass("fa-eye-slash")
			}else{
				i.removeClass("fa-eye-slash").addClass("fa-eye")
			}
		})
	})
</script>
<% end %>
	<script src="<%=url_for "PatternLock/_script/patternlock.js"%>"></script>
	<script src="https://kit.fontawesome.com/13a3acd719.js" crossorigin="anonymous"></script>
</body>
</html>