<html>


<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--favicon-->
	<script src="/rocker/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
	<script src="/rocker/assets/js/jquery.min.js"></script>
	<link rel="icon" href="/rocker/assets/images/favicon-32x32.png" type="image/png">
	<!--plugins-->
	<link href="/rocker/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet">
	<link href="/rocker/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet">
	<link href="/rocker/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
	<link href="/rocker/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet">
	<!-- loader-->
	<link href="/rocker/assets/css/pace.min.css" rel="stylesheet">
	<script src="/rocker/assets/js/pace.min.js"></script>
	<!-- Bootstrap CSS -->
	<link href="/rocker/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="/rocker/assets/css/bootstrap-extended.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;display=swap" rel="stylesheet">
	<link href="/rocker/assets/css/app.css" rel="stylesheet">
	<link href="/rocker/assets/css/icons.css" rel="stylesheet">
	<!-- Theme Style CSS -->
	<link rel="stylesheet" href="/rocker/assets/css/dark-theme.css">
	<link rel="stylesheet" href="/rocker/assets/css/semi-dark.css">
	<link rel="stylesheet" href="/rocker/assets/css/header-colors.css">
    <script src="/miot/js/ion.sound.min.js"></script>
    <script src="/vendor/d3/d3.min.cus.js"></script>

	</head>

  <body style="background:#fff;padding:20px">

  
<%= inline(this,:'_init')  %>
<%= inline(this,:'_style')  %>
<%= inline(this,:'../lib/_map')  %>
<%

record = EMSCase.find params[:id]
admit = record.admit
patient = admit.patient



%>

<form>
	<div style="float:right" class="print-btn">
    <!-- <input type="button" value="Print" onclick="javascript:codespeedy()" class="btn btn-info"> -->

		<!-- <a href="../EMS/print_summary?id=<%=record.id%>" target="_blank" class="btn btn-info">Print</a> -->
</div>
  </form>
<style>
	
	@media print {
	  .new-page {
	    page-break-before: always;
	  }
	  .break-before {
	      page-break-before: always;
	  }
	
	}
	.break-before {
	    page-break-before: always;
	}
	
	.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
	   background-color: #a3efef;
	}

	@media print {
		.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
		   background-color: #a3efef !important;
        -webkit-print-color-adjust: exact;
		}
		.navbar{
			display:none;
			 -webkit-print-color-adjust: exact;
		}
	}
</style>

		<style>
		        .viewport {
		            top: 0px;
		            left: 0px;
		            overflow-y: auto;
		            right: 0px;

					font-size:0.8em;
					padding:0px;

		            background-color: white;
		            border: 0px solid #000;
		           border-radius: 4px;
		/*            box-shadow: inset 1px 1px 6px 2px rgba(0,0,0, .25);*/
		        }
				svg text {
				    -webkit-user-select: none;
				       -moz-user-select: none;
				        -ms-user-select: none;
				            user-select: none;
				}
				svg text::selection {
				    background: none;
				}
		        .info-svg {
		            fill: #2968AA;
		            overflow: visible;
		        }
				.gxt-box{
					border:0px solid #265d5c;
					min-height:300px;
					color:#ccc;
					margin-bottom:1em
				}
				h5{

				}
				
				.row
				{
				    display: -webkit-box;
				}
		</style>



    <%


    notes = admit.nurse_records

    medications = admit.medication_records

    records = admit.records
		last_bp = "-"
		new_list =[]
		for m in records

			if last_bp!=m.bp
				new_list << m
				last_bp = m.bp
			end
		end
		records = new_list


    tmap = {}
    mmap = {}

    for i in notes

    	k = i.start_time.localtime
    	tmap[k] = [] unless tmap[k]
    	tmap[k] << ['Note',i.description]


    end

    for i in medications
    	if i.start_time
    		k = i.start_time.localtime
    		tmap[k] = [] unless tmap[k]
        mmap[k] = [] unless mmap[k]

    		tmap[k] << ['Med',"#{i.name if i} "]
        mmap[k] << ['Med',"#{i.name if i} "]

      end
    	if i.stop_time
    		k = i.stop_time.localtime
    		tmap[k] = [] unless tmap[k]
        mmap[k] = [] unless mmap[k]

    		tmap[k] << ['Med',"#{i.name if i} OFF Con(#{i.concentration}) Rate(#{i.rate} ml/min) Vol Est(#{i.est_intake} ml)"]
        mmap[k] << ['Med',"#{i.name if i} OFF Con(#{i.concentration}) Rate(#{i.rate} ml/min) Vol Est(#{i.est_intake} ml)"]


    	end
    end

    # for i in records
    #
    # 	if i.stamp
    # 		k = i.stamp.localtime.strftime("%Y-%m-%d %H:%M:%S")
    # 		tmap[k] = [] unless tmap[k]
    # 		tmap[k] << ['VS',%w{bp_stamp bp pr hr rr spo2 }.collect{|j| "#{j}(#{i[j]})" }.join(", ")]
    # 	end
    # end


    %>

<div id="printout" style="border:0px solid gray;  ">

<div class="row">


    <div class="row" style="">
      <div class="col-4">


        <table>
        <tr>
          <th>Patient Name : </th>   <td><v><%=record.patient_name%></v></td>
        </tr>
        <tr>
          <th>Patient ID : </th>     <td><v><%=record.case_no%></v></td>
        </tr>
        <tr>
          <th>Age : </th>    <td><v><%=record.patient_age%></v></td>
        </tr>
        <tr>
          <th>Gender : </th>    <td><v><%=record.patient_gender%></v></td>
        </tr>
</table>


      </div>


    <div class="col-4">

    <t>Init Code</t> : <v><%=record.init_code.name%></v> <br/>
    <t>Admit at</t> : <v><%=admit.admit_stamp.strftime("%d/%m/%y-%H:%M")%></v> <br/>
    <t>Discharge at</t> : <v><%=admit.discharge_stamp.strftime("%d/%m/%y-%H:%M") if admit.discharge_stamp%></v> <br/>
    <%

    admit.discharge_stamp = Time.now unless admit.discharge_stamp

    u = 'mins'
    	total  = (admit.discharge_stamp - admit.admit_stamp)/60

    	if total > 1
    		u = 'hours'
    		total  = (admit.discharge_stamp - admit.admit_stamp)/3600
    	end

    	if total > 24
    		u = 'days'
    		total  = (admit.discharge_stamp - admit.admit_stamp)/3600/24 if total > 24

    	end
    %>
    <t>Total time</t> : <v><%=format("%0.2f",total) %> <%=u %></v> <br/>
    </div >

    <div class="col-4">
    <t>BMI</t> : <v><%=record.patient_bmi%></v><br/>
    <t>Weight</t> : <v><%=record.patient_weight%> kg</v><br/>
    <t>Height</t> : <v><%=record.patient_weight%> cm</v><br/>
    <!-- <t>Glucose</t> : <%=admit.glucose%> mmol/L<br/> -->


    </div>

    </div >



</div>

<br/>
<style>
.time{
  width:100px
}

t{
	font-weight: bold;

	display:inline-block
}
v{
	color:blue;
}
strong
{
	font-size:1.2em;
	padding-bottom:20px;
}
</style>




<!-------------------------------------------------------------->
<!-------------------------------------------------------------->
<!-------------------------------------------------------------->

<div class="row">

<div class="col-12">



<div class="row">

<div class="col-4 d-flex" >
<div class="row">

<div class="col-12" id="record_case_type">
<t >ลักษณะ :</t>  <v><%=record.case_type%></v>
</div>

</div>
</div>
<!---------------------------------------------------->

<div class="col-4">
<div class="row">
	<div class="col-12">
	<t>ผลปฏิบัติการ :</t>  <v><%=record.operation_result%></v>
	</div>
</div>
</div>

<!---------------------------------------------------->

<div class="col-4">
<div class="row">

 <% if  record.operation_result=='not_found' %>
	<div class="col-12">
	<t>กรณีไม่พบเหตุ :</t>  <v><%=record.operation_cancel_reason%></v>
	</div>
	<div class="col-12">
	<t>แจ้งไม่พบเหตุเมื่อ :</t>  <v><%=record.operation_cancel_at%></v>
	</div>
<% else %>
	<div class="col-12">
	<t>ประเภทผู้ป่วย :</t>  <v><%=record.patient_type%></v>
	</div>
<% end %>

</div>
</div>

</div>

<!---------------------------------------------------->
<!---------------------------------------------------->

<div class="row">

			<div class="col-4 d-flex" >
			<div class="row">

			<div class="col-12" id="record_diagnosis">
			<t >Diagnosis :</t>  <v><%=record.diagnosis%></v>
			</div>

			</div>
			</div>


			<div class="col-4 d-flex" >
			<div class="row">

			<div class="col-12" id="record_patient_reimbursement">
			<t >สิทธิการรักษา :</t>  <v><%=record.patient_reimbursement%></v>
			</div>

			</div>
			</div>

</div>




<div class="row">


			<div class="col-4 d-flex" >
			<t >ทีมสนับสนุน : </t>  <v class="" style="">
				<%=record.bls_request%> <%=record.bls_onscene%>   <%=record.bls_operation%> <%=record.bls_cpr%>
			</v>
			</div>

			<div class="col-4 d-flex" >
			<t >Specialist : </t>  <v class="" style="">
				<%=record.special_request%> <%=record.special_type%>
			</v>
			</div>


			<div class="col-4 d-flex" >
			<t >ส่งโรงพยาบาล : </t>  <v class="" style="">
				<%=record.transfer_hospital%> HN : <%=record.transfer_hn%>
			</v>
			</div>



</div>

</div>


</div>


<br/>

<!-------------------------------------------------------------->
<!-------------------------------------------------------------->
<!-------------------------------------------------------------->

<div class="row"  style="display:none">

<div class="col-12">

<h5>
EMT Summary
</h5>
<div class="row">

<div class="col-6">

<%

		command = EMSCommand.where(:case_id=>record.id).first
		logs = record.admit.logs


%>
<table class='table table-striped table-bordered' style="font-size:0.8em;">
	<caption></caption>
	<thead>
		<tr>
			<th scope="col">รายการ</th><th scope="col">Time</th><th scope="col">เลข กม.</th>
		</tr>
	</thead>
	<tbody>
			<% for i in logs%>
			<tr>
				<th><%= i.name %></th>				<td><%= i.stamp.strftime("%H:%M") if i.stamp %></td>				<td><%= i.mile_meter %></td>
			</tr>
			<% end %>
	</tbody>
</table>

</div>


<div class="col-6">

	<table class='table table-striped table-bordered ' style="font-size:0.8em;">
		<caption></caption>
		<thead>
			<tr>
				<th scope="col">รายการ</th><th scope="col">Time</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Dispatch Time</th> <td><%=record.dispatch_time%></td>
			</tr>
			<tr>
				<th>Active Time</th> <td><%=record.activation_time%></td>
			</tr>
			<tr>
				<th>Response Time</th> <td><%=record.response_time%></td>
			</tr>
			<tr>
				<th>On scene Time</th> <td><%=record.onscene_time%></td>
			</tr>
		</tbody>
	</table>

</div>

</div>


</div>

</div>



<div class="row" style="display:none">
	  <div class="col-12">

			<h5>
			Outcome Summary
			</h5>

		<div class="row">


					<!-- <div class="col-3 d-flex" >
					<t >รหัสรับแจ้ง : </t>  <v class="" style=""> <%=record.init_cbd_color%></v>
					</div>

					<div class="col-3 d-flex" >
					<t >รหัส EMD : </t>  <v class="" style=""> <%=record.dispatch_cbd_color%></v>
					</div>

					<div class="col-3 d-flex" >
					<t >รหัสที่เกิดเหตุ : </t>  <v class="" style=""> <%=record.scene_cbd_color%></v>
					</div>

					<div class="col-3 d-flex" >
					<t >รหัสนำส่ง : </t>  <v class="" style=""> <%=record.screen_cbd_color%></v>
					</div> -->
					<div class="col-12">

					<table class='table table-striped ' style="font-size:0.8em">
						<caption></caption>
						<thead>
							<tr>
								<th scope="col">CBD by 1669</th><th scope="col">CBD by EMD</th><th scope="col">Scene Triage</th><th scope="col">ER Triage</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><%=record.init_cbd_color%></td>	<td><%=record.dispatch_cbd_color%></td>	<td><%=record.scene_cbd_color%></td>	<td><%=record.screen_cbd_color%></td>

							</tr>
						</tbody>
						</table>
					</div>

		</div>

		<b> Vital Sign </b>

		<table class='table table-striped ' style="font-size:0.8em">
			<caption></caption>
			<thead>
				<tr>
					<th scope="col">Time</th><th scope="col">BP</th><th scope="col">HR</th><th scope="col">RR</th><th scope="col">SPO2</th>
					<th scope="col">GCS</th><th scope="col">BT</th><th scope="col">DTX</th><th scope="col">SOS Score</th>
				</tr>
			</thead>
			<tbody>

				<tr>
					<td><%=record.init_vs_stamp.strftime("%H:%M") if record.init_vs_stamp%></td>

					<td><%=record.init_sbp%>/<%=record.init_dbp%></td>
					<td><%=record.init_hr%></td>
					<td><%=record.init_rr%></td>
					<td><%=record.init_spo2%></td>
					<td><%=record.init_gcs%></td>
					<td><%=record.init_temp%></td>
					<td><%=record.init_dtx%></td>
					<td>NA</td>
				</tr>

				<tr>
					<td><%=record.repeat_vs_stamp.strftime("%H:%M") if record.repeat_vs_stamp %></td>
					<td><%=record.repeat_sbp%>/<%=record.repeat_dbp%></td>
					<td><%=record.repeat_hr%></td>
					<td><%=record.repeat_rr%></td>
					<td><%=record.repeat_spo2%></td>
					<td><%=record.repeat_gcs%></td>
					<td><%=record.repeat_temp%></td>
					<td><%=record.repeat_dtx%></td>
					<td>NA</td>
				</tr>

				<tr>
					<td><%=record.screen_vs_stamp.strftime("%H:%M") if record.screen_vs_stamp%></td>

					<td><%=record.screen_sbp%>/<%=record.screen_dbp%></td>
					<td><%=record.screen_hr%></td>
					<td><%=record.screen_rr%></td>
					<td><%=record.screen_spo2%></td>
					<td><%=record.screen_gcs%></td>
					<td><%=record.screen_temp%></td>
					<td><%=record.screen_dtx%></td>
					<td>NA</td>
				</tr>



	   </tbody>
		 </table>

		 </div>
</div>

<!-------------------------------------------------------------->
<!-------------------------------------------------------------->
<!-------------------------------------------------------------->

<div class="row" style="display:none">

<div class="col-12">
  <h5>
  EMS Summary ( from <%=records[0].stamp.strftime("%D %H:%M") if records[0] %> to <%=records[-1].stamp.strftime("%H:%M") if records[-1]%> : <%=records.size %> records)
  </h5>



  <table class='table table-striped ' style="font-size:0.8em">
  	<caption></caption>
  	<thead>
  		<tr>
  			<th scope="col">Time</th><th scope="col">Type</th><th scope="col">Description</th>
  		</tr>
  	</thead>
  	<tbody>
  		<% for t in tmap.keys.sort
  		lines = tmap[t]
  		for i in lines
  			type =i[0]
  			des = i[1]
  		%>
  		<tr>
  			<td class="time"><%=t.strftime("%H:%M:%S") if t%></td><td><%=type%></td><td><%=des%></td>
  		</tr>
  		<% end %>
  		<% end %>
  	</tbody>
  </table>

	<br/>





</div>

</div>




<!-------------------------------------------------------------->
<!-------------------------------------------------------------->
<!-------------------------------------------------------------->



<div class="row" style="display:none">

<div class="col-12">
<strong>
Vitals Summary ( from <%=records[0].stamp.strftime("%D %H:%M") if records[0]%> to <%=records[-1].stamp.strftime("%H:%M") if records[-1]%> : <%=records.size %> records)
</strong>
<%
  n = 10

  (records.size/n.to_f).ceil.times do |t|

  list = records[t*n..(t+1)*n].compact
  plist = {:hr=>"HR (bpm)",:bp=>"NIBP (mmHg)",:rr=>"Resp (rpm)",:co2=>"ETCO2 (mmHg)",:spo2=>"SpO2 (%)",:temp=>"T1 (C)"}

%>

<table class="table table-striped " style="font-size:0.8em">
<thead>
  <tr>
    <th>Date Time</th>
      <% for ti in list %>
        <td><%=ti.stamp.strftime("%H:%M")%>
        </td>
      <% end %>
  </tr>
</thead>
<tbody>
<% for p in plist.keys %>
  <tr>
    <th><%=plist[p]%></th>
    <% for ti in list %>
    <td><%=ti[p]%></td>
    <% end %>
  </tr>
<% end %>
</tbody>
</table>
<% end %>
</div>
</div>

<!-------------------------------------------------------------->
<!-------------------------------------------------------------->
<!-------------------------------------------------------------->

<div class="row" style="display:none">

<div class="col-12">
  <strong>
  Medication Summary ( from <%=records[0].stamp.strftime("%D %H:%M") if records[0]%> to <%=records[-1].stamp.strftime("%H:%M") if records[0]%> : <%=records.size %> records)
  </strong>



  <table class='table table-striped ' style="font-size:0.8em">
  	<caption></caption>
  	<thead>
  		<tr>
  			<th scope="col">Time</th><th scope="col">Type</th><th scope="col">Description</th>
  		</tr>
  	</thead>
  	<tbody>
  		<% for t in mmap.keys.sort
  		lines = mmap[t]
  		for i in lines
  			type =i[0]
  			des = i[1]
  		%>
  		<tr>
  			<td class="time"><%=t.strftime("%H:%M:%S")%></td><td><%=type%></td><td><%=des%></td>
  		</tr>
  		<% end %>
  		<% end %>
  	</tbody>
  </table>



</div>

</div>



		<div class="row" style="display:none">

		<div class="col-12 "  >

<strong>
      Flow Sheet ( from <%=records[0].stamp.strftime("%D %H:%M") if records[0]%> to <%=records[-1].stamp.strftime("%H:%M") if records[-1]%> : <%=records.size %> records)
</strong>

		<div class="row" >
			<div class="col-12 viewport" style="border:0px solid;height:600px">
			<%= inline(this,:'../ems_paramedic/_flowsheet')  %>

			</div>
	    </div>
		</div>
</div>
<div class="row" style="display:block">
	<script>

		var settings = {version:'1.0'};

	    var components = [];

		// vs = {name:'vitalsign',type:'vs',show:true,params:['hr','pr','spo2','bp_sys','bp_dia','co2'],records:null};

		vs = {name:'vitalsign',type:'vs',show:true,params:['hr','pr','spo2','bp_sys','bp_dia','co2'],
		groups:[{params:['pr','hr'],range:[0,200],range_auto:true,show:true},
		{params:['bp_sys','bp_dia'],range:[0,200],range_auto:false,show:true},
		{params:['spo2','temp'],range:[0,100],range_auto:false,show:true},
		{params:['co2','rr'],range:[0,100],range_auto:false,show:true}
	],records:null};

		records = [];

		now = Date.now();

		<%
		if admit
		senses = Sense.where(:admit_id=>admit.id).limit(3000).sort(:start_time.desc).all.reverse



		list =[]
		now = Time.now

		if true

		senses.each_with_index do |i,ii|

			o = ActiveSupport::JSON.decode(i.vs)

			if o
				o.each do |j|

					# [{:stamp=>2019-03-07 00:15:36 +0700, :bp=>"119/72", :bp_stamp=>
					bp = [0,0]
					bp = j['bp'].split("/") if j['bp']
					# if j['pr'] and j['spo2'] and j['temp']
						list.push({time:Time.parse(j['stamp']),:temp=>j['temp']?j['temp']:0,pr:(j['pr']!='-' and j['pr'])?j['pr']:0, :spo2=>(j['spo2']!='-' and j['spo2'])?j['spo2']:0, hr:j['hr']?j['hr']:0, co2:j['co2']?j['co2']:0,rr:j['rr']?j['rr']:0,bp_sys:bp[0].to_i,bp_dia:bp[1].to_i});
					# end
					# list.push :time=>now-(senses.size-ii),:temp=>rand(4)+35,:pr=>(100+20*Math.sin(ii*10*Math::PI/180)).to_i, :spo2=>100-rand(4), :hr=>100+rand(20),:rr=>20, :bp_sys=>120+rand(40), :bp_dia=>80+rand(40), :co2=> 35+rand(5)

				end

			end

		end


		else

			for i in DataRecord.where(:admit_id=>admit.id).all

				# o = ActiveSupport::JSON.decode(i.data)

			list.push :time=>i.stamp,:temp=>0,:pr=>i.pr, :spo2=>i.spo2, :hr=>i.hr,:rr=>20, :bp_sys=>i.bp_sys, :bp_dia=>i.bp_dia, :co2=> i.co2



			end

		end


		for j in list
		%>
		j = <%=j.to_json.html_safe%>
		records.push({time:Date.parse(j['time']),hr:j['hr'],temp:j['temp'],pr:j['pr'],spo2:j['spo2'],rr:j['rr'],bp_sys:j['bp_sys'],bp_dia:j['bp_dia'],co2:j['co2']});
		<% end %>
			<% end %>
		//records = <%= list.to_json.html_safe %>

		// records.push({time:now   ,hr:99,rr:20,bp_sys:103,bp_dia:90});
		// records.push({time:now+100000,hr:120,rr:19,bp_sys:113,bp_dia:100});
		// records.push({time:now+200000,hr:110,rr:20,bp_sys:163,bp_dia:120});
		// records.push({time:now+300000,hr:90,rr:20,bp_sys:100,bp_dia:60});
		// records.push({time:now+400000,hr:99,rr:20,bp_sys:103,bp_dia:90});


		vs['records'] = records;

		<%

			meds = admit.medication_records
			med_map = {}
			for i in meds

				k = i.name

				med_map[k] = [] unless med_map[k]
				med_map[k] << i

			end


		%>



		// med = {name:'medication',type:'med',show:true,params:['domicum','fentanyl','0.9%NSS'],records:null};

		med = {name:'medication',type:'med',show:true,params:<%=med_map.keys.to_json.html_safe%>,records:null};

		records = [];
		<% for i in meds

			stop_time = Time.now
			stop_time = i.stop_time if i.stop_time
		%>

		records.push({time:new Date(<%=i.start_time.localtime.to_json%>),stop_time: new Date(<%=stop_time.localtime.to_json%>),'<%=i.name %>':{r:'<%=i.rate%>',v:'<%=i.volume%>'}});

		<% end %>

		// records.push({time:now+2000,stop_time:now+30000,fentanyl:{r:3,v:300}});
	// 	records.push({time:now+30000,stop_time:now+50000,domicum:{r:3,v:300}});

		med['records'] = records;

		components.push(vs);
		components.push(med);



		settings['components'] = components

		console.log(settings);


		 var viewport = d3.select(".viewport").append("svg")
		 .attr("class", "info-svg")

     var g = viewport.append("g")
	    .attr("transform", "translate(0,0)");

	 gfx = GFX()
	 .svg(g)
	 .startTime(Date.now())
	 .endTime(Date.now())
	 .viewport(d3.select(".viewport"));
	 gfx.data(settings);
	 d3.select("svg").call(gfx);

	</script>


<div class="row" style="border:1px solid">
	 


<div class='col-12'>
	 
<pre style="padding:20px;color:black">
<%= record.summary%>
</pre>
	 
</div>
	 	

</div>


  <div class="row">

  <div class="col-12">


<%

    messages = Message.where(:admit_id=>admit.id).all

%>



    		<%
    console = []

        records = admit.logs.where(:status=>'COMPLETED').all
        for m in records

          console << [m.stamp, :log, m]

        end

        msgs = admit.messages.where({}).limit(100).sort(:created_at=>-1).all


        for m in msgs

          console << [m.created_at, :msg, m]

        end


        %>

        <% for l in console.sort{|a,b| a[0]<=>b[0]}
          type = l[1]
          i = l[2]
        %>


            <%#l[0].strftime("%H:%M:%S")%>
  
            <% if type == :log %>
            <%# i.name %>

						เลขไมล์ : <%= i.mile_meter %>

            <% elsif type == :msg %>
            <% if i.type == 'image'  and i.export=='true'




              # url  = "/miot/img/svg/aoc-icon.svg"
              url = "../Message/content?id=#{i.id}"
            %>"
		
		<div class="new-page break-before">
		<div style="width:100%;border:1px solid">
     	<center><a href="<%=url%>" target="_blank" ><img src="<%=url%>" height="870px"></a></center>
		</div>
        </div>
	
		

            <% elsif i.type == 'voice' and false
            url = "../Message/content?id=#{i.id}"
          %>
		  <%=i.content+"<br/>" if i.content %>
          <audio controls>
            <source src="<%=url%>"  type='video/3gpp; codecs="mp4v.20.8, samr"'>
          Your browser does not support the audio element.
          </audio>


          <% else %>
            <p class="chat-left-msg"><%=i.content%></p>
            <% end %>
  <% end %>
         	<% end %>
    	


  </div>

  </div>

</div>

<script type="text/javascript">

  </script>

</body>

  </html>
