<%

ems_case = EMSCase.new


ems_case = EMSCase.find params[:id] if params[:id]

if ems_case.tracking_status=='SENT'
	ems_case.update_attributes :tracking_status=>'ACCESSED'	
	ems_case.update_message @context, "request access tracking"
	
end


if request.post?

	ems_case = ESMCase.create unless ems_case

	ems_case.update_attributes :patient_location=>params[:location], :latlng=>params[:location], :tracking_status=>'TRACKING'


	ems_case.update_message @context, "request send location"

#     admit = Admit.find ems_case.admit_id
#
# path = "miot/#{@context.settings.name}/z/#{admit.zone.name}"
#
# msg = 'NULL'
# send_msg = <<MSG
# #{'Zone.Message'} #{path}
# #{msg.to_json}
# MSG
#
#
#     @context.settings.redis.publish(path, send_msg)


%>
<META HTTP-EQUIV="Refresh" CONTENT="0;URL=request_ems?id=<%=ems_case.id%>">
<%

else

%>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/rocker/assets/js/jquery.min.js"></script>
<link href="/rocker/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="/rocker/assets/css/bootstrap-extended.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;display=swap" rel="stylesheet">

	<link href="/rocker/assets/css/icons.css" rel="stylesheet">
</head>
<body style="padding:10px">

<div class="wrapper">
	
	
	
	
<%


location = "#{Setting.get(:aoc_center)}"

locaiton = "#{ems_case.patient_location}" if ems_case.patient_location


conf_url = "https://openvidu.pcm-life.com/\#/#{ems_case.case_no}"

conf_url = "video?id=#{ems_case.case_no}&case_id=#{ems_case.id}&side=request"


%>

<%= inline(this,:'../lib/_map')  %>

		<div class="page-wrapper">
			<div class="page-content">
				<div class="row">
					<div class="col align-center alert alert-info">
						<h4><center><%=Setting.get(:default_center_name)%></center></h4>
					</div>
				</div>

<form action="request_ems?id=<%=ems_case.id%>" method="POST">

    <div class='row'>
		<div class="col">
			<div class="card radius-10 border-start border-0 border-3 border-info">
			<div class="card-body">
				<div class="d-flex justify-content-between">
					<div class="col-9">
						<p class="mb-0 text-secondary">Contact info</p>
						<h4 class="my-1 text-info"><%= ems_case.contact_phone %></h4>
						<p class="mb-0 font-13"></p>



					</div>
					<!-- <span style="float:right" style="col-3"><a  href="<%=conf_url%>" class="btn btn-warning">VideoCall</a></span> -->

					<!-- <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i class='bx bxs-phone'></i>

					</div> -->
				</div>
			</div>
			</div>
		</div>
	</div>



	<!-- <div class="row">


		<div class="card-body p-5">
				<div class="card-title d-flex align-items-center">
					<div><i class="bx bxs-user me-1 font-22 text-primary"></i>
					</div>
					<h5 class="mb-0 text-primary">ข้อมูลเหตุฉุกเฉิน</h5>
				</div>
				<hr>
				<form class="row g-3">
					<div class="col-md-6">
						<label for="inputFirstName" class="form-label">First Name</label>
						<input type="email" class="form-control" id="inputFirstName">
					</div>
					<div class="col-md-6">
						<label for="inputLastName" class="form-label">Last Name</label>
						<input type="password" class="form-control" id="inputLastName">
					</div>
					<div class="col-md-6">
						<label for="inputEmail" class="form-label">Phone</label>
						<input type="email" class="form-control" id="inputEmail">
					</div>
				<div class="col-md-6">
					<label for="inputEmail" class="form-label">อาการผู้ป่วย</label>
					<input type="email" class="form-control" id="inputEmail">
				</div>
				</form>
		</div>

</div> -->




	<!-- <div class="row">

			<div class="col">
				<div class="card radius-10 border-start border-0 border-3 border-info">
				<div class="card-body">
					<div class="d-flex align-items-center">
						<div>
							<p class="mb-0 text-secondary">Contact info</p>
							<h4 class="my-1 text-info"><%= ems_case.contact_phone %></h4>
							<p class="mb-0 font-13"></p>

						</div>
						<div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i class='bx bxs-phone'></i>
						</div>
					</div>
				</div>
				</div>
			</div>

	</div> -->
		
		<%
			cls = "border-warning"
			
			cls = "border-success" if ems_case.tracking_status=='TRACKING'
			
		%>

				<div class="row">

					<div class="col">
						
						<div class="card radius-10 border-start border-0 border-3 <%=cls%>">


							<div class="card-body" style="">
								<p>
								พิกัดตำแหน่ง

								<span style="float:right"><a  id = "find-me" class="btn btn-outline-success">อ่านตำแหน่ง</a></span>
							   </p>
								<div id="dashboard-map" style="height: 300px">
									map
								</div>

							 <br/>


							<center>
							<% if ems_case.patient_location and ems_case.patient_location.index(",") %>
							<input type="submit" name="Submit" value="ส่งตำแหน่งแล้ว" class="btn btn-warning">
							<% else %>
							<input type="submit" name="Submit" value="ส่งตำแหน่ง" class="btn btn-success">
							<% end %>
									 <p id = "status" style="font-size:0.8em;padding:20px"></p>
							</center>

						  <input type="hidden" name="location" id="location" value="<%=location%>">


							</div>

						</div>
					</div>

				</div>

				<div class="row">
				<div class="col">
				<div class="card radius-10 border-start border-0 border-3 border-warning">
				<div class="card-body">
				<div class="row">
					<div class="col">
					<p>
				  สนทนา
					<center>

					<span  style="col-3"><a  href="<%=conf_url%>" class="btn text-white btn-warning">VideoCall</a></span>

					</center>

					</p>
					</div>
				</div>
				<div class="row g-3">




				</div>
				</div>
				</div>
				</div>
				</div>

				<%
				
				imgs = Message.where(:admit_id=>ems_case.admit_id, :type=>'image', :sender=>'NA').sort(:created_at=>-1).all
				
					
				cls = 'border-warning'
				cls = 'border-success' if imgs.size>0
					
				%>

				<div class="row">
				<div class="col">
				<div class="card radius-10 border-start border-0 border-3 <%=cls%>">
				<div class="card-body">
				<div class="row">
					<div class="col">
					<p>
					รูปถ่าย
					<span style=""><center><a   class="take-picture  text-white btn btn-info">ถ่ายภาพ</a><center></span>
					</p>
					</div>
				</div>
				<div class="row g-3">




					<div class="col text-center ">

						<button class="btn btn-primary capture-spinner " style="display:none" type="button" disabled=""> <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
															Loading...</button>
						<video playsinline autoplay ></video>

					</div>
				</div>

				<div class="row">
					<div class="col-12 col-sm-4 text-center">
					</div>
					<div class="col-12 col-sm-4 ">
						<div class="row">
							<button  type="button" class="take-picture-x  col btn btn-lg btn-warning px-5" style="display:none;margin-bottom:10px">
								<i class="bx bx-bookmark mr-1"></i>ถ่ายภาพ</button>

						</div>
					</div>
				</div>
				<div class="row">
				<div class="col">

					<%

					
					%>


					    <div class="canvas" >



					    </div>
						<hr/>
						<div class="sent-img">
						<% for img in imgs %>

						<%
						if img
							url = "../Message/content?id=#{img.id}"

						%>
						<img src="<%=url%>" width="140">
						<%
						end
						%>


						<% end %>
						</div>
						<div class="col-12 ">
							<div class="row">
								<button  type="button" class="capture-close col btn btn-lg  px-5"  style="display:none" ><i class=""></i>ปิด</button>
							</div>
						</div>

				</div>
				</div>
				</div>
				</div>
				</div>
				</div>
				<div class="row">
				<!-- <div class="col-12 col-sm-4 text-center">
					<div class="row">
					<button id = "find-me"  type="button" class="col btn btn-lg btn-danger px-5"><i class="bx bx-bookmark mr-1"></i>Share Location</button>
					</div>
				</div>
				<div class="col-12 col-sm-4 text-center">
					<div class="row">
					<button  type="button" class=" take-picture col btn btn-lg btn-warning px-5"><i class="bx bx-bookmark mr-1"></i>Take Picture</button>
					</div>
				</div> -->
				<!-- <div class="col-12 col-sm-4  text-center">
					<div class="row">
					<button id = "video-conf"  type="button" class="col btn btn-lg btn-success px-5"><i class="bx bx-bookmark mr-1"></i>Video Conf</button>
					</div>
				</div> -->

				</div>
				<br/>

			</form>



			</div>
		</div>


<script>
	latlng = [<%=location%>]





	map1 = new EMSMap('dashboard-map',{movable:true});
	map1.setPosition(latlng[0], latlng[1])
	map1.setMarkerPosition(latlng[0], latlng[1])



	map1.changeMarkerPosition(function(marker){

		var pos = marker.position
		$('#location').val(""+pos.lat()+","+pos.lng())

		map1.geocode({'location':pos},function(result){

			$('#record_address').val(result.formatted_address)
			$('#status').html(result.formatted_address)

		})



	}.bind(this))


	function geoFindMe() {

	  const status = document.querySelector('#status');
	  // const mapLink = document.querySelector('#map-link');

	  // mapLink.href = '';
	  // mapLink.textContent = '';

	  function success(position) {
	    const latitude  = position.coords.latitude;
	    const longitude = position.coords.longitude;

	    status.textContent = '';
	    // mapLink.href = `https://www.openstreetmap.org/#map=18/${latitude}/${longitude}`;
   // 	    mapLink.textContent = `Latitude: ${latitude} °, Longitude: ${longitude} °`;

		map1.setPosition(latitude,longitude)
		map1.setMarkerPosition(latitude,longitude)


		$('#location').val(""+latitude+","+longitude)


	  }

	  function error() {
	    status.textContent = 'Unable to retrieve your location';
	  }

	  if(!navigator.geolocation) {
	    status.textContent = 'Geolocation is not supported by your browser';
	  } else {
	    status.textContent = 'Locating…';
	    navigator.geolocation.getCurrentPosition(success, error);
	  }

	}

	document.querySelector('#find-me').addEventListener('click', geoFindMe);
	var imageCapture;




// document.querySelector('#take-picture').addEventListener('click', takePicture);
geoFindMe()

</script>






</div>



	<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>

<script>

	var picture_status = false;

	// Put variables in global scope to make them available to the browser console.
	const video = document.querySelector('video');
	const capture_spinner =  document.querySelector('.capture-spinner');
	const capture_close =  document.querySelector('.capture-close');
	const capture_btn =  document.querySelector('.take-picture-x');

	const canvas = window.canvas = document.querySelector('.canvas');
	canvas.width = 240;
	canvas.height = 0;
	video.style.display  = 'none';
	canvas.style.display = 'none';

	const button = document.querySelector('.take-picture');

	function snap(){
 		// then capture
	  var canvasx = document.createElement('canvas');
      var r = 0.23;
	  canvasx.width = video.videoWidth*r;
      canvasx.height = video.videoHeight*r;
	  var ctx = canvasx.getContext('2d')
	  ctx.scale(r,r)
      ctx.drawImage(video, 0, 0, video.videoWidth, video.videoHeight);
	  canvas.prepend(canvasx)

	  var canvas_img = document.createElement('canvas');
	  canvas_img.width = video.videoWidth;
      canvas_img.height = video.videoHeight;
	  var ctx = canvas_img.getContext('2d')
      ctx.drawImage(video, 0, 0, video.videoWidth, video.videoHeight);


  		// canvasx.toBlob(function (blob) {
	//
	//   			console.log(blob)
	//
	//   		}, 'image/jpeg', 0.95)



	       var img = canvas_img.toDataURL("image/jpeg");
	       var filename = 'EMS.jpeg';
	       var formdata = new FormData();
	       formdata.append("capture", img);

	       $.ajax({
	           url: 'image_upload?id=<%=params[:id]%>',
	           type: "POST",
	           data: formdata,
	           processData: false,
	           contentType: false,
	           success: function (result) {
	               console.log("Upload complete!");
	           },
	           error: function (error) {
	               console.log("Something went wrong!");
	           }
	       });






	}

	document.querySelector('.take-picture-x ').onclick = function(){


		snap()

	}


	button.onclick = function() {

	 if(picture_status==false){
			// init camera
		capture_spinner.style.display='inline'
		 
	     const videoConstraints = {
	         facingMode: 'environment'
	       };
	
	     const constraints = {
	       video: videoConstraints
	     };
		 
	 	navigator.mediaDevices.getUserMedia(constraints).then(handleSuccess).catch(handleError);


	 }else{
	 	snap()
	 }


	};


	capture_close.onclick = function() {
	   picture_status = false;

 	   video.style.display = 'none';
	   capture_close.style.display = 'none';
	    capture_btn.style.display='none'
	};

	const constraints = {
	  audio: false,
	  video: true
	};

	function handleSuccess(stream) {
	  window.stream = stream; // make stream available to browser console
	  video.srcObject = stream;
	  picture_status = true;
	  canvas.style.display = 'inline';
  	  capture_spinner.style.display='none'
	  capture_close.style.display='inline'
	  capture_btn.style.display='inline'
	  video.style.display = 'inline';
	  video.width = 320;

  		// canvas.width = 240;
	//  	  	canvas.height = 160;
	}

	function handleError(error) {
	  console.log('navigator.MediaDevices.getUserMedia error: ', error.message, error.name);
	}


// var formData = new FormData(),
//     uploadedImageName = 'selfie.png';
//
// canvas.toBlob(function (blob) {
//     formData.append('user_picture', blob, uploadedImageName);
//     $.ajax({
//         data: formData,
//         type: "POST",
//         dataType: "JSON",
//         url: '',
//         processData: false,
//         contentType: false,
//     });
// });

</script>



<% if false %>
<video id="player" controls autoplay></video>
<button id="capture">Capture</button>
<canvas id="canvas" width=320 height=240></canvas>
<script>
  const player = document.getElementById('player');
  const canvas = document.getElementById('canvas');
  const context = canvas.getContext('2d');
  const captureButton = document.getElementById('capture');

  const videoConstraints = {
      facingMode: 'environment'
    };
	
  const constraints = {
    video: videoConstraints
  };

  captureButton.addEventListener('click', () => {
    // Draw the video frame to the canvas.
    context.drawImage(player, 0, 0, canvas.width, canvas.height);
  });

  // Attach the video stream to the video element and autoplay.
  // navigator.mediaDevices.getUserMedia(constraints)
  navigator.getUserMedia(constraints)
    .then((stream) => {
      player.srcObject = stream;
    });
</script>

<% end %>

<%=init_map%>
</body>
</html>
<% end %>
