		<%
			
		
		
		start_date = Time.parse(params[:start])
		
		end_date = start_date.end_of_day
		
		if params[:end]
			end_date = Time.parse(params[:end])-1
		end
		
		
		
		ems_cases = EMSCase.where(:request_at=>{'$gte'=>start_date.beginning_of_day, '$lte'=>end_date.end_of_day})
			
		ref_cases = EMSCase.where(:_id=>{'$nin'=>ems_cases.collect{|i| i.id }},:schedule_from=>{'$gte'=>start_date.beginning_of_day,'$lte'=>end_date.end_of_day })
		
		ems_cases_all = EMSCase.all	
			
		%>
	
		<h6 class="mb-0 text-uppercase">Date : <%=start_date%> - <%= end_date %>
		 
		
		<%= link_to "+ Request", "create?start=#{start_date.strftime("%Y-%m-%dT%H:%M")}&end=#{end_date.strftime("%Y-%m-%dT%H:%M")}&status=Schedule", :class=>'btn btn-success'%>
		
		</h6>
		
		
		
		<hr/>
		<div class="cardx">
		
			<div class="card-bodyx" >
				 
				<% for i in ems_cases+ref_cases%>
				 
				<div class="card">
					<div class="card-header d-flex justify-content-between">
			<b><a href="show?id=<%=i.id%>"><%= i.case_no %></a></b>
			<span class="col-3  d-flex justify-content-end " ><a class="  btn-outline-danger" onclick="confirmNavigation(event, 'destroy?id=<%= i.id %>')">Del</a></span>

			</div>
					<div class="card-body" >
					<tr>
						<td>
							Type: <%= i.case_type   %>
							<br>
						</td>
						<td>
							HN: <%= i.patient_hn %>
							<br>
						</td>
						<td>
							Patient Name: <%= i.patient_name   %>    
							<br> 
						</td>
						<td>
						Case No:
						<a href="show?id=<%=i.id%>">
							 <%= i.case_no   %>
						</a> 
							<br>
						</td>
						<td>
							Location: <%= i.location   %>
							<br>
						</td>
						<td>
							Status: <%= i.status   %>
							<br>
						</td>
						</tr>
					</div>
				</div>

				<% end %>
			</div>
		</div>


							<!-- Bootstrap Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Confirm </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this case?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a href="#" id="confirmBtn" class="btn btn-primary">Yes, Continue</a>
      </div>
    </div>
  </div>
</div>

<script>
function confirmNavigation(event, url) {
    event.preventDefault(); // Prevent default link behavior
    var confirmBtn = document.getElementById('confirmBtn');
    confirmBtn.href = url; // Set the URL on the confirm button
    var modal = new bootstrap.Modal(document.getElementById('confirmModal'));
    modal.show(); // Show the confirmation modal
}
</script>
</div>