<%



%>

<div class="">
									<!-- <img src="assets/images/avatars/avatar-1.png" width="110" height="110" class="rounded-circle shadow" alt=""> -->
					  			  <div class="mtr-content">
					  			
									<% if ems_case %>
					  			    <p class="mtr-location">
					  			      <span class="mtr-icon">🔘</span> <span class="btn btn-<%=ems_case.init_code.get_class if ems_case.init_code%>"> 
									  <%=ems_case.init_code.code if ems_case.init_code %> </span>
					  			
					  			      <span class="mtr-icon">📍</span> <%=ems_case.location%>
					  			    </p>
									<% else %>
 									
									<p class="mtr-location">
					  			      <span class="mtr-icon">🔘</span> <%=meeting.remark%> </span>
					  			      <span class="mtr-icon">📍</span> <%=meeting.location%>
					  			    </p>

									<% end %>
					  				
    								<p class="mtr-officer">
					  			      <span class="mtr-icon">👤</span> เจ้าหน้าที่ : <%=meeting.creator%>
					  			    </p>


					  			    <p class="mtr-officer">
										<%
										
										sec = (Time.now - meeting.created_at).to_i
										
										txt = "< 1 นาที"
										
										if sec>60
											txt = "#{format("%.1f",sec.to_f/60)} นาที"
										end
											
										if sec>3600
											txt = "#{format("%.1f",sec.to_f/3600)} ชม"
										end

										%>
					  			      <span class="mtr-icon">🕒</span> เริ่ม : <% if meeting.created_at %><%=meeting.created_at.strftime("%H:%M:%S")%> (<%=txt%>)<% end %>
					  			    </p>

									<p class="mtr-officer">
					  			      <span class="mtr-icon">🕒</span> Room : <%=meeting.status%>
					  			    </p>
								<p class="mtr-officer">
					  			      <span class="mtr-icon">🕒</span> EMS : <%=ems_case.status if ems_case%>
					  			    </p>
					  			  </div>
								</div>