<%= inline(this,:'_init')  %>
<%= inline(this,:'_style')  %>
<%= inline(this,:'../lib/_map')  %>
<%

		session.delete :case_id

		noti_new_case_text = Setting.get('line_first_alert')
		puts 'line noti ' + noti_new_case_text.inspect 

		if noti_new_case_text

		message = eval("\"#{noti_new_case_text}\"")

        result =  EMSConnect.line_noti :message=>message

		puts result

		end
		
		
		
		# path = "miot/#{name}/z/#{z.name}/EMT"
		

		path = "miot/#{@context.settings.name}/z/#{@current_zone.name}/IOT"
msg = <<MSG
#{'EMSUpdate'} #{path}
#{{'alert'=>'1'}.to_json}
MSG
	  
	  
	
	  @context.settings.redis.publish(path, msg)		
		
		

%>

<script src="/rocker/assets/js/jquery.min.js"></script>

<div class="card">
<div class="card-header">
		New Request
</div>
<div class="card-body alert-info">

	<div class="tab-content">

		<div class="tab-pane fade active show" id="requestcontent" role="tabpanel">
			<p>

				<%# inline(this,:'../ems_request/_show')  %>

				<div class="request"></div>
				<script>
					<%
					p = "?"
					p += "location=#{params[:location]}&latlng=#{params[:latlng]}&zoom=#{params[:zoom]}" if params[:location]
					p += "start=#{params[:start]}&end=#{params[:end]}}" if params[:start]
					
					%>
					$.ajax({
					  url: "../EmsRequest/create<%=p%>",
					  context: document.body
					}).done(function(html) {

					  $( '.request' ).html(html);
					});


				</script>

			</p>
		</div>

		<div class="tab-pane fade" id="prearrivalcontent" role="tabpanel">


		<p>


		</p>


		</div>


		<div class="tab-pane fade" id="commandcontent" role="tabpanel">


		<p>


		</p>


		</div>

		<div class="tab-pane fade" id="operationcontent" role="tabpanel">


		<p>


		</p>


		</div>

		<div class="tab-pane fade" id="paramediccontent" role="tabpanel">


		<p>


		</p>


		</div>

		<div class="tab-pane fade" id="dischargecontent" role="tabpanel">


		<p>


		</p>


		</div>






	</div>
</div>
</div>
<%= init_map %>

