<%= inline(this,:'_init')  %>
<%= inline(this,:'_style')  %>
<%= inline(this,:'../lib/_map')  %>

<%
	
if request.post?
	c  = 0 
	
	if params[:phone]
		
		exist_case = EMSCase.where(:contact_phone=>params[:phone], :status=>'New').first
		
		if exist_case
			c = 1
			exist_case.update_message @context, "notify_callback #{exist_case.id}"	
				
		elsif params[:user_id]!=""
			c = 2
			
			counter_key = Time.now.strftime("%y%m")

			counter = EMSCaseCounter.where(:key=>counter_key).first
			counter = EMSCaseCounter.create(:key=>counter_key, :count=>0) unless counter

			case_no = "EMS-#{counter_key}-#{format('%04d',counter.count+1)}"

	
			
			
			ems_case = EMSCase.create :case_no=> case_no, :user_id=>params[:user_id], :contact_phone=>params[:phone], :request_at=>Time.now, :status=>'New', :zone_id=> @current_zone.id, :chief_complain=>""
			ems_case.update_message @context, "notify_callback #{ems_case.id}"	
			
		else
			c = 4	
		end
		
		
	end
	
	
%>
<%= c %>
<%= params.inspect %>
<meta http-equiv="Refresh" content="0; url='dispatch'" />
<% end %>
	<link rel="stylesheet" href="/rocker/assets/plugins/notifications/css/lobibox.min.css" />
  
    <script src="/rocker/assets/plugins/notifications/js/lobibox.min.js"></script>
    	<script src="/rocker/assets/plugins/notifications/js/notifications.min.js"></script>

	<%

	cases = EMSCase.where(:status=>{'$in'=>["New","Pending"]}).sort(:case_no=>-1).all()
	cases_count = EMSCase.where( :user_id=>@current_user.id).count()
	session.delete :case_id
	a = Time.now.beginning_of_month
	monthly_cases = EMSCase.where(:created_at=>{'$gte'=>a}).count
	
	users = User.where(:_id=>{'$in'=>cases.collect{|i| i.user_id}}).all
	
	
	
	
	
	%>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="row">
<div class="col-12">

<div class="row row-cols-1 row-cols-md-4 row-cols-xl-4">

	<div class="col-6 col-xl-2 hidden-lg-down" >
		<div class="card radius-10 border-start border-0 border-3 ">
		<div class="card-body">
			<div class="d-flex align-items-center">
				<div>
					<h4 class="my-1 text-danger"><%= monthly_cases %> Cases</h4>
					<p class="mb-0 font-13">Monthly cases</p>
				</div>
				<div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto"><i class="bx bxs-cart"></i>
				</div>
			</div>
		</div>
		</div>
    </div>
	<div class="col-6 col-xl-2 hidden-lg-down">
		<div class="card radius-10 border-start border-0 border-3 ">
		<div class="card-body">
			<div class="d-flex align-items-center">
				<div>
					<h4 class="my-1 text-warning">- mins</h4>
					<p class="mb-0 font-13">Avg response time </p>
				</div>
				<div class="widgets-icons-2 rounded-circle bg-gradient-blooker text-white ms-auto"><i class="bx bxs-cart"></i>
				</div>
			</div>
		</div>
		</div>
    </div>
		
	<div class="col-12 col-xl-4">
		<div class="card radius-10 border-start border-0 border-3 ">
		<div class="card-body">
			<div class="d-flex align-items-center">
				<input name='record[location]' id="record_location" style="height:5vh" value=""  class="form-control  " type="text" placeholder="Search.." >
			</div>
		</div>
		</div>
    </div>
	<div class="col-6 col-lg-2">
		<div class="card radius-10 border-start border-0 border-3 ">
		<div class="card-body">
			<div class="d-flex align-items-center">
				<div>
					<h4 class="my-1 text-info"> <%=cases.size %> / <%=cases_count%></h4>
					<p class="mb-0 font-13">Today cases</p>
				</div>
				<div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i class="bx bxs-cart"></i>
				</div>
			</div>
		</div>
		</div>
    </div>
	<div class="col-6 col-lg-2">
		<div class="card radius-10 border-start border-0 border-3 ">
		<div class="card-body">
			<div class="d-flex align-items-between justify-content-between">
				<div style="">
					<h4 class="my-1 text-info">Active</h4>
					<p class="mb-0 font-13">EMD : <%= @current_user.login %></p>
				</div>
			
				
		
		</div>
		</div>
		</div>
    </div>
	
					
</div>



<!-- <div class="row">
	<div class="col-12">
    <div class="card radius-10">
	<div class="card-body">
	<div id="dashboard-map" class="" style="height:70vh">
		map
	</div>
	</div>
	</div>
	</div>

	<div class="col" style="display:none">

	    <div class="card radius-10">
		<div class="card-body">
			events
		<div class="message-partial" style="height:60vh;overflow:scroll"></div>
		</div>
		</div>
	</div>

</div> -->



<div class="row">
	
<div class="col-4" >
<div class="row  d-flex justify-content-center">
	<form action="dispatch" method="post">
	<h1>Call Taker</h1>
	<hr/>
	<% for i in users
	     cls = "warning"
		 cls = "success" if i.status=='Active'
		# code = i.init_code
		# cls = code.get_class if code
	%>



	<div class="col-12">
		<a href="show?id=<%=i.id%>">
		<div class="card radius-10 border-start border-0 border-3 border-<%= cls %>">
		<div class="card-body">
			<div class="d-flex align-items-center justify-content-between">
				
				<div class="" style="border:0px solid;">
					
					<h4 class="my-1 text-<%=cls%> "><%=i.login%></h4>
					<p class="mb-0 text-secondary">Status :  <%= i.status %></p>
					
				
	   			</div>
				<div class="ms-auto" style="border:0px solid;">
					
					<h4 class="my-1 text-<%=cls%> "><%= EMSCase.where(:user_id=>i.id, :status=>'New').count %> / <%= EMSCase.where(:user_id=>i.id, :created_at=>{'$gte'=>Time.now-24*3600}).count %> </h4>
					<p class="mb-0 text-secondary"> Active / 24 hours</p>
					
				
	   			</div>
				<div >
				</div>
			</div>
		</div>
	    </div>
	</a>

   </div>
<% end %>
	<div class="col-12" style="border:0px solid">
	<label class="form-label">Assign Caller Taker : </label>
	
	<input type="text" name="phone" class="form-control  " placeholder="Caller number"/><br/>
	<select name="user_id" class="form-control">
		<option value=""></option>
		<% for i in users %>
		<option value="<%=i.id%>"><%=i.login%></option>
		<% end %>
	</select><br/>
	<input type="submit" value="Submit" class="btn btn-primary"/>
	
	<hr/>
	
	APIs: <br/>
	
		<li>
			POST : http://xxxxx/api/request
		</li>
	</div>
	
	
	
		</form>
	
	</div>	
</div >


<div class="col-4">
	<h1>Online</h1>
	<hr/>
<div class="row row-cols-1 row-cols-md-4 row-cols-xl-4">



	<% for i in cases
	  cls = ""
		code = i.init_code 
		cls = code.get_class if code
	%>



	<div class="col-12">
		<a href="show?id=<%=i.id%>">
		<div class="card radius-10 border-start border-0 border-3 border-<%= code.get_class if code  %>">
		<div class="card-body">
			<div class="d-flex align-items-center justify-content-center">
				
				<div class="ms-auto" style="border:0px solid;">
					<table >
					<tr>
					<td style="width:200px">
					<h4 class="my-1 text-<%=cls%> "><%=i.case_no%></h4>
					<p class="mb-0 text-secondary">ผู้ป่วย : <%=i.patient_name%></p>
					<p class="mb-0 font-13">Code : <%= code.code  if code%> </p>
					<p class="mb-0 text-secondary">อาการ : <%=i.chief_complain[0..20]%></p>
					</td>
					<td>
						<h4 class="my-1 text-info "><%=i.contact_phone%></h4>
						<p class="mb-0 text-secondary">EMD : <%=User.find(i.user_id).login if i.user_id%></p>
					</td>
				</tr>
			</table>
				</div>
				
			
				<!-- <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto"><i class='bx bxs-group'></i>
				</div> -->
		
			
			<div class="ms-auto row" style="">
			
			<% if true
			
				cls = 'bg-gradient-bloody'
				cls = '' if i.tracking_status=='SENT'
				cls = 'bg-gradient-blooker' if i.tracking_status=='ACCESSED'
				cls = 'bg-gradient-ohhappiness' if i.tracking_status=='TRACKING'
				
			
			%>
			
			<div class="ms-auto col" >
			<div class="widgets-icons-2  <%= cls %> text-white ms-auto" style="margin:5px">
				<a href="send_sms?id=<%=i.id%>" >
					<i class='bx bx-message-detail text-white '></i>
					
				</a>
				
			</div>
		<center><%=i.tracking_status%></center>
		</div>
			<% end %>
			
			
			
			<%
				
			cls = 'bg-gradient-bloody'
			cls = '' if i.video_status ==nil
			cls = 'bg-gradient-blooker' if i.video_status=='request'
			cls = 'bg-gradient-ohhappiness' if i.video_status and i.video_status.split("|").size>1
			
				
			%>
			<div class="ms-auto col" >

			<div class="widgets-icons-2    <%= cls %>  text-white ms-auto" style="margin:5px">
				<a href="video?id=<%=i.case_no%>" target="_blank" >
					<i class='bx bx-webcam text-white '></i>
				</a>
			</div>
			<center>VDO</center>
			</div>
		
			
			
			<div class="ms-auto col" >
			
			<div class="widgets-icons-2  <%=' bg-gradient-ohhappiness ' if false %>text-white ms-auto" style="margin:5px">
					<a href="monitor?id=<%=i.id%>" target="_blank" >
						<i class='bx bx-home-heart text-white '></i>
					</a>
			</div>
			
			<center>Monitor</center>
			
			
			</div>
			</div>
			</div>
			
			
		</div>
		</div>
	</a>
	</div>
	<% end %>

</div>

</div>


</div>


</div >
<div class="msg text-success" style="">
</div>

<script>
	function img_default_noti() {
		Lobibox.notify('success', {
			pauseDelayOnHover: false,
			continueDelayOnInactiveTab: true,
			delay: 10000,
			sound: true,
			soundPath: '/esm-miot-monitor/ems/click.wav',
			position: 'top right',
			icon: 'bx bx-check-circle',
			// img: '/rocker/assets/plugins/notifications/img/5.jpg', //path to image
			msg: 'New Request.'
		});
	}
	
	// img_default_noti();
</script>



	<script>
		
		var local_map;
		
		var latlngbounds;

		

		var car = "M17.402,0H5.643C2.526,0,0,3.467,0,6.584v34.804c0,3.116,2.526,5.644,5.643,5.644h11.759c3.116,0,5.644-2.527,5.644-5.644 V6.584C23.044,3.467,20.518,0,17.402,0z M22.057,14.188v11.665l-2.729,0.351v-4.806L22.057,14.188z M20.625,10.773 c-1.016,3.9-2.219,8.51-2.219,8.51H4.638l-2.222-8.51C2.417,10.773,11.3,7.755,20.625,10.773z M3.748,21.713v4.492l-2.73-0.349 V14.502L3.748,21.713z M1.018,37.938V27.579l2.73,0.343v8.196L1.018,37.938z M2.575,40.882l2.218-3.336h13.771l2.219,3.336H2.575z M19.328,35.805v-7.872l2.729-0.355v10.048L19.328,35.805z";


		var ambu_map = {}


		function update(lines){



			obj = JSON.parse(lines[1])
			console.log(obj)

			// console.log(obj['ambu_data'])

			var keys = Object.keys(obj['ambu_data']);

			var values = keys.map(function(v) { return obj['ambu_data'][v]; });



			for(ai in values){

				a = values[ai]

				if(a['last_location']!=""&&a['last_location'].indexOf(",")){



				map_icon = {
				  path: car,
				  scale: 0.9,
				  strokeColor: 'white',
				  strokeWeight: .10,
				  fillOpacity: 1,
				  fillColor: '#303bef',
				  offset: '5%',
				// size: new google.maps.Size(sizeX, sizeY),
//         				origin: new google.maps.Point(0, 0),
//         				anchor: new google.maps.Point(sizeX/2, sizeY/2),
				  // rotation: parseInt(heading[i]),
				  anchor: new google.maps.Point(10, 25) // orig 10,50 back of car, 10,0 front of car, 10,25 center of car
				};



				var t = a['last_location'].split(",")
				var pos = new google.maps.LatLng(parseFloat(t[0]), parseFloat(t[1]))

        		marker = ambu_map[a['_id']]

				var image = "<%=url_for("ems/ambu.png")%>";



				if(marker==null){


						marker_map = new google.maps.Marker({position: pos,icon: image,  map: local_map});
						ambu_map[a['_id']] = marker_map
							console.log('new')


				}else{
						marker_map = 	ambu_map[a['_id']]
						marker_map.setPosition(pos)
						console.log('set')

				}

				}

				

				// latlngbounds.extend(pos);

			}



			if(obj['emd']!=null){
				
				console.log(obj['emd'])
				
			}



		}


		function address_search(e){

			
				var address = $('#record_location').val()

				map1.geocode({'address':address},function(result){

					// $('#record_address').val(result.formatted_address)

					var pos = result.geometry.location;
				    
					map1.setPosition(pos.lat(), pos.lng())
				
					if(map1.getMap().getZoom()<15)
					map1.getMap().setZoom(15);
					// map1.setMarkerPosition(pos.lat(), pos.lng(), false)
				
				
				})

				e.preventDefault();
				return false;

		}


		$('#record_location').keydown(function(e){

			if(e.keyCode == 13) {
				e.preventDefault()

				address_search(e)

					return false;
				}
		});


		$('#record_location').change(address_search);




		function reload_message(){



		$.ajax({
		  url: "<%= "../EmsParamedic/message_partial?zone_id=#{@current_zone.id}"%>&di=reverse",
		  context: document.body
		}).done(function(data) {
		  $( '.message-partial' ).html(data);
	  	 // alert($( '.chat' ).height())
	   $('.panel-body').scrollTop(100000000)


		});

		}

		reload_message()


	</script>
<span class="material-symbols-outlined">
airport_shuttle
</span>

				<%=init_map%>

<script>


  tag = 'wss://' + window.location.host + "/ws/<%=@context.settings.name%>/Home/index";


  var ws  = new WebSocket('wss://' + window.location.host + "/ws/<%=@context.settings.name%>/Home/index");

  
 
	
  ws.onopen    = function()  { show('websocket opened');


  	ws.send('WS.Select name=<%=session.id%>\n["Zone <%="miot/#{@context.settings.name}/z/#{@current_zone.name}"%>","ZoneUpdate zone_id=*","EMSUpdate event_id=*", "Alert station_id=*","Data.Image station_id=*"]')



  };


  ws.onclose   = function()  { show('websocket closed');

 	setTimeout(function () {
       // window.location.href = "index"; //will redirect to your blog page (an ex: blog.html)
    }, 2000); //will call the function after 2 secs.


  }

  ws.onmessage = function(m) {



	    $('.msg').html("Network is online : "+(m.timeStamp/1000)+ " s" )


		lines = m.data.split("\n")

		// console.log(lines[0].split(" ")[0])

		if(lines[0].split(" ")[0]=='Zone.Refresh'){

			window.location.reload();

		}else
		if(lines[0].split(" ")[0]=='Zone.Message'){

			reload_message()

		}else

		if(lines[0].split(" ")[0]=='ZoneUpdate'){
			if(local_map!=null)
			update(lines)
				

		}




  }


$('.wrapper').addClass('toggled')



</script>
  
