<% 

ems_case = EMSCase.find params[:id]


if request.post?
	
	ems_case.update_attributes :export=>'AwaitExport'
	
	if params[:select]
	
		for i in params[:images]
			
			msg = Message.find i
			
			if msg and params[:select].index i
			
				msg.update_attributes :export=>'true'
				
			else
				
				msg.update_attributes :export=>nil
			end
				
		end
		
	end
	
	
	
%>
<%= params.inspect%>
	<meta http-equiv="Refresh" content="3; url='show?id=<%=ems_case.id%>'" />
<%
else
%>
<h1> Export : <%=ems_case.case_no%></h1>


<%
     admit = ems_case.admit
	  messages = Message.where(:admit_id=>admit.id).all
	
%>

<form action="export" method="post" >
<input type="hidden" name="id" value="<%=ems_case.id%>">
    		<%
    console = []

        records = admit.logs.where(:status=>'COMPLETED').all
        for m in records

          console << [m.stamp, :log, m]

        end

        msgs = admit.messages.where({}).limit(100).sort(:created_at=>-1).all


        for m in msgs

          console << [m.created_at, :msg, m]

        end


        %>
		<ul>
        <% for l in console.sort{|a,b| a[0]<=>b[0]}
          type = l[1]
          i = l[2]
        %>

		   <% if type == :msg and  i.type == 'image'
		 
		   
		   
           url = "../Message/content?id=#{i.id}"
		    %>
				<li>
					<input type="hidden"  name="images[]" value="<%=i.id%>">
					<input type="checkbox" id="<%=i.id%>" name="select[]" value="<%=i.id%>">
					<label for="<%=i.id%>"> Select </label><br>
					<a href="<%=url%>" target="_blank" ><img src="<%=url%>" height="200"></a> <br/><br/></li>
		   <% end %>
		   
		   <% end %>
		 </ul>
		   <br/>
		   <br/>

<input type="submit" value="Export" class="btn btn-success"> <a href="show?id=<%=ems_case.id%>" class="btn btn-primary " >Cancel</a>


</form>
<% end %>