<%= inline(this,:'_init')  %>
<%= inline(this,:'_style')  %>
<%= inline(this,:'../lib/_map')  %>
<%= inline(this,:'_map')  %>

	<link rel="stylesheet" href="/rocker/assets/plugins/notifications/css/lobibox.min.css" />

    <script src="/rocker/assets/plugins/notifications/js/lobibox.min.js"></script>
    	<script src="/rocker/assets/plugins/notifications/js/notifications.min.js"></script>

	<%

	cases = EMSCase.where(:status=>{'$in'=>["New","Pending"]}, :user_id=>@current_user.id).sort(:case_no=>-1).all()
	cases_count = EMSCase.where( :user_id=>@current_user.id).count()


	session.delete :case_id
	a = Time.now.beginning_of_month

	monthly_cases = EMSCase.where(:created_at=>{'$gte'=>a}).count


	%>

<style>
	.card-x{

/*		height:8vh*/
			 }
			 
			 
		 	.marker-position {
		 	    bottom: -40px;
		 	    left: 0;
		 	    position: relative;
		 	}
</style>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="row ">
<div class="col-12 ">

<div class="row row-cols-1 row-cols-md-4 row-cols-xl-4 d-flex align-items-stretch">

	<div class="col-6 col-xl-2 hidden-lg-down  " >
		<div class="card radius-10 border-start border-0 border-3 card-x">
		<div class="card-body">
			<div class="d-flex align-items-center">
				<div>
					<h4 class="my-1 text-danger"><%= monthly_cases %> Cases</h4>
					<p class="mb-0 font-13">Monthly cases</p>
				</div>
				<div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto"><i class="bx bx-unite"></i>
				</div>
			</div>
		</div>
		</div>
    </div>
	<div class="col-6 col-xl-2 hidden-lg-down">
		<div class="card radius-10 border-start border-0 border-3  card-x">
		<div class="card-body">
			<div class="d-flex align-items-center">
				<div>
					<h4 class="my-1 text-warning">- mins</h4>
					<p class="mb-0 font-13">Avg response time </p>
				</div>
				<div class="widgets-icons-2 rounded-circle bg-gradient-blooker text-white ms-auto"><i class="bx bx-alarm-snooze"></i>
				</div>
			</div>
		</div>
		</div>
    </div>
	<div class="col-12 col-xl-4">
		<div class="card radius-10 border-start border-0 border-3  card-x ">
		<div class="card-body">
			<div class=" d-flex align-items-center">
				
				<div style="border:0px solid" class="col-9">
					
					<input name='record[location]' id="record_location" value=""  class="form-control  " type="text" placeholder="Address.." >
					
					<input name='record[latlng]' id="record_latlng"  value=""  class="form-control  " type="text" placeholder="Location.." style="display:none" >
			    </div>
				
				<div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness  text-white ms-auto">
					<i id="create-btn" class="bx bx-map"></i>
			<script>
		
			</script>
				</div>
			</div>
		</div>
		</div>
    </div>
	<div class="col-6 col-xl-2">
		<div class="card radius-10 border-start border-0 border-3  card-x">
		<div class="card-body">
			<div class="d-flex align-items-center">
				<div>
					<h4 class="my-1 text-info"> <%=cases.size %> / <%=cases_count%></h4>
					<p class="mb-0 font-13">--% from last week</p>
				</div>
				<div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i class="bx bx-table"></i>
				</div>
			</div>
		</div>
		</div>
    </div>
	<div class="col-6 col-xl-2">
		<div class="card radius-10 border-start border-0 border-3  card-x">
		<div class="card-body">
			<div class="d-flex align-items-between justify-content-between">
				<div style="">
					<h4 class="my-1 text-info">Active</h4>
					<p class="mb-0 font-13">EMD : <%= @current_user.login %></p>
				</div>
				<div class="form-check form-switch" style="">
					<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" <%= ' checked=""' if @current_user.status=='Active' %> style="font-size:4vh">
					<label class="form-check-label" for="flexSwitchCheckChecked"></label>
				</div>
				

		</div>
		</div>
		</div>
    </div>


</div>



<div class="row">
	<div class="col-12">
    <div class="card radius-10">
	<div class="card-body">
	<div id="dashboard-map" class="" style="height:70vh">
		map
	</div>
	</div>
	</div>
	</div>

	<div class="col" style="display:none">

	    <div class="card radius-10">
		<div class="card-body">
			events
		<div class="message-partial" style="height:60vh;overflow:scroll"></div>
		</div>
		</div>
	</div>

</div>


<div class="row row-cols-1 row-cols-md-4 row-cols-xl-4">



	<% for i in cases
	  cls = ""
		code = i.init_code
		cls = code.get_class if code
	%>



	<div class="col">
		<a href="show?id=<%=i.id%>">
		<div class="card radius-10 border-start border-0 border-3 border-<%= code.get_class if code  %>">
		<div class="card-body">
			<div class="d-flex align-items-center">
				<div>
					<h4 class="my-1 text-<%=cls%> "><%=i.case_no%></h4>
					<p class="mb-0 text-secondary">ผู้ป่วย : <%=i.patient_name%></p>
					<p class="mb-0 font-13">Code : <%= code.code  if code%> </p>
					<p class="mb-0 text-secondary">อาการ : <%=i.chief_complain[0..20]%></p>


				</div>
				<!-- <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto"><i class='bx bxs-group'></i>
				</div> -->
			</div>
		</div>
		</div>
	</a>
	</div>
	<% end %>

</div>


</div >
<div class="msg text-success" style="">
</div>

<script>
	function img_default_noti() {
		Lobibox.notify('success', {
			pauseDelayOnHover: false,
			continueDelayOnInactiveTab: true,
			delay: 10000,
			sound: true,
			soundPath: '/esm-miot-monitor/ems/click.wav',
			position: 'top right',
			icon: 'bx bx-check-circle',
			// img: '/rocker/assets/plugins/notifications/img/5.jpg', //path to image
			msg: 'New Request.'
		});
	}
	<%
	pending_cases = EMSCase.where(:user_id=>@current_user.id, :status=>'Pending').first
	if pending_cases
	%>
	img_default_noti();
	<% end %>
</script>



	<script>

		var local_map;

		var latlngbounds;
		
		var pos ;
		
		var map1;
		
			
		function beforeInit(){
		
			
			<%
				latlng = Setting.get('aoc_center').split(",")
			%>
			latlng = <%=latlng.to_json%>



			map1 = new EMSMap('dashboard-map',{movable:true});
			map1.setPosition(latlng[0], latlng[1])

			map1.setMarkerPosition(latlng[0], latlng[1])


			
			

			$('#create-btn').click(function(){
				loc = $('#record_location').val()
				zoom = map1.getMap().getZoom()
				latlng = ""+pos.lat()+","+pos.lng()
				
				window.location = "create?location="+loc+"&latlng="+latlng+"&zoom="+zoom
				
			})



			map1.changeMarkerPosition(function(marker){




					pos = marker.position
		
					// marker.setAnimation(google.maps.Animation.BOUNCE);
					
		
					map1.geocode({'location':pos},function(result){

						$('#record_latlng').val(result.formatted_address)

					})
					
					

					if(map1.getMap().getZoom()<18)
					map1.getMap().setZoom(18);
					
			//
			// 								map2.setPosition(pos.lat(), pos.lng())
			// 								map2.setMarkerPosition(pos.lat(), pos.lng(), false)


			}.bind(this))
		}
		
    
    function simpleDistance(lat1, lon1, lat2, lon2) {
        const toRadians = (degrees) => degrees * Math.PI / 180;
    
        // Approximate radius of Earth in kilometers at the equator
        const R = 6371;

        // Convert latitude and longitude from degrees to radians
        lat1 = toRadians(lat1);
        lon1 = toRadians(lon1);
        lat2 = toRadians(lat2);
        lon2 = toRadians(lon2);

        // Differences in coordinates
        const dLat = lat2 - lat1;
        const dLon = lon2 - lon1;

        // Simplified distance calculation
        const distance = Math.sqrt(dLat * dLat + dLon * dLon) * R;
        return distance;
    }


		
		function afterInit(){
			<% if Setting.get("google_kml") and Setting.get("google_kml") !="" %>
			var kmlLayer = new google.maps.KmlLayer({
        	url: '<%=Setting.get("google_kml")%>',
        	map: map1.getMap(),
			clickable: false,
			preserveViewport: true 
      		});
			<% end %>

			clatlng = [13.68313508354787, 100.69198345629769]
			<% if Setting.get("aoc_center") %>
			clatlng = [<%=Setting.get("aoc_center")%>]
			<% end %>

			local_map = map1.getMap()
	



			<%

			cases = EMSCase.where(:status=>"New").sort(:case_no=>-1).all()

			%>

			var latlng = [];
			
			const station_image_img = document.createElement('img');
			station_image_img.src = "<%=url_for("ems/station.png")%>";

			var pos = new google.maps.LatLng(clatlng[0],clatlng[1] )
			latlng.push(new google.maps.LatLng(pos))
			marker = new google.maps.Marker({position: pos, map: local_map, content: station_image_img})

			<% for i in cases 
				
				text = i.case_no
			
				text = "#{i.init_code.code if i.init_code} #{i.location}" if i.location
			
			%>
		    latlng.push(new google.maps.LatLng(<%=i.latlng%>))

			var pos = new google.maps.LatLng(<%=i.latlng%> )
			marker = new google.maps.Marker({position: pos, map: local_map, case_id:'<%=i.case_no%>',label:{
							fontSize: '20px',
							color: 'red',
							text: "<%= text %>",
							className: 'marker-position',
							
						}})

			infowindow = new google.maps.InfoWindow({
			content: "<%=i.case_no%>",
			});

			marker.addListener("click", () => {


    	    infowindow.open(marker.get("map"), marker);

			});
			
		    <% end %>
			
			<%
			ambus = Ambulance.where(:zone_id=>@current_zone.id).all
			
			%>
			<% for i in ambus 
			
			if i.last_location and i.last_location!="" and i.last_location.index(",")
			%>
      <%
            
            device = EMSDevice.where(:name=>i.device_no).first
            if device
              
            points = []
              
            logs =  EMSDeviceLog.where(:device_id=>device.id).order_by(_id: :desc).limit(100)
            
            for log in logs.reverse 
                
              points += log.data
              
            end
      %>
            points = <%=points.to_json%>
            
            for (var i = 0; i < points.length - 1; i++) {
              
              
              dis = simpleDistance(points[i].lat, points[i].lng, points[i+1].lat, points[i+1].lng);
                
              if(Math.abs(points[i].ts-points[i + 1].ts)<10&&dis<1){
              
                 var color = getColorForSpeed(points[i].spd);
                 var pathSegment = new google.maps.Polyline({
                   path: [points[i], points[i + 1]],
                   geodesic: true,
                   strokeColor: color,
                   strokeOpacity: 1.0,
                   strokeWeight: 4,
                   map: local_map
                 });
                 
                 }
              
               }
               var color = 'red' ;//getColorForSpeed(points[points.length-1].spd);
              
             //  var pathSegment = new google.maps.Polyline({
              //   path: [points[points.length-1], {'lat':<%=i.last_location.split(",")[0]%>,'lng':<%=i.last_location.split(",")[1]%>}],
              //   geodesic: true,
            //     strokeColor: color,
            //     strokeOpacity: 1.0,
            //     strokeWeight: 4,
            //     map: local_map
            //   });
   
      
      <% end %>
		    latlng.push(new google.maps.LatLng(<%=i.last_location%>))
			 <% end %>
			 <% end %>


			latlngbounds = new google.maps.LatLngBounds();
			for (var i = 0; i < latlng.length; i++) {
			    latlngbounds.extend(latlng[i]);
			}
			
		
			
			local_map.fitBounds(latlngbounds);   
			
			
			if(local_map.getZoom()<15)
			  local_map.setZoom(15);
			
		


				<%
							hospitals = EMSHospital.all()
				%>

				<% for i in hospitals %>

				var posx = new google.maps.LatLng(<%=i.latlng%> )
				var image = "<%=url_for("ems/h#{i.level}.png")%>";
				 markerx = new google.maps.Marker({position: posx, map: local_map,
					 icon:image
				 })
				 markerx.addListener("click", () => {
				 });


				<% end %>







	    }






	

    var car = "M17.402,0H5.643C2.526,0,0,3.467,0,6.584v34.804c0,3.116,2.526,5.644,5.643,5.644h11.759c3.116,0,5.644-2.527,5.644-5.644 V6.584C23.044,3.467,20.518,0,17.402,0z M22.057,14.188v11.665l-2.729,0.351v-4.806L22.057,14.188z M20.625,10.773 c-1.016,3.9-2.219,8.51-2.219,8.51H4.638l-2.222-8.51C2.417,10.773,11.3,7.755,20.625,10.773z M3.748,21.713v4.492l-2.73-0.349 V14.502L3.748,21.713z M1.018,37.938V27.579l2.73,0.343v8.196L1.018,37.938z M2.575,40.882l2.218-3.336h13.771l2.219,3.336H2.575z M19.328,35.805v-7.872l2.729-0.355v10.048L19.328,35.805z";


		var ambu_map = {}


	


		$('#record_location').keydown(function(e){

			if(e.keyCode == 13) {
				e.preventDefault()

				address_search(e)

					return false;
				}
		});


		$('#record_location').change(address_search);



		
		setMapInitCallback(beforeInit,afterInit);
    
    function getColorForSpeed2(speed) {
            
            
       // Calculate the gradient color (green to red)
       const maxSpeed = 40;  // Max speed for the gradient
       const percentage = speed / maxSpeed;
        
        // Convert the percentage to a color (green to red)
        const red = Math.min(255, Math.floor(percentage * 255));
        const green = Math.min(255, Math.floor((1 - percentage) * 255));
        
        const color = `rgb(${red}, ${green}, 0)`;  
            
            
          return color;                    // High speed
        }
	
    function getColorForSpeed(speed) {
            
          
        var color ="green"
        
        if(speed <96 )color = "green";
        else
        if(speed <135 )color = "yellow";
        else
        if(speed >135 )color = "red";
            
            
            
          return color;                    // High speed
        }
	
		function update(lines){



			obj = JSON.parse(lines[1])
			console.log(obj)

			// console.log(obj['ambu_data'])


			if(obj['ambu_data']){

			var keys = Object.keys(obj['ambu_data']);

			var values = keys.map(function(v) { return obj['ambu_data'][v]; });



			for(ai in values){

				a = values[ai]

				if(a['last_location']!=""&&a['last_location'].indexOf(",")){



				map_icon = {
				  path: car,
				  scale: 0.9,
				  strokeColor: 'white',
				  strokeWeight: .10,
				  fillOpacity: 1,
				  fillColor: '#303bef',
				  offset: '5%',
				// size: new google.maps.Size(sizeX, sizeY),
//         				origin: new google.maps.Point(0, 0),
//         				anchor: new google.maps.Point(sizeX/2, sizeY/2),
				  // rotation: parseInt(heading[i]),
				  anchor: new google.maps.Point(10, 25) // orig 10,50 back of car, 10,0 front of car, 10,25 center of car
				};



				var t = a['last_location'].split(",")
				var pos = new google.maps.LatLng(parseFloat(t[0]), parseFloat(t[1]))

        		marker = ambu_map[a['_id']]

				var image = "<%=url_for("ems/ambu.png")%>";

    

				if(marker==null){


						marker_map = new google.maps.Marker({position: pos,icon: image,  map: local_map,label:{
							fontSize: '20px',
							text: a['name'],
							className: 'marker-position',
							
						}});
						ambu_map[a['_id']] = marker_map
							// console.log('new')


				}else{
						marker_map = 	ambu_map[a['_id']]
            
            var color = getColorForSpeed(60);
            
            var pathSegment = new google.maps.Polyline({
              path: [pos, marker_map.getPosition()],
              geodesic: true,
              strokeColor: color,
              strokeOpacity: 1.0,
              strokeWeight: 4,
              map: local_map
            });
            
            
            
						marker_map.setPosition(pos)
            
            
						// console.log('set')

				}

				}



				// latlngbounds.extend(pos);

			}



			if(obj['emd']!=null){

				console.log(obj['emd'])

			}

		}

		}


		function address_search(e){


				var address = $('#record_location').val()

				map1.geocode({'address':address},function(result){

					// $('#record_address').val(result.formatted_address)

					var pos = result.geometry.location;

					map1.setPosition(pos.lat(), pos.lng())

					if(map1.getMap().getZoom()<15)
					map1.getMap().setZoom(15);
					// map1.setMarkerPosition(pos.lat(), pos.lng(), false)


				})

				e.preventDefault();
				return false;

		}



		function reload_message(){



		$.ajax({
		  url: "<%= "../EmsParamedic/message_partial?zone_id=#{@current_zone.id}"%>&di=reverse",
		  context: document.body
		}).done(function(data) {
		  $( '.message-partial' ).html(data);
	  	 // alert($( '.chat' ).height())
	   $('.panel-body').scrollTop(100000000)


		});

		}
		
		

		
		

		// reload_message()


	</script>
<span class="material-symbols-outlined">
airport_shuttle
</span>

<%=init_map%>

<script>


  tag = 'wss://' + window.location.host + "/ws/<%=@context.settings.name%>/Home/index";


  var ws  = new WebSocket('wss://' + window.location.host + "/ws/<%=@context.settings.name%>/Home/index");



  var active_dispatch = 'Active' ;


  function check_dispatch(){



	status = 'Active'

	if(active_dispatch==false)status= "InActive"

  	ws.send("EMD.Update name=<%=@current_user.id %>\n{\"user_id\":\"<%=@current_user.id%>\",\"zone_name\":\"<%=@current_zone.name%>\", \"zone_id\":\"<%=@current_zone.id%>\",\"status\":\""+status+"\"}")


  }

   $('#flexSwitchCheckChecked').change(function() {
        if(this.checked) {
            var returnVal = true;
            $(this).prop("checked", returnVal);
        }
       active_dispatch = this.checked
		 check_dispatch()
    });


  ws.onopen    = function()  { show('websocket opened');


  	ws.send('WS.Select name=<%=session.id%>\n["Zone <%="miot/#{@context.settings.name}/z/#{@current_zone.name}"%>","ZoneUpdate zone_id=*","EMSUpdate event_id=*", "Alert station_id=*","Data.Image station_id=*"]')


  //  var intervalId = setInterval(function() {
  //  check_dispatch()
  // }, 5000);
  //


  };


  ws.onclose   = function()  { show('websocket closed');

 	setTimeout(function () {
       // window.location.href = "index"; //will redirect to your blog page (an ex: blog.html)
    }, 2000); //will call the function after 2 secs.


  }

  ws.onmessage = function(m) {



	    $('.msg').html("Network is online : "+(m.timeStamp/1000)+ " s" )


		lines = m.data.split("\n")

		// console.log(lines[0].split(" ")[0])

		if(lines[0].split(" ")[0]=='Zone.Refresh'){
			// alert(lines[1])
			header = JSON.parse(lines[1])['msg'].split(" ")
			if(header[0]=='notify_callback'){
				window.location="show?id="+header[1]
			}else
			window.location.reload();

		}else
		if(lines[0].split(" ")[0]=='Zone.Message'){

			reload_message()

		}else

		if(lines[0].split(" ")[0]=='ZoneUpdate'){
			if(local_map!=null)
			update(lines)


		}




  }



</script>

<div class="row">
<div class="col-3">
	<img src="https://103.20.120.243:8080/stream" width="320" height="240">
<a href="index_msg" class="btn btn-info">MSG</a>

</div>
</div>

<br/>
<br/>
<br/>
<br/>


</div>





