<%= inline(this,:'_init')  %>
<%= inline(this,:'../lib/_map')  %>
<%
	
record = EMSCase.find params[:id]
code = EMSCode.find record.init_cbd_code
	
%>


<!--<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Components</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">Navs &amp; Tabs</li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
						<div class="btn-group">
							<button type="button" class="btn btn-primary">Settings</button>
							<button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
							</button>
							<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>
								<a class="dropdown-item" href="javascript:;">Another action</a>
								<a class="dropdown-item" href="javascript:;">Something else here</a>
								<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
							</div>
						</div>
					</div>
				</div>-->

<div class="row row-cols-1 row-cols-md-2 row-cols-xl-2">
	<div class="col">
		<div class="card radius-10 border-start border-0 border-3 border-<%=code.get_class%>">
		<div class="card-body">
			<div class="d-flex align-items-center">
				<div>
					<h4 class="my-1 ">EMS-<%=record.case_no%></h4>
					<p class="mb-0 text-secondary">ผู้ป่วย : <%=record.patient_name%> อาการ : <%= record.chief_complain%></p>
					<p class="mb-0 font-13">Location : <%=record.address  %> </p>
				</div>
				<div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto"><i class='bx bxs-group'></i>
				</div>
			</div>
		</div>
		</div>
	</div>
	
	<div class="col">
		<div class="card radius-10 border-start border-0 border-3 border-info">
		<div class="card-body">
			<div class="d-flex align-items-center">
				<div>
					<p class="mb-0 text-secondary">Contact info</p>
					<h4 class="my-1 text-info"><%= record.contact_phone%></h4>
					<p class="mb-0 font-13"><%= record.contact_name%> Requst Submit : <%=link_to "[Click]", "request_ems?id=#{record.id}", :target=>"_blank"%></p>
					<p class="mb-0 font-13"></p>
					
				</div>
				<div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i class='bx bxs-phone'></i>
				</div>
			</div>
		</div>
		</div>
	</div>	
</div>				

<div class="card">
<div class="card-body">
	<ul id="nav-tab-main" class="nav nav-tabs nav-primary" role="tablist">
		<li class="nav-item" role="presentation">
			<a class="nav-link  requestcontent" data-bs-toggle="tab" href="#requestcontent" role="tab" aria-selected="true">
				<div class="d-flex align-items-center">
					<div class="tab-icon"><i class="bx bx-home font-18 me-1"></i>
					</div>
					<div class="tab-title">Request</div>
				</div>
			</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link prearrivalcontent" data-bs-toggle="tab"   href="#prearrivalcontent" role="tab" aria-selected="false">
				<div class="d-flex align-items-center">
					<div class="tab-icon"><i class="bx bx-user-pin font-18 me-1"></i>
					</div>
					<div class="tab-title">Pre arrival</div>
				</div>
			</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link commandcontent" data-bs-toggle="tab"     href="#commandcontent" role="tab" aria-selected="false">
				<div class="d-flex align-items-center">
					<div class="tab-icon"><i class="bx bx-microphone font-18 me-1"></i>
					</div>
					<div class="tab-title">Command</div>
				</div>
			</a>
		</li>
		
		<li class="nav-item" role="presentation">
			<a class="nav-link operationcontent" data-bs-toggle="tab" href="#operationcontent" role="tab" aria-selected="false">
				<div class="d-flex align-items-center">
					<div class="tab-icon"><i class="bx bx-microphone font-18 me-1"></i>
					</div>
					<div class="tab-title">Operation</div>
				</div>
			</a>
		</li>
		
		<li class="nav-item" role="presentation">
			<a class="nav-link" data-bs-toggle="tab" id="paramediccontent" href="#paramediccontent" role="tab" aria-selected="false">
				<div class="d-flex align-items-center">
					<div class="tab-icon"><i class="bx bx-microphone font-18 me-1"></i>
					</div>
					<div class="tab-title">Paramedic</div>
				</div>
			</a>
		</li>
		
		<li class="nav-item" role="presentation">
			<a class="nav-link" data-bs-toggle="tab" href="#dischargecontent" role="tab" aria-selected="false">
				<div class="d-flex align-items-center">
					<div class="tab-icon"><i class="bx bx-microphone font-18 me-1"></i>
					</div>
					<div class="tab-title">Discharge</div>
				</div>
			</a>
		</li>
		
		
	</ul>
	<div class="tab-content py-3">
		
		<div class="tab-pane fade " id="requestcontent" role="tabpanel">
			<p>
				
				<%# inline(this,:'../ems_request/_show')  %><br/>

				<div class="request"></div>
				<script>
					
					$.ajax({
					  url: "../EmsRequest/show?id=<%=params[:id]%>",
					  context: document.body
					}).done(function(html) {
					
					  $( '.request' ).html(html);
					});
					
					
				</script>
				
			</p>
		</div>
		
		<div class="tab-pane fade" id="prearrivalcontent" role="tabpanel">
		
		
		<p>
			
		<div class="prearrival"></div>
		<script>
			
			$.ajax({
		    url: "../EmsPrearrival/show?case_id=<%=params[:id]%>",
			  context: document.body
			}).done(function(html) {
			
			  $( '.prearrival' ).html(html);
			});
			
			
		</script>
			
		</p>
		
		
		</div>
		
		
		<div class="tab-pane fade" id="commandcontent" role="tabpanel">
		
		
		<p>
			
			
			<div id="command"></div>
			<script>
				
				<% 
					commands = EMSCommand.where(:case_id=>record.id).all
					if commands.size == 0 
				%>
				
				$.ajax({
			    url: "../EmsCommand/create?case_id=<%=params[:id]%>",
				  context: document.body
				}).done(function(html) {
			
				  $( '#command' ).html(html);
				});
			  
			  
			    <% else %>
			
				$.ajax({
			    url: "../EmsCommand/show?case_id=<%=params[:id]%>",
				  context: document.body
				}).done(function(html) {
			
				  $( '#command' ).html(html);
				});
				
				
				<% end %>
			
			</script>
			
			
			
		</p>
		
		
		</div>
		
		<div class="tab-pane fade" id="operationcontent" role="tabpanel">
		
		
		<p>
			
			<div class="operation"></div>
			<script>
			
				$.ajax({
			    url: "../EmsOperation/show?id=<%=params[:id]%>",
				  context: document.body
				}).done(function(html) {
			
				  $( '.operation' ).html(html);
				});
			
			
			</script>
		</p>
		
		
		</div>
		
		<div class="tab-pane fade" id="paramediccontent" role="tabpanel">
		
		
		<p>
			<div class="paramedic"></div>
			<script>
			
				$.ajax({
			    url: "../EmsParamedic/show",
				  context: document.body
				}).done(function(html) {
			
				  $( '.paramedic' ).html(html);
				});
			
			
			</script>
			
		</p>
		
		
		</div>
		
		<div class="tab-pane fade" id="dischargecontent" role="tabpanel">
		
		
		<p>
			
			<div class="discharge"></div>
			<script>
			
				$.ajax({
			    url: "../EmsDischarge/show",
				  context: document.body
				}).done(function(html) {
			
				  $( '.discharge' ).html(html);
				});
			
			
			</script>
		</p>
		
		
		</div>
		
	
		
		
		
		
	</div>
</div>
</div>
<script>
		
		$('.nav-link').each(function(){

			obj = $(this)
			if(obj.attr('data-bs-toggle')=='tab'){
				$(this).click(function(e){

					obj = $(this)
					sessionStorage.setItem("last_tab", obj.attr('href'));
				})
			}

		})

		$(document).ready(function(){

			if(sessionStorage.getItem("last_tab")&&sessionStorage.getItem("last_tab").length>0){
				 $('.nav-tabs a[href="' + sessionStorage.getItem("last_tab") + '"]').tab('show');
				
			}else{
				 $('.nav-tabs a[href="#requestcontent"]').tab('show');
			}

		})

		
		
</script>

<%=init_map%>


	<% if true %><div class="msg" style="font-size:0.8em;height:200px">ffff</div><% end %>
<script>
	
	
  tag = 'wss://' + window.location.host + "/<%=@context.settings.name%>/Home/index";
  
  
  var ws  = new WebSocket('wss://' + window.location.host + "/<%=@context.settings.name%>/Home/index");


  ws.onopen    = function()  { show('websocket opened'); 
	
  	ws.send('WS.Select name=<%=session.id%>\n["Zone <%="miot/#{@context.settings.name}/z/#{@current_zone.name}"%>","ZoneUpdate zone_id=*","EMSUpdate event_id=*", "Alert station_id=*","Data.Image station_id=*"]')


  };


  ws.onclose   = function()  { show('websocket closed'); 

 	setTimeout(function () {
       // window.location.href = "index"; //will redirect to your blog page (an ex: blog.html)
    }, 2000); //will call the function after 2 secs.


  }

  ws.onmessage = function(m) { 
	  
	  
	  console.log("package="+m.data.length)
	  
	  show(m.data)
	
  }
  
  
	
</script>

