	<ul class="metismenu mm-show" id="menu" >
		<li>
			<a href="./index">
				<div class="parent-icon"><i class="bx bx-home-circle"></i>
				</div>
				<div class="menu-title">Dashboard</div>
			</a>
		</li>
		<li  class="btn">
			<a href="./create">
				<div class="menu-title"><i class="bx bx-plus"></i> New Request</div>
			</a>
		</li>
		
		<%
			
		case_id = session[:case_id]
			 
		ems_case = EMSCase.find case_id

		%>
		<%	
			
		if ems_case
						
			
			
		%>
		<li class="mm-active">
			<a href="show?id=<%=ems_case.id%>&page=request" class="has-arrow">
				<div class="parent-icon"><i class="bx bx-support"></i>
				</div>
				<div class="menu-title"><%=ems_case.case_no%></div>
			</a>
			<ul  class="mm-show mm-collapse">
		
			<li >
				<a href="show?id=<%=ems_case.id%>&page=request"><i class="bx bx-right-arrow-alt"></i>Request</a>
			</li>
				
			<li >
				<a href="show?id=<%=ems_case.id%>&page=request"><i class="bx bx-right-arrow-alt"></i>Pre Arrival</a>
			</li>
			<li >
				<a href="show?id=<%=ems_case.id%>&page=request"><i class="bx bx-right-arrow-alt"></i>Commander</a>
			</li>
			<li >
				<a href="show?id=<%=ems_case.id%>&page=request"><i class="bx bx-right-arrow-alt"></i>Paramedic</a>
			</li>
			<li >
				<a href="show?id=<%=ems_case.id%>&page=request"><i class="bx bx-right-arrow-alt"></i>Discharge</a>
			</li>
				
				
			</ul>
		
		</li>
		
		
		<% end %>
		
		<li>
			<a href="javascript:;" class="has-arrow">
				<div class="parent-icon"><i class="bx bx-support"></i>
				</div>
				<div class="menu-title">Open</div>
			</a>
			<ul class="mm-show mm-collapse">
				<% 
					
				cases = EMSCase.where(:status=>"New").sort(:case_no=>-1).all()
				
				%>
				<% for i in cases 
					code = EMSCode.find i.init_cbd_code 
					code_class= code.get_class
					
				%>
				<li <%='class="mm-active" ' if i.id==params[:id]%> > <a href="show?id=<%=i.id%>"><i class="bx bx-right-arrow-alt"></i><%=i.case_no%> &nbsp;&nbsp;<span class="badge bg-<%=code_class%>" ><%=code.code%></span></a>
				</li>
				<% end %>
			
			</ul>
		</li>
		<li class="menu-label">History</li>
		<li>
			<a href="widgets.html">
				<div class="parent-icon"><i class="bx bx-calendar"></i>
				</div>
				<div class="menu-title">Today Operation</div>
			</a>
		</li>
		<li>
			<a href="javascript:;" class="has-arrow">
				<div class="parent-icon"><i class="bx bx-check-circle"></i>
				</div>
				<div class="menu-title">Today Completed</div>
			</a>
			<ul class="mm-collapse">
				<% 
					
				cases = EMSCase.where(:status=>"Discharged").sort(:case_no=>1).all()
				
				%>
				<% for i in cases %>
				<li <%='class="mm-active" ' if i.id==params[:id]%> > <a href="show?id=<%=i.id%>"><i class="bx bx-right-arrow-alt"></i><%=i.case_no%></a>
				</li>
				<% end %>
			
			</ul>
		</li>
		
	</ul>