<%
unit = EMSUnit.find params[:id]	
 
ambulances = Ambulance.all
providers = Provider.all

%>
<style>
        .table {
            display: flex;
            flex-direction: column;
            border: 1px solid #ccc;
            width: 100%;
        }
        .row {
            display: flex;
            border-bottom: 1px solid #ccc;
        }
        .cell {
            flex: 1;
            padding: 1px;
            border-right: 1px solid #ccc;
            text-align: center;
        }
        .cell:last-child {
            border-right: none;
        }
    </style>

<h1><%=unit.name%></h1>
<p><%=unit.id%></p>
<div class="card-body">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-primary" id="nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="ambulances-tab" data-bs-toggle="tab" href="#ambulances" role="tab" aria-selected="true">
        <div class="d-flex align-items-center">
          <div class="tab-icon"><i class="bx bx-home font-18 me-1"></i></div>
          <div class="tab-title">Ambulances</div>
        </div>
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="provider-tab" data-bs-toggle="tab" href="#provider" role="tab" aria-selected="false">
        <div class="d-flex align-items-center">
          <div class="tab-icon"><i class="bx bx-home font-18 me-1"></i></div>
          <div class="tab-title">Provider</div>
        </div>
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="case-tab" data-bs-toggle="tab" href="#case" role="tab" aria-selected="false">
        <div class="d-flex align-items-center">
          <div class="tab-icon"><i class="bx bx-home font-18 me-1"></i></div>
          <div class="tab-title">Case</div>
        </div>
      </a>
    </li>
  </ul>
  <div class="tab-content" id="nav-tabsContent">

    <div class="tab-pane fade show active" id="ambulances" role="tabpanel" aria-labelledby="ambulances-tab">
    <div class="table"> 
    <div class="row" >
        <div  class="cell"><h5 style="color: blue;"> Image </h3></div> 
        <div  class="cell"><h5 style="color: blue;"> Pame </h3></div> 
        <div  class="cell"><h5 style="color: blue;"> Plate_license </h3></div> 
        <div  class="cell"><h5 style="color: blue;"> Status </h3></div> 
    </div>
    <% for a in ambulances %>
    <% if a.unit_id.to_s == params[:id] %>
      <br>
      <div class="row">
        <div  class="cell"><%=a.image%></div> 
        <div  class="cell"><%=a.name%></div> 
        <div  class="cell"><%=a.plate_license%></div> 
        <div  class="cell" style="color:green;">Online</div> 
      </div>
    <%end%>   
    <% end %>
    </div>
    </div>

    <div class="tab-pane fade" id="provider" role="tabpanel" aria-labelledby="provider-tab">
    <div class="table"> 
     <div class="row" >
        <div  class="cell"><h5 style="color: blue;"> First Name </h3></div> 
        <div  class="cell"><h5 style="color: blue;"> Last Name </h3></div> 
        <div  class="cell"><h5 style="color: blue;"> Phone </h3></div> 
        <div  class="cell"><h5 style="color: blue;"> Status </h3></div> 
     </div>
      <% for p in providers %>
      <% if p.unit_id.to_s == params[:id] %>
       <br>
       <div class="row">
        <div  class="cell"><%=p.first_name%></div> 
        <div  class="cell"><%=p.last_name%></div> 
        <div  class="cell"><%=p.phone%></div> 
        <div  class="cell" style="color:green;">Online</div> 
       </div>
      <%end%>   
      <% end %>

    </div>
    </div>

    <div class="tab-pane fade" id="case" role="tabpanel" aria-labelledby="case-tab">
       

    </div>

  </div>
</div>