<%
unit = EMSUnit.find params[:id]	
 
ambulances = Ambulance.all
providers = Provider.all

%>
 
<div class="card" style=" padding: 20px;">
<h1><%=unit.name%></h1>
<p><%=unit.id%></p>
<div class="card">

  <ul class="nav nav-tabs nav-primary" id="nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="ambulances-tab" data-bs-toggle="tab" href="#ambulances" role="tab" aria-selected="true">
        <div class="d-flex align-items-center">
          <div class="tab-icon"><i class="bx bx-home font-18 me-1"></i></div>
          <div class="tab-title">Ambulances</div>
        </div>
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="provider-tab" data-bs-toggle="tab" href="#provider" role="tab" aria-selected="false">
        <div class="d-flex align-items-center">
          <div class="tab-icon"><i class="bx bx-home font-18 me-1"></i></div>
          <div class="tab-title">Provider</div>
        </div>
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="case-tab" data-bs-toggle="tab" href="#case" role="tab" aria-selected="false">
        <div class="d-flex align-items-center">
          <div class="tab-icon"><i class="bx bx-home font-18 me-1"></i></div>
          <div class="tab-title">Case</div>
        </div>
      </a>
    </li>
  </ul>

  <div class="tab-content" id="nav-tabsContent">
    <div class="tab-pane fade show active" id="ambulances" role="tabpanel" aria-labelledby="ambulances-tab">
  
    <table class="table mb-0 table-striped" style="width:100%">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Plate License</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% for a in ambulances %>
        <% if a.unit_id.to_s == params[:id] %>
          <tr>
            <td>
              <% if a.image != "" %>
                <% att = Attachment.find a.image %>
                <% if att %>
                  <img src="<%= att.path %>" width="150">
                <% else %>
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFPAU8rBkD5OxnL5Zmi-mbhJrvyvb09n4Wfw&s" width="100">
                <% end %>
              <% end %>
            </td>
            <td><%=a.name%></td>
            <td><%=a.plate_license%></td>
            <td>
              <div class="cell" style="color:green;">Online</div>
            </td>
            <td>
              <a href="../Ambulance/edit?id=<%=a.id%>">
                <div class="menu-item-edit">Edit</div>
              </a>
              <div class="menu-item-delete">Delete</div>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>  
    
    </div>
    <div class="tab-pane fade" id="provider" role="tabpanel" aria-labelledby="provider-tab">
      
    <table class="table mb-0 table-striped" style="width:100%">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name </th>
        <th scope="col">Phone</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <% for p in  providers %>
        <% if p.unit_id.to_s == params[:id] %>
          <tr>
            <td><%=p.first_name%></td>
            <td><%=p.last_name%></td>
            <td><%=p.phone%></td>
            <td><div  class="cell-name" style="color:green;">Online</div></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
    </table>


    </div>
    <div class="tab-pane fade" id="case" role="tabpanel" aria-labelledby="case-tab">
      <p>44444</p>
    </div>
  </div>

  <div style="width: 80px;">
    <%= link_to "Add", "../Ambulance/create", class: 'btn btn-primary' %>
  </div>

</div>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const tabContent = document.getElementById('nav-tabsContent');
    
    function adjustTabContentHeight() {
      const activePane = document.querySelector('.tab-pane.show.active');
      tabContent.style.height = activePane.offsetHeight + 'px';
    }
    
    // Adjust the height on load
    adjustTabContentHeight();
    
    // Adjust the height on tab change
    let tabs = document.querySelectorAll('.nav-link');
    tabs.forEach((tab) => {
      tab.addEventListener('click', function() {
        setTimeout(adjustTabContentHeight, 50); // Adjust height after transition
      });
    });
  });
</script>
