<%
unit = EMSUnit.find params[:id]	
 
ambulances = Ambulance.all
providers = Provider.all

%>
<style>
        .table {
            display: flex;
            flex-direction: column;
            border: 1px solid #ccc;
            width: 100%;
        }
        .row {
            display: flex;
            border-bottom: 1px solid #ccc;
        }
        .cell {
            flex: 1;
            border-right: 1px solid #ccc;
            text-align: center;
        }
        .cell-name {
            flex: 1;
            padding: 20px;
            border-right: 1px solid #ccc;
            text-align: center;
        }
        .cell:last-child {
            border-right: none;
        }
        .menu {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 20px;
            padding: 10px;
            border-radius: 5px;
        }
        .menu-item-delete {
            padding: 10px 20px;
            background-color: red;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            text-align: center;
            transition: background-color 0.3s;
            cursor: pointer;
        }
		.menu-item-edit {
            padding: 10px 20px;
            background-color: yellow;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            text-align: center;
            transition: background-color 0.3s;
            cursor: pointer;
        }
    </style>
<div class="card" style=" padding: 20px;">
<h1><%=unit.name%></h1>
<p><%=unit.id%></p>
<div class="card"  >
  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-primary" id="nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="ambulances-tab" data-bs-toggle="tab" href="#ambulances" role="tab" aria-selected="true">
        <div class="d-flex align-items-center">
          <div class="tab-icon"><i class="bx bx-home font-18 me-1"></i></div>
          <div class="tab-title">Ambulances</div>
        </div>
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="provider-tab" data-bs-toggle="tab" href="#provider" role="tab" aria-selected="false">
        <div class="d-flex align-items-center">
          <div class="tab-icon"><i class="bx bx-home font-18 me-1"></i></div>
          <div class="tab-title">Provider</div>
        </div>
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="case-tab" data-bs-toggle="tab" href="#case" role="tab" aria-selected="false">
        <div class="d-flex align-items-center">
          <div class="tab-icon"><i class="bx bx-home font-18 me-1"></i></div>
          <div class="tab-title">Case</div>
        </div>
      </a>
    </li>
  </ul>
  <div class="tab-content" id="nav-tabsContent">

    <div class="tab-pane fade show active" id="ambulances" role="tabpanel" aria-labelledby="ambulances-tab">
    <div class="table"> 
    <div class="row" >
        <div  class="cell"><h5 style="color: blue;"> Image </h3></div> 
        <div  class="cell"><h5 style="color: blue;"> Name </h3></div> 
        <div  class="cell"><h5 style="color: blue;"> Plate_license </h3></div> 
        <div  class="cell"><h5 style="color: blue;"> Status </h3></div> 
        <div  class="cell"><h5 style="color: blue;">   </h3></div> 
    </div>


  
    <% for a in ambulances %>
    <% if a.unit_id.to_s == params[:id] %>
      <br>
      <div class="row">
        <div class="cell">
          <% if a.image != "" %>
          <% att = Attachment.find a.image %>
          <% if att %>
          <img src="<%= att.path %>" width="150">
          <% else %>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFPAU8rBkD5OxnL5Zmi-mbhJrvyvb09n4Wfw&s"width="100">
          <% end %>
          <% end %>
        </div>
        <div  class="cell"><%=a.name%></div> 
        <div  class="cell"><%=a.plate_license%></div> 
        <div  class="cell" style="color:green;">Online</div> 
        <div class="cell" >
          <div class="menu"> 
          <a  href="../Ambulance/edit?id=<%=a.id%>">  <div  class="menu-item-edit">Edit</div> </a>
            <div   class="menu-item-delete">Delete</div>
          </div>
        </div>
      </div>
    <%end%>   
    <% end %>
    </div>
    </div>
 

    <div class="tab-pane fade" id="provider" role="tabpanel" aria-labelledby="provider-tab">
    <div class="table"> 
     <div class="row" >
        <div  class="cell"><h5 style="color: blue;"> First Name </h3></div> 
        <div  class="cell"><h5 style="color: blue;"> Last Name </h3></div> 
        <div  class="cell"><h5 style="color: blue;"> Phone </h3></div> 
        <div  class="cell"><h5 style="color: blue;"> Status </h3></div> 
     </div>
      <% for p in providers %>
      <% if p.unit_id.to_s == params[:id] %>
      
       <div class="row">
        <div  class="cell-name"><%=p.first_name%></div> 
        <div  class="cell-name"><%=p.last_name%></div> 
        <div  class="cell-name"><%=p.phone%></div> 
        <div  class="cell-name" style="color:green;">Online</div> 
       </div>
      <%end%>   
      <% end %>

    </div>
    </div>

    <div class="tab-pane fade" id="case" role="tabpanel" aria-labelledby="case-tab">
       

    </div>

  </div>
</div>
 
<div  width: 80px;>
<%= link_to "Add", "../Ambulance/create", class: 'btn btn-primary' %>
</div>
</div>