<h1>Unit Monitor</h1> 
<%
	units = EMSUnit.all
%>
<style>
        
        .box {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: flex-start;
        }
        .itembox {
            background: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            text-align: center;
            width: 300px;
            display: none; 
        }
        .menu {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 20px;
            padding: 20px;
            border-radius: 5px;
        }
        .menu-item-online {
            padding: 10px 20px;
            background-color: green;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            text-align: center;
            transition: background-color 0.3s;
            cursor: pointer;
        }
		.menu-item-offline {
            padding: 10px 20px;
            background-color: red;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            text-align: center;
            transition: background-color 0.3s;
            cursor: pointer;
        }
        .show {
            display: block;
        }
</style> 
<div class="menu">
    <div class="menu-item-online" onclick="filterUnits('Online')">Online</div>
    <div class="menu-item-offline" onclick="filterUnits('Offline')">Offline</div>
</div>
<div class="box" id="unitBox">
    <% for i in units %>
	<a href="unit_show?id=<%=i.id%>">	
    <div class="itembox" data-status="<%= i.status %>">
        <% if i.image != "" %>
        <% att = Attachment.find i.image %>
        <% if att %>
        <img src="<%= att.path %>" width="50">
		<% else %>
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFPAU8rBkD5OxnL5Zmi-mbhJrvyvb09n4Wfw&s"width="50">
        <% end %>
        <% end %>
        <p>ชื่อ: <%= i.name %></p>
        <hr>
        <% if i.status.to_s == "Online" %>
        <p style="color:green">สถานะ: <%= i.status %></p>
        <% else %>
        <p style="color:red">สถานะ: <%= i.status %></p>
        <% end %>
        <p>เบอร์ติดต่อ: <%= i.phone %></p>
    </div>
	</a>
    <% end %>
</div>

<script>
    function filterUnits(status) {
        const units = document.querySelectorAll('.itembox');
        units.forEach(unit => {
            if (unit.getAttribute('data-status') === status) {
                unit.classList.add('show');
            } else {
                unit.classList.remove('show');
            }
        });
    }
	window.onload = function() {
        filterUnits('Online');
    };
</script>

<%= link_to "Units", "../EMSUnit/index", class: 'btn btn-primary' %>
