<i>Number of roles : <%=this.model.count%> <%#link_to 'Reset',"reset",:class=>'btn btn-danger btn-small' %></i><br/>
<table class="table table-striped">
<% 
	
	keys = this.model.keys.collect{|i| i unless i[0][0]=='_'}.compact
%>
<thead>
	<tr>
	<% for j in keys %>
		<th><%=j[0].humanize %></th>
	<% end %>
	</tr>
</thead>
<tbody>
<%	
	for i in this.model.limit(20).sort(:start_time=>1).all
%>
<tr>
	<% for j in keys %>
	<% if j[0] == 'zone_id'
		zone_name = '-'
		zone_name = i.zone.name if i.zone_id and i.zone
	%>
		<td><%=zone_name %></td>
	<% else %>
		<td><%=i[j[0]] %></td>
	<% end %><% end %>
	<td>
		
	<%=link_to 'Show',"show?id=#{i.id}",:class=>'btn btn-default btn-small' %>
	<%=link_to 'Password',"password?id=#{i.id}",:class=>'btn btn-warning btn-small' %>
	<%=link_to 'Edit',"edit?id=#{i.id}",:class=>'btn btn-info  btn-small' %>
	<%=link_to 'Del',"destroy?id=#{i.id}",:class=>'btn btn-danger  btn-small' %>
	</td>
</tr>
<% end %>
</tbody>
</table>
<script>
// $('#main-container').removeClass('container')
</script>