<%
date = Time.now
months = %w{มกราคม กุมภาพันธ์ มีนาคม เมษายน พฤษภาคม มิถุนายน กรกฎาคม สิงหาคม กันยายน ตุลาคม พฤศจิกายน ธันวาคม}
mon_th = months[date.strftime("%m").to_i-1]
%>
<script>
	
	var wait_monitor = true;
	var wait_scaler = true; 
	
	
	function deviceSend(msg){
	
		$('#msg').html(msg);
		
		map = {}
		
		list = msg.split("|")
		for(var i=0;i<list.length;i++){
			p = list[i].split(":");
			map[p[0]] = p[1];
		}
		
		if(map['PR']=='-99')map['PR']='-'
		if(map['SPO2']=='000')map['SPO2']='-'
			
		if(map['STATUS']=='M0'||map['STATUS']=='M1'){	
		
		if(wait_monitor||map['STATUS']=='M1'){
		$('.pr').html(map['PR'])
		$('.spo2').html(map['SPO2'])
			
		if(map['STATUS']=='M1'){	
			$('.sys').html(map['SYS'])
			$('.dia').html(map['DIA'])
			wait_monitor = false;
			// $('.mean').html(map['MEAN'])
		}
		}
		
		}
		
		
		
		if(map['STATUS']=='S0'||map['STATUS']=='S1'){	
			
			var w = parseFloat(map['WEIGHT'])
			var h = parseFloat(map['HEIGHT'])
			
			
			var bmi = (w/(h*h)).toFixed(2);
			if(map['STATUS']=='S0'){
				w = parseFloat(map['CWEIGHT'])
				bmi = 'Processing'
			}else{
				
			}
			
			if(wait_scaler||map['STATUS']=='S1'){
				$('.height').html(h);
				$('.weight').html(w);
				$('.bmi').html(bmi);
			}
			
			
		}
		
		
		
		
	}
</script>
<link href="<%=url_for 'css/opd.css'%>" rel="stylesheet">
<h1>Entry</h1>
<hr/>
<div class="row-fluid">
    <div class="col-12">
    <div class="p-name">
    HN 587468: นายธนา พิพิธยการ
    </div>
    <div class="p-date">
    วันที่ <%=date.strftime("%d #{mon_th} %Y เวลา %H:%M น.")%>
    </div>
    </div>

    <div class="col-12">
    <div class="row">

        <div class="col-4">
            <div class="d-entry-dark">
                <div class="l-entry">Blood Pressure</div> 
                <div class="row">
                    <div class="col-3">
                        <img src="<%=url_for 'img/svg/bp.svg'%>" id="bp_start" width="40">
                    </div>
                    <div class="col-9 v-entry">
                    <span class="sys">-</span>/<span class="dia">-</span><!-- &nbsp;&nbsp;&nbsp;m <span class="mean">-</span> -->
                    </div>
                </div>
            </div>
            
            <div class="d-entry-dark">
                <div class="l-entry">Pulse</div>
                <div class="row">
                    <div class="col-3">
                        <img src="<%=url_for 'img/svg/hr.svg'%>" width="40">
                    </div>
                    <div class="col-4 v-entry pr" >
                    -
                    </div>
                    <div class="col-4 v-entry spo2" >
                    -
                    </div>
                </div>
            </div>
            <div class="d-entry-dark">
                <div class="l-entry">Body Temperature</div>
                <div class="row">
                    <div class="col-3">
                        <img src="<%=url_for 'img/svg/temp.svg'%>" width="40">
                    </div>
                    <div class="col-9 v-entry">
                    37.0
                    </div>
                </div>
            </div>
            <div class="d-entry-dark">
                <div class="l-entry">Scoring</div>
                <div class="row">
                    <div class="col-3 v-entry">
                    5
                    </div>
                    
                    <img src="<%=url_for 'img/svg/score.svg'%>" class="col-8" >
                    
                </div>
            </div>
        </div> 
        
        <div class="col-4">
            <div class=""><center>
            <svg class="col-12" xmlns="http://www.w3.org/2000/svg" width="242.668" height="525.791" viewBox="0 0 242.668 525.791">
            <defs>
            <style>
                .a{fill:#6B98C1;isolation:isolate;}
                .diamondMo {
                    animation-name: diamondMoves;
                    animation-duration: 8s;
                    animation-iteration-count: infinite;
                    transform-origin: 50% 50%;
                }
                @keyframes diamondMoves {
                    0%   { transform: translate(0, 0); }
                    80%  { transform: translate(0, 500px); }
                    100%  { transform: translate(0, 0); }
                }

            </style>
            <linearGradient id="Gradient2" x1="0" x2="0" y1="0" y2="1">
                <stop offset="25%" stop-color="white" stop-opacity="0"/>
                <stop offset="50%" stop-color="#29b9e5" stop-opacity="50%"/>
                <stop offset="75%" stop-color="white" stop-opacity="0"/>
            </linearGradient>

            </defs>
            <path id="bodyscan" class="a" d="M498.2,326.16a54.562,54.562,0,0,0-5.972-8.307c-.531-.644-1.067-1.285-1.6-1.927-4.741-5.713-5.367-12.883-6.381-19.772-1.043-6.918-2.027-13.863-3.757-20.669a80.127,80.127,0,0,0-3.16-10.026c-1.133-2.913-3.1-5.741-3.637-8.822-.805-4.789.03-9.606-.805-14.4-1.819-10.558-3.548-21.509-5.963-32.123-1.223-5.433-3.071-11.146-4.025-16.8-1.1-6.385.537-12.8-.924-19.156a28.026,28.026,0,0,0-14.252-18.876c-7.931-4.117-17.323-4.677-26.178-5.321a31.327,31.327,0,0,1-7.215-1.456c-8.08-2.689-21.437-11.2-18.873-20.669.972-3.585,4.565-6.229,6.342-9.483a52.348,52.348,0,0,0,4.806-12.244c2.5-9.864,1.819-20.156-.8-29.916a28.663,28.663,0,0,0-12.347-16.58c-6.574-4.145-15.188-5.523-22.636-2.731-7.293,2.736-11.858,8.828-14.422,15.583-4.866,12.821-4.636,28.275,1.133,40.755a47.527,47.527,0,0,0,3.488,6.189c1.58,2.437,4.055,4.2,4.8,7.055,2.564,9.469-10.793,17.983-18.873,20.671a31.327,31.327,0,0,1-7.215,1.456c-8.855.644-18.247,1.2-26.178,5.321A28.02,28.02,0,0,0,299.3,172.789c-1.461,6.357.179,12.771-.924,19.156-.954,5.657-2.8,11.371-4.025,16.8-2.415,10.614-4.144,21.565-5.963,32.123-.835,4.789,0,9.606-.805,14.4-.537,3.081-2.5,5.909-3.638,8.822a80.138,80.138,0,0,0-3.16,10.026c-1.729,6.806-2.713,13.751-3.757,20.669-1.014,6.89-1.64,14.056-6.381,19.77-.534.644-1.07,1.285-1.6,1.93a54.555,54.555,0,0,0-5.972,8.307,33.571,33.571,0,0,0-3.766,15.051A4.225,4.225,0,0,0,261.558,344c.617.378,2.057,1.12,2.352.017.149-.672-1.521-1.708-1.849-2.521-.119-.339-.268-.7-.418-1.12a10.241,10.241,0,0,0,2.087,3,12.073,12.073,0,0,0,1.431,1.285c.686.563,1.55,1.543,2.564.924a1.03,1.03,0,0,0,.477-1.145,2.247,2.247,0,0,0-.358-.9,6.631,6.631,0,0,0-.6-.955c-.268-.364-.566-.7-.835-1.064a12.776,12.776,0,0,1-1.133-1.678,9.362,9.362,0,0,1-.656-1.487,9.746,9.746,0,0,1-.3-4.142,17.678,17.678,0,0,1,1.223-4.932,18.657,18.657,0,0,0-1.014,4.761,11.082,11.082,0,0,0,.656,4.82,11.358,11.358,0,0,0,.895,1.818,12.108,12.108,0,0,0,.745,1.176c.209.339.477.675.686,1.011.209.364.418.753.6,1.117.179.395.417.759.6,1.123a8.978,8.978,0,0,0,.745,1.092,2.825,2.825,0,0,0,.805.728.882.882,0,0,0,.835,0c1.163-.7.238-2.661-.119-3.557-.626-1.627-2.057-2.857-2.594-4.537a7,7,0,0,1,.089-3.756,9.544,9.544,0,0,0,.03,2.439,11.572,11.572,0,0,0,1.67,4.061c1.431,2.717,2.773,6.831,6.38,7.562a2.862,2.862,0,0,0,3.459-2.072,4.264,4.264,0,0,0-.3-3.083c-.894-1.79-2.326-3.218-3.1-5.066a12.431,12.431,0,0,1,.268-9.637,30.041,30.041,0,0,1,2.534-4.814,16.192,16.192,0,0,1,2.266-3c.447-.42.716-.7,1.252-.28,2.236,1.79,2.117,4.957,1.521,7.391-.328,1.4-.894,2.773-1.371,4.173-.775,2.3-1.521,4.789,1.073,6.3,1.908,1.151,4.83,1.347,6.082-.725a20.426,20.426,0,0,0,2.385-9.326c.209-3.641-.447-7.282-.179-10.978.387-5.993-1.133-13.3,1.61-18.82,2.445-4.929,6.887-8.71,9.273-13.639a66.063,66.063,0,0,0,5.588-19.6c.885-6.251.543-13.076,3.912-18.753a59.175,59.175,0,0,0,6.989-17.8,157.693,157.693,0,0,0,3.211-19.45q.51-4.982.725-9.987.107-2.5.146-5c.021-1.507-.34-3.557.155-4.937,3.849.316,4.207,8.539,4.854,11.107,1.041,4.148,1.628,8.379,2.3,12.592a145.282,145.282,0,0,1,1.482,28.625A245.715,245.715,0,0,1,329.657,271c-1.521,9.575-4.4,19.218-5.376,28.835a369.672,369.672,0,0,0-1.482,56.85,162.364,162.364,0,0,0,2.353,21.5c1.5,7.943,3.259,16.479.715,24.4-5.576,17.361-6.261,36.352-6.887,54.388-.328,9.69-.6,19.408.388,29.071.537,5.237,1.878,10.415,2.892,15.6q.313,1.6.537,3.19c.179,1.067.3,2.128.417,3.2.119,1.033.179,2.1.209,3.162.03.927.03,1.851-.03,2.773a2.144,2.144,0,0,1-.03.451,14.564,14.564,0,0,1-.507,3.022,1.218,1.218,0,0,1-.03.143,19.362,19.362,0,0,1-1.133,3.19,31.621,31.621,0,0,1-1.551,3.193c-1.014,1.9-2.147,3.809-3.131,5.8-2.683,5.349-3.7,11.287-4.979,17.028-1.7,7.618-4.92,13.919-8.438,21a17.2,17.2,0,0,0-1.968,5.405,5.327,5.327,0,0,0,4.293,6.329c5.248,1.372,11.9-1.9,15.325-5.461a54.228,54.228,0,0,0,6.112-8.234c3.25-4.873,6.977-10.194,11.628-14,3.757-3.081,9.124-4.705,11.24-9.3,2.922-6.273-2.117-12.466-4.5-18.571a14.35,14.35,0,0,1-.954-3.193,5.638,5.638,0,0,1-.119-.7c-.119-.837-.179-1.65-.239-2.49-.06-1.092-.089-2.156-.06-3.165,0-1.064.089-2.156.179-3.223s.209-2.1.387-3.162c.149-1.067.358-2.128.6-3.2.209-1.061.447-2.126.745-3.19,3.846-14.843,12.224-29.379,12.165-44.838-.06-14.4-4.353-29.435-1.521-43.746,2.027-10.281,9.422-18.9,12.135-29.1,2.713-10.166,5.337-20.391,7.1-30.779.862-5.083.719-10.514,1.1-15.74a44.735,44.735,0,0,1,1.044-6.542c.194-.843,1.64-6.139,3.134-4.711a1.99,1.99,0,0,1,.462.868c1.5,4.649,1.079,9.421,1.521,14.188q.613,6.68,1.741,13.306c1.759,10.39,4.383,20.613,7.1,30.779,2.713,10.194,10.108,18.82,12.135,29.1,2.833,14.311-1.461,29.351-1.521,43.746-.06,15.459,8.319,29.995,12.165,44.838.3,1.064.537,2.129.745,3.193.239,1.064.447,2.128.6,3.193.179,1.064.3,2.1.388,3.165s.179,2.156.179,3.221c.03,1.008,0,2.072-.06,3.165-.06.84-.119,1.652-.239,2.492a5.737,5.737,0,0,1-.119.7,14.439,14.439,0,0,1-.954,3.193c-2.385,6.105-7.424,12.295-4.5,18.568,2.117,4.593,7.484,6.217,11.241,9.3,4.651,3.809,8.378,9.13,11.628,14a54.22,54.22,0,0,0,6.112,8.234c3.429,3.557,10.078,6.833,15.325,5.461a5.327,5.327,0,0,0,4.293-6.329,17.2,17.2,0,0,0-1.968-5.405c-3.518-7.086-6.738-13.387-8.438-21-1.282-5.741-2.3-11.679-4.979-17.028-.984-1.988-2.117-3.893-3.131-5.8a31.9,31.9,0,0,1-1.55-3.193,19.477,19.477,0,0,1-1.133-3.193,1.149,1.149,0,0,1-.03-.14,14.62,14.62,0,0,1-.507-3.025,2.132,2.132,0,0,1-.03-.448c-.06-.924-.06-1.848-.03-2.773.03-1.064.089-2.128.209-3.165.119-1.064.238-2.128.417-3.193q.224-1.6.537-3.193c1.014-5.181,2.355-10.362,2.892-15.6.984-9.662.716-19.38.388-29.07-.626-18.036-1.312-37.024-6.887-54.388-2.543-7.923-.787-16.457.715-24.4a162.311,162.311,0,0,0,2.353-21.5A369.637,369.637,0,0,0,437,301.2c-.975-9.62-3.855-19.26-5.376-28.838a245.734,245.734,0,0,1-3.026-28.634,145.284,145.284,0,0,1,1.482-28.625c.668-4.212,1.255-8.444,2.3-12.592.647-2.568,1-10.788,4.854-11.107.495,1.381.131,3.431.155,4.938q.036,2.5.146,5.008.215,5,.725,9.984a157.7,157.7,0,0,0,3.211,19.45c1.372,5.937,2.713,12.1,6.56,17.14,2.355,3.137,3.31,8.318,3.608,12.435.686,9.046,2.3,18.26,6.321,26.578,2.385,4.929,6.828,8.71,9.273,13.639,2.743,5.517,1.222,12.827,1.61,18.82.268,3.7-.387,7.338-.179,10.978a20.417,20.417,0,0,0,2.385,9.326c1.252,2.072,4.174,1.876,6.082.728,2.594-1.512,1.849-4,1.074-6.3-.477-1.4-1.044-2.773-1.372-4.173-.6-2.437-.716-5.6,1.521-7.394.537-.42.805-.14,1.252.28a16.188,16.188,0,0,1,2.266,3,30.068,30.068,0,0,1,2.534,4.817,12.424,12.424,0,0,1,.268,9.634c-.775,1.848-2.206,3.277-3.1,5.069a4.255,4.255,0,0,0-.3,3.081,2.862,2.862,0,0,0,3.459,2.073c3.608-.728,4.949-4.845,6.38-7.562a11.574,11.574,0,0,0,1.67-4.061,9.53,9.53,0,0,0,.03-2.437,6.985,6.985,0,0,1,.089,3.753c-.537,1.68-1.968,2.913-2.594,4.537-.358.9-1.282,2.857-.119,3.557a.882.882,0,0,0,.835,0,2.787,2.787,0,0,0,.805-.728,8.969,8.969,0,0,0,.745-1.092c.179-.364.417-.728.6-1.12.179-.364.388-.756.6-1.12.209-.336.477-.672.686-1.008a12.863,12.863,0,0,0,.745-1.176,11.5,11.5,0,0,0,.894-1.82,11.07,11.07,0,0,0,.656-4.817,18.638,18.638,0,0,0-1.014-4.761,17.638,17.638,0,0,1,1.222,4.929,9.754,9.754,0,0,1-.3,4.145,9.441,9.441,0,0,1-.656,1.484,13,13,0,0,1-1.133,1.68c-.268.364-.566.7-.835,1.064a6.453,6.453,0,0,0-.6.952,2.264,2.264,0,0,0-.358.9,1.034,1.034,0,0,0,.477,1.148c1.014.616,1.878-.364,2.564-.924a12.082,12.082,0,0,0,1.431-1.288,10.239,10.239,0,0,0,2.087-3c-.149.42-.3.784-.417,1.12-.328.812-2,1.848-1.849,2.521.3,1.1,1.735.361,2.352-.017a4.223,4.223,0,0,0,2.248-4.162A33.579,33.579,0,0,0,498.2,326.16Z" transform="translate(-259.305 -55.423)"/>
            <rect class="diamondMo" id="bg" y="0" width="100%" height="50" fill="url(#Gradient2)" />
            </svg>
            </center></div>
        </div>

        <div class="col-4"><div class="row">
            <div class="col-5 d-entry">
            <div class="l-entry">Height</div>
            <div class=""><span class="v-entry v-under height">165</span> cm</div>
            </div>
            <div class="col-5 d-entry">
            <div class="l-entry">Weight</div>
            <div class=""><span class="v-entry v-under weight">60</span> kg</div>
            </div>
            
            <div class="col-10 d-entry">
            <div class="l-entry">BMI</div>
            <div class="v-entry v-under "><span class="bmi">22.04</span></div>
            </div>
            
            <div class="col-10 d-entry">   
            <div class="l-entry">Scoring Type</div>
            <div class="v-entry v-under">NEWS</div>
            </div>
            </div>
        </div>
    </div> 
    </div>

    <div class="col-12">
    <center>
    <a href="result" class="btn btn-primary btn-opd">ส่ง</a><br/>
    <a href="index" class="">ยกเลิก</a>  
	
	<div id="msg"></div>
    </center>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="opdModal" tabindex="-1" role="dialog" aria-labelledby="opdModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="opdModalTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <center>
        <div class="display-hn">
        -
        </div>
        <table width="400px">
        <tr>
            <td><div class="btn-hn">1</div></td>
            <td><div class="btn-hn">2</div></td>
            <td><div class="btn-hn">3</div></td>
        </tr>
        <tr>
            <td><div class="btn-hn">4</div></td>
            <td><div class="btn-hn">5</div></td>
            <td><div class="btn-hn">6</div></td>
        </tr>
        <tr>
            <td><div class="btn-hn">7</div></td>
            <td><div class="btn-hn">8</div></td>
            <td><div class="btn-hn">9</div></td>
        </tr>
        <tr>
            <td><div class="btn-hn">.</div></td>
            <td><div class="btn-hn">0</div></td>
            <td><div class="btn-hn">Del</div></td>
        </tr>
        </table>
        </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
  <audio  src="" preload></audio>
  <script>
	  
      let src = '<%=url_for 'sounds/water_droplet.mp3'%>';
     
	  
    $(".btn-hn").on('click',function(){
		// audio.pause()
		
        let audio = new Audio(src);
       // audioElement.play()
       audio.play();
        v = $(".display-hn").html().trim()
        b = $(this).html()
        if(b.indexOf("Del")!==-1){
            v = v.substr(0,v.length-1)
        }else{
            v+=b
        }
        $(".display-hn").html(v)
        
    })
    </script>
</div>

<script>
    
	$('#bp_start').click(function(){
		alert('start')
		if(typeof device_interface === 'undefined'){
			
		}else{
			device_interface.bp_start();
		}
		
		
	})
    
    $(document).ready(function(){
        $(".v-entry").click(function(){
            v = $(this).html().split(' ')[0]
            $(".display-hn").html(v)
            mname = $(this).parent("div").find(".l-entry").html()
            $("#opdModalTitle").html(mname)
            $("#opdModal").modal('toggle')
        })
    })
</script>