<link href="<%=url_for 'css/opd.css'%>" rel="stylesheet">
<h1 style="color:white">OPD</h1>

<div class="row">
<div class="col">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel"  style="padding-top:50px;">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%=url_for 'img/OPD_ad1.png'%>" class="d-block w-100 rounded" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%=url_for 'img/OPD_ad2.png'%>" class="d-block w-100 rounded" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</div>
<div class="col">
    <div class="row">
    <div class="col-12">
    <div class="head-hn">
    กรอกเลข HN ของท่าน
    </div>
    </div>
    <div class="col-12">
    <div class="display-hn">
    587468
    </div>
    
    </div>
    <div class="col-12">
    <div class="d-hn">
    <center>
    <table width="300px">
    <tr>
        <td><div class="btn-hn">1</div></td>
        <td><div class="btn-hn">2</div></td>
        <td><div class="btn-hn">3</div></td>
    </tr>
    <tr>
        <td><div class="btn-hn">4</div></td>
        <td><div class="btn-hn">5</div></td>
        <td><div class="btn-hn">6</div></td>
    </tr>
    <tr>
        <td><div class="btn-hn">7</div></td>
        <td><div class="btn-hn">8</div></td>
        <td><div class="btn-hn">9</div></td>
    </tr>
    <tr>
        <td><div class="btn-hn">/</div></td>
        <td><div class="btn-hn">0</div></td>
        <td><div class="btn-hn"><img src="<%=url_for 'img/svg/delete.svg'%>"></div></td>
    </tr>
    </table>
    <a href="#" class="btn btn-primary btn-opd">ยืนยัน</a>

    </center>
    </div>
    </div>

    </div>
 

</div>
</div>
<audio id="my-audio" preload="auto">
<source src="<%=url_for 'sounds/water_droplet.mp3'%>" type="audio/mpeg">
<!-- place fallback here as <audio> supporting browsers will ignore it -->
<p>Download<a href="<%=url_for 'sounds/water_droplet.mp3'%>">audiofile.mp3</a></p>
</audio>
<script>

    function hnPush(s){
        v = $(".display-hn").html().trim()
        b = s.html()
        if(b.indexOf("img")!==-1){
            v = v.substr(0,v.length-1)
        }else{
            v+=b
        }
        $(".display-hn").html(v)       
    }

    $(".btn-hn").on("click",function(){
        hnPush($(this))
        try{
            var myAudio = document.createElement('audio');
            if (myAudio.canPlayType('audio/mpeg')) {
            myAudio.setAttribute('src','<%=url_for 'sounds/water_droplet.mp3'%>');
            }
            myAudio.play();
        }catch(e){}
        
        
        return false;
    })
	
	$('.btn-opd').click(function(){	
		hn = $(".display-hn").html().trim()
		window.location.replace("entry?hn="+hn);
	})
    //$(".display-hn").html('a')
</script>