<input type="hidden" id="pre_case_id" value="<%=params[:case_id]%>">

<h5><strong>แนวทางการซักประวัติเพิ่มเติมจากญาติผู้เจ็บป่วยฉุกเฉิน</strong></h5>

<div class="col-12 col-lg-8 col-xl-8">
  <form action="<%= get_path 'create'%>" method="post" data-remote='true' data-remote-update="prearrival_panel">
    <div class="card-body p-0">
      <label for="exampleDataList" class="form-label">ค้นหาอาการ</label>
      <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
      <datalist id="datalistOptions">
        <option value="San Francisco">
        </option><option value="New York">
        </option><option value="Seattle">
        </option><option value="Los Angeles">
        </option><option value="Chicago">
        </option></datalist>
    </div>

    <br>
    <%
        record = EMSCase.find params[:case_id]
        flows = EMSKWorkflow.all()
        m_f_name = Hash[flows.collect{|i| [i.id,i.name]}.compact]
        case_flows = EMSCaseWorkflow.where(:case_id=>record.id).all()
        case_processs = EMSCaseProcess.where(:case_id=>record.id).all()
        m_cp = Hash[case_processs.collect{|i| [i.kprocess_id,i]}.compact]
        case_flows_ids = case_flows.collect{|i| i.kworkflow_id}
        select_flows = flows.collect{|i| i if !case_flows_ids.index(i.id)}.compact
        for f in select_flows
    %>
    <div class="chip chip-md add-flow" fid="<%=f.id%>"><i class="bx bx-plus"></i> <%=f.name%></div>
    
    <%  end %>

    <%
        for cf in case_flows
          processes = EMSKProcess.where(:kworkflow_id=>cf.kworkflow_id).all()
    %>
    <div class="card p-2 radius-10 border shadow-none">
      <div class="row">
      <div class="col-9"><h5><%=m_f_name[cf.kworkflow_id]%></h5></div>
      <div class="col-1"><a href="javascript:delFlow('<%=cf.kworkflow_id%>');" class="btn btn-sm btn-light" >Remove</a></div>
      </div>
      <%  for pc in processes %>
      <%
            newclass="btn-light"
            yclass=newclass
            nclass=newclass
            cpid = "new"
            cpnote = ""
            cp = m_cp[pc.id]
            if cp
              cpid = cp.id 
              cpnote = cp.note  
              yclass="btn-outline-primary" if cp.action=='y'
              nclass="btn-outline-danger" if cp.action=='n'
            end

      %>
      <div class="card radius-10 border shadow-none">
        <div class="card-body">
          <!--<div class="d-flex align-items-center">-->
            <div class="row" id="<%=pc.id%>" cwid="<%=cf.id%>">
              <div class="col-8 col-md">
                <p class="mb-0 "><%=pc.name%> </p>
                <input type="text" class="form-control form-control-sm mb-3" placeholder="note" name="" id="note-<%=pc.id%>" value="<%=cpnote%>">
              </div>
              <div class="col-2 col-md-1">
                <a href="javascript:updateProcess('<%=pc.id%>','<%=cpid%>','y');" class="btn <%=yclass%>">&nbsp;<i class="bx bx-check"></i>&nbsp;</a>
              </div>
              <div class="col-2  col-md-1">
                <a href="javascript:updateProcess('<%=pc.id%>','<%=cpid%>','n')" class="btn <%=nclass%>">&nbsp;<i class="bx bx-x"></i>&nbsp;</a>
              </div>
            </div>
          <!--</div>-->
        </div>
      </div>   
      <%  end #for pc %>
    </div>
    
    <%  end %>
    

  </form>
</div>


<div class="col-12 col-lg-4 col-xl-4">
</div>
<div id="prearrival_panel">
  result
</div>

<script>
function updateProcess(pid,cpid,action){
  case_id = $("#pre_case_id").val()
  note = $("#"+pid).find("#note-"+pid).val()
  cwid = $("#"+pid).attr("cwid")
  alert('pid='+pid+' \ncwid='+cwid+' \ncpid='+cpid+' \naction='+action+' \nnote='+note)
  $.ajax({
    type:"POST",
    url:"../EmsPrearrival/case_process_create",
    data:{record:{case_id:case_id,case_workflow_id:cwid,kprocess_id:pid,action:action,note:note},cpid:cpid}
  }).done(function(data){
    reloadPrearrival()
  })
}

function reloadPrearrival(){
  case_id = $("#pre_case_id").val()
  $.ajax({
    url: "../EmsPrearrival/show?case_id="+case_id,
    context: document.body
  }).done(function(html) {
  
    $( '.prearrival' ).html(html);
  });
}

function addFlow(fid){
  case_id = $("#pre_case_id").val()
  // alert(fid)
  $.ajax({
    type:"POST",
    url:"../EmsPrearrival/case_workflow_create",
    data:{record:{case_id:case_id,kworkflow_id:fid}}
  }).done(function(data){
    reloadPrearrival()
  })
}
function delFlow(fid){
  case_id = $("#pre_case_id").val()
  $.ajax({
    type:"POST",
    url:"../EmsPrearrival/case_workflow_del",
    data:{record:{case_id:case_id,kworkflow_id:fid}}
  }).done(function(data){
    reloadPrearrival()
  })
}

$(document).ready(function(){
  $(".add-flow").click(function(){
    addFlow($(this).attr("fid"))
  })
})
</script>
