
<style>

	.w-auto{
		width:90% !important;
		flex:1 1 auto;
/*		width:1%;*/
	}

	</style>
		<!-- <h5>
			<strong>รายละเอียดเหตุฉุกเฉิน</strong>
		</h5> -->
		<div class="row">
			<div class="col-12 col-md-12 col-lg-12 col-xl-6">
				<div class="card  ">
					<div class="card-header bg-primary bbg-gradient text-white">

						<div class="">
							<h6 class="mb-0 text-white">

								<span class="t" t="case_info"> Request Info</span>  :

							</h6>
						</div>
								<!-- <h6 class="">
								<div class="col text-white">

								</div>
								<div class="col d-flex justify-content-end">

								</div>
								</h6> -->

					</div>

					<div class="card-body">


					<div class="row">

						<div class="col-12 col-sm-6">

							<%

							def record.input name
								"name='record[#{name}]' id='record_#{name}' value='#{self[name]}' "
						   end

						   %>


							<div class="row">
								<div class="col-6">

									<p class="px-3 ">
										<span class="t" t="record_contact_phone">Phone*</span>
									</p><input name='record[contact_phone]' value="<%=record.contact_phone%>" required id="record_contact_phone" class="form-control mb-3 " type="text" placeholder="xxx-xxx-xxxxx" aria-label="default input example">

								</div>


								<div class="col-6">

									<p class="px-3">
										<span class="t" t="record_contact_name">Caller</span>
									</p><input name='record[contact_name]' value="<%=record.contact_name%>" class="form-control mb-3 t-ph"  type="text" placeholder="Name" aria-label="default input example">

								</div>



							</div>



							<p class="px-3">
								<span class="t" t="record_chief_complain">Chief Complain</span> *
							</p>
							<div class="input-group   mb-3">
								<%# f.textarea(:chief_complain, record.chief_complain, :class=>'form-control') %>
								<textarea name="record[chief_complain]" id="record_chief_complain" required rows="2" class="form-control"><%=record.chief_complain%></textarea>
							</div>

							<p class="px-3">
								<span class="t" t="record_emd_event_note">Event Note</span>
							</p>
							<div class="input-group   mb-3">
								<textarea name="record[emd_event_note]" id="record_emd_event_note" required rows="2" class="form-control"><%=record.emd_event_note%></textarea>
							</div>


					<p class="px-3">

					CBD code

					<span class="" style="float:right" >
						<a href="#" class="btn btn-info btn-sm" id="select-code" data-bs-toggle="modal" data-bs-target="#selectCodeModal">เลือก</a>
					</span>
					</p>

					<div class="input-group pb-3">
					<%= f.select(:init_cbd_code, [['','']]+EMSCode.where({}).sort(:group_id=>1,:code=>1).all().collect{|i| [i.id,i.name]}, :value=>record.init_cbd_code,:class=>'form-select') %>
					</div>



					<!-- Modal -->
					<div class="modal fade" id="selectCodeModal" tabindex="-1" aria-hidden="true" style="display: none;">
						<div class="modal-dialog modal-dialog-centered modal-xl">
							<div class="modal-content">
								<div class="modal-header bg-primary bbg-gradient text-white">
									<h5 class="modal-title text-white">CBD Code

									</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">

									<div id="cbd-group" class="row">
										<%


											groups = EMSCodeGroup.all()


											n = 3
											m = groups.size/n



											groups.size.times do |gi|


											i = m*(gi%n)+gi/n
											i += 1 if gi%n!=0
											g = groups[i]

											# if i != 12

										%>

										<div class="col-4" >
											<div class="card radius-10 btn btn-info">
												<a href="javascript:group('<%=g.id%>')" class='w-100 align-middle' >
												<div class="card-body " style="text-align:left">
											 	<%=g.code%> <%=g.name%>
												</div>
												</a>
											</div>
										</div>
										<% end %>
									</div>

									<div id="cbd-list" class="row">

									</div>

									<script>
									function selCode(code){
										$("#record_init_cbd_code").val(code)
										$("#selectCodeModal").modal('hide')
										$("#cbd-list").html('')
										$("#cbd-group").show()
									}

									function selGroup(id){
										$("#cbd-list").html('')
										$("#cbd-group").show()
									}
									function selColor(c){
										$(".cbd-color").hide()
										$("#"+c).show()
										$(".sel-color").removeClass("text-white").removeClass("bg-primary")
										$("#sel-"+c).addClass("text-white").addClass("bg-primary")
									}
									function group(id){
										$.ajax({
											type:'POST',
											url:'../EMSCode/group_list',
											data:{id:id},
										}).done(function(data){
											$("#cbd-list").html(data)
											$("#cbd-group").hide()
										})
									}
									</script>


								</div>
							</div>
						</div>
					</div>




					<p class="px-3">

						<span class="t" t="record_patient_underlying">Underlying Disease</span>
						'
					<span class="" style="float:right" >
						<a href="#" class="btn btn-info btn-sm" id="select-underlying" data-bs-toggle="modal" data-bs-target="#selectUnderlyingModal">เลือก</a>
					</span>

					</p><input name='record[patient_underlying]' id="patient_underlying" value="<%=record.patient_underlying%>" class="form-control mb-3" type="text" placeholder="โรคประจำตัว" aria-label="default input example">


					<!-- Modal -->
					<div class="modal fade" id="selectUnderlyingModal" tabindex="-1" aria-hidden="true" style="display: none;">
						<div class="modal-dialog modal-dialog-centered modal-xl">
							<div class="modal-content">
								<div class="modal-header bg-primary bbg-gradient text-white">
									<h5 class="modal-title text-white">Underlying Disease

									</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
										
										
										<div id="cbd-group" class="row">
										<%

											
											underlying = "ปฎิเสธ, Unknown, HT, old CVA, DM, DLP, CA end stage, CKD end stage, Heart disease, Asthma, COPD".split(", ")
											
										
											n = 3
											m = underlying.size/n

											underlying.each do |ui|


										%>

										<div class="col-4" >
											<div class="card radius-10 btn btn-info">
												<a href="javascript:select('<%=ui%>')" class='w-100 align-middle' >
												<div class="card-body " style="text-align:left">
											 	<%=ui%>
												</div>
												</a>
											</div>
										</div>
										<% end %>
										<div class="col-4">
											<div class="card radius-10 btn btn-info">
												อื่นๆ
											</div>
										</div>
									</div>
									<script>
										
										
										function select(ui){
										
											line = $("#patient_underlying").val() + ui +", "
											$("#patient_underlying").val(line)
										}
										
									// function selCode(code){
// 										$("#record_init_cbd_code").val(code)
// 										$("#selectCodeModal").modal('hide')
// 										$("#cbd-list").html('')
// 										$("#cbd-group").show()
// 									}
//
// 									function selGroup(id){
// 										$("#cbd-list").html('')
// 										$("#cbd-group").show()
// 									}
// 									function selColor(c){
// 										$(".cbd-color").hide()
// 										$("#"+c).show()
// 										$(".sel-color").removeClass("text-white").removeClass("bg-primary")
// 										$("#sel-"+c).addClass("text-white").addClass("bg-primary")
// 									}
// 									function group(id){
// 										$.ajax({
// 											type:'POST',
// 											url:'../EMSCode/group_list',
// 											data:{id:id},
// 										}).done(function(data){
// 											$("#cbd-list").html(data)
// 											$("#cbd-group").hide()
// 										})
// 									}
									</script>

								</div>
							</div>
						</div>
					</div>

<div class="row">
<div class="col-6">
<p class="px-3">ประเภทผู้ป่วย</p>
<div class="input-group pb-3">
<%= f.select(:patient_type, [['non-trauma','Non-Trauma'],['trauma','Trauma']], :value=>record.patient_type, :class=>' form-select') %>
</div>

</div>
</div>

<div class="row">

</div>

</div>
						

						<div class="col-12 col-sm-6">

							  <%

							  admit_id = record.admit_id
							  patient = nil

							  if admit_id

								  admit = Admit.find admit_id

								  patient = Patient.find admit.patient_id

							  end


							  %>

								<p class="px-3">
									<span class="t" t="record_patient_name">Patient Name</span>

								</p><input name='record[patient_name]' id="patient-name" value="<%=record.patient_name%>" class="form-control mb-3" type="text" placeholder="" aria-label="default input example">



								<div class="row ">

								<div class="col-6  col-lg-12  col-xl-4 no-gutters">

									<p class="px-3">
										Sex
									</p>

									<select class="form-select mb-3  " name='record[patient_gender]' id="patient-gender" aria-label="Default select example">

										<% for s in ['', 'M','F' ] %>
										<option  <%='selected=""' if s==record.patient_gender %> value="<%=s%>"><%=s%></option>
										<% end %>

									</select>


								</div>

								<div class="col-6 col-lg-12 col-xl-4 no-gutters">

									<p class="px-3 ">
										Age
									</p><input name='record[patient_age]' id="patient-age" value="<%=record.patient_age if patient %>" class="form-control" type="text" placeholder="" aria-label="default input example">

								</div>

								<div class="col-6  col-lg-12  col-xl-4 no-gutters">

									<p class="px-3">
										D/M/Y
									</p><input name='record[patient_birth_date]' value="<%=record.patient_birth_date.strftime("%d/%m/%Y") if patient and record.patient_birth_date %>" class="form-control " type="text" placeholder="" aria-label="default input example">

								</div>


								<div class="col-6  col-lg-12  col-xl-4">

									<p class="px-3">
										Weight (kg)
									</p><input name='record[patient_weight]' value="<%=record.patient_weight if patient and record.patient_weight %>"  id="weight" class="bmi form-control mb-3 " type="text" placeholder="" aria-label="default input example">

								</div>

								<div class="col-6  col-lg-12  col-xl-4">

									<p class="px-3">
										Height (cm)
									</p><input name='record[patient_height]' value="<%=record.patient_height if patient and record.patient_height %>" id="height" class="bmi form-control mb-3 " type="text" placeholder="" aria-label="default input example">

								</div>

								<div class="col-6 col-lg-12  col-xl-4">

									<p class="px-3">
										BMI
									</p><input name='record[patient_bmi]' value="<%=record.patient_bmi if patient and record.patient_bmi %>" id="bmi" class="form-control mb-3 " type="text" placeholder="" aria-label="default input example">
									
									<script>
										function update_bmi(){
											
											weight = parseFloat($('#weight').val())
											height = parseFloat($('#height').val())/100.0
											
											bmi = weight/height/height 
											
											$('#bmi').val(bmi.toFixed(2))
											
											
											
										}
										
										$('.bmi').change(update_bmi);
									</script>
									
								</div>

							</div>


									<p class="px-3">
										<span style="float:right">
									<input class="btn btn-info btn-sm patient-search" type="submit" value="Search"></span>
									</p>
								
								<input name='record[patient_id]' id="record_patient_id"  class="form-control" value="<%=record.patient_cid%>" type="hidden">
									<div class="row">
									<div class='col-12 col-lg-6'>
									<p class="px-3">บัตรประชาชน</p>
									<div class="">
									<input name='record[patient_cid]' id="record_patient_cid"  value="<%=record.patient_cid%>" class="form-control mb-3" type="text" placeholder="หมายเลขบัตรประชาชน" aria-label="default input example">
									</div>
									</div>
									
									<div class='col-12 col-lg-6'>
									<p class="px-3">สัญชาติ</p>
									<div class="">
									<input name='record[patient_nationality]' id="record_patient_nationality"  value="<%=record.patient_nationality%>" class="form-control mb-3  " type="text" placeholder="nationality" aria-label="default input example">
									</div>
									</div>
									</div>
									
									<div class="row">
									<div class='ccol-12 col-lg-6'>
									<p class="px-3">Patient HN</p>
									<div class="">
										<input name='record[patient_hn]' id="record_hn"  value="<%=record.patient_hn%>" class="form-control mb-3 " type="text" placeholder="หมายเลขผู้ป่วย HN" aria-label="default input example">
									</div>
									</div>
									
									<div class='col-12 col-lg-6'>
									<p class="px-3">PT Phone</p>
									<div class="">
										<input name='record[patient_phone]' id="record_patient_phone" value="<%=record.patient_phone%>" class="form-control mb-3" type="text" placeholder="เบอร์ติดต่อประจำตัวผู้ป่วย" aria-label="default input example">
									</div>
									</div>
								</div>
									

									<script>
											$('.patient-search').click(function(e){

												hn = $('#record_hn').val()
												
												
													
												$.ajax({
													type:'GET',
													url:'../EmsRequest/find_patient?hn='+hn,
												}).done(function(data){
													
													obj = JSON.parse(data)
													
													name = ""+obj['prefix_name']+" "+obj['first_name']+" "+obj['last_name']
													contact = "-"
													// if(obj['contact_phone']!=null)
													contact = obj['contact_name']+" "+obj['contact_phone'] 
													
													$('#patient-name').val(name)
													$('#patient-gender').val(obj['gender'])
													$('#patient-age').val(obj['age'])
													$('#record_patient_cid').val(obj['public_id'])
													$('#record_patient_phone').val(contact)
													
													
												})
													
												e.preventDefault();
											})
									</script>

						</div>





						<!-- <div class="col-4">


							<p class="px-3">
								ผู้ป่วยมีสติหรือไม่
							</p>
							<div class="form-check mx-3">
								<input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault1"> <label class="form-check-label" for="flexRadioDefault1">ใช่</label>
							</div>
							<div class="form-check mx-3">
								<input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault2"> <label class="form-check-label" for="flexRadioDefault2">ไม่</label>
							</div>
							<p class="px-3">
								ผู้ป่วยหายใจปกติหรือไม่
							</p>
							<div class="form-check mx-3">
								<input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault3"> <label class="form-check-label" for="flexRadioDefault3">ใช่</label>
							</div>
							<div class="form-check mx-3 mb-3">
								<input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault4"> <label class="form-check-label" for="flexRadioDefault4">ไม่</label>
							</div>



						</div> -->





					</div>

				</div>

			</div>
			<!-- <div class="col-12">
			<% unless params[:id]%>
			<input type="submit" name="create" value="Create" class="btn btn-success">
			<% else %>
			<input type="submit" name="create" value="Update" class="btn btn-info">
			<% end %>
			</div><br/> -->


	<div class="card ">
				<div class="card-header bg-gradient bg-primary">
					<div class="d-flex align-items-center">
						<div>
							<h6 class="mb-0 text-primaryx text-white">
								สั่งการ
							</h6>
						</div>
					</div>
				</div>
					<div class="card-body">
						<div class="row">



							<div class="col-6 col-xl-3">
								<p class="px-3">
									Case type :
								</p>
								<select class="form-select mb-3" name='record[case_type]' aria-label="Default select example">
									<option <%='selected=""' if record.case_type=='EMS' %> value="EMS">EMS</option>
									<option <%='selected=""' if record.case_type=='Refer' %>value="Refer">Refer</option>
								</select>
							</div>
							<div class="col-6 col-xl-3">
								<p class="px-3">
									Ambulance :
								</p>
								<select class="form-select mb-3" name='record[ambulance_id]' id="record_ambulance_id" aria-label="Default select example">
									<option selected="">-</option>
									<%
											zone = Zone.find(session[:current_zone])
											ambu_list = Ambulance.where(:zone_id=>zone).sort(:name=>1).all
											for ambu in ambu_list
									%>
									<option value="<%=ambu.id%>" <%='selected' if ambu.id==record.ambulance_id %> channel="<%=EMSChannel.where(:name=>ambu.msg_channel).first.id%>"><%=ambu.name %></option>
									<% end %>
								</select>
								<script>
									$('#record_ambulance_id').change(function(){
										v = $(this).val()
										ch = $(this).find(":selected")
										$('#record_channel_id').val(ch.attr('channel'))
									})
								</script>
							</div>
							<div class="col-6 col-xl-3">
								<p class="px-3">
									Channel :
								</p>
								<select class="form-select mb-3" name='record[channel_id]' id="record_channel_id" aria-label="Default select example">
									<option selected="">-</option>
									<%
											zone = Zone.find(session[:current_zone])
											channels = EMSChannel.all
											for ch in channels
									%>
									<option value="<%=ch.id%>" <%='selected' if ch.id==record.channel_id %> ><%=ch.name %></option>
									<% end %>
								</select>
							</div>


							<div class="col-6 col-xl-3">
								<p class="px-3">
								 Note :
								</p>
									<input name='record[dispatch_note]' value="<%=record.dispatch_note%>" class="form-control mb-3" type="text" placeholder="Note" aria-label="default input">

							</div>
							
							<div class="col-6 col-xl-3">
							<p class="px-3">เวร Shift</p>
							<div class="input-group pb-3">
							<%= f.select(:shift, [['เช้า','เช้า'],['บ่าย','บ่าย'],['ดึก','ดึก']], :value=>record.shift, :class=>' form-select') %>
							</div>
							</div>
							
							<div class="col-6 col-xl-3">
							<p class="px-3">Date</p>
							<input name='record[date]' id="date" data-value="<%=record.date.strftime('%Y-%m-%d') if record.date %>" class="form-control datepicker mb-3" type="text" placeholder="วัน" aria-label="default input example">
							</div>
							
							<div class="col-6 col-xl-3">
							<p class="px-3">Time</p>
							<input name='record[request_at]' id="request_at" data-value="<%=record.request_at.strftime('%H:%M') if record.request_at%>" class="form-control timepicker mb-3" type="text" placeholder="เวลา" aria-label="default input example">
							</div>
							
							<div class="col-6 col-xl-3">
							<p class="px-3">Status</p>
							<input name='record[status]' id="status" value="<%=record.status  if record.status%>" class="form-control mb-3" type="text" placeholder="" aria-label="default input example">
							</div>
							
							
							
							<div class="col-12 col-xl-12">
							
								<hr/>
							</div>
							<div class="col-6 col-xl-3">
							<p class="px-3">From Date</p>
							<input name='record[schedule_from]'  id="schedule_from" data-value="<%=record.schedule_from.strftime('%Y-%m-%d') if record.schedule_from %>"  class="form-control datepicker mb-3" type="text" placeholder="วัน" aria-label="default input example">
							</div>
							
							<div class="col-6 col-xl-3">
							<p class="px-3">From Time</p>
							<input name='record[schedule_from_time]' id="schedule_from_time"  data-value="<%=record.schedule_from.strftime('%H:%M') if record.schedule_from%>" class="form-control timepicker mb-3" type="text" placeholder="เวลา" aria-label="default input example">
							</div>
							
							<div class="col-6 col-xl-3">
							<p class="px-3">To Date</p>
							<input name='record[schedule_to]' id="schedule_to"  data-value="<%=record.schedule_to.strftime('%Y-%m-%d') if record.schedule_to %>" class="form-control datepicker mb-3" type="text" placeholder="วัน" aria-label="default input example">
							</div>
							
							<div class="col-6 col-xl-3">
							<p class="px-3">To Time</p>
							<input name='record[schedule_to_time]' id="schedule_to_time"  data-value="<%=record.schedule_to.strftime('%H:%M') if record.schedule_to%>" class="form-control timepicker mb-3" type="text" placeholder="เวลา" aria-label="default input example">
							</div>
							
							<script>
							// $(document).ready(function(){

    						$('.datepicker').pickadate({
								format: 'yyyy-mm-dd'
							})
							
							
							$('.timepicker').pickatime({
								format: 'HH:i'
							})

							// })
						
										
							</script>
							
						</div>


					​<div>
			</div>
		</div>
	</div>




			</div>



			<div class="col-12 col-lg-12 col-xl-6">
				<div class="col-12 ">




					<div class="card radius-10">
						<div class="card-header bg-primary bg-gradient ">
							<div class="d-flex align-items-center">
								<div class="">
									<h6 class="mb-0 text-white">
										<span class="t" t="location">Location</span> :
									</h6>
								</div>
								<div class="dropdown ms-auto">
									<a class="dropdown-toggle dropdown-toggle-nocaret" href="#" data-bs-toggle="dropdown" aria-expanded="true"></a>
									<ul class="dropdown-menu" data-popper-placement="bottom-start" style="">
										<li>
											<a class="dropdown-item" href="javascript:;">Action</a>
										</li>
										<li>
											<a class="dropdown-item" href="javascript:;">Another action</a>
										</li>
										<li>
											<hr class="dropdown-divider">
										</li>
										<li>
											<a class="dropdown-item" href="javascript:;">Something else here</a>
										</li>
									</ul>
								</div>




							</div>
						</div>
						<div class="card-body">
							<style>
										 /* Set the size of the div element that contains the map */
										#dashboard-map {
											height: 200px;  /* The height is 400 pixels */
											width: 100%;  /* The width is the width of the web page */
										 }
										#dashboard-map-2 {
											height: 200px;  /* The height is 400 pixels */
											width: 100%;  /* The width is the width of the web page */
										 }
									</style>
									<div class="row">
											<div class="col-12">
											<input name='record[location]' id="record_location" value="<%=record.location%>"  class="form-control  " type="text" placeholder="Address" ><br/>
										</div>
									</div>

									<div class="row">
									<div class="col-12">
									<div id="dashboard-map" class="" style="height:45vh">
										map
									</div>
									</div>
										</div>
										<br/>
							<div class="row">

							<div class="col-md-6" >
								<!-- <label for="inputLastName1" class="form-label"><span class="t" text="address" >ที่อยู่</span></label> -->
								<div class="input-group">
									<!-- <span class="input-group-text bg-transparent"><i class="bx bxs-user"></i></span> -->
								<input name='record[address]' id="record_address" value="<%=record.address%>"  class="form-control border-start-1 " type="text" placeholder="ที่อยู่" aria-label="default input example">
								</div>
							</div>
							<div class="col-md-6">
								<!-- <label for="inputLastName1" class="form-label"><span class="t" text="location">พิกัด</span></label> -->
								<div class="input-group">
									<!-- <span class="input-group-text bg-transparent"><i class="bx bxs-user"></i></span> -->
								<input name='record[latlng]' id="record_latlng" value="<%=record.latlng%>"   class="form-control border-start-1 " type="text" placeholder="ที่อยู่" aria-label="default input example">
								</div>
							</div>
							</div>
							<br/>

							<div class="row "  style="display:none">
							<%#render_map  'dashboard-map', :center=>'13.69313508354787, 100.69198345629769', :main_pin=>{:latlng=>'13.656436171031853, 100.70025782511473'} %>
							<div class="col-12">
							<div id="dashboard-map-2"  class=""  style="height:60vh">
								map
							</div>
						</div>









							</div>

							<script>
								
								var map1;
								// var map2;
								
								
								
						
							

							function address_search(e){


									var address = $('#record_location').val()

									map1.geocode({'address':address},function(result){

										// $('#record_address').val(result.formatted_address)

										var pos = result.geometry.location;

										map1.setPosition(pos.lat(), pos.lng())
										map1.setMarkerPosition(pos.lat(), pos.lng(), false)
										// map2.setPosition(pos.lat(), pos.lng())
	// 									map2.setMarkerPosition(pos.lat(), pos.lng(), false)
										$('#record_address').val(result.formatted_address)
										$('#record_latlng').val(""+pos.lat()+","+pos.lng())

									})

									e.preventDefault();
									return false;

							}
									
						function beforeInit(){




								map1 = new EMSMap('dashboard-map',{movable:true});
								// map2 = new EMSMap('dashboard-map-2', {type:'hybrid',movable:true} );
								var latlng = [];
								var station_image = "<%=url_for("ems/station.png")%>";
								const station_image_img = document.createElement('img');
								station_image_img.src = "<%=url_for("ems/station.png")%>";

								clatlng = [13.68313508354787, 100.69198345629769]

								<% if Setting.get("aoc_center") %>
								clatlng = [<%=Setting.get("aoc_center")%>]

								<% end %>

							latlng = clatlng

							<% if record.latlng and record.latlng.index(',') %>
							latlng = [<%=record.latlng%>]
							<% end %>
								map1.setPosition(latlng[0], latlng[1])
								map1.setMarkerPosition(latlng[0], latlng[1])
							
								var cpos = new google.maps.LatLng(clatlng[0],clatlng[1] )
								cmap = map1.getMap()
							
								markerx = new google.maps.marker.AdvancedMarkerElement({position: cpos, map: cmap, content: station_image_img})
								// markerx = new google.maps.Marker({position: cpos, map: cmap,icon : station_image})



								// map2.setPosition(latlng[0], latlng[1])
								// map2.setMarkerPosition(latlng[0], latlng[1])
								
					
								
								
							}
							
							function afterInit(){
								
							
					
								
							

								map1.changeMarkerPosition(function(marker){

									var pos = marker.position
									$('#record_latlng').val(""+pos.lat()+","+pos.lng())

									
									
									map1.geocode({'location':pos},function(result){

											$('#record_address').val(result.formatted_address)

										})

									// map2.setPosition(pos.lat(), pos.lng())
									// map2.setMarkerPosition(pos.lat(), pos.lng(), false)

								}.bind(this))

				// 				map2.changeMarkerPosition(function(marker){
			//
			// 						var pos = marker.position
			// 						$('#record_latlng').val(""+pos.lat()+","+pos.lng())
			//
			//
			// 						// map2.geocode({'location':pos},function(result){
			// //
			// // 								$('#record_address').val(result.formatted_address)
			// //
			// // 							})
			//
			// 						map1.setPosition(pos.lat(), pos.lng())
			// 						map1.setMarkerPosition(pos.lat(), pos.lng(), false)
			// 					})
			//


								$('#record_location').keydown(function(e){

									if(e.keyCode == 13) {
										e.preventDefault()

										address_search(e)

											return false;
										}
								});


								$('#record_location').change(address_search);


								$('#record_latlng').keydown(function(e){

								
								if(event.keyCode == 13) {
									var address = $(this).val()
									latlng = address.split(",")
									var latlng = new google.maps.LatLng(parseFloat(latlng[0]), parseFloat(latlng[1]) )

									map1.geocode({'location':latlng},function(result){

										// $('#record_address').val(result.formatted_address)

										var pos = result.geometry.location;

										map1.setPosition(pos.lat(), pos.lng())
										map1.setMarkerPosition(pos.lat(), pos.lng(), false)
										// map2.setPosition(pos.lat(), pos.lng())
	// 									map2.setMarkerPosition(pos.lat(), pos.lng(), false)
										
										$('#record_address').val(result.formatted_address)
										$('#record_latlng').val(""+pos.lat()+","+pos.lng())

									})

									e.preventDefault()
									 return false;
									}

								})
																						//
														// map1.init()
														// map2.init()
								
							

							}

							

							setMapInitCallback(beforeInit,afterInit);


							</script>

						</div>
					</div>




					<div class="card ">
						<div class="card-header bg-gradient bg-primary">
							<div class="d-flex align-items-center">
								<div>
									<h6 class="mb-0 text-primaryx text-white">
										ภาพเหตุ :
									</h6>
								</div>
							</div>
						</div>
						<div class="card-body">


									<div class="row">
										<div>
											<%

											imgs = Message.where(:admit_id=>record.admit_id, :type=>'image').sort(:created_at=>1).all

											if imgs.size>0

											%>

											<% for img in imgs %>

											<%
											if img
												url = "../Message/content?id=#{img.id}"

											%>
											<a href="<%=url%>" target="_blank"><img src="<%=url%>" width="140">
											<%
											end
											%>


											<% end %>

											<%
										else
											%>
										<center style="padding:40px">	No Images</center>
											<%
											end
											%>

										</div>
									</div>

						</div>
						<div class="card-footer">
						
							<button type="button" class="btn btn-success btn-mini" data-bs-toggle="modal" data-bs-target="#uploadModal">Upload</button>
						
						</div>

					</div>

					</div>






			</div>


			</div>



<script>
retranslate();
</script>