
<h5><strong>รายละเอียดของผู้ป่วย</strong></h5>

<div class="row">
<div class="col-12 col-lg-4 col-xl-4">
<div class="card">
	<p class="p-3 mb-0">Chief Complain</p>
	<div class="input-group px-3 pb-3"> 
		
		<%# f.textarea(:chief_complain, record.chief_complain, :class=>'form-control') %>
		
		<textarea name="record[chief_complain]" class="form-control"><%=record.chief_complain%></textarea>
		  
	</div>

	<p class="px-3">CBD code</p>
	
	<%= f.select(:init_cbd_code, EMSCode.where({}).sort(:code=>1).all().collect{|i| [i.id,i.name]}, :value=>record.init_cbd_code,:class=>'form-select mb-3 mx-3 w-auto') %>
	
	
	<!-- <select class="form-select mb-3 mx-3 w-auto" aria-label="Default select example">
		<option selected>กรุณาเลือก CBD Code</option>
		<option value="1">One</option>
		<option value="2">Two</option>
		<option value="3">Three</option>
	</select> -->
	<p class="px-3">ผู้แจ้ง</p> 
	<%
	
	def record.input name
		"name='record[#{name}]' id='record_#{name}' value='#{self[name]}' "
	end
		
	%>
	
	<input name='record[contact_name]' value="<%=record.contact_name%>" class="form-control mb-3 mx-3 w-auto" type="text" placeholder="ชื่อ-นามสกุล" aria-label="default input example">

	<p class="px-3">เบอร์ติดต่อ</p>
	
	 <%# f.input(:contact_phone,:value=>record.contact_phone,:placeholder=>"xxx-xxx-xxxxx", :class=>'form-control mb-3 mx-3 w-auto') %>
	
	<input name='record[contact_phone]' value="<%=record.contact_phone%>" class="form-control mb-3 mx-3 w-auto" type="text" placeholder="xxx-xxx-xxxxx" aria-label="default input example">

	<p class="px-3">ชื่อ-นามสกุลผู้ป่วย</p>
	
 	<%# f.input(:patient_name,:value=>record.patient_name,:placeholder=>"xxx-xxx-xxxxx", :class=>'form-control mb-3 mx-3 w-auto') %>
	
	<input name='record[patient_name]' value="<%=record.patient_name%>" class="form-control mb-3 mx-3 w-auto" type="text" placeholder="ชื่อ-นามสกุลผู้ป่วย" aria-label="default input example">
	
	
	<p class="px-3">Patient Identification 	<span style="float:right"><input class="btn btn-info btn-sm" type="submit" value="ค้นหา"></span> </p>
	<input name='record[patient_id]' id="record_patient_id" value="<%=record.patient_cid%>" type="hidden">
	<input name='record[patient_cid]' value="<%=record.patient_cid%>" class="form-control mb-3 mx-3 w-auto" type="text" placeholder="หมายเลขบัตรประชาชน" aria-label="default input example">
	<input name='record[patient_hn]' value="<%=record.patient_hn%>" class="form-control mb-3 mx-3 w-auto" type="text" placeholder="หมายเลขผู้ป่วย HN" aria-label="default input example">
	<input name='record[patient_phone]' value="<%=record.patient_phone%>" class="form-control mb-3 mx-3 w-auto" type="text" placeholder="เบอร์ติดต่อประจำตัวผู้ป่วย" aria-label="default input example">

	<hr>
	<p class="px-3">ผู้ป่วยมีสติหรือไม่</p>
	<div class="form-check mx-3">
		<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
		<label class="form-check-label" for="flexRadioDefault1">ใช่</label>
	</div>
	<div class="form-check mx-3">
		<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
		<label class="form-check-label" for="flexRadioDefault1">ไม่</label>
	</div>

	<p class="px-3">ผู้ป่วยหายใจปกติหรือไม่</p>
	<div class="form-check mx-3">
		<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
		<label class="form-check-label" for="flexRadioDefault1">ใช่</label>
	</div>
	<div class="form-check mx-3 mb-3">
		<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
		<label class="form-check-label" for="flexRadioDefault1">ไม่</label>
	</div>
</div>
</div>

<div class="col-12 col-lg-8 col-xl-8">
<div class="card radius-10">
						<div class="card-header bg-transparent">
							<div class="d-flex align-items-center">
								<div>
									<h6 class="mb-0">ค้นหาสถานที่</h6>
								</div>
								<div class="dropdown ms-auto">
									<a class="dropdown-toggle dropdown-toggle-nocaret " href="#" data-bs-toggle="dropdown" aria-expanded="true"><i class="bx bx-dots-horizontal-rounded font-22 text-option"></i>
									</a>
									<ul class="dropdown-menu" data-popper-placement="bottom-start" style="">
										<li><a class="dropdown-item" href="javascript:;">Action</a>
										</li>
										<li><a class="dropdown-item" href="javascript:;">Another action</a>
										</li>
										<li>
											<hr class="dropdown-divider">
										</li>
										<li><a class="dropdown-item" href="javascript:;">Something else here</a>
										</li>
									</ul>
								</div>
							</div>
						   </div>
						 <div class="card-body">
								<div id="dashboard-map" style="height: 350px">
									<%= inline(this,:'../lib/_map', :f=>f, :record=>record)  %>
								</div>	
								<input name='record[address]' value="<%=record.address%>" class="form-control mb-3 mx-3 w-auto" type="text" placeholder="ที่อยู่" aria-label="default input example">
								<input name='record[address]' value="<%=record.latlng%>" class="form-control mb-3 mx-3 w-auto" type="text" placeholder="lat,lng" aria-label="default input example">
								
								
								
								
						 </div>
					   </div>

</div>
</div>





