<%

	record = EMSCase.find params[:id]

%>


<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Request</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page"></li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
						<div class="btn-group">
							<button type="button" class="btn btn-primary">Settings</button>
							<button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
							</button>
							<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>
								<a class="dropdown-item" href="javascript:;">Another action</a>
								<a class="dropdown-item" href="javascript:;">Something else here</a>
								<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
							</div>
						</div>
					</div>
				</div>



<div class="row" >


<div class="col-12 ">

<!-- <h5 class="text-primary">Request</h5>	 -->

<form action="<%= get_path 'update'%>" needs-validation method="post" data-remote='true' data-remote-update="reqeust-panel">

<% fieldset(:record) do |f| %>

<input name="id" value="<%= record.id %>" type="hidden">

<%= inline(this,:'_form', :f=>f, :record=>record)  %>

<% end %>
<input type="submit" name="create" value="Update" class="btn btn-info">

</form>

<div id="reqeust-panel">

</div>


<script>
	refresh_remote()

</script>


</div>
</div>
										<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModal" aria-hidden="true">
											<div class="modal-dialog">
												<form id='form-upload' action="../EMS/image_upload?id=<%=record.id%>" method="post" enctype="multipart/form-data">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel">Upload</h5>
														<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
													</div>
													<div class="modal-body">
														
														<input type="hidden" name="mode" value="file">
							
														<input type="file" name="capture" >
													
														
													
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
														<input type="submit" value="Submit" class="btn btn-success">
														
													</div>
												</div>
												</form>	
												<script>
													$('#form-upload').submit(function(e){
														
														e.preventDefault();
														
														  var formData = new FormData(this);
														
													    $.ajax({
													   	           url: 'image_upload?id=<%=params[:id]%>',
													   	           type: "POST",
													   	           data: formData,
													   	           processData: false,
													   	           contentType: false,
													   	           success: function (result) {
													   	               console.log("Upload complete!");
																	   $("#uploadModal").modal('hide');
													   	           },
													   	           error: function (error) {
													   	               console.log("Something went wrong!");
													   	           }
													   	       });
														 
													})
												</script>
											</div>
										</div>
