
  
  
  <%
  	keys = this.model.keys.collect{|i| i unless i[0][0]=='_'}.compact
  	for i in keys
		name = i[0]
  %>	
  
	<%
	if name=='hospital_id'
	 
	list = SHHospital.all
		
	%>
  <div class="form-group">
    <label for="product-name"><%=i[0].humanize %></label>
	
	<select id="record-<%=name%>" name="record[<%=name%>]" class="form-control" value="<%=@record[name]%>">

	<% for j in list.collect{|k| [k.id,"#{k.name} #{k.code}"]} %>
	  <option value="<%=j[0]%>" <%="selected" if @record[name]==j[0] %>><%=j[1]%>  </option>
	<% end %>
	</select>
  </div>
  <% else %>
    <div class="form-group">
      <label for="product-name"><%=i[0].humanize%></label>
      <input type="text" class="form-control" id="record-<%=i[0]%>" name="record[<%=i[0]%>]" value="<%=@record[i[0]]%>" placeholder="<%=i[0]%>">
    </div>
  <% end %>
  <% end %>
  