<%
	keys = this.model.keys.collect{|i| i unless i[0][0]=='_'}.compact
	
	roles = Role.all
	
	
	
	for i in keys
		
%>
<%		
	if i[0]=='role_id'	
%>
<div class="form-group">
  <label for="product-name"><%=i[0].humanize%></label>

<select id="record-<%=i[0]%>" name="record[<%=i[0]%>]" class="form-control" value="<%=@record[i[0]]%>">
  <option value=""></option>
<% for j in roles%>
  <option value="<%=j.id%>" <%="selected" if @record[i[0]]==j.id %>><%=j.name%></option>
<% end %>
</select>

</div>

<% else %>	
  <div class="form-group">
    <label for="product-name"><%=i[0].humanize%></label>
    <input type="text" class="form-control" id="record-<%=i[0]%>" name="record[<%=i[0]%>]" value="<%=@record[i[0]]%>" placeholder="<%=i[0]%>">
  </div>
<% end %>
<% end %>
