<i>Number of records : <%=this.model.count%> <%=link_to 'Reset',"reset",:class=>'btn btn-danger btn-small' %></i>
<table class="table table-striped">
<% 
	
	keys = this.model.keys.collect{|i| i unless i[0][0]=='_'}.compact
%>
<thead>
	<tr>
	<% for j in keys %>
		<th><%=j[0].humanize %></th>
	<% end %>
	</tr>
</thead>
<tbody>
<%	
	for i in this.model.limit(100).sort(:start_time=>1).all
%>
<tr>
	<% for j in keys %>
	<% if j[0]=='vs'%>
	<td><%=i[j[0]] %></td>
	<% else %>
		<td><%=i[j[0]] %></td>
	<% end %>
		<% end %>
	<td>
	<%=link_to 'Show',"show?id=#{i.id}",:class=>'btn btn-default btn-small' %>
	<%=link_to 'Edit',"edit?id=#{i.id}",:class=>'btn btn-info  btn-small' %>
	<%=link_to 'Del',"destroy?id=#{i.id}",:class=>'btn btn-danger  btn-small' %>
	</td>
</tr>
<% end %>
</tbody>
</table>
<script>
// $('#main-container').removeClass('container')
</script>