<%
    @record = ERCase.find(params[:id])
    @admit = Admit.find(@record.admit_id)
    @patient = Patient.find(@admit.patient_id)

%>

   <!--patient card-->
      <!-- Patient Info Section -->
        <div class="row  p-3 rounded mb-3 patient-card" style="background-color: <%= @admit.bed.room.bg_color if @admit.bed %>">
            <div class="col-md-3">
                <strong>HN:</strong> <%= @patient.hn %>
            </div>
            <div class="col-md-3">
                <strong>Chief Complaint:</strong> <%= @record.chief_complain %>
            </div>
            <div class="col-md-3">
                <strong>Remark:</strong> <%= @record.remark %>
            </div>
            <div class="col-md-3">
                <strong>Time In:</strong> 
                <% if @record.date %>
                    <% 
                        time_diff = Time.now - @record.date
                        hours = (time_diff / 3600).floor
                        minutes = ((time_diff % 3600) / 60).floor
                    %>
                    <%= "#{hours} ชั่วโมง #{minutes} นาที" %>
                <% end %>
            </div>
            <div class="col-md-3">
                <strong>ชื่อ-สกุล:</strong> <%= @patient.to_s %>
            </div>
            <div class="col-md-3">
                <strong>เพศ:</strong> <%= @patient.gender %>
            </div>
            <div class="col-md-3">
                <strong>อายุ:</strong> <%= @patient.to_age_text %> ปี
            </div>
            <div class="col-md-3">
                <strong>สิทธิ์การรักษา:</strong> <%= @record.reimbursement.name if @record.reimbursement %>
            </div>
        </div>
<script>

    var dark_room = darkenColor("<%= @admit.bed.room.bg_color if @admit.bed %>", 0.1);

    $('.patient-card').css('border-color', dark_room);
</script>