					<%
					
							ambulances = Ambulance.all
									for i in ambulances 
										if true
										admit= nil
										patient = nil
										station = nil
										staiton_id = nil
										resource_id = i.name
							
										admit = Admit.where(:status=>'Admitted', :ambulance_id=>i.id).first
							
										if admit and admit.status=='Admitted'
							
					
										patient = admit.patient if admit
							
							
										if admit 
								
											station = admit.station
											station_id= station.name
							
										end
							
										else
								
											station = i.station
								
								
											station_id = station.name if station
											admit = nil
								
							
										end
							
								%>
								<div   class="col-12 ambu-<%=i.id%> ambu-row <%=(patient)?"panel-admit":""%>" style="margin-top:5px;height:120px;font-size:0.8em;padding:0px;padding-right:15px;">
								<style>
					
									span.head{
										color:#bbb;
									}
								</style>
								<div class="station-<%=station_id%> row " >
									<div class="col-1 eselect-<%=i.id%>" style="font-size:0.9em" >
									<center>
									<%=link_to i.name,"../Ambulance/show?id=#{i.id}", :class=>"select-#{i.id} btn btn-default", :style=>"font-size:1em"%><br/>
									<%=link_to i.plate_license,"../Ambulance/show?id=i#{i.id}"%><br/>
									<a href="tel:<%=i.phone%>"><%=i.phone%></a>
					
						
									</center>	
									<br/>
									</div>
									<div class="col-5">
									<div class="row" style="">
							
									<% if patient 
										hn = '-'
										hn = patient.hn if patient.hn and patient.hn!=''
										age = '-'
										cid = '-'
										cid = patient.public_id if patient.public_id
										now = Time.now
										age = Time.now - patient.dob if patient.dob 
										gender = '-'
										gender = patient.gender if patient.gender
									%>
									<div class="col-4"><span class="head">Patient:</span><span class="patient-name value"><%= patient.prefix_name %><%= patient.first_name %> <%= patient.last_name %></span>
									<span class="head">CID:</span> <span class="patient-cid value"><%=cid%></span><br/>
									<span class="head">HN:</span> <span class="patient-hn value"><%=hn%></span> 
									<span class="head">Age:</span> <span class="patient-age value"><%=age%></span>
									<span class="head">Sex:</span> <span class="patient-gender value"><%=gender%></span><br/>
									<span class="head">Contact:</span> <span class="patient-contact value"><%=patient.contact_name%> <%="(#{patient.contact_phone})" if patient.contact_phone%></span>
									</div>
									<div class="col-4">
									<span class="head">Indication:</span> <span class="patient-inditcation value">
										<%=admit.note%></span>
									</div>
									<div class="col-4">
									<span class="head">Note:</span> <span class="patient-note value"></span>
									</div>
									<% end %>
									</div>
									<div class="row">
										<div class="col-6">
											<span class="head">Head to:</span> <span class="ambu-headto value">-</span>
										</div>
										<div class="col-6">
											<span class="head">Location:</span> <span class="ambu-address value">-</span>
										</div>
									</div>
									<div class="row">
										<div class="col-4">
											<span class="head">Est:</span> <span class="ambu-est value">- mins</span>
										</div>
										<div class="col-4">
											<span class="head">Speed:</span> <span class="ambu-speed value">- km/h</span>
										</div>
										<div class="col-4">
											<span class="head">Duration:</span> <span class="ambu-start value">- mins</span>
										</div>
									</div>
						
						
									</div>
									<div class="col-1">
						
											<% if admit %>
											<a style="width:60px;padding:5px" href="../Admit/show?id=<%=admit.id%>" class="btn btn-warning" >Chart</a><br/>	
											<% end %>
											<a style="width:60px;padding:5px" href="" id="call-<%=i.id%>" class="btn btn-info" >Call</a><br/>	
								
											
							
											<script>
					
											</script>

						
									</div>
									<div class="col-5 station" style="font-size:0.8em">
						
						
									<div class="row">
						
						
										<div class="col-6 col-lg-2 col-sm-3 pr">
											<span class="label">PR</span>
											<div class="value">-</div>
										</div>
										<div class="col-6 col-lg-2 col-sm-3  bp">
											<span class="label">BP</span>
											<div class="value">-</div>
										</div>

											<div class="col-6 col-lg-2 col-sm-3  temp">
												<span class="label">Temp</span>
												<div class="value">-</div>
											</div>
											<div class="col-6 col-lg-2 col-sm-3  rr">
												<span class="label">RR</span>
												<div class="value">-</div>
											</div>

										<div class="col-6 col-lg-2 col-sm-3  spo2">
											<span class="label">SpO2</span>
											<div class="value">-</div>
										</div>

									    <div class="col-6 col-lg-2 col-sm-3  hr">
										    <span class="label">HR</span>
										    <div class="value">-</div>
									    </div>
						
						
						
									</div>
						
										<div class="row">
								
												<div id="wave-<%=station_id%>" class="col-lg-12  order-1" style="min-height:5em;background:#111">

												</div>
								
										</div>
						
						
						
									</div>

					
									</div>
					
					
					
					
							</div>
			<% #rescue Exception=>e 
								end %>				
			<% end %>
			