<%= inline(this,:'../home/_monitor') %>
<link href="<%=url_for('css/aoc.css?=22')%>" rel="stylesheet">
<style>
	li.menu{
		padding:5px;
	}
	.top-panel{
		height:200px;
		border:0px solid #222;
	}
	.main-panel{
		min-height:300px;
		border:1px solid #444;
	}
	
	.msg-header{
		line-height:1.5em; font-size:0.6em
		background-color: rgb(19, 38, 58);
		background: transparent linear-gradient(180deg, #03121a  0%, #06202E 40%, #06202E 100%) 0%
	    0% no-repeat padding-box;
	}
	
	.widget{
		background:#222;
		border:1px solid #666;
		border-radius: 4px;
		
	}
	
	.header{
		line-height:3em;
/*		background-color: rgb(19, 38, 58);*/
		background-color: rgb(04, 17, 46);
		
/*		background: transparent linear-gradient(180deg, #03121a  0%, #06202E 40%, #06202E 100%) 0%*/
	    0% no-repeat padding-box;
	}
	
	.header2{
		line-height:3em;
/*		background-color: rgb(19, 38, 58);*/
		background-color: rgb(04, 17, 46);
		
		background: transparent linear-gradient(180deg, #03121a  0%, #06202E 40%, #06202E 100%) 0%
	    0% no-repeat padding-box;
	}
	.conference{
/*		height:500px;*/
		/*height:45vh;*/
		background-color: black;
	}
	.geo-map{
/*		height:500px;*/
		/*height:45vh;*/
/*			background:#aaa;*/
	}

	.selected{
	  border:2px solid #3147FF;
	  border-radius: 4px;
	  padding:5px;
	}
	.panel-admit{
	  background:#01174F;
/*	  background:#414701;*/
	}
	
	a.completed{
		color:gray;
	}

	.value{
	/*	color: #C2C2C2;*/
/*		width:50px;*/
		
	}
	.ph{
/*		height:3em;*/
	}
	
	/* Hide scrollbar for Chrome, Safari and Opera */
	.panel-body::-webkit-scrollbar {
	  display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.panel-body {
	  -ms-overflow-style: none;  /* IE and Edge */
	  scrollbar-width: none;  /* Firefox */
	}
	
	/* Hide scrollbar for Chrome, Safari and Opera */
	body::-webkit-scrollbar {
	  display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	body {
	  -ms-overflow-style: none;  /* IE and Edge */
	  scrollbar-width: none;  /* Firefox */
	}
	
	.disable{
		background:gray;
		opacity:0.7;
		border:0px;
	}
	
	
	.toolbarButton{
		width:30px;
	}
</style>

<%
	
			ambulances = Ambulance.all
	
 
				
			
					begin
 					  @current_zone = Zone.first
					  @current_zone = Zone.find session[:current_zone] if session[:current_zone]
					  @current_zone = nil if @current_zone and @current_zone.mode!='aoc'
					   unless @current_zone
					  	 @current_zone = Zone.where(:mode=>'aoc').first
				  	  	 session[:current_zone] = @current_zone.id
					  end
					  # @current_zone = Zone.where(:name=>'Ambu').first
					  
					  
					  admits = []
					  admits = @current_zone.admits.where(:status=>'Admitted').all if @current_zone
					 # admits =  Admit.where(:status=>'Admitted').all


					  stations = Station.find(ambulances.collect{|i| i.station_id})
					rescue Exception=>e 
					end

				%>



	
<div class="container-fluid">
<div class="row">
	
	<div class="col-3 col-md-2 col-xl-2  d-none d-sm-none d-md-none  d-xl-block" >
		
		<b>Request</b>
		<span style="float:right"><%= link_to "+ Case", "create", :class=>'btn btn-success'%><br/></span>
		
		
		<ul>
			
	<%
	
		admits_completed = @current_zone.admits.where(:status=>'Admitted', :ambulance_id=>nil).sort(:created_at.desc).all if @current_zone
		
	%>
	<% admits_completed.each do |admit| 
	
	  code =  admit.patient.to_s
	  code = admit.an  if admit.an
	  code = admit.case_no if admit.case_no
	
	
	%>
	<li>
		<%=link_to "#{code}", "../Admit/show?id=#{admit.id}", :target=>'_blank' %>
	</li>
	<% end %>
		
		</ul>
		
		<b>Operating</b>
		<ul>
			<%
				
				admits.each do |admit| 
					
					patient = admit.patient
					ambu_id = admit.ambulance_id
				
			%>
		<li class="menu">
			<a href="#" class="select-<%=ambu_id%>  <%='panel-admit' if patient %>  ambu-<%=ambu_id%> ambu-row"> <%=admit.case_no%></a>
		</li>
		<% end %>
		
		
		</ul>
		
		<b>Completed</b>
		<ul>
		<%
		
			admits_completed = @current_zone.admits.where(:status=>'Discharged').sort(:created_at.desc).limit(5).all if @current_zone
			
		%>
		<% admits_completed.each do |admit| 
		
		  code =  admit.patient.to_s
		  code = admit.an  if admit.an
		  code = admit.case_no if admit.case_no
		
		
		%>
		<li class="menu">
			<%=link_to "#{code}", "../Admit/show?id=#{admit.id}", :class=>'completed', :target=>'_blank' %>
		</li>
		<% end %>
		</ul>
		
		<b>Ambulance</b>
		<ul>
			
	<%
		
		for i in ambulances 
		
			begin
			admit= nil
			patient = nil
			station = nil
			staiton_id = nil
			resource_id = i.name

			admit = Admit.where(:status=>'Admitted', :ambulance_id=>i.id).first

			if admit and admit.status=='Admitted'


			patient = admit.patient if admit


			if admit 
	
				station = admit.station
				station_id= station.name

			end

			else
	
				station = i.station
	
	
				station_id = station.name if station
				admit = nil
	

			end
	%>		
		<li class="select-<%=i.id%> menu  <%='panel-admit' if patient%>  ambu-<%=i.id%> ambu-row">
			<%= i.name %> : <%=i.plate_license%> 
			<%if patient %><span class=" btn-warning btn-mini" style="float:right;font-size:0.7em">ALLOCATED</span><% end %>
		</li>
		
			<% rescue Exception=>e %>
			
			<% end %>
	<% end %>
	
	</ul>
	
	<div class="footer" style="">
	footer
	</div>
		
	</div>
	
	
	
	<div class="col-2 order-3 col-md-3 col-xl-2  d-none d-sm-none  d-md-block">
	
	<div class="col-12 header context-header ">
		12:00
	</div>
	
		
	<div class="col-12 main-panel ">
		<div class="conference">
			
			<%

				host = 'prod.vidyo.io'


				display_name = "userDemo#{rand(999)}"
				cmd = "node apps/esm-miot-monitor/lib/vidyo.js --key #{Setting.get :vidyo_key} --appID #{Setting.get :vidyo_app_id} --userName #{display_name} --expiresInSecs 3000"
				out = `#{cmd}`
				puts cmd
				puts out
				out = out.split("\n") if out
				puts out.inspect
				
				puts 
				token = out[-1] if out
				@token = token
				
				
			%>
			<%=inline(this,:'_vidyo')%>
		</div>
	</div>
	
	<div class="col-12 main-panel" style="height:1040px">
		<%= inline(this,:'_message_page') %>
	
	</div>
	</div>
	<div class="col-12 col-md-9 col-xl-8 order-2">
		
		<!-- Context -->
		<!-- <div class="row">
			<div class="col-6">

			Header 1
			</div>
			<div class="col-6">
			Header 2
			</div>

		</div>
		 -->
		<div class="selection row header context-header"  style="color:white;font-size:1.2em">
	
			<div class="col-6 " >
				<span class="head">Ambu : </span>
				
			<span class="ambu-name"><span class="value">-</span></span>
		
			<span class="head">Patient : </span>
			<span class="patient-name "><span class="value">-</span></span>
	
			<span class="head">CID : </span>
			<span class="patient-cid "><span class="value">-</span></span>
	
			<span class="head">HN : </span>
			<span class="patient-hn "><span class="value">-</span></span>
			<span class="head">Age : </span>
			<span class="patient-age "><span class="value">-</span></span>
			<span class="head">Sex : </span>
			<span class="patient-gender "><span class="value">-</span></span>
	
			</div>
	
			<div class="col-6" >
	
	
	
			<span class="head">Contact : </span>
			<span class="patient-contact"><span class="value">-</span></span>
	
	
			<span class="head">Indication : </span>
			<span class="patient-indication "><span class="value">-</span></span>
	
			<span class="head">Note : </span>
			<span class="patient-note "><span class="value">-<span></span>
	
			</div>

	
	
		</div>
		
		<div class="row">
		<div class="col-12 header header2" style="padding:10px;background:black" >
			<center>
				
				
			<%=link_to 'Note',"#", :class=>'note_btn btn btn-pcm context disable',:style=>"line-height:3em;width:80px" %>
			
			<%=link_to 'Chart',"#", :class=>'chart_btn btn btn-warning  context disable',:style=>"line-height:3em;width:80px" %>
			
			<%=link_to 'Call',"#", :class=>'call_btn btn btn-info  context disable',:style=>"line-height:3em;width:80px" %>
				
			<%=link_to 'Summary',"#", :class=>'summary_btn btn btn-success context disable', :style=>"line-height:3em;width:100px" %>
			
			<%=link_to 'Discharge',"#", :class=>'discharge_btn btn btn-danger  context disable',:style=>"line-height:3em;width:100px" %>
		
			
		</center>
		</div>
		</div>
		<!-- Main nenu -->
		
		<!-- Top panel -->
		<div class="row  context-panel">
	
				
				<div class="col-6 col-sm-6 col-lg-3 widget" id="panel-a">
				<%=inline(this,:'_widget_patient')%>
				</div>
				
				<div class="col-6 col-sm-6 col-lg-3 station widget" id="panel-a">
				<%=inline(this,:'_widget_vitalsign')%>
				</div >
			
				<div class="col-6 col-sm-6 col-lg-3" id="panel-b">
				<%=inline(this,:'_widget_ecg')%>
				</div >
				
				
				<div class="col-6 col-sm-6 col-lg-3" id="panel-c">
				<%=inline(this,:'_widget_dvr')%>
				</div >	
				
				<div class="col-6 col-sm-6 col-lg-3 ">
				<%=inline(this,:'_widget_map')%>
				</div>
				
				
		
			
				<div class="col-6 col-sm-6 col-lg-9">
				<%=inline(this,:'_widget_all_ambulance')%>
			
				</div>
				
				
				
				<div class="col-12 col-sm-12 col-lg-12">
				<%=inline(this,:'_widget_all_map')%>
			
				</div>
		</div>
		
		<!-- Context -->
		<div class="row">
			
		</div>
		
		
	</div>
<div class="modal fade" id="admit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="color:black">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      
    </div>
  </div>
</div>
	
			<script type="text/javascript">
	    

				$(document).ready(function(){
					
					var selected_ambu = null;
					var selected_station_id = null;
					var selected_station_name = null;
					var selected_admit_id = null;
					
					
					$('.chart_btn').click(function(){
						
						window.open('../Admit/show?id='+selected_admit_id)
						
					})
					
					$('.discharge_btn').click(function(){
						
						window.location = '../Admit/discharge?id='+selected_admit_id
						
					})
					
					$('.summary_btn').click(function(){
						
						window.open('../Admit/summary?id='+selected_admit_id)
						
					})
					
					
					$('.call_btn').click(function(){
						
						// $('#call-'+selected_ambu).click()
						
						$('.callEnd').click();
						setTimeout(function(){ 

								$('#resourceId').val(selected_station_name)
								$('.callStart').click();

							}, 1500);
							event.preventDefault()
						
					})
					
					
					
					
					$('.note_btn').click(function(event){	
					
						event.preventDefault();
						$.get( "nurse_note_create?admit_id="+selected_admit_id,function(data,status){
						  $('.modal-content').html(data);
						});
		
				  	  	$('#admit-modal').modal({
				  	    	backdrop: 'static',
				  	    	keyboard: false
				  	 	})
	
					})
					
				
			<% for i in ambulances 
				
				
					begin	
					resource_id = i.name
				
					admit = nil
					admit = Admit.where(:ambulance_id=>i.id, :status=>'Admitted').first
				
					patient = nil
					patient = admit.patient if admit
				
					station_id = 'station_id'
				
					if admit
					
						station = admit.station
				
					else
						station = i.station
					end
				
					if station
						station_id= station.name
					end
				
					%>
					
					
					
					$('#call-<%=i.id%>').click(function(event){
						$('.callEnd').click();
						setTimeout(function(){ 

								$('#resourceId').val("<%=i.name%>")
								$('.callStart').click();

							}, 1500);
							event.preventDefault()
					})
					
				
					
				
					$('.select-<%=i.id%>').click(function(event){
					
					    admit_id = $(this) 
						
						
						$('.station .value').html('-')
						$(".ambu-row").removeClass('selected');
						$(".ambu-<%=i.id%>").addClass('selected');
						
						
						if(selected_station_name!=null){
							$('.context-panel').removeClass('station-'+selected_station_name)
							$('.context-header').removeClass('station-'+selected_station_name)
						
						}
						selected_ambu = "<%=i.id%>"
						selected_station_name = "<%=station_id%>"
						selected_admit_id = null
						<% if admit %>
						selected_admit_id = "<%=admit.id%>"
						
						$('.context').removeClass('disable')
						
						<% else %>
						$('.context').addClass('disable')
						
						<% end %>
						selected_station_id = null
						<% if station %>
						selected_station_id = "<%=station.id%>"
						<% end %>
						
						$('.context-panel').addClass('station-<%=station_id%>')
						$('.context-header').addClass('station-<%=station_id%>')
					
						reload_message("<%=station.id%>")
					
						$('#resourceId').val("<%=i.name%>")
					
						//show_wave_data['0'] = [];
						show_wave_data['1'] = [];
						show_wave_data['2'] = [];
						show_wave_data['3'] = [];
						show_wave_data['4'] = [];
						show_wave_data['5'] = [];
					
					
						$('#wave-0').html("")
						$('#wave-1').html("")
						$('#wave-2').html("")
						$('#wave-3').html("")
						$('#wave-4').html("")
						$('#wave-5').html("")
					
					
						var full = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '');
						prefix = full+"/<%=@context.settings.name%>"
						admit_path = prefix+"/Station/show?id=<%=station_id%>"
						<% if admit %>	
						admit_path = prefix+"/Admit/show?id=<%=admit.id%>"
						<% end %>
					
						// dvr_path = "https://103.76.181.125:8080/808gps/open/player/video.html?lang=en&devIdno=<%=i.device_no%>&jsession=3883c38b-c306-4f48-a837-7c9a8dcda3f0"
						dvr_path = "https://103.76.181.125:8080/808gps/open/player/video.html?lang=en&devIdno=<%=i.device_no%>&account=admin&password=admin"
						tele_path =  prefix+"/Sas/tele?resourceId=<%=i.name%>"
					
				       $('iframe').attr( "src", dvr_path);
					
					
						console.log("#select view1|"+admit_path+" view2|"+dvr_path+" view3|"+tele_path)
					
						// $('.callEnd').click();
	// 					setTimeout(function(){
	//
	// 							$('#resourceId').val("<%=i.name%>")
	// 					        $('.callStart').click();
	//
	// 						}, 1500);
	//
						event.preventDefault()

					})

				<% rescue Exception=>e
				end%>	
				
				<% end %>	
				
				
				<%=inline(this,:'_ecg.js')%>
   

		     // var wave_data = [];
		 
			 var show_wave_data = {};
		 
			 var wave_data = {};

		<% 5.times do |i|
		
			  %>
	   
		   i = "<%=i+1%>"
	   
		   show_wave_data[i] = [];

		  showWave('wave-<%=i+1%>',show_wave_data, i );
	
	    <% end %>

	<% if stations %>
			<% for i in stations.collect{|i| i.name}.sort %>
		   
			   i = "<%=i%>"
		   
			   wave_data[i] = [];
	
			  showWave('wave-<%=i%>',wave_data,i);
		
		    <% end %>
	<% end %>	
   
	   	 <%=inline(this,:'_websocket.js')%>
			  tag = 'wss://' + window.location.host + "/<%=@context.settings.name%>/Home/index";
		  var ws  = new WebSocket('wss://' + window.location.host + "/<%=@context.settings.name%>/Home/index");
	
	
	      ws.onopen    = function()  { show('websocket opened'); 
			<%begin%>
		  	ws.send('WS.Select name=<%=session.id%>\n["Zone <%="miot/#{@context.settings.name}/z/#{@current_zone.name}"%>","ZoneUpdate zone_id=*","Alert station_id=*","Data.Image station_id=*"]')
			<%rescue Exception=>e
			end%>
		  };
    
	
		  ws.onclose   = function()  { show('websocket closed'); 
		
		 	setTimeout(function () {
		       // window.location.href = "index"; //will redirect to your blog page (an ex: blog.html)
		    }, 2000); //will call the function after 2 secs.
	

	      }
	  
	      ws.onmessage = function(m) { 
		console.log("zz"+m.data.length)	
			  <% if params[:debug] %>
			show(''+m.data)
			  <% end %>
		
			lines = m.data.split("\n")
		
			// console.log(lines[0].split(" ")[0])
			if(lines[0].split(" ")[0]=='Alert'){
				data = JSON.parse(lines[1])
		
				$('#'+data['station']).addClass('bp_alert_2');
				$('#'+data['station']+' .msg').html(data['alert']);
			
				// play sound it is work
				ion.sound.play("bell_ring");
			
			}else
			
			if(lines[0].split(" ")[0]=='Zone.Message'){
			
				if(selected_station_id!=null)
				reload_message(selected_station_id)

		
			}
			else
			if(lines[0].split(" ")[0]=='Data.Image'){
		
				lines.shift()
				img = lines.join("")
				// alert('image '+m.data.length)
			
				$("#image").attr('src','data:image/jpg;base64,'+ JSON.parse(img))
			
			
			}
			else
			if(lines[0].split(" ")[0]=='ZoneUpdate'){

			data = JSON.parse(lines[1])
	
			
			$('.timer').html(data['time'])
				console.log(selected_ambu)	
			if(selected_ambu&&data['ambu_data']){
				
				ambu = data['ambu_data'][selected_ambu]
				if( data['admit_data']&&ambu['admit_id']){
				admit = data['admit_data'][ambu['admit_id']]
				if(admit){
					console.log(admit['patient']['first_name'])
					
					$('.selection .ambu-name .value').html(ambu['name'])
					$('.selection .patient-name .value').html(admit['patient']['first_name']+" "+admit['patient']['last_name'])
				}
				}
			
				
			}	
			console.log("yy"+data['list'].length)	

			for(var id in data['list']){
				i = data['list'][id]
			
			
				  obj = data['data'][i]
				
				 // console.log(obj)
				if(obj){
			
				  if(true){	

					    // wave_data.push(obj['wave']);
				   		// wave_data = wave_data.concat(obj['wave']);
						// for(var j=0;j<obj['leads'].length;j++){
						// 	wave_data[i].push(obj['wave'][j]);
						// }
						// console.log(wave_data)
						// console.log(i)
						if(wave_data[i]==null){
							wave_data[i] = []
						}
					
						wave_data[i] = 	wave_data[i].concat(obj['leads'][2])
					   	 // console.log(wave_data[i])
		   				// console.log("v"+i+" "+wave_data[i].length);
						// wave_data = obj['wave'];
				   }
		
			
				if(selected_ambu&&data['ambu_data']&&data['ambu_data'][selected_ambu]['name']==i){
		
						// admit = data['admit_data'][ambu['admit_id']]
					
					// if(admit&&i==admit['station_name']){
					
						console.log( "Lat "+obj['lat']+" Lng " + obj['lng'])
					    var latlng = {lat: parseFloat(obj['lat']), lng: parseFloat(obj['lng'])};
					
						marker.setPosition(latlng);
						map.setCenter(latlng);
					
					    var path = poly.getPath();
					    path.push(marker.position);
					
					
						show_wave_data['1'] = 	show_wave_data['1'].concat(obj['leads'][1])	
						show_wave_data['2'] = 	show_wave_data['2'].concat(obj['leads'][2])	
						show_wave_data['3'] = 	show_wave_data['3'].concat(obj['leads'][3])	
						show_wave_data['4'] = 	show_wave_data['4'].concat(obj['leads'][4])
						show_wave_data['5'] = 	show_wave_data['5'].concat(obj['leads'][5])	
					
					// }
				
				}
			
		    			
			
				 	console.log(obj)
					$('.station-'+i+' .hn').html(obj['ref'])
			
					if($('.station-'+i+' .bp').html()!=obj['bp']){
						$('.station-'+i).addClass('bp_alert');
						$('.station-'+i).removeClass('bp_alert_2');
						$('.station-'+i+' .msg').html("-");
					}else{
						$('.station-'+i).removeClass('bp_alert');
						// $('#'+i).removeClass('bp_alert_2');
						// $('#'+i+' .msg').html("-");
					}
			
					$('.station-'+i+' .bp .value').html(obj['bp'])
			
					$('.station-'+i+' .temp .value').html(obj['temp'])
			
					$('.station-'+i+' .hr .value').html(obj['hr'])
					$('.station-'+i+' .pr .value').html(obj['pr'])
					$('.station-'+i+' .rr .value').html(obj['rr'])
					$('.station-'+i+' .spo2 .value').html(obj['spo2'])
			
			
					$('.station-'+i+' .score .value').html(obj['score'])
			
				    sos = parseInt(obj['score']);
					color = 'none'
				
					if(sos<2)color='#262'
					if(sos<4&&sos>=2)color='#662'
					if(sos>=4)color='#622'
				
				
				
					$('.note-panel-'+i).css('background',color);
			
			}
			
			}
			 }
		 };


	
		})
   


	   </script>
	
	
</div>

</div>
<div style="font-size:0.8em;color:#999">
	
  	<div style="float:right" class="timer">
	00:00
	</div>
E.S.M.Solution Co.,Ltd. and Aliance
</div>

<br/>
<a href="tel:+66865443352">0865443352</a>
<%= inline(this,:'../home/_scoring') %>

<i style="color:#666">  <div id="msgs" style="font-size:0.8em"></div></i>
