<%
		
admit = Admit.find params[:admit_id]
patient = Patient.find admit.patient_id

report = AocCaseReport.where(:admit_id=>admit.id).first 

secname = %w{ section หน่วยบริการ ข้อมูลเวลา ข้อมูลผู้ป่วย เกณฑ์การตัดสินใจส่งโรงพยาบาล การประเมิน/รองรับการนำส่ง ผลการรักษาในโรงพยาบาล}
diag_sel = %w{ ไม่จำเป็น ไม่ได้ทำ ทำและเหมาะสม ทำแต่ไม่เหมาะสม }

cause = []
cause << "ปวดท้อง หลัง เชิงกราน และขาหนีบ"
cause << "แอนนาฟิแลกซิส ปฏิกิริยาภูมิแก้/แมลงกัด"
cause << "สัตว์กัด"
cause << "เลือดออกไม่ใช่จากการบาดเจ็บ"
cause << "หายใจลำบาก"
cause << "หัวใจหยุดเต้น"
cause << "เจ็บแน่นทรวงอก หัวใจ"
cause << "สำลักอุดทางเดินหายใจ"
cause << "เบาหวาน"
cause << "อันตรายจากสภาพแวดล้อม"
cause << "อื่นๆ(เว้นว่าง)"
cause << "ปวดศีรษะลำคอ"
cause << "คลุ้มคลั่ง จิตประสาท อารมณ์"
cause << "ยาเกินขนาด ได้รับพิษ"
cause << "มีครรภ คลอด นรี"
cause << "ชัก"
cause << "ป่วย อ่อนเพลีย"
cause << "อัมพาต(หลอดเลือดสมองตีบแตก)"
cause << "หมดสติ ไม่ตอบสนอง หมดสติชั่ววูบ"
cause << "เด็ก ทารก (กุมารเวชกรรม)"
cause << "ถูกทำร้าย บาดเจ็บ"
cause << "ไฟไหม้ ลวก ความร้อน กระแสไฟฟ้า สารเคมี"
cause << "จมน้ำ หน้าคว่ำจมน้ำ บาดเจ็บเหตุดำน้ำ บาดเจ็บทางน้ำ"
cause << "พลัดตกหกล้ม อุบัติเหตุ"
cause << "อุบัติเหตุยานยนต์"

unless report
	report = AocCaseReport.create :admit_id=>admit.id
end

if request.post? 

	report.update_attributes params[:report]

%>
<%#=params[:report].inspect%>
<META HTTP-EQUIV="Refresh" CONTENT="0;URL=summary?admit_id=<%=admit.id %>">
	
<%
	
else
			
%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<style>
@font-face {
  font-family: IBMPlex;
  src: url("<%=url_for('css/IBMPlexSansThai-Regular.ttf?=22')%>");
}


.activeSec .c-bg{
	/* background:#000; */
	background-image : url('data:image/svg+xml,<svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="20" fill="#2437C6" /></svg>');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding:1.5vh;
	color: #fff;
}

.sidenav {
  background-image: linear-gradient(#C2C2C2, #C2C2C2);
  background-size: 2px 100%;
  background-repeat: no-repeat;
  background-position: center center;

  width: 20vw;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  /* background: #eee; */
  overflow-x: hidden;
  margin: 10vh 0;
}

.sidenav a {
  /* padding: 6px 8px 6px 16px; */
  text-decoration: none;
  font-size: 2vh;
  color: #fff;
  display: block;
  text-align:center;
  margin-top:4vh;

}
.c-bg{
  background-image : url('data:image/svg+xml,<svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="20" fill="#C2C2C2" /></svg>');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding:1vh;
}

.sidenav a:hover {
  color: #2437C6;
}

.main {
  margin-left: 10vw; /* Same width as the sidebar + left position in px */
  font-size: 2vh; /* Increased text to enable scrolling */
  padding: 0px 10px;
  font-family: "IBMPlex", sans-serif;
}

.pinfo{
	text-align:center;	
	background:var(--body-bg);
}
input{
	background:#093A54;
	color:var(--text-grey);
	border: 1px solid #446373;
	padding:10px;
}

.site-item {
  background-color: #07344b;
  border: 1px solid #446373;
  margin:10px;
  padding:10px;
  white-space:nowrap;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>

<form action="create_form" method="post">

<input type="hidden" name="admit_id" value="<%=params[:admit_id]%>">

<script src="https://kit.fontawesome.com/13a3acd719.js" crossorigin="anonymous"></script>
<link href="<%=url_for('css/er_dark.css')%>" rel="stylesheet">
<link href="<%=url_for('css/er.css?=22')%>" rel="stylesheet">
<!--Content-->
<div class="row">
<div id="crnav" class="col-2 sidenav">
<div class="pinfo pb-4 rounded"><%=patient.name%></div>
<div class="">
    <a id="sec-1" href="#section-1" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<%=secname[1]%>" style="margin-top:0px"><div class="c-bg">1</div></a>
    <a id="sec-2" href="#section-2" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-html="true" data-content="<%=secname[2]%>"><div class="c-bg">2</div></a>
    <a id="sec-3" href="#section-3" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="<%=secname[3]%>"><div class="c-bg">3</div></a>
    <a id="sec-4" href="#section-4" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<%=secname[4]%>"><div class="c-bg">4</div></a>
    <a id="sec-5" href="#section-5" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="<%=secname[5]%>"><div class="c-bg">5</div></a>
    <a id="sec-6" href="#section-6" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="<%=secname[6]%>"><div class="c-bg">6</div></a> 
</div>
<div class="d-flex justify-content-center mt-5">
	           		
	<button type="submit" class="btn btn-submit d-flex align-items-center justify-content-center">บันทึก</button>

</div>
</div>
<div class="col-10 main">
  <section id="section-1">
    <h3>1 <%=secname[1]%></h3>
		<div class="card patient-info">
			<div class="row">
				<div class="col-sm-12">
					ชื่อหน่วยบริการ 
					<input type="text" name="report[center_name]" value="<%=report.center_name%>" id="report_center_name">
				</div>
				<div class="col-sm-12 pt-3">
					เจ้าหน้่าที่ผู้ให้บริการ
				</div>
				<div class="col-sm-3">
					1. 
					<input type="text" name="report[officer_1]" value="<%=report.officer_1%>" id="report_officer_1">
				</div>
				<div class="col-sm-3">
					รหัส 
					<input type="text" name="report[officer_id_1]" value="<%=report.officer_id_1%>" id="report_officer_id_1">
				</div>
				<div class="col-sm-3">
					2. 
					<input type="text" name="report[officer_2]" value="<%=report.officer_2%>" id="report_officer_2">
				</div>
				<div class="col-sm-3">
					รหัส 
					<input type="text" name="report[officer_id_2]" value="<%=report.officer_id_2%>" id="report_officer_id_2">
				</div>
				<div class="col-sm-3">
					3. 
					<input type="text" name="report[officer_3]" value="<%=report.officer_3%>" id="report_officer_3">
				</div>
				<div class="col-sm-3">
					รหัส 
					<input type="text" name="report[officer_id_3]" value="<%=report.officer_id_3%>" id="report_officer_id_3">
				</div>
				<div class="col-sm-3">
					4. 
					<input type="text" name="report[officer_4]" value="<%=report.officer_4%>" id="report_officer_4">
				</div>
				<div class="col-sm-3">
					รหัส 
					<input type="text" name="report[officer_id_4]" value="<%=report.officer_id_4%>" id="report_officer_id_4">
				</div>

			</div>
			<hr class="hr-trauma">
			<div class="tab-content report" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-treatment" role="tabpanel"
					aria-labelledby="pills-treatment-tab" style="width: 100%;">
					<div class="row no-gutters mt-3">
						<div class="col-sm d-flex align-items-center justify-content-center">
							<h5 class="">ผลการปฏิบัติงาน</h5>

						</div>
						<div class="col-sm">
							<div class="card m-3 "  style="color: #dcdcdc; background-color: #093A54; ">
								<ul class="list-group list-group-flush parameter" field="treatment_breath">
									<input type="hidden" name="report[result]" value="<%=report.result%>" id="report_result">								
									<li class="list-group-item ">ไม่พบเหตุ</li>
									<li class="list-group-item ">พบเหตุ</li>									
								</ul>
							</div>
						</div>
					</div>
			
					
				</div>
			</div>
			<hr class="hr-trauma">
			<div class="row">
				<div class="col-sm-12 pt-3">
					เหตุการณ์
				</div>
				<div class="col-sm-12">
					<div class="row">
					
						<input type="hidden" name="report[site_desc]" value="<%=report.site_desc%>" id="report_site_desc">	
						<%cause.each_with_index{|c,i|%>							
							<div class="col-sm"><div class="site-item"><%="#{i+1}. #{c}"%></div></div>
						<%}%>						
					</div>	
				</div>
			</div>
		</div>	  
  </section>
  <section id="section-2">
    <h3>2 <%=secname[2]%></h3>
	<div class="card patient-info">
		<div class="row">
				<div class="col-sm-12 pt-3">
					เวลา
				</div>
				
				<div class="col-sm-3">
					รับแจ้ง 
					<input type="text" name="report[time_get]" value="<%=report.time_get%>" id="report_time_get">
				</div>
				<div class="col-sm-3">
					สั่งการ 
					<input type="text" name="report[time_order]" value="<%=report.time_order%>" id="report_time_order">
				</div>
				<div class="col-sm-3">
					ออกจากฐาน
					<input type="text" name="report[time_leave]" value="<%=report.time_leave%>" id="report_time_leave">
				</div>
				<div class="col-sm-3">
					ถึงที่เกิดเหตุ 
					<input type="text" name="report[time_arrive]" value="<%=report.time_arrive%>" id="report_time_arrive">
				</div>
				<div class="col-sm-6">
					Response Time 
					<input type="text" name="report[sum_time_response]" value="<%=report.sum_time_response%>" id="report_sum_time_response">
				</div>
				<div class="col-sm-6">
					ระยะทาง 
					<input type="text" name="report[dis_response]" value="<%=report.dis_response%>" id="report_dis_response">
				</div>
			</div>
			<hr class="hr-trauma">
			<div class="row">
				
				<div class="col-sm-4">
					ออกจากที่เกิดเหตุ
					<input type="text" name="report[time_back]" value="<%=report.time_back%>" id="report_time_back">
				</div>
				<div class="col-sm-4">
					ถึงรพ.
					<input type="text" name="report[time_hos]" value="<%=report.time_hos%>" id="report_time_hos">
				</div>
				<div class="col-sm-4">
					ถึงฐาน
					<input type="text" name="report[time_base]" value="<%=report.time_base%>" id="report_time_base">
				</div>
				<div class="col-sm-3">
					เวลาไป รพ. 
					<input type="text" name="report[sum_time_to_hos]" value="<%=report.sum_time_to_hos%>" id="report_sum_time_to_hos">
				</div>
				<div class="col-sm-3">
					ระยะทางไป รพ. 
					<input type="text" name="report[dis_to_hos]" value="<%=report.dis_to_hos%>" id="report_dis_to_hos">
				</div>
				<div class="col-sm-3">
					เวลากลับฐาน 
					<input type="text" name="report[sum_time_to_base]" value="<%=report.sum_time_to_base%>" id="report_sum_time_to_base">
				</div>
				<div class="col-sm-3">
					ระยะทางกลับฐาน 
					<input type="text" name="report[dis_to_base]" value="<%=report.dis_to_base%>" id="report_dis_to_base">
				</div>

			</div>
		</div>
  </section>
  <section id="section-3">
    <h3>3 <%=secname[3]%></h3>
		<!--trauma choice-->
		<div class="card patient-info">
			<div class="card-header">
				<nav class="nav nav-pills flex-column flex-sm-row" id="pills-tab" role="tablist">
					<a class="flex-sm-fill text-sm-center nav-link active" id="pills-trauma-tab" data-toggle="pill"
						href="#pills-trauma" role="tab" aria-controls="pills-trauma" aria-selected="true">Trauma</a>
					<a class="flex-sm-fill text-sm-center nav-link" id="pills-nontrauma-tab" data-toggle="pill"
						href="#pills-nontrauma" role="tab" aria-controls="pills-nontrauma"
						aria-selected="false">Non-Trauma</a>
			</div>

			<div class="tab-content report" id="pills-tabContent">
					<div class="tab-pane fade show active" id="pills-trauma" role="tabpanel"
						aria-labelledby="pills-trauma-tab" style="width: 100%;">
						<div class="row no-gutters mt-3">
							<div class="col-sm d-flex align-items-center justify-content-center">
								<h5 class="">ความรู้สึกตัว</h5>

							</div>
							<div class="col-sm">
								<div class="card m-3 "  style="color: #dcdcdc; background-color: #093A54; ">
									<ul class="list-group list-group-flush parameter" field="trauma_concious">
										<input type="hidden" name="report[trauma_concious]" value="<%=report.trauma_concious%>" id="report_trauma_concious">
										<li class="list-group-item  ">รู้สึกตัวดี</li>
										<li class="list-group-item  ">ซึม</li>
										<li class="list-group-item  ">หมดสติปลุกตื่น</li>
										<li class="list-group-item  ">หมดสติปลุกไม่ตื่น</li>
										<li class="list-group-item  ">เอะอะโวยวาย</li>
									</ul>
								</div>
							</div>
						</div>
						<style>
							.report .selected{
								background:#103a59;
							}
							.report .inactive{
								display:none;
							}
							
						</style>
				
						<hr class="hr-trauma">
						<div class="row no-gutters mt-3">
							<div class="col-sm d-flex align-items-center justify-content-center">
								<h5 class="">บาดแผล</h5>

							</div>
							<div class="col-sm">
								<div class="card m-3"
									style="color: #dcdcdc; background-color: #054366; ">
									<ul class="list-group list-group-flush parameter" field="trauma_wound" >
										<input type="hidden" name="report[trauma_wound]" value="<%=report.trauma_wound%>" id="report_trauma_wound">
										<li class="list-group-item ">No</li>
										<li class="list-group-item ">Cut/Laceration</li>
										<li class="list-group-item ">Abrasion</li>
										<li class="list-group-item ">Contusion</li>
										<li class="list-group-item ">Burn</li>
										<li class="list-group-item ">Stab Wound</li>
										<li class="list-group-item ">Amputate</li>
										<li class="list-group-item ">Gun Shot</li>
									</ul>
								</div>
							</div>
						</div>
						<hr class="hr-trauma">
						<div class="row no-gutters mt-3">
							<div class="col-sm d-flex align-items-center justify-content-center">
								<h5 class="">กระดูกผิดรูป</h5>

							</div>
							<div class="col-sm">
								<div class="card m-3"
									style="color: #dcdcdc; background-color: #054366; ">
									<ul class="list-group list-group-flush parameter" field="trauma_bone">
										<input type="hidden" name="report[trauma_bone]" value="<%=report.trauma_bone%>" id="report_trauma_bone">
										
										<li class="list-group-item">No</li>
										<li class="list-group-item">Closed</li>
										<li class="list-group-item">Opened</li>
										<li class="list-group-item">Dislocate</li>
									</ul>
								</div>
							</div>
						</div>
						<hr class="hr-trauma">
						<div class="row no-gutters mt-3">
							<div class="col-sm d-flex align-items-center justify-content-center">
								<h5 class="">การเสียเลือด</h5>

							</div>
							<div class="col-sm">
								<div class="card m-3"
									style="color: #dcdcdc; background-color: #054366; ">
									<ul class="list-group list-group-flush parameter" field="trauma_blood">
										<input type="hidden" name="report[trauma_blood]" value="<%=report.trauma_blood%>" id="report_trauma_blood">
										
										<li class="list-group-item">No</li>
										<li class="list-group-item">Cut/Laceration</li>
										<li class="list-group-item">Abrasion</li>
										<li class="list-group-item">Contusion</li>
									</ul>
								</div>
							</div>
						</div>
						<hr class="hr-trauma">
						<div class="row no-gutters mt-3 mb-3">
							<div class="col-sm d-flex align-items-center justify-content-center">
								<h5 class="">อวัยวะ</h5>

							</div>
							<div class="col-sm">
								<div class="card m-3"
									style="color: #dcdcdc; background-color: #054366; ">
									<ul class="list-group list-group-flush parameter" field="trauma_organ">
										<input type="hidden" name="report[trauma_organ]" value="<%=report.trauma_organ%>" id="report_trauma_organ">
										
										<li class="list-group-item">Head/Neck</li>
										<li class="list-group-item">Face</li>
										<li class="list-group-item">Spine/Back</li>
										<li class="list-group-item">Chest/Clavicle</li>
										<li class="list-group-item">Abdomen</li>
										<li class="list-group-item">Pelvis</li>
										<li class="list-group-item">Extremities</li>
										<li class="list-group-item">External Body Surface</li>
										<li class="list-group-item">Multiple Injury Back</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				

					<div class="tab-pane fade" id="pills-nontrauma" role="tabpanel"
						aria-labelledby="v-pills-nontrauma-tab" style="width: 100%;">

						<div class="row no-gutters mt-3">
							<div class="col-sm d-flex align-items-center justify-content-center">
								<h5 class="">อายุรกรรม</h5>

							</div>
							<div class="col-sm">
								<div class="card m-3"
									style="color: #dcdcdc; background-color: #093A54; ">
									<ul class="list-group list-group-flush parameter" field="non_trauma_med">
										<input type="hidden" name="report[non_trauma_med]" value="<%=report.non_trauma_med%>" id="report_non_trauma_med">
										<li class="list-group-item">Dyspnea</li>
										<li class="list-group-item">High Fever</li>
										<li class="list-group-item">Ulteration of Conscious</li>
										<li class="list-group-item">Seizure</li>
										<li class="list-group-item">Chest Pain</li>
										<li class="list-group-item">Poisoning</li>
										<li class="list-group-item">Digestive</li>
										<li class="list-group-item">Other (ระบุ)</li>
									</ul>
								</div>
							</div>
						</div>
						<hr class="hr-trauma">
						<div class="row no-gutters mt-3">
							<div class="col-sm d-flex align-items-center justify-content-center">
								<h5 class="">สูติ-นรีเวชฯ</h5>

							</div>
							<div class="col-sm">
								<div class="card m-3"
									style="color: #dcdcdc; background-color: #054366; ">
									<ul class="list-group list-group-flush parameter" field="non_trauma_gyne">
										<input type="hidden" name="report[non_trauma_gyne]" value="<%=report.non_trauma_gyne%>" id="report_non_trauma_gyne">
										<li class="list-group-item">Labour pain child birth</li>
										<li class="list-group-item">Bleeding per Vagina</li>
										<li class="list-group-item">High risk preg</li>
										<li class="list-group-item">Rape</li>
										<li class="list-group-item">Other (ระบุ)</li>
									</ul>
								</div>
							</div>
						</div>
						<hr class="hr-trauma">
						<div class="row no-gutters mt-3">
							<div class="col-sm d-flex align-items-center justify-content-center">
								<h5 class="">กุมารฯ</h5>

							</div>
							<div class="col-sm">
								<div class="card m-3"
									style="color: #dcdcdc; background-color: #054366; ">
									<ul class="list-group list-group-flush parameter" field="non_trauma_pediatric">
										<input type="hidden" name="report[non_trauma_pediatric]" value="<%=report.non_trauma_pediatric%>" id="report_non_trauma_pediatric">
										<li class="list-group-item">Convulsion</li>
										<li class="list-group-item">High Fever</li>
										<li class="list-group-item">Dyspnea</li>
										<li class="list-group-item">Digestive</li>
										<li class="list-group-item">Other (ระบุ)</li>
									</ul>
								</div>
							</div>
						</div>
						<hr class="hr-trauma">
						<div class="row no-gutters mt-3">
							<div class="col-sm d-flex align-items-center justify-content-center">
								<h5 class="">ศัลยกรรม</h5>

							</div>
							<div class="col-sm">
								<div class="card m-3"
									style="color: #dcdcdc; background-color: #054366; ">
									<ul class="list-group list-group-flush parameter" field="non_trauma_surgery">
										<input type="hidden" name="report[non_trauma_surgery]" value="<%=report.non_trauma_surgery%>" id="report_non_trauma_surgery">
										<li class="list-group-item">Ac. abdominal pain</li>
										<li class="list-group-item">GI Bleeding</li>
										<li class="list-group-item">Other (ระบุ)</li>
									</ul>
								</div>
							</div>
						</div>
						<hr class="hr-trauma">
						<div class="row no-gutters mt-3">
							<div class="col-sm d-flex align-items-center justify-content-center">
								<h5 class="">อื่นๆ</h5>

							</div>
							<div class="col-sm">
								<div class="card m-3"
									style="color: #dcdcdc; background-color: #054366; ">
									<ul class="list-group list-group-flush parameter" field="non_trauma_etc">
										<input type="hidden" name="report[non_trauma_etc]" value="<%=report.non_trauma_etc%>" id="report_non_trauma_etc">
										<li class="list-group-item">Eye</li>
										<li class="list-group-item">ENT</li>
										<li class="list-group-item">Ortho</li>
										<li class="list-group-item">Psychological problem</li>
									</ul>
								</div>
							</div>
						</div>
					</div>                  


			</div>


		</div>

		<!--Treatment choice-->
		<div class="card patient-info">
			<div class="card-header">
				<nav class="nav nav-pills flex-column flex-sm-row" id="pills-tab" role="tablist">
					<a class="flex-sm-fill text-sm-center nav-link active" id="pills-treatment-tab" data-toggle="pill"
						href="#pills-treatment" role="tab" aria-controls="pills-treatment" aria-selected="true">Treatment</a>
			</div>

			<div class="tab-content report" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-treatment" role="tabpanel"
					aria-labelledby="pills-treatment-tab" style="width: 100%;">
					<div class="row no-gutters mt-3">
						<div class="col-sm d-flex align-items-center justify-content-center">
							<h5 class="">ทางเดินหายใจ/ การหายใจ</h5>

						</div>
						<div class="col-sm">
							<div class="card m-3 "  style="color: #dcdcdc; background-color: #093A54; ">
								<ul class="list-group list-group-flush parameter" field="treatment_breath">
									<input type="hidden" name="report[treatment_breath]" value="<%=report.treatment_breath%>" id="report_treatment_breath">
									<li class="list-group-item ">No</li>
									<li class="list-group-item ">Clear airway</li>
									<li class="list-group-item ">Suction</li>
									<li class="list-group-item ">O2 canular/mask</li>
									<li class="list-group-item ">Ambu bag</li>
									<li class="list-group-item ">ET</li>
									<li class="list-group-item ">Amputate</li>
								</ul>
							</div>
						</div>
					</div>
					<style>
						.report .selected{
							background:#103a59;
						}
						.report .inactive{
							display:none;
						}
						
					</style>
			
					<hr class="hr-trauma">
					<div class="row no-gutters mt-3">
						<div class="col-sm d-flex align-items-center justify-content-center">
							<h5 class="">บาดแผล/ห้ามเลือด</h5>

						</div>
						<div class="col-sm">
							<div class="card m-3"
								style="color: #dcdcdc; background-color: #054366; ">
								<ul class="list-group list-group-flush parameter" field="treatment_wound" >
									<input type="hidden" name="report[treatment_wound]" value="<%=report.treatment_wound%>" id="report_treatment_wound">
									<li class="list-group-item ">No</li>
									<li class="list-group-item ">Pressure Dressing</li>
									<li class="list-group-item ">Dressing</li>
								</ul>
							</div>
						</div>
					</div>
					<hr class="hr-trauma">
					<div class="row no-gutters mt-3">
						<div class="col-sm d-flex align-items-center justify-content-center">
							<h5 class="">การให้สารน้ำ</h5>

						</div>
						<div class="col-sm">
							<div class="card m-3"
								style="color: #dcdcdc; background-color: #054366; ">
								<ul class="list-group list-group-flush parameter" field="treatment_liquid">
									<input type="hidden" name="report[treatment_liquid]" value="<%=report.treatment_liquid%>" id="report_treatment_liquid">
									
									<li class="list-group-item">No</li>
									<li class="list-group-item">NSS</li>
									<li class="list-group-item">RLS</li>
									<li class="list-group-item">5%DN/2</li>
									<li class="list-group-item">on locked</li>
									<li class="list-group-item">Others</li>
								</ul>
							</div>
						</div>
					</div>
					<hr class="hr-trauma">
					<div class="row no-gutters mt-3">
						<div class="col-sm d-flex align-items-center justify-content-center">
							<h5 class="">การดามกระดูก</h5>

						</div>
						<div class="col-sm">
							<div class="card m-3"
								style="color: #dcdcdc; background-color: #054366; ">
								<ul class="list-group list-group-flush parameter" field="treatment_bone">
									<input type="hidden" name="report[treatment_bone]" value="<%=report.treatment_bone%>" id="report_treatment_bone">
									
									<li class="list-group-item">No</li>
									<li class="list-group-item">เผือกลม/ไม้ดาม/ sling</li>
									<li class="list-group-item">Collar With  Long Spinal Board</li>
									<li class="list-group-item">KED</li>
								</ul>
							</div>
						</div>
					</div>
					<hr class="hr-trauma">
					<div class="row no-gutters mt-3 mb-3">
						<div class="col-sm d-flex align-items-center justify-content-center">
							<h5 class="">การทำ CPR</h5>

						</div>
						<div class="col-sm">
							<div class="card m-3"
								style="color: #dcdcdc; background-color: #054366; ">
								<ul class="list-group list-group-flush parameter" field="treatment_cpr">
									<input type="hidden" name="report[treatment_cpr]" value="<%=report.treatment_cpr%>" id="report_treatment_cpr">
									
									<li class="list-group-item">No</li>
									<li class="list-group-item">Yes</li>
									<li class="list-group-item">AED/Defib</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<p class="font-weight-bold mt-3" >ยา (วิธีใช้ และขนาด ให้ระบุ)</p>
		<textarea class="chief-complaint" name="report[medicine]"><%=report.medicine%></textarea>

		<div class="card patient-info">
			<div class="row no-gutters mt-3">
				<div class="col-sm d-flex align-items-center justify-content-center">
					<h5 class="" >ผลการดูแลรักษาขั้นต้น</h5>

				</div>
				<div class="col-sm">
					<div class="card m-3"
						style="color: #dcdcdc; background-color: #054366; ">
						<ul class="list-group list-group-flush parameter" field="primary_result">
							<input type="hidden" name="report[primary_result]" value="<%=report.primary_result%>" id="report_primary_result">
							
							<li class="list-group-item">ไม่มีการรักษา</li>
							<li class="list-group-item">ทุเลา</li>
							<li class="list-group-item">คงเดิม</li>
							<li class="list-group-item">ทรุดหนัก</li>
							<li class="list-group-item">เสียชีวิต ณ จุดเกิดเหตุ</li>
							<li class="list-group-item">เสียชีวิต ขณะนำส่ง</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<h5 class="pt-2" >ระดับการคัดแยก (RC code)</h5>
        <div class="row justify-content-between mb-2" style="border:0px solid">
					<input type="hidden" name="report[level]" value="<%=report.level%>" id="report_level">
					
            <div class="col-sm  mb-2 ">
                <a href="#" class="btn btn-triage btn-triage-red <%='active' if report.level=='red' %> " id="red">
                    <p>แดง</p>
                </a>
            </div>
            <div class="col-sm  mb-2">
                <a href="#" class="btn btn-triage btn-triage-yellow <%='active' if report.level=='yellow' %> " id="yellow">
                    <p>เหลือง</p>
                </a>
            </div>
            <div class="col-sm  mb-2">
                <a href="#" class="btn btn-triage btn-triage-green  <%='active' if report.level=='green' %> " id="green">
                    <p>เขียว</p>
                </a>
            </div>
            <div class="col-sm  mb-2">
                <a href="#" class="btn btn-triage btn-triage-white  <%='active' if report.level=='white' %> " id="white">
                    <p>ขาว</p>
                </a>
            </div>
            <div class="col-sm  mb-2">
                <a href="#" class="btn btn-triage btn-triage-black  <%='active' if report.level=='black' %> " id="black">
                    <p>ดำ</p>
                </a>
            </div>
        </div>
  </section>
  <section id="section-4">
	<h3>4 <%=secname[4]%></h3>
		<div class="card patient-info">
			

			<div class="tab-content report" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-treatment" role="tabpanel"
					aria-labelledby="pills-treatment-tab" style="width: 100%;">
					<div class="row no-gutters mt-3">
						<div class="col-sm d-flex align-items-center justify-content-center">
							<h5 class="">โรงพยาบาล</h5>

						</div>
						<div class="col-sm">
							<div class="card m-3 "  style="color: #dcdcdc; background-color: #093A54; ">
								<ul class="list-group list-group-flush parameter" field="treatment_breath">
									<input type="hidden" name="report[hospital_type]" value="<%=report.hospital_type%>" id="report_hospital_type">								
									<li class="list-group-item ">รพ.รัฐ</li>
									<li class="list-group-item ">รพ.เอกชน</li>									
								</ul>
							</div>
						</div>
					</div>
			
					<hr class="hr-trauma">
					<div class="row no-gutters mt-3">
						<div class="col-sm d-flex align-items-center justify-content-center">
							<h5 class="">เหตุผล</h5>

						</div>
						<div class="col-sm">
							<div class="card m-3"
								style="color: #dcdcdc; background-color: #054366; ">
								<ul class="list-group list-group-flush parameter" field="treatment_wound" >
									<input type="hidden" name="report[reason]" value="<%=report.reason%>" id="report_reason">
									<li class="list-group-item ">เหมาะสม/สามารถรักษาได้</li>
									<li class="list-group-item ">อยู่ใกล้</li>
									<li class="list-group-item ">มีหลักประกัน</li>
									<li class="list-group-item ">เป็นผู้ป่วยเก่า</li>
									<li class="list-group-item ">เป็นความประสงค์</li>
								</ul>
							</div>
						</div>
					</div>		
					
				</div>
			</div>
		</div>		
  </section>
  <section id="section-5">
    <h3>5 <%=secname[5]%></h3>
		<h5 class="pt-2" >ระดับการคัดแยก (RC code)</h5>
        <div class="row justify-content-between mb-2" style="border:0px solid">
					<input type="hidden" name="report[diag_level]" value="<%=report.diag_level%>" id="report_diag_level">
					
            <div class="col-sm  mb-2 ">
                <a href="#" class="btn btn-triage btn-triage-red <%='active' if report.diag_level=='red' %> " id="red">
                    <p>แดง</p>
                </a>
            </div>
            <div class="col-sm  mb-2">
                <a href="#" class="btn btn-triage btn-triage-yellow <%='active' if report.diag_level=='yellow' %> " id="yellow">
                    <p>เหลือง</p>
                </a>
            </div>
            <div class="col-sm  mb-2">
                <a href="#" class="btn btn-triage btn-triage-green  <%='active' if report.diag_level=='green' %> " id="green">
                    <p>เขียว</p>
                </a>
            </div>
            <div class="col-sm  mb-2">
                <a href="#" class="btn btn-triage btn-triage-white  <%='active' if report.diag_level=='white' %> " id="white">
                    <p>ขาว</p>
                </a>
            </div>
            <div class="col-sm  mb-2">
                <a href="#" class="btn btn-triage btn-triage-black  <%='active' if report.diag_level=='black' %> " id="black">
                    <p>ดำ</p>
                </a>
            </div>
		</div>

		<div class="card patient-info">
			
			<div class="tab-content report" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-treatment" role="tabpanel"
					aria-labelledby="pills-treatment-tab" style="width: 100%;">
					<div class="row no-gutters mt-3">
						<div class="col-sm d-flex align-items-center justify-content-center">
							<h5 class="">ทางเดินหายใจ</h5>

						</div>
						<div class="col-sm">
							<div class="card m-3 "  style="color: #dcdcdc; background-color: #093A54; ">
								<ul class="list-group list-group-flush parameter" field="treatment_breath">
									<input type="hidden" name="report[diag_breath]" value="<%=report.diag_breath%>" id="report_diag_breath">
									<%	for d in diag_sel %>
									<li class="list-group-item "><%=d%></li>
									<%	end %>
								</ul>
							</div>
						</div>
					</div>
			
					<hr class="hr-trauma">
					<div class="row no-gutters mt-3">
						<div class="col-sm d-flex align-items-center justify-content-center">
							<h5 class="">การห้ามเลือด</h5>

						</div>
						<div class="col-sm">
							<div class="card m-3"
								style="color: #dcdcdc; background-color: #054366; ">
								<ul class="list-group list-group-flush parameter" field="treatment_wound" >
									<input type="hidden" name="report[diag_blood]" value="<%=report.diag_blood%>" id="report_diag_blood">
									<%	for d in diag_sel %>
									<li class="list-group-item "><%=d%></li>
									<%	end %>
								</ul>
							</div>
						</div>
					</div>
					<hr class="hr-trauma">
					<div class="row no-gutters mt-3">
						<div class="col-sm d-flex align-items-center justify-content-center">
							<h5 class="">การให้สารน้ำ</h5>

						</div>
						<div class="col-sm">
							<div class="card m-3"
								style="color: #dcdcdc; background-color: #054366; ">
								<ul class="list-group list-group-flush parameter" field="treatment_liquid">
									<input type="hidden" name="report[diag_liquid]" value="<%=report.diag_liquid%>" id="report_diag_liquid">
									<%	for d in diag_sel %>
									<li class="list-group-item "><%=d%></li>
									<%	end %>
								</ul>
							</div>
						</div>
					</div>
					<hr class="hr-trauma">
					<div class="row no-gutters mt-3">
						<div class="col-sm d-flex align-items-center justify-content-center">
							<h5 class="">การดามกระดูก</h5>

						</div>
						<div class="col-sm">
							<div class="card m-3"
								style="color: #dcdcdc; background-color: #054366; ">
								<ul class="list-group list-group-flush parameter" field="treatment_bone">
									<input type="hidden" name="report[diag_bone]" value="<%=report.diag_bone%>" id="report_diag_bone">
									<%	for d in diag_sel %>
									<li class="list-group-item "><%=d%></li>
									<%	end %>
								</ul>
							</div>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>		
  </section>
  <section id="section-6">
    <h3>6 <%=secname[6]%></h3>
		<div class="card patient-info">
			

			<div class="tab-content report" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-treatment" role="tabpanel"
					aria-labelledby="pills-treatment-tab" style="width: 100%;">
					<div class="row no-gutters mt-3">
						<div class="col-sm d-flex align-items-center justify-content-center">
							<h5 class="">Admitted</h5>

						</div>
						<div class="col-sm">
							<div class="card m-3 "  style="color: #dcdcdc; background-color: #093A54; ">
								<ul class="list-group list-group-flush parameter" field="treatment_breath">
									<input type="hidden" name="report[admitted]" value="<%=report.admitted%>" id="report_admitted">								
									<li class="list-group-item ">Yes</li>
									<li class="list-group-item ">No</li>									
								</ul>
							</div>
						</div>
					</div>
			
					<hr class="hr-trauma">
					<div class="row no-gutters mt-3">
						<div class="col-sm d-flex align-items-center justify-content-center">
							<h5 class="">เหตุผล</h5>

						</div>
						<div class="col-sm">
							<div class="card m-3"
								style="color: #dcdcdc; background-color: #054366; ">
								<ul class="list-group list-group-flush parameter" field="treatment_wound" >
									<input type="hidden" name="report[status]" value="<%=report.status%>" id="report_status">
									<li class="list-group-item ">ทุเลา</li>
									<li class="list-group-item ">รักษาต่อที่อื่น</li>
									<li class="list-group-item ">ยังรักษาในรพ.</li>
									<li class="list-group-item ">เสียชีวิตใน รพ.</li>
									<li class="list-group-item ">ปฏิเสธการรักษา/หนีกลับ</li>
									<li class="list-group-item ">กลับไปตายบ้าน</li>
									<li class="list-group-item ">ตามแล้วไม่ทราบผล</li>
								</ul>
							</div>
						</div>
					</div>		
					
				</div>
			</div>
		</div>		       
  </section>
 
	<section>
	<div class="d-flex justify-content-center mt-5" style="height:20vh">
	           		
		<!--<button type="submit" class="btn btn-submit d-flex align-items-center justify-content-center">บันทึก</button>-->

	</div>
	</section>
</div>
</div>
<script>

	$('.btn-triage2').click(function(event){
		$('.btn-triage').removeClass('active')
		$('#report_level').val($(this).attr("id"))
		$(this).addClass('active')
		event.preventDefault()	
	})
	$('.btn-triage').click(function(event){
		parentdiv = $(this).parent().parent()
		parentdiv.find('.btn-triage').removeClass('active')
		parentdiv.find("input[type='hidden']").val($(this).attr("id"))
		$(this).addClass('active')
		event.preventDefault()
		
	})

	$(".parameter").each(function(){

	$(this).find('.list-group-item').click(function(event){

		p =  $(this).parent()
		f =  p.attr("field")

		input = p.find('input')

	if(input.val()==''){

		val = $(this).html().trim()

		input.val(val)

		p.find(".list-group-item").removeClass('selected')


		p.find(".list-group-item").each(function(){
			v = $(this).html().trim()
			input = $(this).parent().find('input')
			if(v!=input.val()){
			$(this).slideUp();
			}
		});

		$(this).addClass('selected')

	}else{
			input.val('')
			$(this).parent().find('.list-group-item').removeClass('inactive')
			$(this).parent().find('.list-group-item').slideDown();
		}

	});

	val = $(this).find('input').val()
	if(val!=""){
	$(this).find(".list-group-item").each(function(){
		v = $(this).html().trim()
		input = $(this).parent().find('input')
		if(v!=input.val()){
			$(this).slideUp();
		}
	});
	}

	})

</script>

<script>
sel_sec=(id)=>{
  $(".activeSec").removeClass('activeSec')
  $("#sec-"+id).addClass('activeSec')
}
$(document).ready(function(){
  $('#sec-1').addClass("activeSec");
  
    $("#sec-1").click(function() {
        $('html, body').animate({
            scrollTop:  $("#section-1").offset().top-112
        }, 1000);
    return false;
    });
        $("#sec-2").click(function() {
        $('html, body').animate({
            scrollTop:  $("#section-2").offset().top-112
        }, 1000);
    return false;
    });
        $("#sec-3").click(function() {
        $('html, body').animate({
            scrollTop:  $("#section-3").offset().top-112
        }, 1000);
    return false;
    });
        $("#sec-4").click(function() {
        $('html, body').animate({
            scrollTop:  $("#section-4").offset().top-112
        }, 1000);
    return false;
    });
        $("#sec-5").click(function() {
        $('html, body').animate({
            scrollTop:  $("#section-5").offset().top-112
        }, 1000);
    return false;
    });
        $("#sec-6").click(function() {
        $('html, body').animate({
            scrollTop:  $("#section-6").offset().top-112
        }, 1000);
    return false;
    });
        $("#sec-7").click(function() {
        $('html, body').animate({
            scrollTop:  $("#section-7").offset().top-112
        }, 1000);
    return false;
    });
        $("#sec-8").click(function() {
        $('html, body').animate({
            scrollTop:  $("#section-8").offset().top-112
        }, 1000);
    return false;
    });

  $("#sec-9").click(function() {
        $('html, body').animate({
            scrollTop:  $("#section-9").offset().top-112
        }, 1000);
    return false;
    });



$(function() {
    // var oTop = $('#section-9').offset().top - window.innerHeight;
     $(window).scroll(function () {
        // get the element that you want check scrolling on it
        var off = $("#section-2").offset().top; 
        var top = $(window).scrollTop() ;
        console.log(off+' t:'+top+' s:'+$(window).scrollTop()+' h:'+$(window).height())
        if ( top <= $("#section-1").offset().top  ) {
          sel_sec('1')
        }else if ( top > $("#section-1").offset().top  &&  top <=$("#section-2").offset().top) {
            sel_sec('2')
        }else if ( top > $("#section-2").offset().top  &&  top <=$("#section-3").offset().top) {
            sel_sec('3')
        }else if ( top > $("#section-3").offset().top  &&  top <=$("#section-4").offset().top) {
            sel_sec('4')
        }else if ( top > $("#section-4").offset().top  &&  top <=$("#section-5").offset().top) {
            sel_sec('5')
        }else if ( top > $("#section-5").offset().top  &&  top <=$("#section-6").offset().top) {
            sel_sec('6')
        }else if ( top > $("#section-6").offset().top  &&  top <=$("#section-7").offset().top) {
            sel_sec('7')
        }else if ( top > $("#section-7").offset().top  &&  top <=$("#section-8").offset().top) {
            sel_sec('8')
        }else if ( top > $("#section-8").offset().top  &&  top <=$("#section-9").offset().top) {
            sel_sec('9')
        }
    });
});
$(".sidenav a").hover(function(){
  $('[data-toggle="popover"]').popover('hide')
  $(this).popover('show')
})
$(".sidenav a").mouseout(function(){
  $('[data-toggle="popover"]').popover('hide')
})

})

</script>	
	

	
<!--Content-->	
</form>
<% end %>