
<script src="https://kit.fontawesome.com/13a3acd719.js" crossorigin="anonymous"></script>
<link href="<%=url_for('css/aoc.css?=22')%>" rel="stylesheet">
<style>
	.btx{
		width:200px;
		margin:20px;
/*		font-size:2em;*/
/*		padding:30px;*/
	}
</style>
<body class=" body-landing">
<div class="container-fluid body-landing">
        <div class="d-flex justify-content-center mt-4 pt-3">
         <img src="<%=url_for('\img\aoc\PCMs.png')%>" class="landing-logo"/>
        </div>
        <div class="row text-center pt-5">
            <div class="col-sm-12 col-md-6 col-lg-4 mt-4 mb-4">
				                           
				<img src="<%=url_for('\img\aoc\aoc-control.png')%>" class="landing-img">
                <h1 class="mt-4 landing-title">SMART AOC</h1>
                <p class="mx-4 px-4 pb-2  landing-content">ระบบติดตามรถพยาบาลฉุกเฉิน (Ambulance) สามารถประเมินตรวจสอบผล
                แบบเรียลไทม์ มีระบบสื่อสารที่เป็นมาตรฐาน สะดวก เพิ่มประสิทธิภาพการประสานงานระหว่างศูนย์สั่งการและเจ้าหน้าที่ได้ดียิ่งขึ้น  </p>
                <%= link_to "AOC", "aoc", :class=>'btx btn btn-primary' %>
                
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mt-4 mb-4">
                <img src="<%=url_for('\img\aoc\mock-mobile.png')%>" class="landing-img text-center">
                <h1 class="mt-4 landing-title">AOC MOBILE</h1>
                <p class="mx-4 px-4 pb-2  landing-content">ระบบติดตามรถพยาบาลฉุกเฉิน (Ambulance) สามารถประเมินตรวจสอบผล
                แบบเรียลไทม์ มีระบบสื่อสารที่เป็นมาตรฐาน สะดวก เพิ่มประสิทธิภาพการประสานงานระหว่างศูนย์สั่งการและเจ้าหน้าที่ได้ดียิ่งขึ้น  </p>
                <%= link_to "Mobile", "../SmartAOCMobile/index", :class=>'btx btn btn-primary' %>
				<%= link_to "Observer", "observer_index", :class=>'btx btn btn-primary' %>
				
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mt-4 mb-4">
                <img src="<%=url_for('\img\aoc\dash-real.png')%>" class="landing-img">
                <h1 class="mt-4 landing-title">AOC DASHBOARD</h1>
                <p class="mx-4 px-4 pb-2  landing-content">ระบบติดตามรถพยาบาลฉุกเฉิน (Ambulance) สามารถประเมินตรวจสอบผล
                แบบเรียลไทม์ มีระบบสื่อสารที่เป็นมาตรฐาน สะดวก เพิ่มประสิทธิภาพการประสานงานระหว่างศูนย์สั่งการและเจ้าหน้าที่ได้ดียิ่งขึ้น  </p>
                <%= link_to "Dashboard", "dashboard", :class=>'btx btn btn-primary' %>   
				<%= link_to "Central Monitor", "dashboard_station", :class=>'btx btn btn-primary' %>

            </div>
        </div>
    </div>
</body>