
<%= inline(this,:'../lib/_map')  %>

<%= inline(this,:'_init')  %>
 

<style>
       /* Set the size of the div element that contains the map */
      #dashboard-mapx {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }

    </style>

<%

record = @current_case


     if record

     com_list = EMSCommand.where(:case_id=>record.id, :ambulance_id=>@current_ambulance.id).all

    if com_list.size==1

     com = com_list[0]
     admit = record.admit

     last_mile = com.ambulance.last_mile

     last_log = admit.logs.where(:status=>'PENDING').sort(:sort_order=>1).first
	 
	 if last_log
     
	 current_route =  AocCaseRoute.where('$or'=>[{:departure_log_id=>last_log.id},{:arrival_log_id=>last_log.id} ]).first
     previous_log = admit.logs.where(:admit_id=>last_log.admit_id, :sort_order=>last_log.sort_order-1).first if last_log


     last_mile = previous_log.mile_meter if previous_log  and  previous_log.mile_meter
 	  end
   end



%>

<style>
.modal-header{
  padding:5px;
}
.modal-body{
  padding:5px;
}

.modal-footer{
  padding:5px;
}

</style>

<% if last_log %>
<!-- Button trigger modal -->
<!-- Modal -->

<div class="modal fade" id="modal_tracking" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-sm " style="max-width:300px">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><span class="tracking_msg"> <%=last_log.name %></span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="font-size:1.5em">
        <center>
        <input type="text" class="mile_meter" value="<%=last_mile %>" style="width:120px;text-align:center;font-size:1.5em"/>
        </center>

      </div>
      <div class="modal-footer d-flex justify-content-between">
        <div class="col-4">
        <a type="button" class="btn btn-secondary btn-success mile-plus">+</a>
        <a type="button" class="btn btn-secondary btn-danger mile-minus">-</a>
        </div>
        <div class="col-7" style="text-align:right">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary mile-submit">Submit</button>
        </div>
        <script>
            $('.mile-plus').click(function(e){
                v = parseInt($('.mile_meter').val())
                $('.mile_meter').val(v+1)
            })
            $('.mile-minus').click(function(e){
                v = parseInt($('.mile_meter').val())
                $('.mile_meter').val(v-1)
            })

            $('.mile-submit').click(function(e){
                v = parseInt($('.mile_meter').val())


                // Assign handlers immediately after making the request,
                // and remember the jqxhr object for this request
                var jqxhr = $.post( "check?id=<%=com.id%>&admit_log_id=<%=last_log.id%>&mile_meter="+v, function() {
                  console.log("sueccess")
                  window.location.reload();

                })
                  .done(function() {
                       console.log( "second success" );
                  	 
                  })
                  .fail(function() {
                       console.log( "error" );
                    	window.location.reload();
                  })
                  .always(function() {
                       console.log( "finished" );
                    	window.location.reload();
                  });

                // Set another completion function for the request above
                jqxhr.always(function() {
                     console.log( "second finished" );
                  	window.location.reload();
                });

                	window.location.reload();

              //
              // $.post( "check?id=<%=com.id%>&admit_log_id=<%=last_log.id%>&mile_meter="+v, function( data ) {
              //
              //   location.reload();
              //
              // });

            })

        </script>

      </div>
    </div>
  </div>
</div>
</div>
<% end %>



<% end %>


<div class="row no-gutters g-0 vh-100" style="border:0px solid;margin-top:40px">
<div class="col-12">

<div id="dashboard-map" class="h-100" style="border:0px solid" >
  map
</div>
</div>

<div class="row o-gutters g-0 fixed-bottom" style="height:110px">

<div class="col-12">
  <div class="row g-1" style="padding-top:5px">


        <% if record %>
    <div class="col-3">
      <button type="button" class=" info-button btn btn-primary px-4  radius-5" style="width:100%;">
        INFO</button>
    </div>
	     <% if current_route %>
    <div class="col-3">
 
      <!-- https://www.google.com/maps/search/?api=1&query=13.0106708,77.5552532
      <a href="https://www.google.com/maps/search/?api=1&query=<%=current_route.stop_latlng.split().join()%>" class="btn btn-warning text-white px-4  radius-5" style="width:100%;">
        NAV</a>-->
		         <!-- https://www.google.com/maps/dir//13.6086178,100.5946353/@13.6085003,100.5536058,13z?entry=ttu -->
        <!--<a href="https://www.google.com/maps/dir//<%=current_route.stop_latlng.split().join()%>/@<%=current_route.stop_latlng.split().join()%>,18z?entry=ttu" class="btn-nav btn btn-warning text-white px-4  radius-5" style="width:100%;">
          NAV</a>-->
		 <a href="https://www.google.com/maps/dir//<%=current_route.stop_latlng.split().join()%>/@<%=current_route.stop_latlng.split().join()%>,18z?entry=ttu" class="nav-btn btn btn-warning text-white px-4  radius-5" style="width:100%;">NAV</a>
		 <script>
			 
			$('.nav-btn').click(function(e){
				try{
					
					device_interface.startNavigation("<%=current_route.stop_latlng.split().join()%>")
				
					e.preventDefault();
					
					
				}catch(err){
					return true;
				}
				
				
			})
			 
		</script> 
   
    </div>

     <% end %>
      <% if last_log %>
      <div class="col-3">
        <a href="#"  data-bs-toggle="modal"  data-bs-target="#modal_tracking" class=" btn-tracking btn btn-success   radius-5" style=" width:100%;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;">
          <%=last_log.name%></a>
      </div>
      <%  end %>
        <% if true %>
      <div class="col-3">

    

          <a href="#" class="video-button btn-nav cap-btn btn btn-danger text-white px-4  radius-5" style="width:100%;">
            Video</a>
			<script>
				$('.cap-btn-bk').click(function(){
					<%
					if record
						
						key = record.get_meeting_key
						session_id = "#{key}-EMS"
						
						link = "#{Setting.get(:host_url)}/EMS/video?id=#{session_id}&case_id=#{record.id}&side=ems&type=EMS"
					%>
					// alert("Session <%=session_id%>")
					// device_interface.startVideoCall("<%=session_id%>")
					
					device_interface.startWeb("<%=link%>")
					
					<% end %>
					
					// window.location = "../EMS/video?id=<%=session_id%>-EMS&case_id=<%=record.id%>&side=ems&type=EMS"
					
				})
				
			</script>		

     
      </div>
	       <% end %>

    <% end %>

      <div class="col">
        <!-- <button type="button" class="btn btn-primary noti-button"  data-bs-toggle="modal" data-bs-target="#modal_notification">Notification</button>
        <button type="button" class="btn btn-primary noti-button"  data-bs-toggle="modal" data-bs-target="#modal_tracking">Tracking</button> -->
          <!-- <button type="button" class="btn btn-primary px-4 radius-30">Primary</button> -->
      </div>
      <div class="col">
          <!-- <button type="button" class="btn btn-primary  px-4 radius-30">Primary</button> -->
      </div>
  </div>

</div>

</div>

<div class="row">
<div class="col">
	<!-- Button trigger modal -->


	<!-- Modal -->
	<div class="modal fade" id="modal_notification" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title noti_title" id="exampleModalLabel">Notification</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
                <div class="noti_msg"></div>
                <input type="hidden" class="noti_url_accept" value=""/>
                <input type="hidden" class="noti_url_denied" value=""/>

          <br/>
        </div>
				<div class="modal-footer">
          <center>
					<button type="button" class="btn btn-danger modal_notification_denied" data-bs-dismiss="modal">Reject</button>
					<button type="button" class="btn btn-success modal_notification_accept">Accept</button>
          </center>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal-x" style="display: none;" >
<div class="modal-backdrop fade show"></div>
</div>


<% if @current_case 
r = @current_case

	
cls = ""	
if r.init_code
case r.init_code.color
when 'red'
	cls = 'alert-danger'	
when 'yellow'
	cls = 'alert-warning'	
when 'green'
	cls = 'alert-success'	
end
end



%>
<style>

	/* Card Container */
	.mtr-card {
		width: 400px;
		padding: 20px;
		background-color: #2d2d44;
		border-radius: 12px;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
		color: #ffffff;
	}

	/* Header */
	.mtr-header .mtr-badge {
		background-color: #555566;
		padding: 5px 10px;
		border-radius: 12px;
		font-size: 14px;
	}

	/* Content */
	.mtr-content h2 {
		margin: 10px 0;
		font-size: 20px;
	}

	.mtr-content p {
		margin: 5px 0;
		font-size: 16px;
		color: #aaaaaa;
	}

	/* Icons */
	.mtr-icon {
		margin-right: 5px;
	}

	/* Footer */
	.mtr-footer {
		margin-top: 10px;
	}

	.mtr-footer p {
		margin: 5px 0;
	}

	/* Actions */
	.mtr-actions {
		display: flex;
		justify-content: space-between;
		margin-top: 10px;
	}

	.mtr-link-btn {
		background: none;
		border: 1px solid #aaa;
		padding: 10px;
		border-radius: 8px;
		cursor: pointer;
		color: #ffffff;
	}

	.mtr-enter-btn {
		background-color: #3a6ff8;
		border: none;
		padding: 10px 20px;
		border-radius: 8px;
		color: #ffffff;
		cursor: pointer;
	}

	.mtr-enter-btn:hover {
		background-color: #355edb;
	}
</style>
<script>
function startWeb(link){
	device_interface.startWeb(link)
}
</script>

<div class="modal fade" id="modal_video" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header <%=cls%>">
				<h5 class="modal-title noti_title" id="exampleModalLabel">Case : <%=@current_case.case_no %> </h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">
				<%
				
				mmap = {}
					
				rooms = EMSMeeting.where(:case_id=>@current_case.id).all
				
				for room in rooms 
					
					mmap[room.name] = room
			
				name = "20250103-00001"
				unit = "ปบ 5511 (ALS)"
				link = '#'
				emscase = EMSCase.find room.case_id
				if emscase
				  name = room.name
				  unit = emscase.ambulance.plate_license
				  link = "video?id=#{room.name}&case_id=#{emscase.id}&side=emd"
				  # link = "https://meet.abs.co.th/#{room.name}?case_id=#{emscase.id}&side=emd"
				  
				end
				
				title = name.split("-")[1..-1].join("-")
			%>
						<div class="col-12" id="<%=name%>">
						<div class="card radius-15 meeting  border-start border-0 border-3 border-<%=emscase.init_code.get_class if emscase.init_code%>">
							<div class="card-header">
								<div class="d-flex justify-content-between">
								<div class="col-8"><strong><%= title %></strong></div>
								<div class="col-4"><%= unit %></div>
								
								</div>
								
							</div>
							<div class="card-body">
								<div class="">
									<!-- <img src="assets/images/avatars/avatar-1.png" width="110" height="110" class="rounded-circle shadow" alt=""> -->
					  			  <div class="mtr-content">
					  			    <h2></h2>
					  			    <p class="mtr-location">
					  			      <span class="mtr-icon">🔘</span> <span class="btn btn-<%=emscase.init_code.get_class if emscase.init_code%>"> <%=emscase.init_code.code if emscase.init_code %> </span>
					  			
					  			      <span class="mtr-icon">📍</span> <%=emscase.location%>
					  			    </p>
					  			    <p class="mtr-officer">
					  			      <span class="mtr-icon">👤</span> เจ้าหน้าที่ : <%=room.creator%>
					  			    </p>
									
					  			    <p class="mtr-officer">
										<%
										
										sec = (Time.now - room.created_at).to_i
										
										txt = "< 1 นาที"
										
										if sec>60
											txt = "#{sec/60}.#{((sec%60)*60).to_i} นาที "
										end
											
										%>
					  			      <span class="mtr-icon">🕒</span> เริ่ม : <% if room.created_at %><%=room.created_at.strftime("%H:%M:%S")%> (<%=txt%>)<% end %>
					  			    </p>
									
					  			  </div>
								</div>
								
							</div>
							
							<div class='card-footer'>
						  
							<div class="d-flex justify-content-between">
								<a href="javascript:;" class="btn btn-outline-secondary meeting-tag radius-15 ">ผู้เข้าร่วม <span class="meeting-participant">-</span></a>
								<a href="javascript:startWeb('<%="#{Setting.get(:host_url)}"%>/EMS/<%= link.html_safe%>')" class="btn btn-primary radius-15 col-6">เข้าร่วม</a>
								
							<div class="list-inline contacts-social "> 
								<!-- <a href="javascript:;" class="list-inline-item bg-twitter text-white border-0 meeting-participant">-</a> -->
								<!-- <!-- <a href="javascript:;" class="list-inline-item bg-google text-white border-0">4</a> -->
								<a href="<%="#{Setting.get(:host_url)}"%>/EMS/<%= link.html_safe%>" class="list-inline-item bg-linkedin btn-outline-primary border-1 meeting-link" >🔗</a>
								
							</div>
							
							
							</div>
							</div>
						</div>
					</div>	
			<%	end #for room %>
			
				
				<%
					
				%w{EMS CON}.each do |m|
				  
				  m_id = "#{record.get_meeting_key}-#{m}"
				  
				  unless mmap[m_id]
						
  				  link = "../EMS/video?id=#{m_id}&case_id=#{record.id}&side=emd"
				
				%>
				<div class="col-12">
				<div class="card">
					<div class="card-body">
						<%=link_to "สร้าง Meeting #{m}", link , :class=>'btn btn-outline-primary'%>
					</div>
				</div >
				</div >
				
				<%
					end
				end
			
				%>
			
			
				</div>	
				<script>
				/**
				 * --------------------------------------------
				 * GETTING A TOKEN FROM YOUR APPLICATION SERVER
				 * --------------------------------------------
				 * The methods below request the creation of a Session and a Token to
				 * your application server. This keeps your OpenVidu deployment secure.
				 *
				 * In this sample code, there is no user control at all. Anybody could
				 * access your application server endpoints! In a real production
				 * environment, your application server must identify the user to allow
				 * access to the endpoints.
				 *
				 * Visit https://docs.openvidu.io/en/stable/application-server to learn
				 * more about the integration of OpenVidu in your application server.
				 */
				
				var APPLICATION_SERVER_URL = '<%=Setting.get('videocall_server','https://openvidu.pcm-life.com')%>';
				
				function getToken(mySessionId) {
				
					return new Promise((resolve, reject) => {
					getSession(mySessionId).then(function(re){
						console.log(re)
						if(re=="404"){
							resolve(createSession(mySessionId).then(sessionId => createToken(sessionId)));
						}else{
				
							resolve(createToken(mySessionId));
						}
				
					})
				
					});
				
				
				
				}
				
				
				
				function getSession() {
				
				
				return new Promise((resolve, reject) => {
				
					$.ajax({
						type: "GET",
						url: APPLICATION_SERVER_URL + "/openvidu/api/sessions",
						beforeSend: function (xhr) {
							xhr.setRequestHeader ("Authorization", "Basic " + btoa("<%=Setting.get('videocall_password','OPENVIDUAPP:minadadmin')%>"));
						},
						headers: { "Content-Type": "application/json" },
						success:  response => resolve(response),
				
						error: function(error){
							resolve(error.status)
						}
				
					});
				
					});
				
				}
					
					$(document).ready(function(){
						getSession().then(function(re){
							
								console.log(re["content"])
							
							for(var ix in re["content"]){
								
								i = re["content"][ix]
								id = i["id"]
								
								console.log(id)
								num = i["connections"]["numberOfElements"]
								console.log(num)
								
								
								$("#"+id+" .meeting-participant").html(num)
								
								$("#"+id+" .meeting-tag").removeClass('btn-outline-secondary')
								
								$("#"+id+" .meeting-tag").addClass('btn-outline-primary')
								
								
							}
							
						});
					})
					
				</script>					
				<div class="gpt-link-container">
				<span id="copy-success" style="display: none; color: green; margin-left: 10px;">Link copied!</span>
				</div>
				<script>
				// Select elements
				const copyButton = document.getElementById('copy-button');
				const videoCallLink = document.getElementById('video-call-link');
				const copySuccess = document.getElementById('copy-success');

				// Add click event listener to the button
				$(".meeting-link").click(function(e){
					
					// Create a temporary input element to hold the link text
					const tempInput = document.createElement('input');
					
					
					tempInput.value = $(this).attr("href"); // Get the links href
					document.body.appendChild(tempInput); // Append to the body
					tempInput.select(); // Select the text
					document.execCommand('copy'); // Copy the text
					document.body.removeChild(tempInput); // Remove the temporary input

					// Show success message
					copySuccess.style.display = 'inline';
					setTimeout(() => {
						copySuccess.style.display = 'none';
					}, 2000); // Hide success message after 2 seconds
					
					e.preventDefault();
					
				});
				</script>					
			</div>
			<div class="modal-footer">
      			<center>
				<button type="button" class="btn " data-bs-dismiss="modal">Close</button>
      			</center>
			</div>
		</div>
	</div>
</div>
 

<div class="modal fade" id="modal_info" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header <%=cls%>">
				<h5 class="modal-title noti_title" id="exampleModalLabel">Case : <%=@current_case.case_no %> </h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
           
		   	<div class="row">
				<div class="col-6">
				<b>Patient : </b> <%=r.patient_name%>
				</div>
				
				
			<div class="col-6">
			Sex : <%= r.patient_gender %> Age : <%= r.patient_age%>yr
			</div>
			
		
		
			
				<div class="col-6">
					T : <%=r.created_at.strftime("%H:%M:%S")%>
					(<%=format("%.1f",(Time.now - r.created_at)/60.0)%>m)
				</div>
				
				
			<div class="col-6">
			CID : <%= r.patient_cid %>
			</div>
				
				
				<div class="col-6">
				Phone : <%= r.contact_name %>
				
				<div class="card">
				<div class="card-body">
				<%= r.contact_phone %>
				</div>
				</div>
				
				</div>
				
		
				
				
				<div class="col-6">
					
					Location : <br/> 
					<div class="card">
					<div class="card-body">
					<%= r.location %> &nbsp;
					</div>
					</div>
					
				</div>
				
				<div class="col-12">
					
					Chief Complain : <br/> 
					<div class="card">
					<div class="card-body">
					<%= r.chief_complain %>
					</div>
					</div>
					
				</div>
				
				
				<div class="col-12">
					
					Init CBD : <br/> 
					
					<% if r.init_code
					
					cls = ""	
					case r.init_code.color
					when 'red'
						cls = 'alert-danger'	
					when 'yellow'
						cls = 'alert-warning'	
					when 'green'
						cls = 'alert-success'	
					end
					
					
					 %>
					<div class="card">
					<div class="card-body  <%= cls%>">
					<%= r.init_code.name if r.init_code %>
					</div>
					</div>
					<% else %>
					<div class="card">
					<div class="card-body alert alert-danger">
						N/A
					</div>
					</div>
					<% end %>
					
				</div>
				
				<div class="col-6">
				<b>Dispatch : </b> <%=r.ambulance.name if r.ambulance%>
				</div>
			
				<div class="col-6">
				Type : <%= r.case_type %> 
				</div>
				
			
				<div class="col-6">
				
					<%
						
						commands = r.commands
						if commands.size > 0 	
							t = commands[0].created_at
					%>
				T : <%=t.strftime("%H:%M:%S")%>
				(<%=format("%.1f",(Time.now - t)/60.0)%>m)
						<% end %>
				</div>
				
			<div class="col-6">
			Channel : <%= r.channel.name if r.channel%> 
			</div>
			
				
				
				<div class="col-6">
					
					Activation Time : <br/> 
					<div class="card">
					<div class="card-body alert-info">
					<%=r.activation_time%> mins
					</div>
					</div>
					
				</div>
				
			
				
				<div class="col-6">
					
					Response Time : <br/> 
					<div class="card">
					<div class="card-body alert-info">
					<%=r.response_time%> mins
					</div>
					</div>
					
				</div>
			</div>
			<center>

		
			  <script>
				$('.cap-btn-bk').click(function(){
					<%
					if record
						
						key = record.get_meeting_key
						session_id = "#{key}-EMS"
						
						link = "#{Setting.get(:host_url)}/EMS/video?id=#{session_id}&case_id=#{record.id}&side=ems&type=EMS"
					%>
					// alert("Session <%=session_id%>")
					// device_interface.startVideoCall("<%=session_id%>")
					
					device_interface.startWeb("<%=link%>")
					
					<% end %>
					
					// window.location = "../EMS/video?id=<%=session_id%>-EMS&case_id=<%=record.id%>&side=ems&type=EMS"
					
				})
				
			</script>		


			 </center>
			</div>
			<div class="modal-footer">
      <center>
				<button type="button" class="btn " data-bs-dismiss="modal">Close</button>
      </center>
			</div>
		</div>
	</div>
	
<% end %>








<div class="msg" style="color:gray;font-size:0.8em"></div>

<div class="msg2" style="color:gray;font-size:0.8em"></div>

<script>





    $(document).ready(function(){
		
		
  		var car = "M17.402,0H5.643C2.526,0,0,3.467,0,6.584v34.804c0,3.116,2.526,5.644,5.643,5.644h11.759c3.116,0,5.644-2.527,5.644-5.644 V6.584C23.044,3.467,20.518,0,17.402,0z M22.057,14.188v11.665l-2.729,0.351v-4.806L22.057,14.188z M20.625,10.773 c-1.016,3.9-2.219,8.51-2.219,8.51H4.638l-2.222-8.51C2.417,10.773,11.3,7.755,20.625,10.773z M3.748,21.713v4.492l-2.73-0.349 V14.502L3.748,21.713z M1.018,37.938V27.579l2.73,0.343v8.196L1.018,37.938z M2.575,40.882l2.218-3.336h13.771l2.219,3.336H2.575z M19.328,35.805v-7.872l2.729-0.355v10.048L19.328,35.805z";


  		var ambu_map = {}
		
		var map_ready = false;



    latlng = [13.69313508354787, 100.69198345629769]


    <% if record and  record.latlng and record.latlng.index(',') %>
    latlng = [<%=record.latlng%>]
    <% end %>


    var map1 = new EMSMap('dashboard-map',{movable:true});
 	
	
	
     // map1.setMarkerPosition(latlng[0], latlng[1])
  	map1.changeMarkerPosition(function(marker){

    });

    var m_hos = {}
  
  
  		function update(lines){
				
			if(map_ready){	
				
				
				
				
				
  			obj = JSON.parse(lines[1])

  			// console.log(obj['ambu_data'])

  			var keys = Object.keys(obj['ambu_data']);

  			var values = keys.map(function(v) { return obj['ambu_data'][v]; });



  			for(ai in values){

  				a = values[ai]
				
			

  				if(a['last_location']!=""&&a['last_location'].indexOf(",")){



  				map_icon = {
  				  path: car,
  				  scale: 0.9,
  				  strokeColor: 'white',
  				  strokeWeight: .10,
  				  fillOpacity: 1,
  				  fillColor: '#303bef',
  				  offset: '5%',
  				// size: new google.maps.Size(sizeX, sizeY),
  //         				origin: new google.maps.Point(0, 0),
  //         				anchor: new google.maps.Point(sizeX/2, sizeY/2),
  				  // rotation: parseInt(heading[i]),
  				  anchor: new google.maps.Point(10, 25) // orig 10,50 back of car, 10,0 front of car, 10,25 center of car
  				};



  				var t = a['last_location'].split(",")
  				var pos = new google.maps.LatLng(parseFloat(t[0]), parseFloat(t[1]))

                marker = ambu_map[a['_id']]

  				var image = "<%=url_for("ems/ambu.png")%>";

					

  				if(marker==null){

					
  						marker_map = new google.maps.Marker({position: pos,icon: image,  map: map1});
  						ambu_map[a['_id']] = marker_map
  						console.log('new')


  				}else{
  						marker_map =  ambu_map[a['_id']]
  						marker_map.setPosition(pos)
  						console.log('set')
					<% if @current_ambulance %>
					if('<%=@current_ambulance.id%>'==a['_id']){
						map1.setPosition(pos)
					}
					<% end %>	
						

  				}

  				}

			}

  				// latlngbounds.extend(pos);

  			}



  			// map.fitBounds(latlngbounds);

  		}
  
	 
	 
  	map1.ready(function(){
  		// const image = "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png";
  		// const image = "<%=url_for('ems/h0.png')%>";


	 	var station_image = "<%=url_for("ems/station.png")%>";

	clatlng = [13.68313508354787, 100.69198345629769]
	<% if Setting.get("aoc_center") %>
	clatlng = [<%=Setting.get("aoc_center")%>]
	<% end %>
 	
		
		map1.setPosition(clatlng[0], clatlng[1])
		var pos = new google.maps.LatLng(clatlng[0],clatlng[1] )
		latlng.push(new google.maps.LatLng(pos))
		marker = new google.maps.Marker({position: pos, map: map1.map, icon: station_image})

  	<% 
  		hospitals = EMSHospital.all()
		
  		for i in hospitals %>

  	var posx = new google.maps.LatLng(<%=i.latlng%> )
  	var image = "<%=url_for("ems/h#{i.level}.png")%>";
  	 markerx = new google.maps.Marker({position: posx, map: map1.map,
  		 icon:image
  	 })
  	 markerx.addListener("click", () => {
  		 select_hospital('<%=i.id%>')
  	 });

  	 m_hos['<%=i.id%>'] = markerx;

  	<% end %>
	 
	 
	 map_ready = true;
  	
		

<% 
	 ambus = Ambulance.where(:zone_id=>@current_zone.id).all()
	
	
	for a in ambus %>
		var image = "<%=url_for("ems/ambu.png")%>";

		
  		t = <%=a.last_location.split(',').to_json%>
  		var pos = new google.maps.LatLng(parseFloat(t[0]), parseFloat(t[1]))
 	 	
	
		marker_map = new google.maps.Marker({position: pos,icon: image,  map: map1.map});
		ambu_map['<%=a.id%>'] = marker_map
		console.log('new ')
		
		
		
		<% if  @current_ambulance and a.id == @current_ambulance.id %>
		
		map1.setPosition(pos);
		
		
	
		<% if @current_case  %>
		
		
		 var start = pos
		 target = new google.maps.LatLng(<%=@current_case.latlng%>)

		console.log("<%=@current_case.latlng%>")

		directionsService = new google.maps.DirectionsService;
  	    directionsDisplay = new google.maps.DirectionsRenderer;
  		
		directionsDisplay.setMap(map1.map);

			map1.drawPath(directionsService,directionsDisplay, start,target,[],function(rs){


		


			}.bind(this));
			
			
			
			<% end %>
		
		<% end %>
		
		
		
		
	<% end %>
		
	 



		




  });

    // map1.init()




  var noti_status=false;
  var modal_id = null;

 function modal(id){

     $(id).css('display','block')
     $(id).addClass('show')
     modal_id= id
     $(id).find('button[data-bs-dismiss="modal"]').each(function(){
       $(this).click(function(){
          $(modal_id).hide()
          $('.modal-x').hide()
       })
     })
     $('.modal-x').show()


     // $('.modal-backdrop').addClass('show')

 }

$('.btn-tracking').click(function(){
// $('#modal_notification').modal('show');
modal('#modal_tracking')

})

$('.video-button').click(function(){
	
	modal('#modal_video')
	
})


$('.info-button').click(function(){
	
	modal('#modal_info')
	
})
 

$('.noti-button').click(function(){
  // $('#modal_notification').modal('show');
modal('#modal_notification')

})



  function show(msg){
    $('.msg2').html(msg)
  }

  var ws = null

  function connect(){


  // ws  = new WebSocket('wss://' + window.location.host + "/<%=@context.settings.name%>/Home/index");

  ws  = new WebSocket('wss://' + window.location.host + "/ws/<%=@context.settings.name%>/Home/index");


  ws.onopen    = function()  { show('websocket opened');

  	// ws.send('WS.Select name=<%=session.id%>\n["Zone <%="miot/#{@context.settings.name}/z/#{@current_zone.name}"%>","ZoneUpdate zone_id=*","EMSUpdate event_id=*", "Alert station_id=*","Data.Image station_id=*"]')
    ws.send('WS.Select name=<%=session.id%>\n["EMS <%="miot/#{@context.settings.name}/z/#{@current_zone.name}/EMT"%>",  "EMS <%="miot/#{@context.settings.name}/z/#{@current_zone.name}/IOT"%>","ZoneUpdate zone_id=*","EMSUpdate event_id=*",  "Zone <%="miot/#{@context.settings.name}/z/#{@current_zone.name}"%>"]')
// "ZoneUpdate zone_id=*",
  // "Zone <%="miot/#{@context.settings.name}/z/#{@current_zone.name}"%>", 

  };


  ws.onerror = function(){

    noti_msg('Reconnect in 5 seconds')
    ws.close()
    // alert('Reconnect in 5 sec')
    setTimeout(function () {
        // window.location.href = "index"; //will redirect to your blog page (an ex: blog.html)
        connect()

     }, 5000); //will call the function after 2 secs.


  }

  ws.onclose   = function()  { show('websocket closed');

 	// setTimeout(function () {
  //      // window.location.href = "index"; //will redirect to your blog page (an ex: blog.html)
  //      connect()
  //
  //   }, 10000); //will call the function after 2 secs.


  }

  ws.onmessage = function(m) {

	  console.log(m.data)


	    $('.msg').html("Network is online : "+(m.timeStamp/1000)+ " s" )


		lines = m.data.split("\n")


    // when new case

		if(lines[0].split(" ")[0]=='Zone.Refresh'){

			window.location="index";

		}else
		
    if(lines[0].split(" ")[0]=='EMS.Update'){

       obj = JSON.parse(lines[1])
       console.log(obj)

       if(obj['alert']=="1"||obj['alert']=="0"){
         console.log(obj)

	   }
	   
	   update(lines)
	   
	   <% if record %>
		   
	   if(obj['ems_data']['<%=record.id%>']==null){
	   		// window.location="index";
	   }	   
		   
		   <% end %>

       jQuery.each(obj['ems_data'], function (key, val) {

       // Object.values().forEach(val => {

         // console.log(val)
         jQuery.each(val['commands'], function (key, cmd) {
         // Object.values(val['commands']).forEach(cmd => {

           // console.log('EMT noti')


           if(cmd['emt_driver_code']==null){
             if(noti_status==false){

            // console.log(cmd)
             $('.noti_title').html("Accept Case");

             $('.noti_msg').html("Case No : "+val['case_record']['case_no']+"<br/>Location : "+val['case_record']['location']+"<br/>Tel : "+val['case_record']['contact_phone']);



             $('.noti_url_accept').val("update_record?id="+val['case_record']["_id"]+"&cmd=case_accept"+"&command_id="+cmd['_id'])
             $('.noti_url_denied').val("update_record?id="+val['case_record']["_id"]+"&cmd=case_denied"+"&command_id="+cmd['_id'])
             // $('#modal_notification').modal('show');
             modal('#modal_notification')

             noti_status = true;
            }


           }


         });

         jQuery.each(val['routes'], function (key, route) {
         // Object.values(val['routes']).forEach(route => {



           if(route['response']==null){


             console.log('EMT route')



               if(noti_status==false){
              console.log('EMT case noti')
              // console.log(cmd)

               $('.noti_title').html("Route Update / Transfer");

               $('.noti_msg').html("Change Route");

               $('.noti_url_accept').val("update_record?id="+val['case_record']["_id"]+"&cmd=route_accept"+"&route_id="+route['_id'])
               $('.noti_url_denied').val("update_record?id="+val['case_record']["_id"]+"&cmd=route_denied"+"&route_id="+route['_id'])
               // $('#modal_notification').modal('show');
               modal('#modal_notification')

               noti_status = true;



             }

           }


         });




       });

	 

    }else

    if(lines[0].split(" ")[0]=='Zone.Message'){

			window.location.reload(true); 

	}else{}
	
	



  }

}



  $('.modal_notification_accept').click(function(){
    url = $('.noti_url_accept').val()
    window.location=url

  })

  $('.modal_notification_denied').click(function(){
    url = $('.noti_url_denied').val()
    window.location=url

  })

	


function noti_msg(msg) {
	Lobibox.notify('warning', {
		pauseDelayOnHover: true,
		size: 'mini',
		rounded: true,
		delayIndicator: false,
		icon: 'bx bx-error',
		continueDelayOnInactiveTab: false,
		position: 'top center',
		msg: msg
	});
}


// function update(lines){
//     console.log(lines)
//     show(lines[0])
//   }
$(document).ready(function(){
  connect()

})

function resize(height){
  alert(height);
}
	// modal('#modal_info')
  })

  
 


</script>
<%= init_map %>