<%
  zone = Zone.find session[:current_zone]
  ambu_list = Ambulance.where(:zone_id=>zone.id)
  providers = Provider.all

%><br/><br/>
Ambulances :
<div class="container">
  <br/>
<div class="row">
<% for i in ambu_list %>
<div class="col-12">
<a href="select_vehicle?ambu_id=<%=i.id%>" class="btn btn-info text-white" style="width:100%" >
<%= i.name %>
</a>
</div><br/><br/>
<% end %>
</div>
<hr/>
<%=link_to 'Back', 'index'%>
</div>
Providers :
<div class="container">
  <br/>
<div class="row">
<% for i in providers %>
<div class="col-12">
<a href="select_user?provider_id=<%=i.id%>" class="btn btn-info text-white" style="width:100%" >
<%= i.code %> : <%= i.get_name %>
</a>
</div><br/><br/>
<% end %>
</div>
<hr/>
<%=link_to 'Back', 'index'%>
</div>
