<script src="https://kit.fontawesome.com/13a3acd719.js" crossorigin="anonymous"></script>
<link href="<%=url_for('css/aoc.css?=22')%>" rel="stylesheet">
<link href="<%=url_for('css/aoc_dark.css?=22')%>" rel="stylesheet">
<style>
	.station .label{
		font-size:0.8em;

	}
	.station .value{
		font-size:1.5em;
		margin-top:0px;
		padding-top:0px;
		text-align:center;
	}
	.station .pr{color:#00d3d7;

	}

	.station .hr{color:#01bf02;

	}

	.station .bp{color:#5990b7;;

	}

	.station .cvp{color:#b76666;;

	}

	.station .spo2{color:#00b3b7;

	}

	.station .temp{color:#2F50E2;

	}

	.station .rr{color:#b7851d;

	}
	.station .col-6{
			border:1px solid #333;
			border-radius: 5px;
	}

	.station .cc{
		color:#bcaf06;

	}
	.station .uc{
		color:#f937e2;

	}
	w{
		color:red;
	}
	</style>
<%
	
ambu = Ambulance.find params[:id]
	
	
admit = Admit.where(:status=>'Admitted', :ambulance_id=>ambu.id).first
station = Station.find ambu.station_id



	
%>
<%=%>

<div class="">
<ul class="nav nav-pills fixed-bottom  nav-fill m-footer d-flex justify-content-center" style="">

  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
	<i class="fas fa-ambulance"></i>
	<br/>
	<%=ambu.name%>
	</a>
  </li>
  
  
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
	<i class="far fa-check-circle"></i>
	<br/>
	Tracking
	</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
	<i class="fas fa-share-alt"></i>
	<br/>
	Share
	</a>
  </li>
  
  
  
<span style="float:right;margin-top:0px"></span>

  
</ul>
</div>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
  	
	<% if admit %>
	
	
	
	<%
	
	patient = Patient.find admit.patient_id
		
	%>
	<div class='clear'></div>
	<div class="d-flex justify-content-between align-items-center mb-3">
		<%=link_to '<i class="fas fa-long-arrow-alt-left"></i>', "index",:class=>'btn btn-outline-primary' %>
		<h4 class="text-uppercase font-weight-bold mb-0 ambu-name"><%=ambu.name%></h4>
		<%= link_to '<i class="fas fa-phone-alt"></i> <i class="fas fa-hospital-user"></i>', "show3?id=#{params[:id]}",:target=>'_blank', :class=>'btn btn-primary'%>
	</div>
	<div class="row">
		<div class="col-12 ">
		<div class="alert alert-patient">
		Case No : <v><%=admit.case_no%></v> HN : <v><%=patient.hn%> </v> <br/>
		Name : <v><%=patient.first_name%> <%=patient.last_name%></v> CID : <v><%=patient.public_id%></v><br/>
		Age : <v><%=patient.age%></v> Sex : <v><%=patient.gender%></v><br/>
		
		Contact : <v><%=patient.contact_name%> @ <a href="tel:<%=patient.contact_phone%>"><i class="fas fa-phone-alt"></i> <%=patient.contact_phone%></a></v>
		
		</div>
		
		<div class="alert alert-patient">
		<%=admit.note%>
		</div>
		
		</div>
	</div>
	<div class="row d-flex justify-content-between ">
	

	<%
  		
	last_log = AdmitLog.where(:admit_id=>admit.id, :status=>'PENDING').sort(:sort_order=>1).first
	station = Station.find admit.station_id
	med_groups = MedGroup.all
	meds = Medication.all
	routes = MedRoute.all
	
  	%>
  	
	
	<div class="col-4 pl-3  " style="padding:5px">
		<p>
	<%=last_log.name if last_log%>
  		</p>
	</div>
	
	<div class="col-4" style="padding:5px">
	<v class="time-alert">+<%= ((Time.now - admit.created_at)/60).to_i%>m</v>
  	</div>
	
	<div class="col-3 text-right">
	  	<%= link_to '<i class="fas fa-map-marker-alt"></i> Check', "check?id=#{params[:id]}&admit_log_id=#{last_log.id}", :class=>'btn btn-success' if last_log%>
	</div>
	</div>
	<div class="row">
		<div class="col-6">
			<div class="btn btn-success w-100 p-4" id="med_add">+ <i class="fas fa-briefcase-medical"></i> Medication </div>
		</div>

		<div class="col-6">
			<div class="btn btn-success w-100 p-4">+ <i class="fas fa-user-injured"></i> Treatment </div>
		</div>
	</div>

	<div class="med_add">
	<div class="med_group row">
		<div class="col-sm-12 p-3">Select Medication Group : </div>
		<% 	for g in med_groups %> 
		<div class="col-sm "><div class="btn btn-secondary w-100 p-3 m-1 med-group" group="<%=g.id%>"><%=g.name%></div></div>
		<%	end %>
	</div>

	<div class="medication row">
		<div class="col-sm-12 p-3">Select Medication : </div>
		<% 	for m in meds %> 
		<div class="col-sm"><div class="btn btn-secondary w-100 p-3 m-1 med <%=m.medgroup_id%>"><%=m.name%></div></div>
		<%	end %>
	</div>

	<div class="medication_record row">
		<div class="col-sm-12 p-3">Adjust Medication : </div>
		<div class="col"><div class="btn btn-secondary w-100 p-3 m-1 medname">Name</div></div>
		<div class="col"><div class="btn btn-secondary w-100 p-3 m-1">Volume</div></div>
		<div class="col"><div class="btn btn-secondary w-100 p-3 m-1">Unit</div></div>
		<div class="col"><div class="btn btn-secondary w-100 p-3 m-1">Route</div></div>
		<div class="col-sm-12">
		<% 	for r in routes %> 
		<div class="btn btn-secondary p-2 m-1"><%=r.name%></div>
		<%	end %>
		</div>

		<div class="col-sm-12">
		<% 	for r in routes %> 
		<div class="btn btn-secondary p-2 m-1"><%=r.name%></div>
		<%	end %>
		</div>

		<div class="col-sm-12">
		<% 	for r in routes %> 
		<div class="btn btn-secondary p-2 m-1"><%=r.name%></div>
		<%	end %>
		</div>

		<div class="col-sm-12">
		<center>
		<form id="form_med" action="nurse_note_create?admit_id=<%=admit.id%>" class="model-remote" method="post" enctype="multipart/form-data" >
			<input type="hidden" name="note" id="note"/>
			<input type="hidden" name="medication_id" id="medication_id" />
			<input type="hidden" name="medname" id="medname" />
			<input type="hidden" name="volume" id="volume" />
			<input type="hidden" name="unit_type" id="unit_type" />
			<input type="hidden" name="route" id="route" />
			<input type="submit" class="btn btn-primary p-3 m-1"  name="Submit" value=" + Submit" />
			<div class="btn btn-danger p-3 m-1 btn-cancel"> Cancel </div>
		</form>
		</center>
		</div>
	</div>
	</div>
<script>
$(document).ready(function(){
	$(".med_add").hide()
	$(".medication").hide()
	$(".btn-cancel").click(function(){
		$(".med_add").slideUp()
	})
	$("#med_add").click(function(){
		$(".med_add").slideToggle()
	})
	$(".med-group").click(function(){
		$(".med-group").parent().toggle()
		$(this).parent().show()
		gid = $(this).attr("group")
		$(".med").parent().hide()
		$("."+gid).parent().show()
		$(".medication").show()
	})
	$(".med").click(function(){
		name = $(this).html()
		$(".medname").html(name)
		$("#medname").html(name)
	})
})
</script>
	<div class="row">
		<div class="col-6">
		Monitor : 
		<div class="station" id="<%=station.name%>" style="">
			
			<div class="row pl-3 mt-1">
						<div class="col-6  col-lg-3 col-sm-3 pr">
							<span class="label">PR</span>
							<div class="value">-</div>
						</div>
						<div class="col-6  col-lg-3 col-sm-3 bp">
							<span class="label">BP <span style="font-size:0.8em" class="bp-mean"></span></span>
							<div class="value">-</div>
						</div>
			
						
							
							<div class="col-6  col-lg-3  col-sm-3 rr">
								<span class="label">RR</span>
								<div class="value">-</div>
							</div>
			
						<div class="col-6  col-lg-3 col-sm-3 spo2">
							<span class="label">SpO2</span>
							<div class="value">-</div>
						</div>
							<div class="col-6  col-lg-3 col-sm-3 hr">
								<span class="label">HR</span>
								<div class="value">-</div>
							</div>	
							
							
									<div class="col-6  col-lg-3 col-sm-3 temp">
										<span class="label">Temp</span>
										<div class="value">-</div>
									</div>
			
				
						
			</div>
			
			
		</div>
		</div>
		
		<div class="col-6">
		Nurse Note : 
		<div class="mt-1" style="height:185px;">
			
		<form action="nurse_note_create?admit_id=<%=admit.id%>" class="model-remote" method="post" enctype="multipart/form-data" >
		<textarea name="note" style="height:6em;width:100%" class="m-textarea"></textarea>
		
   	  	<input type="submit" class="btn-sm btn-primary"  name="Submit" value=" + Submit"  style="float:right"/>
            <a href="#" class="btn-sm btn-secondary d-flex align-items-center justify-content-center" style="float:left" id="image_capture_btn">
            <img src="<%=url_for('img/ER/photo_camera.svg') %>" style="opacity:0.5;width:1.8em;fill:white;" alt="heart" class=" pulse"/>
        </a>
	    <script>
		$('#image_capture_btn').click(function(){
		device_interface.image_capture(window.location.origin+"<%=url_for("SmartAOCMobile/upload?admit_id=#{admit.id}")%>", "key")
	    })
		</script>
		</form>
		
		</div>
		
	</div>
	</div>
<br/>
	<div class="row">
		<div class="col-12">
			 History : 
			<%
				
				notes = NurseRecord.where(:admit_id=>admit.id, :start_time=>{'$ne'=>nil}).sort(:start_time=>-1).all
				
			%>
			
			<table class='table mt-1'>
				<tbody>
					<% for i in notes %>
					<tr>
						<td>
							<%=i.start_time.strftime("%H:%M")%> 
							<v class="pl-3 time-alert">+<%=(Time.now-i.start_time).to_i/60%>m</v>
						</th>
						<td>
							<v class="ambu-name"><%=i.description%></v>
						</td>
						
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	
	<%end %>
  </div>
 
  
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
	 
  	<% if admit %>
	<% 
	logs = AdmitLog.where(:admit_id=>admit.id).sort(:sort_order=>1).all
	parent_map = {}
	%>
	<p class="text-center font-weight-bold">Tracking</p>
	<table class='table'>
	<thead>
		<tr>
			<th>Admit</th>
			<th><%=admit.created_at.strftime("%H:%M")%>
			
		</tr>
	</thead>
	<% for i in logs 
	
	parent_map[i.sort_order] = i
		
	%>
	<tbody>
	<tr>
		<td>
			<%=i.name%>
		</td>
		<td><% if i.stamp %>
			<%=i.stamp.localtime.strftime("%H:%M")%> <v class="time-alert">+<%=(i.stamp - admit.created_at).to_i/60 %>m</v>
			<% end %>
			
		</td>
		<td>
			<% if i.stamp and i.parent and p = parent_map[i.parent] and p.stamp 
			lap = (i.stamp - p.stamp).to_i/60
			 %>
			<w><%= lap %>m</w>
			<% end %>
		</td>
		<td>
			<%=i.note%>
		</td>
		<td>
			<% if i.status=='PENDING'%>
		  	<%= link_to 'Check', "check?id=#{params[:id]}&admit_log_id=#{i.id}", :class=>'btn btn-success'%>
			<% end%>
		</td>
		
		
	</tr>

	<% end %>
		</tbody>
	</table>
	
	
	<% end %>
	
  </div>

  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
	<h4 class="font-weight-bold text-center ">แชร์ไปยังอุปกรณ์อื่น</h4>
	<div style="background: white;" class="pt-4 pb-3">
	<center>
  		<img src=<%="/barcode?code=#{request.url}&type=qr_code&xdim=8"%>/><br/><br/>
		<%=link_to "Mobile Interface", request.url%>
	</center> 
	
	<br/>

 <center>
  	<img src=<%="/barcode?code=#{request.url.gsub("show","glasses")}&type=qr_code&xdim=8"%>/><br/><br/>
	<%=link_to "Smart Glasses Interface", request.url.gsub("show","glasses")%>
</center>
	</div>

  </div>
  
</div>
<hr/>
<center>  <%=link_to 'Back', "index",:class=>'nav-link' %></center>


<style>
	.tab-pane{
		padding-top:10px;
	}
	v{
		color: var(--alert-yellow);
	}
	#toolbarRight{display:none;}
	#optionsVisibilityButton{display:none;}
</style>

<script>
	
<%
	if admit 
		
	record = Station.find admit.station_id
	
		if record 
%>
	$(document).ready(function(){
		
		function show(text){
			console.log(text)
		}
		
		$('#toolbarCenter').removeClass('col-6');
		$('#toolbarCenter').addClass('col-10');
		// $('#renderer').css('height','320px');
		$('.resourceId').val("<%=ambu.name%>")
		$('.displayName').val("Mobile")
	
  	  var ws       = new WebSocket('wss://' + window.location.host + "<%="/#{params[:gxt]}/Home/index"%>");
	
  	  var plot_pos = {};
	
     ws.onopen    = function()  { show('websocket opened'); 
	
  	  	ws.send('WS.Select name=<%=session.id%>\n["Zone <%="miot/#{params[:gxt]}/z/#{record.zone.name}"%>","ZoneUpdate zone_id=*","Alert station_id=*","Data.Image station_id=*"]')

  	  };
     ws.onclose   = function()  { show('websocket closed'); 
		
  	 	setTimeout(function () {
  	 		       // window.location.href = "index"; //will redirect to your blog page (an ex: blog.html)
  	 		    }, 2000); //will call the function after 2 secs.
	 		

     }
     ws.onmessage = function(m) { 
	
  		active = $('.active-station').size()
			
  		<% if params[:debug] %>	
  		show(''+m.data)
  		<% end %>
		
		
  		lines = m.data.split("\n")
		
  		// console.log(lines[0].split(" ")[0])
  		if(lines[0].split(" ")[0]=='Alert'){
  			data = JSON.parse(lines[1])
			
  			// alert(data['alert'])
			
  			$('#'+data['station']).addClass('bp_alert_2');
  			$('#'+data['station']+' .msg').html(data['alert']);
			
  			// play sound
  			ion.sound.play("bell_ring");
			
  		}else
  		if(lines[0].split(" ")[0]=='Data.Image'){
		
  			lines.shift()
  			img = lines.join("")
  			// alert('image '+m.data.length)
			
  			$("#image").attr('src','data:image/jpg;base64,'+ JSON.parse(img))
			
			
  		}
  		else
  		if(lines[0].split(" ")[0]=='ZoneUpdate'){
		
	
  		data = JSON.parse(lines[1])
  			// 
  			// if(data['list'].length!=active)
  			// window.location.href = "index"; 
			
  		$('#timer').html(data['time'])
  		for(var id in data['list']){
  			i = data['list'][id]
			
  			if($('#'+i).length > 0){ 
  			obj = data['data'][i]
				if(obj){
			console.log(data)
				
  		  if(obj['wave']){	
			  
  			    // wave_data.push(obj['wave']);
  		   		// wave_data = wave_data.concat(obj['wave']);
  				
  				// console.log(wave_data);
  				// wave_data = obj['wave'];
  		   }
		   
  		   if(obj['leads']){
		   	
  			   // for(var j=0;j<14;j++){
		   //   				jid = ''+j
		   //   			   	lead_data[jid] = 	lead_data[jid].concat(obj['leads'][jid])
		   //
		   //   			   console.log(lead_data[jid].length)
		   //
		   //   			   }
			
  		   }
		    			
			
  			 // console.log(obj)
  			$('#'+i+' .hn').html(obj['ref'])
			
  			if($('#'+i+' .bp').html()!=obj['bp']){
  				$('#'+i).addClass('bp_alert');
  				$('#'+i).removeClass('bp_alert_2');
  				$('#'+i+' .msg').html("-");
  			}else{
  				$('#'+i).removeClass('bp_alert');
  				// $('#'+i).removeClass('bp_alert_2');
  				// $('#'+i+' .msg').html("-");
  			}
			
  			$('#'+i+' .bp .value').html(obj['bp'])
			
  			$('#'+i+' .temp .value').html(obj['temp'])
			
  			$('#'+i+' .pr .value').html(obj['pr'])
  			$('#'+i+' .hr .value').html(obj['hr'])
			
			
			
  			$('#'+i+' .rr .value').html(obj['rr'])
  			$('#'+i+' .spo2 .value').html(obj['spo2'])
			
			
  			$('#'+i+' .score .value').html(obj['score'])
			
  			bp = obj['bp'].split('/')
			
  			hr = parseInt(obj['hr'])
  			pr = parseInt(obj['pr'])
  			spo2 = parseInt(obj['spo2'])
  			rr = parseInt(obj['rr'])
  			temp = parseInt(obj['temp'])
			
			
  			if(isNaN(hr))hr=0;
  			if(isNaN(pr))pr=0;
  			if(isNaN(spo2))spo2=0;
  			if(isNaN(rr))rr=0;
			
  			if(isNaN(temp))rr=0;
			
			
  		    vs = [{time:Date.now(),hr:hr,pr:pr,spo2:spo2,temp:temp,rr:rr,bp_sys:parseInt(bp[0]),bp_dia:parseInt(bp[1])}];
			
  			// gfx.tick({update:[{name:'vitalsign',append:vs}]});
			
			}
			
			
  			}else{
  					setTimeout(function () {
  				       // window.location.href = "show?id=<%=params[:id]%>"; //will redirect to your blog page (an ex: blog.html)
  				    }, 2000); //will call the function after 2 secs.
				
  			}
			
  		}
  		 }
  	 };
	
	<% end %>
	<% end %>
	 
	
	
	
	})
</script>
