<%


	ems_case = EMSCase.find params[:id]

	patient_status = ""
	case_note = ""
	patient_status_cls = ""






	case_status = EMSCasePatientStatus.where(:case_id=>ems_case.id).last

	if   case_status and cs = EMSPatientStatus.find(case_status.patient_status_id)
		patient_status = case_status.title
		patient_status_cls = 'btn btn-danger'

		patient_status_cls = 'btn' if cs.color=='normal'

		case_note = "#{format("%.1f min ago",(Time.now-case_status.created_at).to_i/60.0)}"

		status_protocol = EMSPatientStatus.find case_status.patient_status_id

		status_items = EMSPatientStatusItem.where(:patient_status_id=>status_protocol.id).sort(:sort_order=>1).all



	  items = EMSAssessment.where(:id=>{'$in'=>status_items.collect{|i| i.assessment_id }}).sort(:sort_order=>1).all + EMSAssessment.where("$or"=>[{:group=>"status"},{:type=>"patient_status"}]).sort(:sort_order=>1).all


		items = []

		for i in status_items

			item = EMSAssessment.find i.assessment_id

			nitem = EMSAssessment.new item.attributes

			data = {}
			data = JSON.parse(nitem.data) if nitem.data and nitem.data!=""
			data = data.merge(JSON.parse(i.data)).to_json  if i.data and i.data!=""

			nitem.data = data.to_json
			nitem.position = i.position
			items << {:i=>nitem,:data=>data, :item=>i, :position=>nitem.position}

		end




	else


	    items = EMSAssessment.where({}).sort(:sort_order=>1).all.collect{|i|

				{:i=>i, :data=>data, :item=>nil, :position=>i.position }

			}


	end




  labels = ['Track', 'Assess', 'Proc', 'Med', 'EMR', 'Status']
  groups = %w{track assessment proc med emr status}

  sub_groups = {}


  for it in items

		i =it[:i]

    if i.type=='group'
        labels << i.name
        groups << i.code
        sub_groups[i.code]=true
    end

  end

  map = {}

  for it in items

		i =it[:i]

    map[i.group] = [] unless map[i.group]
    map[i.group] << it


  end



%>
<br/>
<%# items.inspect %>
<div class="row">

<% groups.each_with_index do |g,gi| %>
<%
  unless sub_groups[g]
%>
<div class="col-4  mb-3">
<a href="#" class="dispatch_group btn  btn-sm bg-gradient btn-primary w-100"  data-bs-toggle="modal"  data-bs-target="#dispatch_<%=g%>" name="<%=g%>" > <%=labels[gi]%></a>
</div>
<% end %>


<!-- Modal -->
<div class="modal fade" id="dispatch_<%=g%>" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%=labels[gi]%> :
		<span class="<%=patient_status_cls%>"><%=patient_status%></span> <span class="<%=patient_status_cls%>"><%=case_note%></span>
		</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

      <div class="row">
        <% if map[g] and map[g] != nil
          for it in map[g]

						i = it[:i]
					%>
        <div class="col-12 mt-3">
          <a href="#" class="dispatch_item btn bg-gradient btn-primary w-100 <%=it[:position]%>"  code="<%=i.code%>" item="<%=it[:item].id if it[:item]%>"> <%=i.name%> </a>
        </div>
        <% end %>
        <% end %>
      </div>



      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>

<% end %>

</div>

<div class="hidden status-placement" style="display:none;">
<span class="<%=patient_status_cls%> col-12"><%=patient_status%> </span>
</div>

<script>


  var commands = <%=items.collect{|i| i[:i]}.to_json%>


  function dispatch_command(cmd,item){


    found = null;
    assessment_id = null;

    for(var ci in commands){
      c = commands[ci]
      if(c['code']==cmd){
        found = c;
      }
    }

    if(found!=null){

      console.log(found)
      assessment_id = found['_id']



    }

    if(found!=null&&found['type']=='group'){

        $('#dispatch_'+found['code']).modal('show')

    }
    else{

      var url = "<%=get_path "dispatch_process" %>?id="+ems_case_id+"&admit_id="+ message_admit_id+"&item="+item;

      $.ajax({
             type: "POST",
             url: url,
             data: {cmd:cmd, assessment_id: assessment_id }, // serializes the form's elements.
             success: function(data)
             {

              $('#dispatch-panel').html(data)

                 // $('#nurse_note-partial').html(data)// show response from the php script.
           // $('#admit-modal').modal('toggle');
           // $('#form-autocomplete').val("");
             }
      });

    }


  }

    $('.dispatch_item').click(function(e){

      cmd = $(this).attr('code')
			item = $(this).attr('item')

      dispatch_command(cmd, item)
      $('.modal').modal('hide');

      e.preventDefault();

    })

		$(document).ready(function(){

				$('.status').html($(".status-placement").html());

		})

</script>
