<%

  items = EMSAssessment.all

  labels = ['Track', 'Assess', 'Proc', 'Med', 'EMR']
  groups = %w{track assessment proc med emr}

  map = {}

  for i in items

    map[i.group] = [] unless map[i.group]
    map[i.group] << i


  end

%>
<br/>

<div class="row">

<% groups.each_with_index do |g,gi| %>

<div class="col-4  mb-3">
<a href="#" class="dispatch_group btn  btn-sm bg-gradient btn-primary w-100"  data-bs-toggle="modal"  data-bs-target="#dispatch_<%=g%>" name="<%=g%>" > <%=labels[gi]%></a>
</div>


<!-- Modal -->
<div class="modal fade" id="dispatch_<%=g%>" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%=labels[gi]%></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

      <div class="row">
        <% if map[g] and map[g] != nil
          for i in map[g] %>
        <div class="col-12 mt-3">
          <a href="#" class="dispatch_item btn bg-gradient btn-primary w-100"  code="<%=i.code%>" > <%=i.name%></a>
        </div>
        <% end %>
        <% end %>
      </div>



      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>

<% end %>

</div>

<script>


  var commands = <%=items.to_json%>


  function dispatch_command(cmd){


    found = null;
    assessment_id = null;

    for(var ci in commands){
      c = commands[ci]
      if(c['code']==cmd){
        found = c;
      }
    }

    if(found!=null){

      console.log(found)
      assessment_id = found['_id']
    }


      var url = "<%=get_path "dispatch_process" %>?id="+ems_case_id+"&admit_id="+ message_admit_id;

      $.ajax({
             type: "POST",
             url: url,
             data: {cmd:cmd, assessment_id: assessment_id }, // serializes the form's elements.
             success: function(data)
             {

              $('#dispatch-panel').html(data)

                 // $('#nurse_note-partial').html(data)// show response from the php script.
           // $('#admit-modal').modal('toggle');
           // $('#form-autocomplete').val("");
             }
      });


  }

    $('.dispatch_item').click(function(e){

      cmd = $(this).attr('code')
      dispatch_command(cmd)
      $('.modal').modal('hide');

      e.preventDefault();

    })




  	$(".note-message").submit(function(e) {

    cmd = $('#note-value').val()

      dispatch_command(cmd);

     e.preventDefault(); // avoid to execute the actual submit of the form.


/*


     if(found==null){



      var form = $(this);

  	var url = form.attr('action')+"?admit_id="+ message_admit_id;

      $.ajax({
             type: "POST",
             url: url,
             data: form.serialize(), // serializes the form's elements.
             success: function(data)
             {
                 // $('#nurse_note-partial').html(data)// show response from the php script.
  			   // $('#admit-modal').modal('toggle');
  			   $('#form-autocomplete').val("");
             }
      });




 }
*/

  	$('#note-value').val('')

  });







</script>
