<%

  ems_case = EMSCase.find params[:id]
  @ems_case = ems_case
  admit = Admit.find params[:admit_id]
  @admit = admit

  notify_message = false;
  reload = false;
  popup = false;
  med = false;




  stamp = Time.now unless params[:stamp]
  cmd = params[:cmd]

  if params[:assessment_id]==""
      record = admit.nurse_records.create :name=>"Paramedic" , :description=>params[:cmd], :start_time=>stamp
   	   note = EMSProgressNote.create :text=>params[:cmd], :type=>'note', :time=>stamp, :case_id=>ems_case.id, :ref_id=>record.id
	  
      notify_message = true;

  else

      assessment = EMSAssessment.find params[:assessment_id]
      notify_message = true;

      case cmd

      when 'cpr'

        if ems_case.cpr_status=="STARTED"

        else

           ems_case.update_attributes :cpr_status=>'STARTED', :cpr_start_at=>Time.now
           record = admit.nurse_records.create :name=>"Paramedic" ,:description=> assessment.name, :start_time=>stamp
		   note = EMSProgressNote.create :text=>assessment.name, :type=>'note', :time=>stamp, :case_id=>ems_case.id, :ref_id=>record.id
           reload = true;
        end
      when 'stop'

          ems_case.update_attributes :cpr_status=>'STOPED'
          record = admit.nurse_records.create :name=>"Paramedic" ,:description=> assessment.name, :start_time=>stamp
	   	  note = EMSProgressNote.create :text=>assessment.name, :type=>'note', :time=>stamp, :case_id=>ems_case.id, :ref_id=>record.id
		  
          reload = true;

      when 'ekg'

          if ems_case.cpr_status=="STARTED"

            record = admit.nurse_records.create :name=>"Paramedic" ,:description=>"EKG : Confirm rhythm", :start_time=>stamp

          else
            record = admit.nurse_records.create :name=>"Paramedic" ,:description=> assessment.name, :start_time=>stamp

          end
      when 'rhy'

          if ems_case.cpr_status=="STARTED"

            record = admit.nurse_records.create :name=>"Paramedic" ,:description=>"EKG : Confirm rhythm", :start_time=>stamp
            else
            record = admit.nurse_records.create :name=>"Paramedic" ,:description=>"Please start CPR", :start_time=>stamp

          end


          #inline(this,:'dispatch/_patient_ambu', :local=>{:ems_case=>ems_case}

      else

   #  custom services

      if assessment and assessment.data!=""

          obj = JSON.parse(assessment.data)
		  routes = []
          if obj and obj['med']

              medication = Medication.where(:name=>obj['med']).first
              medication = Medication.create(:name=>obj['med']) unless medication
              now = Time.now
              title = "#{medication.name} : #{obj['volume']} #{obj['unit']}"
              # med_record = MedicationRecord.create :admit_id=>admit.id, :name=>title, :volume=>obj['volume'], :unit_type=>obj['unit'], :start_time=>now
              med = true


              med_name = medication.name
              volume = obj['volume']
              unit = obj['unit']
              doses = obj['dose']
			  routes = obj['routes'].split(",") if obj['routes'] and obj['routes'] !=""
              weight = @ems_case.patient_weight

              w = ""

              begin

              if doses and doses.size>0 and weight and obj['volume_formula'] and obj['volume_formula'].index("weight")

              dose = doses[0]

              w = format("%0.2f",dose * weight)
              volume = format("%0.2f", eval(obj['volume_formula']))

              title = "#{medication.name} (#{dose}) : #{volume} #{obj['unit']}"
              end
            rescue Exception=>e

            end
  %>

  <div class="modal fade" id="med-panel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
      <div class="modal-content">

        <form class="med-form">

        <div class="modal-header">
          <h5 class="modal-title"> Med : <%=medication.name%></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">


          <div class="col-9">

            <p class="px-3">
              <span class="t" t="record_contact_name">Medication</span>
            </p><input name='record[name]' value="<%=med_name%>" id="med-name"  class=" vfor form-control mb-3 t-ph"  type="text" placeholder="Name" aria-label="default input example">

          </div>
		  
          <div class="col-3">

            <p class="px-3">
              <span class="t" t="record_route">Route</span>
            </p>
			
            <select name="record[route]" class="form-control vfor" id="med-route">
            <% for i in routes %>
            <option value="<%=i%>"><%=i%></option>
            <% end %>
            </select>
			
		
          </div>
		  
          <div class="col-3">

            <p class="px-3">
              <span class="t" t="record_contact_name">Volume</span>
            </p><input name='record[volume]' id="med-volume" value="<%=volume%>" class="vfor form-control mb-3 t-ph"  type="text" placeholder="Name" aria-label="default input example">

          </div>

          <div class="col-3">

            <p class="px-3">
              <span class="t" t="record_contact_name">Unit</span>
            </p><input name='record[unit]' value="<%=unit%>"  id="med-unit"  class="  vfor form-control mb-3 t-ph"  type="text" placeholder="Name" aria-label="default input example">

          </div>


        
          
          <% if doses and doses.size>0 %>
          <div class="col-4">

            <p class="px-3">
              <span class="t" t="record_contact_name">Dose (mg/kg)</span>
            </p>
            <select name="record[dose]" class="form-control vfor" id="med-dose">
            <% for i in doses %>
            <option value="<%=i%>"><%=i%></option>
            <% end %>
            </select>
          </div>

          <div class="col-4">

            <p class="px-3">
              <span class="t" t="record_contact_name">Dose (mg)</span>
            </p>
            <input name='record[weight]' value="<%=w%>"  id="med-weight"  class="form-control mb-3 t-ph"  type="text" placeholder="Name" aria-label="default input example">

          </div>

          <div class="col-4">

            <p class="px-3">
              <span class="t" t="record_contact_name">Pat Weight (kg)</span>
            </p>

            <input name='patient[weight]'  value="<%=weight%>" id="med-pweight" class="vfor form-control mb-3 t-ph"  type="text" placeholder="Name" aria-label="default input example">

          </div>


      


          <% end %>
          <div class="col-12">

            <p class="px-3">
              <span class="t" t="record_contact_name">Note</span>
            </p><input name='record[title]' value="<%=title%>" id="med-note" class="form-control mb-3 t-ph alert-warning"  type="text" placeholder="Name" aria-label="default input example">

          </div>
         
          </div>

        </div>

        <div class="modal-footer">
          <input type="submit" class="btn btn-primary" value="Submit"/>

          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>

        <script>

          function update_formula(){
			  
			  

			med =   $('#med-name').val()
          
            route = $('#med-route').val()
			
			route_text = ""
			  
			  if(route!=""){
			  	route_text = "on "+route+" "
			  }  
		   
            unit =  $('#med-unit').val()
			  
            <% if doses and doses.size>0 %>
			weight = $('#med-pweight').val()
		    dose = $('#med-dose').val()
            
			  
            dose = parseFloat(dose)
            weight = parseFloat(weight)
            mg = dose*weight
            vol = eval("<%=obj['volume_formula']%>")

            $('#med-weight').val(mg.toFixed(2))

            $('#med-volume').val(vol.toFixed(2))

            note = ""+med+" ("+dose+") "+route_text+": "+vol+" "+unit

            <% else %>
            vol  =  $('#med-volume').val()
            note = ""+med+" "+route_text+": "+vol+" "+unit

            <% end %>



            $('#med-note').val(note)
          }

          $('.vfor').change(update_formula);

        </script>


        </form>

        <script>

          $('.med-form').submit(function(e){


            e.preventDefault();

            var url = "<%=get_path "med_submit" %>?id=<%=ems_case.id%>";

            name = $("#med-name").val()
            volume = $("#med-volume").val()
            unit = $("#med-unit").val()
            note = $("#med-note").val()

            p = {'name':name, 'volume':volume, 'unit':unit, 'note':note }


            <% if doses %>

            dose = $("#med-dose").val()
            weight = $("#med-weight").val()
            pweight = $("#med-pweight").val()

            p["dose"] = dose
            p["weight"] = weight
            p["pweight"] = pweight

            <% end %>


            $.ajax({
              type: "POST",
              url: url,
              data: p, // serializes the form's elements.
              success: function(data)
              {


                  $('#med-panel').modal('hide')

                return false;



              }
       });


            return false;

          })




        </script>

      </div>
    </div>
  </div>

  <%


		      elsif  obj and assessment.type=='patient_status'

              record = admit.nurse_records.create :name=>"Paramedic" ,:description=>"DX : "+assessment.name, :start_time=>stamp

		          patient_status = EMSPatientStatus.where(:name=>obj['name']).first

		          if patient_status

		  	        case_status = EMSCasePatientStatus.create :case_id=>ems_case.id, :patient_status_id=> patient_status.id, :name=>patient_status.name, :title=>patient_status.title

	  	        end

	       elsif obj and assessment.type=='emr'
             notify_message = false
	           # record = admit.nurse_records.create :name=>"Paramedic" ,:description=>"EMR "+assessment.name, :start_time=>stamp
              %>
                <%= inline(this,:'dispatch/_emr', :local=>{:ems_case=>ems_case, :emr_name=>obj['name'], :item=>params[:item], :record_id=>params[:ref_id]}) %>
              <%
         elsif obj

             record = admit.nurse_records.create :name=>"Paramedic" ,:description=>""+assessment.name, :start_time=>stamp

		     end

        else

          record = admit.nurse_records.create :name=>"Paramedic" ,:description=>""+assessment.name, :start_time=>stamp

        end


      end



  end





if notify_message

  path = "miot/#{@context.settings.name}/z/#{admit.zone.name}"
  msg = 'NULL'
  send_msg = <<MSG
#{'Zone.Message'} #{path}
#{msg.to_json}
MSG

@context.settings.redis.publish(path, send_msg)
end

%>
<% if med %>
<script>
    $('#med-panel').modal('show')
</script>
<% end %>
<% if reload %>
<script>
    window.location="show?id=<%=ems_case.id%>&page=paramedic"
</script>
<% end %>
<% if popup %>
<script>
    window.open("<%="../EMS/show"%>?page=emr&id=<%="#{ems_case.id}"%>", 'window name', 'window settings');
</script>
<% end %>
