			<%

				admtis = []

				if params[:admit_id]


					admits = Admit.where(:_id=>params[:admit_id]).all


				else


					admits = Admit.where(:status=>'Admitted', :zone_id=>params[:zone_id]).all


				end



				puts "/////////Admit Count : #{admits.size}"

				for admit in admits



			    station = admit.station

			    zone = station.zone if station

				console = []



				if admit

				nurse_records = admit.nurse_records.limit(30).sort(:start_time=>-1).all

				for m in nurse_records

					console << [m.start_time, :nurse, m]

				end



				for m in admit.medication_records

					console << [m.start_time, :med, m]

					console << [m.stop_time, :med, m] if m.stop_time

				end

				records = admit.records.limit(100).sort(:created_at=>-1).all
				last_bp = "-"
				for m in records

					if last_bp!=m.bp
						console << [m.created_at, :record, m]
						last_bp = m.bp
					end
				end

				records = admit.logs.where(:status=>'COMPLETED').all
				for m in records

					console << [m.stamp, :log, m]

				end

				msgs = admit.messages.where({}).sort(:created_at=>-1).all
				# msgs += admit.messages.where({}).limit(30).sort(:created_at=>-1).all

				# Message.where(:admit_id=>record.id).sort(:created_at=>-1).all

				for m in msgs

					console << [m.created_at, :msg, m]

				end

				end

				end
				# puts console.inspect

				console.collect!{|i| i if i[0]}.compact!

				unless params[:di]
				console.sort!{|a,b| a[0]<=>b[0] }
			else
				console.sort!{|b,a| a[0]<=>b[0] }
			end

				# console.sort!{|a,b| b[0]<=>a[0] }
			%>



			<div class="col-12" style="border:1px ;color:#666">


			    <div class="row">
			        <div class="col-12">
			            <div class="panel panel-primary" id="panel-primary">
			                <div class="panel-heading" id="accordion">
			                    <span class="glyphicon glyphicon-comment"></span>
			                    <div class="btn-group pull-right">
			                        <!-- <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
			                            <span class="glyphicon glyphicon-chevron-down"></span>
			                        </a> -->
			                    </div>
			                </div>
			            <div class="panel-collapse " id="collapseOne">
			                <div class="panel-body-x" id="panel-body">
			                    <div class="chatx chat-content-x" id="chat">
									<!-- <div class="alert border-0 border-start border-5 border-secondary alert-dismissible fade show py-2">
																		<div class="d-flex align-items-center">
																			<div class="font-35 text-secondary"><i class="bx bx-tag-alt"></i>
																			</div>
																			<div class="ms-3">
																				<h6 class="mb-0">Secondary Alerts</h6>
																				<div>A simple secondary alert—check it out!</div>
																			</div>
																		</div>
																		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
																	</div> -->

									<!-- <div class="chat-content-leftside">
										<div class="d-flex">
											<i class="bx bx-tag-alt"></i>
											<div class="flex-grow-1 ms-2">
												<p class="mb-0 chat-time">Harvey, 2:35 PM</p>
												<p class="chat-left-msg">Hi, harvey where are you now a days?</p>
											</div>
										</div>
									</div> -->

									<!-- <div class="chat-content-rightside">
										<div class="d-flex ms-auto">
											<div class="flex-grow-1 me-2">
												<p class="mb-0 chat-time text-end">you, 2:37 PM</p>
												<p class="chat-right-msg">I am in USA</p>
											</div>
										</div>
									</div> -->


		<% while (item = console.shift)!=nil


						i = item[2]

				if item[1]==:msg

					sender = "NA"
					sender = i.sender[0..2].upcase if i.sender


		%>


		<div class="chat-content-leftside">
			<div class="d-flex ">
				<div class="flex-grow-1 me-2">
					<p class="mb-0 chat-time ">EMS <%=sender%>, <%=Time.at(i.ts).strftime("%H:%M") if i.ts%></p>


			                                <p>

					  						<% if i.type == 'image'




					  							# url  = "/miot/img/svg/aoc-icon.svg"
					  							url = "../Message/content?id=#{i.id}"
					  						%>

											<center><a href="<%=url%>" target="_blank" ><img src="<%=url%>" height="200"></a>

											<%
												while  console.first != nil and console.first[1]==:msg and console.first[2].type=='image'
													item = console.shift
													i = item[2]
													url = "../Message/content?id=#{i.id}"
											%>
											<a href="<%=url%>" target="_blank" ><img src="<%=url%>" height="200"></a>
											<% end %>
											</center>

					  						<% elsif i.type == 'voice'
												url = "../Message/content?id=#{i.id}"
											%>
											<%="<span class='chat-right-msg'>"+i.content+"</span><br/>" if i.content != "" %>
											<audio controls preload="none">
											  <source src="<%=url%>" type="audio/mpeg" >
											Your browser does not support the audio element.
											</audio>
											<!--<audio controls preload="none">
											  <source src="<%=url%>" type="audio/3gpp"  type='video/3gpp; codecs="mp4v.20.8, samr"' >
											Your browser does not support the audio element.
											</audio>-->


											<% else %>
					  						<p class="chat-left-msg"><%=i.content%></p>
					  						<% end %>




							  				</div>
							  			</div>
							  		</div>


	    	<% elsif item[1]==:nurse %>


						<div class="chat-content-rightside">
							<div class="d-flex ms-auto">
								<div class="flex-grow-1 me-2">
									<p class="mb-0 chat-time text-end">EMD Note, <%=Time.at(i.created_at).strftime("%H:%M") %></p>
									<p class="chat-right-msg"><%=i.description%></p>
								</div>
							</div>
						</div>

	    	<% elsif item[1]==:med %>

				<div class="alert border-0 border-start border-5 border-warning alert-dismissible fade show py-2">
					<div class="d-flex align-items-center">
						<div class="font-35 text-warning"><i class="bx bx-plus-medical"></i>
						</div>
						<div class="ms-3 col-10">
								<h6 class="mb-0">Med
									<span style="float:right"><%=Time.at(i.created_at).strftime("%H:%M") %></span>
								</h6>
							<div>
							<p class="mb-0 chat-time text-end"> </p>
							<p class="chat-right-msg"><%=i.name%></p>
							</div>
						</div>
					</div>
				</div>


	    	<% elsif item[1]==:log %>


						<div class="alert border-0 border-start border-5 border-warning alert-dismissible fade show py-2">
							<div class="d-flex align-items-center">
								<div class="font-35 text-warning"><i class="bx bx-tag-alt"></i>
								</div>
								<div class="ms-3">
									<h6 class="mb-0">LOG       <span class="glyphicon glyphicon-time"></span><%=Time.at(i.updated_at).strftime("%H:%M") %></small></h6>
									<div><p><%=i.name%></p></div>
								</div>
							</div>
							<!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
						</div>


	    	<% elsif item[1]==:record %>





			<div class="alert border-0 border-start border-5 border-info alert-dismissible fade show py-2">
				<div class="d-flex align-items-center">
					<div class="font-35 text-info"><i class="bx bx-info-square"></i>
					</div>
					<div class="ms-3">
						<h6 class="mb-0">Vital</h6>
						<div><p>PR : <%=i.pr%>, SPO2 : <%=i.spo2%>, NIBP : <%=i.bp%> , TEMP : <%=i.temp%></p></div>
					</div>
				</div>
				<!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
			</div>


			<% if false %>

	 	    <li class="left clearfix">
			<span class="chat-img pull-right">
				VS
            <!-- <img src="http://placehold.it/50/05B706/fff&text=VS" alt="User Avatar" class="img-circle" /> -->
        	</span>

                            <div class="chat-body clearfix">
                                <div class="msg-header">
                                    <strong class="">Vital Sign</strong> <small class="pull-right text-muted" style="float:right;padding-right:10px">
                                        <span class="glyphicon glyphicon-time"></span><%=Time.at(i.created_at).strftime("%H:%M") %></small>
                                </div>
                                <p>


		  						<p>PR : <%=i.pr%>, SPO2 : <%=i.spo2%>, NIBP : <%=i.bp%> , TEMP : <%=i.temp%></p>

                                </p>
                            </div>
						</li>
		 	<% end %>

	  <% end %>

   <% end %>

			                    </div>
			                </div>
			                <!-- <div class="panel-footer">
			                    <div class="input-group">
			                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
			                        <span class="input-group-btn">
			                            <button class="btn btn-warning btn-sm" id="btn-chat">
			                                Send</button>
			                        </span>
			                    </div>
			                </div> -->
			            </div>
			            </div>
			        </div>
			    </div>
			</div>

			<script>
				// var objDiv = document.getElementById("panel-body");
	// 			objDiv.scrollTop = objDiv.scrollHeight;
	  <% if params[:di] == nil %>
	  $('.element-tab').scrollTop(100000000)
		<% end %>
			</script>
