<script src="<%=url_for('hls/hls.js')%>"></script>

<%

ems_case = EMSCase.find params[:id]

admit = ems_case.admit

@current_zone = admit.zone

station = admit.station

googlemap = false

videostream = true


ambu = admit.ambulance

unless ambu

 	ems_command = EMSCommand.where(:case_id=>ems_case.id).first

	ambu = ems_command.ambulance if ems_command

end



%>

<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3" style="border:0px solid red">



	<% if false %>
					<div class="breadcrumb-title pe-3">Paramedic </div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i><strong></strong></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page"></li>
							</ol>
						</nav>
					</div>
					<!-- <div class="ms-auto">
				    <div class="btn-group" role="group" aria-label="First group">
				      <button type="button" class="btn btn-secondary btn_lang" lang="th">TH</button>
				      <button type="button" class="btn btn-outline-secondary btn_lang" lang="en">EN</button>
				    </div>
					</div> -->
					<div class="ms-auto">
						<div class="btn-group">
							<button type="button" class="btn btn-primary">Settings</button>
							<button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
							</button>
							<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>
								<a class="dropdown-item" href="javascript:;">Another action</a>
								<a class="dropdown-item" href="javascript:;">Something else here</a>
								<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
							</div>
						</div>
					</div>
				</div>
<% end %>
</div>
<style>
	.station .label{
		font-size:0.6em;

	}
	.station .value{
		font-size:4em;
		text-align:center;

	}

	.station .alert-msg .value{
		font-size:1em;
		text-align:center;

	}
	/*.station .col-sm-3{
		border:1px solid #333;border-radius: 4px;
		min-height:4em;

	}*/
	.station .pr{color:#00b3b7;

	}

	.station .hr{color:#01bf02;

	}

	.station .bp{color:#5990b7;;

	}

	.station .spo2{color:#00b3b7;

	}

	.station .co2{color:#BBB234;

	}

	.station .temp{color:#2F50E2;

	}

	.station .rr{color:#b7851d;

	}

	.station .col-6{
			border:1px solid #333;
			border-radius: 5px;
	}

	.station .cc{
		color:#bcaf06;

	}
	.station .uc{
		color:#f937e2;

	}

	.station .score{
		color:black;

	}
	.station .alert-msg{
		color:black;

	}


	.station-top .value{
		font-size:2em;
	}


/*	.btn {
		color:#eee;
	}
	.nav-itemx{
		background-color:#666;

	}*/


/*	td,th, thead{
		border:1px solid #0c5758;
	}
	.table td, .table th {
	    padding: .75rem;
	    vertical-align: top;
	    border-top: 1px solid #0c5758
	}
	 .table thead th{
	    padding: .75rem;
		background:#0c2728;
	    vertical-align: top;
	    border-bottom: 0px solid #0c5758
	}*/
	/*	a.nav-link{
			color:#ddd;
		}*/
/*	a.link:link{
		border:1px solid #0c5758;
		color:#ddd;
		padding:10px;margin:10px;
		border-radius: 4px;
		text-decoration: none;
	}
	a.link-info:link{
		background:#0c5758;
		border:none;
		color:#fff;
	}
	a.link-info:visited{
		background:#0c5758;
		border:none;
		color:#fff;
	}
	a.link-info:hover{
		background:#2c7778;
	}*/
	.btn-pcm{
	  color:#E1E1E1;
	  background: transparent linear-gradient(180deg, #3147FF  0%, #1A3388 100%) 0%
	  0% no-repeat padding-box;
	}
	.btn-pcm2{
	  color:#E1E1E1;
	  background: transparent linear-gradient(180deg, #686E71  0%, #1E1E1E 100%) 0%
	  0% no-repeat padding-box;
	}

	.vs-val {
		border:1px solid #ccc;margin:5px;border-radius: 4px;
	}

		        .viewport {
		            top: 0px;
		            left: 0px;
		            overflow-y: auto;
		            right: 0px;
		            height: 800px;
/*					width: 600px;*/
					font-size:0.8em;
					padding:0px;

/*		            background-color: #21272c;*/
		            background-color: #fff;

		            border: 0px solid #000;
		           border-radius: 4px;
		/*            box-shadow: inset 1px 1px 6px 2px rgba(0,0,0, .25);*/
		        }
				svg text {
				    -webkit-user-select: none;
				       -moz-user-select: none;
				        -ms-user-select: none;
				            user-select: none;
				}
				svg text::selection {
				    background: none;
				}
		        .info-svg {
		            fill: #2968AA;
		            overflow: visible;
		        }
				.gxt-box{
					border:0px solid #265d5c;
					min-height:300px;
					color:#ccc;
					margin-bottom:1em
				}
/*				h5{
					border :1px solid #265d5c;padding:10px;
/*		            border: 0px solid #000;*/
		           border-radius: 4px;
				}*/
		</style>




<%

		station_id = "StationID"
		station_id = station.name if station
	flowsheet = true

%>





<!-- Patient Identity End -->

<!-- Flow Sheet -->
<div class="card" style="border:0px solid blue">


<div class="card-body">

<div id="panel" class="row" style="border:0px solid blue;background:#fff;">


<div id="menu3" class="col-12 order-1 col-sm-12  order-sm-1 col-lg-12 order-lg-1  " style="">

		<div class="row">

		<div class="col-9"  >


		<div class="row charting" style="my-2">

			<div  class="<%=station_id%> col-12 station station-top " style="border-right:0px solid #f00;display:block;">

				<div class="row d-flex justify-content-center" style="padding:0px" >
              <div class="vs-val col-2  col-lg-2 col-sm-2 bp">
            <span class="label">BP</span>
            <div class="value">-</div>
              </div>

        	   <div class="vs-val col-1  col-lg-1 col-sm-1 pr">
								<span class="label">PR</span>
								<div class="value">-</div>
							</div>
							<div class="vs-val col-1  col-lg-1 col-sm-1 spo2">
								<span class="label">SpO2</span>
								<div class="value">-</div>
							</div>
							<div class="vs-val col-1  col-lg-1 col-sm-1 hr">
								<span class="label">HR</span>
								<div class="value">-</div>
							</div>
								<div class="vs-val col-1  col-lg-1 col-sm-1 temp">
									<span class="label">Temp</span>
									<div class="value">-</div>
							</div>
							<div class="vs-val col-1  col-lg-1  col-sm-1 rr">
									<span class="label">RR</span>
									<div class="value">-</div>
							</div>

							<div class="vs-val col-1 col-lg-1 col-sm-1 co2">
				    			<span class="label">CO<sub>2</sub></span>
								<div class="value">-</div>
							</div>

							<div class="vs-val col-1 col-lg-1  col-sm-1 score">
								<span class="label">Score</span>
								<div class="value">&nbsp;</div>
							</div>

							<div class="vs-val col-1 col-lg-1  col-sm-1 alert-msg" >
								<span class="label">MSG</span>
								<div class="value" style="overflow:hidden;height:30px;font-size:0.8em">
									&nbsp;
								</div>
							</div>

					</div>

			</div>

			<% if ems_case.paramedic_status=='STARTED' or ems_case.paramedic_status=='FINISHED'  %>

			<div class="col-12 viewport" style="<%='display:none' unless flowsheet%> ;border:0px solid ">
			<%= inline(this,:'_flowsheet')  %>
			</div>
			<% end %>
			<hr/>
			<h4>Device Connect</h4>
			<form action="<%= get_path 'create'%>" method="post" data-remote='true' data-remote-update="paramedic_panel" style="color:black">

			<div class="input-group mb-3">
			<input type="hidden" name="id" value="<%=ems_case.id%>">
			<input type="hidden" name="admit_id" value="<%=admit.id%>">
			<div >
			<label>Select Status :</label>

			<% fieldset(:admit) do |f| %>
			<%= f.select(:status, [['STARTED','STARTED'],['FINISHED','FINISHED']], :value=>ems_case.paramedic_status,:class=>'form-select') %>
			<% end %>
			</div>

			<div>
			<label>Select Device :</label>

			<% fieldset(:admit) do |f| %>
			<%= f.select(:station_id, Station.where(:zone_id=>@current_zone.id).sort(:code=>1).all().collect{|i| [i.id,i.name]}, :value=>admit.station_id,:class=>'form-select') %>
			<% end %>

		    </div>
			</div>

			<input type="submit" name="update" value="Submit">

			</form>
	    </div>


	</div>

		<div class="col-3 " style="border:0px solid;" >

		<%= inline(this,:'_message_page') %>

		<script>



		reload_message("<%=ems_case.id%>","<%=admit.id%>")


		</script>


		</div>


<hr/>




<div class="row" style="display:none">

	<div  class="col-4 order-1 ">
					<div class="row">

					<div class="col">
						<center>
						<video controls preload="none"  autoplay style="100%" height="288" data-setup="{}">
							<source id="dvr" src="http://103.76.181.125:6604/hls/1_80030753_0_1.m3u8?JSESSIONID=45fa0acc3e264fa8bb53da71f8739961" type="application/x-mpegURL">
						</video>
					</center>
					</div>

					<script>
					<%
						dvr_path = nil
						 if station %>
						var full = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '');
						prefix = full+"/<%=@context.settings.name%>"
						admit_path = prefix+"/Station/show?id=<%=station_id%>"
						<% if admit %>
						admit_path = prefix+"/Admit/show?id=<%=admit.id%>"
						<% end %>

						<% if ambu and ambu.device_no and ambu.device_no !="" %>

						// dvr_path = "http://103.76.181.125:8080/808gps/open/player/video.html?lang=en&devIdno=<%=ambu.device_no%>&account=admin&password=minadadmin"
						// dvr_path = "https://103.76.181.125/808gps/open/player/video.html?lang=en&devIdno=<%=ambu.device_no%>&account=admin&password=minadadmin"
						dvr_path = "http://dvr.pcm-life.com:8080/808gps/open/player/video.html?lang=en&devIdno=<%=ambu.device_no%>&account=admin&password=minadadmin"

						tele_path =  prefix+"/Sas/tele?resourceId=<%=ambu.name%>"

            <%
						json = `curl "http://103.76.181.125:8080/StandardApiAction_login.action?account=admin&password=minadadmin"`
            %>
						obj = JSON.parse('<%=json.strip%>')

						jsession = obj['jsession']

						dvr_path = "http://103.76.181.125:6604/hls/1_#{ambu.device_no}_0_1.m3u8?JSESSIONID=#{jsession}"

				        $('#dvr').attr( "src", dvr_path);

						<% end %>

						console.log("#select view1|"+admit_path+" view2|"+dvr_path+" view3|"+tele_path)

					<% end %>
					</script>

					<span class="text-primary"></span>
					</div>
					<div class="row">

						<% if videostream and station and station.stream_url %>
							<div class="col-12 my-2">
								<% if station.stream_url.index('m3u8')%>
								 <video id="video" width="100%" controls autoplay="true"></video>
								<script>
								  var video = document.getElementById('video');
								  var videoSrc = '<%=station.stream_url%>';
								  if (Hls.isSupported()) {
								    var hls = new Hls();
								    hls.loadSource(videoSrc);
								    hls.attachMedia(video);
								    hls.on(Hls.Events.MANIFEST_PARSED, function() {
								    //   video.play();
								    });
								  }

								  else if (video.canPlayType('application/vnd.apple.mpegurl')) {
								    video.src = videoSrc;
								    video.addEventListener('loadedmetadata', function() {
								      video.play();
								    });
								  }
								</script>
								<% else %>
									<center><img src="<%= station.stream_url%>" height="300"></center>
								<% end %>
							</div>
							<% end %>
					</div>


	<% if admit  %>

		<div class="row">

			<div class="col-12">

				<div id="<%=station_id%>" class="<%=station_id%> col-12 station " style="border:0px solid #f00">

					<div class="row d-flex justify-content-center"  >


						<div class="vs-val col-6  pr">
							<span class="label">PR</span>
							<div class="value">-</div>
						</div>
						<div class="vs-val col-6  spo2">
							<span class="label">SpO2</span>
							<div class="value">-</div>
						</div>
					</div>
					<div class="row d-flex justify-content-center"  >
								<div class="vs-val col-6  bp">
									<span class="label">BP</span>
									<div class="value">-</div>
								</div>
								<div class="vs-val col-6 hr">
									<span class="label">HR</span>
									<div class="value">-</div>
								</div>
					</div>
					<div class="row d-flex justify-content-center"  >


								<div class="vs-val col-6 temp">
									<span class="label">Temp</span>
									<div class="value">-</div>
								</div>
								<div class="vs-val col-6 rr">
									<span class="label">RR</span>
									<div class="value">-</div>
								</div>
				    </div>
					<div class="row d-flex justify-content-center"  >
									<div class="vs-val col-6 co2">
						    			<span class="label">CO<sub>2</sub></span>
										<div class="value">-</div>
									</div>

									<div class="vs-val col-6 score">
										<span class="label">Score</span>
										<div class="value">&nbsp;</div>
									</div>
					</div>
					<div class="row d-flex justify-content-center"  >

								<div class="vs-val col-12 alert-msg" >
									<span class="label">MSG</span>
									<div class="value" style="">&nbsp;</div>
								</div>


					</div>

				</div>
		</div>



	</div>



  <% end %>

  </div>


					<div class="col-8">


						<div class="col-12">
			 				<%


		   			           lxi = %w{31-1 25-22 6-1   1-2 1-3 1-4 1-34 1-36 1-37 1-40 1-43 1-45 1-46 1-48  95-54 95-55 95-57}

		   			           lx = %w{31-1 25-22 6-1   1-2 1-36 1-43 1-46   1-3 1-34 1-37 1-40  1-4 1-35 1-45 1-48    95-54 95-55 95-57}

		   			           ll = {}

							   ll['31-1'] = 'CO2'
		   			           ll['25-22'] = 'SpO2'
		   			           ll['6-1'] = 'ART'

		   			           ll['1-2'] = 'I'
		   			           ll['1-3'] = 'II'
		   					   ll['1-4'] = 'III'

		   					   ll['1-34'] = 'aVR'
		   					   ll['1-36'] = 'aVL'
		   					   ll['1-35'] = 'aVF'

		   			           ll['1-37'] = 'V2'

		   					   ll['1-40'] = 'V5'

		   					   ll['1-43'] = 'dV1'
		   					   ll['1-45'] = 'dV3'
		   			           ll['1-46'] = 'dV4'
		   					   ll['1-48'] = 'aV6'

		   					   ll['95-54'] = 'VenI'
		   			           ll['95-55'] = 'VenII'
		   					   ll['95-57'] = 'VenIII'

			 					labels = lx.collect{|x| ll[x]}


								%>

							<div class="row" style="background:black">
							<%

			 				18.times do |w| %>

							<div class="col-12 col-sm-3">
								<div class="row">
		 							<div class="col-4" style="color:white">
		 								<%=labels[w]%>
		 							</div>

			 						<div id="wave-<%=w%>" class="col-lg-12" style="background:#111;border:1px solid #333">
				 				    </div>

								</div>
			 				</div>


			 				<% end %>

							</div>

					 		<div class="row">
					 				<div class="col-12 right " style="padding:10px">

					 			     <span><%=link_to 'History', '#',:class=>'btn btn-pcm2', :id=>'ecg-history-btn' %></span>
					 			    <span><%=link_to 'Print', "../Admit/print_ecg?id=#{params[:id]}",:class=>'btn btn-pcm2',:target=>'_blank' %></span>


					 				</div>
					 		</div>

					 				<script>
					 					<% if admit %>
					 							$('#ecg-history-btn').click(function(){

					 								$.ajax({
					 								  url: "../Admit/ecg_history?admit_id=<%=admit.id %>",
					 								  context: document.body
					 								}).done(function(content) {

					 								  $( '#ecg-history' ).html( content);

					 								  	$('#ecg-history').slideToggle();
					 								});
					 							})
					 					<% end %>
					 						</script>

					 						<div id="ecg-history" style="display:none;color:white">
					 						</div>


					 						<div id="ecg-result">
					 						</div>


						</div>

			 	</div>

		  </div>


</div>

</div>
</div>





<div id="paramedic_panel">

</div>




		<script type="text/javascript">

 var gfx = null;




		$(document).ready(function(){

			if(gfx==null){

 			 var lead_data = {};
		  	 var wave_data = [];


			var data = [100,200,100,200];

			var settings = {version:'1.0'};

		    var components = [];

			var events = [];

			// vs = {name:'vitalsign',type:'vs',show:true,params:['hr','pr','spo2','bp_sys','bp_dia','co2'],records:null};

			vs = {name:'vitalsign',type:'vs',show:true,params:['hr','pr','spo2','bp_sys','bp_dia','co2'],
			groups:[{params:['pr','hr'],range:[0,200],range_auto:true,show:true},
					{params:['bp_sys','bp_dia'],range:[0,200],range_auto:false,show:true},
					{params:['spo2','temp'],range:[0,100],range_auto:false,show:true},
					{params:['co2','rr'],range:[0,100],range_auto:false,show:true}
				],records:null};

			records = [];




			now = Date.now();


			<%
			if admit


      now =  Time.now()
      min10 = now-600


			# senses = Sense.where(:admit_id=>admit.id).limit(3600).sort(:start_time.desc).all.reverse

			senses = Sense.collection.find({:admit_id=>admit.id,:start_time=>{'$gt'=>min10}},{ vs: 1, start_time: 1, _id: 1 }).limit(600).sort(:start_time=>-1).to_a.reverse





			list =[]
			now = Time.now

			if true

			senses.each_with_index do |i,ii|

				o = ActiveSupport::JSON.decode(i['vs'])

				if o
					o.each do |j|
						if j['bp']
							bp = j['bp'].split("/")
							list.push({time:Time.parse(j['stamp']),:temp=>j['temp']?j['temp']:0,pr:j['pr']!='-'?j['pr']:0, :spo2=>j['spo2']!='-'?j['spo2']:0, hr:j['hr']?j['hr']:0, co2:j['co2']?j['co2']:0,rr:j['rr']?j['rr']:0,bp_sys:bp[0].to_i,bp_dia:bp[1].to_i});
						end
					end

				end

			end


			end

			%>


			<% end %>

			records = <%= list.to_json.html_safe %>

			for(var ii in records){

					records[ii]['time'] = Date.parse(records[ii]['time'] )

			}



			vs['records'] = records;

			<%

				meds = admit.medication_records
				med_map = {}
				for i in meds

					k = i.name

					med_map[k] = [] unless med_map[k]
					med_map[k] << i

				end


			%>



			// med = {name:'medication',type:'med',show:true,params:['domicum','fentanyl','0.9%NSS'],records:null};

			med = {name:'medication',type:'med',show:true,params:<%=med_map.keys.to_json.html_safe%>,records:null};

			records = [];
			<% for i in meds

				stop_time = nil
				stop_time = i.stop_time if i.stop_time
			%>

			start_time = new Date(<%=i.start_time.localtime.to_json%>)
			stop_time = null
			<% if i.stop_time %>
			stop_time = new Date(<%=i.stop_time.localtime.to_json%>)
			<% end %>


			records.push({time:start_time,tclass:'<%=i.id%>',stop_time: stop_time,'<%=i.name %>':{r:'<%=i.rate%>',v:'<%=i.volume%>'}});

			<% end %>

			// records.push({time:now+2000,stop_time:now+30000,fentanyl:{r:3,v:300}});
		// 	records.push({time:now+30000,stop_time:now+50000,domicum:{r:3,v:300}});

			med['records'] = records;


			event = {name:'events',type:'event',show:true,records:events};


			components.push(vs);
			components.push(med);
			components.push(event);



			settings['components'] = components

			console.log(settings);


			 var viewport = d3.select(".viewport").append("svg")
    		 .attr("class", "info-svg")

	     var g = viewport.append("g")
		 .attr("transform", "translate(0,0)");

		 gfx = GFX()
		 .svg(g)
		 .startTime(Date.now())
		 .endTime(Date.now())
		 .viewport(d3.select(".viewport"));
		 gfx.data(settings);
		 d3.select("svg").call(gfx);

		 window.addEventListener("resize", gfx.resize);

    gfx.resize()

update_message()
	// var show = function(el){
	//      	return function(msg){ el.innerHTML = msg  }
	//     }

	function show(text){
		// console.log(text)
		$('.msg').html(text)
	}



	  var ws       = new WebSocket('wss://' + window.location.host + "/ws/<%=@context.settings.name%>/Home/index");

	  var plot_pos = {};



  function update_message_page(){


  	$.ajax({
  	  url: "<%=get_path "dispatch"%>?id=<%=params[:id]%>",
  	  context: document.body
  	}).done(function(data) {

		$('#dispath-panel').html(data)

  	});


  }



   function update_message(){


   	$.ajax({
   	  url: "<%=get_path "message_data"%>?id=<%=admit.id%>",
   	  context: document.body
   	}).done(function(data) {
   	 	data = JSON.parse(data)


		while(events.length > 0) {
		    events.pop();
		}

		for(var i in data){
			obj = data[i];
			events.push({time:Date.parse(obj[0]),tclass:obj[3]['_id'],stop_time: Date.parse(obj[0])+15, name:obj[1], description: obj[2] })
		}
		// alert(events.length)

		gfx.tick2({update:[{name:'events',list:events}]});


   	});


   }

	   <%
   jix = {}


   lxi = %w{31-1 25-22 6-1   1-2 1-3 1-4 1-34 1-36 1-37 1-40 1-43 1-45 1-46 1-48  95-54 95-55 95-57}

   lx = %w{31-1 25-22 6-1   1-2 1-36 1-43 1-46   1-3 1-34 1-37 1-40  1-4 1-35 1-45 1-48    95-54 95-55 95-57}

   for i in lx

	   jix[i] = lxi.index(i)  if lxi.index(i)

   end



   %>
   		var lx = <%=lx.to_json.html_safe%>
   		var jix = <%=jix.to_json.html_safe%>
		console.log(jix)





   	function paramedic_process(lines){

        <% if ems_case.status!='Completed' %>


		// lines = m.data.split("\n")

		// console.log(lines[0].split(" ")[0])
		if(lines[0].split(" ")[0]=='Alert'){
			data = JSON.parse(lines[1])

			// alert(data['alert'])

			$('#'+data['station']).addClass('bp_alert_2');
			$('#'+data['station']+' .msg').html(data['alert']);

			// play sound
			ion.sound.play("bell_ring");

		}else
		if(lines[0].split(" ")[0]=='Data.Image'){

			lines.shift()
			img = lines.join("")
			// alert('image '+m.data.length)

			$("#image").attr('src','data:image/jpg;base64,'+ JSON.parse(img))


		}
		else
		if(lines[0].split(" ")[0]=='Zone.Message'){


		  reload_message("<%=ems_case.id%>","<%=admit.id%>")
      	  update_message();
		  update_message_page();

		  // update_message_page();

		}
		else
		if(lines[0].split(" ")[0]=='ZoneUpdate'){


		data = JSON.parse(lines[1])
			//
			// if(data['list'].length!=active)
			// window.location.href = "index";



		$('#timer').html(data['time'])

		for(var id in data['list']){
			i = data['list'][id]
			console.log("update " + i)
			if($('#'+i).length > 0){
			obj = data['data'][i]



			 // console.log(obj)
			$('.'+i+' .hn').html(obj['ref'])

			if($('.'+i+' .bp').html()!=obj['bp']){
				$('.'+i).addClass('bp_alert');
				$('.'+i).removeClass('bp_alert_2');
				$('.'+i+' .msg').html("-");
			}else{
				$('.'+i).removeClass('bp_alert');
				// $('#'+i).removeClass('bp_alert_2');
				// $('#'+i+' .msg').html("-");
			}

			$('.'+i+' .bp .value').html(obj['bp'])

			$('.'+i+' .temp .value').html(obj['temp'])

			$('.'+i+' .pr .value').html(obj['pr'])
			$('.'+i+' .hr .value').html(obj['hr'])



			$('.'+i+' .rr .value').html(obj['rr'])
			$('.'+i+' .spo2 .value').html(obj['spo2'])
			$('.'+i+' .co2 .value').html(obj['co2'])


			$('.'+i+' .score .value').html(obj['score'])

			$('.'+i+' .alert-msg .value').html(obj['msg'])




			<% if googlemap %>
			if(obj['lat']!=''){

			lat = parseFloat(obj['lat'])
			lng = parseFloat(obj['lng'])

			setPosition(lat,lng)

			}
				<% end %>
			bp = obj['bp'].split('/')

			hr = parseInt(obj['hr'])
			pr = parseInt(obj['pr'])
			spo2 = parseInt(obj['spo2'])
			co2 = parseInt(obj['co2'])
			rr = parseInt(obj['rr'])
			temp = parseInt(obj['temp'])


			if(isNaN(hr))hr=0;
			if(isNaN(pr))pr=0;
			if(isNaN(spo2))spo2=0;
			if(isNaN(rr))rr=0;
			if(isNaN(co2))co2=0;

			if(isNaN(temp))rr=0;

			// console.log('ok')

		    vs = [{time:Date.now(),hr:hr,pr:pr,spo2:spo2,temp:temp,co2:co2,rr:rr,bp_sys:parseInt(bp[0]),bp_dia:parseInt(bp[1])}];

			gfx.tick({update:[{name:'vitalsign',append:vs}]});




			}else{
					setTimeout(function () {
				       // window.location.href = "show?id=<%=params[:id]%>"; //will redirect to your blog page (an ex: blog.html)
				    }, 2000); //will call the function after 2 secs.

			}

		}
		 }

		 <% end %>

   	}






   	current_process = paramedic_process





   ws.onmessage = function(m) {


	  }


	 };





	$('.ctl').each(function(){

		obj = $(this)

		obj.click(function(){
			o = $(this)
			 ws.send(o.attr('id'));
		})

	})



<%= inline(this,:'_ecg.js') %>




   // var wave_data = [];

<% 16.times do |i|  %>

  //  presetWave('wave-<%=i%>')
  //
  //  i = "<%=i%>"
  //
  //  lead_data[i] = [];
  // // genData(lead_data[i])
  //
  // showWave('wave-<%=i%>',lead_data,i);

<% end %>


  <% if params[:score] == '1' %>
  $('#menu2-link').click();
  <% else %>
  $('#menu1-link').click();
  <% end %>

  $('#menu3-link').click(function(){
  	gfx.active(true);
    width = document.body.clientWidth;
      // $('.viewport').css('width',width);
  	gfx.render(true);
  });


	gfx.active(true);
    width = document.body.clientWidth;
    // $('.viewport').css('width',width);
	gfx.render(true);



	});


	// init bunch of sounds
	ion.sound({
	    sounds: [
	        {name: "bell_ring"}
	    ],

	    // main config
	    path: "<%=url_for 'sounds/'%>",
	    preload: true,
	    multiplay: true,
	    volume: 0.9
	});





</script>
	<%= inline(this,:'../home/_scoring') %>
