<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
	<link href="<%=url_for('css/main.css?=22')%>" rel="stylesheet">
    <script src="<%=url_for('js/ion.sound.min.js')%>"></script>
    <script src="/vendor/d3/d3.min.cus.js"></script>
	<link href='/vendor/fullcalendar/main.css' rel='stylesheet' />
	<script src='/vendor/fullcalendar/main.js'></script>
    <title>Medical IOT Solution</title>

    <!-- Bootstrap core CSS -->
    <link href="<%=url_for 'css/bootstrap.min.css'%>" rel="stylesheet">
	<link href="/open-iconic/font/css/open-iconic-foundation.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="" rel="stylesheet">
	<script src="/vendor/jquery-1.9.1.min.js"></script>
<style>
.navbar-pcm {
  /* background-color: #06202E; */
  background: transparent linear-gradient(180deg, #03121a  0%, #06202E 40%, #06202E 100%) 0%
    0% no-repeat padding-box;
}
/* change the brand and text color */
.navbar-pcm .navbar-brand,
.navbar-pcm .navbar-text{
  color: #C2C2C2;
}
.navbar-pcm .navbar-toggler-icon{
  color: #C2C2C2 !important;
}
/* change the link color */
.navbar-pcm .navbar-nav .nav-link {
  color: #C2C2C2;
}
/* change the color of active or hovered links */
.navbar-pcm .nav-item.active .nav-link,
.navbar-pcm .nav-item:hover .nav-link {
  color: #ffffff;
}
.navbar-pcm .nav-item.active {
border-bottom: 2px solid #3147FF;
}
.card{
	color:black;
}
.container{
	background:#fff;
	box-shadow: 0px 0px 15px #111;
	border-radius:5px;	
}
.logo-pcm{
  height:3vh;
  border-radius:0.4vh;
}
</style>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark  fixed-top navbar-pcm ">
		
      <a class="navbar-brand" href="../Home/index" >
      <!--<image src="<%=url_for 'img/gxt-sos.png' %>" height="40">-->
      <image src="<%=url_for 'img/svg/aoc-icon.svg' %>" class="logo-pcm">
      </a>
			
	 <% if @current_user %>

			<form class="control-area form-inline mr-sm-2 my-0 col-5  order-sm-3 order-lg-3 col-sm-1 col-lg-2 col-sm-3" style="" action="../Home/search" id="search-form">
				<!--<%=link_to "+", "../Admit/create",:class=>'btn btn-outline-success mr-2 my-0 col-3 col-xs-2 col-sm-1 col-lg-1' %>	-->
			    <input class="form-control mr-2  my-0 col-12 col-xs-6" name='query' id="search" type="text" placeholder="Search" aria-label="Search">
				<!--	<button class="btn btn-outline-success my-0  col-3" type="submit">O</button>-->
 			</form>
		

	   
	   <div class="order-12" style="">
	   
	   <%=link_to "#{@current_user.login} !", "../User/logout", :class=>'btn btn-primary'  %>	
	
  	  </div>
  	   <div class="order-12 text-right" style="width:80px">
		   
  	   <%#link_to "Logout","../User/logout" %>	
	 
    	
		    </div>	
    <% end %>
			
      <button class="navbar-toggler col-2" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
	
      <div class="collapse  navbar-collapse order-sm-1 order-lg-1 col-6 col-sm-8" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
			  <%
			  	name = 'Home'
				@current_zone = nil
				
				unless session[:current_zone]
				
					if Zone.size>0 and @current_user
						session[:current_zone] = Zone.first.id
					else 
						name = 'PCM-LIFE'
					end	
				
				end
				
				if session[:current_zone]
				
					zone = Zone.find session[:current_zone]
					@current_zone = zone
					name = zone.name if zone
					
				end
				
			  %>
            <a class="nav-link" href="../Home/index"> <%= name %> </a>
          </li>

	 
	 
	 
		  <% if @current_user %>
        
		  <% if  @current_zone and @current_zone.mode!='smart_health' or @current_role=='admin'%>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link" href="../Home/cms" >CMS </a>
		  </li> -->
		  
          <li class="nav-item dropdown">
            <a class="nav-link" href="../Home/patient" >Patients</a>
		  </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="../Admit/index" >Admission</a>
		  </li>
		  
		   
	
		  <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Master</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="../Zone/index">Zone</a>
  		      <a class="dropdown-item" href="../Room/index">Room</a>
  		       <a class="dropdown-item" href="../Bed/index">Bed</a>
			
			  <a class="dropdown-item" href="../Station/index">Station</a>
			  <a class="dropdown-item" href="../Patient/index">Patient</a>
			  <a class="dropdown-item" href="../Admit/index">Admit</a>
			  <a class="dropdown-item" href="../AdmitLog/index">Admit Log</a>
			  
			  
			  <a class="dropdown-item" href="../NurseRecord/index">NurseRecord</a>
              <a class="dropdown-item" href="../Medication/index">Medication</a>
              <a class="dropdown-item" href="../DataRecord/index">DataRecord</a>
    		  <a class="dropdown-item" href="../Provider/index">Provider</a>
    		 <a class="dropdown-item" href="../Procedure/index">Procedure</a>
    		 <a class="dropdown-item" href="../Diagnosis/index">Diagnosis</a>
 			 <a class="dropdown-item" href="../Score/index">Score</a>
	         <a class="dropdown-item" href="../ScoreItem/index">Score-Item</a>
	         <a class="dropdown-item" href="../ScoreCondition/index">Score-Condition</a>
			<a class="dropdown-item" href="../AddressBook/index">AddressBook</a>
			  <a class="dropdown-item" href="../Sense/index">Data</a>
	 		 </div>
          </li>

		  <% if @current_zone and  @current_zone.mode!='smart_aoc' or @current_role=='admin'%>
         
			  <li class="nav-item dropdown">
	            <a class="nav-link dropdown-toggle" href="../Sas/index" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">AOC</a>
	            <div class="dropdown-menu" aria-labelledby="dropdown01">
				  <a class="dropdown-item" href="../Ambulance/index">Ambulance</a>
				  <a class="dropdown-item" href="../AmbulanceDriver/index">AmbulanceDriver</a>
				  
				  <a class="dropdown-item" href="../AocCaseReport/index">AocCaseReport</a>
				  <a class="dropdown-item" href="../AocCaseRoute/index">AocCaseRoute</a>
				  
				  <a class="dropdown-item" href="../Sas/dashboard">Dashboard</a>
				   <a class="dropdown-item" href="../Message/index">Messages</a>
		 		 </div>
	          </li>
<% end %>
			  <% end %>
			  
			  
			  
			   <% if  @current_zone and @current_zone.mode=='smart_health' and @current_role=='admin' %>
			   
			  <li class="nav-item dropdown">
	            <a class="nav-link dropdown-toggle" href="../Sas/index" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SH</a>
	            <div class="dropdown-menu" aria-labelledby="dropdown01">
					
		 		<a class="dropdown-item" href="../SHHospital/index">Hospital(โรงพยาบาล)</a>
		  		<a class="dropdown-item" href="../SHNetwork/index">Network(รพสต)</a>
		 		<a class="dropdown-item" href="../SHOfficer/index">Officer(อสม)</a>
	 			<a class="dropdown-item" href="../SHVisit/index">Visit</a>
				<a class="dropdown-item" href="../SHRelation/index">Relation</a>
		  	  	<a class="dropdown-item" href="../SHUserHospital/index">UserHospital</a>
		  		<a class="dropdown-item" href="../SHUserNetwork/index">UserNetwork</a>
		 
		 		 </div>
	          </li>
			  <% end %>

	      <!-- <li class="nav-item dropdown hidden">
	            <a class="nav-link dropdown-toggle" href="../Opd/index" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">OPD</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
	 		  <a class="dropdown-item" href="../Opd/index">Station</a>
		  </div>
			  </li> -->
  		    <li class="nav-item dropdown control-area">
                 <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Care Unit</a>
                 <div class="dropdown-menu" aria-labelledby="dropdown01">
  				 <% for i in Zone.all.collect{|i| i if i.name!='default'}.compact %>
                   <a class="dropdown-item" href="../Home/switch_zone?id=<%=i.id%>"><%=i.name%></a>
  				 <% end %>
               </li>
			   
			   
			   	  <% if  @current_role == 'admin' %>
			   
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">System</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="../User/index">User</a>
              <a class="dropdown-item" href="../Role/index">Role</a>

              <a class="dropdown-item" href="../Setting/index">Settings</a>
		    </div>
          </li>
		    <% end %>
			   	  <% if  @current_role == 'smarthealth_admin' %>
			   
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Master</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="../SmartHealth/index">ลงทะเบียนผู้ป่วย</a>
              <a class="dropdown-item" href="../Provider/index">รายชื่อแพทย์</a>
              <a class="dropdown-item" href="../Score/index">Early Warning Score</a>
		    </div>
          </li>
		    <% end %>
		  <% end %>
		  
		  
       	 <li class="nav-item" >
			
		</li>
		 <!--
		      <li class="nav-item dropdown">
	            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
	            <div class="dropdown-menu" aria-labelledby="dropdown01" style="display:none">
	              <a class="dropdown-item" href="../Home/admin">Admin</a>
	              <a class="dropdown-item" href="../Home/rpd">Responsive Design</a>
	              <a class="dropdown-item" href="../Home/rpd2">Responsive Design 2</a>
	
	            </div>
	          </li>
		-->
		  
         
        </ul>
     
      </div>

    </nav>
	
	<% if  @current_zone and  @current_zone.mode == 'smart_health' %>
	<script>

		<% if @current_role == 'network' %>
		//$('.navbar-pcm').css({"background-image":"linear-gradient(90deg, rgba(93,30,119,1) 0%, rgba(38,15,70,1) 100%)"})
		<% elsif @current_role == 'hospital' or @current_role == 'smarthealth_admin' %>
		//$('.navbar-pcm').css({"background-image":"linear-gradient(90deg, rgba(50,122,186,1) 0%, rgba(31,81,124,1) 100%)"})
		
		<% end%>
		$('.navbar-pcm').css({"background-image":"linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(20,21,24,1) 100%)"})
		
		
		
	</script>
	<% end %>
    <main role="main" class="main" style="border:0px solid red;">
   <div id="main-container" class="containerx" style="padding-left:15px;padding-right:15px;">
	   
  <div class="row">
   <div class="col-12">
	
	<%#session.inspect%>
	 
   <%=yield :content%>
   
   <%=session.inspect if params[:debug]%>
   
   <br/>
    &nbsp;
   </div>
  </div>
  
  	</div>
    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    -->
    <script src="<%=url_for 'js/bootstrap.min.js'%>"></script>
<script>
		 $('#search').focus();
</script>
  </body>
</html>

