
  <style>

  </style>
  <script>
  $(document).ready(function(){
      $(".selfor").click(function(){
          name = $(this).attr("selfor")
          $("."+name).removeClass("btn-success").addClass("btn-secondary")
          $(this).removeClass("btn-secondary").addClass("btn-success")
          $("#"+name).val($(this).html())
      })
  })
  </script>
  <%
    msel = {}
    fsel = %w{ route volume unit_type }
    msel['route'] = MedRoute.all.collect{|i| i.name}.compact
    msel['volume'] = %w{ 1 5 10 }
    msel['unit_type'] = %w{ amp mg cc tab }

  	keys = this.model.keys.collect{|i| i unless i[0][0]=='_'}.compact
  	for i in keys
		name = i[0]
  %>	
  
	<%
	if name=='medgroup_id'
	 
	list = MedGroup.all
		
	%>
  <div class="form-group">
    <label for="product-name"><%=i[0].humanize %></label>
	
	<select id="record-<%=name%>" name="record[<%=name%>]" class="form-control" value="<%=@record[name]%>">
        <option value="" <%="selected" if @record[name]=='' %>></option>
	<% for j in list.collect{|k| [k.id,"#{k.name}"]} %>
	  <option value="<%=j[0]%>" <%="selected" if @record[name]==j[0] %>><%=j[1]%></option>
	<% end %>
	</select>
  </div>
  <% elsif fsel.index(name)%>
  <%
        rs = msel[name]
  %>
  <div class="form-group">
    <label for="product-name"><%=i[0].humanize %></label>
    <input type="hidden" class="form-control" id="record-<%=i[0]%>" name="record[<%=i[0]%>]" value="<%=@record[i[0]]%>">
    <div class="row">
    <div class="col-12">
    <%  for r in rs %>
    <%  r = r.to_f if name=='volume'%>
        <div class="btn <%=(@record[i[0]]==r)? "btn-success" : "btn-secondary"%> selfor record-<%=i[0]%>" selfor="record-<%=i[0]%>"><%=r%></div>
    <%  end %>
    </div>
    </div>
  </div>
  <% else %>
    <div class="form-group">
      <label for="product-name"><%=i[0].humanize%></label>
      <input type="text" class="form-control" id="record-<%=i[0]%>" name="record[<%=i[0]%>]" value="<%=@record[i[0]]%>" placeholder="<%=i[0]%>">
    </div>
  <% end %>
  <% end %>
  