    <!-- Modal -->
    <div class="modal fade" id="scoring-panel" tabindex="-1" role="dialog" aria-labelledby="ScoreModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
      
	  
	  
	 
      </div> 
    </div>  
   </div>
   
   
<style>

	:root {
	    --bg-body: #00243E;
	    --bg-nav: #002748;
	    --bg-second-nav: #003357;
	    --bg-content: #000C2A;
	    --text-main:#E5E5E5;
	    --text-second:  #88B1DA;
	    --text-orange: #FFA200;
	    --text-blue: #00B3FD;
	    --text-yellow: #D2C406;
	    --text-green: #32CE0B;
	    --btn-blue: #034B87;
	  }
	  
	body{
		background: var(--bg-body);
/*		background: transparent linear-gradient(180deg, #000  0%, #13171D 100%) 0%
		0% no-repeat padding-box;*/
		height:100vh;
	}
	.sense{
		color:var( --text-main);
	}
	.bp{
		color:var( --text-orange);
	}
	
	.pr,.spo2{
		color:var(--text-blue);
	}
	.rr{
		color:var(--text-yellow);
	}
	.score{
		color:white;
	}
	
	.temp{
		color:var(--text-green);
	}
	
	.top-header{
		background:#0a1320;
		font-size:4vh;
/*		box-shadow: 0px 0px 15px #1A3388;*/
		color:var( --text-second);
	}
	
	.header{
/*		height:4em;*/
		 background:#eef;
		background: transparent linear-gradient(180deg,var(--bg-nav)   0%, var(--bg-second-nav) 100%) 0%
		0% no-repeat padding-box;
		
		font-size:5vh;
/*		box-shadow: 0px 0px 15px #1A3388;*/
		color:var(--text-main);
	}
	.sense-panel{
		
		/* height:5.2em; */
		height:20vh;
		border-radius: 5px;
		/* padding:10px; */
		padding:1vh;
		border:1px solid var(--bg-second-nav);
		/* background: transparent linear-gradient(180deg, #151C26  0%, #17222F 100%) 0%
		0% no-repeat padding-box; */
		
		vertical-align:baseline;
		margin-bottom:0px;
		margin-top:0.5vh;
	}
	.s-active{
	/*	background: transparent linear-gradient(180deg, #13171D  0%, #000 100%) 0%
		0% no-repeat padding-box;
		color:#000 !important;
		box-shadow: 0px 0px 15px #1A3388;*/
		background-color: var(--bg-content);
	}
	.s-empty{
/*		background: transparent linear-gradient(180deg, #151C26  0%, #17222F 100%) 0%*/
	
/*		0% no-repeat padding-box;*/
		
		background-color: var(--bg-content);
		
	}
	.act-score{
		background-color:#0b2548;
	}
	.sense-val{
		font-size:9vh;
/*		color:#0037aa;*/
		text-align:center;
	}
	.sense-val-mini{
		font-size:7vh;
/*		color:#0037aa;*/
		text-align:center;
	}
	.sense-name{
		font-size:2.5vh;
		color:#999;
	}
	
	.score-warning-1{
		color:yellow;
	}
	.score-warning-2{
		color:orange;
	}
	.score-warning-3{
		color:red;
	}
	
	
	
	.footer{
		font-size:4vh;
	}
	.btn-send{
		font-size:3vh;
		color:#E1E1E1;
		background: transparent linear-gradient(180deg, #3147FF  0%, #1A3388 100%) 0%
		0% no-repeat padding-box;
		border-radius: 2vh;
		padding:3vh;
	}
	.btn-hn{
	    background-color: #6B98C1;
	    color:#ffffff;
	    border-radius: 15px;
	    height:50px;
	    width:80px;

	    text-align: center;
	    font-size: 2.4em;
	    padding-top:0px;
	    margin:5px;
	}
	
	.btn-hn-x{
	    background-color: #6B98C1;
	    color:#ffffff;
	    border-radius: 15px;
	    height:50px;
	    width:80px;

	    text-align: center;
	    font-size: 2.4em;
	    padding-top:0px;
	    margin:5px;
	}
	.btn-hn-option{
	    background-color: #6B98C1;
	    color:#ffffff;
	    border-radius: 15px;
	    height:50px;
	 

	    text-align: center;
	    font-size: 2.4em;
	    padding-top:0px;
	    margin:5px;
	}
	.btn-score{
	    background-color: #6B98C1;
	    color:#ffffff;
	    border-radius: 100px;
	    height:50px;
	    width:80px;

	    text-align: center;
	    font-size: 2.4em;
	    padding-top:0px;
	    margin:5px;
	}
	
	.display-hn{
	    border-radius: 10px;
	    height:1em;
	    text-align: center;
	    vertical-align: middle;
	    font-size: 3em;
		padding:0px;
		line-height:1;
	    background: #BCD1E4;
	    background: -webkit-linear-gradient(to top, #E2E2E2, #BCD1E4);  /* Chrome 10-25, Safari 5.1-6 */
	    background: linear-gradient(to top, #E2E2E2, #BCD1E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	    color:#00517F;
	    margin: 0px 20px 0px 20px;
		
	}
	
	.main-value{
		font-size:8vh;
	}
	
	/* width */
	::-webkit-scrollbar {
	  width: 4px;
	}

	/* Track */
	::-webkit-scrollbar-track {
	  background: var(--bg-second-nav); 
	}
 
	/* Handle */
	::-webkit-scrollbar-thumb {
	  background: var(--text-second); 
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	  background: var(--bg-second-nav); 
	}

</style>
<div class="row top-header">
 
 <div class="col-3">
 	Smart OPD
 </div>

 <div class="col-4 d-flex justify-content-center p-name">
 	<%=Setting.get(:default_center_name)%>
 </div>
 <div class="col-5 d-flex justify-content-end" >
 	<div class="timer"  style="font-family:monospace">00:00</div>
 </div>
 
</div>

<div class="query-value"></div>

<div class="row header">
	
	
	
	<div class="col-12" >
	
		<div style="border:1px solid var(--text-second) ;padding:5px;border-radius: 1vh;font-size:0.7em" class="d-flex justify-content-between">
			
		<div style="color:var(--text-second)"><div class="d-inline-flex">HN : </div>&nbsp;
		<div class="d-inline-flex hn v-entry-hn" label="hn" name="hn" style="text-align:center;min-width:150px;border:1px solid;min-height:4vh;border-radius: 1vh;"> <div label="Patient ID" class="hn-value v-entry">-</div></div></div>
		
		<div class="col  patient_name " label="patient" name="patient" style="text-align:center"></div>
	
	     <div style="color:var(--text-second); "class="col-3 patient" label="patient" name="patient" style="text-align:center">
			 เพศ <div class="d-inline-flex patient_gender">-</div>,  อายุ : <div class="d-inline-flex patient_age"> - </div> ปี </div>
	     
		 
		 Staff : <div class="d-inline-flex staff_id"> 
			 <%
			 staff_id = '-'
			 staff_id = session[:staff_id] if session[:staff_id] and session[:staff_id].size>0 
			 %>
		<div class="d-inline-flex staff_id v-entry" label="Staff ID" name="staff_id" style="text-align:center;min-width:50px;padding-left:10px;padding-right:10px;border:1px solid #aaa;min-height:4vh;border-radius: 1vh;"> <div label="Staff ID" class=" v-entry"><%=staff_id%></div></div></div>
		</div>
		</div>
		</div>
	
	
	</div>
	
	
	
</div>

<div class="row">
	<div class="col">
		
		
		<div class="row no-gutters">
			
			
			<div class="col-4">
				<div class="sense-panel s-empty" style="height:40vh">
						<div class="row">
								<div class="col-12 d-flex justify-content-center bp">
									SYS/DIA
								</div>
						</div>
						
						<div class="row">
								<div class="col-12 d-flex justify-content-center bp main-value ">
									<div class="bp_sys"><div class="col sense-val v-entry " label="BP Systolic" name="bp_sys"> - </div></div> / <div class="bp_dia"> <div class="col sense-val v-entry  " label="BP Diastolic" name="bp_dia"> - </div></div>
								</div>
						</div>
						<div class="row">
								<div class="col-12 d-flex justify-content-center bp">
									(<div class="bp_mean"><div class=" v-entry " label="BP Mean" name="bp_mean"> - </div></div> ) <%='mmHg'%>
								</div>
						</div>
						
						<div class="sense-panel header" style="height:13vh;">
							<center ><a href="#" class="start_bp btn btn-success">Start</a>  <a href="#" class="auto_bp btn btn-info ">Auto</a>  <a href="#" class="stop_bp btn btn-warning">Stop</a></center>
						  <div class="auto" ><div class="v-entry"></div></div>
						</div>
						
						
				</div>
				
				
				
			
			
			
				 
			</div>
			
			
			<div class="col-3">
				<div class="row">
						<div class="col-12">
						<div class="sense-panel s-empty pr">
							
						<div class="row ">
							<div class="col-8 " >
							Pulse
							</div>
							<div class="col-4  " style="text-align:right">
							bpm
							</div>
						</div>
		
						<div class="row">
							<div class="col sense-val v-entry " label="Pulse rate (bpm)" name="pr">
							-
							</div>
						</div>
		
						<div class="row">
							<div class="col sense-name noti" >
							
							</div>
			
						</div>
						
						
						</div>
						</div>
				</div>
				<div class="row">
						<div class="col-12">
						<div class="sense-panel s-empty rr">
							<div class="row ">
								<div class="col-8 " >
								Resp
								</div>
								<div class="col-4  " style="text-align:right">
								bpm
								</div>
							</div>
			
							<div class="row">
								<div class="col sense-val v-entry " label="Respiratory rate (bpm)" name="rr">
								-
								</div>
							</div>
			
							<div class="row">
								<div class="col sense-name noti" >
								
								</div>
				
							</div>
							
						</div>
						</div>
				</div>
				
			</div>
			
			<div class="col-3">
				<div class="row">
						<div class="col-12">
						<div class="sense-panel s-empty spo2">
								
								<div class="row ">
									<div class="col-8 " >
									SpO2
									</div>
									<div class="col-4  " style="text-align:right">
									%
									</div>
								</div>
				
								<div class="row">
									<div class="col sense-val v-entry " label="SpO<sub>2</sub> (%)" name="spo2">
									-
									</div>
								</div>
				
								<div class="row">
									<div class="col sense-name noti" >
									
									</div>
					
								</div>
								
								
								
								
								
								
								
								
						</div>
						</div>
				</div>
				<div class="row">
						<div class="col-12">
						<div class="sense-panel s-empty temp">
								
								<div class="row " style="">
									<div class="col-8 " >
									Temp
									</div>
									<div class="col-4  " style="text-align:right">
									C
									</div>
								</div>
				
								<div class="row"  style="font-size:4vh">
									<div class="col sense-val v-entry " label="Body Temperature (C)" name="temp">
									-
									</div>
								</div>
				
								<div class="row">
									<div class="col sense-name noti" >
									
									</div>
					
								</div>
								
								
						</div>
						</div>
				</div>
			</div>
			
			
			
			
			
			<div class="col-2">
				<div class="row">
						<div class="col-12">
						<div class="sense-panel s-empty score">
								
								<div class="row ">
									<div class="col-8 " >
									Score
									</div>
									<div class="col-4  " style="text-align:right">
									
									</div>
								</div>
				
								<div class="row">
									<div class="col sense-val v-entry " label="Score" name="score">
									-
									</div>
								</div>
				
								<div class="row">
									<div class="col sense-name noti" >
									
									</div>
					
								</div>
								
								
								
						</div>
						</div>
				</div>
				<div class="row">
					
					<div class="col-12">
						<div class="sense-panel s-empty select-score sense">
						<div class="row ">
							<div class="col-6 sense-name" >
							Select 
							</div>
							<div class="col-6 sense-name" style="text-align:right">
							<%= %>
							</div>
						</div>
				
						<div class="row">
							<div class="col sense-val v-score v-extra" label="<%= %>" name="score_name" style="overflow:hidden;font-size:5vh">
							-
							</div>
						</div>
				
						<div class="row">
							<div class="col sense-name g-0" >
							<!-- Notification -->
							</div>
					
						</div>
					</div>
		
					</div>
					
		
				</div>
			</div>
			
			
		
			
			<div class="col-12 sense-container ">
			
			<div class="row  no-gutters">
			
			<%
			if false 	
				
				
			# {"senses":[{"name":"gcs","label":"GCS","unit":"","source":null,"scales":[{"min":13.0,"max":15.0,"s":4,"t":""},
			# {"min":9.0,"max":12.0,"s":3,"t":""},{"min":6.0,"max":8.0,"s":2,"t":""},{"min":4.0,"max":5.0,"s":1,"t":""},
			# {"min":-99999,"max":3.0,"s":0,"t":""}]},{"name":"bp_sys","label":"Sys BP","unit":"","source":null
			# ,"scales":[{"min":90.0,"max":999999,"s":4,"t":""},{"min":76.0,"max":89.0,"s":3,"t":""},{"min":50.0,"max":7

			sense_list = DataRecord.get_sense_list #%w{bp pr spo2 temp weight height}.collect{|t| t.to_sym}
			sense_label = DataRecord.get_sense_label #%w{ความดันโลหิต อัตราการเต้นหัวใจ ปริมาณออกซิเจน อุณหภูมิ น้ำหนัก ส่วนสูง}
			sense_unit = DataRecord.get_sense_unit 
			
			sense_unit = %w{kg cm &nbsp;  &nbsp;  &nbsp;   &nbsp;   &nbsp; }	
			# sense_list = %w{w bp-sys pr rr h bp-dia spo2 sselect bmi bp-mean bt sresult}.collect{|i| i.to_sym}
			sense_list = %w{ weight height bmi  }.collect{|i| i.to_sym}	
			
			sense_label = %w{ Weight Height BMI  }
			
			sense_source = %w{}
			
			%>
	
			<%
			
			# glucose mg/dL
			sense_list.each_with_index do |x,xi| 	
				
				ii = xi
				label = sense_label[xi]
				source = ""
				source = sense_source[xi] if sense_source[xi]  
				
			%>
			
			
			<div class="col-2 " >
				<div class="sense-panel s-empty <%=x%> sense"  style="height:18vh;">
				<div class="row ">
					<div class="col-6 sense-name" >
					<%= label %>
					</div>
					<div class="col-6 sense-name" style="text-align:right">
					<%= sense_unit[ii] %>
					</div>
				</div>
				
				<div class="row">
					<div class="col sense-val-mini v-entry " source="<%=source%>" label="<%= x %>" name="<%=x%>">
					-
					</div>
				</div>
				
				<div class="row">
					<div class="col sense-name" >
					<!-- Notification -->
					</div>
					
				</div>
			</div>
		
			</div>
			
			<% end %>
			<% end %>
			<%
			if true 	

			sense_list = DataRecord.get_sense_list #%w{bp pr spo2 temp weight height}.collect{|t| t.to_sym}
			sense_label = DataRecord.get_sense_label #%w{ความดันโลหิต อัตราการเต้นหัวใจ ปริมาณออกซิเจน อุณหภูมิ น้ำหนัก ส่วนสูง}
			sense_unit = DataRecord.get_sense_unit 
			
			sense_unit = %w{&nbsp;  &nbsp;   &nbsp;   &nbsp; }	
			# sense_list = %w{w bp-sys pr rr h bp-dia spo2 sselect bmi bp-mean bt sresult}.collect{|i| i.to_sym}
			sense_list = %w{}.collect{|i| i.to_sym}	
			# glucose mg/dL
			sense_list.each_with_index do |x,xi| 	
				
				label = sense_label[xi]
				ii = xi
				
			%>
			
			<div class="col-2 sense-x" >
				<div class="sense-panel s-empty <%=x%> sense" style="height:18vh;">
				<div class="row ">
					<div class="col-6 sense-name" >
					<%= label %>
					</div>
					<div class="col-6 sense-name" style="text-align:right">
					<%= sense_unit[ii] %>
					</div>
				</div>
				
				<div class="row">
					<div class="col sense-val-mini v-entry " label="<%= x %>" name="<%=x%>">
					-
					</div>
				</div>
				
				<div class="row">
					<div class="col sense-name" >
					<!-- Notification -->
					</div>
					
				</div>
			</div>
		
			</div>
			
			
			<% end %>
			
		
			
		<% end %>
		
		
	</div>	</div>
		
		
		</div>
		
	</div>
</div>

<br/>
<div class="row footer" >
	<div class="col">
	<%=link_to "Log", "log" , :class=>' btn  btn-result-cancle ', :style=>"font-size:1em" %>
	</div>
		
	<div class="col">
	<div id="msgs" style="font-size:0.5em"></div>
	</div> 
	
	<div class="col" style="text-align:right;">
	<div class="row">

	<%=link_to "ยกเลิก", "index" , :class=>'btn col-6' , :style=>"font-size:1em"%>
	
	<%=link_to "ส่งข้อมูล", "#" , :class=>' btn btn-entry btn-success btn-primary col-6', :style=>"font-size:1em" %>
	
	
	</div>
	
	</div>
	
</div>

<!-- Modal -->
<div class="modal fade" id="opdModal" tabindex="-1" role="dialog" aria-labelledby="opdModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="opdModalTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <center>
        <div class="display-hn">
        -
        </div>
        <table width="300px">
        <tr>
            <td><div class="btn-hn">1</div></td>
            <td><div class="btn-hn">2</div></td>
            <td><div class="btn-hn">3</div></td>
        </tr>
        <tr>
            <td><div class="btn-hn">4</div></td>
            <td><div class="btn-hn">5</div></td>
            <td><div class="btn-hn">6</div></td>
        </tr>
        <tr>
            <td><div class="btn-hn">7</div></td>
            <td><div class="btn-hn">8</div></td>
            <td><div class="btn-hn">9</div></td>
        </tr>
        <tr>
            <td><div class="btn-hn">.</div></td>
            <td><div class="btn-hn">0</div></td>
            <td><div class="btn-hn"><img src="<%=url_for 'img/svg/delete.svg'%>"></div></td>
        </tr>
        </table>
        </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-clear " style="float:left" >Clear</button>
		
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary save-modal">Submit</button>
      </div>
    </div>
	</div>

</div>


<!-- Modal -->
<div class="modal fade" id="opdModal2" tabindex="-1" role="dialog" aria-labelledby="opdModalTitle" aria-hidden="true">
  <div class="modal-dialog   modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title opdModalTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <center>
		<div class="row">
			<div class="col">
			<div class="display-hn ">
	        -
	        </div>
			</div>
		</div>
		<div class="row no-gutters">
			
		<div class="col opdModal2-op opdModal2-x">
	        <table class="opdModal2-options">
	    
	    	</table>
			
		</div>
		
		<div class="col opdModal2-weight opdModal2-x">
			
        <div class="row">
            <div class="btn-hn-x col-10 wx" val="30">รถ 30</div>
            <div class="btn-hn-x col-10 wx" val="50">รถ 50</div>
       		<div class="btn-hn-x col-10 wx" val="60">รถ 60</div>
       	 <script>
			 $('.wx').click(function(){
			 	
				v = parseFloat($('.display-hn').html())
				
				w = parseFloat($(this).attr("val"))
				 
				$('.display-hn').html((v-w).toFixed(2))
				 
				
			 })
		 </script>
	   
	   </div>
			
		</div>
		
		
		
 		<div class="col opdModal2-ob_survey opdModal2-x">
			
         <div class="row">
             <div class="btn-hn-x col-10 wx" val="30">รถ 30xx</div>
             <div class="btn-hn-x col-10 wx" val="50">รถ 50xx</div>
        		<div class="btn-hn-x col-10 wx" val="60">รถ 60</div>
        	 <script>
 			 $('.wx').click(function(){
			 	
 				v = parseFloat($('.display-hn').html())
				
 				w = parseFloat($(this).attr("val"))
				 
 				$('.display-hn').html(v-w)
				 
				
 			 })
 		 </script>
	   
 	   </div>
			
 		</div>
		
		
		
		
		
		
		 <div class="col opdModal2-pain opdModal2-x">
			<br/>
				<img src="<%=url_for("smart-opd/pain.png") %>" usemap="#image-map" />
				
	
			<map name="image-map">
			    <area class="pains" target="" alt="0" title="0" href="0" coords="48,116,104,172" shape="rect">
			    <area class="pains" target="" alt="1" title="1" href="1" coords="113,118,146,172" shape="rect">
			    <area class="pains" target="" alt="2" title="2" href="2" coords="151,118,187,174" shape="rect">
			    <area class="pains" target="" alt="3" title="3" href="3" coords="193,118,228,172" shape="rect">
			    <area class="pains" target="" alt="4" title="4" href="4" coords="235,119,282,172" shape="rect">
			    <area class="pains" target="" alt="5" title="5" href="5" coords="287,115,343,173" shape="rect">
			    <area class="pains" target="" alt="6" title="6" href="6" coords="351,117,404,175" shape="rect">
			    <area class="pains" target="" alt="7" title="7" href="7" coords="411,119,447,175" shape="rect">
			    <area class="pains" target="" alt="8" title="8" href="8" coords="452,118,491,171" shape="rect">
			    <area class="pains" target="" alt="9" title="9" href="9" coords="494,117,532,175" shape="rect">
			    <area class="pains" target="" alt="10" title="10" href="10" coords="535,118,587,173" shape="rect">
			</map>
			
			
          	 <script>
   			 $('.pains').click(function(e){
				
   				 v = parseInt($(this).attr('alt'))
				 
				 	$('.display-hn').html(v)
				 
				 $('#opdModal2 .save-modal').click();
				 e.preventDefault();
				
   			 })
   		 </script>
		
			
		</div>
				
				
		<div class="col opdModal2-scale opdModal2-x">
		
	        <table width="200px">
	        <tr>
	            <td><div class="btn-hn">1</div></td>
	            <td><div class="btn-hn">2</div></td>
	            <td><div class="btn-hn">3</div></td>
	        </tr>
	        <tr>
	            <td><div class="btn-hn">4</div></td>
	            <td><div class="btn-hn">5</div></td>
	            <td><div class="btn-hn">6</div></td>
	        </tr>
	        <tr>
	            <td><div class="btn-hn">7</div></td>
	            <td><div class="btn-hn">8</div></td>
	            <td><div class="btn-hn">9</div></td>
	        </tr>
	        <tr>
	            <td><div class="btn-hn">.</div></td>
	            <td><div class="btn-hn">0</div></td>
	            <td><div class="btn-hn"><img src="<%=url_for 'img/svg/delete.svg'%>"></div></td>
	        </tr>
	        </table>
		</div>
		
		
		
		</div>
		
		</center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-clear " style="float:left" >Clear</button>
		
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary save-modal">Submit</button>
      </div>
    </div>
	</div>

</div>






<div id="buffer">
</div>
            <a href="#" id="beep" style="display:none">beep</a>
            <a href="#" id="ready" style="display:none">ready</a>

<!-- Modal -->
 <!-- Modal -->
 <div class="modal fade" id="scoreModal" tabindex="-1" role="dialog" aria-labelledby="ScoreModalTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="opdModalTitle">Select Score</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <center>
         <div class="display-score">
         -
         </div>
         <table width="300px">
       
	   <%
	   	
	   scores = Score.where(:active=>true).sort(:sort_order=>1).all
		
	   for s in scores
	   %>
         <tr>
             <td><div class=" btn btn-info btn-score-select" sid="<%=s.id%>" style="width:100%;font-size:3vh"><%=s.name%></div></td>
           
         </tr>
       <% end %>
	   
	   
	   
	   
	    </table>
         </center>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-clear " style="float:left" >Clear</button>
		
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary" id="save-modal">Submit</button>
       </div>
     </div>
   </div>
  </div>
   





	<div class="col-2 sense-template sense-x" style="display:none">
		<div class="sense-panel s-empty sense" style="height:18vh;">
		<div class="row ">
			<div class="col-9 sense-name sense-title" >
			-
			</div>
			<div class="col-3 sense-name sense-unit" style="text-align:right">
			
			</div>
		</div>
		
		<div class="row">
			<div class="col sense-val-mini v-entry v-extra " label="" name="">
			-
			</div>
		</div>
		
		<div class="row">
			<div class="col sense-name" >
			<!-- Notification -->
			</div>
			
		</div>
	</div>

	</div>



	
	<script>




	

		
    
	    $(document).ready(function(){

		
			var current_modal ;
			var will_reset_hn = true;
			var target_key = 'hn';
			var score_model = null;
		    var score_map = {};
		  





			$('#bp_start').click(function(){
				//alert('start')
				if(typeof device_interface === 'undefined'){
			
				}else{
					device_interface.bp_start();
				}
		
		
			})
			$('.btn-clear').click(function(){
				$(".display-hn").html('')
		        var myAudio = document.getElementById('audio-0')
		        myAudio.play();
			})
		
		    function checkInput(d){
				// alert(d)
		        v = $("."+d +" .v-entry").html().trim()
		        c = $("."+d +" .v-entry").closest(".sense-panel")
		        // prefix="de-"
		        // if(c.hasClass("d-entry-dark")) prefix="dk-"
		        if(v!==''&&v!=='-'){              
		            c.addClass("s-active").removeClass("s-empty")      
		        }else{
		            c.addClass("s-empty").removeClass("s-active")
		        }
		        isComplete = true

		        if(isComplete){
		            if($(".btn-entry").attr('class')){
						   $("#ready").click()
			
		                $(".btn-entry").addClass("btn-opd").removeClass("btn-entry")
		                $('.btn-opd').click(submitEntry)
         
		            }
		        }else{
		            $('.btn-opd').unbind()
		            $(".btn-opd").addClass("btn-entry").removeClass("btn-opd")

		        }
		    }
		
		    function submitEntry(){
	
	
	
				$('.btn-primary').html('Loading')
		        $.post( "post", prepare() , function( data ) {         
		            data.inspect 
		
					hn = $('.hn .v-entry').html().trim()
		
		            $("#beep").click()
		            setTimeout(function(){ window.location.replace("result?hn="+hn);  }, 1000);
               
		        });
		    }


		  
			function setup_sense(sn){
				
				
				$('#opdModal2 .modal-dialog').removeClass('modal-lg');
				s = score_map[sn]
				
				console.log(s)
				$('.opdModal2-x').hide();
				
				if(s!=null&&s['scales']==null){
					
					$("#opdModal2 .opdModalTitle ").html(s['label'])
			     
					console.log("Setup score for : " + s['name'])
					
					the_modal = "opdModal2"
					$('.opdModal2-scale').hide();
					$('.opdModal2-op').hide();
					
				
					
					if(s['source']==null||s['source']==""){
					
						if(s['options']!=null&&s['options'].length>0){
							$('.opdModal2-options').empty()
						
							$('.opdModal2-op').show();	
						
							for(var id in s['options'] ){
								v = s['options'][id]
							
								$('.opdModal2-options').append('<tr><td><div class="btn-hn-option col" score="'+v['s']+'" map="'+v['k']+'" style="">'+v['v']+'</div></td></tr>');
							
							}
						
					        $(".btn-hn-option").on('click',function(){
					            var myAudio = document.getElementById('audio-'+cur_buffer)
					            myAudio.play();
								k = $(this).attr('map')
								$('.display-hn').html(k)
								$('#opdModal2 .save-modal').click();
							
					            return false;
					        })
	     				
						}
					
						if(s['scales']!=null&&s['scales'].length>0){
					
							$('.opdModal2-scale').show();
					
						
						}
					
					}else{
						
						
						$('.opdModal2-'+s['source']).show();
							
						if(s['source']=='weight'){
							
							if($('.type .v-entry').html().trim()!='wheelchair')
								$('.opdModal2-'+s['source']).hide();
							
							$('.opdModal2-scale').show();
							
						}
						
						if(s['source']=='pain'){
						
							$('#opdModal2 .modal-dialog').addClass('modal-lg');
							
						}
						
							
							
					}
					
					
				}else{
					
					d = $('.'+sn+" .v-entry").attr('label')
					
					$("#opdModal2 .opdModalTitle ").html(d)
					
					$('.opdModal2-scale').show();
					$('.opdModal2-op').hide();
					
				}
				
			}
		 function extract_score(data){
		   	
	 		 for(var si in data['senses']){
		   	
		
			
	 				s = data['senses'][si]
				 
				 
				 
	 				score_map[s['name']] = s;
			
	 			   d = $('.'+s['name']+" .v-entry")
	 				   // alert(d.html())
	 				   if(d!=null&&d.html()!=undefined){
			   	
				
	 					console.log("Exist "+s['name'])
				   
				  
	 					$('.'+s['name']).addClass('act-score')   
				   
				   
				   
	 				   }else{
			   
			   	
			
			   	
			
	 		 	   x = s['name']
	 			   x_label = s['label']
		   
   
   
	 		 	   template = $('.sense-template').clone();
   
	 		 	   template.removeClass('sense-template');
   
	 		 	   template.find('.sense-title').html(x_label)
	 		 	   template.find('.sense').addClass(x)
	 		 	   template.find('.v-entry').attr('name',x)
	 	           template.find('.v-entry').attr('label',x_label)
   
	 		 	   template.show();
   					
				   if(s['default']!=null){
					
	 		 	   	template.removeClass('sense-x')
				   	template.find('.v-entry').html(s['default'])
				   }
				
					
	 		 	   	 template.appendTo('.sense-container .no-gutters')
   					

	 
		   		     template.find(".v-entry").click(function(){
		   		         v = $(this).html().trim()
		   		 		console.log(v)
		   		         if(v=='-')v = '' 
		   		 		$(".display-hn").html(v)

		   		 		 current_modal = $(this).attr('name')
		   		 		 target_key = current_modal
         				  
		   		         setup_sense(current_modal)
						
		   				 $("#opdModal2").modal('toggle')
			 
			 
			 
		   		     })
		    
	 				template.find('.sense').addClass("act-score");
		 
		 
	 			    }
		 
		 
	
	 	   			}
		 
		 }
		   

		    function call_score(div_class, score_id, mode,data){
	   
		 	   // alert(score_id)
		 	   score_model = {};
			   
			   $('.act-score').removeClass("act-score")
			   $(".noti").html("")
			   
			   $(".noti").removeClass("score-warning-1")
			   
			   $(".noti").removeClass("score-warning-2")

			   $(".noti").removeClass("score-warning-3")
			   
	   
		 	   score_model['senses'] = [];
	   
		 	   $('.sense-container .sense-x').remove();
	   			
						   //
			   // s = {name:'rr',label:'RR',unit:'bpm'}
			   //
			   // 	   		   scores = []
			   // scores.push({min:null,max:-1,s:3,t:"Error"});
			   // scores.push({min:0,max:8,s:3,t:"very low"});
			   // scores.push({min:9,max:20,s:0,t:"low"});
			   // scores.push({min:21,max:25,s:1,t:"normal"});
			   // scores.push({min:26,max:35,s:2,t:"high"});
			   // scores.push({min:36,max:99,s:3,t:"very high"});
			   // scores.push({min:100,max:null,s:-1,t:"Error"});
			   //
			   // s['scales'] = scores
			   //
			   // 	   		   options = []
			   // options.push({k:'Tube',v:'Airtube',s:1,t:""});
			   // options.push({k:'Room',v:'RoomAir',s:0,t:""});
			   //
			   // 	   		   s['options'] = options
			   //
			   //
			   // 	   		   score_model['senses'].push(s);
			   // score_map[s['name']] = s;
			   //
			   //
			   // s = {name:'temp',label:'Temperature',unit:'C'}
			   //
			   // 	   		   scores = []
			   // scores.push({min:null,max:0,s:-1,t:"Error"});
			   // scores.push({min:0,max:35,s:2,t:"very low"});
			   // scores.push({min:35.1,max:36,s:1,t:"low"});
			   // scores.push({min:36.1,max:37.5,s:0,t:"normal"});
			   // scores.push({min:37.6,max:38.4,s:1,t:"high"});
			   // scores.push({min:38.5,max:99,s:2,t:"very high"});
			   // scores.push({min:100,max:null,s:-1,t:"Error"});
			   //
			   // s['scales'] = scores
			   //
			   //
			   //
			   // 	   		   score_model['senses'].push(s);
			   // 	   		   score_map[s['name']] = s;
			   //
			   //
			   // s = {name:'glucose',label:'Glucose',unit:'mg/L'}
			   //
			   // 	   		   scores = []
			   // scores.push({min:null,max:-1,s:3,t:"Error"});
			   // scores.push({min:0,max:8,s:3,t:"very low"});
			   // scores.push({min:9,max:20,s:3,t:"low"});
			   // scores.push({min:21,max:25,s:3,t:"normal"});
			   // scores.push({min:26,max:35,s:3,t:"high"});
			   // scores.push({min:36,max:99,s:3,t:"very high"});
			   // scores.push({min:100,max:null,s:-1,t:"Error"});
			   //
			   // s['scales'] = scores
			   //
			   // 	   		   score_model['senses'].push(s);
			   // score_map[s['name']] = s;
			   //
			   //
			   //
			   //
			   // s = {name:'bp_sys',label:'BP Sys',unit:'mg/L'}
			   //
			   // 	   		   scores = []
			   // scores.push({min:null,max:-1,s:3,t:"Error"});
			   // scores.push({min:0,max:8,s:3,t:"very low"});
			   // scores.push({min:9,max:20,s:3,t:"low"});
			   // scores.push({min:21,max:25,s:3,t:"normal"});
			   // scores.push({min:26,max:35,s:3,t:"high"});
			   // scores.push({min:36,max:99,s:3,t:"very high"});
			   // scores.push({min:100,max:null,s:-1,t:"Error"});
			   //
			   // s['scales'] = scores
			   //
			   // 	   		   score_model['senses'].push(s);
			   // score_map[s['name']] = s;
			   //
			   //
			   //
			   //
			   // s = {name:'concious',label:'Concious',unit:''}
			   //
			   // 	   		   options = []
			   // 	   		   options.push({k:'C01',v:'รู้สึกตัว',s:0,t:""});
			   // 	   		   options.push({k:'C02',v:'สับสน',s:1,t:""});
			   //
			   // 	   		   s['options'] = options
			   //
			   //
			   // 	   		   score_model['senses'].push(s);
			   // score_map[s['name']] = s;
			   //
			   //
			
			
			   
			   
	    	$.ajax({
	   	   	  url: "get_score?score_id="+score_id,
	   	   	  context: document.body,
	   	   		method: 'get'
	   	   	}).done(function(data) {
				
	   	   		
				score_model = JSON.parse(data);
				// alert(score_model['name'])
				
				
				  console.log(score_model);
				
				
				
			   extract_score(score_model)
			   
		 	
			 
   		   
			 
						sos();
			
	   	   	});
			   
			   
	
		    }
	

	
			custom_sense = {"senses":[{"name":"type","default":"walk","label":"Type","unit":"","options":[{"k":"walk","v":"Walk","s":0,"t":""},{"k":"wheelchair","v":"Wheelchair","s":0,"t":""},{"k":"bed","v":"Bed","s":0,"t":""}]},
				{"name":"weight","label":"Weight","unit":"kg","default":"-","source":"weight"},
				{"name":"height","label":"Height","unit":"cm","default":"-","scales":[]},
				{"name":"bmi","label":"BMI","unit":"","default":"-","scales":[]}
			
			]}

			extract_score(custom_sense)
		
	
			function getPatient(){
			    hn = $(".hn-value").html().trim()
	 			$(".query-value").html(hn)
				console.log(hn)
				$.ajax({
				  url: "find_patient?hn="+hn,
				  context: document.body
				}).done(function(data) {
		  
				   patient = JSON.parse(data)
					console.log(patient)
			
					patient_name = "ไม่พบข้อมูล"
					if(patient['first_name']&&patient['first_name'].length>0){
				
						patient_name = patient['prefix_name']+patient['first_name']+" "+patient['last_name']
		
						$('.patient_name').html(patient_name)	
						$('.patient_gender').html(patient['gender'])	
						age = parseFloat(patient['age'])
						$('.patient_age').html(parseInt(age))	
						$('.hn .v-entry').html(patient['hn'])	
				                 
						will_reset_hn = true
			     
				
					}else{
						$('.patient_name').html(patient_name)	
						$('.patient_gender').html('-')	
						$('.patient_age').html('-')	
					}
				
				
		
			
			
					$('#ready').click()
			
			
				  // $( this ).addClass( "done" );
				}); 
	   
			}
		
		
		
		
	        function hnPush(s){
	            v = $(".display-hn").html().trim()
	            b = s.html()
	            if(b.indexOf("img")!==-1){
	                v = v.substr(0,v.length-1)
	            }else{
	                v+=b
	            }
	            $(".display-hn").html(v)       
	        }

	        var buffer = 10;
	    	var cur_buffer = 0 ;
			var the_modal = "" ;
	
	    	for(var i=0;i<buffer;i++){
	    		var myAudio = document.createElement('audio');
	    		  myAudio.setAttribute("id","audio-"+i)
	    		 if (myAudio.canPlayType('audio/mpeg')) {
	    			  myAudio.setAttribute('src','<%=url_for 'sounds/water_droplet.mp3'%>');
	    		 }
	    		 $('#buffer').append(myAudio);
		  
	    	}
	
	
	
	
	
	
	
	
	
	
	
	        $(".v-score").on('click',function(){
				
	   			$('#scoring-panel').modal('hide')
	    		$("#scoreModal").modal('show')
				$('.act-score').removeClass("act-score")
		        return false;
	        })
			
	        $(".btn-score-select").on('click',function(){
				
	            var myAudio = document.getElementById('audio-'+cur_buffer)
	            myAudio.play();
				
				
	    	
	   		 	text = $(this).html()
	   		 	
				$('.display-score').html(text)
	   		 	$('.select-score .v-score').html(text.split(" ")[0])
         
	   		 	score_id = $(this).attr('sid')
			
				$("#scoreModal").modal('hide')
	   		 	
	   			data = prepare()
	   		 	call_score('.score .v-entry',score_id, 'ajax', data)
		 
	            return false;
	        })	
			
		  	
			
			
	 
	 
   	 <%
		 
   		 default_score = Score.where(:active=>true, :default=>true).sort(:sort_order=>1).first
		 
   		 if default_score

		 
        %>
		$('.display-score').html('<%=default_score.name%>')
	   	$('.select-score .v-score').html('<%=default_score.name%>')
   	 	data = prepare()
   	 	call_score('.score .v-entry','<%=default_score.id%>', 'ajax', data)
	 
   	 <%
    			end
   	 %>
	 
			
			
			
	    	$(".btn-clear").click(function(){
		
	    		$('.display-hn').html("");
		
	    	})  
		  
	        $(".btn-hn").on('click',function(){
	            var myAudio = document.getElementById('audio-'+cur_buffer)
	            myAudio.play();
	            cur_buffer+=1;
	            if(cur_buffer==10)cur_buffer=0;
	            hnPush($(this))
				checkRange();      
	            return false;
	        })
		
	        $(".btn-hn-option").on('click',function(){
	            var myAudio = document.getElementById('audio-'+cur_buffer)
	            myAudio.play();
				

	            return false;
	        })
		
		
		
			
			function checkRange(){
			
				
				v = $('.display-hn').html().trim();
				
				if(current_modal=='pr'){
					i = parseInt(v);
				
					if(i>300){
						v = 300
					}
					if(i<0){
						v = 0
					}
				}
				if(current_modal=='bp_sys'){
					i = parseInt(v);
				
					if(i>400){
						v = 400
					}
					if(i<0){
						v = 0
					}
				}
				
				if(current_modal=='spo2'){
					i = parseInt(v);
				
					if(i>100){
						v = 100
					}
					if(i<0){
						v = 0
					}
					
					
				}
				
				if(current_modal=='temp'){
					i = parseInt(v);
				
					if(i>99){
						v = 99
					}
					if(i<0){
						v = 0
					}
					
					
				}
				
				
			$('.display-hn').html(v)				
			}
			
			
			
			
			$(document).keypress(function(e){
		 
		 	   console.log('key '+e.which)
		        // if($('.display-hn').html()=='-')$('.display-hn').html("")
			
				if(target_key=='hn'){
					
				
				 
				 
			     if( event.which == 13 ) {
			     	getPatient();   
				 	will_reset_hn = true;
					 $('#'+the_modal+' .save-modal').click();
				 }
				 if( event.which == 8){
					 $('.patient_name').html('...')			 
		        	 v = $("."+target_key+"  .v-entry").html().trim()
					 v = v.substring(0,v.length-1);
					  $('.display-hn').html(v.trim())
					 $("."+target_key+" .v-entry").html(v.trim())   
					 
				 }
				 else{
					 if(will_reset_hn){
					 	will_reset_hn = false;
					    $("."+target_key+"  .v-entry").html('')
				
					 }
					 $('.patient_name').html('...')			 
		        	 v = $("."+target_key+"  .v-entry").html().trim()
        		 
					 v+=String.fromCharCode(e.keyCode)
        
		        	 $("."+target_key+" .v-entry").html(v.trim())   
				 } 
		 			
					
				 $('.display-hn').html($("."+target_key+" .v-entry").html());
				 
		 		}else{
		 		
				
					 
   			     if( event.which == 13 ) {
					 $('#'+the_modal+' .save-modal').click();
   				 }
				 else
				 if( event.which == 8){
				
   					 v = $('.display-hn').html().trim()
					 
   					 v = v.substring(0,v.length-1);
					 $('.display-hn').html(v.trim())
   					 // $("."+target_key+" .v-entry").html(v.trim())  
   				 }
   				 else{
   					 v = $(".display-hn").html().trim()
        		 
   					 v+=String.fromCharCode(e.keyCode)
        
   		        	 $('.display-hn').html(v.trim())   
   				 } 
		 			
					
				 
					
					
		 		}
				
				checkRange();	
				
				
			})	
			

	        $(".v-entry-hn").click(function(){
	            v = $(".hn .v-entry").html().trim()
	            if(v=='-')v = '' 
				$(".display-hn").html(v)
			
				current_modal = $(this).attr('name')
	            mname = $(this).parent("div").find(".l-entry").html()
				the_modal = 'opdModal'
	            $("#opdModalTitle").html($(this).attr('label'))
	            $("#opdModal").modal('toggle')
	        })
			
			
	        $(".v-entry").click(function(){
	            v = $(this).html().trim()
				console.log(v)
	            if(v=='-')v = '' 
				$(".display-hn").html(v)
				the_modal = 'opdModal'
				current_modal = $(this).attr('name')
				target_key = current_modal
	            // mname = $(this).parent("div").find(".l-entry").html()
	            $("#opdModalTitle").html($(this).attr('label'))
	            
				setup_sense(current_modal);
				$("#opdModal2").modal('toggle')
					
					
	        })
			
	  	
			
		
			$(".save-modal").click(function(){
	
	            value = $(".display-hn").html().trim()
				
				// alert('value')
				
	            if(value==='') value='-'
				$('.'+current_modal+" .v-entry").html(value)
				
				target_key = 'hn'
				will_reset_hn = true
					
				if(the_modal!="opdModal2"){
						
				if(current_modal=='hn'){
					
					getPatient();
					$("#opdModal").modal('hide')
				}	
				else
				if(current_modal=='auto'){
					
					v = parseInt($(".auto .v-entry").html());
					start_auto_bp(v);
					$("#opdModal2").modal('hide')
				}	
				else
				{
		
				if(current_modal=='weight'||current_modal=='height'){
					if($('.weight .v-entry').html().trim()!="-"&&$('.height .v-entry').html().trim()!="-"){
						weight = parseFloat($('.weight .v-entry').html().trim())
						height = parseFloat($('.height .v-entry').html().trim())
						bmi = weight /(height*height/10000.0)
						bmi_text = bmi.toFixed(2);
					
	                    $('.bmi .v-entry').html(bmi_text)
	                    
					}
				
				}
				
				checkInput(current_modal)
				
				$("#opdModal").modal('hide')
				$("#opdModal2").modal('hide')
				
				sos()
				
				
				}
				
				}else{
					
					$("#opdModal2").modal("hide")
					sos();
					
				}
			
	        })
	        var beep = document.createElement('audio');
	        if (beep.canPlayType('audio/mpeg')) {
	            beep.setAttribute('src','<%=url_for 'sounds/Beep_Short.mp3'%>');
	        }	
	        var ready = document.createElement('audio');
	        if (ready.canPlayType('audio/mpeg')) {
	            ready.setAttribute('src','<%=url_for 'sounds/Wood_Plank_Flicks.mp3'%>');
	        }	
        
	        $("#beep").on("click",function(){
	            beep.play();       
	        })

	        $("#ready").on("click",function(){
	            ready.play();       
	        })
		
		
			function prepare(){
				var data = {};
				var hn = "<%=params[:hn]%>"
				var vn = ""
				var device_id = "<%=Setting.get :serial_number, "00000" %>"
				<% if params[:device_id] %>
				device_id = "<%=params[:device_id]%>"
				<% end %>
				var today = new Date();
				var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
				var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
				var datetime = date+'T'+time;
				var bp=''
				var bp_sys=''
				var bp_dia=''
				var bp_mean=''
				var pr=''
				var rr=''
				var spo2=''
				var temp=''
				var weight=''
				var height=''
				var score = ''
				var bmi =''
				var staff_id = ''
			
				vn = $('.query-value').html()

				$('.hn .v-entry').each(function(){
					hn = $(this).html().trim();
				})
		
				$('.bp_sys .v-entry').each(function(){
					bp_sys = $(this).html().trim();
				})
				$('.bp_dia  .v-entry').each(function(){
					bp_dia = $(this).html().trim();
				})
		
				$('.bp_mean .v-entry').each(function(){
					bp_mean = $(this).html().trim();
				})
		
				$('.weight .v-entry').each(function(){
					weight = $(this).html().trim();
				})
				$('.height .v-entry').each(function(){
					height = $(this).html().trim();
				})
				$('.bmi .v-entry').each(function(){
					bmi = $(this).html().trim();
				})
		
				$('.rr .v-entry').each(function(){
					rr = $(this).html().trim();
				
				})
		
		
				$('.pr .v-entry').each(function(){
					pr = $(this).html().trim();
				})
		
				$('.spo2 .v-entry').each(function(){
					spo2 = $(this).html().trim();
				})
		
				$('.temp .v-entry').each(function(){
					temp = $(this).html().trim();
				})
		
				$('.score .v-entry').each(function(){
					score = $(this).html().trim();
				})
		
				$('.staff_id .v-entry').each(function(){
					staff_id = $(this).html().trim();
				})
		
				bp = ""+bp_sys+"/"+bp_dia
		
		
		
		
			 	data = { staff_id:staff_id,  hn: hn, vn:vn,  datetime: datetime,score:score,bp:bp, bp_sys:bp_sys, bp_dia:bp_dia, bp_mean:bp_mean, pr:pr,rr:rr, spo2:spo2, temp:temp, weight:weight, height:height, bmi:bmi, device_id:device_id }
				
				
				$('.v-extra').each(function(){
					name = $(this).attr("name")
					val = $(this).html().trim();
					data[name] = val
					
				})
				
				
				console.log(data)

				return data
		    }



	
			
	
	
			

	
			// S0. S1
			// M0. M1
	
	
			function sos(){
		
				
				err = [];
		
				score = 0
				count = 0 
				
				max_score = 0;
		
				console.log(score_model)
		
				if(score_model!=null){
					
					// score = 99
			
					
					
		   		 
				 for(var si in score_model['senses']){
			   	
					 i_score= 0;
		   			   s = score_model['senses'][si]
					   d = $('.'+s['name']+" .v-entry").html()
					 	dv = parseFloat(d);
					
					 if(s['scales']){
					
						 for(var ii in s['scales']){
						 	
							i = s['scales'][ii]
							
							 min = i['min']
							 max = i['max']
							 
							 if(min==null) min = -999999;
							 if(max==null) max = -999999;
							 // console.log("min "+i['min']+" max "+i['max']+" "+dv +" s "+i['s']) 
							 
							 if(dv>=min&&dv<=max){
								 
							 	// alert("min "+i['min']+" max "+i['max']+' s '+i['s'])
								i_score = i['s']
								
								 if(i_score>max_score){
								 	max_score = i_score
								 }
								 
								 $('.'+s['name']+" .noti").html(''+i_score+" : "+i['t'])

								 
								 
			 					$('.'+s['name']+" .noti").removeClass("score-warning-1")
			 					$('.'+s['name']+" .noti").removeClass("score-warning-2")
			 					$('.'+s['name']+" .noti").removeClass("score-warning-3")
								 
			 					$('.'+s['name']).removeClass("score-warning-1")
			 					$('.'+s['name']).removeClass("score-warning-2")
			 					$('.'+s['name']).removeClass("score-warning-3")
								 
					
					
 			 					if(i_score==1){
 			 							$('.'+s['name']+" .noti").addClass("score-warning-1")
 										$('.'+s['name']+" ").addClass("score-warning-1")
 			 					}
								
			 					if(i_score==2){
			 							$('.'+s['name']+" .noti").addClass("score-warning-2")
										$('.'+s['name']+" ").addClass("score-warning-2")
			 					}
					
					
			 					if(i_score==3){
			 							$('.'+s['name']+" .noti").addClass("score-warning-3")
										$('.'+s['name']+" ").addClass("score-warning-3")
									
			 					}
					
								 
								 
								 count++;
								 
							 }else{
							 	
							 }
							 
							
						 }
							
					 } 
					 
					 if(s['options']){
					
						 for(var ii in s['options']){
						 	
							i = s['options'][ii]
							
							 k = i['k']
							 
							 if(d.trim()==k){
								 
							 	// alert("min "+i['min']+" max "+i['max']+' s '+i['s'])
								i_score = i['s']
								 count++;
								 
							 }
							 
							
						 }
							
					 } 
					 
					 
					 
					 
					 
					 
					 score += i_score;
					   
					   
					 
					 
				 }
					 
					 
					 
					 
					
					
					
				}else{
		
				
				list = ['spo2', 'bp_sys', 'temp', 'pr']
			
				for(var i=0;i<list.length;i++){
			
					v = list[i]
					s = 0 
					title = ""
					t = $('.'+v+" .v-entry").html().trim()
					if(t!=''&&t!='-'&&t!='0'){
						x = parseFloat(t)
						count++;
						if(v=='temp'){
							title = "temp"
							if(x<=35)s=-2;
							if(x>=35.1&&x<=36)s=-1;
							if(x>=36.1&&x<=38)s=0;
							if(x>=38.1&&x<=38.4)s=1;
							if(x>=38.5)s=2;
					
						}else
						if(v=='bp_sys'){
							title = "BP systolic"
							if(x<=80)s=-3;
							if(x>=81&&x<=90)s=-2;
							if(x>=91&&x<=100)s=-1;
							if(x>=101&&x<=180)s=0;
							if(x>=181&&x<=199)s=1;
							if(x>=200)s=2;
					
						}else
						if(v=='pr'){
							title = "Pulse rate"
							if(x<=40)s=-3;
							if(x>=41&&x<=50)s=-1;
							if(x>=51&&x<=100)s=0;
							if(x>=100&&x<=120)s=1;
							if(x>=121&&x<=139)s=2;
							if(x>=140)s=3;
					
						}
				
						if(s!=0){
							score+=Math.abs(s)
							if(s<0)
								err.push("- Under "+title)
							else
								err.push("- Over "+title)
					
						}
				
					}
					}
			
				}
				console.log(err)
		
				if(count>0){
					$('.score .v-entry').html(score)
					
					$('.score .v-entry').removeClass("score-warning-2")
					$('.score .v-entry').removeClass("score-warning-3")
					
					
					if(max_score==2){
							$('.score .v-entry').addClass("score-warning-2")
					}
					
					
					if(max_score==3){
							$('.score .v-entry').addClass("score-warning-3")
					}
					
					
					
		 	   		checkInput('score')
				}
				$('.alert').html(err.join('&nbsp;'))
		
		
			}
	
		
	
	

		var wait_monitor = true;
		var wait_scaler = true; 
	
		function deviceSend(msg){
	
			$('#msg').html(msg);
		
			map = {}
		
			list = msg.split("|")
			for(var i=0;i<list.length;i++){
				p = list[i].split(":");
				map[p[0]] = p[1];
			}
		
			if(map['PR']=='-99'){
				map['PR']='-'
				map['SPO2']='-'
			}	
			
			if(map['T1']&&map['T1']!=''){
				c = parseFloat(map['T1']).toFixed(1)
				$('.temp .v-entry').html(c);
				checkInput('temp')
			}
		
			if(map['STATUS']=='M0'||map['STATUS']=='M1'){		
			    if(wait_monitor||map['STATUS']=='M1'){
	                $('.pr .v-entry').html(map['PR'])
	                $('.spo2 .v-entry').html(map['SPO2'])
	                checkInput('pr')
	                checkInput('spo2')
			
	                // $('.temp').html(map['T1'])
              
                

	                if(map['STATUS']=='M1'){	
						// if(map['SYS']&&map['SYS'].length>0&&parseIn(map['SYS'])>0){
	                    $('.bp_sys .v-entry').html(map['SYS'])
	                    $('.bp_dia .v-entry').html(map['DIA'])
	                    $('.bp_mean .v-entry').html(map['MEAN'])
                    
						checkInput('bp_sys')
	                    checkInput('bp_dia')
					
	                    wait_monitor = false;
					// }
	                    // $('.mean').html(map['MEAN'])
	                }
	            }
			}
		
			if(map['STATUS']=='T1'){
					c = parseFloat(map['T1']).toFixed(1)
					$('.temp .v-entry').html(c);
					checkInput('temp')
			}
		
			if(map['STATUS']=='S0'||map['STATUS']=='S1'){	
			
				var w = parseFloat(map['WEIGHT'])
				
			
				var h = parseFloat(map['HEIGHT'])
			
				
			
				if(map['HEIGHT']!=undefined){
				
					$('.height .v-entry').html((h*100).toFixed(1));
				
				var bmi = (w/(h*h)).toFixed(2);
				// if(map['STATUS']=='S0'&&wait_scaler){
	// 				w = parseFloat(map['CWEIGHT'])
	// 				bmi = 'Processing'
	// 			}else{
	//
	// 			}
				}
			
				if(map['STATUS']=='S1'){
					// if(map['HEIGHT']!=null)
				
					
					if($('.type .v-entry').html().trim()=='wheelchair'){
						w-=30;
					}
					$('.weight .v-entry').html(w);
	               
					wait_scaler=false;
				}
				
				
				
                $('.bmi .v-entry').html(bmi);
			    checkInput('weight')
                checkInput('bmi')
				checkInput('height')
			
				// alert(map['WEIGHT'])
				
			}
		
		
			sos()
		
		}

		$('.p-name').click(function(){
		
			deviceSend('STATUS:M1|PR:80|SPO2:99|SYS:120|DIA:80|MEAN:100')
			// deviceSend('STATUS:S1|WEIGHT:90|HEIGHT:1.80')
			deviceSend('STATUS:S1|WEIGHT:90')
			
			deviceSend('STATUS:T1|T1:35.4')
		
		
		
		})
		
		

	
	 var show = function(el){
	       return function(msg){ el.innerHTML = msg  }
	     }(document.getElementById('msgs'));
	
	
	  tag = 'wss://' + window.location.host + "/<%=@context.settings.name%>/Home/index";
	 var ws  = new WebSocket('wss://' + window.location.host + "/<%=@context.settings.name%>/Home/index");


	 ws.onopen    = function()  { show('websocket opened'); 

	 	ws.send('WS.Select name=<%=session.id%>\n["Monitor.Update device_id=*"]')

	 };


	 ws.onclose   = function()  { show('websocket closed'); 

		setTimeout(function () {
	      // window.location.href = "index"; //will redirect to your blog page (an ex: blog.html)
	   }, 2000); //will call the function after 2 secs.


	 }

	 ws.onmessage = function(m) { 
		 show('websocket msg'); 
 
	 	console.log(m.data)
		 cmds = m.data.split("\n")
		 for(var ii in cmds){
			 i = cmds[ii]
		 	deviceSend(i)
		 }
	 
	 }
 
   
	 function start_auto_bp(min){
	 	
		auto_bp = min;
		
		auto_bp_count = auto_bp*60;
		
	    bpTimer = setInterval(auto_bp_refresh, 1000);
		
	 }
	 
	 function auto_bp_refresh(){
	 	
		console.log('ok')
		
		min = parseInt(auto_bp_count/60);
		sec = auto_bp_count%60;
		
		text = ""+min+":"+sec 
		 
		$('.auto_bp').html(text)
		 
		auto_bp_count--;
		
		if(auto_bp_count<0){
			ws.send('Monitor.StartBP device_id=*\nStart')
			auto_bp_count = auto_bp*60;
		} 
		 
		
	 }
 
 
	$('.start_bp').click(function(){
		
		ws.send('Monitor.StartBP device_id=*\nStart')
		
		if(auto_bp!=null){
			
			auto_bp_count = auto_bp*60;
		
		}
		
	})
	
	var auto_bp = null;
	var auto_bp_count = 0;
	var bpTimer;
	
	
	
	$('.auto_bp').click(function(){
		
		current_modal = 'auto'
		$('.display-hn').html("");
		
		$("#opdModal2 .opdModalTitle ").html("Auto BP interval")
		
		$('.opdModal2-options').empty()
		
		$('.opdModal2-op').show();	
		
		for(var id in ['5','15','60','120'] ){
			v = ['5','15','60','120'][id]
			$('.opdModal2-options').append('<tr><td><div class="btn-hn-option col" score="'+v+'" map="'+v+'" style="">'+v+'</div></td></tr>');
			
		}
		
		
        $(".btn-hn-option").on('click',function(){
            var myAudio = document.getElementById('audio-'+cur_buffer)
            myAudio.play();
			k = $(this).attr('map')
			$('.display-hn').html(k)
			$('#opdModal2 .save-modal').click();
			
            return false;
        })
		
		$("#opdModal2").modal('show')
	
		
		
	})
	
	$('.stop_bp').click(function(){
		
		auto_bp = null;
		auto_bp_count = 0;
		$('.auto_bp').html("Auto")
		$('.auto .v-entry').html("")
		clearInterval(bpTimer);
		
		ws.send('Monitor.StartBP device_id=*\nStop')
		
		// alert('ok')
		
		
	})
	
	
	 var myVar = setInterval(myTimer, 1000);

	 function myTimer() {
	   var d = new Date();
	   var n = d.getSeconds();
	   if(n%20==1){
	   	
		   $.ajax({
		       url: "resend",
		       error: function(){
		           //do something
		       },
		       success: function(){
		           console.log('Call resend')
		       }
		   });
		
	   }
	   
	   
	   //$('.timer').html(d.toLocaleTimeString());
	   $('.timer').html(d.toLocaleString());
	 }
	 
	     });  // end ready
	 

	 
	 
	 
	 
	 
	</script>
		 
	<div id="emr">
	</div>
	
	<script>
		
   	
	   $.ajax({
	       url: "<%="create_partial?document=ob_survey" %>",
	       error: function(){
	           //do something
	       },
	       success: function(data){
			   $('#emr').html(data)
			   
	       }
	   });
		
	</script>	 
		 
		 
	
