
<style>

	:root {
	    --bg-body: #00243E;
	    --bg-nav: #002748;
	    --bg-second-nav: #003357;
	    --bg-content: #000C2A;
	    --text-main:#E5E5E5;
	    --text-second:  #88B1DA;
	    --text-orange: #FFA200;
	    --text-blue: #00B3FD;
	    --text-yellow: #D2C406;
	    --text-green: #32CE0B;
	    --btn-blue: #034B87;
	  }
	  
	body{
		background: var(--bg-body);
/*		background: transparent linear-gradient(180deg, #000  0%, #13171D 100%) 0%
		0% no-repeat padding-box;*/
		height:100vh;
	}
	.sense{
		color:var( --text-main);
	}
	.bp{
		color:var( --text-orange);
	}
	
	.pr,.spo2{
		color:var(--text-blue);
	}
	.rr{
		color:var(--text-yellow);
	}
	
	.temp{
		color:var(--text-green);
	}
	
	.top-header{
		background:#0a1320;
		font-size:4vh;
/*		box-shadow: 0px 0px 15px #1A3388;*/
		color:var( --text-second);
	}
	
	.header{
/*		height:4em;*/
		 background:#eef;
		background: transparent linear-gradient(180deg,var(--bg-nav)   0%, var(--bg-second-nav) 100%) 0%
		0% no-repeat padding-box;
		
		font-size:5vh;
/*		box-shadow: 0px 0px 15px #1A3388;*/
		color:var(--text-main);
	}
	.sense-panel{
		/* font-size:1.5em; */
		/* height:5.2em; */
		height:24vh;
		border-radius: 5px;
		/* padding:10px; */
		padding:1vh;
		border:1px solid var(--bg-second-nav);
		/* background: transparent linear-gradient(180deg, #151C26  0%, #17222F 100%) 0%
		0% no-repeat padding-box; */

		vertical-align:baseline;
		margin-bottom:0px;
		margin-top:1vh;
	}
	.s-active{
	/*	background: transparent linear-gradient(180deg, #13171D  0%, #000 100%) 0%
		0% no-repeat padding-box;
		color:#000 !important;
		box-shadow: 0px 0px 15px #1A3388;*/
		background-color: var(--bg-content);
	}
	.s-empty{
/*		background: transparent linear-gradient(180deg, #151C26  0%, #17222F 100%) 0%*/
	
/*		0% no-repeat padding-box;*/
		
		background-color: var(--bg-content);
		
	}
	.sense-val{
		font-size:9vh;
/*		color:#0037aa;*/
		text-align:center;
	}
	.sense-name{
		font-size:3vh;
		color:#999;
	}
	.footer{
		font-size:4vh;
	}
	.btn-send{
		font-size:3vh;
		color:#E1E1E1;
		background: transparent linear-gradient(180deg, #3147FF  0%, #1A3388 100%) 0%
		0% no-repeat padding-box;
		border-radius: 2vh;
		padding:3vh;
	}
	.btn-hn{
	    background-color: #6B98C1;
	    color:#ffffff;
	    border-radius: 100px;
	    height:50px;
	    width:80px;

	    text-align: center;
	    font-size: 2.4em;
	    padding-top:0px;
	    margin:5px;
	}
	
	.display-hn{
	    border-radius: 20px;
	    height:1em;
	    text-align: center;
	    vertical-align: middle;
	    font-size: 3em;
		padding:0px;
		line-height:1;
	    background: #BCD1E4;
	    background: -webkit-linear-gradient(to top, #E2E2E2, #BCD1E4);  /* Chrome 10-25, Safari 5.1-6 */
	    background: linear-gradient(to top, #E2E2E2, #BCD1E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	    color:#00517F;
	    margin: 0px 20px 0px 20px;
		
	}
	
	.main-value{
		font-size:8vh;
	}
	
	/* width */
	::-webkit-scrollbar {
	  width: 4px;
	}

	/* Track */
	::-webkit-scrollbar-track {
	  background: var(--bg-second-nav); 
	}
 
	/* Handle */
	::-webkit-scrollbar-thumb {
	  background: var(--text-second); 
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	  background: var(--bg-second-nav); 
	}

</style>
<div class="row top-header">
 
 <div class="col-3">
 	Smart OPD
 </div>

 <div class="col-6 d-flex justify-content-center p-name">
 	<%=Setting.get(:default_center_name)%>
 </div>
 <div class="col-3 d-flex justify-content-end" >
 	<div style="">00:00</div>
 </div>
 
</div>

<div class="row header">
	
	
	
	<div class="col-12" >
	
		<div style="border:1px solid var(--text-second) ;padding:5px;border-radius: 1vh;" class="d-flex justify-content-between">
			
		<div style="color:var(--text-second)"><div class="d-inline-flex">HN : </div>&nbsp;<div class="d-inline-flex v-entry hn" label="hn" name="hn" style="text-align:center"></div></div>
		
		<div class="col  patient_name " label="patient" name="patient" style="text-align:center"></div>
	
	     <div style="color:var(--text-second); "class="col patient" label="patient" name="patient" style="text-align:center">
			 เพศ <div class="d-inline-flex patient_gender">-</div>,  อายุ : <div class="d-inline-flex patient_age"> - </div> ปี </div>
	
		
		</div>
	
	
	</div>
	
	
	
</div>

<div class="row">
	<div class="col">
		
		
		<div class="row no-gutters">
			
			
			<div class="col-4">
				<div class="sense-panel s-empty" style="height:35vh;">
						<div class="row">
								<div class="col-12 d-flex justify-content-center bp">
									SYS/DIA
								</div>
						</div>
						
						<div class="row">
								<div class="col-12 d-flex justify-content-center bp main-value ">
									<div class="bp_sys"><div class="col sense-val v-entry " label="bp_sys" name="bp_sys"> - </div></div> / <div class="bp_dia"> <div class="col sense-val v-entry  " label="bp_dia" name="bp_dia"> - </div></div>
								</div>
						</div>
						<div class="row">
								<div class="col-12 d-flex justify-content-center bp">
									(<div class="bp_mean"><div class=" v-entry " label="bp_mean" name="bp_mean"> - </div></div> ) <%='mmHg'%>
								</div>
						</div>
				</div>
				<div class="sense-panel header" style="height:13vh;">
				</div>
				
			</div>
			
			
			<div class="col-4">
				<div class="row">
						<div class="col-12">
						<div class="sense-panel s-empty pr">
							
						<div class="row ">
							<div class="col-8 " >
							Pulse
							</div>
							<div class="col-4  " style="text-align:right">
							bpm
							</div>
						</div>
		
						<div class="row">
							<div class="col sense-val v-entry " label="pr" name="pr">
							-
							</div>
						</div>
		
						<div class="row">
							<div class="col sense-name" >
							Notification
							</div>
			
						</div>
						
						
						</div>
						</div>
				</div>
				<div class="row">
						<div class="col-12">
						<div class="sense-panel s-empty rr">
							<div class="row ">
								<div class="col-8 " >
								Resp
								</div>
								<div class="col-4  " style="text-align:right">
								bpm
								</div>
							</div>
			
							<div class="row">
								<div class="col sense-val v-entry " label="rr" name="rr">
								-
								</div>
							</div>
			
							<div class="row">
								<div class="col sense-name" >
								Notification
								</div>
				
							</div>
							
						</div>
						</div>
				</div>
				
			</div>
			
			<div class="col-4">
				<div class="row">
						<div class="col-12">
						<div class="sense-panel s-empty spo2">
								
								<div class="row ">
									<div class="col-8 " >
									SpO2
									</div>
									<div class="col-4  " style="text-align:right">
									%
									</div>
								</div>
				
								<div class="row">
									<div class="col sense-val v-entry " label="spo2" name="spo2">
									-
									</div>
								</div>
				
								<div class="row">
									<div class="col sense-name" >
									Notification
									</div>
					
								</div>
								
								
								
								
								
								
								
								
						</div>
						</div>
				</div>
				<div class="row">
						<div class="col-12">
						<div class="sense-panel s-empty temp">
								
								<div class="row ">
									<div class="col-8 " >
									Temp
									</div>
									<div class="col-4  " style="text-align:right">
									C
									</div>
								</div>
				
								<div class="row">
									<div class="col sense-val v-entry " label="temp" name="temp">
									-
									</div>
								</div>
				
								<div class="row">
									<div class="col sense-name" >
									Notification
									</div>
					
								</div>
								
								
						</div>
						</div>
				</div>
			</div>
			
			
			<div class="row no-guitter">
			
			<div class="col-2">
			</div>
			
			
			</div>
			
			
			<%
			if true 	

			sense_list = DataRecord.get_sense_list #%w{bp pr spo2 temp weight height}.collect{|t| t.to_sym}
			sense_label = DataRecord.get_sense_label #%w{ความดันโลหิต อัตราการเต้นหัวใจ ปริมาณออกซิเจน อุณหภูมิ น้ำหนัก ส่วนสูง}
			sense_unit = DataRecord.get_sense_unit 
				
			# sense_list = %w{w bp-sys pr rr h bp-dia spo2 sselect bmi bp-mean bt sresult}.collect{|i| i.to_sym}
			sense_list = %w{weight height bmi glucose score }.collect{|i| i.to_sym}	
			
			sense_list.each_with_index do |x,xi| 	
				
				ii = xi
				
			%>
			
			<div class="col-2">
				<div class="sense-panel s-empty <%=x%> sense" style="height:18vh;">
				<div class="row ">
					<div class="col-8 sense-name" >
					<%= x %>
					</div>
					<div class="col-4 sense-name" style="text-align:right">
					<%= sense_unit[ii] %>
					</div>
				</div>
				
				<div class="row">
					<div class="col sense-val v-entry " label="<%= x %>" name="<%=x%>">
					-
					</div>
				</div>
				
				<div class="row">
					<div class="col sense-name" >
					<!-- Notification -->
					</div>
					
				</div>
			</div>
		
			</div>
			
			<% end %>
		<% end %>
		</div>
		
	</div>
</div>


<div class="row footer">
	<div class="col">
	<%=link_to "...", "#" , :class=>' btn ' %>
	</div>
		
	<div class="col">
	<div id="msgs" style="font-size:0.5em"></div>
	</div> 
	<div class="col" style="text-align:right">
	<%=link_to "ยกเลิก", "index" , :class=>'btn' %>
	<%=link_to "ส่งข้อมูล", "#" , :class=>' btn btn-entry btn-success' %>
	</div>
	
</div>

<!-- Modal -->
<div class="modal fade" id="opdModal" tabindex="-1" role="dialog" aria-labelledby="opdModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="opdModalTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <center>
        <div class="display-hn">
        -
        </div>
        <table width="300px">
        <tr>
            <td><div class="btn-hn">1</div></td>
            <td><div class="btn-hn">2</div></td>
            <td><div class="btn-hn">3</div></td>
        </tr>
        <tr>
            <td><div class="btn-hn">4</div></td>
            <td><div class="btn-hn">5</div></td>
            <td><div class="btn-hn">6</div></td>
        </tr>
        <tr>
            <td><div class="btn-hn">7</div></td>
            <td><div class="btn-hn">8</div></td>
            <td><div class="btn-hn">9</div></td>
        </tr>
        <tr>
            <td><div class="btn-hn">.</div></td>
            <td><div class="btn-hn">0</div></td>
            <td><div class="btn-hn"><img src="<%=url_for 'img/svg/delete.svg'%>"></div></td>
        </tr>
        </table>
        </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-clear " style="float:left" >Clear</button>
		
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save-modal">Save changes</button>
      </div>
    </div>
  </div>
<div id="buffer">
</div>
            <a href="#" id="beep" style="display:none">beep</a>
            <a href="#" id="ready" style="display:none">ready</a>
  <script>
    function hnPush(s){
        v = $(".display-hn").html().trim()
        b = s.html()
        if(b.indexOf("img")!==-1){
            v = v.substr(0,v.length-1)
        }else{
            v+=b
        }
        $(".display-hn").html(v)       
    }

    var buffer = 10;
	var cur_buffer = 0 ;
	
	for(var i=0;i<buffer;i++){
		var myAudio = document.createElement('audio');
		  myAudio.setAttribute("id","audio-"+i)
		 if (myAudio.canPlayType('audio/mpeg')) {
			  myAudio.setAttribute('src','<%=url_for 'sounds/water_droplet.mp3'%>');
		 }
		 $('#buffer').append(myAudio);
		  
	}
	$(".btn-clear").click(function(){
		
		$('.display-hn').html("");
		
	})  
	
		  
    $(".btn-hn").on('click',function(){
        var myAudio = document.getElementById('audio-'+cur_buffer)
        myAudio.play();
        cur_buffer+=1;
        if(cur_buffer==10)cur_buffer=0;
        hnPush($(this))      
        return false;
    })
    </script>
</div>
<!-- Modal -->

<script>
    function submitEntry(){
		$('.btn-primary').html('Loading')
        $.post( "post", prepare() , function( data ) {         
            data.inspect 
            $("#beep").click()
            setTimeout(function(){ window.location.replace("result?hn=<%=params[:hn]%>");  }, 1000);
                   
        });
    }
	
	
	
	

    function checkInput(d){
		// alert(d)
        v = $("."+d +" .v-entry").html().trim()
        c = $("."+d +" .v-entry").closest(".sense-panel")
        // prefix="de-"
        // if(c.hasClass("d-entry-dark")) prefix="dk-"
        if(v!==''&&v!=='-'){              
            c.addClass("s-active").removeClass("s-empty")      
        }else{
            c.addClass("s-empty").removeClass("s-active")
        }
        isComplete = true

        if(isComplete){
            if($(".btn-entry").attr('class')){
				   $("#ready").click()
				
                $(".btn-entry").addClass("btn-opd").removeClass("btn-entry")
                $('.btn-opd').click(submitEntry)
             
            }
        }else{
            $('.btn-opd').unbind()
            $(".btn-opd").addClass("btn-entry").removeClass("btn-opd")

        }
    }
	$(document).keypress(function(e){
		
	    if( event.which == 13 ) {
	       
		    hn = $(".hn").html().trim()
		   
			$.ajax({
			  url: "find_patient?hn="+hn,
			  context: document.body
			}).done(function(data) {
			  
			  patient = JSON.parse(data)
				console.log(patient)
				
				patient_name = patient['prefix_name']+patient['first_name']+" "+patient['last_name']
					
				$('.patient_name').html(patient_name)	
				$('.patient_gender').html(patient['gender'])	
				$('.patient_age').html(patient['age'])	
				
				
				$('#ready').click()
				
				
			  // $( this ).addClass( "done" );
			}); 
		   
		   
		   
		   
		   
		   
	     }else{
        v = $(".hn").html().trim()
        v+=String.fromCharCode(e.keyCode)
        
        $(".hn").html(v.trim())   
		 } 
		
	})	

	$(document).ready(function(){
		// var current_modal ;
		//
		// $(".v-entry").click(function(){
		// 	v = $(this).html().trim()
		// 	if(v=='-')v = ''
		// 	$(".display-hn").html(v)
		//
		// 	current_modal = $(this).attr('name')
		// 	mname = $(this).parent("div").find(".l-entry").html()
		// 	$("#opdModalTitle").html($(this).attr('label'))
		// 	$("#opdModal").modal('toggle')
		// })
		//
		// $("#save-modal").click(function(){
		// 	value = $(".display-hn").html().trim()
		// 	if(value==='') value='-'
		//
		// 	$('.'+current_modal+" .v-entry").html(value)
		//
		// 	if(current_modal=='weight'||current_modal=='height'){
		// 		if($('.weight').html().trim()!="-"&&$('.height').html().trim()!="-"){
		// 			weight = parseFloat($('.weight').html().trim())
		// 			height = parseFloat($('.height').html().trim())
		// 			bmi = weight /(height*height/10000.0)
		// 			bmi_text = bmi.toFixed(2);
		//
		// 			$('.bmi').html(bmi_text)
		// 			checkInput('bmi')
		// 		}
		//
		// 	}
		// 	checkInput(current_modal)
		// 	$("#opdModal").modal('toggle')
		// 	// sos()
		//
		// })

	})
</script>
	
	
	<form id="form" action="post" method="post">

	<input class="hn_val" name="hn" value="" type="hidden"/>
	<input class="datetime_val" name="datetime" value="" type="hidden"/>
	<input class="bp_val" name="bp" value="" type="hidden"/>
	<input class="bp_sys_val" name="bp_sys" value="" type="hidden"/>
	<input class="bp_dia_val" name="bp_dia" value="" type="hidden"/>
	<input class="pr_val" name="pr" value="" type="hidden"/>
	<input class="spo2_val" name="spo2" value="" type="hidden"/>
	<input class="weight_val" name="weight" value="" type="hidden"/>
	<input class="height_val" name="height" value="" type="hidden"/>
	<input class="bmi_val" name="bmi" value="" type="hidden"/>
	<input class="temp_val" name="temp" value="" type="hidden"/>
	<input class="score_val" name="score" value="" type="hidden"/>



	</form>
 
	
	<script>

		$('#bp_start').click(function(){
			//alert('start')
			if(typeof device_interface === 'undefined'){
			
			}else{
				device_interface.bp_start();
			}
		
		
		})
		$('.btn-clear').click(function(){
			$(".display-hn").html('')
	        var myAudio = document.getElementById('audio-0')
	        myAudio.play();
		})
    
	    $(document).ready(function(){
		
			var current_modal ;

	        $(".v-entry").click(function(){
	            v = $(this).html().trim()
	            if(v=='-')v = '' 
				$(".display-hn").html(v)
			
				current_modal = $(this).attr('name')
	            mname = $(this).parent("div").find(".l-entry").html()
	            $("#opdModalTitle").html($(this).attr('label'))
	            $("#opdModal").modal('toggle')
	        })
		
			$("#save-modal").click(function(){
	            value = $(".display-hn").html().trim()
	            if(value==='') value='-'
				$('.'+current_modal+" .v-entry").html(value)
			
				if(current_modal=='weight'||current_modal=='height'){
					if($('.weight').html().trim()!="-"&&$('.height').html().trim()!="-"){
						weight = parseFloat($('.weight').html().trim())
						height = parseFloat($('.height').html().trim())
						bmi = weight /(height*height/10000.0)
						bmi_text = bmi.toFixed(2);
					
	                    $('.bmi').html(bmi_text)
	                    checkInput('bmi')
					}
				
				}
				checkInput(current_modal)
				$("#opdModal").modal('toggle')
				sos()
			
	        })
	        var beep = document.createElement('audio');
	        if (beep.canPlayType('audio/mpeg')) {
	            beep.setAttribute('src','<%=url_for 'sounds/Beep_Short.mp3'%>');
	        }	
	        var ready = document.createElement('audio');
	        if (ready.canPlayType('audio/mpeg')) {
	            ready.setAttribute('src','<%=url_for 'sounds/Wood_Plank_Flicks.mp3'%>');
	        }	
        
	        $("#beep").on("click",function(){
	            beep.play();       
	        })

	        $("#ready").on("click",function(){
	            ready.play();       
	        })
		
		
	    })
	
		function prepare(){
			var data = {};
			hn = "<%=params[:hn]%>"
			var device_id = "<%=params[:device_id]%>"
			var today = new Date();
			var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
			var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
			var datetime = date+'T'+time;
			var bp=''
			var bp_sys=''
			var bp_dia=''
			var bp_mean=''
			var pr=''
			var spo2=''
			var temp=''
			var weight=''
			var height=''
			var score = ''
			var bmi =''
		
			$('.bp_sys .v-entry').each(function(){
				bp_sys = $(this).html().trim();
			})
			$('.bp_dia  .v-entry').each(function(){
				bp_dia = $(this).html().trim();
			})
		
			$('.bp_mean .v-entry').each(function(){
				bp_mean = $(this).html().trim();
			})
		
			$('.weight .v-entry').each(function(){
				weight = $(this).html().trim();
			})
			$('.height .v-entry').each(function(){
				height = $(this).html().trim();
			})
			$('.bmi .v-entry').each(function(){
				bmi = $(this).html().trim();
			})
		
		
		
			$('.pr .v-entry').each(function(){
				pr = $(this).html().trim();
			})
			$('.spo2 .v-entry').each(function(){
				spo2 = $(this).html().trim();
			})
		
			$('.temp .v-entry').each(function(){
				temp = $(this).html().trim();
			})
		
			$('.score .v-entry').each(function(){
				score = $(this).html().trim();
			})
		
		
			bp = ""+bp_sys+"/"+bp_dia
		
		
		
		
		 	data = { hn: hn, datetime: datetime,score:score,bp:bp, bp_sys:bp_sys, bp_dia:bp_dia, bp_mean:bp_mean, pr:pr, spo2:spo2, temp:temp, weight:weight, height:height, bmi:bmi, device_id:device_id }
			return data
	    }




		var wait_monitor = true;
		var wait_scaler = true; 
	
		// S0. S1
		// M0. M1
	
	
		function sos(){
		
			score = 0
			count = 0 
			list = ['spo2', 'bp_sys', 'temp', 'pr']
			err = [];
			for(var i=0;i<list.length;i++){
			
				v = list[i]
				s = 0 
				title = ""
				t = $('.'+v+" .v-entry").html().trim()
				if(t!=''&&t!='-'&&t!='0'){
					x = parseFloat(t)
					count++;
					if(v=='temp'){
						title = "temp"
						if(x<=35)s=-2;
						if(x>=35.1&&x<=36)s=-1;
						if(x>=36.1&&x<=38)s=0;
						if(x>=38.1&&x<=38.4)s=1;
						if(x>=38.5)s=2;
					
					}else
					if(v=='bp_sys'){
						title = "BP systolic"
						if(x<=80)s=-3;
						if(x>=81&&x<=90)s=-2;
						if(x>=91&&x<=100)s=-1;
						if(x>=101&&x<=180)s=0;
						if(x>=181&&x<=199)s=1;
						if(x>=200)s=2;
					
					}else
					if(v=='pr'){
						title = "Pulse rate"
						if(x<=40)s=-3;
						if(x>=41&&x<=50)s=-1;
						if(x>=51&&x<=100)s=0;
						if(x>=100&&x<=120)s=1;
						if(x>=121&&x<=139)s=2;
						if(x>=140)s=3;
					
					}
				
					if(s!=0){
						score+=Math.abs(s)
						if(s<0)
							err.push("- Under "+title)
						else
							err.push("- Over "+title)
					
					}
				
				}
			
			}
			console.log(err)
		
			if(count>0){
				$('.score .v-entry').html(score)
	 	   		checkInput('score')
			}
			$('.alert').html(err.join('&nbsp;'))
		
		
		}
	
	
		function deviceSend(msg){
	
			$('#msg').html(msg);
		
			map = {}
		
			list = msg.split("|")
			for(var i=0;i<list.length;i++){
				p = list[i].split(":");
				map[p[0]] = p[1];
			}
		
			if(map['PR']=='-99'){
				map['PR']='-'
				map['SPO2']='-'
			}	
			
			if(map['T1']&&map['T1']!=''){
				c = parseFloat(map['T1']).toFixed(1)
				$('.temp .v-entry').html(c);
				checkInput('temp')
			}
		
			if(map['STATUS']=='M0'||map['STATUS']=='M1'){		
			    if(wait_monitor||map['STATUS']=='M1'){
	                $('.pr .v-entry').html(map['PR'])
	                $('.spo2 .v-entry').html(map['SPO2'])
	                checkInput('pr')
	                checkInput('spo2')
			
	                // $('.temp').html(map['T1'])
              
                

	                if(map['STATUS']=='M1'){	
	                    $('.bp_sys .v-entry').html(map['SYS'])
	                    $('.bp_dia .v-entry').html(map['DIA'])
	                    $('.bp_mean .v-entry').html(map['MEAN'])
                    
						checkInput('bp_sys')
	                    checkInput('bp_dia')
					
	                    wait_monitor = false;
	                    // $('.mean').html(map['MEAN'])
	                }
	            }
			}
		
			if(map['STATUS']=='T1'){
					c = parseFloat(map['T1']).toFixed(1)
					$('.temp .v-entry').html(c);
					checkInput('temp')
			}
		
			if(map['STATUS']=='S0'||map['STATUS']=='S1'){	
			
				var w = parseFloat(map['WEIGHT'])
				var h = parseFloat(map['HEIGHT'])
			
			
				var bmi = (w/(h*h)).toFixed(2);
				// if(map['STATUS']=='S0'&&wait_scaler){
	// 				w = parseFloat(map['CWEIGHT'])
	// 				bmi = 'Processing'
	// 			}else{
	//
	// 			}
			
				if(map['STATUS']=='S1'){
					$('.height .v-entry').html((h*100).toFixed(1));
					$('.weight .v-entry').html(w);
	                $('.bmi .v-entry').html(bmi);
				
	                checkInput('height')
	                checkInput('weight')
	                checkInput('bmi')
					wait_scaler=false;
				}
			
			
			}
		
		
			sos()
		
		}

		$('.p-name').click(function(){
		
			deviceSend('STATUS:M1|PR:80|SPO2:99|SYS:120|DIA:80|MEAN:100')
			deviceSend('STATUS:S1|WEIGHT:90|HEIGHT:1.80')
			deviceSend('STATUS:T1|T1:35.4')
		
		
		
		})
	
	 var show = function(el){
	       return function(msg){ el.innerHTML = msg  }
	     }(document.getElementById('msgs'));
	
	
	  tag = 'wss://' + window.location.host + "/<%=@context.settings.name%>/Home/index";
	 var ws  = new WebSocket('wss://' + window.location.host + "/<%=@context.settings.name%>/Home/index");


	 ws.onopen    = function()  { show('websocket opened'); 

	 	ws.send('WS.Select name=<%=session.id%>\n["Monitor.Update device_id=*"]')

	 };


	 ws.onclose   = function()  { show('websocket closed'); 

		setTimeout(function () {
	      // window.location.href = "index"; //will redirect to your blog page (an ex: blog.html)
	   }, 2000); //will call the function after 2 secs.


	 }

	 ws.onmessage = function(m) { 
		 show('websocket msg'); 
 
	 	console.log(m.data)
		 cmds = m.data.split("\n")
		 for(var ii in cmds){
			 i = cmds[ii]
		 	deviceSend(i)
		 }
	 
	 }
 
    

	</script>
	