
<%
	
groups = []


g = {:name=>'User Info', :key=>'user'}
items = %w{
	login
	role_id
	status
	last_accessed
	mobile
	email
	verify_2fa
}
g[:items] = items
groups << g


g = {:name=>'Provider', :key=>'provider'}
items = %w{
	user_id
	name
	prefix_name
	first_name
	last_name
	code
	shot
	department
	phone
	email
	license
	line_account_id
}
g[:items] = items
groups << g

g = {:name=>'Authentication', :key=>'auth'}
items = %w{
	
	new_password
	password_confirmation
	
}
g[:items] = items
groups << g

glist = {}

list = {}

list['login'] = @current_user.login
list['name'] = @current_user.name
list['role'] = @current_role
list['status'] = @current_user.status
list['last_accessed'] = @current_user.last_accessed
list['email'] = @current_user.email
list['mobile'] = @current_user.mobile



glist['user'] = list

provider = Provider.where(:user_id=>@current_user.id).first

provider_id = nil
if provider 
		
	glist['provider'] = provider
	provider_id = provider.id
end

list = {}
list['pattern'] = @current_user.pattern
glist['auth'] = list


if request.post?
	
	user = nil
	
	if params[:user]
		
		user = User.where(:login=>@current_user.login).first
		if user
			user.update_attributes params[:user]
		end
		
			
		
		
	end
	
	if params[:provider] and params[:provider][:provider_id] and params[:provider][:provider_id] !=""
		
		provider = Provider.find params[:provider][:provider_id]
		
		if provider.user_id=='' or  provider.user_id ==nil
			
			provider.update_attributes :user_id=>@current_user.id
			
		else
			params[:provider].delete :provider_id
			
			provider.update_attributes params[:provider]
			
		end
		
		
	end
	
	if auth = params[:auth]
		
		
		if  auth[:new_password].size > 0 and auth[:new_password] == auth[:password_confirmation]
			user.password = auth[:new_password]
			user.save
		end
		
		if auth[:pattern]
		
			user.update_attributes :pattern=> auth[:pattern]
				
		end
		
		
	end	
	
	
	
	
	
	
	
	
%>

<META HTTP-EQUIV="Refresh" CONTENT="0;URL=profile">

<%	
else
%>

<%#glist.inspect %>

<form action="<%= get_path 'profile'%>" method="post" >

<h1>Profile</h1>
<hr/>
	<div class="col-12">
	<div class="row">
		
			<% for g in groups %>
			
			
			<% fieldset(g[:key]) do |f| %>
			
			
			<div class="col-12 ">
				
				
					
					<div class="card  ">
					
					
						<div class="card-header bg-primary bbg-gradient text-white">

							<div class="">
								<h6 class="mb-0 text-white">

									<span class="t" t="case_info"><%=g[:name]%></span>  :

								</h6>
							</div>
					

						</div>

						<div class="card-body">
						<div class="row">
						<% for i in g[:items] 
						
							key = g[:key]	
							gl = glist[key]
							
							s = gl[i] if gl
							value = ''
							value = s if s 	
							
						%>
						<% if false # and  i == 'login' or i=='role' %>
						<div class="col-6">
						<p class="px-3 ">
							<span class="t" t=""><%= 'Provider' %></span>
						</p><span class="form-control mb-3"> <%=value%></span>
						</div>
						
						<% elsif i == 'role_id' 
						
						# role = Role.where(:name=>@current_role).first
						role_id = ''
						
						role = Role.find @current_user.role
						
						role_id = role.id if role
						
					
						
						current_zone_id = session[:current_zone]
						
						%>
				
					
						<div class="col-6">
						<p class="px-3 ">
							<span class="t" t=""><%= 'Role' %></span>
						</p><%= f.select(:role_id, [['','']]+Role.where({:zone_id=>current_zone_id}).sort(:code=>1).all().collect{|i| [i.id,"#{i.name}"]}, :value=>role_id,:class=>'form-select') %>
						</div>
						
						
						<% elsif i == 'user_id' %>
						<div class="col-6">
						<p class="px-3 ">
							<span class="t" t=""><%= 'Provider' %></span>
						</p><%= f.select(:provider_id, [['','']]+Provider.where({}).sort(:code=>1).all().collect{|i| [i.id,"#{i.code} #{i.name}"]}, :value=>provider_id,:class=>'form-select') %>
						</div>
						
						<% elsif i.index('password') %>
						<div class="col-6">
						<p class="px-3 ">
							<span class="t" t=""><%= i.humanize %></span>
						</p><input name='<%=key%>[<%=i%>]' value="<%= value %>"  id="<%=i%>" class="form-control mb-3 " type="password" placeholder="" aria-label="default input example">
					<% if i=='new_password' %>
				    <style>
				          #new_password {
				 
				          }
				          .valid {
				              color: green;
				          }
				          .invalid {
				              color: red;
				          }
				      </style>
					   	 <ul id="password-requirements">
					           <li id="length" class="invalid">At least 8 characters</li>
					           <li id="uppercase" class="invalid">At least one uppercase letter</li>
					           <li id="lowercase" class="invalid">At least one lowercase letter</li>
					           <li id="number" class="invalid">At least one number</li>
					           <li id="special" class="invalid">At least one special character (@$!%*?&)</li>
					       </ul>
					   	</div>
					       <script>
							   
							   var pass_bock = false;
							   var pass_bock_2 = false;
							   
							   
							   
					           document.getElementById("new_password").addEventListener("keyup", function() {
								   console.log(this.value)
					               const password = this.value;
					               const minLength = 8;
					               const hasUpperCase = /[A-Z]/.test(password);
					               const hasLowerCase = /[a-z]/.test(password);
					               const hasNumber = /\d/.test(password);
					               const hasSpecialChar = /[_@$!%*?&]/.test(password);
					               const isProperLength = password.length >= minLength;
								   
								   conf = $('#password_confirmation').val();
					               const password_confirmation = this.value==conf;
								   
					               // Update UI based on validation
					               document.getElementById("length").className = isProperLength ? "valid" : "invalid";
					               document.getElementById("uppercase").className = hasUpperCase ? "valid" : "invalid";
					               document.getElementById("lowercase").className = hasLowerCase ? "valid" : "invalid";
					               document.getElementById("number").className = hasNumber ? "valid" : "invalid";
					               document.getElementById("special").className = hasSpecialChar ? "valid" : "invalid";
								   
								   pass_bock = isProperLength&hasUpperCase&hasLowerCase&hasNumber&hasSpecialChar
								   console.log(pass_bock)
							   		
					               // Update UI based on validation
					               document.getElementById("confirm").className = password_confirmation ? "valid" : "invalid";
							   pass_bock_2 = password_confirmation
							   console.log(pass_bock_2)
								   
								   
								   $("#submit").prop("disabled", !(pass_bock&pass_bock_2));
								   
					           });
					       </script>
						<% elsif i=='password_confirmation' %>
						
			
						   	 <ul id="password-requirements">
						           <li id="confirm" class="invalid">Password confirmation match</li>
						       </ul>
						   	</div>
						       <script>
						           document.getElementById("password_confirmation").addEventListener("keyup", function() {
									   console.log(this.value)
									   conf = $('#new_password').val();
						               const password_confirmation = this.value==conf;
						         
					               console.log(conf)
								   		
						               // Update UI based on validation
						               document.getElementById("confirm").className = password_confirmation ? "valid" : "invalid";
								   pass_bock_2 = password_confirmation
								   console.log(pass_bock_2)
									      $("#submit").prop("disabled", !(pass_bock&pass_bock_2));
								   
						           });
						       </script>
						<% end %>
						
						<%
							elsif i=="verify_2fa"
						%>
						<div class="col-6">
						<p class="px-3 d-flex justify-content-between">
							<span class="t" t=""><%= i.humanize %></span>
									<span class='col-3' style=""><%=link_to "Send OTP", 'send_otp', :class=>'btn btn-info'%></span>
						</p>
							<% if @current_user.verify_2fa%>
							<span class="alert alert-success form-control mb-3 ">
							<%= "Verified at #{@current_user.verify_2fa_at}" if @current_user.verify_2fa%>
							</span>
						
						<% else %>
						<span class="alert alert-warning form-control mb-3 ">
						<%= "No Verfify" %>
						</span>
						
						<% end %>
				
						</div>
						
						<%
						else
						%>
						<div class="col-6">
						<p class="px-3 ">
							<span class="t" t=""><%= i.humanize %></span>
						</p><input name='<%=key%>[<%=i%>]' value="<%= value %>"  id="<%=i%>" class="form-control mb-3 " type="text" placeholder="" aria-label="default input example">
						</div>
						
							<% end %>
						<% end %>
						</div>
						
						</div>
					
					</div>
					
				
					
			</div>
				<% end %>
					<% end %>
	</div>
		</div>
	<input type='submit' value="Update" id="submit" class="btn btn-info" >
</form>

	<% end %>