<%
    nowdate = Time.now

    admit_alls = Admit.all
    patients = Patient.all
    m_p_name = Hash[patients.collect{|i| [i.id,i.first_name]}]
    m_p_hn = Hash[patients.collect{|i| [i.id,i.hn]}]
    records = DataRecord.where(:stamp=>{'$gte'=>nowdate.beginning_of_day,'$lt'=>nowdate.end_of_day}).sort(:stamp=>'desc').all

    check1 = 0
    check2 = 0
    check_score = {}
    midday = 1200
    for p in patients
        admits = admit_alls.collect{|i| i if i.patient_id==p.id}.compact
        admit_ids = admits.collect{|i| i.id}
        arecs = records.collect{|i| i if admit_ids.index i.admit_id}.compact
        check_score[p.id] = 0 unless check_score[p.id]
        tmax = 2400
        for r in arecs
            t = r.stamp.strftime('%H%M').to_i
            if t<tmax and t>=1200
                check_score[p.id]+=1
                tmax=1160
                check2+=1
            end
            if t<tmax and t<1200
                check_score[p.id]+=2
                tmax=0
                check1+=1
            end
        end
    end
    patients = patients.sort{|a,b| a.hn<=>b.hn}
    patients = patients.sort{|a,b| check_score[a.id]<=>check_score[b.id]}

    c_success = 'badge badge-pill badge-success'
    c_danger = 'badge badge-pill badge-danger'
%>
<table class="table table-striped">
<thead>
<tr>
<th>Patient</th>
<th>เช้า [ <%=check1%> / <%=patients.size%> ]</th>
<th>บ่าย [ <%=check2%> / <%=patients.size%> ]</th>
</tr>
</thead>
<tbody>
<%#=admits.inspect%>
<% for p in patients%>
<%
    c_check1 = c_danger
    c_check2 = c_danger
    ctext1 = 'ยังไม่ตรวจ'
    ctext2 = 'ยังไม่ตรวจ'
    c_score = check_score[p.id]
    if c_score>1
        ctext1 = 'ตรวจแล้ว'
        c_check1 = c_success
    end
    if c_score==1 or c_score>2
        ctext2 = 'ตรวจแล้ว'
        c_check2 = c_success
    end
%>
<tr>
<td><%=m_p_hn[p.id]%> <%=m_p_name[p.id]%></td>                
<td><span class="<%=c_check1%>"><%=ctext1%></span></td>    
<td><span class="<%=c_check2%>"><%=ctext2%></span></td>    
</tr>
<% end %>
</tbody>
</table>