<%
    nowdate = Time.now

    admits = Admit.all
    admits = admits.collect{|i| i if i.status and i.status.downcase!='discharged'}.compact
    patients = Patient.all
    m_admit_p = Hash[admits.collect{|i| [i.id,i.patient_id]}]
    m_p_name = Hash[patients.collect{|i| [i.id,i.first_name]}]
    m_p_hn = Hash[patients.collect{|i| [i.id,i.hn]}]
    admits = admits.collect{|i| i if m_p_name[m_admit_p[i.id]]}.compact
    records = DataRecord.where(:stamp=>{'$gte'=>nowdate.beginning_of_day,'$lt'=>nowdate.end_of_day}).sort(:stamp=>'desc').all

    check1 = 0
    check2 = 0
    check_score = {}
    midday = 1200
    for a in admits
        arecs = records.collect{|i| i if i.admit_id==a.id}.compact
        %><!--<%="#{m_p_hn[m_admit_p[a.id]]} #{arecs.size} #{records.inspect}"%>--><%
        %><!--admit===========> <%="#{admits.inspect}"%>--><%
        check_score[a.id] = 0 unless check_score[a.id]
        tmax = 2400
        for r in arecs
            t = r.stamp.strftime('%H%M').to_i
            if t<tmax and t>=1200
                check_score[a.id]+=1
                tmax=1160
                check2+=1
            end
            if t<tmax and t<1200
                check_score[a.id]+=2
                tmax=0
                check1+=1
            end
        end
    end
    admits = admits.sort{|a,b| m_p_hn[m_admit_p[a.id]]<=>m_p_hn[m_admit_p[b.id]]}
    admits = admits.sort{|a,b| check_score[a.id]<=>check_score[b.id] }

    c_success = 'badge badge-pill badge-success'
    c_danger = 'badge badge-pill badge-danger'
%>
<table class="table table-striped">
<thead>
<tr>
<th>Patient</th>
<th>เช้า [ <%=check1%> / <%=admits.size%> ]</th>
<th>บ่าย [ <%=check2%> / <%=admits.size%> ]</th>
</tr>
</thead>
<tbody>
<%#=admits.inspect%>
<% for a in admits%>
<%
    c_check1 = c_danger
    c_check2 = c_danger
    ctext1 = 'ยังไม่ตรวจ'
    ctext2 = 'ยังไม่ตรวจ'
    c_score = check_score[a.id]
    if c_score>1
        ctext1 = 'ตรวจแล้ว'
        c_check1 = c_success
    end
    if c_score==1 or c_score>2
        ctext2 = 'ตรวจแล้ว'
        c_check2 = c_success
    end
%>
<tr>
<td><%=m_p_hn[m_admit_p[a.id]]%> <%=m_p_name[m_admit_p[a.id]]%></td>                
<td><span class="<%=c_check1%>"><%=ctext1%></span></td>    
<td><span class="<%=c_check2%>"><%=ctext2%></span></td>    
</tr>
<% end %>
</tbody>
</table>