
<style>
body{
background: #E0EAFC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.u-section{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000"><rect fill="white" fill-opacity="0.5" x="0" y="0" width="1000" height="1000"/></svg>');


}
</style>
<%
	
	
	
	
	provider = Provider.find @record.provider_id
	
	provider = Provider.new unless provider
	
	
	user = User.find @record.user_id
	
	user = User.new unless user
	
	
	
%>

<input type="hidden" name="provider_id" value="<%=provider.id%>">
<input type="hidden" name="user_id" value="<%=user.id%>">

<div class="u-section rounded p-3 mb-3">
<div class="row">

<div class="col-sm-4">
<div class="form-group">
	  
<label for="provider-name">Provider Name</label>
	
<input name="provider[name]" class="form-control" value="<%=provider.name%>">

</div>
</div>
<div class="col-sm-4">
<div class="form-group">
	  
<label for="provider-department">Provider Department</label>
	
<input name="provider[department]" class="form-control" value="<%=provider.department%>">

</div>
</div>
<div class="col-sm-4">
<div class="form-group">
	  
<label for="provider-license">Provider License</label>
	
<input name="provider[license]" class="form-control" value="<%=provider.license%>">

</div>
</div>
<div class="col-sm-4">
<div class="form-group">
	  
<label for="provider-phone">Provider Phone</label>
	
<input name="provider[phone]" class="form-control" value="<%=provider.phone%>">

</div>
</div>
<div class="col-sm-4">
<div class="form-group">
	  
<label for="provider-email">Provider Email</label>
	
<input name="provider[email]" class="form-control" value="<%=provider.email%>">

</div>
</div>

</div> <!--row-->
</div> <!--u-section-->

<div class="u-section rounded p-3 mb-3">
<div class="row">

	<%

	list = %w{doctor nurse officer}
		
	%>
	
<div class="col-sm-4">
	
  <div class="form-group">
    <label for="">Provider Type</label>
	
	<select id="record-user" name="record[provider_type]" class="form-control" value="<%=@record['provider_type']%>">
	  <option value="" %></option>

	<% for j in list.collect{|k| 
		[k,k]
	}
		%>
	  <option value="<%=j[0]%>" <%="selected" if @record['provider_type']==j[0] %>><%=j[1]%></option>
	<% end %>
	</select>
  </div>
  </div> 
	<%

	list = SHHospital.all
		
	%>
<div class="col-sm-4">
  <div class="form-group">
    <label for="">Hospital</label>
	
	<select id="record-user" name="record[hospital_id]" class="form-control" value="<%=@record['hospital_id']%>">
	  <option value="" %></option>

	<% for j in list.collect{|k| 
		[k.id,k.name]
	}
		%>
	  <option value="<%=j[0]%>" <%="selected" if @record['hospital_id']==j[0] %>><%=j[1]%></option>
	<% end %>
	</select>
  </div>
  
 </div> 
 </div><!--row-->
</div><!--u-section-->

<div class="u-section rounded p-3 mb-3">
<div class="row">
<div class="col-sm-4">
  <div class="form-group">
	  
  <label for="user-login">User Login</label>
	
  <input name="user[login]" class="form-control" value="<%=user.login%>">

  </div>
</div>

<div class="col-sm-4">
  <div class="form-group">
	  
  <label for="">Password</label>
	
  <input name="password" type="password" class="form-control" value="">

  </div>
</div>

<div class="col-sm-4">
  <div class="form-group">
	  
  <label for="">Password Confirm</label>
	
  <input name="password_confirmation" type="password" class="form-control" value="">

  </div>
</div>
</div><!--row-->
</div><!--u-section-->