<%=inline(this,:'_init')%>
<style>
body{
background: #E0EAFC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.u-section{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000"><rect fill="white" fill-opacity="0.5" x="0" y="0" width="1000" height="1000"/></svg>');


}
.mand{
	color:red;
}
</style>
<%
	
	
	
	
	provider = Provider.find @record.provider_id
	
	provider = Provider.new unless provider
	
	
	user = User.find @record.user_id
	
	user = User.new unless user
	
	
	 
%>

<input type="hidden" name="provider_id" value="<%=provider.id%>">
<input type="hidden" name="user_id" value="<%=user.id%>">



<div class="u-section rounded p-3 mb-3">
<div class="row">
  
  
	<%

	list = %w{doctor nurse officer operator}
		
	%>
	
<div class="col-sm-4">	
  <div class="form-group">
    <label for=""><span class="mand">*</span> Provider Type</label>
	
	<select id="record-user" name="record[provider_type]" class="form-control" value="<%=@record['provider_type']%>">
	  <option value="" %></option>

	<% for j in list.collect{|k| 
		[k,k]
	}
		%>
	  <option value="<%=j[0]%>" <%="selected" if @record['provider_type']==j[0] %>><%=j[1]%></option>
	<% end %>
	</select>
  </div>
</div>  
	<%

	list = SHNetwork.all


	if @current_cluster

	hos = SHHospital.where(:cluster_id=>@current_cluster.id).all
	
	list = SHNetwork.where(:hospital_id=>{"$in"=>hos.collect{|i| i.id}})
	
	
	elsif @current_network

	list = SHNetwork.find([@current_network.id])
	
	end
		
	%>
<div class="col-sm-4">
  <div class="form-group">
    <label for="">Hospital by <%=@current_role.humanize%></label>
	
	<select id="record-user" name="record[network_id]" class="form-control" value="<%=@record['network_id']%>">
	 <% if list.size > 1%>
	  <option value="" %></option>
<% end %>
	<% for j in list.collect{|k| 
		[k.id,k.name]
	}
		%>
	  <option value="<%=j[0]%>" <%="selected" if @record['network_id']==j[0] %>><%=j[1]%></option>
	<% end %>
	</select>
  </div>
</div>
</div><!--row-->
</div><!--u-section-->  
 
<div class="u-section rounded p-3 mb-3">
<div class="row">
<div class="col-sm-4">
  <div class="form-group">
	  
  <label for="user-login"><span class="mand">*</span> User Login</label>
	
  <input id="user_login" name="user[login]" class="form-control" value="<%=user.login%>">

  </div>
</div>

<div class="col-sm-4">
  <div class="form-group">
	  
  <label for="">Password</label>
	
  <input id="password" name="password" type="password" class="form-control" value="">

  </div>
</div>

<div class="col-sm-4">
  <div class="form-group">
	  
  <label for="">Password Confirm</label>
	
  <input id="password_confirmation" name="password_confirmation" type="password" class="form-control" value="">

  </div>
</div>
</div><!--row-->
</div><!--u-section-->

<div class="u-section rounded p-3 mb-3">
<div class="row">

<div class="col-sm-4">
<div class="form-group">
	  
<label for="provider-name"><span class="mand">*</span> Provider Name</label>
	
<input id="provider_name" name="provider[name]" class="form-control" value="<%=provider.name%>">

</div>
</div>
<div class="col-sm-4">
<div class="form-group">
	  
<label for="provider-department">Provider Department</label>
	
<input name="provider[department]" class="form-control" value="<%=provider.department%>">

</div>
</div>
<div class="col-sm-4">
<div class="form-group">
	  
<label for="provider-license">Provider License</label>
	
<input name="provider[license]" class="form-control" value="<%=provider.license%>">

</div>
</div>
<div class="col-sm-4">
<div class="form-group">
	  
<label for="provider-phone">Provider Phone</label>
	
<input name="provider[phone]" class="form-control" value="<%=provider.phone%>">

</div>
</div>
<div class="col-sm-4">
<div class="form-group">
	  
<label for="provider-email">Provider Email</label>
	
<input name="provider[email]" class="form-control" value="<%=provider.email%>">

</div>
</div>

</div> <!--row-->
</div> <!--u-section-->

<script>
function check_input(){
	//alert('check')
	n = $("#provider_name").val()
	u = $("#user_login").val()
	t = $("#record-user").val()
	if(n!==''&&u!==''&&t!==''){
		$("#btn-submit").show()
		$("#btn-dis").hide()
	}else{
		$("#btn-submit").hide()
		$("#btn-dis").show()
	}
}
function check_user(){
	u = $("#user_login").val()
	if(u!==''){
		$.ajax({
			url:'hn_check_user',
			data:{u:u},
		}).done(function(data){
			isValid = data.trim()
			//alert(isValid)
			if(isValid!=='true'){
				alert('User Login "'+u+'" is already exist!')
				$("#user_login").val('')
				$("#btn-submit").hide()
				$("#btn-dis").show()
			}
		})
	}else{
		alert('User Login must not empty! ')
	}
}
function check_pass(){
	p1 = $("#password").val()
	p2 = $("#password_confirmation").val()
	if(p2!==''&&p1!==p2){
		alert('Password Confirm not correct!')
		$("#btn-submit").hide()
		$("#btn-dis").show()
	}else{
		$("#btn-submit").show()
		$("#btn-dis").hide()
	}
}
$(document).ready(function(){
	$("#btn-submit").hide()
	$("input,select").change(check_input)
	$("#user_login").change(check_user)
	$("#password_confirmation").change(check_pass)
})
</script>