<%=inline(this,:'_init')%>
<%
	
	@current_zone = Zone.find session[:current_zone]

	hospital = SHHospital.first
	uh = SHUserHospital.where(:user_id=>session[:identity]).first
	if uh
		hospital = SHHospital.find uh.hospital_id
	end
	mnet = Hash[SHNetwork.all.collect{|i| [i.id,i.name]}]
	hosname = Setting.get :default_center_name
	hosname = hospital.name if hospital
	
%>
<div class="containerx" style="background:none">
<br/>


<div class="row" style="border:0px solid">

<div class="col">
	<div><%=@access_title%></div>
</div>
<div class="col  d-flex justify-content-center">
	<div>ระบบตรวจ</div>
</div>

<div class="col d-flex justify-content-end" style="border:0px solid">
	<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
	  <li class="nav-item">
	    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#tab-schedule" role="tab" aria-controls="pills-home" aria-selected="true">ตารางนัดหมาย</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#tab-patient" role="tab" aria-controls="pills-profile" aria-selected="false">รายชื่อผู้ป่วย</a>
	  </li>
	</ul>
</div>
</div>




<div class="row">
	
	<div class="col">
	

	
	<div class="tab-content" id="pills-tabContent">
	  <div class="tab-pane fade show active" id="tab-schedule" role="tabpanel" aria-labelledby="pills-home-tab">
		  
		  
		  <%
		  	
  		# default today patient

  		date = Time.now
  		date = Time.parse params[:date]  if params[:date] and params[:date]!='all'

  		pdate = date.strftime('%Y-%m-%d')
  		pdate = params[:date] if params[:date] 
			
			
		  %>
		  
	<div class="row" style="border:0px solid">

	<div class="col">
		<h3>ตารางนัดหมาย</h3>
	</div>
	<div class="col d-flex justify-content-end">

	   
	            <div class=" d-flex justify-content-end btn-submit" >
	                <a href="calendar" class="btn  d-flex align-items-center justify-content-end">
	                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-plus-fill " fill="currentColor" xmlns="http://www.w3.org/2000/svg">
	                        <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
	                      </svg>
	                    <span class="pl-2 pb-0">ตารางนัด</span>
	                </a>
	            </div>
	</div>

	</div>					  
		 <br/>
<div class="row" style="border:0px solid">

<div class="col-12 col-sm-6">
<!-- <h4>ตารางนัดหมาย</h4> -->
<div class="schedule-content">
...
</div>


</div> 

<div class="col-12 col-sm-6">
<!-- <h3>ตารางปฏิทิน</h3> -->

<div id="calendar" style="font-size:0.8em"></div>

	<div class="row">
		<div class="col">
		
		</div>
		<div class="col"><br/>
			<span class="badge b-wait">&nbsp;&nbsp;</span> ยังไม่ได้ตรวจ 
			<span class="badge b-hos">&nbsp;&nbsp;</span> รพ.ตรวจแล้ว
			<span class="badge b-network">&nbsp;&nbsp;</span> รพสต.ตรวจแล้ว
		</div>
	</div>


<script>
  
<% if true

	visits = SHVisit.all
  networks = SHNetwork.all
  patients = Patient.where(:zone_id=>session[:current_zone]).all
  m_pn = Hash[patients.collect{|i| [i.id,i.network_id]}.compact]
  m_nid_name = Hash[networks.collect{|i| [i.id,i.name]}]
  colors = %w{ #84A7FF #A9DEF9 #CE99FF #E6BEFD #77DDDF #31CAC8}
  m_nid_c = {}
  networks.each_with_index{|v,i| m_nid_c[v.id]=colors[i%6]}
  map = {}
  for v in visits
    d = v.start.strftime("%Y-%m-%d")
    n = m_pn[v.patient_id]
    map[d] = {} unless map[d]
    map[d][n] = [] unless map[d][n]
    map[d][n] << v.patient_id
  end
  netnum = []
  for d in map.keys
    for n in map[d].keys
      netnum << {
        title:"#{m_nid_name[n]} (#{map[d][n].size})",
        url:"index?date="+d,
        start:d,
        color:m_nid_c[n],
      }
    end
  end


	visits.collect!{|i|
		p = Patient.find(i.patient_id)
		if p
		title = "#{p.hn} : #{p.first_name} #{p.last_name}"
			
        {
          title: title,
          url: "../Visit/show?id=#{i.id}",
          start: i.start.strftime("%Y-%m-%d")
        }
		else
		nil
		end
		
	}.compact!


  pname=""
  if params[:patient_id]
    p = Patient.find(params[:patient_id])
    pname="#{p.first_name} #{p.last_name}" 
  end
%>


    document.addEventListener('DOMContentLoaded', function() {
	
		
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
        },
        navLinks: true, // can click day/week names to navigate views
        businessHours: true, // display business hours
        editable: true,
        selectable: true,
        events: <%=netnum.to_json.html_safe%>,
		dateClick: function(info) {
			$('.schedule-content').fadeOut("fast", function(){
				
			    var myKeyVals = {'date':info.dateStr}

			    $.ajax({

			        url: "schedule_partial",
			        data: myKeyVals ,
	
			               success: function (result) {   // Result is not coming here please help
			                   $('.schedule-content').html(result);
							   $('.schedule-content').fadeIn();              
			               },
			               failure: function (response) {
           
			                   console.log(response.responseText);
			               },
			               error: function (response) {
			                   //window.location.reload();
							   // alert('')
			                   // window.location.href='index?date='+info.dateStr;
			               }
			    });
				
				
				
			});
		    
			

 
		  }
      });
	  
	  
	  

      calendar.render();
    
  	
	
	});
	
	
	
	<% end %>
	
	
    var myKeyVals = {'date':'<%=date.strftime('%Y-%m-%d')%>'}

    $.ajax({

        url: "schedule_partial",
        data: myKeyVals ,

               success: function (result) {   // Result is not coming here please help
                   $('.schedule-content').html(result);              
               },
               failure: function (response) {
   
                   console.log(response.responseText);
               },
               error: function (response) {
                   //window.location.reload();
				   alert('err')
                   // window.location.href='index?date='+info.dateStr;
               }
    });
	

</script>


</div> 


</div>

		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
	  </div> <!--End Sechudle-->
	  
	  
	  <div class="tab-pane fade" id="tab-patient" role="tabpanel" aria-labelledby="pills-home-tab">
	
	<div class="row" style="border:0px solid">

	<div class="col">
	<h3>รายชื่อผู้ป่วย</h3>
	</div>
	<div class="col d-flex justify-content-end">

	            <div class=" d-flex justify-content-end btn-submit" >
	                <a href="./admit" class="btn  d-flex align-items-center justify-content-end">
	                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-plus-fill " fill="currentColor" xmlns="http://www.w3.org/2000/svg">
	                        <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
	                        <path fill-rule="evenodd" d="M13 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
	                      </svg>
	                    <span class="pl-2 pb-0">เพิ่มใหม่</span>
	                </a>
	            </div>
			
				&nbsp;
	            <div class=" d-flex justify-content-end btn-submit" >
	                <a href="calendar" class="btn  d-flex align-items-center justify-content-end">
	                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-plus-fill " fill="currentColor" xmlns="http://www.w3.org/2000/svg">
	                        <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
	                      </svg>
	                    <span class="pl-2 pb-0">ตารางนัด</span>
	                </a>
	            </div>
	</div>

	</div>			


		<br/>		
	
	
		<%

		zone = Zone.find session[:current_zone]

		if hospital
			patients = Patient.where(:zone_id=>session[:current_zone],:hospital_id=>hospital.id).all
		else
			patients = Patient.where(:zone_id=>session[:current_zone]).all
		end

		# default today patient

		date = Time.now
		date = Time.parse params[:date]  if params[:date] and params[:date]!='all'

		pdate = date.strftime('%Y-%m-%d')
		pdate = params[:date] if params[:date] 

		pnet = 'all'
		pnet = params[:n] if params[:n]

		visits = []

		unless pdate=='all' or params[:all]
			visits = SHVisit.where(:start=>{'$gte'=> date.beginning_of_day, '$lte'=>date.end_of_day}).all
			v_pid = visits.collect{|i| i.patient_id}
			patients = patients.collect{|i| i if v_pid.index i.id }.compact
		end

		patients = patients.collect{|i| i if i.network_id and i.network_id.to_s==pnet }.compact if pnet!='all'



		admits = Admit.where(:zone_id=>session[:current_zone]).all
		usernetworks = SHUserNetwork.all
		uns = usernetworks.collect{|i| i.user_id}
		networks = SHNetwork.all
	
		%>		
	<input type="hidden" id="p-date" value="<%=pdate%>">
	<input type="hidden" id="p-net" value="<%=pnet%>">	
	<div class="row" style="border:0px solid">



	<div class="col">
	เครือข่าย :  
	<select id="record-network_id" name="patient[network_id]"  value="" style="width:200px">
	<option value="all" %>ทั้งหมด</option>
	<% for j in networks.collect{|k| [k.id,"#{k.name}", k.id]} %>
		<option value="<%=j[0]%>" <%=(pnet==j[0].to_s)? "selected" : "" %> ><%=j[1]%></option>
	<% end %>
	</select>
	</div>
	<div class="col d-flex justify-content-end " >
	ประจำวันที่ : <%=(pdate!='all')? date.strftime("%d %B %Y") : "ทั้งหมด" %> &nbsp;
	<%=link_to '[ วันนี้ ]', "index" if pdate=='all' or date.strftime("%D") != Time.now.strftime("%D")%>
	<%=link_to '[ ทั้งหมด ]', "index?date=all" if pdate!='all'%>
	</div>
	</div>	
	<hr/>



	<table class="table table-striped table-bordered table-condensed" style="background:#FFF">
	<thead>
		<tr>
			<th>
				สถานะ
			</th>
		
			<th>
				HN
			</th>
			<th>
				ชื่อ-นามสกุล
			</th>
			<th>
				แพทย์ผู้รักษา
			</th>
		
			<th>
				จำนวนครั้ง
			</th>

			<th>
				เครือข่าย
			</th>		
			<th>
				เจ้าหน้าที่ออกตรวจ
			</th>
		
			<th>
			</th>
		
		</tr>
	</head>
	<tbody>
		<% for i in patients 
	
			admit = Admit.where(:patient_id=>i.id).first
			provider = admit.provider
			records = admit.records.size	
		
			provider_2 = '-'
			if admit.provider_2_id
				provider_2 = SHOfficer.find admit.provider_2_id
				provider_2 = provider_2.name
			end

			bclass = "b-wait"
			bname = "รอตรวจ"
			rs = admit.records
			if pdate!='all'
				uid = rs.collect{|i| i.created_user_id if i.stamp.strftime('%d/%m/%Y')==date.strftime('%d/%m/%Y')}.compact.first
			else
				uid = rs.collect{|i| i.created_user_id}.last
			end

			if uid 
				bname = "ตรวจแล้ว"
				if uns.index(uid)
					bclass = "b-network"
				else
					bclass = "b-hos"
				end
			end
		
		%>
		<tr>
			<td><span class="badge <%=bclass%>"><%=bname%></span></td>
			<!--<td><%=admit.status%></td>-->
		
			<!-- <td><%=admit.admit_stamp.strftime("%d/%m/%Y")%></td> -->
			<td><%=i.hn%></td> 
			<td><%=i.prefix_name%><%=i.first_name%> <%=i.last_name%></td> 
		
			<td><%=provider.name if provider%></td> 
		
			<td><%=records%></td>
		
			<td><%=mnet[i.network_id]%></td>

			<td><%=provider_2%></td>
				
			<td><%=link_to "ตรวจ", "show?id=#{admit.id}", :class=>'btn btn-success' %>
				<%=link_to "ประวัติ", "profile?id=#{i.id}", :class=>'btn btn-info' %>
				<%=link_to "เครือข่าย", "admit?id=#{admit.id}", :class=>'btn btn-info' %>
				<%=link_to "ลบ", "destroy?id=#{i.id}", :class=>'btn btn-danger' %></td>
		
		</tr>
		<% end %>
	</tbody>
	</table>



	<div class="row">
		<div class="col">
			นัดวันนี้ <%=patients.size%> คน จาก <%=Patient.where(:zone_id=>session[:current_zone]).count %> คน
		</div>
		<div class="col">
			<span class="badge b-wait">&nbsp;&nbsp;</span> ยังไม่ได้ตรวจ 
			<span class="badge b-hos">&nbsp;&nbsp;</span> รพ.ตรวจแล้ว
			<span class="badge b-network">&nbsp;&nbsp;</span> รพสต.ตรวจแล้ว
		</div>
	</div>
	
	
	  </div>
	</div>
	
	
	</div>
</div>





















<br/>

<%=inline(this,:'_banner')%>
 <% if true %><div id="msgs" style="font-size:0.8em;<%='display:none' unless params[:debug]%>"></div><% end %>


</div>



<script>
$("#record-network_id").change(function(){
	document.location.href="index?n="+$(this).val()+'&date='+$("#p-date").val()
})
</script> 

<script>
	   	 

	
		
	 var show = function(el){
        return function(msg){ el.innerHTML = msg  }
      }(document.getElementById('msgs'));
		 
		 
		 
		  tag = 'wss://' + window.location.host + "/<%=@context.settings.name%>/Home/index";
		  var ws  = new WebSocket('wss://' + window.location.host + "/<%=@context.settings.name%>/Home/index");
	
	
	      ws.onopen    = function()  { show('websocket opened'); 
		  
		  	ws.send('WS.Select name=<%=session.id%>\n["Zone <%="miot/#{@context.settings.name}/z/#{@current_zone.name}"%>","ZoneUpdate zone_id=*","Alert station_id=*","Data.Image station_id=*"]')
			
		  };
    
	
		  ws.onclose   = function()  { show('websocket closed'); 
		
		 	setTimeout(function () {
		       // window.location.href = "index"; //will redirect to your blog page (an ex: blog.html)
		    }, 2000); //will call the function after 2 secs.
	

	      }
	  
	      ws.onmessage = function(m) { 

			
			  
			  

			lines = m.data.split("\n")
	
			if(lines[0].split(" ")[0]=='Zone.Message'){
				
				// if(selected_station_id!=null)
				alert(m.data)


			}
			  
			  
		  }
		  
		  
		  
			
		
</script>
		  
	
		  
		  