<%=inline(this,:'_init')%>
<%=inline(this,:'_feed')%>
<%
	
	@current_zone = Zone.find session[:current_zone]

	hospital = SHHospital.first
	uh = SHUserHospital.where(:user_id=>session[:identity]).first
	if uh
		hospital = SHHospital.find uh.hospital_id
	end
	mnet = Hash[SHNetwork.all.collect{|i| [i.id,i.name]}]
	m_pvname = Hash[Provider.all.collect{|i| [i.id,i.name]}]
	hosname = Setting.get :default_center_name
	hosname = hospital.name if hospital
	
%>
<div class="containerx" style="background:none">

<div class="row" style="border:0px solid;">

<div class="col" style="background-color:#fff;margin-left:0px;margin-right:0px;border-radius:0px;">
	
<div class="row banner-header" style="">

<div class="col">
	<div>
		<span class="banner-title"><%=link_to @access_title, "index" %></span>
		<br/>
		Smart Health
    </div>
</div>

<div class="col  d-flex justify-content-end">
	<div> <%=@current_provider.name if @current_provider%></div>
</div>


</div>


<div class="row">

<div class="col d-flex justify-content-center" style="border:0px solid">
	<ul class="nav nav-pills " id="pills-tab" role="tablist" style="margin-bottom:0px">
	  <li class="nav-item">
	    <a class="nav-link <%='active' if params[:query]!=nil or params[:tab]==nil%>" id="pills-home-tab" data-toggle="pill" href="#tab-schedule" role="tab" aria-controls="pills-home" aria-selected="true">ตารางนัดหมาย</a>
	  </li>
	  
	  <!-- <li class="nav-item">
	    <a class="nav-link <%='active' if params[:query]%>" id="pills-job-tab" data-toggle="pill" href="#tab-job" role="tab" aria-controls="pills-job" aria-selected="false">ระบบรับส่งงาน</a>
	  </li> -->
	  
	  <li class="nav-item">
	    <a class="nav-link <%='active' if params[:query]%>" id="pills-profile-tab" data-toggle="pill" href="#tab-patient" role="tab" aria-controls="pills-profile" aria-selected="false">รายชื่อผู้ป่วย</a>
	  </li>
	  
	  <li class="nav-item">
	    <a class="nav-link <%='active' if params[:tab]=='commu'%>" id="commu-home-tab" data-toggle="pill" href="#tab-commu" role="tab" aria-controls="commu-profile" aria-selected="false">สื่อสาร</a>
	  </li>
	  
	  
	</ul>
</div>
</div>
</div>
</div>





<br/>


<div class="row">
	
	<div class="col">
	

	
	<div class="tab-content" id="pills-tabContent">


<div class="tab-pane fade show <%='active' if params[:tab]=="commu"%>" id="tab-commu" role="tabpanel" aria-labelledby="pills-home-tab">

<%=inline(this,:'_commu_partial')%>

</div>
	  <div class="tab-pane fade show <%='active'  if params[:query]!=nil or params[:tab]==nil%>" id="tab-schedule" role="tabpanel" aria-labelledby="pills-home-tab">
		  
		  
		  <%
		  	
  		# default today patient

  		date = Time.now
  		date = Time.parse params[:date]  if params[:date] and params[:date]!='all'

  		pdate = date.strftime('%Y-%m-%d')
  		pdate = params[:date] if params[:date] 
			
			
		  %>
		  
	<div class="row" style="border:0px solid;">

	<div class="col">
		<h3>ตารางนัดหมาย</h3>
	</div>
	<div class="col d-flex justify-content-end">
		
		<% unless @current_network %>
       <div class=" d-flex justify-content-center btn-submit" >
		   <a href="visit" class="btn  d-flex align-items-center justify-content-center">
               <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-plus-fill " fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                   <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                   <path fill-rule="evenodd" d="M13 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
                 </svg>
               <span class="pl-2 pb-0">เพิ่มนัด</span>
           </a>
       </div>&nbsp;
       
	   <!--<div class=" d-flex justify-content-center btn-submit" >
		   
		   
		   
		   
           <a href="./admit" class="btn  d-flex align-items-center justify-content-center">
               <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-plus-fill " fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                   <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                   <path fill-rule="evenodd" d="M13 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
                 </svg>
               <span class="pl-2 pb-0">เพิ่มผู้ป่วย</span>
           </a>
       </div>&nbsp;-->
	   <% end %>
	            <!--<div class=" d-flex justify-content-end btn-submit" >
	                <a href="calendar" class="btn  d-flex align-items-center justify-content-end">
	                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-plus-fill " fill="currentColor" xmlns="http://www.w3.org/2000/svg">
	                        <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
	                      </svg>
	                    <span class="pl-2 pb-0">ตารางนัด</span>
	                </a>
	            </div>-->
	</div>

	</div>					  
		 <br/>
<div class="row" style="border:0px solid">

<div class="col-12 col-md-6">
<!-- <h4>ตารางนัดหมาย</h4> -->
<div class="schedule-content" style="background-color:white;padding:5px;border-radius: 5px;font-size:0.8em">
...
</div>


</div> 

<div class="col-12 col-md-6">


<div id="calendar" style="font-size:0.8em;background-color:white;padding:5px;border-radius: 5px;"></div>


<% 

  netnum = []
  map = {}
  
  
visits = []
visits_other = []

if @current_hospital
	shrelations = SHRelation.where(:hospital_id=>@current_hospital.id).all
	
	patient_ids = shrelations.collect{|i| i.patient_id }
	
	# for doctor 
	if @current_user_hospital.provider_type == 'doctor'  
		
		patient_ids = shrelations.collect{|i| i.patient_id if i.hospital_doctor_id==@current_provider.id or i.hospital_doctor_2_id==@current_provider.id }.compact 
	
		visits = SHVisit.where(:appoint_type=>{'$in'=>['1']}, :provider_id=>@current_provider.id, :patient_id=>{'$in'=>patient_ids},).all
		
		visits_other = SHVisit.where(:appoint_type=>{'$in'=>['2','3']}, :patient_id=>{'$in'=>patient_ids} ).all
		
		
	elsif @current_user_hospital.provider_type == 'nurse'  
		
		
		visits = SHVisit.where(:appoint_type=>{'$in'=>['1']},:patient_id=>{'$in'=>patient_ids}, ).all
		
		visits_other = SHVisit.where(:appoint_type=>{'$in'=>['2','3']},:patient_id=>{'$in'=>patient_ids}).all
		
		
	end

	
elsif @current_network
	
	
	shrelations = SHRelation.where(:network_id=>@current_network.id).all
	


	if @current_provider 
	
		patient_ids = shrelations.collect{|i| i.patient_id if i.network_doctor_id==@current_provider.id or i.network_nurse_id==@current_provider.id or i.network_officer_id==@current_provider.id }.compact
	
		visits = SHVisit.where(:appoint_type=>{'$in'=>['3']}, :officer_id=>@current_provider.id).all
		

	else
		
		patient_ids = shrelations.collect{|i| i.patient_id }
		
		
		visits_other = SHVisit.where(:appoint_type=>{'$in'=>['2','3']},:patient_id=>{'$in'=>patient_ids}).all
		
		
	end
	


end
  
  # visits= []
 #
 # 	if @current_hospital
 #
 # 		visits = SHVisit.where(:hospital_id=>@current_hospital.id, :provider_id=>@current_provider.id).all
 #
 # 	elsif @current_network
 #
 # 		visits = SHVisit.where(:network_id=>@current_network.id).all
 #
 # 	end
 #
 	map = {}
	
	cmap = {}
	


 	for i in visits + visits_other

 		status = "W"
 		status = "C" if i.status == 'Completed'
 		date_key = i.date.strftime("%Y-%m-%d")
 		key = "-"

		code = "00000"

 		if i.appoint_type=='1'

			code = 'hos'
 			key = "#{date_key}:hos"

 		else


 			network = SHNetwork.find(i.network_id)

 			code = network.code if network and network.code and network.code !=''

 			key = "#{date_key}:#{code}"

 		end
		
		cmap[code] = 1 
		

 		map[key] = {'W'=>[], 'C'=>[]} unless map[key]

 		map[key][status] << i

 	end

 	list = []
    colors = %w{ #84A7FF #A9DEF9 #CE99FF #E6BEFD #77DDDF #31CAC8}

 	map.keys.each_with_index do |k,id|

 		tk = k.split(":")
 		code = tk[1]
 		type = tk[2]
		
		color = colors[cmap.keys.index(code)%6]
		color = '#015b9e'
		color = '#21bca3' if code!='hos'
		

 		title = "#{code} W:#{map[k]['W'].size} C:#{map[k]['C'].size}"
 		date = Date.parse(tk[0])
 		list <<    {
 			          title: title,
 			          url: "\#",
 			          start: date,
					  color: color
 			        }

 	end

 	netnum = list
	

%>
	
	
	<script>
		
		

    document.addEventListener('DOMContentLoaded', function() {
	
		
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
        },
        navLinks: true, // can click day/week names to navigate views
        businessHours: true, // display business hours
        editable: true,
        selectable: true,
        events: <%=netnum.to_json.html_safe%>,
		dateClick: function(info) {
			$('.schedule-content').fadeOut("fast", function(){
				
			    var myKeyVals = {'date':info.dateStr}

			    $.ajax({

			        url: "schedule_partial",
			        data: myKeyVals ,
	
			               success: function (result) {   // Result is not coming here please help
			                   $('.schedule-content').html(result);
							   $('.schedule-content').fadeIn();              
			               },
			               failure: function (response) {
           
			                   console.log(response.responseText);
			               },
			               error: function (response) {
			                   //window.location.reload();
							   // alert('')
			                   // window.location.href='index?date='+info.dateStr;
			               }
			    });
				
				
				
			});
		    
			

 
		  }
      });
	  
	  
	  

      calendar.render();
    
  	
	
	});
	
	
	

	
	
    var myKeyVals = {'date':'<%=date.strftime('%Y-%m-%d')%>'}

    $.ajax({

        url: "schedule_partial",
        data: myKeyVals ,

               success: function (result) {   // Result is not coming here please help
                   $('.schedule-content').html(result);              
               },
               failure: function (response) {
   
                   console.log(response.responseText);
               },
               error: function (response) {
                   //window.location.reload();
					//alert('err')
                   // window.location.href='index?date='+info.dateStr;
               }
    });
	

</script>


</div> 


</div>

		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
	  </div> <!--End Sechudle-->
	  
	  
	  <div class="tab-pane  <%=' active' if params[:query]%>" id="tab-patient" role="tabpanel" aria-labelledby="pills-home-tab">
		  
		  
		<%=inline(this,:'_patient_record')%>	  
		  
	
	
	
	  </div>
	  
	  
	
	
	  <div class="tab-pane fade show <%=' active' if params[:query]%>"  id="tab-job" role="tabpanel" aria-labelledby="pills-job-tab">
 	
		<div class="row" style="border:0px solid">

			<div class="col">
				<h3>ระบบเยี่ยมบ้าน</h3>
			</div>

			<div class="col d-flex justify-content-end">
				 สืบค้น สั่งงาน
			</div>
	
		</div>
	
	  </div>
	
	
	
	
	
	  
	</div>
	
	
	
	
	
	
	
	

	
	
	
	
	
	

	
	</div>
	
	

	
	
	
</div>





















<br/>

<%=inline(this,:'_banner')%>
 <% if true %><div id="msgs" style="font-size:0.8em;<%='display:none' unless params[:debug]%>"></div><% end %>


</div>



<script>
function networkshow(id){
	if(id=='all'){
		$(".tr-network").show()
		$(".count").html($(".tr-network").length)
	}else{
		$(".tr-network").hide()
		$("."+id).show()
		
		$(".count").html($("."+id).length)
	}
}
function filter_p(s){
	if(s&&s!=''){
		$(".tr-p").hide()
		$(".tr-p").each(function(i,v){
			var t = $(v).attr("text")
			if(t.indexOf(s)!=-1) $(v).show()
		})
	}else{
		$(".tr-p").show()
	}
}
$(document).ready(function(){
	$("#search-p").keyup(function(){
		filter_p($(this).val())
	})

	$("#record-network_id").change(function(){
		networkshow($(this).val())
		//document.location.href="index?n="+$(this).val()+'&date='+$("#p-date").val()
	})
})

</script> 
<script>
$("#btnExport").click(function(e) {
    tableToExcel('data', 'patient')
    e.preventDefault();
});
</script>
<script type="text/javascript">
var tableToExcel = (function() {
    var uri = 'data:application/vnd.ms-excel;base64,'
        , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>patient</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta charset="UTF-8"></head><body><table>'+$("#data").html()+'</table></body></html>'
        , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
        , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
    return function(table, name) {
        if (!table.nodeType) table = document.getElementById(table)
        var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
        window.open( uri + base64(format(template, ctx)) )
    }
})()
</script>  
<script>
	   	 

	
		
	 var show = function(el){
        return function(msg){ el.innerHTML = msg  }
      }(document.getElementById('msgs'));
		 
		 
		 
		  tag = 'wss://' + window.location.host + "/<%=@context.settings.name%>/Home/index";
		  var ws  = new WebSocket('wss://' + window.location.host + "/<%=@context.settings.name%>/Home/index");
	
	
	      ws.onopen    = function()  { show('websocket opened'); 
		  
		  	ws.send('WS.Select name=<%=session.id%>\n["Zone <%="miot/#{@context.settings.name}/z/#{@current_zone.name}"%>","ZoneUpdate zone_id=*","Alert station_id=*","Data.Image station_id=*"]')
			
		  };
    
	
		  ws.onclose   = function()  { show('websocket closed'); 
		
		 	setTimeout(function () {
		       // window.location.href = "index"; //will redirect to your blog page (an ex: blog.html)
		    }, 2000); //will call the function after 2 secs.
	

	      }
	  
	      ws.onmessage = function(m) { 

			
			  
			  

			lines = m.data.split("\n")
	
			if(lines[0].split(" ")[0]=='Zone.Message'){
				
				// if(selected_station_id!=null)
				alert(m.data)


			}
			  
			  
		  }
		  
		  
		  
			
		
</script>
		  
	
		  
		  