<h1>Doctor</h1>



            <div class="container d-flex justify-content-center btn-submit" >
                <a href="./admit" class="btn  d-flex align-items-center justify-content-center">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-plus-fill " fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                        <path fill-rule="evenodd" d="M13 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
                      </svg>
                    <span class="pl-2 pb-0">เพิ่มใหม่</span>
                </a>
            </div>
			
			
<%
zone = 
patients = Patient.where(:zone_id=>session[:current_zone]).all
	
%>


<table class="table">
<tbody>
	<% for i in patients %>
	<tr>
		<td><%=i.first_name%></td> <td><%=i.last_name%></td> 
		
		<td><%=link_to "ตรวจ", "show?id=#{i.id}", :class=>'btn btn-success' %></td>
		<td><%=link_to "กระจายงาน", "show?id=#{i.id}", :class=>'btn btn-warning' %></td>
		<td><%=link_to "Profile", "profile?id=#{i.id}", :class=>'btn btn-info' %></td>
	</tr>
	<% end %>
</tbody>
</table>