<%
	
	
	
if @current_user
	
	
	# admit = Admit.find params[:admit_id]
	# patient = admit.patient
	record = nil
	# record = DataRecord.find params[:id] if params[:id]
	admit = nil	
	
	
%>
<script>
	$('.navbar').remove()
	$('body').css('padding','0px')	
</script>
<% end %>
<script src="https://kit.fontawesome.com/13a3acd719.js" crossorigin="anonymous"></script>
<link href="<%=url_for('css/er_white.css')%>" rel="stylesheet">
<link href="<%=url_for('css/health.css?=22')%>" rel="stylesheet">
<%=inline(this,:'_init')%>
<%=inline(this,:'_feed')%>
<style>
.data-panel{
    background:white;
    min-height:70vh;
    margin-left:5vw;
    margin-right:5vw;
    box-shadow: 0px 3px 6px #00002950;

}
.step{
    font-size:3vh;
}

.entry{
/*	font-size:10vh;*/
	color:#36a99c;
	border:1px solid #ccc;
	padding:10px;
	margin:20px;
	border-radius: 5px;
}

.entry2{
	font-size:0.7em;
	color:#36a99c;
	border:1px solid #ccc;
	border-radius: 5px;
	
}
.v-entry{
	border:0px solid #ccc;
	border-radius: 5px;
	font-size:5vh;

}

</style>



<div class="containerx" style="background:none">

<div class="row banner-header justify-content-md-center" style="padding-bottom:20vh">
    <div class="col-12">
    <center>
    <%= link_to Setting.get(:default_center_name),"index"%>
	<br/>
    <!-- <span style="font-size:0.6em" class="demo">ระบบบันทึกข้อมูลสุขภาพ</span> -->
    </center>
    </div><!--col-->    
</div><!--banner-header-->

<div class="row justify-content-md-center" style="margin-top:-20vh">
    <div class="data-panel col-md-10 col-11 rounded">
        <input type="hidden" id="hidstep" value="5">
		
		<center class="entry hn  ">
	   <div class="col-12  x-0 v-entry patient_name " label="HN" name="hn"  style="border:0px solid;font-size:1.5em;margin-top:10px" label="HN" name="patient">....</div>
	   	</center>
	
        <div class="step step1 p-3">
        <center>
            1.กรุณาสแกนบาร์โค้ด
          <div class="entry  hn-tmp" style="">
			<div class="col-12  v-entry-x px-0 hn-value-x"  style="border:0px solid;" label="HN" name="hn">-</div>
		</div>
          <!-- <div class="entry  hn" style="height:100px;font-size:0.5em">
			<div class="col-12  v-entry px-0 patient_name"  style="border:0px solid;" label="HN" name="patient"></div>
		</div> -->
			<img src="<%=url_for('../../miot/img/health/barcodescan.png') %>" style="height:30vh">
        </center>
        </div><!--step1-->
        <div class="step step2 p-3">
        <center>
            2.กรุณาวัดความดัน
            <div class="entry" style="">
			<div class="row " >
				<div class="col-6 sys  bp_sys px-0"  style="border:0px solid;text-align:right" label="Blood pressure - Systolic" ><div class="v-entry" name="bp_sys" label="Blood pressure - Systolic">-</div>
	
			 </div>
				<div class="col-1 v-entry  px-0 v-null" style="" >/</div>
				<div class="col-5 dia  bp_dia  px-0"  style="text-align:left" ><div  name="bp_dia" class="v-entry" label="Blood pressure - Diastolic">-</div></div>
			</div>
				
			</div>
			<img src="<%=url_for('../../miot/img/health/fh-p2.png') %>" width="100%">
			
        </center>
        </div><!--step2-->
       
        <div class="step step3 p-3">
        <center>
            3.กรุณาวัดค่าออกซิเจนในเลือด
            <div class="entry" style="">
				<div class="row " >
					<div class="col-6 sys  spo2 px-0"  style="border:0px solid;text-align:right"  name="spo2"><div class="v-entry" name="spo2" label="SpO2 (%)">-</div></div>
					<div class="col-1 v-entry  px-0 v-null"> &nbsp; &nbsp;&nbsp;</div>
					<div class="col-5 dia  pr  px-0"  style="text-align:left"  name="pr"><div class="v-entry" name="pr" label="Pulse rate (Bpm)">-</div></div>
				</div>
			</div>
			<img src="<%=url_for('../../miot/img/health/fh-p3.png') %>" width="100%">
			
        </center>
        </div><!--step4-->
		
        <div class="step step4 p-3">
        <center>
            4.กรุณาวัดอุณหภูมิร่างกาย (&#8451;)
            <div class="entry" style="">
				<div class="col-12 sys temp px-0"  style="border:0px solid;"name="temp"><div class="v-entry" name="temp"  label="Temperature (&#8451;)" >-</div></div>
			</div>
			<img src="<%=url_for('../../miot/img/health/fh-p4.png') %>" width="100%">
			
        </center>
        </div><!--step3-->
		
        <div class="step step5 p-3">
        <center>
            ค่าสัญญาณชีพ
           <br/>    <br/>
		   <div class="row " style="margin-bottom:10px">
			   <div class="col-6">
			   ความดัน
			    <span style="font-size:0.6em">Sys/Dia 
			   </div>
		   
			   <div class="col-6 entry2">
   			<div class="row " >
   				<div class="col-6 sys  bp_sys px-0"  style="border:0px solid;text-align:right"  name="bp_sys"><div class="v-entry" name="bp_sys" label="Blood pressure - Systolic">-</div></div>
   				<div class="col-1 v-entry  px-0 v-null">/</div>
   				<div class="col-5 dia   bp_dia  px-0"  style="text-align:left"  name="bp_dia"><div class="v-entry" name="bp_dia" label="Blood pressure - Diastolic">-</div></div>
   			</div>
			   </div>
		   </div>
		   
		   <div class="row" style="margin-bottom:10px">
			   <div class="col-6 ">
			   ออกซิเจนในเลือด <span style="font-size:0.6em">SpO<sub>2</sub> (%), Pulse (Bpm)</span>
			   </div>
		   
			   <div class="col-6 entry2">
			<div class="row">	   
			<div class="col-6 sys spo2 px-0"  style="border:0px solid;text-align:right"  name="spo2"><div class="v-entry" name="spo2" label="SpO<sub>2</sub>(%)">-</div></div>
			<div class="col-1 v-entry  px-0 v-null"> &nbsp;</div>
			<div class="col-5 dia  pr  px-0"  style="text-align:left"  name="pr"><div class="v-entry" name="pr" label="Pulse (bpm)">-</div></div>
		</div>
			   </div>
		   </div>
		   

		   
		   <div class="row">
			   <div class="col-6">
			     อุณหภูมิร่างกาย<br/><span style="font-size:0.6em">(&#8451;)</span>
			   </div>
		   
			   <div class="col-6 entry2 ">
			   <div class="col-12 sys temp px-0"  style="border:0px solid;"  name="temp"><div class="v-entry" name="temp" label="Temperature (&#8451;)">-</div></div>
			   </div>
		   </div>
		   
		   
		   
		   <div class="row" style="display:none">
			   <div class="col-6">
			     Score
			   </div>
		   
			   <div class="col-6 entry2 ">
			   <div class="col-12 sys score px-0"  style="border:0px solid;" label="Temperature" name="temp"><div class="v-entry" name="score">-</div></div>
			   </div>
		   </div>
	<% unless record %>
	<div class="row">
		<div class="col-12">
        <div class="d-flex justify-content-center mt-5">
            <a href="#" class="btn btn-lg btn-next btn-submit d-flex align-items-center justify-content-center ">
                บันทึกอาการ
            </a>

        </div>
      
		<%
		
		return_to = "show?id=#{admit.id if admit}"
		return_to = params[:return] if params[:return]
		
		%>
        <a href="<%=return_to%>" class="d-flex justify-content-center">
        
        </a>
        <a href="#" id="beep" style="display:none">beep</a>
        <a href="#" id="ready" style="display:none">ready</a>
        </div>
	</div>

	<% else %>
	<div class="row">
		<div class="col-12">
        <div class="d-flex justify-content-center mt-5">
		<%= link_to 'ลบข้อมูล', "show_delete_record?id=#{params[:id]}&admit_id=#{params[:admit_id]}", :class=>'btn btn-danger' %>
		</div>
		</div>
	</div>
	<% end %>
             
        
		
		</center>
        </div><!--step5.2-->
		
		
	        <div class="step step6 p-3">
	        <center>
	            บันทึกอาการ
	           <br/>    <br/>
			  <style>
				  .cos{
					  font-size:1.2rem;
					  margin-bottom:1rem;
				  }
				  .select{
					  color:white;
					  background:#37a69a;
					  border:1px solid black;
				  }
				  </style>
			   
			​<div class="" style="font-size:1.5em">   
				
<%
		
a = <<LIST
emPatientSymptomsCL1 = หายใจไม่สะดวก, 
emPatientSymptomsCL2 = มีไข้ , 
emPatientSymptomsCL3 = ไอมาก , 
emPatientSymptomsCL4 = น้ำมูกไหล , 
emPatientSymptomsCL5 = เจ็บคอ , 
emPatientSymptomsCL6 = เมื่อยเนื้อเมื่อยตัว , 
emPatientSymptomsCL7 = ปวดศรีษะ , 
emPatientSymptomsCL8 = ท้องเสีย , 
emPatientSymptomsCL9 = ไม่ได้กลิ่น , 
emPatientSymptomsCL10 = ตาแดง , 
emPatientSymptomsCL11 = มีผื่น , 
emPatientSymptomsCL12 = ลิ้นไม่รับรส , 
emPatientSymptomsCL13 = หอบเหนื่อย , 
emPatientSymptomsCL14 = เจ็บหน้าอก
LIST


a = a.split(",").collect{|i| i.strip.split("=").collect{|j| j.strip}}
	
	
%>				
				
			   
			   
			<div class="row " style="margin-bottom:10px">
			   
			<% for i in a %>
			
				<div class="col-4 x">
					<a href="" class="btn cos" style="border:1px solid;" id="<%=i[0]%>" select="false"><%=i[1]%></a>
				</div>
				
			<% end %>
				
				
				
			   
			</div>
			
			<div class="row">
			 
			<div class="col-12">
			<span style="font-size:2vh;text-align:left">อาการอื่น ๆ </span>
		   	 <input type="text" name="otemPatientSymptomsOtherher" id="emPatientSymptomsOther" style="font-size:3vh;color:#666">
		   	</div>
		   
			</div>
			
			
			   
			</div>
			   
			   
		<script>
			
			$('.cos').click(function(e){
				
				checked = $(this).attr("select")
				// alert(checked)
				
				if(checked=='true'){
					
					$(this).removeClass('select')
					$(this).attr("select",'false')
					
					
				}else{
					
					$(this).addClass('select')
					$(this).attr("select",'true')
					
				}
				
				e.preventDefault();
				
				
			})
			
			
		</script>	
			   
			   
			   
			   
			   
		<% unless record %>
		<div class="row">
			<div class="col-12">
	        <div class="d-flex justify-content-center mt-5">
		
	            <a href="#" class="btn btn-lg btn-primary-x btn-submit d-flex align-items-center justify-content-center btn-opd">
	                บันทึก
	            </a>

	        </div>
      
			<%
		
			return_to = "show?id=#{admit.id if admit}"
			return_to = params[:return] if params[:return]
		
			%>
	        <a href="<%=return_to%>" class="d-flex justify-content-center">
        
	        </a>
	        <a href="#" id="beep" style="display:none">beep</a>
	        <a href="#" id="ready" style="display:none">ready</a>
	        </div>
		</div>

		<% else %>
		<div class="row">
			<div class="col-12">
	        <div class="d-flex justify-content-center mt-5">
			<%= link_to 'ลบข้อมูล', "show_delete_record?id=#{params[:id]}&admit_id=#{params[:admit_id]}", :class=>'btn btn-danger' %>
			</div>
			</div>
		</div>
		<% end %>
             
        
		
			</center>
	        </div><!--step5.2-->
		
		     
        <div class="step step7 p-3">
        <center>
            ส่งผลตรวจร่างกายสำเร็จ
			<br><!--<span style="color:green;font-size:30vh;"><i class="fas fa-check-circle"></i></span>-->
			<img src="<%=url_for('../../miot/img/svg/check-circle-solid.svg') %>"  style="height:40vh;padding-top:5vh">
        </center>
        </div><!--step6-->              
    </div>
</div>   

<div class="row justify-content-center" style="padding-top:5vh;">
	
 	<!-- <div id="video-call-start" class="col-sm-4 col-6 ">
	<a href="" class="make_call btn btn-warning">ติดต่อ</a>
	</div> -->
	
 	<div id="video-call-end" class="col-sm-4 col-6" style="display:none">
	<a href="" class="end_call btn btn-danger">วางสาย</a>
	</div>
    
	<div id="div-back" class="col-sm-4 col-6 ">
		<a href="#" class="btn btn-lg " id="btn-back">ย้อนกลับ</a>

   </div>
    <div id="div-next" class="col-sm-4 col-6">
		
        <a href="#" class="btn btn-lg " id="btn-next">ต่อไป</a>
    </div>
</div> 
</div><!--container-->
	<div id="msgs" style="font-size:0.5em"></div>
<script>

function backstep(){
	s = $("#hidstep").val()
	try{
		i = parseInt(s)
		i--
		if(i<1){ 
			i=1
		}else{
			$(".step").slideUp()
			$(".step"+i).slideDown()
		}
		$("#hidstep").val(i)
		if(i==1||i==5){
			$("#div-back").hide()
			$("#div-next").show()
		}else if(i==5){
			$("#div-next").hide()
			$("#div-back").show()
		}else{
			$("#div-back").show()
			$("#div-next").show()
		} 
	}catch(e){}

}

function gostep(step){
    s = $("#hidstep").val()
    try{
        i = step
        if(i==7) i=1
        $(".step").slideUp()
        $(".step"+i).slideDown()
        $("#hidstep").val(i)
		if(i==1||i==7){
			$("#div-back").hide()
			$("#div-next").show()
		}else if(i==6){
			$("#div-next").hide()
			$("#div-back").show()
		}else{
			$("#div-back").show()
			$("#div-next").show()
		} 
    }catch(e){}
}


function nextstep(){
    s = $("#hidstep").val()
    try{
        i = parseInt(s)
        i++
        if(i==7) i=1
        $(".step").slideUp()
        $(".step"+i).slideDown()
        $("#hidstep").val(i)
		if(i==1||i==7){
			$("#div-back").hide()
			$("#div-next").show()
		}else if(i==6){
			$("#div-next").hide()
			$("#div-back").show()
		}else{
			$("#div-back").show()
			$("#div-next").show()
		} 
    }catch(e){}

}

$('.btn-next').click(function(){
	gostep(6)
})

$(document).ready(function(){
    $("#btn-next").click(function(){
        nextstep()
    })
    $("#btn-back").click(function(){
        backstep()
    })
    $(".step").hide()
    $(".step5").show()
	$("#div-back").hide()
})
</script>


<div class="video" style="display:none;position:absolute;top:0px;right:0px;width:30%;height:30%;border:1px solid ;z-index:100;background:black;color:gray">
<iframe src="" class="video-panel" style="width:100%;height:100%" ></iframe>
</div>


<script>
	
	var called=false;
	var cid="";
	
	
	function make_call_create(){
		$.ajax({
		  url: "tele_create?sender=<%=@current_user.id%>&receiver_role=hospital_operator&format=json",
		  context: document.body
		}).done(function(data) {
			
			data =  JSON.parse(data)
			cid = data['resourceId']
			make_call(data['resourceId'])
			
			
		});
		
		
	}
	
	function make_call_end(){
		$.ajax({
		  url: "tele_update?resourceId="+cid+"&cmd=finish&format=json",
		  context: document.body
		}).done(function(data) {
			
			end_call(cid)
			
		});
		
		
	}
	
	
	
	function make_call(resourceId){
		cid = resourceId;
	
		$('.video').show();
		$('.video-panel').attr("src","tele?resourceId="+resourceId)

	    
		$('#video-call-end').show();
		$('#video-call-start').hide();
	   
		
	}
	
	function end_call(resourceId){
		if(called){
		$('.video').hide();
		$('.video-panel').attr("src","");
		
		
		$('#video-call-start').show();
		$('#video-call-end').hide();
		}
		
	}
	
	$('.make_call').click(function(e){
		make_call_create();
		e.preventDefault();
	})
	
	$('.end_call').click(function(e){
		make_call_end();
		e.preventDefault();
	})
	
</script>


<%=inline(this,:'_entry_partial')%>