<%=inline(this,:'_init')%>

<div class="container" style="background:none">
<br/>


<div class="row" style="border:0px solid">

<div class="col">
<div><%=@access_title%></div>
</div>
<div class="col  d-flex justify-content-center">
<div> ระบบจัดการข้อมูลผู้ดูแลระบบ Network
</div></div>
<div class="col d-flex justify-content-end">
	<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
	  <li class="nav-item">
	    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Doctor / Nurse</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Patient</a>
	  </li>
	</ul>
</div>
</div>

<div class="row">

<div class="col">
	


	<div class="tab-content" id="pills-tabContent">
	  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
	  	<%
	  		
		if @current_network 
			
			list = SHUserNetwork.where(:network_id=>@current_network.id).all
			
	  	%>
			
		<%= tabular :data=>list, :model=>%w{user hospital provider provider_type}, :ext_model=>%w{action} do |row,out|
		
		out[0] = row.user.login if row.user
		
		out[1] = row.network.name if row.network
		
		out[2] = row.provider.name if row.provider
		
		out<<link_to("Show", "../SHUserNetwork/show?id=#{row.id}", :class=>'btn btn-success')+"&nbsp;"+link_to("Edit", "hn_provider_manage?id=#{row.id}", :class=>'btn btn-info')+"&nbsp;"+link_to("Del", "../SHUserHospital/destroy?id=#{row.id}", :class=>'btn btn-danger')
		
		out
		end
		 %>
		
		
		<% end %>
		
		
		<%=link_to("เพิ่ม", "hn_provider_manage?network_id=#{@current_network.id.to_s}", :class=>'btn btn-success')%>
		
		<%#link_to("เพิ่มลงฐานข้อมูล", "../SHUserHospital/create?hospital_id=#{@current_network.id.to_s}", :class=>'btn')%>
		
		
	  </div>  <!-- End Doctor Section-->
	  
	  
	  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
	  	
		
	  	<%
	  		
		if @current_network 
			
			list = SHRelation.where(:network_id=>@current_network.id).all
			 
	  	%>
		
		<%= tabular :data=>list, :model=>%w{hn name}, :ext_model=>%w{action} do |row,out|
		
		patient = Patient.find row.patient_id
		
		out[0] = patient.hn
		
		out[1] = patient.name
		
		out<<link_to("Show", "../SHUserHospital/show?id=#{row.id}", :class=>'btn btn-success')+'&nbsp;'+link_to("Del", "../SHUserHospital/destroy?id=#{row.id}", :class=>'btn btn-danger')
		
		out
		end
		 %>
		
	  </div>
	  	
		
		
		<% end %>

	</div>
	
</div>
</div>	

</div>
</div>



