<%
	
	
	
if @current_user
	
	
	# admit = Admit.find params[:admit_id]
	# patient = admit.patient
	record = nil
	# record = DataRecord.find params[:id] if params[:id]
	admit = nil	
	
	
%>
<script>
	$('.navbar').remove()
	$('body').css('padding','0px')	
</script>
<% end %>
<script src="https://kit.fontawesome.com/13a3acd719.js" crossorigin="anonymous"></script>
<link href="<%=url_for('css/er_white.css')%>" rel="stylesheet">
<link href="<%=url_for('css/health.css?=22')%>" rel="stylesheet">
<%=inline(this,:'_init')%>
<%=inline(this,:'_feed')%>
<style>
.data-panel{
    background:white;
    min-height:70vh;
    margin-left:5vw;
    margin-right:5vw;
    box-shadow: 0px 3px 6px #00002950;

}
.step{
    font-size:3vh;
}

.entry{
/*	font-size:10vh;*/
	color:#36a99c;
	border:1px solid #ccc;
	padding:10px;
	margin:20px;
	border-radius: 5px;
}

.entry2{
	font-size:0.7em;
	color:#36a99c;
	border:1px solid #ccc;
	border-radius: 5px;
	
}

</style>
<div class="containerx" style="background:none">

<div class="row banner-header justify-content-md-center" style="padding-bottom:20vh">
    <div class="col-12">
    <center>
    <%= link_to Setting.get(:default_center_name),"index"%>
	<br/>
    <span style="font-size:0.6em" class="demo">ระบบบันทึกข้อมูลสุขภาพ</span>
    </center>
    </div><!--col-->    
</div><!--banner-header-->

<div class="row justify-content-md-center" style="margin-top:-20vh">
    <div class="data-panel col-md-10 col-11 rounded">
        <input type="hidden" id="hidstep" value="1">
        <div class="step step1 p-3">
        <center>
            1.กรุณาสแกนบาร์โค้ด
          <div class="entry  hn" style="">
			<div class="col-12  v-entry px-0 hn-value"  style="border:0px solid;" label="HN" name="hn">-</div>
		</div>
			<img src="<%=url_for('../../miot/img/health/fh-p2.png') %>" width="100%">
        </center>
        </div><!--step1-->
        <div class="step step2 p-3">
        <center>
            2.กรุณาวัดความดัน
            <div class="entry" style="">
			<div class="row " >
				<div class="col-6 sys  bp_sys px-0"  style="border:0px solid;text-align:right" label="Blood pressure - Systolic" ><div class="v-entry" name="bp_sys">-</div></div>
				<div class="col-1 v-entry  px-0">/</div>
				<div class="col-5 dia  bp_dia  px-0"  style="text-align:left" label="Blood pressure - Diastolic"><div  name="bp_dia" class="v-entry">-</div></div>
			</div>
				
			</div>
			<img src="<%=url_for('../../miot/img/health/fh-p2.png') %>" width="100%">
			
        </center>
        </div><!--step2-->
       
        <div class="step step3 p-3">
        <center>
            3.กรุณาวัดค่าออกซิเจนในเลือด
            <div class="entry" style="">
				<div class="row " >
					<div class="col-6 sys  spo2 px-0"  style="border:0px solid;text-align:right" label="SpO2" name="spo2"><div class="v-entry" name="spo2">-</div></div>
					<div class="col-1 v-entry  px-0">, </div>
					<div class="col-5 dia  pr  px-0"  style="text-align:left" label="Pulse" name="pr"><div class="v-entry" name="pr">-</div></div>
				</div>
			</div>
			<img src="<%=url_for('../../miot/img/health/fh-p3.png') %>" width="100%">
			
        </center>
        </div><!--step4-->
		
        <div class="step step4 p-3">
        <center>
            4.กรุณาวัดอุณหภูมิร่างกาย
            <div class="entry" style="">
				<div class="col-12 sys temp px-0"  style="border:0px solid;" label="Temperature" name="temp"><div class="v-entry" name="temp">-</div></div>
			</div>
			<img src="<%=url_for('../../miot/img/health/fh-p4.png') %>" width="100%">
			
        </center>
        </div><!--step3-->
		
        <div class="step step5 p-3">
        <center>
            5.สรุปผลการวัดค่า
           <br/>    <br/>
		   <div class="row " style="margin-bottom:10px">
			   <div class="col-6">
			   ความดัน
			   </div>
		   
			   <div class="col-6 entry2">
   			<div class="row " >
   				<div class="col-6 sys  bp_sys px-0"  style="border:0px solid;text-align:right" label="Blood pressure - Systolic" name="bp_sys"><div class="v-entry" name="bp_sys">-</div></div>
   				<div class="col-1 v-entry  px-0">/</div>
   				<div class="col-5 dia   bp_dia  px-0"  style="text-align:left" label="Blood pressure - Diastolic" name="bp_dia"><div class="v-entry" name="bp_dia">-</div></div>
   			</div>
			   </div>
		   </div>
		   
		   <div class="row" style="margin-bottom:10px">
			   <div class="col-6 ">
			   ออกซิเจนในเลือด
			   </div>
		   
			   <div class="col-6 entry2">
			<div class="row">	   
			<div class="col-6 sys spo2 px-0"  style="border:0px solid;text-align:right" label="SpO2" name="spo2"><div class="v-entry" name="spo2">-</div></div>
			<div class="col-1 v-entry  px-0">, </div>
			<div class="col-5 dia  pr  px-0"  style="text-align:left" label="Pulse" name="pr"><div class="v-entry" name="pr">-</div></div>
		</div>
			   </div>
		   </div>
		   

		   
		   <div class="row">
			   <div class="col-6">
			     อุณหภูมิร่างกาย
			   </div>
		   
			   <div class="col-6 entry2 ">
			   <div class="col-12 sys temp px-0"  style="border:0px solid;" label="Temperature" name="temp"><div class="v-entry" name="temp">-</div></div>
			   </div>
		   </div>
		   
		   
		   
		   <div class="row" style="display:none">
			   <div class="col-6">
			     Score
			   </div>
		   
			   <div class="col-6 entry2 ">
			   <div class="col-12 sys score px-0"  style="border:0px solid;" label="Temperature" name="temp"><div class="v-entry" name="score">-</div></div>
			   </div>
		   </div>
	<% unless record %>
	<div class="row">
		<div class="col-12">
        <div class="d-flex justify-content-center mt-5">
            <a href="#" class="btn btn-primary btn-submit d-flex align-items-center justify-content-center btn-opd">
                บันทึก
            </a>

        </div>
      
		<%
		
		return_to = "show?id=#{admit.id if admit}"
		return_to = params[:return] if params[:return]
		
		%>
        <a href="<%=return_to%>" class="d-flex justify-content-center">
        
        </a>
        <a href="#" id="beep" style="display:none">beep</a>
        <a href="#" id="ready" style="display:none">ready</a>
        </div>
	</div>

	<% else %>
	<div class="row">
		<div class="col-12">
        <div class="d-flex justify-content-center mt-5">
		<%= link_to 'ลบข้อมูล', "show_delete_record?id=#{params[:id]}&admit_id=#{params[:admit_id]}", :class=>'btn btn-danger' %>
		</div>
		</div>
	</div>
	<% end %>
             
        
		
		</center>
        </div><!--step5-->     
        <div class="step step6 p-3">
        <center>
            ส่งผลตรวจร่างกายสำเร็จ
			<br><span style="color:green;font-size:30vh;"><i class="fas fa-check-circle"></i></span>
        </center>
        </div><!--step6-->              
    </div>
</div>   

<div class="row " style="padding-top:5vh">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 col-12">
        <a href="#" class="btn btn-lg btn-primary" id="btn-next">ต่อไป</a>
    </div>
</div> 
</div><!--container-->
	<div id="msgs" style="font-size:0.5em"></div>
<script>
function nextstep(){
    s = $("#hidstep").val()
    try{
        i = parseInt(s)
        i++
        if(i==7) i=1
        $(".step").hide()
        $(".step"+i).show()
        $("#hidstep").val(i)
    }catch(e){}

}
$(document).ready(function(){
    $("#btn-next").click(function(){
        nextstep()
    })
    $(".step").hide()
    $(".step1").show()
})
</script>

<%=inline(this,:'_entry_partial')%>