<%=inline(this,:'_init')%>
<style>
body{
background: #E0EAFC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.u-section{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000"><rect fill="white" fill-opacity="0.5" x="0" y="0" width="1000" height="1000"/></svg>');


}
.mand{
	color:red;
}
</style>
<%
	
	
	
	
	provider = Provider.find @record.provider_id
	
	provider = Provider.new unless provider
	
	
	user = User.find @record.user_id
	
	user = User.new unless user
	
	
	 
%>

<input type="hidden" name="provider_id" value="<%=provider.id%>">
<input type="hidden" name="user_id" value="<%=user.id%>">
<input type="hidden" name="id" value="<%=@record.id%>">

<div class="u-section rounded p-3 mb-3">
<div class="row">

<div class="col-sm-4">
<div class="form-group">
	  
<label for="provider-name"><span class="mand">*</span> ชื่อ รพ.เครือข่าย</label>
	
<input id="provider_name" name="provider[name]" class="form-control" value="<%=provider.name%>">

</div>
</div>

<div class="col-sm-4">
<div class="form-group">
	  
<label for="provider-license">รหัส รพ.เครือข่าย</label>
	
<input name="provider[license]" class="form-control" value="<%=provider.license%>">

</div>
</div>

</div> <!--row-->
</div> <!--u-section-->

 
<div class="u-section rounded p-3 mb-3">
<div class="row">
<div class="col-sm-4">
  <div class="form-group">
	  
  <label for="user-login"><span class="mand">*</span> User Login</label>
	
  <input id="user_login" name="user[login]" class="form-control" value="<%=user.login%>">

  </div>
</div>

<div class="col-sm-4">
  <div class="form-group">
	  
  <label for="">Password</label>
	
  <input id="password" name="password" type="password" class="form-control" value="">

  </div>
</div>

<div class="col-sm-4">
  <div class="form-group">
	  
  <label for="">Password Confirm</label>
	
  <input id="password_confirmation" name="password_confirmation" type="password" class="form-control" value="">

  </div>
</div>
</div><!--row-->
</div><!--u-section-->



