<br/>
<style>
.div-patient{
	max-width:100%;
	max-height:60vh;
	overflow:auto;
}
</style>
<%
    nowdate = Time.now


	
	hospital_id = nil
	hospital_id = @current_hospital.id if @current_hospital
	
	network_id = nil
	network_id = @current_network.id if @current_network
	
	cluster_id = nil
	cluster_id = @current_cluster.id if @current_cluster
	
	
	
	provider_id = nil
	provider_type = nil
	
	networks = nil
	
	if @current_hospital
	
		sh_user_hospital = SHUserHospital.where(:hospital_id=>@current_hospital.id, :user_id=>@current_user.id).first
		
		networks = SHNetwork.where(:hospital_id=>@current_hospital.id).all
		
		if sh_user_hospital and sh_user_hospital.provider_id and sh_user_hospital.provider_type and sh_user_hospital.provider_type == 'doctor'
			
			provider = Provider.find(sh_user_hospital.provider_id)
			if provider and provider.name.size>0
				provider_id = sh_user_hospital.provider_id if 
				provider_type = 'hospital'
			end
			
		end
		
	
	end
	
	if @current_network
	
		sh_user_network = SHUserNetwork.where(:network_id=>@current_network.id, :user_id=>@current_user.id).first
		
		if sh_user_network and sh_user_network.provider_id and sh_user_network.provider_type and  %w{doctor officer}.index(sh_user_network.provider_type )
			
			provider = Provider.find(sh_user_network.provider_id)
			if provider and provider.name.size>0
				provider_id = sh_user_network.provider_id if 
				provider_type = 'network'
			end
			
		end
		
	
	end
	
	
	
	if @current_cluster
	
		sh_user_cluster = SHUserCluster.where(:cluster_id=>@current_cluster.id, :user_id=>@current_user.id).first
		
		hospitals = SHHospital.where(:cluster_id=>@current_cluster.id).all
		networks = SHNetwork.where(:hospital_id=>{'$in'=>hospitals.collect{|i| i.id}}).all
		
		# if sh_user_network and sh_user_network.provider_id and sh_user_network.provider_type and  %w{doctor officer}.index(sh_user_network.provider_type )
		#
		# 	provider = Provider.find(sh_user_network.provider_id)
		# 	if provider and provider.name.size>0
		# 		provider_id = sh_user_network.provider_id if
		# 		provider_type = 'network'
		# 	end
		#
		# end
		
	
	end
	
	
	query = {}
	
	if provider_id
		
		query[:provider_id] = provider_id
		query[:provider_type] = provider_type
	
		
	elsif hospital_id
		
		query[:hospital_id] = hospital_id
		
	elsif network_id
	
		query[:network_id] = network_id
	
	elsif cluster_id
	
		query[:cluster_id] = cluster_id
			
	end
	
	
		pnet = ""
		
		
	%>

<form class="query" >	
	
	<div class="row" style="border:0px solid">

	<div class="col">
		
	<% if @current_cluster %>
	<input type="hidden" name="query[cluster_id]" id="query_cluster_id" value="<%=query[:cluster_id]%>"/>
	<% end %>
	<% if @current_hospital %>
	<input type="hidden" name="query[hospital_id]" id="query_hospital_id" value="<%=query[:hospital_id]%>"/>
	<% end %>
	<input type="hidden" name="query[provider_id]" id="query_provider_id" value="<%=query[:provider_id]%>"/>
	
	<input type="hidden" name="query[provider_type]" id="query_provider_type" value="<%=query[:provider_type]%>"/>
	
	
	
	<%if @current_cluster %>
	เครือข่าย รพ :  
	<input type="hidden" name="query[cluster_id]" id="query_cluster_id" value="<%=query[:cluster_id]%>"/>
	<select id="query_hospital_id" name="query[hospital_id]"  value="" style="width:200px">
	<option value="" %>ทั้งหมด</option>
	<% for j in hospitals.collect{|k| [k.id,"#{k.name}", k.id]} %>
		<option value="<%=j[0]%>" <%=(pnet==j[0].to_s)? "selected" : "" %> ><%=j[1]%></option>
	<% end %>
	</select>
	<% elsif @current_hospital %>
	<input type="hidden" name="query[hospital_id]" id="query_hospital_id" value="<%=query[:hospital_id]%>"/>
	<% end %>

	
	<%if @current_hospital or @current_cluster %>
	เครือข่าย รพสต :  
	
	<% if @current_hospital %><input type="hidden" name="query[hospital_id]" id="query_hospital_id" value="<%=query[:hospital_id]%>"/> <% end %>
	
	<select id="query_network_id" name="query[network_id]"  value="" style="width:200px">
	<option value="" %>ทั้งหมด</option>
	<% for j in networks.collect{|k| [k.id,"#{k.name}", k.id]} %>
		<option value="<%=j[0]%>" <%=(pnet==j[0].to_s)? "selected" : "" %> ><%=j[1]%></option>
	<% end %>
	</select>
	<% else %>
	<input type="hidden" name="query[network_id]" id="query_network_id" value="<%=query[:network_id]%>"/>
	<% end %>
	
	
		
	</div>

	<div class="col">
	แสดง <select type='select' name="query[row]" id="query_row">
		<option vlaue="5">5</option>
		<option vlaue="20">20</option>
		<option vlaue="50">50</option>
		<option vlaue="100">100</option>
		<option vlaue="0">All</option>
		</select>
	เรียง <select type='select' name="query[sort]" id="query_sort">
		<option value="status">สถานะ</option>
		<option value="exam">จำนวนออกตรวจ</option>
		<option value="public_id">CID</option>
		<option value="hn">HN</option>
		<option value="patient_name">ชื่อ-นามสกุล</option>
		<option value="created_at">วันที่ลงทะเบียน</option>
		</select>
	</div>

	
	
	<div class="col">
	ค้นหา <input type='text' name="query[search]" id="query_search"  placeholder="ชื่อ, HN, บัตรประชาชน">
	</div>
	
	<div class="col">
	<input type="submit" value='ค้นหา' class="btn btn-success"/>
	<a href="patient_export" class="btn btn-info">Export</a>
	</div>
	<div class="col d-flex justify-content-end " >
	    <% if true # unless @current_network%>	
            <div class=" d-flex justify-content-center btn-submit" >
                <a href="./admit" class="btn  d-flex align-items-center justify-content-center">
                <!--<a href="visit" class="btn  d-flex align-items-center justify-content-center">-->
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-plus-fill " fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                        <path fill-rule="evenodd" d="M13 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
                        </svg>
                    <span class="pl-2 pb-0">เพิ่มใหม่</span>
                </a>
            </div>
        <% else %>
    
        <% end %>
	</div>
	</div>	
	
	
</form>
	
	<hr/>

<div class="div-patient" id="patient-query">
	
</div>
	
	<script>
		
		// $(document).ready(function(){
			
		
			var page = 0;	
			
		function selectPage(i){
		
				page = i
	
			queryPatient();
		}	
			
		
		function queryPatient(event){

			query = $('#query_search').val()
			row = $('#query_row').val()
			network_id=$('#query_network_id').val()
			hospital_id=$('#query_hospital_id').val()
			cluster_id=$('#query_cluster_id').val()
			
			provider_id=$('#query_provider_id').val()
			provider_type=$('#query_provider_type').val()
			
			
			
			sort=$('#query_sort').val()
			manage = false;
			<% if @current_hospital %>
			manage = true;
			<% end %>
			
		    $.get( "patient_record_partial", {page: page, manage: manage, query: query, sort: sort,  provider_id: provider_id, provider_type:provider_type, hospital_id:hospital_id, network_id: network_id,cluster_id:cluster_id, row:row} )
		    .done(function( data ) {
				$('#patient-query').html(data);
			
		    });
			
		}
		
		
		$('.query').submit(function(event){
			// alert('difj')
			
			queryPatient();
			
			event.preventDefault();
			return false;
		});
		
		queryPatient();
		
	// })
		
	</script>
	
	




<script>
function networkshow(id){
	if(id=='all'){
		$(".tr-network").show()
		$(".count").html($(".tr-network").length)
	}else{
		$(".tr-network").hide()
		$("."+id).show()
		
		$(".count").html($("."+id).length)
	}
}
function filter_p(s){
	if(s&&s!=''){
		$(".tr-p").hide()
		$(".tr-p").each(function(i,v){
			var t = $(v).attr("text")
			if(t.indexOf(s)!=-1) $(v).show()
		})
	}else{
		$(".tr-p").show()
	}
}
$(document).ready(function(){
	$("#search-p2").keyup(function(){
		filter_p($(this).val())
	})

	$("#record-network_id").change(function(){
		networkshow($(this).val())
		//document.location.href="index?n="+$(this).val()+'&date='+$("#p-date").val()
	})
})

</script> 
