<%
	
admit = Admit.find params[:admit_id]
patient = admit.patient 

res = DataRecord.get_current_status [admit]
	
sense_list = DataRecord.get_sense_list #%w{bp pr spo2 temp weight height}.collect{|t| t.to_sym}
sense_label = DataRecord.get_sense_label #%w{ความดันโลหิต อัตราการเต้นหัวใจ ปริมาณออกซิเจน อุณหภูมิ น้ำหนัก ส่วนสูง}
sense_unit = DataRecord.get_sense_unit #%w{mmHg bpm % &#8451; kg cm}

	
records = admit.records.reverse

alerts = SHAlert.where(:admit_id=>admit.id).all.reverse
	
%>

<div class="" style="width:100%;">
	<center>
	<%=link_to 'หน้าแรก', "index", :class=>'btn btn-info'%>
	</center>
	<br/>
</div>
<h3>ประวัติการตรวจ (vital sign)</h3>
<div class="" style="width:100%;overflow:auto">
<div class="" style="width:1200px;scroll:auto;border:0px solid;height:400px">
<table class="table" style="font-size:0.8em">
<thead>
	<tr>
		<th style="width:150px">วันที่
		</td>
		<th>เวลา
		</th>
	
	<% for s in sense_list 
	si = sense_list.index(s)
	%>
	
	<th>
		<%=sense_label[si]%>(<%=sense_unit[si]%>)
	</td>
	
	<% end %>
	</tr>
	
</thead>
<tbody>
<% for r in records %>
<tr>
	<td>
		<%=r.stamp.strftime("%d-%m-%Y")%>
	</td>
	<td>
		<%=r.stamp.strftime("%H:%M")%>
	</td>
	
	<% for s in sense_list %>
	
	<td>
		<%=r[s]%>
	</td>
	
	<% end %>
</tr>
<% end %>
</tbody>
</table>
</div>
</div>

<h3><br/>ประวัติการแจ้งเตือน (alert)</h3>
<div class="" style="width:100%;overflow:auto">
<div class="" style="width:1200px;scroll:auto;border:0px solid;height:400px">
<table class="table" style="font-size:0.8em">
<thead>
	<tr>
		<th style="width:150px">วันที่
		</td>
		<th>เวลา
		</th>
		
		<th>แจ้งเตือน
		</th>
		<th>ค่าที่วัดได้
		</th>
		<th>เงื่อนไข
		</th>
		
		<th>สถานะ
		</th>
		<th>เจ้าหน้าที่ตรวจสอบ
		</th>
		<th>วันที่ตรวจสอบ
		</th>
	</tr>
	
</thead>
<tbody>
<% for r in alerts %>
<tr>
	<td>
		<%=r.created_at.strftime("%d-%m-%Y")%>
	</td>
	<td>
		<%=r.created_at.strftime("%H:%M")%>
	</td>
	
	
	<td><%
		
		si = sense_list.index(r.sense.to_sym)
		
	%>
		<%=sense_label[si]%>
	</td>
	
	<td>
		<%=r.value%> <%=sense_unit[si]%>
	</td>
	
	<td>
		<%=r.condition%>
	</td>
	<td>
		<div class=" <%='alert-warning' if r.status!='Closed'%>"><%=r.status%></div>
	</td>
	
	<%
		if  r.operator_user_id
		user = User.find(r.operator_user_id)
	%>
	<td>
		<%=user.login%>
	</td>
	
	<td>
		<%=r.operator_ack_at.strftime("%d-%m-%Y")%>
	</td>
	<% else %>
	<td>-</td>
	<td>-</td>
	
	<% end %>
	

</tr>
<% end %>
</tbody>
</table>
</div>
</div>