<%
	

	
	
# @current_zone = # nil

unless session[:current_zone]

	if Zone.size>0 and @current_user
		session[:current_zone] = Zone.first.id
	else 
		name = 'PCM-LIFE'
	end	

end

@current_zone = Zone.find session[:current_zone]

admits = Admit.where(:zone_id=>@current_zone.id, :status=>{'$in'=>%w{NEW Admitted}}).all

admits = admits.collect{|i| i if i.patient }.compact

%>
<style>
	.patient_box{
		background:#fafafa;
/*		border:1px solid;*/
		border-radius:10px;
	}
	.patient_header{
		border-radius:10px 10px 0px 0px;
		background:#fafbfc;
		padding:10px;
		margin-bottom:10px;
		box-shadow: 0px 3px 6px #00000019;
	}
	.patient_header span{
	
		font-size:0.8em;
	}
	
</style>
	

	
	


<% 

now = Time.now 

from_time = (now-30*24*3600).beginning_of_day

sense_list = DataRecord.get_sense_list #%w{bp pr spo2 temp weight height}.collect{|t| t.to_sym}
sense_label = DataRecord.get_sense_label #%w{ความดันโลหิต อัตราการเต้นหัวใจ ปริมาณออกซิเจน อุณหภูมิ น้ำหนัก ส่วนสูง}
sense_unit = DataRecord.get_sense_unit #%w{mmHg bpm % &#8451; kg cm}


res = DataRecord.get_current_status admits




# res = {:alerts=>[], :maps=>{}}

alerts = res[:alerts]
maps = res[:maps]


%>



<div class="row">
	<div class="col">
		<h4>Dashboard</h4>
		
		<div class="row">
			<% for i in alerts 
			    patient = i[:patient]
				ti = sense_list.index(i[:t]) 
				v = i[:v]
				admit = i[:i]
			%>
			
		
			
			<div class="col-6 col-sm-6 col-md-4 col-lg-4  col-xl-2">
			
					
			
				
		<div class="content-widget">
		<div class="patient-header">
		<div style="font-size:1.2em;"><%=link_to patient.to_s, "show?id=#{admit.id}"%></div>
		<span>
		<span>HN <%= patient.hn %></span> <span>อายุ <%=patient.to_age%> ปี</span> <span>เพศ <%= patient.gender %></span>
		<span>
		</div>
					<div class="row" style="font-size:0.7em">
						
					<div class="col-7" ">
					<h4 style="font-size:1.4em;"><%=sense_label[ti]%></h4>
					      <span style=";color:#aaa">วันที่ <%=v[:stamp] if v %> <%= '-' unless v%></span>
					</div>	
					<div class="col-5" style="text-align:center">
						<% if v and v[:alert]  %>
						<div class="alert alert-<%=v[:alert][:class]%>">
							<span >
							<%=v[:alert][:text]%>
						</span>
					</div>
						<% end %>
			
					</div>	
					</div>
		
		
					<div class="row">
					<div class="col"  style="text-align:center">
						<span class="med-value">
						<%=v[:value] if v%>
						<%="-" unless v%>
					    </span>
	
						<span style=";color:#aaa;font-size:0.8em">
							<%=v[:unit] if v %>
						</span>
					</div>	
					
					</div>
		
				
					
				</div>
				
			
				</div>
			<% end %>
			
		</div>
		
	</div>
</div>

<div class="row">
<%
	
	for i in admits 
		patient = i.patient
		map = maps[i.id]
		if map
%>


<div class="col-md-6 col-lg-6  col-xl-4">
	<div class="patient-box">
	<div class="patient-header">
	<div style="font-size:1.4em;"><%=link_to patient.to_s, "show?id=#{i.id}"%></div>
	
	<span>HN <%= patient.hn %></span> <span>อายุ <%=patient.to_age%> ปี</span> <span>เพศ <%= patient.gender %></span>
	
	</div>

	<div class="row">
	<% sense_list.each_with_index do |i,ix|
	v = map[i] 
	
	 %>
	<div class="col-6" style="">
	<div class="content-widget">
		
		<div class="row" style="font-size:0.7em">
		<div class="col-8" ">
		<h4 style="font-size:1.4em;"><%=sense_label[ix]%></h4>
		      <span style=";color:#aaa">วันที่ <%=v[:stamp] if v %> <%= '-' unless v%></span>
		</div>	
		<div class="col-4" style="text-align:center">
			<% if v and v[:alert]  %>
			<div class=" alert-<%=v[:alert][:class]%>">
			<span >
				<%=v[:alert][:text]%>
			</span>
			</div>
			<% end %>
			
		</div>	
		</div>
		
		
		<div class="row">
		<div class="col"  style="text-align:center">
			<span class="med-value">
			<%=v[:value] if v%>
			<%="-" unless v%>
		    </span>
	
			<span style=";color:#aaa;font-size:0.8em">
				<%=v[:unit] if v %>
			</span>
		</div>	
		</div>
		

	</div>
	</div>
	
	<% end %>
	
	
	</div>
</div></div>
<% end %>	<% end %>
</div >