<%=inline(this,:'_init')%>
<%=inline(this,:'_feed')%>
<%
    zone = Zone.find session[:current_zone]
    hospital = SHHospital.first
	uh = SHUserHospital.where(:user_id=>session[:identity]).first
	if uh
		hospital = SHHospital.find uh.hospital_id
	end
	mnet = Hash[SHNetwork.all.collect{|i| [i.id,i.name]}]
	m_pvname = Hash[Provider.all.collect{|i| [i.id,i.name]}]
	hosname = Setting.get :default_center_name
	hosname = hospital.name if hospital
		
    
    if hospital
        patients = Patient.where(:zone_id=>session[:current_zone],:hospital_id=>hospital.id).all
    else
        patients = Patient.where(:zone_id=>session[:current_zone]).all
    end

    # list = SHRelation.all
    list = SHRelation.where(:hospital_id=>uh.hospital_id).all
    patient_ids = list.collect{|i| i.patient_id}.compact
    m_re_pat = Hash[list.collect{|i| [i.patient_id,i.id]}]
    m_admit = Hash[Admit.where(:patient_id=>patient_ids).all.collect{|i| [i.patient_id,i.id]}]
    patients = Patient.where(:id=>patient_ids).all.sort{|a,b| b.created_at<=>a.created_at}

%>
<table class="table">
<thead>
    <tr>
        <th>HN</th>
        <th>Name</th>
        <th>Passcode</th>
        <th></th>
    </tr>
</thead>
<tbody>
<% for p in patients%>
    <tr class="tr-p" hn="<%=p.hn%>" text="<%=p.name%>">
        <td><%=p.hn%></td>
        <td><%=p.name%></td>
        <td><%=p.passport%></td>
        <td>
        <%=link_to("แสดง", "show?id=#{m_admit[p.id]}&return=register", :class=>'btn btn-success')%>
        <a href="#" class="btn btn-danger" pid="<%=m_re_pat[p.id]%>">ลบ</a>
        </td>
    </tr>
<% end %>
</tbody>
</table>
<script>
$(document).ready(function(){
    $(".btn-danger").click(function(){
        if(confirm('ท่านยืนยันการลบรายชื่อผู้ป่วยใช่หรือไม่?')){
            document.location.href="../SHRelation/destroy?id="+$(this).attr('pid')+"&return=../SmartHealth/register"
        }
    })
})
</script>