<%=inline(this,:'_init')%>

<%
	date = Time.now
	date = Time.parse params[:date]  if params[:date] and params[:date]!='all'
		
	
	if @current_hospital
		shrelations = SHRelation.where(:hospital_id=>@current_hospital.id).all
		patient_ids = shrelations.collect{|i| i.patient_id }
		
		visits = SHVisit.where(:patient_id=>{'$in'=>patient_ids}, :start=>{'$gte'=>date.beginning_of_day,'$lte'=>date.end_of_day}).all
	
		# my_patient_ids = SHRelation.where(:hospital_id=>@current_hospital.id, :hospital_doctor_id=> @current_provider.id).all.collect{|i| i.patient_id }
		my_patient_ids = []
		if @current_provider 
			my_patient_ids = shrelations.collect{|i| i.patient_id if i.hospital_doctor_id==@current_provider.id or i.hospital_nurse_id==@current_provider.id}.compact 
		end
		
		
	elsif @current_network
		shrelations = SHRelation.where(:network_id=>@current_network.id).all
		patient_ids = shrelations.collect{|i| i.patient_id }
		
		visits = SHVisit.where(:patient_id=>{'$in'=>patient_ids}, :start=>{'$gte'=>date.beginning_of_day,'$lte'=>date.end_of_day}).all
	
		# my_patient_ids = SHRelation.where(:network_id=>@current_network.id, :network_doctor_id=> @current_provider.id).all.collect{|i| i.patient_id }
		my_patient_ids = []
		if @current_provider 
			my_patient_ids = shrelations.collect{|i| i.patient_id if i.network_doctor_id==@current_provider.id or i.network_nurse_id==@current_provider.id or i.network_officer_id==@current_provider.id }.compact
		end
	end
	
	
	# visits = SHVisit.where(:patient_id=>{'$in'=>patient_ids}, :start=>{'$gte'=>date.beginning_of_day,'$lte'=>date.end_of_day}).all
	usernetworks = SHUserNetwork.all
	uns = usernetworks.collect{|i| i.user_id}

	my_list = []
	other_list = []
	for i in visits
	
		if my_patient_ids.index(i.patient_id)
			my_list << i
		else
			other_list << i
		end
		
	end
	
	
	count = 0 
%>
<span style="font-size:1.2em;font-weight:bold">
วันที่ : <%=date.strftime("%d %B %Y") %> 
</span>
<br><br>
ผู้ป่วยของฉัน <%="(#{my_list.size})".html_safe if my_list.size>0%>
<%= tabular :data=>my_list, :model=>%w{No hn name status}, :label=>{'No'=>'สถานะ','hn'=>'HN','name'=>'ชื่อ-สกุล','status'=>''} do|row,out| 
	
	patient = Patient.find(row.patient_id)
	admit = Admit.where(:patient_id=>patient.id).first
	bname = "รอตรวจ"
	bclass = "b-wait"
	rs = admit.records
	uid = rs.collect{|i| i.created_user_id if i.stamp.strftime('%d/%m/%Y')==date.strftime('%d/%m/%Y')}.compact.first
	if uid 
		bname = "ตรวจแล้ว"
		if uns.index(uid)
			bclass = "b-network"
		else
			bclass = "b-hos"
		end
	end
	#out[0] = count+=1
	out[0] = "<span class='badge #{bclass}'>#{bname}</span>"
	out[1] = link_to("#{patient.hn}","admit?id=#{admit.id}")
	out[2] = link_to("#{patient.first_name}","admit?id=#{admit.id}")
	status = ""
	status = "ตรวจ" if row.status==nil
	out[3] = link_to("#{status}","show?id=#{admit.id}", :class=>'btn btn-info')
	
	out

end
%><br/>
ผู้ป่วยอื่น ๆ
<%= tabular :data=>other_list, :model=>%w{No hn name status}, :label=>{'No'=>'สถานะ','hn'=>'HN','name'=>'ชื่อ-สกุล','status'=>''} do|row,out| 
	
	patient = Patient.find(row.patient_id)
	admit = Admit.where(:patient_id=>patient.id).first
	# out[0] = count+=1
	bname = "รอตรวจ"
	bclass = "b-wait"
	rs = admit.records
	uid = rs.collect{|i| i.created_user_id if i.stamp.strftime('%d/%m/%Y')==date.strftime('%d/%m/%Y')}.compact.first
	if uid 
		bname = "ตรวจแล้ว"
		if uns.index(uid)
			bclass = "b-network"
		else
			bclass = "b-hos"
		end
	end
	out[0] = "<span class='badge #{bclass}'>#{bname}</span>"	
	out[1] = link_to("#{patient.hn}","admit?id=#{admit.id}")
	out[2] = link_to("#{patient.first_name}","admit?id=#{admit.id}")
	status = ""
	status = "ตรวจ" if row.status==nil
	out[3] = link_to("#{status}","show?id=#{admit.id}", :class=>'btn btn-info')
	
	out

end
%>

<div class="row">
	<div class="col"><br/>
		<span class="badge b-wait">&nbsp;&nbsp;</span> ยังไม่ได้ตรวจ 
		<span class="badge b-hos">&nbsp;&nbsp;</span> รพ.ตรวจแล้ว
		<span class="badge b-network">&nbsp;&nbsp;</span> รพสต.ตรวจแล้ว
	</div>
</div>