
<%=inline(this,:'_init')%>
<div style="margin-top:-50px">
<link href="/miot/css/bootstrap.min.css" rel="stylesheet">
<%
	
visit = SHVisit.find params[:id]

patient = Patient.find visit.patient_id
	
if request.post?
		
	visit.status = 'Completed'
	visit.completed_at = Time.now 
	visit.completed_user = @current_user.id
	visit.complated_by = visit.appoint_type

	
	visit.save 
	%>
<script>
	parent.location.reload();
</script>
<%
else 
%>

<div class="container">

<h3>นัดหมาย</h3>
<hr/>
<div class='row'>
	
	<div class="field col">
	<label>ผู้ป่วย : </label>
	<%= patient.to_s %>
	</div>
	
	<div class="field col">
	<label>HN : </label>
	<%= patient.hn %>
	</div>
	
</div>

<div class='row'>
	
	<div class="field col">
	<label>วันนัดหมาย : </label>
	<%= visit.date.strftime("%d/%m/%Y") %>
	</div>
	
	<div class="field col">
	<label>สถานะ : </label>

	<%= visit.status %>
	</div>
	
	
</div>
<div class="row">
	
	<div class="field col">
	<label>คลินิก : </label>
	<% 
	clinic = "ตรวจที่โรงพยาบาล"
	clinic = "ตรวจเยี่ยมบ้าน" if visit.appoint_type == '3' 
	%>
	<%= clinic %>
	</div>
</div>

<div class='row'>
	
	<div class="field col">
	<label>แพทย์ รพช : </label>
	<%
	provider = Provider.find visit.provider_id
	 %><%= provider.name if provider %>
	</div>
	
	<div class="field col">
	<label>อสม : </label>
	<%
	provider = Provider.find visit.officer_id
	 %><%= provider.name if provider %>
	
</div>
</div>

<div class="row">
	<div class="col d-flex justify-content-end">
		
	<% if (@current_hospital and visit.appoint_type=='1') or (@current_network and  visit.appoint_type=='3')%>
	
	<form action="visit_partial?id=<%=params[:id]%>&admit_id=<%=params[:admit_id]%>" method="post">
	<% if visit.status!="Completed" %>
	<input type="submit" value="เสร็จสิ้น" class="btn btn-primary">
	<% else %>
	<input type="submit" value="อัพเดท" class="btn">
	
	<% end %>
	</form>
	
	<% end %>
	
	
</div>
</div>


<hr/>
<h4>ประวัติ </h4>

<%  if visit.appoint_type == '1' %>


<div class="row">
<div class="col">
	<% 
	user = User.find(visit.appointed_user)
	%>
	<u>นัดหมาย โดย</u> : <%=user.login if user%>
	
</div>	
<div class="col">
	<% 
	
	%> 
	<u>เมื่อ </u> : <%=visit.appointed_at.strftime("%d/%m/%Y %H:%M") if visit.appointed_at %> 
	
</div>

</div>

<div class="row">
<div class="col">
	<% 
	user = User.find(visit.completed_user)
	%>
	<u>ออกตรวจ โดย</u> : <%=user.login if user%>
	
</div>	
<div class="col">
	<% 
	
	%> 
	<u>เมื่อ </u> : <%=visit.completed_at.strftime("%d/%m/%Y %H:%M") if visit.completed_at%> 
</div>
</div>


<% else %>

<div class="row">
<div class="col">
	<% 
	user = User.find(visit.appointed_user)
	%>
	<u>รพช สั่งงาน โดย</u> : <%=user.login if user%>
	
</div>	
<div class="col">
	<% 
	
	%> 
	<u>เมื่อ </u> : <%=visit.appointed_at.strftime("%d/%m/%Y %H:%M") if visit.appointed_at  %> 
	
</div>

</div>

<div class="row">
<div class="col">
	<% 
	user = User.find(visit.dispatched_user)
	%>
	<u>รพสต จ่ายงาน โดย</u> : <%=user.login if user%>
	
</div>	
<div class="col">
	<% 
	
	%> 
	<u>เมื่อ </u> : <%=visit.dispatched_at.strftime("%d/%m/%Y %H:%M") if visit.dispatched_at%> 
</div>
</div>

<div class="row">
<div class="col">
	<% 
	user = User.find(visit.completed_user)
	%>
	<u>อสม ออกตรวจ โดย</u> : <%=user.login if user%>
	
</div>	
<div class="col">
	<% 
	
	%> 
	<u>เมื่อ </u> : <%=visit.completed_at.strftime("%d/%m/%Y %H:%M") if visit.completed_at%> 
</div>
</div>

<% end %>
</div>



<% end %>

</div>
