<%=inline(this,:'_init')%>
<style>
	v{
		color:red;
	}
	
	.validate_error{
		color:red;
		border:1px solid red ;
		
	}
	
	</style>
<link href="<%=url_for('css/er_white.css')%>" rel="stylesheet">
<link href="<%=url_for('css/health.css?=22')%>" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />

    <section>
        <div class="container">
                <header class=" d-flex align-items-center title-fill">
                    <div class="col">
                        <p class="mb-0"><strong>ลงทะเบียนผู้ป่วย NCDs</strong></p>
                        <!-- <small>Patient Admit</small> -->
                    </div>
                    <!-- <div class="col d-flex justify-content-end">
                        <button class=" btn  er-scan">
                            <img src="<%=url_for('img/svg/scan.svg')%>" alt="scan" class="p-1" />
                            Scan
                        </button>
                    </div> -->
                </header>
      </div>

<%
	
	hos_id = nil
	hos_id = @current_hospital.id if @current_hospital
	hos_id = @current_network.hospital_id if @current_network
 		
		
	
%>	    

 <% if request.post? %>	

 <% if params[:patient] 
 		
		params[:patient][:zone_id] = session[:current_zone]
		
		msg = ""
		
		
 if params[:id] and params[:id]!=''
	
     admit = Admit.find(params[:id])
	 patient = admit.patient
	 
	 
	 new_patient = Patient.where(:public_id=>params[:patient][:public_id])
	 
	 if new_patient
			 
		 params[:patient][:public_id] = patient.public_id
		 
	 end
	 
	 patient.update_attributes params[:patient]	
	
 else
	
	 
	
	 
	 ids = SHRelation.where(:hospital_id=>@current_hospital_id).all.collect{|i| i.patient_id}

	 new_patient = Patient.where(:_id=>{'$in'=>ids},:public_id=>params[:patient][:public_id]).first

	 unless new_patient 
		 
	 patient = Patient.create params[:patient]
	 
 	else
	 msg = "หมายเลขบัตรประชาชน ซ้ำ"
	 patient = nil
 	end
	 
	 
 end
	 

		
		if patient
		
		 if  params[:relation]
			
			params[:relation][:patient_id] = patient.id
			params[:admit][:provider_id]  = params[:relation][:hospital_doctor_id]
			params[:patient][:hospital_id]  = params[:relation][:hospital_id]
			params[:patient][:network_id]  = params[:relation][:network_id]

			relation = SHRelation.where(:patient_id=>patient.id).first
			if relation
			# if params[:relation_id] and params[:relation_id]!=''
			
				# relation = SHRelation.find params[:relation_id] 
				
				relation.update_attributes params[:relation] 
				
			else
			
				relation = SHRelation.create params[:relation]
			
			end
			
			
		end
		
		
		
		if params[:admit]
		
		
			if admit
			   
				admit.update_attributes  params[:admit]
		
			else
		
				admit = Admit.create :patient_id=> patient.id, :status=>'NEW', :zone_id=> patient.zone_id, :admit_stamp=>Time.now
				admit.update_attributes  params[:admit]
		
			end
		end
		
			
		
		
		
		
 %>
 	<% if params[:return] and params[:return]!="" %>
		<%= redirect_to params[:return]%>
	<% else %>
 		<%= redirect_to "show?id=#{admit.id}" %>	
	<% end %>
		
		<% end %>
		
	<% end %>		
 	
 <% end %>	


<% if true %>
    <div class="container">
        <div class="row">
            <div class="col title-fill ">
     		   
		<%
			
		if params[:id] and params[:id]!=''
			admit = Admit.find(params[:id])
			patient = admit.patient
			relation = SHRelation.where(:patient_id=>patient.id).first
			
		else
			
			patient = Patient.new :hn=>params[:hn],:race=>'ไทย',:nation=>'ไทย',:religion=>'พุทธ' unless params[:patient]
			patient = Patient.new params[:patient]
				
			admit = Admit.new :patient_id=>patient.id 
			relation = SHRelation.new :patient_id=>patient.id 
			relation.hospital_id = @current_hospital.id if @current_hospital
			if @current_network
			relation.network_id = @current_network.id 
			relation.hospital_id = @current_network.hospital.id 
			
			end
			
			
		end	
			
		
			
			
		%>
		<div class="card admit-form">
            <div class="card-body d-flex">
				<form action="" id="patient" class="patient" method="post"   method="post"  style="width:100%;font-size:16px">
					<input type="hidden" name="return" value="<%=params[:return]%>">
					
					
					<div class="form-group">
		 				<%# <label for="product-name">Patient</label> %>
		<div class='row'  style="border:0px solid gray">
	
		<div class="col-md-4" > 
		
			<div class="row">
				<div class="col-12" > 
					<%
						
					img = Message.where(:admit_id=>patient.id).sort(:created_at=>-1).first
					url = nil
					
					if img
					
						url = "../Message/content?id=#{img.id}" 
						
					end
						
						
						
						
					%>
					
					
					<center>
						<% if url%>
						<div style="width:150px;height:150px;overflow:hidden;border-radius: 50%; ;">
						<a href="<%=url%>" target="_blank" ><img src="<%=url%>" width="150"  style="overflow:hidden;"></a>
						</div>
						<% else %>
						<image id="patient-image" src="<%=url_for 'img/patient.png' %>" height="120">
						<% end %></center>
					<a href="#" class="mt-3 d-flex justify-content-center d-inline p-1 image_capture_btn" >
					
						<img src="<%=url_for 'img/ER/photo_camera.svg' %>" alt="upload-photo">
						
						<span class="pl-1">ถ่ายภาพ</span>
					</a>
				</div>
			</div>
		</div>

		    <script>
			    $('.image_capture_btn').click(function(){
				device_interface.image_capture(window.location.origin+"<%=url_for("SmartHealth/patient_upload?patient_id=#{patient.id}")%>", "key")
			    })
		    </script>

		<div class="col-md-8 p-3">

		
			<div class="row" style="background-color:#ffc;padding-bottom:20px">
				
				<div class=" col-md-4">
				<label for="patient-public_id">เลขประจำตัวประชาชน <v>*</v></label>
				<input type="text" class="form-control validate" id="patient-public_id" name="patient[public_id]" value="<%=patient.public_id%>" placeholder="CID" >
				</div>
	
				<% if msg!=""and msg!=nil %>
				<script>
					alert("<%=msg%>")
					$('#patient-public_id').css("border","1px solid red")
				</script>
					<% end %>
					
				<div class=" col-md-4">
		  			<label for="product-name">HN  <v>*</v></label>
		  			<input type="text" class="form-control validate" id="patient-hn" name="patient[hn]" value="<%=patient.hn%>" placeholder="HN" >
					<input type="hidden" name="id" value="<%=params[:id]%>">
					<input type="hidden" name="relation_id" value="<%=params[:relation_id]%>">
				</div>
				
				
			
			</div>

			<div class="row" style="background-color:#ffc;padding-bottom:20px">
				<div class="col col-md-4">
		  			<label for="product-name">โรงพยาบาลต้นสังกัด <v>*</v></label>
					<%
					if @current_hospital
						
						hospitals = [@current_hospital]
						
					elsif @current_network 
						
						hospitals = [@current_network.hospital]
						
					elsif @current_cluster
						
						hospitals = SHHospital.where(:cluster_id=>@current_cluster.id).all
							
					else
					
					end
					
					unless	
						hospitals = SHHospital.all	
					end
					if hospitals
						
						h_sel = hos_id
						h_sel = relation.id if hospitals.collect{|i| i.id}.index(relation.id) if hospitals

					%><%#="(#{hos_id}) #{relation.id} #{h_sel} #{hospitals.inspect}"%>
					<select id="record-hospital_id" name="relation[hospital_id]" class="form-control validate" value=""  >
					<% for j in hospitals.collect{|k| [k.id,"#{k.name}", k.id]} %>
					  <option value="<%=j[0]%>"  <%="selected" if j[0]==h_sel %> <%="disabled" if hos_id!=nil and j[0]!=h_sel%> ><%=j[1]%></option>
					<% end %>
					</select>
					<% end %>
				</div>
				
				<div class=" col-md-4">
			  		<label for="product-name">แพทย์ประจำผู้ป่วย</label>
					<%#relation.to_json%>
					<%#providers = SHUserHospital.where(:hospital_id=>relation.hospital_id, :provider_type=>'doctor').all.to_json%>
					<%
						
						providers = SHUserHospital.where(:hospital_id=>relation.hospital_id, :provider_type=>'doctor').all.collect{|i| i.provider}
					%>
					<select id="record-hospital_doctor_id" name="relation[hospital_doctor_id]" class="form-control" value="">
					<% for j in providers.collect{|k| [k.id,"#{k.name}", k.id]} %>
					  <option value="<%=j[0]%>" %><%=j[1]%></option>
					<% end %>
					</select>
				</div>
				<div class=" col-md-4">
			  		<label for="product-name">พยาบาลประจำผู้ป่วย</label>
					<%
						providers = SHUserHospital.where(:hospital_id=>relation.hospital_id, :provider_type=>'nurse').all.collect{|i| i.provider}
					%>
					<select id="record-provider_id" name="relation[hospital_nurse_id]" class="form-control" value="">
					<% for j in providers.collect{|k| [k.id,"#{k.name}", k.id]} %>
					  <option value="<%=j[0]%>"    %><%=j[1]%></option>
					<% end %>
					</select>
				</div>
			</div>
				<div class="row" style="background-color:#ffc;padding-bottom:20px">
				<div class="col col-md-4">
					
		  		<label for="product-name">โรงพยาบาลเครือข่าย รพสต <v>*</v></label>
				<%
				
				if @current_hospital
						
					networks = SHNetwork.where(:hospital_id=>@current_hospital.id).all
				
				elsif @current_network
				
					networks = [@current_network]
				
				elsif @current_cluster
					
					networks = SHNetwork.where(:hospital_id=>{'$in'=>hospitals.collect{|i| i.id}}).all	
					
				else
					networks = SHNetwork.all
				end
				
				if networks
				
					
				%>
				<select id="record-network_id" name="relation[network_id]" class="form-control validate" value="">
					<option value="" ></option>
				<% for j in networks.collect{|k| [k.id,"#{k.name}", k.id]} %>
				  <option value="<%=j[0]%>" <%="selected=true" if j[0]==relation.network_id %> ><%=j[1]%></option>
				<% end %>
				</select>
		  		
				<% end %>
				</div>
				
				
			</div>



			
			
		<div class="row mt-1">
			
		<div class="col-4 col-md-3">
		<label for="patient-prefix_name">คำนำหน้า</label>
		<input type="text" class="form-control" id="patient-prefix_name" name="patient[prefix_name]" value="<%=patient.prefix_name%>" placeholder="นาย นาง นางสาว" style="">
		</div>
	

		<div class="col-4 col-md-3">
		<label for="patient-first_name">ชื่อ <v>*</v></label>
		<input type="text" class="form-control validate" id="patient-first_name" name="patient[first_name]" value="<%=patient.first_name%>" placeholder="ชื่อ" style="">
		</div>
		


		<div class="col-4 col-md-3">
			<label for="patient-last_name">นามสกุล <v>*</v></label>
		<input type="text" class="form-control validate" id="patient-last_name" name="patient[last_name]" value="<%=patient.last_name%>" placeholder="สกุล" style="">
		</div>
		
		
		<div class="col-4 col-md-3">
		<label for="patient-middle_name">ชื่อ กลาง </label>
		<input type="text" class="form-control" id="patient-middle_name" name="patient[middle_name]" value="<%=patient.middle_name%>" placeholder="ชื่อ" style="">
		</div>
		</div><!--row-->
		
		
		<div class="row mt-1">
			
		<div class="col-4 col-md-4">
		<label for="patient-gener">เพศ <v>*</v></label>
		<select name="patient[gender]" class="form-control validate" id="patient-gender">
		<option value="">ไม่ระบุ</option>
		<option value="M">ชาย</option>
		<option value="F">หญิง</option>
		</select>	
	    <!-- <input type="text" class="form-control" id="patient-gender" name="patient[gender]" value="<%=patient.gender%>" placeholder="M or FM" style=""> -->
	    
		</div>
	
		<div class="col-8 col-md-4">
		<label for="patient-dob">วัน/เดือน/ปี เกิด <v>*</v></label>
		<input type="text" class="form-control validate" id="patient-dob" name="patient[dob]" value="<%=patient.dob.strftime('%d/%m/%Y') if patient.dob%>" placeholder="DOB" style="">
		</div>
		
		<div class="col-8 col-md-4">
		<label for="patient-age">อายุ</label>
		<input type="text" class="form-control" id="patient-age" name="patient[age]" value="<%=patient.age%>" placeholder="Age" style="">
		</div>

		</div><!--row-->

		<div class="row mt-1">
			
		<div class="col-4 col-md-4">
		<label for="patient-blood">หมู่เลือด</label>
	    <input type="text" class="form-control" id="patient-blood" name="patient[blood]" value="<%=patient.blood%>" placeholder="Blood Group" style="">
		
		
	    </div>
	
		<div class="col-4 col-md-4">
		<label for="patient-status">สถานภาพสมรส</label>
		<input type="text" class="form-control" id="patient-status" name="patient[status]" value="<%=patient.status%>" placeholder="Status" style="">
		</div>
		
		<div class="col-12 col-md-4">
		<label for="patient-job">อาชีพ</label>
		<input type="text" class="form-control" id="patient-job" name="patient[job]" value="<%=patient.job%>" placeholder="Occupation" style="">
		</div>

		<div class="col-4 col-md-4">
		<label for="patient-race">เชื้อชาติ</label>
		<input type="text" class="form-control" id="patient-race" name="patient[race]" value="<%=patient.race%>" placeholder="Race" style="">
		</div>

		<div class="col-4 col-md-4">
		<label for="patient-nation">สัญชาติ</label>
		<input type="text" class="form-control" id="patient-nation" name="patient[nation]" value="<%=patient.nation%>" placeholder="Nation" style="">
		</div>

		<div class="col-4 col-md-4">
		<label for="patient-religion">ศาสนา</label>
		<input type="text" class="form-control" id="patient-religion" name="patient[religion]" value="<%=patient.religion%>" placeholder="Religion" style="">
		</div>



		<div class="col-8 col-md-6">
		<label for="patient-passport">เลขที่หนังสือเดินทาง</label>
		<input type="text" class="form-control" id="patient-passport" name="patient[passport]" value="<%=patient.passport%>" placeholder="Passport" style="">
		</div>

		<div class="col-12 col-md-12">
		<label for="patient-addr">ที่อยู่ตามบัตรประชาชน</label>
		<input type="text" class="form-control" id="patient-addr" name="patient[addr]" value="<%=patient.addr%>" placeholder="Address" style="">
		</div>

		<div class="col-12 col-md-12">
		<label for="patient-addr_present">ที่อยู่จริง <input id="chk-addr" type="checkbox" <%=(patient.addr_present and patient.addr_present!='' and patient.addr_present==patient.addr)? "checked" : "" %>> ตามที่อยู่บัตรประชาชน</label>
		<input type="text" class="form-control" id="patient-addr_present" name="patient[addr_present]" value="<%=patient.addr_present%>" placeholder="Pesent Address" style="">
		</div>
		<script>
		
		</script>

		<div class="col-8 col-md-4">
		<label for="patient-contact_phone">โทร <v>*</v></label>
		<input type="text" class="form-control validate " id="patient-contact_phone" name="patient[contact_phone]" value="<%=patient.contact_phone%>" placeholder="Tel" style="">
		</div>

		<div class="col-8 col-md-4">
		<label for="patient-parent">ผู้ปกครอง/ผู้ติดต่อได้</label>
		<input type="text" class="form-control" id="patient-parent" name="patient[parent]" value="<%=patient.parent%>" placeholder="ชื่อ - สกุล" style="">
		</div>

		<div class="col-8 col-md-4">
		<label for="patient-contact_name">เบอร์โทรผู้ติดต่อ</label>
		<input type="text" class="form-control" id="patient-contact_name" name="patient[contact_name]" value="<%=patient.contact_name%>" placeholder="เบอร์โทร" style="">
		</div>

		</div><!--row-->
		<script>
		$('#patient-dob').datepicker({
			format: "dd/mm/yyyy"
		});
		function dateDiffInYears(dateold, datenew) {
            var ynew = datenew.getFullYear();
            var mnew = datenew.getMonth();
            var dnew = datenew.getDate();
            var yold = dateold.getFullYear();
            var mold = dateold.getMonth();
            var dold = dateold.getDate();
            var diff = ynew - yold;
            if (mold > mnew) diff--;
            else {
                if (mold == mnew) {
                    if (dold > dnew) diff--;
                }
            }
            return diff;
        }
		$("#patient-dob").change(function(){
			d = $(this).val()
			ad = d.split('/')
			bd = new Date()
			now = new Date()
			if(ad.length>2){ bd = new Date(ad[2]+'-'+ad[1]+'-'+ad[0])}
			$("#patient-age").val(dateDiffInYears(bd,now))
		})
		$("#chk-addr").click(function(){
			$("#patient-addr_present").val($("#patient-addr").val())
		})
		
		</script>
		
		<!--<div class="row mt-1">
			
		<div class="col-4 col-md-4">
		<label for="patient-gener">น้ำหนัก</label>
	    <input type="text" class="form-control" id="patient-gender" name="admit[weight]" value="<%=admit.weight%>" placeholder="KG" style="">
	    </div>
	
		<div class="col-8 col-md-4">
		<label for="patient-dob">ส่วนสูง</label>
		<input type="text" class="form-control" id="patient-dob" name="admit[height]" value="<%=admit.height%>" placeholder="CM" style="">
		</div>
		
		<div class="col-8 col-md-4">
		<label for="patient-dob">วัน-เดือน-ปี</label>
		<input type="text" class="form-control" id="patient-dob" name="patient[dob]" value="<%=patient.dob%>" placeholder="DOB" style="">
		</div>


		</div>--><!--row-->
		
		<div class="row mt-1">
		


		<!-- <div class="col-4 col-md-4">
		<label for="product-name">Bed No</label>
		<input type="text" class="form-control" id="patient-first_name" name="admit[bed_no]" value="<%=admit.bed_no%>" placeholder="Bed No" style="">
		</div>
			 -->
		
		<div class="col-12 col-md-12">
		<label for="product-name">Note</label>
		<input type="text" class="form-control" id="patient-last_name" name="admit[note]" value="<%=admit.note%>" placeholder="Note" style="">
		</div>
			
		</div><!--row-->
			
	
		<hr>
			<div class="row mt-3 "  style="border:0px solid gray">

			<div class="col-4 col-md-4">
      		
		    <input type="submit" value="ยืนยัน" class="btn btn-primary btn-submit d-flex align-items-center justify-content-center" />			  
       
	 	 	</div>
	   	   
		    <div class="col-4 col-md-4 btn-cancel">
            <a href="../Home/index" class="ml-2 d-flex align-items-center justify-content-center btn btn-outline-cancel">
                ยกเลิก
            </a>
		
			</div>
			
		</div>
		
		</div> <!--col8-->
		
		
		
		</div> <!--row-->

			
		
			
		

		</div>
		</form>
			</div>
		</div><!--Card-->
		
		</div>
        
				
		    </div>
	    </div>
    
<%  end %>	

		
<% if false %>		
    <div class="container">
        <div class="row">
			<form action="admit" id="hn-search" method="post"   method="post"  style="width:100%">
			
            <div class="col title-fill ">
            
                <div class="input-group">
                    <!-- <input type="text" class="form-control text-center display-hn" autofocus  placeholder="" id="display-hn" aria-label="add-hn" aria-describedby="button-addon2"> -->
						
					<input type="hidden" name="hn" value="" class="value-hn">	
				    <div class="text-center display-hn form-control " style="font-size:1em"  aria-label="add-hn">
    						
				    </div>
					
					
                    <div class="input-group-append">
                      <button class="btn btn-scan text-center btn-opd" type="button" id="button-addon2" style="border: none">
                        <p class="mb-0">ค้นหา</p>
                    </button>
                    </div>
				
					
					
                  </div>
            </div>
			
				</form>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class=" col text-center">
                <table class="d-flex justify-content-center dial-num">
                    <tbody>
                        <tr>
                            <td>
                                <div class="number">
                                    <div class="btn-hn" style="padding-top: 7px;">1
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="number">
                                    <div class="btn-hn" style="padding-top: 7px;">2</div>
                                </div>
                            </td>
                            <td>
                                <div class="number">
                                    <div class="btn-hn"  style="padding-top: 7px;">3</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="number">
                                    <div class="btn-hn"  style="padding-top: 7px;">4</div>
                                </div>
                            </td>
                            <td>
                                <div class="number">
                                    <div class="btn-hn"  style="padding-top: 7px;">5</div>
                                </div>
                            </td>
                            <td>
                                <div class="number">
                                    <div class="btn-hn"  style="padding-top: 7px;">6</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="number">
                                    <div class="btn-hn"  style="padding-top: 7px;">7</div>
                                </div>
                            </td>
                            <td>
                                <div class="number">
                                    <div class="btn-hn"  style="padding-top: 7px;">8</div>
                                </div>
                            </td>
                            <td>
                                <div class="number">
                                    <div class="btn-hn"  style="padding-top: 7px;">9</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="number">
                                    <div class="btn-hn"  style="padding-top: 7px;">/</div>
                                </div>
                            </td>
                            <td>
                                <div class="number">
                                    <div class="btn-hn"  style="padding-top: 7px;">0</div>
                                </div>
                            </td>
                            <td>
                                <div class="number">
                                    <div class="btn-hn"  style="padding-top: 7px;"><img src="<%=url_for 'img/svg/delete.svg'%>" class="nav-img ">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
               
                <!-- <div class=" text-left">
          <a href="log.html" class="btn btn-primary btn-report">รายงานการใช้งาน</a>
        </div>-->
            </div> 

            </div>
        </div>
		
		    </section>
			<div id="buffer">
			</div>
			
			<audio id="my-audio" preload="auto">
			<source src="<%=url_for 'sounds/water_droplet.mp3'%>" type="audio/mpeg">
			<!-- place fallback here as <audio> supporting browsers will ignore it -->
			<p>Download<a href="<%=url_for 'sounds/water_droplet.mp3'%>">audiofile.mp3</a></p>
			</audio>

			<script>
				function deviceSend(msg){
		
				}
			    function hnPush(s){
			        v = $(".display-hn").html().trim()
			        b = s.html().trim()
			        if(b.indexOf("img")!==-1){
			            v = v.substr(0,v.length-1)
			        }else{
			            v+=b
			        }
					$('.value-hn').val(v)
			        $(".display-hn").html(v)       
			    }
	
				var buffer = 10;
				var cur_buffer = 0 ;
	
				for(var i=0;i<buffer;i++){
					var myAudio = document.createElement('audio');
					  myAudio.setAttribute("id","audio-"+i)
					 if (myAudio.canPlayType('audio/mpeg')) {
						  myAudio.setAttribute('src','<%=url_for 'sounds/water_droplet.mp3'%>');
					 }
					 $('#buffer').append(myAudio);
		  
				}

			    $(".number").on("click",function(){
      				
					hnPush($(this).find(".btn-hn"))  
		
			
					var myAudio = document.getElementById('audio-'+cur_buffer)
					myAudio.play();
					cur_buffer+=1;
					if(cur_buffer==10)cur_buffer=0;
		
			        return false;
			    })

			    var beep = document.createElement('audio');
			    if (beep.canPlayType('audio/mpeg')) {
			        beep.setAttribute('src','<%=url_for 'sounds/Beep_Short.mp3'%>');
			    }	
			    $("#beep").on("click",function(){
			        beep.play();       
			    })
	
				function submit(){
		
					$('.btn-opd').html('Loading')
			        hn = $(".display-hn").html().trim()
			        // $("#beep").click()
					 beep.play();   
					<%
						device_id = '00000'
			
						device_id = params[:device_id] if params[:device_id]
					%>
								        setTimeout(function(){
											
						  			      $( "#hn-search" ).submit();
				  
					//
					// 	window.location.replace("admit?hn="+hn+"&device_id=<%=device_id%>");
					//
					//
					}, 1000);
				}
	
				$('.btn-opd').click(function(){	
			      	submit();
			    })
	
				$(document).keypress(function(e){
		
				    if( event.which == 13 ) {
				        submit();
				     }else{
			        v = $(".display-hn").html().trim()
			        v+=String.fromCharCode(e.keyCode)
        
			        $(".display-hn").html(v.trim())   
					 } 
		
				})
			


			</script>
<% end %>		
	
<script>


$('.patient').submit(function(e){
	
	ready = true
	noti = false
	$('.validate').each(function(){
		id = $(this).attr('id')
		v = $(this).val();
		
		
		if(v==""){
			
			if(id=='patient-public_id'){
				text = 'บัตรประชาชน'
			}
			if(id=='patient-first_name'){
				text = 'ชื่อผู้ป่วย'
			}
			if(id=='patient-last_name'){
				text = 'นามสกุล'
			}
			if(id=='patient-dob'){
				text = 'วันเกิด'
			}
			if(id=='patient-contact_phone'){
				text = 'เบอร์ติดต่อ'
			}
			if(id=='patient-hn'){
				text = 'หมายเลขโรงพยาบาล'
			}

			if(id=='patient-gender'){
				text = 'เพศ'
			}
			if(noti==false)
			alert(text+' ห้ามเว้นว่าง')
			noti=true;
			
			$(this).addClass("validate_error")
			$(this).css("border","1px solid red")
			ready &= false
		}else{
			$(this).removeClass("validate_error")
			$(this).css("border","0px solid red")
		}
		
		if(ready&&id=='patient-public_id'){
	
			if(v.length!=13){
				alert('เลขประจำตัวประชาชนต้องมี 13 หลัก')
				$(this).css("border","1px solid red")
				ready &= false
			}
		
		}
		
		
	})
	
	if(ready){
		
	}else{
		e.preventDefault();
	}
	

})
</script>