<%
	
if @current_user
	
%>
<script>
	//$('.navbar').remove()
	//$('body').css('padding','0px')	
</script>
<% end %>
<script src="https://kit.fontawesome.com/13a3acd719.js" crossorigin="anonymous"></script>
<link href="<%=url_for('css/er_white.css')%>" rel="stylesheet">
<link href="<%=url_for('css/health.css?=22')%>" rel="stylesheet">
<%=inline(this,:'_init')%>
<%=inline(this,:'_feed')%>
<style>
.data-panel{
    background:white;
    min-height:70vh;
    margin-left:5vw;
    margin-right:5vw;
    box-shadow: 0px 3px 6px #00002950;

}
.step{
    font-size:3vh;
}
#daylist{
    height:70vh;
    max-height:70vh;
    overflow:auto;
}
#newlist{
    height:72vh;
    max-height:72vh;
    overflow:auto;
}
</style>
<%
    nowdate = Time.now.strftime('%d/%m/%Y')
%>
<div class="containerx" style="background:none">
<div class="row">

<!--tab-->
<div class="col-12 d-flex ">
<center>
	<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist"  >
      <!-- <li class="nav-item">
        <a class="nav-link active" id="pills-dashboard-tab" data-toggle="pill" href="#pills-dashboard" role="tab" aria-controls="pills-home" aria-selected="true">VitalSign</a>
      </li>	 -->
	  <li class="nav-item">
	    <a class="nav-link  active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">ข้อมูลการตรวจ</a>
	  </li>
	  <li class="nav-item">
	    <a href="./register" class="nav-link " id="pills-profile-tab"  aria-controls="pills-profile" aria-selected="false">ลงทะเบียนผู้ป่วย</a>
	  </li>
	</ul>
</center> 
</div>

<!--left-->
<div class="col-md-6">
    <div class="row m-2">
        <div class="col-12 p-3 m-1 banner-header rounded">
        <center>
         <%=link_to @access_title, "index" %> <%=nowdate%>
        </center>
        </div>
        <div class="col-12 p-3 m-1 bg-panel rounded">
        <div id="daylist"></div>
        </div>        
    </div><!--row-->
</div><!--col-->

<!--right-->
<div class="col-md-6">
    <div class="row m-2">
        <div class="col-12 p-3 m-1 bg-panel rounded">
        <center>
        <img src="<%=url_for('img/svg/clock-regular.svg') %>" style="height:2vh"> <span id="nowtime"></span>
        <input type="hidden" id="hid_numrec" value="0">
        </center>
        <hr>
        <div id="newlist"></div>
        </div>
    </div>
</div><!--col-->

</div><!--row-->
</div><!--container-->
<script>
function updatetime(){
    t = new Date()
    st = t.getHours()+':'+t.getMinutes().toString().padStart(2,'0')+':'+t.getSeconds().toString().padStart(2,'0')
    $("#nowtime").html(st)
    setTimeout(updatetime,1000);
}
function updatedaylist(){
    $.ajax({
        url:'fh_daylist',
    }).done(function(data){
        $("#daylist").html(data.trim())
    })    
}
function updatenewlist(){
    $.ajax({
        url:'fh_newlist',
    }).done(function(data){
        $("#newlist").html(data.trim())
        updatedaylist()
    })
}
function checknewrec(n){
    try{
        ni = parseInt(n)
        n_now = parseInt($("#hid_numrec").val())
        if (ni > n_now) {
            $("#hid_numrec").val(n)
            updatenewlist()
        }
    }catch(e){}
}
function checknumrec(){
    $.ajax({
        url:'fh_check_record',
    }).done(function(data){
        checknewrec(data.trim())  
    })
    setTimeout(checknumrec,5000);
}
$(document).ready(function(){
    updatetime()
    checknumrec()
})
</script>