<%
	
admit = Admit.find params[:id]
patient = admit.patient

data_records = admit.records



report = ERCaseReport.where(:admit_id=>admit.id).first
report = ERCaseReport.new unless report

	
%>
<style>
	table {
	    max-width: 100%;
	}
	.last{
		background:#E2FFFA;
	}
	</style>
<script src="https://kit.fontawesome.com/13a3acd719.js" crossorigin="anonymous"></script>
<link href="<%=url_for('css/er_white.css')%>" rel="stylesheet">
<link href="<%=url_for('css/health.css?=22')%>" rel="stylesheet">
    <!--Content-->
    <section>
        <div class="containerx">
            <!--patient card-->
            <div class="card patient-info">
                <div class="card-body d-flex align-items-center">
				 <div class="col">
				     <h6 class="font-weight-bold" id="patient-name"><%=patient.to_s%></h6>
				     <span class="col p-0 " id="HN">HN: <%=patient.hn%></span>
				     <span class="col p-0 mr-3" id="age">อายุ: <%=patient.to_age_text %> ปี</span>
				     <span class="col p-0" id="gender">เพศ: <%=patient.gender%></span><br>
				     <span class="col p-0" id="gender">Complaint: <%=admit.note%></span>
					 
				 </div>
				 <div class="col text-right">
				     <h6 class="" id="arrival-time">Registered at:
				         <span><%= admit.admit_stamp.strftime("%d/%m/%Y - %H:%M")%></span>
				     </h6>
				
			
					
					<div class="level-content <%=report.level if report%>" style="float:right">
				
					</div>
				 </div>
                </div>
            </div>
            <!--end of patient card-->
            <!--nurse summary-->
            <div class="d-flex bd-highlight mb-3 align-items-center mt-3">
                <div class="mr-auto p-2 bd-highlight"><h4 class="font-weight-bold " style="border:0px solid">Nurse Report</h4></div>
                <div class=" p-2 btn-submit d-flex align-items-center justify-content-center mr-1">
                    <a href="connect?admit_id=<%=admit.id%>" class="btn  d-flex align-items-center justify-content-center " style="float:right">
                        <img src="<%=url_for('img/ER/pulse-base.svg') %>" style="opacity:0.5;width:3em" alt="heart" class="pr-3 pulse"/>
                        วัดค่า
                     </a>
                </div>
                <div class="p-2 btn-submit d-flex align-items-center justify-content-center">
                    <a href="#" class="btn d-flex align-items-center justify-content-center " style="float:right" id="image_capture_btn">
                    <img src="<%=url_for('img/ER/photo_camera.svg') %>" style="opacity:0.5;width:3em;fill:white;" alt="heart" class="pr-3 pulse"/>
                    ถ่ายรูป
                </a>
				
				
			    <script>
				    $('#image_capture_btn').click(function(){
					device_interface.image_capture(window.location.origin+"<%=url_for("SmartER/upload?admit_id=#{admit.id}")%>", "key")
				    })
			    </script>
                </div>
				
				<% if true
		
				host = 'prod.vidyo.io'


				display_name = "userDemo#{rand(999)}"
				cmd = "node apps/esm-miot-monitor/lib/vidyo.js --key #{Setting.get :vidyo_key} --appID #{Setting.get :vidyo_app_id} --userName #{display_name} --expiresInSecs 3000"
				out = `#{cmd}`
				puts cmd
				puts out
				out = out.split("\n")
				puts out.inspect
	
				puts 
				token = out[-1]
				@token = token

				resource_id = "telehealth-#{format("%03d",rand(999))}"
				resource_id = "#{params[:id]}"

				%>

				
			    &nbsp;
                <div class=" p-2 btn-submit d-flex align-items-center justify-content-center mr-1">
			
			
			
			
	    	 <a target="_blank" href="../Sas/tele?resourceId=<%=resource_id%>" class="btn video-call "><span class="label">
                <img src="<%=url_for('img/ER/pulse-base.svg') %>" style="opacity:0.5;width:3em" alt="heart" class="pr-3 pulse"/>
                พบหมอ
			 </span></a>
			 <!--
   			     <a target="_blank" href="https://static.vidyo.io/latest/connector/VidyoConnector.html?host=<%=host%>&autoJoin=1&resourceId=<%=resource_id%>&displayName=<%=display_name%>&token=<%=@token%>" class="btn video-call "><span class="label">
                     <img src="<%=url_for('img/ER/pulse-base.svg') %>" style="opacity:0.5;width:3em" alt="heart" class="pr-3 pulse"/>
                     พบหมอ
					 </span></a>
					-->
                  
                </div>
				<% end %>
				
				
            </div>
            
			<div class="clear"></div>
            <div class="card sum-report mt-3 station">
                <!-- <div class="card-header card-vital">
                    <strong> General Information</strong>
                </div>
                <div class="card-body">
                    <div class="row">
						<%
							weight = admit.weight
							weight = ' - ' unless weight

							height = admit.height
							height = ' - ' unless height


						%>
                        <div class="col-3">Weight : <%=weight%> kg.</div>
						<div class="col-3">Height : <%=height%> cm.</div>
					</div>

				</div> -->
                <div class="card-header card-vital">
                    <strong> Triage Assessment</strong>
                </div>
                <div class="card-body">
			        <div class="row">
                        <div class="col-4"><%= admit.admit_stamp.strftime("%H:%M")  %></div>
                        <div class="col-8">
                         	
							Admit เข้าระบบ
						 
                        </div>
                    </div>
					<%
						
					nurse_records = NurseRecord.where(:admit_id=>admit.id).all
						
						for i in nurse_records  
							stamp =  i.start_time.strftime("%H:%M")
					%>
			        <div class="row">
                        <div class="col-4"><%= stamp %></div>
                        <div class="col-8">
                         	
							<%= i.description %>
						 
                        </div>
                    </div>
					<% end %>
            
                </div>
                <!--vital sign part-->
                <div class="card-header card-vital">
                    <strong> Vital Sign</strong>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-vital text-center" style="overflow:hidden;font-size:1em">
                        <thead>
                          <tr>
                            <th scope="col">วัน - เวลา</th>
                            <th scope="col">BP(Sys/Dia)</th>
                            <th scope="col">Pulse : SpO<sub>2</sub></th>
                            <th scope="col">BT(C)</th>
                    		<th scope="col">W(kg) : H(cm)</th>
            				<th scope="col">BMI</th>
            				<th scope="col">Glucose(mg/dL)</th>
                    		
							
                            <th scope="col">Score</th>
						    <th scope="col">Staff</th>
                          </tr>
                        </thead>
                        <tbody>
                         
						 <%
						 	   
						 data_records.each_with_index do |i,ix| 
							
							 distance = ""
							 
							 distance = "#{((Time.now-i.stamp)/86400).to_i} วัน" if (Time.now-i.stamp)/86400>1
							 
							 distance = "#{((Time.now-i.stamp)/86400/30).to_i} เดือน" if (Time.now-i.stamp)/86400/30 > 1 
							 
							 distance = "(#{distance})" if distance.size>0
							
						 %>
						 
						  <tr class="<%='last' if ix==data_records.size-1%>">
                            <th scope="row"><%=i.stamp.strftime("%d/%m/%y %H:%M")%> <%= distance %> <%#(Time.now-i.stamp)/86400/30%> </th>
                            <td class="bp"><%=i.bp%></td>
                            <td class="pr"><%=i.pr%> : <%=i.spo2%></td>
                            <td class="rr"><%=i.temp%></td>
                            <td class="rr"><%=i.weight%> : <%=i.height%></td>
                            <td class="rr"><%=i.bmi%></td>
                            <td class="rr"><%=i.glucose%></td>
							
                            <td><%=i.score%></td>
                            <td><%
                            	user = '-'
								user = User.find i.updated_user_id 
								
                            %><%=user.login if user%></td>
                          </tr>
                         
						 <% end  %>
						 
                        </tbody>
                      </table>




                </div>
            </div>


        </div>
        <div class="d-flex justify-content-center mt-5">
			
            <!-- <a href="#" class="btn btn-primary btn-action btn-info d-flex align-items-center justify-content-center" data-toggle="modal" data-target="#opdModal" style="float:right">
                <img src="<%=url_for('img/ER/arrow_circle.svg') %>" style="opacity:0.5;width:3em" alt="heart" class="pr-3 pulse"/>
                Transfer
            </a>&nbsp; -->
			
            <a href="edit?admit_id=<%=admit.id%>" class="btn btn-primary btn-action btn-submit d-flex align-items-center justify-content-center">
                <img src="<%=url_for('img/ER/post_add.svg') %>" style="opacity:0.5;width:3em" alt="heart" class="pr-3"/>
                Record
            </a>&nbsp;

            <a href="summary?admit_id=<%=admit.id%>" class="btn btn-primary  btn-action btn-info d-flex align-items-center justify-content-center" style="float:right">
            <img src="<%=url_for('img/ER/description.svg') %>" style="opacity:0.5;width:3em" alt="heart" class="pr-3 pulse"/>
                Summary
            </a>&nbsp;
      
<!--            <a href="connect?admit_id=<%=admit.id%>" class="btn btn-primary  btn-action btn-danger d-flex align-items-center justify-content-center" style="float:right">
                <img src="<%=url_for('img/ER/exit_to_app.svg') %>" style="opacity:0.5;width:3em" alt="heart" class="pr-3 pulse"/>
                Discharge
            </a> -->

        </div>
		<br/>
		<div class="btn-noline">
        <a href="index" class="d-flex justify-content-center">
            <p>กลับสู่หน้าหลัก</p>
        </a>
		</div>
        <br/>
		<%
			
		msgs = Message.where(:admit_id=>admit.id).sort(:created_at=>-1).all.reverse 
			
		%>
	 <div class="card sum-report mt-4 station">
        <div class="card-header card-vital">
            <strong>Images</strong>
        </div>
        <div class="card-body">
		<div class='row'>
		<% for i in msgs %>
		<% if i.type == 'image' 

			url  = "/miot/img/svg/aoc-icon.svg"
			url = "../Message/content?id=#{i.id}" 
		%>
		
		<div class="col-4"><a href="<%=url%>" target="_blank" ><img src="<%=url%>" height="200"></a></div>
		
		<% end %>
		<% end %>
			</div>
	</div>
       </div>
        </div>
        </div>
    </section>
	
	<!-- Modal for vital sign -->
	<div class="modal fade" id="opdModal" tabindex="-1" role="dialog" aria-labelledby="opdModalTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="opdModalTitle">Transfer</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body" style="color:black">
	        <center>
	        
			<%
			
			zone = Zone.find session[:current_zone]
	
			name = zone.name if zone
	
			rooms = zone.rooms
		
			%>
			<% for room in rooms %>
			<div class="">
				<%=link_to room.name, "transfer?id=#{admit.id}&room_id=#{room.id}" %>
			</div>
			<div class=" row">
			<% for bed in room.beds
			
				current_admit = Admit.where(:bed_id=>bed.id, :zone_id=>session[:current_zone], :status=>'Admitted').first 
			 %>
			<div class="col-4">
				<% unless current_admit %>
				<%=link_to bed.name, "transfer?id=#{admit.id}&bed_id=#{bed.id}" %>
				<% else %>
				<%=link_to bed.name, "show?id=#{current_admit.id}"%><br/>
				<%= current_admit.patient.to_s %>
				<% end %>
			</div>
			<% end %>
			
		</div>
			<hr/>
				<div class="clear"></div>
			<% end %>
	        </center>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-clear " style="float:left" >Clear</button>
		
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" id="save-modal">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>
	
  <% if true %><div id="msgs" style="font-size:0.8em"></div><% end %>
	
	<script>
	   	 
		<%
		
		
		@current_zone = Zone.find session[:current_zone]
	
		%>
	
		
		 var show = function(el){
	        return function(msg){ el.innerHTML = msg  }
	      }(document.getElementById('msgs'));
		 
		 	  
		 
			  tag = 'wss://' + window.location.host + "/<%=@context.settings.name%>/Home/index";
			  var ws  = new WebSocket('wss://' + window.location.host + "/<%=@context.settings.name%>/Home/index");

<%

path = "miot/#{@context.settings.name}/z/#{admit.zone.name}"
				  
			  
%>	
	
			  function call(){
			  	
				
				  sb = "Zone.Message <%="miot/#{@context.settings.name}/z/#{@current_zone.name}"%>\n"
				  sb += "OK\n"
				 ws.send(sb) 
			  }
			  
			  $('.video-call').click(function(e){
				  
				  call();
 //
 // 				  e.preventDefault();
			  });
			  
	
		      ws.onopen    = function()  { show('websocket opened'); 
		  
			  	ws.send('WS.Select name=<%=session.id%>\n["Zone <%="miot/#{@context.settings.name}/z/#{@current_zone.name}"%>","ZoneUpdate zone_id=*","Alert station_id=*","Data.Image station_id=*"]')
			
			  };
    
	
			  ws.onclose   = function()  { show('websocket closed'); 
		
			 	setTimeout(function () {
			       // window.location.href = "index"; //will redirect to your blog page (an ex: blog.html)
			    }, 2000); //will call the function after 2 secs.
	

		      }
	  
		      ws.onmessage = function(m) { 
				  // alert(m.data)
			  
			  }
		  
		  
		  
			
		
	</script>
	
	