<%
	
admit = Admit.find params[:id]
patient = admit.patient

data_records = admit.records



# report = ERCaseReport.where(:admit_id=>admit.id).first
# report = ERCaseReport.new unless report
sdate = Time.now
sdate = Time.strptime(params[:date],'%d/%m/%Y') if params[:date]

report = SHCaseReport.where(:admit_id=>admit.id,:date=>{'$gte'=>sdate.beginning_of_day,'$lte'=>sdate.end_of_day}).first

reportclass = "btn-submit"
reportclass = "btn-secondary" unless report
	
%>
<style>
	table {
	    max-width: 100%;
	}
	.last{
		background:#E2FFFA;
	}
	</style>
<script src="https://kit.fontawesome.com/13a3acd719.js" crossorigin="anonymous"></script>
<link href="<%=url_for('css/er_white.css')%>" rel="stylesheet">
<link href="<%=url_for('css/health.css?=22')%>" rel="stylesheet">
    <!--Content-->
    <section>
        <div class="containerx">
            <!--patient card-->
            <div class="card patient-info">
                <div class="card-body d-flex align-items-center">
				 <div class="col">
				     <h6 class="font-weight-bold" style="font-size:1.2em" id="patient-name"><%=patient.to_s%></h6>
				     <span class="col p-0 " id="HN">HN: <%=patient.hn%></span>
				     <span class="col p-0 mr-3" id="age">อายุ: <%=patient.to_age_text %> ปี</span>
				     <span class="col p-0" id="gender">เพศ: <%=patient.gender%></span><br>
				     <span class="col p-0" id="gender">Complaint: <%=admit.note%></span>
					 
				 </div>
				 <div class="col text-right">
				     <h6 class="" id="arrival-time">Registered at:
				         <span><%= admit.admit_stamp.strftime("%d/%m/%Y - %H:%M")%></span>
				     </h6>
				
			
					
					<!--<div class="level-content <%#=report.level if report%>" style="float:right">
				
					</div>-->
				 </div>
                </div>
            </div>
            <!--end of patient card-->
            <!--nurse summary-->
            <div class="d-flex bd-highlight mb-3 align-items-center mt-3">
                <div class="mr-auto p-2 bd-highlight"><h4 class="font-weight-bold " style="border:0px solid">ประวัติการรักษา</h4></div>
                <div class=" p-2 btn-submit d-flex align-items-center justify-content-center mr-1">
                    <a href="connect?admit_id=<%=admit.id%>" class="btn  d-flex align-items-center justify-content-center " style="float:right">
                        <img src="<%=url_for('img/ER/pulse-base.svg') %>" style="opacity:0.5;width:3em" alt="heart" class="pr-3 pulse"/>
                        ระบบ 3 หมอ
                     </a>
                </div>
					
			
<!--
                <div class="p-2 btn-submit d-flex align-items-center justify-content-center">
                    <a href="#" class="btn d-flex align-items-center justify-content-center " style="float:right" id="image_capture_btn">
                    <img src="<%=url_for('img/ER/photo_camera.svg') %>" style="opacity:0.5;width:3em;fill:white;" alt="heart" class="pr-3 pulse"/>
                    ถ่ายรูป
                </a>


			    <script>
				    $('#image_capture_btn').click(function(){
					device_interface.image_capture(window.location.origin+"<%=url_for("SmartER/upload?admit_id=#{admit.id}")%>", "key")
				    })
			    </script>
                </div> -->
				
			
				&nbsp;
				
				<div class="p-2 btn-submit d-flex align-items-center justify-content-center">
	            <a href="summary?admit_id=<%=admit.id%>" class="btn d-flex align-items-center justify-content-center " style="float:right">
	            <img src="<%=url_for('img/ER/description.svg') %>" style="opacity:0.5;width:3em" alt="heart" class="pr-3 pulse"/>
	                 Summary
	            </a>&nbsp;
				
				</div>
			
				<% if true
		
				host = 'prod.vidyo.io'

				#
				# display_name = "userDemo#{rand(999)}"
				# cmd = "node apps/esm-miot-monitor/lib/vidyo.js --key #{Setting.get :vidyo_key} --appID #{Setting.get :vidyo_app_id} --userName #{display_name} --expiresInSecs 3000"
				# out = `#{cmd}`
				# puts cmd
				# puts out
				# out = out.split("\n") if out
				# puts out.inspect
				#
				# puts
				# token = out[-1] if out
				# @token = token

				resource_id = "telehealth-#{format("%03d",rand(999))}"
				resource_id = "#{params[:id]}"

				%>

				
			    &nbsp;
                <div class=" p-2 btn-submit d-flex align-items-center justify-content-center mr-1">
			
			
     
			
	    	 <a target="_blank" href="tele?resourceId=<%=resource_id%>" class="btn video-call "><span class="label">
                <img src="<%=url_for('img/ER/pulse-base.svg') %>" style="opacity:0.5;width:3em" alt="heart" class="pr-3 pulse"/>
                พบหมอ
			 </span></a>
	
                  
                </div>
				<% end %>
				
				
            </div>
            
			<div class="clear"></div>
			
			
			
	<div class="row">		
			
			<%
				
				map = {}
				
				key = "#{patient.created_at.strftime('%Y-%m-%d')}"
				map[key] = [] unless map[key]
				admit_start = NurseRecord.new :description=>"ลงทะเบียนเข้าระบบ"
				map[key] << {:stamp=>patient.created_at, :type=>'note',:data=>admit_start}
			
				# data record
				
				data_records = admit.records
				
				for i in data_records
					
					key = "#{i.stamp.strftime('%Y-%m-%d')}"
					stamp = i.stamp
					
					map[key] = [] unless map[key]
					map[key] << {:stamp=>stamp, :type=>'vitalsign',:data=>i}
						
				end
				
				
				visits = SHVisit.where(:patient_id=>patient.id).all
				
				for i in visits
					
					key = "#{i.start.strftime('%Y-%m-%d')}"
					stamp = i.start
					
					map[key] = [] unless map[key]
					map[key] << {:stamp=>stamp, :type=>'visit',:data=>i}
						
				end
				
			
				
				records = SHCaseReport.where(:admit_id=>admit.id).all
				
				for i in records
					
					key = "#{i.date.strftime('%Y-%m-%d')}"
					stamp = i.date
					
					map[key] = [] unless map[key]
					map[key] << {:stamp=>stamp, :type=>'case_record',:data=>i}
						
				end
				
				nurse_records = NurseRecord.where(:admit_id=>admit.id).all
				
				for i in nurse_records
					
					key = "#{i.start_time.strftime('%Y-%m-%d')}"
					stamp = i.start_time
					
					map[key] = [] unless map[key]
					map[key] << {:stamp=>stamp, :type=>'note',:data=>i}
						
				end
				
				
				
				msgs = Message.where(:admit_id=>admit.id).sort(:created_at=>-1).all.reverse 
				
				for i in msgs
					
					key = "#{i.created_at.strftime('%Y-%m-%d')}"
					stamp = i.created_at
					
					map[key] = [] unless map[key]
					map[key] << {:stamp=>stamp, :type=>'image',:data=>i}
						
				end
				
				
				
				
				date_list = map.keys.sort(){|a,b| b<=>a} 
				
				
				
				
				
				
			%>
			
			
			
			<div class="col-12 col-xl-6">
			
			<table class="table station">	
			<thead>
				<th>วันเวลา</th><th>กิจกรรม</th><th>สถานะ</th><th>BP</th><th>SPO2/Pulse</th><th>WH</th><th>T</th><th>Glu</th><th>ผู้ลงข้อมูล</th>
			</thead>
			<tbody>
			<% for date in date_list 
			
				 stamp = map[date][0][:stamp]
		
				 distance = ""
	 
				 distance = "#{((Time.now-stamp)/86400).to_i.abs} วัน" if (Time.now-stamp).abs/86400>1
	 
				 distance = "#{((Time.now-stamp)/86400/30).to_i.abs} เดือน" if (Time.now-stamp).abs/86400/30 > 1 
	 			
				
				 if distance.size>0
		 
					 distance = "(#{distance})" 
			 	 else
					 distance = "วันนี้"
				
				 end
			
				 
			
			%>	
			
			<tr class="card-header card-vital">
			<td colspan="9">
				<%=stamp.strftime("%d/%m/%y")%> <span style="float:right"><%=distance%></span>
			</td>
			</tr>
			
			<% for i in map[date].sort(){|a,b| a[:stamp]<=>b[:stamp]} 
			
			data = i[:data]
			
			
			
			%>
			<tr>
				<td style="font-size:0.8em">
					<%=i[:stamp].strftime("%H:%M")%>
				</td>
				<td>
					<%=i[:type]%>
				</td>
				
				<% if i[:type]=='visit'%>
				
				<td><%=data.status%></td>
				
				
				<% elsif i[:type] == 'case_record'
					user = nil
					editor = '-'
					if data.updated_user_id
						user = User.find data.updated_user_id  
					end
					if user 
						editor = user.login
					else
						editor = "-"
					end
				%>
				<td colspan="6">
				<a href="edit?admit_id=<%=admit.id%>&record_id=<%=data.id%>" class="btn btn-sm btn-action"><i class="far fa-file-alt"></i> Record</a>
				<a href="summary?admit_id=<%=admit.id%>&record_id=<%=data.id%>" class="btn btn-sm btn-action"><i class="fas fa-print"></i> Print</a>
				</td>
				<td>
					<%=editor %>
				</td>
				
				<% elsif i[:type] =='vitalsign'
				
				i = data
				%>
				
				
				
               
                <td class="bp"><%=i.bp%></td>
                <td class="pr"><%=i.spo2%> : <%=i.pr%> </td>
                <td class="rr"><%=i.weight%> : <%=i.height%></td>
				<td class="rr"><%=i.temp%></td>
                <td class="rr"><%=i.glucose%></td>
				
                <td><%=i.score%></td>
                <td><%
                	user = '-'
					user = User.find i.updated_user_id 
					
                %><%=user.login if user%></td>
			
				
				<% elsif i[:type] =='note'%>
				<td colspan="7">
					<i><%=data.description%></i>
				</td>
				
				<% elsif i[:type] =='image'%>
				
				<% 
				
				url  = "/miot/img/svg/aoc-icon.svg"
				url = "../Message/content?id=#{data.id}" 
				
				%>
				<td colspan="7">
					<a href="<%=url%>" target="_blank" ><img src="<%=url%>" height="200"></a>
				</td>
				
				
				<% else %>
				<% end %>
				
				
				
			</tr>
			
			<% end %>
			
			
			
			<% end %>
			
			</tbody>
			</table>
			
			</div>
			
			
			<div class="col-12 col-xl-6">
			Detail
			</div>
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
	</div>		
			
			
            <div class="card sum-report mt-3 station">
            
            </div>


        </div>
        <div class="d-flex justify-content-center mt-5">
			
            <!-- <a href="#" class="btn btn-primary btn-action btn-info d-flex align-items-center justify-content-center" data-toggle="modal" data-target="#opdModal" style="float:right">
                <img src="<%=url_for('img/ER/arrow_circle.svg') %>" style="opacity:0.5;width:3em" alt="heart" class="pr-3 pulse"/>
                Transfer
            </a>&nbsp; -->
			
       
            <div class=" p-2 btn-submit d-flex align-items-center justify-content-center mr-1">
                <a href="connect?admit_id=<%=admit.id%>" class="btn  d-flex align-items-center justify-content-center " style="float:right">
                    <img src="<%=url_for('img/ER/pulse-base.svg') %>" style="opacity:0.5;width:3em" alt="heart" class="pr-3 pulse"/>
                    วัดค่า
                 </a>
            </div>&nbsp;
			
			
            <div class="p-2 btn-submit d-flex align-items-center justify-content-center">
                <a href="#" class="btn d-flex align-items-center justify-content-center " style="float:right" id="image_capture_btn">
                <img src="<%=url_for('img/ER/photo_camera.svg') %>" style="opacity:0.5;width:3em;fill:white;" alt="heart" class="pr-3 pulse"/>
                ถ่ายรูป
            </a>
			
			
		    <script>
			    $('#image_capture_btn').click(function(){
				device_interface.image_capture(window.location.origin+"<%=url_for("SmartER/upload?admit_id=#{admit.id}")%>", "key")
			    })
		    </script>
            </div>
				&nbsp;
            <a href="edit?admit_id=<%=admit.id%>" class="btn  btn-action  <%=reportclass%>  d-flex align-items-center justify-content-center">
                <img src="<%=url_for('img/ER/post_add.svg') %>" style="opacity:0.5;width:3em" alt="heart" class="pr-3"/>
                 Record
            </a>&nbsp;
			
				
				<div class="p-2 btn-submit d-flex align-items-center justify-content-center">
	            <a href="calendar?patient_id=<%=patient.id%>" class="btn d-flex align-items-center justify-content-center ">
	                <img src="<%=url_for('img/ER/post_add.svg') %>" style="opacity:0.5;width:3em" alt="heart" class="pr-3"/>
	                นัดหมาย
	            </a>
				</div>
		
			&nbsp;

          
      
<!--            <a href="connect?admit_id=<%=admit.id%>" class="btn btn-primary  btn-action btn-danger d-flex align-items-center justify-content-center" style="float:right">
                <img src="<%=url_for('img/ER/exit_to_app.svg') %>" style="opacity:0.5;width:3em" alt="heart" class="pr-3 pulse"/>
                Discharge
            </a> -->

        </div>
		<br/>
		<div class="btn-noline">
        <a href="index" class="d-flex justify-content-center">
            <p>กลับสู่หน้าหลัก</p>
        </a>
		</div>
        <br/>
		<%
			
		msgs = Message.where(:admit_id=>admit.id).sort(:created_at=>-1).all.reverse 
			
		%>
	 <div class="card sum-report mt-4 station">
        <div class="card-header card-vital">
            <strong>Images</strong>
        </div>
        <div class="card-body">
		<div class='row'>
		<% for i in msgs %>
		<% if i.type == 'image' 

			url  = "/miot/img/svg/aoc-icon.svg"
			url = "../Message/content?id=#{i.id}" 
		%>
		
		<div class="col-4"><a href="<%=url%>" target="_blank" ><img src="<%=url%>" height="200"></a></div>
		
		<% end %>
		<% end %>
			</div>
	</div>
       </div>
        </div>
        </div>
    </section>
	
	<!-- Modal for vital sign -->
	<div class="modal fade" id="opdModal" tabindex="-1" role="dialog" aria-labelledby="opdModalTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="opdModalTitle">Transfer</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body" style="color:black">
	        <center>
	        
			<%
			
			zone = Zone.find session[:current_zone]
	
			name = zone.name if zone
	
			rooms = zone.rooms
		
			%>
			<% for room in rooms %>
			<div class="">
				<%=link_to room.name, "transfer?id=#{admit.id}&room_id=#{room.id}" if room %>
			</div>
			<div class=" row">
			<% for bed in room.beds
			
				current_admit = Admit.where(:bed_id=>bed.id, :zone_id=>session[:current_zone], :status=>'Admitted').first 
			 %>
			<div class="col-4">
				<% unless current_admit %>
				<%=link_to bed.name, "transfer?id=#{admit.id}&bed_id=#{bed.id}" %>
				<% else %>
				<%=link_to bed.name, "show?id=#{current_admit.id}"%><br/>
				<%= current_admit.patient.to_s %>
				<% end %>
			</div>
			<% end %>
			
		</div>
			<hr/>
				<div class="clear"></div>
			<% end %>
	        </center>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-clear " style="float:left" >Clear</button>
		
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" id="save-modal">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>
	
  <% if true %><div id="msgs" style="font-size:0.8em"></div><% end %>
	
	<script>
	   	 
		<%
		
		
		@current_zone = Zone.find session[:current_zone]
	
		%>
	
		
		 var show = function(el){
	        return function(msg){ el.innerHTML = msg  }
	      }(document.getElementById('msgs'));
		 
		 	  
		 
			  tag = 'wss://' + window.location.host + "/<%=@context.settings.name%>/Home/index";
			  var ws  = new WebSocket('wss://' + window.location.host + "/<%=@context.settings.name%>/Home/index");

<%
path = ""
path = "miot/#{@context.settings.name}/z/#{admit.zone.name}" if admit.zone
			  
				  
			  
%>	
	
			  function call(){
			  	
				
				  sb = "Zone.Message <%="miot/#{@context.settings.name}/z/#{@current_zone.name}"%>\n"
				  sb += "OK\n"
				 ws.send(sb) 
			  }
			  
			  $('.video-call').click(function(e){
				  
				  call();
 //
 // 				  e.preventDefault();
			  });
			  
	
		      ws.onopen    = function()  { show('websocket opened'); 
		  
			  	ws.send('WS.Select name=<%=session.id%>\n["Zone <%="miot/#{@context.settings.name}/z/#{@current_zone.name}"%>","ZoneUpdate zone_id=*","Alert station_id=*","Data.Image station_id=*"]')
			
			  };
    
	
			  ws.onclose   = function()  { show('websocket closed'); 
		
			 	setTimeout(function () {
			       // window.location.href = "index"; //will redirect to your blog page (an ex: blog.html)
			    }, 2000); //will call the function after 2 secs.
	

		      }
	  
		      ws.onmessage = function(m) { 
				  // alert(m.data)
			  
			  }
		  
		  
		  
			
		
	</script>
	
	