<%


map = {}
map[:title] = 'แบบบันทึกการตรวจผู้ป่วยโรคเรื้อรัง'
map[:first_name] = 'ชื่อ'
map[:last_name] = 'นามสกุล'
map[:age] = 'อายุ'
map[:gender] = 'เพศ'
map[:nationality] = 'สัญชาติ'
map[:citizen_id] = 'เลขบัตรประชาชน'

if params[:lang] == 'en'

map[:title] = 'Advanced Life Support Information Form'
map[:first_name] = 'First name'
map[:last_name] = 'Last name'
map[:age] = 'Age'
map[:gender] = 'Gender'
map[:nationality] = 'Nationality'
map[:citizen_id] = 'Citizen_id'



end 
    sdate = Time.now
    sdate = Time.strptime(params[:date],'%d/%m/%Y') if params[:date]
    admit = Admit.find params[:admit_id]
    # patient = admit.patient

    records = admit.records

    # rec = records.first
    
    patient = Patient.find admit.patient_id

    report = SHCaseReport.where(:admit_id=>admit.id,:date=>{'$gte'=>sdate.beginning_of_day,'$lte'=>sdate.end_of_day}).first
    unless report
      report = SHCaseReport.create :admit_id=>admit.id,:date=>sdate.beginning_of_day
    end

    rec = DataRecord.where(:admit_id=>admit.id,:stamp=>{'$gte'=>sdate.beginning_of_day,'$lte'=>sdate.end_of_day}).last

%>

<link href="<%=url_for('css/er_white.css')%>" rel="stylesheet">
<link href="<%=url_for('css/health.css?=22')%>" rel="stylesheet">
<link href="https://unpkg.com/pattern.css" rel="stylesheet">
<style>
.table-sub{
  font-size:0.6em !important;
}
.td-grey{
  background-color:#D4D4D4;
}
.td-small{
  font-size:0.8em !important;
}
.fhead{
  font-size:1.2em;

}
th{
  background-color:black;
  color:white;
}

</style>

<div class="container summary-container">
  <a href="#" class="btn btn-secondary btn-print" id="btn-print">Print</a>
  <table class="w-100 table-style">
    <tr class="table-style">
      <th class="text-center fhead" colspan="3">แบบบันทึกการตรวจผู้ป่วยโรคเรื้อรัง</th>
    </tr>
    <tr>
      <td class="table-style">ชื่อ-สกุล <label class="pr-2"><%="#{patient.first_name} #{patient.last_name}" if patient %></label></td>
      <td class="table-style">อายุ <label class="pr-2"><%=patient.age if patient %></label></td>
      <td class="table-style" width="30%">HN <label class="pr-2"><%=patient.hn if patient %></label></td>
    </tr>
    <tr>
      <td class="table-style" >ที่อยู่ <%=patient.addr if patient %></td>
      <td class="table-style">เลขที่บัตรประชาชน <%=patient.public_id if patient %></td>
      <td class="table-style">โทร <%=patient.contact_phone if patient %></td>
    </tr>
    <tr>
      <td class="table-style" colspan="3">
        <div class="pl-1">สิทธิการรักษา
          <div class="form-check form-check-inline privilege">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">ไม่มี</label>
          </div>     
          <div class="form-check form-check-inline privilege">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">เบิกได้ข้าราชการ</label>
          </div> 
          <div class="form-check form-check-inline privilege">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">บัตรทอง</label>
          </div> 
          <div class="form-check form-check-inline privilege">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">ประกันสังคม</label>
          </div> 
          <div class="form-check form-check-inline privilege">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">ท.99</label>
          </div> 
          <div class="form-check form-check-inline privilege">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">รัฐวิสาหกิจ</label>
          </div> 
          <div class="form-check form-check-inline privilege">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">แรงงานต่างด้าว</label>
          </div> 
        </div> 
      </td>
    </tr>        
  </table>
  <br>
  <table class="w-100 table-style">
    <tr class="table-style">  
      <td class="td-grey">วันที่ <%=rec.stamp.strftime('%d/%m/%Y')%></td>
      <td class="td-grey">เวลา <%=rec.stamp.strftime('%H:%M')%></td>
      <th class="fhead">วินิจฉัยโรค</th>
    </tr>
    <tr class="table-style">  
      <td colspan="2">
        <table class="w-100">
          <tr>
            <td colspan="2"> 
              <div class="form-check form-check-inline appoint">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">นัดมา พบแพทย์/ฟังผลเลือด</label>
              </div> <br>
              <div class="form-check form-check-inline appoint">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">นัดมา รับยาเดิม</label>
              </div> <br>
              <div class="form-check form-check-inline appoint">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">อื่นๆ</label>
              </div> 
            </td>
          </tr>
        </table>
      </td>
      <td>
        <table class="w-100  table-sub">
          <tr class="table-style">
            <td class="td-grey">
              <div class="form-check form-check-inline diag">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">I10</label>
              </div> 
            </td>
            <td class="td-small"><b>ความดันโลหิตสูง</b></td>
            <td class="td-grey">
              <div class="form-check form-check-inline diag">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">N18</label>
              </div> 
            </td>
            <td class="td-small" colspan="2"><b>ไตวายระยะ</b>
              <div class="form-check form-check-inline n18">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">3a</label>
              </div> 
              <div class="form-check form-check-inline n18">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">3b</label>
              </div> 
              <div class="form-check form-check-inline n18">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">4</label>
              </div> 
              <div class="form-check form-check-inline n18">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">5</label>
              </div> 

            </td>
            <td class="td-grey">
              <div class="form-check form-check-inline diag">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">I259</label>
              </div> 
            </td>
            <td class="td-small"><b>หัวใจขาดเลือดเรื้อรัง</b></td>
            <td class="td-grey">
              <div class="form-check form-check-inline diag">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">K30</label>
              </div> 
            </td>
            <td class="td-small"><b>โรคกระเพาะอาหาร</b></td>
          </tr>
          <tr class="table-style">
            <td class="td-grey">
              <div class="form-check form-check-inline diag">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">E785</label>
              </div> 
            </td>
            <td class="td-small"><b>ไขมันในเลือดสูง</b></td>
            <td class="td-grey">
              <div class="form-check form-check-inline diag">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">R731</label>
              </div> 
            </td>
            <td class="td-small"><b>น้ำตาลภาวะอดอาหารสูง</b></td>
            <td class="td-grey">
              <div class="form-check form-check-inline diag">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">I693</label>
              </div> 
            </td>
            <td class="td-small" colspan="2"><b>ผลจากโรคหลอดเลือดสมอง</b></td>
            <td class="td-grey">
              <div class="form-check form-check-inline diag">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">M6269</label>
              </div> 
            </td>
            <td class="td-small"><b>กล้ามเนื้ออักเสบ</b></td>
          </tr>
          <tr class="table-style">
            <td class="td-grey">
              <div class="form-check form-check-inline diag">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">E11</label>
              </div> 
            </td>
            <td class="td-small" colspan="8"><b>เบาหวานไม่พึ่งอินซูลิน</b> ภาวะแทรกซ้อน 
              <div class="form-check form-check-inline e11">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">2.ไต</label>
              </div>             
              <div class="form-check form-check-inline e11">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">3.ตา</label>
              </div>             
              <div class="form-check form-check-inline e11">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">4.เส้นประสาท</label>
              </div>             
              <div class="form-check form-check-inline e11">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">5.หลอดเลือด</label>
              </div>             
              <div class="form-check form-check-inline e11">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">7.หลายอย่าง</label>
              </div>             
              <div class="form-check form-check-inline e11">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">8.อื่นๆ</label>
              </div>             
              <div class="form-check form-check-inline e11">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">9.ไม่มี</label>
              </div>             
            </td>
          </tr>
          <tr class="table-style">
            <td class="td-grey">
              <div class="form-check form-check-inline diag">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">อื่นๆ</label>
              </div> 
            </td>
            <td class="td-small" colspan="8"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>  
  <br>
  <table class="w-100 table-style">
    <tr class="table-style">  
      <th class="fhead text-center " width="120px">ความดันโลหิต</th>
      <td class="td-grey">BP <%=rec.bp%></td>
      <td class="td-grey">PR <%=rec.pr%></td>
      <td>หนัก <%=rec.weight%></td>
      <td>สูง <%=rec.height%></td>
      <td>เอว(cm)</td>
      <td>BMI <%=rec.bmi%></td>
    </tr>
  </table>
  <table class="w-100 table-sub">
    <tr class="">  
      <td class="text-right" width="120px">เป้าหมาย<br><br></td>
      <td>
        <div class="form-check form-check-inline bp_target">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">Non CKD</label>
          </div> <br>
          <div class="form-check form-check-inline bp_target">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">CKD3+</label>
          </div> 
      </td>
      <td>
        BP < 140/90<br>
        BP < 130/80
      </td>
      <td width="280px">
        <div class="form-check form-check-inline bp_control">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1"><b>คุมได้</b></label>
          </div> <br>
          <div class="form-check form-check-inline bp_control">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1"><b>คุมไม่ได้</b></label>
          </div>  
          -->
          <div class="form-check form-check-inline bp_fix">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">ปรับยา</label>
          </div>  
          <div class="form-check form-check-inline bp_fix">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">ปรับพฤติกรรม</label>
          </div>       
      </td>
      <td width="340px">
        <b>บุหรี่</b>
          <div class="form-check form-check-inline trauma_wound">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">ไม่สูบ</label>
          </div> 
          <div class="form-check form-check-inline trauma_wound">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">สูบ</label>
          </div>       
        <b>แอลกอฮอล์</b>
          <div class="form-check form-check-inline trauma_wound">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">ไม่ดื่ม</label>
          </div>
          <div class="form-check form-check-inline trauma_wound">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">ดื่ม</label>
          </div>   
        <br><b>สุขภาพจิต</b>
          <div class="form-check form-check-inline trauma_wound">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">ปกติ</label>
          </div> 
          <div class="form-check form-check-inline trauma_wound">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">เครียด</label>
          </div>                       
          <div class="form-check form-check-inline trauma_wound">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">นอนไม่หลับ</label>
          </div>                       
          <div class="form-check form-check-inline trauma_wound">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">เบื่ออาหาร</label>
          </div>                       
      </td>

    </tr>
  </table>    
  <br>
  <table class="w-100 table-style">
    <tr class="table-style">  
      <th class="fhead text-center " width="120px">น้ำตาลในเลือด</th>
      <td class="td-grey">FBS/DTX</td>
      <td>HbA<sub>1</sub>C</td>
      <td class="td-small">
        <b>อาการน้ำตาลต่ำ</b><br>
        <b>อาการชา</b><br>
        <b>ออกกำลังกาย</b><br>
      </td>
      <td class="td-small">
          <div class="form-check form-check-inline trauma_wound">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">ไม่มี</label>
          </div> 
          <div class="form-check form-check-inline trauma_wound">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">มีอาการหิวข้าวเร็วกว่าปกติ</label>
          </div> 
          มักจะเป็นช่วง
          <div class="form-check form-check-inline trauma_wound">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">เช้า</label>
          </div> 
          <div class="form-check form-check-inline trauma_wound">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">เที่ยง</label>
          </div> 
          <div class="form-check form-check-inline trauma_wound">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">เย็น</label>
          </div> 
          <div class="form-check form-check-inline trauma_wound">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">กลางคืน</label>
          </div> 
          <br>
          <div class="form-check form-check-inline trauma_wound">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">ไม่มี</label>
          </div> 
          <div class="form-check form-check-inline trauma_wound">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">ชา ปลายมือ/เท้า(2 ข้าง)</label>
          </div> 
          <br>
          <div class="form-check form-check-inline trauma_wound">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">ไม่มี</label>
          </div> 
          <div class="form-check form-check-inline trauma_wound">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">มี</label>
          </div> 
          <div class="form-check form-check-inline trauma_wound">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">จนเหงื่อออก</label>
          </div> 
          นานตลอดเวลา 30-60 นาที ครั้ง/สัปดาห์
      </td>
    </tr>
  </table>
  <table class="w-100 table-sub">
    <tr class="">  
      <td class="text-right" width="120px">เป้าหมาย<br>
        <div class="form-check form-check-inline glucose_target">
          <input class="form-check-input " type="checkbox" value="">
          <label class="form-check-label" for="defaultCheck1">ไม่ได้ตรวจ</label>
        </div> 
        <br><br><br>
      </td>
      <td>
        <div class="form-check form-check-inline glucose_target">
          <input class="form-check-input " type="checkbox" value="">
          <label class="form-check-label" for="defaultCheck1">< 65 ปี ไม่มีโรคร่วม</label>
        </div> <br>
        <div class="form-check form-check-inline glucose_target">
          <input class="form-check-input " type="checkbox" value="">
          <label class="form-check-label" for="defaultCheck1">< 65 ปี</label>
        </div> <br>
        <div class="form-check form-check-inline glucose_target">
          <input class="form-check-input " type="checkbox" value="">
          <label class="form-check-label" for="defaultCheck1">> 65 ปี</label>
        </div> <br>
        <div class="form-check form-check-inline glucose_target">
          <input class="form-check-input " type="checkbox" value="">
          <label class="form-check-label" for="defaultCheck1">CVD,Stroke,CKD3+</label>
        </div> 
      </td>
      <td>
        FBS 70 - 110<br>
        FBS 80-130<br>
        FBS < 150<br>
        HbA<sub>1</sub>C < 8
      </td>
      <td width="280px">
        <div class="form-check form-check-inline glucose_control">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1"><b>คุมได้</b></label>
          </div> 
          เข้มงวด
          <div class="form-check form-check-inline trauma_wound">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">มาก</label>
          </div>            
          <div class="form-check form-check-inline trauma_wound">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">ปานกลาง</label>
          </div>            
          <div class="form-check form-check-inline trauma_wound">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">น้อย</label>
          </div>            
          <br>
          <div class="form-check form-check-inline glucose_control">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1"><b>คุมไม่ได้</b></label>
          </div>  
          -->
          <div class="form-check form-check-inline glucose_fix">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">ปรับยา</label>
          </div>  
          <div class="form-check form-check-inline glucose_fix">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">ปรับพฤติกรรม</label>
          </div>       
      </td>
      <td width="340px">
        <b>ตรวจตา</b>
          <div class="form-check form-check-inline trauma_wound">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">ทําภายใน 1 ปีน้ีแล้ว</label>
          </div> 
          <div class="form-check form-check-inline trauma_wound">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">ปกติ</label>
          </div>       
          <div class="form-check form-check-inline trauma_wound">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">ผิดปกติ</label>
          </div>
          <div class="form-check form-check-inline trauma_wound">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">ยังไม่ได้ทำ</label>
          </div>   
        <br><b>ตรวจเท้า</b>
          <div class="form-check form-check-inline trauma_wound">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">ทําภายใน 1 ปีน้ีแล้ว</label>
          </div> 
          <div class="form-check form-check-inline trauma_wound">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">ปกติ</label>
          </div>                       
          <div class="form-check form-check-inline trauma_wound">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">ผิดปกติ</label>
          </div>                       
          <div class="form-check form-check-inline trauma_wound">
            <input class="form-check-input " type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">ยังไม่ได้ทำ</label>
          </div>                       
      </td>
    </tr>
  </table>   

  <br>
  <table class="w-100">
    <tr>
      <td class="">
      <table class="w-100 table-style">
        <tr class="table-style">  
          <th class="fhead text-center " width="120px">ไขมันในเลือด</th>
          <td class="td-grey">LDL</td>
          <td>HDL</td>
          <td>Triglyceride</td>
        </tr>
      </table>
      <table class="w-100 table-sub">
        <tr class="">  
          <td class="text-right" width="120px">เป้าหมาย<br>
            <div class="form-check form-check-inline fat_target">
              <input class="form-check-input " type="checkbox" value="">
              <label class="form-check-label" for="defaultCheck1">ไม่ได้ตรวจ</label>
            </div> 
            <br><br><br><br><br>
          </td>
          <td>
            <div class="form-check form-check-inline fat_target">
              <input class="form-check-input " type="checkbox" value="">
              <label class="form-check-label" for="defaultCheck1">> 21 ปี</label>
            </div> <br>
            <div class="form-check form-check-inline fat_target">
              <input class="form-check-input " type="checkbox" value="">
              <label class="form-check-label" for="defaultCheck1">DM, CKD3+,High risk</label>
            </div> <br>
            <div class="form-check form-check-inline fat_target">
              <input class="form-check-input " type="checkbox" value="">
              <label class="form-check-label" for="defaultCheck1">Old MI, Stroke</label>
            </div> <br><br><br><br>
          </td>
          <td>
            LDL < 130<br>
            LDL < 100<br>
            LDL < 70<br><br><br><br>
          </td>
          <td>
            <div class="form-check form-check-inline fat_control">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1"><b>คุมได้</b></label>
              </div> <br>
              <div class="form-check form-check-inline fat_control">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1"><b>คุมไม่ได้</b></label>
              </div>  
              -->
              <div class="form-check form-check-inline fat_fix">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">ปรับยา</label>
              </div>  
              <div class="form-check form-check-inline fat_fix">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">ปรับพฤติกรรม</label>
              </div>  
              <br><br><br><br><br>     
          </td>
        </tr>
      </table>         
      </td>
      <td>
        <table class="w-100 table-style">
          <tr class="w-100 table-style">
            <td>
            ตรวจร่างกาย 
            Temp. = <%=rec.temp%> C
            RR = <%=rec.rr%> 
            <span class="td-small">
            <br>HEENT
              <div class="form-check form-check-inline heent">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">not pale</label>
              </div>  
              <div class="form-check form-check-inline heent">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">no blurred vision</label>
              </div>  
            <br>Heart
              <div class="form-check form-check-inline heart">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">regular rhythm, normal S1S2, no murmur Lung</label>
              </div>  
              <div class="form-check form-check-inline heart">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">Clear,equal BS</label>
              </div>  
            <br>Ext
              <div class="form-check form-check-inline ext">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">no skin ulcer</label>
              </div>  
              <div class="form-check form-check-inline ext">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">no pitting edema</label>
              </div>  
              <div class="form-check form-check-inline ext">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">no ecchymosis/petechiae</label>
              </div>  
            <br>Neuro
              <div class="form-check form-check-inline neuro">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">no paresthesia</label>
              </div>  
              <div class="form-check form-check-inline neuro">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">no weakness</label>
              </div>  
            <br>อื่นๆ
            </span>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>  
  <br>
  <table class="w-100 table-style">
    <tr class="table-style">  
      <th class="fhead text-center " width="120px">การทำงาน<br>ของไต</th>
      <td class="td-grey">Urine microalbumin/Albumin</td>
      <td class="td-grey">Cr</td>
      <td class="td-grey">eGFR</td>
      <td>Electrolyte Ca Mg PO (เมื่อ eGFR < 45)</td>
      <td>Hb/Hct Keep Hb 10-11</td>
    </tr>
  </table>
  <table class="w-100 table-sub">
    <tr>
      <td>
        eGFR (CKD-EPI)<br>
        89-60 = 2<br>
        45-59 = 3a<br>
        30-44 = 3b -> Refer <br>
        29-15 = 4 -> Refer<br>
      </td>
      <td>
      <b>Albuminuria (ACR)</b> : [A1] <30 mg/g [A2] <30-300 mg/g [A3] >300 mg/g 
      [ ] คร้ังที่ 1 [ ] ครั้งที่ 2 (ห่างกัน 3 เดือน) <br>
[ ] ผู้ป่วยได้รับ ARB/ACEI ถ้ามี Albuminuria อยู่ในระยะ A2 [ ] Stage 4 ควรได้รับ Vaccine influenza <br>
[ ] CKD 3-5 ถ้าเริ่มยา ACEI/ARB → F/U Cr,K 1-2 wk , ถ้า K ก่อนเร่ิมยา > 5 ไม่ไห้ยา<br>
--> Cr เพิ่ม 30-50% หลังปรับยา ให้ลดขนาดยา F/U 1 wk , ถ้า Cr เพิ่ม >50% หยุดยา ARB/ACEI หรือ ถ้า K > 5.5 หยุดยา
      </td>
      <td>
        <b>การให้คำแนะนำ</b><br>
        <div class="form-check form-check-inline egfr_fix">
          <input class="form-check-input " type="checkbox" value="">
          <label class="form-check-label" for="defaultCheck1">งดยาสมุนไพร ยาพื้นเมือง, จํากัดเกลือ < 1 ชช/วัน</label>
        </div> <br>
        <div class="form-check form-check-inline egfr_fix">
          <input class="form-check-input " type="checkbox" value="">
          <label class="form-check-label" for="defaultCheck1">งดกินยาแก้ปวด NSAIDs</label>
        </div> <br>
        <div class="form-check form-check-inline egfr_fix">
          <input class="form-check-input " type="checkbox" value="">
          <label class="form-check-label" for="defaultCheck1">ตรวจฟัน Ca PO4</label>
        </div> <br>
        <div class="form-check form-check-inline egfr_fix">
          <input class="form-check-input " type="checkbox" value="">
          <label class="form-check-label" for="defaultCheck1">CKD4 แจ้งข้อมูลการฟอกไต หากไตทํางานแย่ลง</label>
        </div> 
      </td>
    </tr>
  </table>
  <br>
  <table class="w-100 table-style" border="1">
    <tr>
      <th>ยากลับบ้าน</th>
      <th>วิธีการใช้</th>
      <th>จำนวน</th>
      <th>ยาเหลือ</th>
      <th>หมายเหตุ</th>
      <th>ยากลับบ้าน</th>
      <th>วิธีการใช้</th>
      <th>จำนวน</th>
      <th>ยาเหลือ</th>
      <th>หมายเหตุ</th>
    </tr>
    <tr>
      <td class="td-grey">
        <div class="form-check form-check-inline med">
          <input class="form-check-input " type="checkbox" value="">
          <label class="form-check-label" for="defaultCheck1">Amlodipine(5)</label>
        </div>       
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="td-grey">
        <div class="form-check form-check-inline med">
          <input class="form-check-input " type="checkbox" value="">
          <label class="form-check-label" for="defaultCheck1">Metformin(500)</label>
        </div>       
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="td-grey">
        <div class="form-check form-check-inline med">
          <input class="form-check-input " type="checkbox" value="">
          <label class="form-check-label" for="defaultCheck1">Atenolol(50)</label>
        </div>       
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="td-grey">
        <div class="form-check form-check-inline med">
          <input class="form-check-input " type="checkbox" value="">
          <label class="form-check-label" for="defaultCheck1">Glipizide(5)</label>
        </div>       
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="td-grey">
        <div class="form-check form-check-inline med">
          <input class="form-check-input " type="checkbox" value="">
          <label class="form-check-label" for="defaultCheck1">Enalapril[ ]5[ ]20</label>
        </div>       
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="td-grey">
        <div class="form-check form-check-inline med">
          <input class="form-check-input " type="checkbox" value="">
          <label class="form-check-label" for="defaultCheck1">Simvastatin(20)</label>
        </div>       
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="td-grey">
        <div class="form-check form-check-inline med">
          <input class="form-check-input " type="checkbox" value="">
          <label class="form-check-label" for="defaultCheck1">Losartan(50)</label>
        </div>       
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="td-grey">
        <div class="form-check form-check-inline med">
          <input class="form-check-input " type="checkbox" value="">
          <label class="form-check-label" for="defaultCheck1">ASA(81)</label>
        </div>       
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="td-grey">
        <div class="form-check form-check-inline med">
          <input class="form-check-input " type="checkbox" value="">
          <label class="form-check-label" for="defaultCheck1">HCTZ(25)</label>
        </div>       
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="td-grey"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>                
  </table>
  <table class="w-100 table-sub">
    <tr>
      <td>
        <table class="w-100 table-style">
          <tr>
            <th>นัดครั้งถัดไป</th>
            <th>(จำนวนสัปดาห์)</th>
          </tr>
          <tr class="table-style">
            <td>
              <div class="form-check form-check-inline trauma_wound">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">พบแพทย์</label>
              </div>   
            </td>
            <td>
              <div class="form-check form-check-inline trauma_wound">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">4</label>
              </div>               
              <div class="form-check form-check-inline trauma_wound">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">5</label>
              </div>               
              <div class="form-check form-check-inline trauma_wound">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">6</label>
              </div>               
              <div class="form-check form-check-inline trauma_wound">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">7</label>
              </div>               
              <div class="form-check form-check-inline trauma_wound">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">8</label>
              </div>               
              <div class="form-check form-check-inline trauma_wound">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">9</label>
              </div>               
            </td>
          </tr>
          <tr class="table-style">
            <td>
              <div class="form-check form-check-inline trauma_wound">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">รับยาเดิม</label>
              </div>   
            </td>
            <td>
              <div class="form-check form-check-inline trauma_wound">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">4</label>
              </div>               
              <div class="form-check form-check-inline trauma_wound">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">5</label>
              </div>               
              <div class="form-check form-check-inline trauma_wound">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">6</label>
              </div>               
              <div class="form-check form-check-inline trauma_wound">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">7</label>
              </div>               
              <div class="form-check form-check-inline trauma_wound">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">8</label>
              </div>               
              <div class="form-check form-check-inline trauma_wound">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">9</label>
              </div>               
            </td>
          </tr> 
          <tr class="table-style">
            <td>วันที่</td>
            <td></td>
          </tr>         
        </table>
      </td>
      <td>&nbsp;</td>
      <td>
        <table class="w-100 table-style">
          <tr>
            <th>Lab ครั้งหน้า</th>
            <th>วันที่นัดตรวจ</th>
            <th colspan="9">Investigation</th>
          </tr>
          <tr class="table-style">
            <td class="table-style">
              <div class="form-check form-check-inline trauma_wound">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">DM yearly</label>
              </div>   
            </td>
            <td class="table-style">
                           
            </td>
            <td class="table-style" colspan="9">
            FBS , HbA1C , Lipid , Cr , Urine microalbumin              
            </td>
          </tr>
          <tr class="table-style">
            <td class="table-style">
              <div class="form-check form-check-inline trauma_wound">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">HT yearly</label>
              </div>   
            </td>
            <td class="table-style">
             
            </td>
            <td class="table-style" colspan="9">
            FBS , Lipid , Cr , Urine albumin
            </td>            
          </tr>          
          <tr class="table-style">
            <td class="table-style">
              <div class="form-check form-check-inline trauma_wound">
                <input class="form-check-input " type="checkbox" value="">
                <label class="form-check-label" for="defaultCheck1">อื่นๆ</label>
              </div>   
            </td>
            <td class="table-style">
                           
            </td>
            <td class="table-style">
            EKG                     
            </td>
            <td class="table-style">
            CXR
            </td>
            <td class="table-style">
            BUN
            </td>
            <td class="table-style">
            Cr
            </td>
            <td class="table-style">
            Elyte
            </td>
            <td class="table-style">
            CBC
            </td>
            <td class="table-style">
            DTX
            </td>
            <td class="table-style">
            Lipid
            </td>
            <td class="table-style" width="30">
            </td>
          </tr>
        </table>      
      </td>
    </tr>
    <tr>
    <td colspan="3">ตารางสําหรับประมาณ ระยะเวลา การนัด F/U และ การตรวจ Lab ครั้งถัดไป ให้กรอก Lab “DM” หรือ “HT” ลงในเดือนที่จะนัดตรวจใน “ครั้งถัดไป” ได้สิทธิ์ 1 ครั้ง/คน/ปีงบ (ตัดที่ 1 ตุลาคม)</td>
    </tr>
  </table>
  <table class="w-100 table-style">
    <tr>
      <td class="table-style td-grey text-center">มกราคม</td>
      <td class="table-style td-grey text-center">กุมภาพันธ์</td>
      <td class="table-style td-grey text-center">มีนาคม</td>
      <td class="table-style td-grey text-center">เมษายน</td>
      <td class="table-style td-grey text-center">พฤษภาคม</td>
      <td class="table-style td-grey text-center">มิถุนายน</td>
      <td class="table-style td-grey text-center">กรกฎาคม</td>
      <td class="table-style td-grey text-center">สิงหาคม</td>
      <td class="table-style td-grey text-center">กันยายน</td>
      <td class="table-style td-grey text-center">ตุลาคม</td>
      <td class="table-style td-grey text-center">พฤศจิกายน</td>
      <td class="table-style td-grey text-center">ธันวาคม</td>
    </tr>
    <tr>
      <td class="table-style">&nbsp;</td>
      <td class="table-style"></td>
      <td class="table-style"></td>
      <td class="table-style"></td>
      <td class="table-style"></td>
      <td class="table-style"></td>
      <td class="table-style"></td>
      <td class="table-style"></td>
      <td class="table-style"></td>
      <td class="table-style"></td>
      <td class="table-style"></td>
      <td class="table-style"></td>
    </tr>
    <tr class="table-style">
      <td colspan="12">
      หมายเหตุ<br>
      <div class="" style="border-bottom:1px dotted black;height:20px;margin:5px;"></div>
      <div class="row">
        <div class="col"><div class="" style="border-bottom:1px dotted black;height:20px;margin:5px;"></div></div>
        <div class="col-4">ลงชื่อ แพทย์ / เจ้าหน้าที่</div>
      </div>
      
      </td>
    </tr>
  </table>
    </div>
    
    <script>
      var t_map = <%= map.to_json.html_safe %>
      
      console.log(t_map)
      fillform=(r)=>{
          $.each(r,function(i,v){
            if($("."+i)){
              if($("."+i).hasClass("form-check")){ //checkbox
                $("."+i).each(function(index,sel){
                  if($(sel).find("label").html().trim()==v||($(sel).find("[type='checkbox']").val()!=''&&$(sel).find("[type='checkbox']").val()==v)){
                    $(sel).find("[type='checkbox']").attr('checked',true)
                  }
                })
              }else if($("."+i).is('span')){ //text
                $("."+i).html(v)
              }
            }
          })
      }

      
      $(document).ready(function(){
      
          $('.lang').each(function(){
      
              val = $(this).attr('value')
      
              $(this).html(t_map[val]);
      
      
          })
          $("#btn-print").click(function(){
            $(this).hide()
            window.print()
            $(this).show()
          })
          let report = <%= report.to_json.html_safe %>
          fillform(report)
          let patient =  <%= patient.to_json.html_safe %>
      
      })
    </script>
