
<% require_relative 'lib'%>
<%
  @record = record
%>
<style>
.mandatory{color:red;font-weight:bold;}
</style>
<div class="card">
<div class="card-header bg-primary text-white">
<center>General</center>
</div>

<div class="card-body">
  <div class="row">

<div class="col-12">

<%= radio_string this, 'shief',   :value=>["เช้า","บ่าย","ดึก"], :label=>'เวร  <span class="mandatory">*</span>' %>

<%= date_string this, 'date', :col=>4 , :label=>'วัน เดือน ปี(ค.ศ.) <span class="mandatory">*</span>'%>
<% 
  list = [] 
  for i in 141..157 do
    list << i.to_s
  end
%>
<%= check_string this, 'paramedic',   :value=>list,:col_item=>'col-2', :col=>12, :label=>'Paramedic <span class="mandatory">*</span>' %>
<% 
  list = [] 
  for i in 102..116 do
    list << i.to_s
  end
%>
<%= select_string this, 'emt',   :value=>list ,:col_item=>'col-2', :col=>12, :label=>'EMT ผู้ขับรถ <span class="mandatory">*</span>' %>
<%= select_string this, 'emt_tel',   :value=>list ,:col_item=>'col-2', :col=>12, :label=>'EMT คู่สาย <span class="mandatory">*</span>' %>

<%= radio_string this, 'area',   :value=>["ภายในโรงพยาบาล","ภายนอกโรงพยาบาล"], :label=>'พื้นที่ปฏิบัติการ  <span class="mandatory">*</span>' %>
<%= radio_string this, 'type',   :value=>["EMS","Refer"], :label=>'ลักษณะปฏิบัติการ  <span class="mandatory">*</span>' %>
<%= radio_string this, 'code155',   :value=>["Yes","No","อื่นๆ"], :label=>'Code 155(กรณีรับแจ้ง code 155 แต่ไม่ใช่ Cardiac arrest ให้พิมพ์ CC ช่องอื่นๆ)  <span class="mandatory">*</span>' %>
<%= text_string this, 'code155_other', :col=>4, :label=>''%>

<%= text_string this, 'location', :col=>8, :label=>'สถานที่เกิดเหตุ <span class="mandatory">*</span>'%>

<%= date_string this, 'time1', :col=>4 , :label=>'เวลารับแจ้ง(ว.0) <span class="mandatory">*</span>'%>
<%= date_string this, 'time2', :col=>4 , :label=>'เวลาสั่งการ <span class="mandatory">*</span>'%>
<%= date_string this, 'time3', :col=>4 , :label=>'เวลาออกจากฐาน <span class="mandatory">*</span>'%>
<%= date_string this, 'time4', :col=>4 , :label=>'เวลาถึงที่เกิดเหตุ/เวลายกเลิก <span class="mandatory">*</span>'%>
<%= date_string this, 'time5', :col=>4 , :label=>'First Medical Contact Time'%>
<%= date_string this, 'time6', :col=>4 , :label=>'เวลาเคลื่อนย้ายผู้ป่วยออกจากที่เกิดเหตุ '%>
<%= date_string this, 'time7', :col=>4 , :label=>'เวลาที่รถออกจากที่เกิดเหตุ <span class="mandatory">*</span>'%>
<%= date_string this, 'time8', :col=>4 , :label=>'เวลาถึงโรงพยาบาลปลายทาง (หากไม่นำส่งโรงพยาบาลปลายทางไม่กรอก)'%>

<%= text_string this, 'mile_start', :col=>8, :label=>'เลขไมล์ออกจากฐาน <span class="mandatory">*</span>'%>
<%= text_string this, 'mile_target', :col=>8, :label=>'เลขไมล์ถึงที่เกิดเหตุ <span class="mandatory">*</span>'%>

<%= text_string this, 'mile_hospital', :col=>8, :label=>'เลขไมล์ถึงโรงพยาบาลปลายทาง(หากไม่นำส่งโรงพยาบาลปลายทางไม่กรอก) '%>
<%= text_string this, 'time_target', :col=>8, :label=>'ระยะเวลาถึงที่เกิดเหตุ โดย GPS(นาที) ไม่พบเหตุ ไม่ต้องเติม '%>
<%= text_string this, 'distance', :col=>8, :label=>'ระยะทาง โดย GPS(km.) ไม่พบเหตุ ไม่ต้องเติม '%>

<%= select_string this, 'cbd',   :value=>%w{แดง เหลือง เขียว ขาว ดำ}, :label=>'CBD code  <span class="mandatory">*</span>' %>
<%= select_string this, 'cbd_erawan',   :value=>%w{แดง เหลือง เขียว ขาว ดำ}, :label=>'CBD color Erawan  <span class="mandatory">*</span>' %>
<%= select_string this, 'cbd_kcmh',   :value=>%w{แดง เหลือง เขียว ขาว ดำ}, :label=>'CBD color KCMH ' %>
<%= select_string this, 'scene_color',   :value=>%w{แดง เหลือง เขียว ขาว ดำ}, :label=>'Scene color ' %>
<%= select_string this, 'ed_triage',   :value=>%w{แดง เหลือง เขียว ขาว ดำ}, :label=>'ED triage ' %>
<%= select_string this, 'gender',   :value=>%w{ชาย หญิง}, :label=>'เพศ <span class="mandatory">*</span>' %>

<%= text_string this, 'age', :col=>8, :label=>'อายุ <span class="mandatory">*</span>'%>

<%
  list = <<LIST
ปฏิเสธ
Unknown
HT
old CVA
DM
DLP
CA end stage
Heart disease
Asthma
COPD
อื่นๆ
LIST
%>
<%= check_string this, 'disease', :value=>list.split("\n"),:col_item=>'col-3', :col=>12 , :label=>'โรคประจำตัว <span class="mandatory">*</span>'%>
<%= text_string this, 'disease_other', :col=>4, :label=>''%>

<%
  list = <<LIST
Good functional
Bed ridden
Walker
Wheelchair
Unknown
LIST
%>
<%= select_string this, 'old_status',   :value=>list.split("\n"), :label=>'Status เดิม <span class="mandatory">*</span>' %>

<%= text_string this, 'first_name', :col=>8, :label=>'ชื่อ <span class="mandatory">*</span> ไม่พบเหตุ ให้กรอก \'-\' '%>
<%= text_string this, 'last_name', :col=>8, :label=>'สกุล <span class="mandatory">*</span> ไม่พบเหตุ ให้กรอก \'-\' '%>
<%= text_string this, 'tel', :col=>8, :label=>'เบอร์โทรศัพท์ <span class="mandatory">*</span> เบอร์โทรญาติหากมี/เบอร์โทรผู้แจ้ง'%>
<%= text_string this, 'id_card', :col=>8, :label=>'บัตรประชาชน/Passport <span class="mandatory">*</span> ไม่พบเหตุ ให้กรอก \'-\' '%>

<%
  list = <<LIST
ไทย
ต่างชาติ
ต่างด้าว
LIST
%>
<%= select_string this, 'nation',   :value=>list.split("\n"), :label=>'สัญชาติ <span class="mandatory">*</span>' %>

<%
  list = <<LIST
ไม่มี
ประกันสุขภาพ
ข้าราชการ
ประกันสังคม
แรงงานต่างชาติ
พรบ.
LIST
%>
<%= select_string this, 'treatment',   :value=>list.split("\n"), :label=>'สิทธิการรักษา' %>

<%
  list = <<LIST
พบเหตุ
ยกเลิก
ทีมปฏิบัติการอื่นดำเนิน
ญาตินำส่ง
ไม่พบเหตุ
LIST
%>
<%= select_string this, 'result',   :value=>list.split("\n"), :label=>'ผลการปฏิบัติการ <span class="mandatory">*</span>' %>

<%
  list = <<LIST
Yes
เสียชีวิต ณ จุดเกิดเหตุ
ผู้ป่วยปฏิเสธ
LIST
%>
<%= select_string this, 'tranfer',   :value=>list.split("\n"), :label=>'นำส่งโรงพยาบาลปลายทาง' %>


<%= text_string this, 'hos_target', :col=>8, :label=>'โรงพยาบาลปลายทาง'%>

<%= text_string this, 'hn_target', :col=>8, :label=>'HN โรงพยาบาลปลายทาง'%>
<%= text_string this, 'hn_kcmh', :col=>8, :label=>'HN KCMH '%>

<%
  list = <<LIST
อาสาสมัคร/BLS
จร.โครงการ
ตำรวจ
ไม่ได้ร้องขอ
ร้องขอแต่ไม่ได้รับการสนับสนุน
อื่นๆ
LIST
%>
<%= check_string this, 'support_team',   :value=>list.split("\n"),:col_item=>'col-6', :col=>12, :label=>'ทีมสนับสนุน ณ จุดเกิดเหตุ <span class="mandatory">*</span>' %>
<%= text_string this, 'support_team_other', :col=>4, :label=>''%>

<%= select_string this, 'operation',   :value=>["Non-Trauma","Trauma","ยกเลิกปฏิบัติการไม่พบเหตุ - Non-Trauma","ยกเลิกปฏิบัติการไม่พบเหตุ - Trauma"], :label=>'ประเภทปฏิบัติการ  <span class="mandatory">*</span>' %>

</div>

<div class="col-12"><br/></div>



  </div><!--row-->
</div><!--card body-->
</div><!--card-->
