<% require_relative 'lib'%>
<%
  @record = record
  @record_id = record_id

  if record['trauma_status'] == nil 
    record['trauma_status'] = 'non-trauma'
  end

  if record['response'] == nil
    record['response'] = 'Alert'
  end

  if record['bleeding_at'] == nil
    record['bleeding_at'] = 'No_Active_Bleeding'
  end  

  if record['airway'] == nil
    record['airway'] = 'Patent' 
  end
%>
<style>
.mandatory{color:red;font-weight:bold;}
</style>
<div class="card">

<div class="card-header bg-primary text-white">

<center>
<div class="text-white">Primary Survey</div>
</center>
</div>

<div class="card-body">

<div class="row">


  <div class="col-12">
<center>
  <input type="radio" id="trauma_1" name="record[trauma_status]" <%='checked' if record['trauma_status']=='trauma' %> value="trauma" class="field"  field_type="radio_string" >
  <label for="trauma_1">Trauma</label>
  <input type="radio" id="trauma_2" name="record[trauma_status]" <%='checked' if record['trauma_status']=='non-trauma' %> value="non-trauma" class="field"  field_type="radio_string" >
  <label for="trauma_2">Non-Trauma</label>
</center>
  </div>

<br/><br/>
<div class="clear"></div>

<div class="card-title d-flex align-items-center">
			<!-- <div>
        <i class="bx bxs-user me-1 font-22 text-primary"></i>
			</div> -->
			<h5 class="mb-0 text-primary">GA :</h5>
</div>


<div class="col-2"></div>
<div class="col-10" style="margin-bottom:20px">
<label for="trauma_1">รายละเอียดที่เจอผู้ป่วยครั้งแรก </label>
<textarea name="record[note]" type="text"  class="field form-control" field_type="text_area" >
<%=record['note']%>
</textarea>
</div>

</div>

<hr>
<div class="col-12">

<div class="card-title d-flex align-items-center">
			<h5 class="mb-0 text-primary">Response :</h5>
</div>

<div class="row">
<div class="col-2"></div>
<div class="col-10">

<%= radio_string this, 'response',   :value=>%w{Alert Response_to_voice Response_to_pain Unresponsive} %>

</div>

    
<div class="col-2"></div>
<div class="col-10" style="margin-bottom:20px">

<%= radio_string this, 'response_pulse', :value=>%w{Pulse No_Pulse} %>

</div>



</div>


 
<hr/>
  <div class="card-title d-flex align-items-center">
			<h5 class="mb-0 text-primary">eXsanuinate Hemorrhage :</h5>
  </div>
  <div class="row">
  <div class="col-2"></div>
  <div class="col-10">

  <div class="input-group input-group-sm">
    <div class="input-group-text">
     <%= radio_string this, 'bleeding_at', :value=>%w{Active_Bleeding} %>
     </div>
     <%= text_string this, 'blood_loss', :field_only=>true %>
     <div class="input-group-text">
     &nbsp;<label for="trauma_1">CC </label>
     </div>
     <div class="input-group-text">
     <%= radio_string this, 'bleeding_at', :value=>%w{No_Active_Bleeding} %>
      </div>
	  </div>
  </div>
 


</div>
<hr/>

<div class="col-12">
<div class="card-title d-flex align-items-center">
			<h5 class="mb-0 text-primary">Airway :</h5>
</div>

<div class="row">
<div class="col-2">
</div>
<div class="col-10">
<%= radio_string this, 'airway', :value=>%w{Patent}, :col=>12 %>
</div>



<div class="col-2">
  </div>
<div class="col-10">

<%= check_string this, 'airway_compromise', :value=>%w{Stridor Secretion Foreign_body Bleeding Other}, :label=>"", :col=>12 %>

</div>

<div class="row">
<div class="col-2">
  </div>
<div class="col-10" style="margin-bottom:20px">

  <%= text_string this, 'airway_special_note', :col=>10, :label=>'Note'%>
</div>
</div>

<div class="col-12">
<hr/ style="margin-top: 0px;color:black">
<div class="card-title d-flex align-items-center">
			<h5 class="mb-0 text-primary">Breathing :</h5>
</div>

<div class="row">
<div class="col-2">Characteristics</div>
<div class="col-10"> 
<%= radio_string this, 'breath_status', :value=>%w{Normal No_breath Tachypnea Bradypnea Apnea Air_Hunger}, :col=>12 %>
</div>
</div>
<div style="height: 10px"></div>
<div class="row">
<div class="col-2">
Sound
</div>
<div class="col-10">
<%= radio_string this, 'breath_lung_clear',:value=>%w{Rt Lt Equal_both_lung}, :label=>'Lung clear', :col=>12 %>
<%= radio_string this, 'breath_wheezing',:value=>%w{Rt Lt Equal_both_lung}, :label=>'Wheezing', :col=>12 %>
<%= radio_string this, 'breath_rhonchi',:value=>%w{Rt Lt Equal_both_lung}, :label=>'Rhonchi', :col=>12 %>
<%= radio_string this, 'breath_crepitation',:value=>%w{Rt Lt Equal_both_lung}, :label=>'Crepitation', :col=>12 %>
<%= radio_string this, 'breath_descrease',:value=>%w{Rt Lt Equal_both_lung}, :label=>'Decrease breath sound', :col=>12 %>
</div>
</div>
<div class="row">
<div class="col-2">
Accessory muscles used
</div>
<div class="col-10">
<%= radio_string this, 'breath_amu_used',:value=>%w{Yes No}, :label=>'Used accessory muscles', :col=>12 %>

<%= radio_string this, 'breath_amu_s1',:value=>%w{Yes No}, :label=>'Sternocleidomastoids', :col=>12 %>
<%= radio_string this, 'breath_amu_s2',:value=>%w{Yes No}, :label=>'Scalenes', :col=>12 %>
<%= radio_string this, 'breath_amu_s3',:value=>%w{Yes No}, :label=>'External Intercostals', :col=>12 %>
<%= radio_string this, 'breath_amu_s4',:value=>%w{Yes No}, :label=>'Internal Intercostals', :col=>12 %>
<%= radio_string this, 'breath_amu_s5',:value=>%w{Yes No}, :label=>'Diaphragm', :col=>12 %>
<%= radio_string this, 'breath_amu_s6',:value=>%w{Yes No}, :label=>'Abdominal muscles', :col=>12 %>

</div>
</div>


<div class="row">
<div class="col-2">
Percussion
</div>
<div class="col-10">
<%= radio_string this, 'percussion_hyper',:value=>%w{Rt Lt }, :label=>'Hyperresonance', :col=>12 %>
<%= radio_string this, 'percussion_hypo',:value=>%w{Rt Lt }, :label=>'Hyporesonance', :col=>12 %>
</div>
</div>
<div style="height: 10px"></div>
<div class="row">
<div class="col-2">
Palpation
</div>
<div class="col-10">
<%= radio_string this, 'palpation_subcutaneous',:value=>%w{Rt Lt  No}, :label=>'Subcutaneous emphysema', :col=>12 %>
</div>
</div>
</div>

<div style="height: 10px"></div>
<div class="row">
<div class="col-2">
Wound
</div>
<div class="col-10">
<%= text_string this, 'breathing_wound', :col=>4, :label=>'Detail' %>
</div>
</div>
</div>


<div class="row">
<div class="col-2">

</div>

<div class="col-10" style="margin-bottom:0px">

  <%= text_string this, 'breath_special_note', :col=>10, :label=>'Note'%>
</div>
</div>
<hr/>

<div class="col-12">
<div class="card-title d-flex align-items-center">
			<h5 class="mb-0 text-primary">Circulation :</h5>
</div>
<div class="row">
<div class="col-12">
</div>
<div class="col-2">Sign of Shock</div>
<div class="col-10">
<%= radio_string this, 'sign_of_shock',:value=>%w{Yes No}, :col=>12 %>
</div>
<div style="height: 10px"></div>
<div class="col-2">Skin</div>
<div class="col-10">
<%= check_string this, 'circulation_skin',:value=>%w{Normal Pale Sweat Cold}, :col=>12 %>
</div>
<div style="height: 10px"></div>
<div class="row">
<div class="col-2">Pulse</div>
<div class="col-10">
<%= radio_string this, 'circulation_pulse',:value=>%w{Weak Full  }, :col=>12 %>
</div>
<div class="col-2">Weak or Full at</div>
<div class="col-10">
<%= radio_string this, 'circulation_pulse_at',:value=>%w{peripheral_pulse carotid_pulse femoral_pulse}, :col=>12 %>
</div>
<div class="col-2">Pulse Rate</div>
<div class="col-10">
<%= radio_string this, 'circulation_pulse_rate',:value=>%w{ Irregular Regular}, :col=>12 %>
</div>
</div>
<div style="height: 10px"></div>
<div class="row">
  <div class="col-2">
    Capillary
  </div>
  <div class="col-6">
  <%= radio_string this, 'circulation_capillary',:value=>%w{Fastly <2sec >2sec Prolong}, :col=>12 %>
  </div>
</div>
<div style="height: 10px"></div>


<div class="row">
<div class="col-2">
</div>

<div class="col-10" style="margin-bottom:20px">
  <%= text_string this, 'circulation_special_note', :col=>10, :label=>'Note'%>
</div>

</div>



<hr/>
<div class="col-12">
<div class="card-title d-flex align-items-center">
			<h5 class="mb-0 text-primary">Disability :</h5>
</div>
<div class="row">
<div class="col-2">
  GCS
</div>
<div class="col-10">
<div class="row">
<%= select_string this, 'gcs_e', :col=>3, :label=>'E', :value=>%w{1 2 3 4}%>
<%= select_string this, 'gcs_v', :col=>3, :label=>'V' , :value=>%w{1 2 3 4 5 T}%>
<%= select_string this, 'gcs_m', :col=>3, :label=>'M' , :value=>%w{1 2 3 4 5 6}%>
</div>
</div>
</div>
<div class="row">
<div class="col-2">
  Pupil
</div>
<div class="col-10">
<div class="row">
<br />
<%= text_string this, 'mm_rtlbe', :col=>3, :label=>'mm RTLBE'%>
<div class="clear"></div>
<%= text_string this, 'pupil_rt', :col=>3, :label=>'Rt(mm)'%>
<%= radio_string this, 'pupil_rt_rtl',:value=>%w{RTL NRTL Slightly Fxed Blind Cataract}, :col=>9 %>
<div class="clear"></div>
<%= text_string this, 'pupil_lt', :col=>3, :label=>'Lt(mm)'%>
<%= radio_string this, 'pupil_lt_rtl',:value=>%w{RTL RRTL Slightly Fxed Blind Cataract}, :col=>9 %>
</div>
</div>
<div class="row">

<div class="col-2"></div>
<div class="col-10" style="margin-bottom:0px">
  <%= radio_string this, 'dis_facial_palsy', :col=>10, :label=>'Facial palsy' ,:value=>%w{No Lt Rt} %>
</div>

<div class="col-2"></div>
<div class="col-10" style="margin-bottom:0px">
  <%= radio_string this, 'dis_dysarthria', :col=>10, :label=>'Dysarthria',:value=>%w{No Yes} %>
</div>

<div class="col-2"></div>
<div class="col-10" style="margin-bottom:0px">
  <%= radio_string this, 'dis_eye_deviation', :col=>10, :label=>'Eye deviation',:value=>%w{No Lt Rt} %>
</div>



</div>


</div>



<div class="row">
<div class="col-2">
  Motor power grade
</div>
<div class="col-10">
<div class="row">
<br />
<div class="col-6">
<label>Lt. Upper</label>
<%= radio_string this, 'motor_lt_upper',:value=>%w{1 2 3 4 5}, :col=>12  %>
</div>
<div class="col-6">
<label>Rt. Upper</label>
<%= radio_string this, 'motor_rt_upper',:value=>%w{1 2 3 4 5}, :col=>12  %>
</div>
<div class="clear"></div>
<div class="col-6">
<label>Lt. Lower</label>
<%= radio_string this, 'motor_lt_lower',:value=>%w{1 2 3 4 5}, :col=>12  %>
</div>
<div class="col-6">
<label>Rt. Lower</label>
<%= radio_string this, 'motor_rt_lower',:value=>%w{1 2 3 4 5}, :col=>12  %>

</div>
</div>
</div>


<div class="row">
<div class="col-2">
  </div>
<div class="col-10" style="margin-bottom:20px">

  <%= text_string this, 'disability_special_note', :col=>10, :label=>'Note'%>
</div>
</div>


<div style="height: 10px"></div>


<hr/>

<div class="col-12">
<div class="card-title d-flex align-items-center">
			<h5 class="mb-0 text-primary">Exposure :</h5>
</div>

<div class="row">
<div class="col-2">
</div>
<%= check_string this, 'exposure_list', :value=>%w{Deformity Contusion Abration Penetration Burns Tenderness Laceration Swelling Pitting_edema }, :col=>10, :col_item=>"col-12" %>
</div>
<div class="row">
<div class="col-2">
</div>
<div class="col-10">
    <%= text_string this, 'exposure_special_note', :col=>10, :label=>'Note'%>
	

</div>

</div>
</div>

<hr/>
<div class="col-12">
<div class="card-title d-flex align-items-center">
			<h5 class="mb-0 text-primary">Vital Sign:</h5>
</div>
<div class="row">
<div class="col-2">
</div>
<div class="col-9">
<div class="row">

<%= text_string this, 'vs_sbp', :col=>3, :label=>'SBP'%>
<%= text_string this, 'vs_dbp', :col=>3, :label=>'DBP'%>
<%= text_string this, 'vs_map', :col=>3, :label=>'MAP'%>
<%= text_string this, 'vs_rr', :col=>3, :label=>'Resp Rate'%>

</div>
<div class="row">
<%= text_string this, 'vs_pr', :col=>3, :label=>'Heart Rate'%>
<%= text_string this, 'vs_o2sat', :col=>3, :label=>'O2Sat'%>
<%= text_string this, 'vs_temp', :col=>3, :label=>'Body Temp (C)'%>
<%= text_string this, 'vs_dtx', :col=>3, :label=>'DTX (mg%)'%>
</div>
</div>
</div>
</div>
</div>

</div>
</div>

</div>

</div>
</div>
</div>