<%

record = @record

label = name.humanize
label = options[:label] if options[:label]


case type
when 'radio_string'

col = 12
col = options[:col] if options[:col]
%>

<div class="field-item col-<%=col%>">
<% if options[:label] %>
<label  style="min-width:150px"><%= label%></label>
<% end %>
<%
    options[:value].each_with_index do |i,j|
%>

<input type="radio" id="<%=name%>_<%=j%>" name="record[<%=name%>]" <%='checked' if record[name]==i %> value="<%=i%>" class="field" field_type="radio_string" >
<label for="<%=name%>_<%=j%>"><%=i.humanize%></label>
&nbsp;
&nbsp;
&nbsp;

<% end %>
</div>
<%
when 'check_string'

col = 12
col = options[:col] if options[:col]
%>

<div class="field-item col-<%=col%>">
<label  class="col-12"  for="<%=name%>"><%=label%></label>
<%= "<div class='row'>" if options[:col_item]%>
<%
    if options[:value]
%>
<input type="hidden"  name="record[<%=name%>]" class="field" value="<%=record[name]%>" id="data-<%=name%>">

<%
    ls = []
    ls = record[name].split("|") if record[name]
    options[:value].each_with_index do |i,j|
    val = i
    label = val.humanize
    val,label = val.split("|") if options[:pair]==true
%>
<%= "<div class='#{options[:col_item]}'>" if options[:col_item]%>
<input type="checkbox" id="<%=name%>_<%=j%>"  <%='checked' if ls.index(val) %> value="<%=val%>" class=" check_<%=name%>"  field_type="check_string" >
<label for="<%=name%>_<%=j%>"><%=label%></label>
&nbsp;
&nbsp;
&nbsp;
<%= "</div>" if options[:col_item]%>
<% end %>
</div>
<script>
    $('.check_<%=name%>').change(function(){

        ls = []
        $('.check_<%=name%>').each(function(){
          v = $(this).val()
          if($(this).is(":checked"))
          ls.push(v)

        })
        $('#data-<%=name%>').val(ls.join("|"))
        // alert('')


    })
</script>

<% else %>

<input type="hidden" id="<%=name%>_false" name="record[<%=name%>]"  value="false"  >
<input type="checkbox" id="<%=name%>" name="record[<%=name%>]" <%='checked' if record[name]=='true' %> value="true" class="field"  field_type="check_string" >
<label for="<%=name%>"><%=label%></label>

<% end %>
</div>
<%

when 'text_string'

col = 12
col = options[:col] if options[:col]
%>
<% unless options[:field_only]%>
<div class="field-item col-<%=col%>">
<label for="<%=name%>"><%=label%></label>
<% end %>
<input type="text" id="<%=name%>_<%=j%>" name="record[<%=name%>]" value="<%=record[name]%>" class="field form-control form-control-sm <%=options[:class]%>"  field_type="text_string" >
<% unless options[:field_only]%>
</div>
<% end %>

<%
when 'date_string'

col = 12
col = options[:col] if options[:col]
%>
<% unless options[:field_only]%>
<div class="field-item col-<%=col%>">
<label for="<%=name%>"><%=label%> Date</label>
<% end %>
<input type="text" id="<%=name%>_<%=j%>" name="record[<%=name%>]" value="<%=record[name]%>" class="field form-control form-control-sm <%=options[:class]%>"  field_type="text_string" >
<% unless options[:field_only]%>
</div>
<% end %>
<%
else
end
%>
