<% require_relative 'lib'%>
<%
  @record = record

  if record['heent_note'] == nil
	record['heent_note'] = 'not pale conjunctiva'
  end

  if record['chest_note'] == nil
	record['chest_note'] = 'Equal chest movement'
  end

  if record['cvs_note'] == nil
	record['cvs_note'] = 'Normal S1S2, no murmur'
  end

  if record['abdomen_note'] == nil
	record['abdomen_note'] = 'Soft, no tenderness, no guarding'
  end

  if record['extremity_note'] == nil
	record['extremity_note'] = 'no pitting edema, no skin lesion'
  end

  if record['neurological_note'] == nil
	record['neurological_note'] = 'Motor power gr. all extremity'
  end
%>
<div class="card">

<div class="card-header bg-primary text-white">

<center>
<div class="text-white">Report Green</div>
</center>
</div>

<div class="card-body">

<div class="row">


<div class="clear"></div>

<div class="card-title d-flex align-items-center">
			<!-- <div>
        <i class="bx bxs-user me-1 font-22 text-primary"></i>
			</div> -->
			<h5 class="mb-0 text-primary">Physical Exam :</h5>
</div>

<div class="row">


<!-- <div class="col-2"></div>
<div class="col-10" style="margin-bottom:20px">
<label for="trauma_1">GA : </label>
<textarea name="record[ga_note]" type="text"  class="field form-control" field_type="text_area" >
<%=record['ga_note']%>
</textarea>
</div>

</div> -->


<div class="row">
<div class="col-2"></div>
<div class="col-10" style="margin-bottom:20px">
<label for="trauma_1">HEENT : </label>
<textarea name="record[heent_note]" type="text"  class="field form-control" field_type="text_area" >
<%=record['heent_note']%>
</textarea>
</div>
</div>

<div class="row">
<div class="col-2"></div>
<div class="col-10" style="margin-bottom:20px">
<label for="trauma_1">Chest : </label>
<textarea name="record[chest_note]" type="text"  class="field form-control" field_type="text_area" >
<%=record['chest_note']%>
</textarea>
</div>
</div>

<div class="row">
<div class="col-2"></div>
<div class="col-10" style="margin-bottom:20px">
<label for="trauma_1">CVS : </label>
<textarea name="record[cvs_note]" type="text"  class="field form-control" field_type="text_area" >
<%=record['cvs_note']%>
</textarea>
</div>
</div>

<div class="row">
<div class="col-2"></div>
<div class="col-10" style="margin-bottom:20px">
<label for="trauma_1">Abdomen : </label>
<textarea name="record[abdomen_note]" type="text"  class="field form-control" field_type="text_area" >
<%=record['abdomen_note']%>
</textarea>
</div>
</div>

<div class="row">
<div class="col-2"></div>
<div class="col-10" style="margin-bottom:20px">
<label for="trauma_1">Extremity : </label>
<textarea name="record[extremity_note]" type="text"  class="field form-control" field_type="text_area" >
<%=record['extremity_note']%>
</textarea>
</div>
</div>

<div class="row">
<div class="col-2"></div>
<div class="col-10" style="margin-bottom:20px">
<label for="trauma_1">Neurological : </label>
<textarea name="record[neurological_note]" type="text"  class="field form-control" field_type="text_area" >
<%=record['neurological_note']%>
</textarea>
</div>
</div>

<hr/>

	<div class="col-12">
	
		<div class="card-title d-flex align-items-center">
		<h5 class="mb-0 text-primary">ซักประวัติ :</h5>
		</div>

		<div class="row">
		<div class="col-2">
		</div>
			<div class="col-10">
			<%= text_string this, 'sign_and_symptom', :col=>12, :label=>'Sign and symptom' %>
			<%= text_string this, 'allergies', :col=>12, :label=>'Allergies'  %>
			<%= text_string this, 'medication', :col=>12, :label=>'Medication'  %>
				<!-- <div class="row">
				<%= text_string this, 'sbp', :col=>3 %>
				<%= text_string this, 'dbp', :col=>3 %>
				<%= text_string this, 'pr', :col=>3 %>
				<%= text_string this, 'rr', :col=>3 %>
				<%= text_string this, 'spo2', :col=>3 %>
				<%= text_string this, 'gcs', :col=>3 %>
				<%= text_string this, 'bt', :col=>3 %>
				<%= text_string this, 'dtx', :col=>3 %>
				</div> -->
			</div>
		</div>
		</div>

	</div>
<!--
<div class="row">
<div class="col-2"></div>
<div class="col-10" style="margin-bottom:20px">
<label for="trauma_1">Allergies : </label>
<textarea name="record[allergies_note]" type="text"  class="field form-control" field_type="text_area" >
<%=record['allergies_note']%>
</textarea>
</div>
</div>



<div class="row">
<div class="col-2"></div>
<div class="col-10" style="margin-bottom:20px">
<label for="trauma_1">Medication : </label>
<textarea name="record[medication_note]" type="text"  class="field form-control" field_type="text_area" >
<%=record['medication_note']%>
</textarea>
</div>
</div> -->


<div class="row">
<div class="col-2"></div>
<div class="col-10" style="margin-bottom:20px">
<label for="trauma_1">Past History/Patient illness : </label>
<textarea name="record[history_note]" type="text"  class="field form-control" field_type="text_area" >
<%=record['history_note']%>
</textarea>
</div>
</div>


<div class="row">
<div class="col-2"></div>
<div class="col-10" style="margin-bottom:20px">
<label for="trauma_1">Last Oral Intake : </label>
<textarea name="record[intake_note]" type="text"  class="field form-control" field_type="text_area" >
<%=record['intake_note']%>
</textarea>
</div>
</div>

<div class="row">
<div class="col-2"></div>
<div class="col-10" style="margin-bottom:20px">
<label for="trauma_1">Event : </label>
<textarea name="record[event]" type="text"  class="field form-control" field_type="text_area" rows="10">
<%=record['event']%>
</textarea>
</div>
</div>

<!-- <div class="row">
<div class="col-2"></div>
<div class="col-10" style="margin-bottom:20px">
<label for="trauma_1">Event : </label>
<textarea name="record[event_note]" type="text"  class="field form-control" field_type="text_area" >
<%=record['event_note']%>
</textarea>
</div>
</div> -->




</div>

</div>
</div>
