
<% require_relative 'lib'%>
<%
  @record = record
%>
<style>
.mandatory{color:red;font-weight:bold;}
</style>
<div class="card">
<div class="card-header bg-primary text-white">
<center>Sepsis</center>
</div>

<div class="card-body">
  <div class="row">

<div class="col-12">
<%
  list = <<LIST
1|Look very sick/unwell/unconscious/drowning/confuse
2|History of infection
3|Have device relate infection
4|History drug resistance
5|Temperature high
6|Major trauma
7|Age>65 yr.
8|History drug allergy
LIST
%>
<%= check_string this, 'characteristic', :value=>list.split("\n"),:pair=>true,:col_item=>'col-12', :col=>10 , :label=>'Characteristic <span class="mandatory">*</span>'%>

<%= date_string this, 'alert_sepsis_time', :col=>4 , :label=>'Alert sepsis time'%>

<table width="100%" class="table table-borderd" style="font-size:0.8em;">
<tr>
<td colspan="8" class="text-center">NEWS</td>
</tr>
<tr>
<td>Score</td>
<td class="text-center">3</td>
<td class="text-center">2</td>
<td class="text-center">1</td>
<td class="text-center">0</td>
<td class="text-center">1</td>
<td class="text-center">2</td>
<td class="text-center">3</td>
</tr>
<tr>
<td>RR(BPM)</td>
<td class="text-center"><=8</td>
<td class="text-center"></td>
<td class="text-center">9-11</td>
<td class="text-center">12-20</td>
<td class="text-center"></td>
<td class="text-center">21-24</td>
<td class="text-center">>=25</td>
</tr>
<tr>
<td>O2Sat(%%)</td>
<td class="text-center"><=91</td>
<td class="text-center">92-93</td>
<td class="text-center">94-95</td>
<td class="text-center">>=96</td>
<td class="text-center"></td>
<td class="text-center"></td>
<td class="text-center"></td>
</tr>
<tr>
<td>Supplement Oxygen</td>
<td class="text-center"></td>
<td class="text-center">Yes</td>
<td class="text-center"></td>
<td class="text-center">No</td>
<td class="text-center"></td>
<td class="text-center"></td>
<td class="text-center"></td>
</tr>
<tr>
<td>Temperature(C)</td>
<td class="text-center"><=35</td>
<td class="text-center"></td>
<td class="text-center">35.1-36</td>
<td class="text-center">36.1-38</td>
<td class="text-center">38.1-39</td>
<td class="text-center">>=39.1</td>
<td class="text-center"></td>
</tr>
<tr>
<td>SBP(mmHg)</td>
<td class="text-center"><=90</td>
<td class="text-center">91-100</td>
<td class="text-center">101-110</td>
<td class="text-center">111-219</td>
<td class="text-center"></td>
<td class="text-center"></td>
<td class="text-center">>=220</td>
</tr>
<tr>
<td>HR(BPM)</td>
<td class="text-center"><=40</td>
<td class="text-center"></td>
<td class="text-center">41-50</td>
<td class="text-center">50-90</td>
<td class="text-center">91-110</td>
<td class="text-center">111-130</td>
<td class="text-center">>=131</td>
</tr>
<tr>
<td>Level of Consciousness</td>
<td class="text-center"></td>
<td class="text-center"></td>
<td class="text-center"></td>
<td class="text-center">A</td>
<td class="text-center"></td>
<td class="text-center"></td>
<td class="text-center">V,P or U</td>
</tr>
</table>
<%= select_string this, 'respiratory_rate',:value=>%w{0 1 2 3}, :col=>10 , :label=>'NEWS Respiratory rate (คะแนน) <span class="mandatory">*</span>'%>
<%= select_string this, 'o2sat',:value=>%w{0 1 2 3}, :col=>10 , :label=>'NEWS Oxygen Saturation (คะแนน) <span class="mandatory">*</span>'%>
<%= select_string this, 'supplement_oxygen',:value=>%w{0 1 2 3}, :col=>10 , :label=>'NEWS Supplement Oxygen(คะแนน) <span class="mandatory">*</span>'%>
<%= select_string this, 'temperature',:value=>%w{0 1 2 3}, :col=>10 , :label=>'NEWS Temperature (คะแนน) <span class="mandatory">*</span>'%>
<%= select_string this, 'blood_pressure',:value=>%w{0 1 2 3}, :col=>10 , :label=>'NEWS Systolic Blood Pressure (คะแนน) <span class="mandatory">*</span>'%>
<%= select_string this, 'heart_rate',:value=>%w{0 1 2 3}, :col=>10 , :label=>'NEWS Heart Rate(คะแนน) <span class="mandatory">*</span>'%>
<%= select_string this, 'consciousness',:value=>%w{0 1 2 3}, :col=>10 , :label=>'NEWS Level of Consciousness(คะแนน) <span class="mandatory">*</span>'%>

<%= check_string this, 'fluid_resuscitation',:col_item=>'col-4', :col=>12,   :value=>%w{NSS RLS Acetar อื่นๆ}, :label=>'Fluid resuscitation(rate/Total IV เติมลงอื่นๆ) <span class="mandatory">*</span>' %>
<%= text_string this, 'fluid_resuscitation_other', :col=>4, :label=>''%>

<%= date_string this, 'septic_time', :col=>4 , :label=>'Septic W/U time'%>
<%= date_string this, 'lactate_time', :col=>4 , :label=>'Lactate time'%>
<%= date_string this, 'antibiotic_time', :col=>4 , :label=>'Antibiotic time'%>

</div>

<div class="col-12"><br/></div>



  </div><!--row-->
</div><!--card body-->
</div><!--card-->
