
<% require_relative 'lib'%>
<%
  @record = record
%>
<div class="card">
<div class="card-header bg-primary text-white">
<center>Cardiac arrest</center>
</div>

<div class="card-body">
  <div class="row">

<div class="col-12">
  <%= radio_string this, 'witnessed_cardiac_arrest',   :value=>%w{yes no}, :label=>'Witnessed cardiac arrest' %>
  <%= radio_string this, 'bystander_cpr',   :value=>["ALS/BLS/อาสา", "พลเมืองดี", "No"], :label=>'Bystander CPR' %>
  <%= radio_string this, 'aed_use',   :value=>["Shockable", "Non-Shockable", "Not use"], :label=>'AED' %>

  <%= date_string this, 'last_seen_normal_time', :col=>4 %>
  <%= date_string this, 'first_seen_abnormal_time', :col=>4 %>
  <%= date_string this, 'bystander_start_cpr_time', :col=>4 %>
  <%= date_string this, 'ems_start_cpr_time', :col=>4 %>


  <%= text_string this, 'first_shock_time', :col=>4 %>

  <input class="result form-control" type="text" id="timexx" placeholder="Date Picker..." data-dtp="dtp_0CpeH">

</div>

<div class="col-12"><br/></div>



  </div><!--row-->
</div><!--card body-->
</div><!--card-->
