

<div class="card">
<div class="card-header bg-primary text-white">

<center>STEMI fast track</center>
</div>
<div class="card-body">

  <div class="row">

  <div class="col-6">
  <label for="">Type</label>
  <input name="record[stroke]" type="text" value="<%=record['stroke']%>" class="field form-control" field_type="text_string" >
  </div>

  <div class="col-6">
  <label for="">label</label>
  <textarea name="record[note]" type="text"  class="field form-control" field_type="text_area" > <%=record['note']%></textarea>
  </div>

  <div class="col-6">
  <label for="">label</label>
  <textarea name="record[note]" type="text"  class="field form-control" field_type="text_area" > <%=record['note']%></textarea>
  </div>

  </div>

 <hr/>

 <div class="row">

 <div class="col-3">
 <label for="">Type</label>
 <input name="record[stroke]" type="text" value="<%=record['stroke']%>" class="field form-control" field_type="text_string" >
 </div>

 <div class="col-3">
 <label for="">label</label>
 <textarea name="record[note]" type="text"  class="field form-control" field_type="text_area" > <%=record['note']%></textarea>
 </div>


 </div>


</div>
</div>
