
<% require_relative 'lib'%>


<%
  if record.empty?

    case_record = EMSCase.find(params[:case_id])
    first_medical_contact_time = nil
    if case_record
    
      c = case_record
      cmd = EMSCommand.where(case_id: params[:case_id]).first
      if cmd
    
         admit_log_contact = AdmitLog.where(ems_command_id: cmd.id, code: 'contact_at').first

           %>
      <%=admit_log_contact.stamp%>
      <%
         if admit_log_contact
          first_medical_contact_time = admit_log_contact.stamp.strftime("%H:%M")
         else
          first_medical_contact_time = nil
         end


      else
        first_medical_contact_time = nil
      end


    record = {
      'first_medical_contact_time' => first_medical_contact_time,
    }
     end
  end

%>

<%
  @record = record
%>
<style>
.mandatory{color:red;font-weight:bold;}
</style>
<div class="card">

  <div class="card-header bg-primary text-white">
  <center>STEMI fast track</center>
  </div>

  <div class="card-body">
    <div class="row">

<%
  list = <<LIST
1|Chest pain
2|Dyspnea
3|Abdominal pain
4|Alteration of conscious
5|Cardiac arrest
6|อื่นๆ
LIST
%>
<%= check_string this, 'chief_complain', :value=>list.split("\n"),:pair=>true,:col_item=>'col-6', :col=>10 , :label=>'Chief complain of STEMI <span class="mandatory">*</span>'%>


<%= text_string this, 'chief_complain_other', :col=>4, :label=>'Chief complain other'%>
<div class="clear"></div>
<%= time_string this, 'first_medical_contact_time', :col=>4, :label=>'First medical contact time'%>

<%= time_string this, 'chest_pain_time', :col=>4 , :label=>'Onset chest pain <span class="mandatory">*</span>'%>

<%= select_string this, 'painscore',:value=>%w{0 1 2 3 4 5 6 7 8 9 10}, :col=>12 , :label=>'Pain score ณ เวลารับแจ้ง <span class="mandatory">*</span>'%>
  
<%= select_string this, 'painscore_at_scene',:value=>%w{0 1 2 3 4 5 6 7 8 9 10}, :col=>12 , :label=>'Pain score at scene <span class="mandatory">*</span>'%>

<%= time_string this, 'first_ekg_time', :col=>4 , :label=>'First EKG 12 lead time <span class="mandatory">*</span>'%>

<%= time_string this, 'ems_alert_stemi_time', :col=>4 , :label=>'EMS alert STEMI time <span class="mandatory">*</span>'%>

<%= time_string this, 'confirm_stemi_by_ep_time', :col=>4 , :label=>'Confirm STEMI by EP time'%>

<%= text_string this, 'interpretion', :col=>12, :label=>'Interpretion <span class="mandatory">*</span>'%>

<%
  list = <<LIST
1|Anterior wall STEMI
2|Septal wall STEMI
3|Inferior wall STEMI
4|Lateral wall STEMI
5|Posterior wall STEMI
6|อื่นๆ
LIST
%>
<%= check_string this, 'diagnosis', :value=>list.split("\n"),:pair=>true,:col_item=>'col-6', :col=>10 , :label=>'Diagnosis <span class="mandatory">*</span>'%>
<%= text_string this, 'diagnosis_other', :col=>12, :label=>'Diagnosis other'%>

<%= time_string this, 'pci_time', :col=>3 , :label=>'PCI time'%>
<%= time_string this, 'fibrinolysis_time', :col=>3 , :label=>'Fibrinolysis time'%>
<%= time_string this, 'asa_time', :col=>3 , :label=>'ASA 81 mg 4 tabs'%>
<%= time_string this, 'ticagrelor_time', :col=>3 , :label=>'Ticagrelor 2 tab'%>
<%= time_string this, 'clopidogrel_time', :col=>3 , :label=>'Clopidogrel 4 tab'%>
<%= text_string this, 'other_medication', :col=>3, :label=>'Other medication'%>



<div class="row">
<%= time_string this, 'activate_er_time', :col=>4 , :label=>'Activate ER/Erawam time <span class="mandatory">*</span>'%>
</div>
<%= radio_string this, 'transfer_to',:value=>%w{ER Cathlab}, :col=>12 , :label=>'Transfer to<span class="mandatory">*</span>'%>


<%= check_string this, 'isosorbide',:value=>%w{1 2 3 อื่นๆ}, :col=>4 , :label=>'Isosorbide dinitrate SL(tab)'%>

<%= text_string this, 'isosorbide_other', :col=>8, :label=>''%>

<%= radio_string this, 'cardiac_arrest',:value=>%w{yes no}, :col=>12 , :label=>'Cardiac Arrest <span class="mandatory">*</span>'%>



    </div><!--row-->
  </div><!--card body-->
</div><!--card-->
