
<% require_relative 'lib' %> 
<%
  @record = record

  @record['date'] = Time.now.strftime("%d/%m/%Y")

  @record['time'] = Time.now.strftime("%H:%M:%S")

  ambu_list = Ambulance.where({}).sort(:name=>1).all.collect{|a| "#{a.id.to_s}|#{a.name}"}

  emt_list = Provider.where({:role=>'emt'}).sort(:code=>1).all.collect{|a| "}#{a.id.to_s}|#{a.code} #{a.name}"}

 @record['ambulance_id'] = params[:data]['ambulance_id'] if params[:data]
%>
<div class="card">
<div class="card-header bg-primary text-white">
<center>Vehicle Check PMD</center>
</div>

<div class="card-body">
  <div class="row">

  <%= date_string this, 'date', :col=>6%>  <%= time_string this, 'time', :label=>"เวลา", :col=>6%>
  <%= select_string this, 'shift', :value=>%w{เช้า บ่าย ดึก}, :label=>"เวร" ,:col=>6%>
  <%= select_string this, 'ambulance_id', :value=>ambu_list, :label=>"รถพยาบาล" ,:col=>6, :pair=>true%>
  <%= select_string this, 'emt', :value=>emt_list, :label=>"เจ้าหน้าที่" ,:col=>6, :pair=>true%>

 <%

list = <<ITEM
Oropharyngeal airway [OPA no.60 mm - black]
Oropharyngeal airway [OPA no.70 mm - white]
Oropharyngeal airway [OPA no.80 mm - green]
Oropharyngeal airway [OPA no.90 mm - yellow]
Oropharyngeal airway [OPA no.100 mm - red]
Nasopharyngeal airway [NPA no.7.0 mm]
Nasopharyngeal airway [NPA no.7.5 mm ]
Laryngoscope Adult [Macintosh Blade No.2]
Laryngoscope Adult [Macintosh Blade No.3]
Laryngoscope Adult [Macintosh Blade No.4]
Laryngoscope Adult [Laryngoscope]
Laryngoscope Neonate/Pediatric [Miller Blade No.0]
Laryngoscope Neonate/Pediatric [Miller Blade No.1]
Laryngoscope Neonate/Pediatric [Laryngoscope]
Glidescope/Video Laryngoscope [Glidescope/จอ VL]
Glidescope/Video Laryngoscope [Guide]
Glidescope/Video Laryngoscope [Blade VL]
Glidescope/Video Laryngoscope [Blade S4]
Endotracheal tube [ETT no.2.5 (1 ชิ้น)]
Endotracheal tube [ETT no.3 (1 ชิ้น)]
Endotracheal tube [ETT no.3.5 (1 ชิ้น)]
Endotracheal tube [ETT no.4 (1 ชิ้น)]
Endotracheal tube [ETT no.4.5 (1 ชิ้น)]
Endotracheal tube [ETT no.5 (1 ชิ้น)]
Endotracheal tube [ETT no.5.5 (1 ชิ้น)]
Endotracheal tube [ETT no.6 (2 ชิ้น)]
Endotracheal tube [ETT no.6.5 (2 ชิ้น)]
Endotracheal tube [ETT no.7 (2 ชิ้น)]
Endotracheal tube [ETT no.7.5 (2 ชิ้น)]
Endotracheal tube [ETT no.8 (2 ชิ้น)]
Endotracheal tube [ETT no.8.5 (2 ชิ้น)]
Laryngeal Mask Airway (LMA) [LMA no.2]
Laryngeal Mask Airway (LMA) [LMA no.3]
Laryngeal Mask Airway (LMA) [LMA no.4]
Laryngeal Mask Airway (LMA) [LMA no.5]
Set stab ETT [Syringe 10 ml]
Set stab ETT [Xylocaine jelly]
Set stab ETT [เชือก]
Suction [สาย Suction No.6]
Suction [สาย Suction No.8]
Suction [สาย Suction No.10]
Suction [สาย Suction No.12]
Suction [สาย Suction No.14]
Suction [สาย Suction No.16]
Suction [closed suction no.8]
Cannula [Cannula size XS]
Cannula [Cannula size S]
Cannula [Cannula size L]
Mask with bag [Adult]
Mask with bag [Pediatric]
Set Nebulizer [Adult]
Set Nebulizer [Pediatric]
Self-inflating bag Adult [Ambu]
Self-inflating bag Adult [Face mask]
Self-inflating bag Adult [reservoir]
Self-inflating bag Adult [สาย oxygen]
Self-inflating bag Adult [HEPA filter]
Self-inflating bag Neonate [Ambu]
Self-inflating bag Neonate [Face mask]
Self-inflating bag Neonate [reservoir]
Self-inflating bag Neonate [สาย oxygen]
Self-inflating bag Neonate [HEPA filter]
อุปกรณ์กระเป๋า Airway & Breathing อื่นๆ [Stethoscope]
อุปกรณ์กระเป๋า Airway & Breathing อื่นๆ [Collar mask]
อุปกรณ์กระเป๋า Airway & Breathing อื่นๆ [Aqua pack]
อุปกรณ์กระเป๋า Airway & Breathing อื่นๆ [Needle thoracotomy IV Cath No.16]
อุปกรณ์กระเป๋า Airway & Breathing อื่นๆ [Needle thoracotomy IV Cath No.18]
อุปกรณ์กระเป๋า Airway&Breathing ไม่พร้อมใช้งานเนื่องจาก (ระบุอุปกรณ์และเหตุผล)
Circulation [NSS 1,000 ml]
Circulation [RLS 1,000 ml]
Circulation [5%DN/2 1,000 ml]
Circulation [10%DN/2 1,000 ml]
Circulation [10%DW 500 ml]
Circulation [NSS irrigation 1,000 ml]
Circulation [Infusion pump+สายชาร์จ]
Circulation ไม่พร้อมใช้งานเนื่องจาก (ระบุอุปกรณ์และเหตุผล)
เครื่อง Suction [เครื่อง Suction]
เครื่อง Suction [Battery]
เครื่อง Suction ไม่พร้อมใช้งานเนื่องจาก (ระบุอุปกรณ์และเหตุผล)
Monitor/Defibrillator [เครื่อง Defibrillator (Tempus/Zoll)]
Monitor/Defibrillator [Battery]
Monitor/Defibrillator [กระดาษ EKG]
Monitor/Defibrillator [SpO2]
Monitor/Defibrillator [EtCO2]
Monitor/Defibrillator [Cuff วัดความดัน เด็ก และผู้ใหญ่]
Monitor/Defibrillator [สาย chest lead EKG]
Monitor/Defibrillator [แท่นวาง]
Monitor/Defibrillator ไม่พร้อมใช้งานเนื่องจาก (ระบุอุปกรณ์และเหตุผล)
Autopulse [Autopulse (เครื่อง)]
Autopulse [Battery (2 ก้อน)]
Autopulse ไม่พร้อมใช้งานเนื่องจาก (ระบุอุปกรณ์และเหตุผล)
อุปกรณ์การดาม [Long spinal board]
อุปกรณ์การดาม [belt 3 เส้น]
อุปกรณ์การดาม [Head immobilization]
อุปกรณ์การดาม [KED]
อุปกรณ์การดาม [Vacuum splint และที่สูบ]
อุปกรณ์การดาม [Scoop]
อุปกรณ์การดาม [SAM pelvic sling]
อุปกรณ์การดาม ไม่พร้อมใช้งานเนื่องจาก (ระบุอุปกรณ์และเหตุผล)
อุปกรณ์ยกเคลื่อนย้าย [Stair chair]
อุปกรณ์ยกเคลื่อนย้าย [Stretcher]
อุปกรณ์ยกเคลื่อนย้าย [เตียงไฟฟ้า และ battery]
อุปกรณ์ยกเคลื่อนย้าย ไม่พร้อมใช้งานเนื่องจาก (ระบุอุปกรณ์และเหตุผล)
อื่นๆ [ผ้าห่ม]
อื่นๆ [PPE]
อื่นๆ [Alcohol gel]
อื่นๆ [Ventilator/Oxylog+set]
อื่นๆ [น้ำเปล่า]
อื่นๆ ไม่พร้อมใช้งานเนื่องจาก (ระบุอุปกรณ์และเหตุผล)
Set คลอด (วันหมดอายุ)
ความสะอาด [Defibrillator]
ความสะอาด [เครื่อง suction]
ความสะอาด [วิทยุสื่อสาร]
ความสะอาด [Video Laryngoscope wrap]
ความสะอาด [Stretcher Ferno]
ความสะอาด [ถังขยะ]
ความสะอาด [พื้นรถ]
ความสะอาด [อบ UV ทุกครั้งหลังออกเคส]
ความสะอาด [Infusion pump]
ความสะอาด [รอบตัวรถพยาบาล]
Glucometer [เครื่อง DTX]
Glucometer [Alcohol pad]
Glucometer [Strip DTX]
Glucometer [เข็มเจาะปลายนิ้ว]
Set IO,IV,NG [Set IO]
Set IO,IV,NG [Set IV]
Set IO,IV,NG [Set NG]
Gauze [Gauze 2x2]
Gauze [Gauze 4x4]
Gauze [Top Gauze]
Elastic bandage (EB) [No.3]
Elastic bandage (EB) [No.4]
Elastic bandage (EB) [No.6]
Conforming bandage [No.3]
Conforming bandage [No.4]
Glove sterile [Glove sterile]
Syringe [Syringe 3 ml (5 อัน)]
Syringe [Syringe 5 ml (5 อัน)]
Syringe [Syringe 10 ml (5 อัน)]
Syringe [Syringe 20 ml (4 อัน)]
Syringe [Syringe 50 ml (2 อัน)]
Syringe [Feeding Syringe 50 ml (2 อัน)]
Needle (อย่างละ 5) [No.18]
Needle (อย่างละ 5) [No.20]
Needle (อย่างละ 5) [No.21]
Needle (อย่างละ 5) [No.22]
Needle (อย่างละ 5) [No.23]
Needle (อย่างละ 5) [No.24]
Needle (อย่างละ 5) [No.25]
Needle (อย่างละ 5) [No.27]
Needle (อย่างละ 5) [Blade No.11]
เวชภัณฑ์ [Transpore]
เวชภัณฑ์ [Microspore]
เวชภัณฑ์ [กรรไกร]
เวชภัณฑ์ [ซองใส่แลป]
เวชภัณฑ์ [ถุงพลาสติก]
เวชภัณฑ์ [ขวดสำหรับทิ้งเข็ม]
เวชภัณฑ์ [NSS 1,000 ml]
เวชภัณฑ์ [NSS 100 ml]
เวชภัณฑ์ [5%DW 100 ml]
เวชภัณฑ์ [Ammonia]
เวชภัณฑ์ [Chlorhexidine]
เวชภัณฑ์ [Betadine]
ITEM

  groups = []
  topics = {}

  list.split("\n").each do |line|
    groups << line.split("[")[0].strip
  end

  list.split("\n").each do |line|
    group = line.split("[")[0].strip
    if line.split("[")[1]
      topic = line.split("[")[1][0..-2]
      topics[group] = [] unless topics[group]
      topics[group] << topic
    end
  end

  groups.uniq!


choice = <<CHOICE
Oropharyngeal airway|พร้อมใช้,ไม่พร้อมใช้,ไม่มี|oropharyngeal_airway
Nasopharyngeal airway|พร้อมใช้,ไม่พร้อมใช้,ไม่มี|nasopharyngeal_airway
Laryngoscope Adult|พร้อมใช้,ไม่พร้อมใช้,ไม่มี|laryngoscope_adult
Laryngoscope Neonate/Pediatric|พร้อมใช้,ไม่พร้อมใช้,ไม่มี|laryngoscope_neonate_pediatric
Glidescope/Video Laryngoscope|พร้อมใช้,ไม่พร้อมใช้,ไม่มี|glidescope_video_laryngoscope
Endotracheal tube|พร้อมใช้,ไม่พร้อมใช้,ไม่มี|endotracheal_tube
Laryngeal Mask Airway (LMA)|พร้อมใช้,ไม่พร้อมใช้,ไม่มี|lma
Set stab ETT|พร้อมใช้,ไม่พร้อมใช้,ไม่มี|set_stab_ett
Suction|พร้อมใช้,ไม่พร้อมใช้,ไม่มี|suction
Cannula|พร้อมใช้,ไม่พร้อมใช้,ไม่มี|cannula
Mask with bag|พร้อมใช้,ไม่พร้อมใช้,ไม่มี|mask_with_bag
Set Nebulizer|พร้อมใช้,ไม่พร้อมใช้,ไม่มี|set_nebulizer
Self-inflating bag Adult|พร้อมใช้,ไม่พร้อมใช้,ไม่มี|ambu_bag_adult
Self-inflating bag Neonate|พร้อมใช้,ไม่พร้อมใช้,ไม่มี|ambu_bag_neonate
อุปกรณ์กระเป๋า Airway & Breathing อื่นๆ|พร้อมใช้,ไม่พร้อมใช้,ไม่มี|airway_bag_others
อุปกรณ์กระเป๋า Airway&Breathing ไม่พร้อมใช้งานเนื่องจาก (ระบุอุปกรณ์และเหตุผล)|TEXT|airway_bag_unavailable_reason
Circulation|พร้อมใช้,ไม่พร้อมใช้,ไม่มี|circulation
Circulation ไม่พร้อมใช้งานเนื่องจาก (ระบุอุปกรณ์และเหตุผล)|TEXT|circulation_unavailable_reason
เครื่อง Suction|พร้อมใช้,ไม่พร้อมใช้,ไม่มี|suction_machine
เครื่อง Suction ไม่พร้อมใช้งานเนื่องจาก (ระบุอุปกรณ์และเหตุผล)|TEXT|suction_machine_unavailable_reason
Monitor/Defibrillator|พร้อมใช้,ไม่พร้อมใช้,ไม่มี|monitor_defibrillator
Monitor/Defibrillator ไม่พร้อมใช้งานเนื่องจาก (ระบุอุปกรณ์และเหตุผล)|TEXT|monitor_defibrillator_unavailable_reason
Autopulse|พร้อมใช้,ไม่พร้อมใช้,ไม่มี|autopulse
Autopulse ไม่พร้อมใช้งานเนื่องจาก (ระบุอุปกรณ์และเหตุผล)|TEXT|autopulse_unavailable_reason
อุปกรณ์การดาม|พร้อมใช้,ไม่พร้อมใช้,ไม่มี|splint_equipment
อุปกรณ์การดาม ไม่พร้อมใช้งานเนื่องจาก (ระบุอุปกรณ์และเหตุผล)|TEXT|splint_equipment_unavailable_reason
อุปกรณ์ยกเคลื่อนย้าย|พร้อมใช้,ไม่พร้อมใช้,ไม่มี|lifting_transport_equipment
อุปกรณ์ยกเคลื่อนย้าย ไม่พร้อมใช้งานเนื่องจาก (ระบุอุปกรณ์และเหตุผล)|TEXT|lifting_transport_equipment_unavailable_reason
อื่นๆ|พร้อมใช้,ไม่พร้อมใช้,ไม่มี|other_equipment
อื่นๆ ไม่พร้อมใช้งานเนื่องจาก (ระบุอุปกรณ์และเหตุผล)|TEXT|other_equipment_unavailable_reason
Set คลอด (วันหมดอายุ)|DATE_SELECT|birth_kit_expiry_date
ความสะอาด|สะอาด,ไม่สะอาด|cleaning
มีกระเป๋า Circulation อยู่บนรถหรือไม่?|มี,ไม่มี|circulation_bag
Glucometer|พร้อมใช้,ไม่พร้อมใช้,ไม่มี|glucometer
Set IO,IV,NG|พร้อมใช้,ไม่พร้อมใช้,ไม่มี|set_tools
Gauze|พร้อมใช้,ไม่พร้อมใช้,ไม่มี|gauze
Elastic bandage (EB)|พร้อมใช้,ไม่พร้อมใช้,ไม่มี|elastic_bandage
Conforming bandage|พร้อมใช้,ไม่พร้อมใช้,ไม่มี|conforming_bandage
Glove sterile|พร้อมใช้,ไม่พร้อมใช้,ไม่มี|glove_sterile
Syringe|พร้อมใช้,ไม่พร้อมใช้,ไม่มี|syringe
Needle (อย่างละ 5)|พร้อมใช้,ไม่พร้อมใช้,ไม่มี|needle
เวชภัณฑ์|พร้อมใช้,ไม่พร้อมใช้,ไม่มี|medical_supplies
CHOICE

mapk = {}
mapc = {}

choice.split("\n").each do |line|
  mapc[line.split("|")[0]] = line.split("|")[1].split(",")
  mapk[line.split("|")[0]] = line.split("|")[2]
  
end


 %>

  <% for group in groups %>
 <div class="row">
 <div class="col-12 alert alert-info">
 <b><%="#{group}"%></b>
 
 </div>
  <% if mapc[group] 
  
    key = mapk[group]

  %>
  <% if mapc[group].include?("TEXT") %>
   <%= text_string this, key, :label=>nil ,:col=>12%>  <br/>  <br/>  <br/>
  <% elsif mapc[group].include?("DATE_SELECT") %>
  <%= date_string this, key, :label=>nil ,:col=>12%>  <br/>  <br/>  <br/>
  <% else %>
  <table class="table table-bordered">
  <tr>
  <td>

  </td>
  <% for value in mapc[group] %>
  <td style="text-align: center;">
  <%= value %>
  </td>
  <% end %>
  </tr>
  <% unless  topics[group] %>
  <% else %>
  <% for topic in topics[group] %>
  <tr>
  <td>
  <%= topic %> <%# @record["#{key}_#{topic}"] %>
  <%# radio_string this, "#{key}_#{topic}", :value=>mapc[group], :label=>topic ,:col=>12%>  
  </td>
  <% mapc[group].each_with_index do |value, index| %>
  <td style="text-align: center;">
  <input type="radio" class="field" name="record[<%="#{key}_#{topic}"%>]" value="<%=index%>" <%="checked='checked'" if @record["#{key}_#{topic}"] == index.to_s%>/>
  </td>
  <% end %>
  </tr>
  <% end %>
    <% end %>
  </table>
  
 


    <% end %>
  
  <% end %>
  </div>
  <br/>
  <% end %>
  </div><!--row-->
</div><!--card body-->
</div>

</div>
