
<% require_relative 'lib' %>
<%
  @record = record
%>
<style>
.mandatory{color:red;font-weight:bold;}
</style>
<div class="card">
<div class="card-header bg-primary text-white">
<center>Vital sign</center>
</div>

<div class="card-body">
  <div class="row">



<%= text_string this, 'sbp', :col=>3, :label=>'SBP <span class="mandatory">*</span>'%>
<%= text_string this, 'dbp', :col=>3, :label=>'DBP <span class="mandatory">*</span>'%>
<%= text_string this, 'pr', :col=>3, :label=>'Heart Rate <span class="mandatory">*</span>'%>
<%= text_string this, 'rr', :col=>3, :label=>'Respiratory Rate <span class="mandatory">*</span>'%>
<%= text_string this, 'o2sat', :col=>3, :label=>'O2Sat <span class="mandatory">*</span>'%>
<%= text_string this, 'gcs', :col=>3, :label=>'GCS<span class="mandatory">*</span>'%>
<%= text_string this, 'temp', :col=>3, :label=>'Body Temperature <span class="mandatory">*</span>'%>
<%= text_string this, 'dtx', :col=>3, :label=>'DTX <span class="mandatory">*</span>'%>
<div class="col-12"><br></div>

<!-- <%= text_string this, 'temp_re', :col=>4, :label=>'Repeat Body Temperature <span class="mandatory">*</span>'%>
<%= text_string this, 'sbp_re', :col=>4, :label=>'Repeat SBP <span class="mandatory">*</span>'%>
<%= text_string this, 'dbp_re', :col=>4, :label=>'Repeat DBP <span class="mandatory">*</span>'%>
<%= text_string this, 'pr_re', :col=>4, :label=>'Repeat Pulse Rate <span class="mandatory">*</span>'%>
<%= text_string this, 'rr_re', :col=>4, :label=>'Repeat Respiratory Rate <span class="mandatory">*</span>'%>
<%= text_string this, 'o2sat_re', :col=>4, :label=>'Repeat O2Sat <span class="mandatory">*</span>'%>
<%= text_string this, 'dtx_re', :col=>4, :label=>'Repeat DTX <span class="mandatory">*</span>'%>
<div class="col-12"><br></div>

<%= text_string this, 'temp_ed', :col=>4, :label=>'Body Temperature at ED'%>
<%= text_string this, 'sbp_ed', :col=>4, :label=>'SBP at ED'%>
<%= text_string this, 'dbp_ed', :col=>4, :label=>'DBP at ED'%>
<%= text_string this, 'pr_ed', :col=>4, :label=>'Pulse Rate at ED'%>
<%= text_string this, 'rr_ed', :col=>4, :label=>'Respiratory Rate at ED'%>
<%= text_string this, 'o2sat_ed', :col=>4, :label=>'O2Sat at ED'%>
<%= text_string this, 'dtx_ed', :col=>4, :label=>'DTX at ED'%>



<div class="col-12"><br/></div> -->



  </div><!--row-->
</div><!--card body-->
</div><!--card-->

<script>
	
	$('.station .pr .value').each(function(){$('.modal-body .pr_cls').val($(this).html())})
	$('.station .hr .value').each(function(){$('.modal-body .hr_cls').val($(this).html())})
	$('.station .rr .value').each(function(){$('.modal-body .rr_cls').val($(this).html())})
	$('.station .temp .value').each(function(){$('.modal-body .temp_cls').val($(this).html())})
	$('.station .spo2 .value').each(function(){$('.modal-body .o2sat_cls').val($(this).html())})
	$('.station .bp .value').each(function(){
		
		bp = $(this).html()
		t = bp.split("/")
		
		if(t.length>1){
			
			sbp = t[0]
			dbp = t[1]
		
			$('.modal-body .sbp_cls').val(sbp)
			$('.modal-body .dbp_cls').val(dbp)
		}

	})	
		
	
	

	
</script>	