<%  @default_media_server = 'http://192.168.1.6:8080'%>
<%

	content_path = "#{@default_media_server}/content"

	session = Session.find params[:id]

	list = Video.where(:session_id=>session.id).all
	
	
	name = 'out.mp4'
  	#name = params[:path] if params[:path]
	name = list[0].path if list.size> 0
	name = params[:path] if params[:path]  

%>
<div class="row" style="background-color:#333">
	<div class="col-sm-2">
		<% for i in list %>
		<div style="margin:2px">
		<a href="show?id=<%=params[:id]%>&path=<%=i.path%>" ><img src='<%= File.join(content_path, i.path.gsub("mp4", "jpg")) %>' width="160"></a>
		</div>

		<% end %>
	</div>
	<div class="col-sm-10">
		<div id='player'>
		<video width="100%"  src="<%=content_path%>/<%=name%>/index.m3u8" controls autoplay>
		<source src="<%=content_path%>/<%=name%>/index.webm" type="video/webm">    
		</video>
		</div>

	</div>
	
</div>
