<%

    records = EMSCase.all()
	
	transfers = {}
	reimburses = {}
	
	for i in records
		
		if i.transfer_hospital	
		transfers[i.transfer_hospital] = [] unless transfers[i.transfer_hospital] 
		transfers[i.transfer_hospital]  << i 
		end
		
		if i.patient_reimbursement	
		reimburses[i.patient_reimbursement] = [] unless reimburses[i.patient_reimbursement] 
		reimburses[i.patient_reimbursement]  << i 
		end
					
	end
	
	
	

%>

	<link href="/rocker/assets/plugins/datetimepicker/css/classic.css" rel="stylesheet" />
	<link href="/rocker/assets/plugins/datetimepicker/css/classic.time.css" rel="stylesheet" />
	<link href="/rocker/assets/plugins/datetimepicker/css/classic.date.css" rel="stylesheet" />
	<link rel="stylesheet" href="/rocker/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.min.css">
<div class="row" >
<div class="col-12">
<h1> Case Summary</h1>
</div>
</div>

<%

	@current_zone = Zone.find session[:current_zone]
	
	now = Time.now 

	from_date = now.beginning_of_month
	to_date = now.end_of_month
	
	
	
%>

<form action="" method="POST">
	
<div class="card">
							<div class="card-body">
							
									<div class="row">
										
									<div class="col-2 mb-3">
										<label class="form-label">From date:</label>
										<input name="q[from_date]" type="text" class="form-control datepicker" value="<%=from_date.strftime("%d/%m/%Y")%>">
									</div>
									
									<div class="col-2 mb-3">
										<label class="form-label">To date:</label>
										<input name="q[to_date]" type="text" class="form-control datepicker" value="<%=to_date.strftime("%d/%m/%Y")%>">
									</div>
									<div class="col-2 mb-3">
										<label class="form-label">From time:</label>
										<input name="q[from_time]" type="time" class="form-control timepicker">
									</div>
									<div class="col-2 mb-3">
										<label class="form-label">To time:</label>
										<input name="q[to_time]" type="time" class="form-control timepicker">
									</div>
									<div class="col-2 mb-3">
										<label class="form-label">Section:</label>
										<select name="q[section]" class="form-control">
											<option value=""></option>
											
											<option value="0">เช้า</option>
											<option value="1">บ่าย</option>
											<option value="2">ดึก</option>
												
										</select>
									</div>
									
									
									
									
								<div class="col-2 mb-3">
									<label class="form-label">Ambulance :</label>
									<select name="r[ambulance_id]" class="form-control">
										<option value=""></option>
										
										<% ambu_list = Ambulance.where(:zone_id=>@current_zone).all 
										ambu_list.each do |ambu| 
										%>
										<option value="<%=ambu.id%>"><%=ambu.name%></option>
										<% end %>
											
									</select>
								</div>
								
								
								
								<div class="col-2 mb-3">
									<label class="form-label">CBD :</label>
									<select name="q[group_code]" class="form-control">
										<option value=""></option>
										<% groups =  EMSCodeGroup.all()
										groups.each do |group| 
										%>
										<option value="<%=group.id%>"><%=group.code%>. <%=group.name%></option>
										<% end %>
											
									</select>
								</div>
								
								<div class="col-2 mb-3">
									<label class="form-label">EI :</label>
									<select name="r[init_cbd_color]" class="form-control">
										<option value=""></option>
										<% groups =  [['red','แดง'],['yellow','เหลือง'],['green','เชียว'],['white','ขาว'],['black','ดำ']]
										groups.each do |group| 
										%>
										<option value="<%=group[0]%>"><%=group[1]%></option>
										<% end %>
											
									</select>
								</div>
								
								<div class="col-2 mb-3">
									<label class="form-label">Transfer :</label>
									<select name="r[hospital_transfer]" class="form-control">
										<% ts =  transfers.keys.sort
										ts.each do |t| 
										%>
										<option value="<%=t%>"><%=t%></option>
										<% end %>
											
									</select>
								</div>
								
								<div class="col-2 mb-3">
									<label class="form-label">Reimburse :</label>
									<select name="r[patient_reimbursement]" class="form-control">
										<% ts =  reimburses.keys.sort
										ts.each do |t| 
										%>
										<option value="<%=t%>"><%=t%></option>
										<% end %>
											
									</select>
								</div>
								</div>
								
								
							</div>
						</div>

								<div class="col-2 mb-3">
									<input type="submit" value="Query" class="btn btn-success"/>
								</div>
								</div>

</form>

<%

if request.post?	
	
	
	if params[:r]
		
		records = EMSCase.where(params[:r]).all
		
	end
	
	
%>

<%= params.inspect %>

<% end %>
<table class="table">
<thead>
  <tr>
      <th>วัน/เดือน/ปีค.ศ. ออกปฏิบัติการ</th>
      <th>เวรที่ออกปฏิบัติการ (เช้า/บ่าย/ดึก)</th>
      <th>สถานที่เกิดเหตุ</th>
      <th>เวลาสั่งการ</th>
      <th>ประเภทการปฏิบัติการ</th>
      <th>Paramedic ที่ออกปฏิบัติการ</th>
      <th>EMT ที่ออกปฏิบัติการ</th>
      <th>อาการรับแจ้ง (CBD code)</th>
      <th>เพศ</th>
      <th>อายุ</th>
      <th>ข้อมูล ว.8 เพิ่มเติมจากศูนย์ประชานาถ</th>
      <th>CODE  155  ?</th>
      <th>ความรุนแรงระดับของ CBG code อยู่ในระดับใด</th>
      <th>Dispatch Time (minutes)</th>
      <th>Activate Time (minutes)</th>
      <th>Response Time (minutes)</th>
      <th>On Scene Time (minutes)</th>
      <th>Transfer Time (minutes)</th>
      <th>ทำไม  Activate Time มากกว่า 2 นาที ? </th>
      <th>ทำไม  Response Time มากกว่า 8 นาที ? </th>
      <th>ท่านมีวิธีการรับมืออย่างไรเมื่อ AT และ RT มากกว่ากำหนด</th>
      <th>สถานที่เกิดเหตุ</th>
      <th>Distance from KMCH to Scene (km) ?</th>
      <th>ประเภทเส้นทางที่เลือกใช้</th>
      <th>EMT ท่านใดขับรถพยาบาล</th>
      <th>Distance from scene  to hospital (km) ?</th>
      <th>ลักษณะการปฏิบัติการ</th>
      <th>ผลปฏิบัติการ</th>
      <th>Type</th>
      <th>กรณีออกปฏิบัติการแล้วไม่พบเหตุ/ ยกเลิกปฏิบัติการ เพราะเหตุใด</th>
      <th>เวลายกเลิกปฏิบัติการ</th>
      <th>ท่านมีการทำ CPR หรือไม่?</th>
      <th>Nationality</th>
      <th>Scene Triage</th>


      <th>SBP แรกรับ</th>
      <th>DBP แรกรับ</th>
      <th>HR แรกรับ</th>
      <th>RR แรกรับ</th>
      <th>SpO2 แรกรับ</th>
      <th>GCS แรกรับ</th>
      <th>Body temperature</th>
      <th>DTX (mg/dl)</th>

      <th>การนำส่งผู้ป่วยไปโรงพยาบาลปลายทาง ?</th>
      <th>โรงพยาบาลปลายทาง?</th>
      <th>HN</th>
      <th>สิทธิการรักษาพยาบาล<th>
      <th>ER Triage</th>

      <th>SBP จุดคัดกรอง</th>
      <th>DBP จุดคัดกรอง</th>
      <th>HR จุดคัดกรอง</th>
      <th>RR จุดคัดกรอง</th>
      <th>SpO2 จุดคัดกรอง</th>
      <th>GCS จุดคัดกรอง</th>
      <th>BT จุดคัดกรอง</th>
      <th>DTX จุดคัดกรอง</th>

      <th>Diagnosis</th>


      <th>ท่านได้ร้องขอแหล่งสนับสนุนหรือไหม</th>
      <th>ทีม BLS อยู่ที่จุดเกิดเหตุก่อนที่ ALS จะถึงหรือไม่?</th>
      <th>ทีมสนับสนุน เป็นผู้ปฏิบัติงานแบบใด</th>
      <th>Activated specialist ?</th>
      <th>Type of specialist team ?</th>

  </tr>

</thead>

<tbody>
<% for i in records

  init_code = i.init_code

  code_group = init_code.group if init_code

  m_providers = {}

   ems_command = EMSCommand.where(:case_id=>i.id).first

   if ems_command


   ems_command.providers.each do |cp|

      p = cp.provider
      if p.role
        m_providers[p.role] = [] unless m_providers[p.role]
        m_providers[p.role] << p
      end

   end

end

%>

<tr>
  <td><%=i.created_at.strftime("%d/%m/%Y")%></td>
  <td><%=link_to i.case_no, "../EMS/show?id=#{i.id}"%></td>
  <td><%=i.location%></td>
  <td><%=i.dispatch_at.strftime("%H:%M") if i.dispatch_at%></td>
  <td><%=i.ems_trauma%></td>

  <td><%=m_providers['ems'].collect{|p|p.code}.join(", ") if m_providers['ems']%></td>
  <td><%=m_providers['emt'].collect{|p|p.code}.join(", ") if m_providers['emt']%></td>
  <td><%=i.init_code.code if i.init_code%></td>
  <td><%=i.patient_gender%></td>
  <td><%=i.patient_age%></td>
  <td><%=i.chief_complain%></td>
  <td>#<%=i.code_155%></td>
  <td><%="#{code_group.code}.#{code_group.name}" if code_group%></td>


  <td><%=i.dispatch_time%></td>
  <td><%=i.activation_time%></td>
  <td><%=i.response_time%></td>
  <td><%=i.onscene_time%></td>
  <td><%=i.transfer_time%></td>

  <td><%=i.over_activate_time_reason%></td>
  <td><%=i.over_response_time_reason%></td>
  <td><%=i.over_time_managment%></td>
  <td><%=i.operation_hospital%></td>

  <td>#<%=i.distance_from_dispatch%></td>
  <td><%=i.route_type%></td>
  <td>#<%=ems_command.driver_emt_id if ems_command%></td>

  <td>#<%=i.distance_from_hospital%></td>
  <td><%=i.ems_type%></td>
  <td><%=i.operation_result%></td>
  <td><%=i.operation_result_detail%></td>
  <td><%=i.operation_cancel_reason%></td>
  <td><%=i.operation_cancel_at.strftime("%H:%M") if i.operation_cancel_at %></td>

  <td><%=i.cpr_status%></td>

  <td>x<%=i.patient_nationality%></td>

  <td><%=i.scene_triage%></td>


  <td><%=i.init_sbp%></td>
  <td><%=i.init_dbp%></td>
  <td><%=i.init_hr%></td>
  <td><%=i.init_rr%></td>
  <td><%=i.init_spo2%></td>
  <td><%=i.init_gcs%></td>
  <td><%=i.init_temp%></td>
  <td><%=i.init_dtx%></td>

  <td><%=i.transfer_status%></td>
  <td><%=i.transfer_hospital%></td>
  <td><%=i.transfer_hn%></td>
  <td>x<%=i.patient_reimbursement%></td>
  <td><%=i.er_triage%></td>

  <td><%=i.screen_sbp%></td>
  <td><%=i.screen_dbp%></td>
  <td><%=i.screen_hr%></td>
  <td><%=i.screen_rr%></td>
  <td><%=i.screen_spo2%></td>
  <td><%=i.screen_gcs%></td>
  <td><%=i.screen_temp%></td>
  <td><%=i.screen_dtx%></td>
  <td><%=i.diagnosis%></td>

  <td><%=i.bls_request%></td>
  <td><%=i.bls_onscene%></td>
  <td><%=i.bls_operation%></td>
  <td><%=i.special_request%></td>
  <td><%=i.special_type%></td>




</tr>

<% end %>
</tbody>
</table>

	<script src="/rocker/assets/plugins/datetimepicker/js/legacy.js"></script>
	<script src="/rocker/assets/plugins/datetimepicker/js/picker.js"></script>
	<script src="/rocker/assets/plugins/datetimepicker/js/picker.time.js"></script>
	<script src="/rocker/assets/plugins/datetimepicker/js/picker.date.js"></script>
	<script src="/rocker/assets/plugins/bootstrap-material-datetimepicker/js/moment.min.js"></script>
	<script src="/rocker/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.min.js"></script>
<%#records.to_json %>
	<script>
		$('.datepicker').pickadate({
			selectMonths: true,
	        selectYears: true
		}),
		$('.timepicker').pickatime()
	</script>	