    <%# this.model.fields.sort.collect{|i| i.name}.join(" ")%>
<%# this.model.keys['date'].type%>
<%
	keys = this.model.keys.collect{|i| i unless i[0][0]=='_'}.compact
	for i in keys
%>


  <% if i[0] == 'order_id' %>
    <div class="form-group">
      <label for="order-id">Order</label>
      <select class="form-control" id="order-id" name="record[order_id]">
        <% EsmMiotMonitor::Order.all.each do |order| %>
          <option value="<%= order.id %>"><%= order.order_number %></option>
        <% end %>
      </select>
    </div>
  <% elsif i[0] == 'product_id' %>
    <div class="form-group">
      <label for="product-id">Product</label>
      <select class="form-control" id="product-id" name="record[product_id]">
        <% EsmMiotMonitor::Product.all.each do |product| %>
          <option value="<%= product.id %>"><%= product.name %></option>
        <% end %>
      </select>
    </div>
  <% else %>
  <div class="form-group">
    <label for="product-name"><%=i[0].humanize%></label>
    <input type="text" class="form-control" id="record-<%=i[0]%>" name="record[<%=i[0]%>]" value='<%=@record[i[0]]%>' placeholder="<%=i[0]%>">
  </div>
  <% end %>
<% end %>
<br/>


