<%
    group = EMSCodeGroup.find params[:id]
    codes = EMSCode.where(:group_id=>params[:id]).all
    color = {}
    m_color={'red'=>'แดง','yellow'=>'เหลือง','green'=>'เขียว','white'=>'ขาว','black'=>'ดำ'}
    for c in codes 
        if !c.color.index 'add'
            color[c.color] = [] unless color[c.color]
            color[c.color] << c 
        end
    end
%>

<div class="col-12">
    <a href="javascript:selGroup()">
    <div class="card radius-10 bg-primary">
		    <div class="card-body text-white">
                <%="#{group.code} #{group.name}"%>
            </div>
    </div>
    </a>
</div>

<%  for c in color.keys %>
<div class="col-3">
    <a href="javascript:selColor('<%=c%>')">
    <div class="card radius-10 sel-color" id="sel-<%=c%>">
		    <div class="card-body">
                <%=m_color[c]%>
            </div>
    </div>
    </a>
</div>
<%  end %>

<%  for c in color.keys %>
<div class="cbd-color" id="<%=c%>">
<% 
        codes = color[c]    
        for code in codes
%>
<div class="col-12">
    <a href="javascript:selCode('<%=code.id%>')">
    <div class="card radius-10">
		    <div class="card-body">
                <%=code.name%>
            </div>
    </div>
    </a>
</div>
<%      end %>
</div>
<%  end %>
<script>
$(".cbd-color").hide()
</script>