<%

			record = EMSCase.find params[:id]
			admit = record.admit

   puts params.inspect

  if request.post?

	  if params['Discharge']
		  
			admit.discharge

			params[:record].merge!(:status=>'Completed', :completed_at=>Time.now)
			
			

		
		
			record.update_attributes params[:record]


	# update_attributies

path = "miot/#{@context.settings.name}/z/#{admit.zone.name}"
msg = 'NULL'
send_msg = <<MSG
#{'Zone.Refresh'} #{path}
#{msg.to_json}
MSG
@context.settings.redis.publish(path, send_msg)


%>
<META HTTP-EQUIV="Refresh" CONTENT="1;URL=../EMSNoti/send_discharge?id=<%=record.id%>">

Discharge ... 

<%
	 else

			params[:record].delete(:summary)
			

%>
<META HTTP-EQUIV="Refresh" CONTENT="1;URL=../EMS/show?id=<%=record.id%>">

<%
			
	 end
%>

	<%#params.inspect %>
<% else %>
<%

# AdmitLog.create  :ems_command_id=>record.id, :admit_id=>admit.id,:name=>'สั่งการ', :status=>'COMPLETED', :note=>'', :sort_order=>1, :stamp=>Time.now


#a1 = AdmitLog.create  :ems_command_id=>record.id,:admit_id=>admit.id,:name=>'ออกฐาน', :status=>'PENDING', :note=>'', :sort_order=>2, :latlng=>ambu.last_location
#a2 = AdmitLog.create  :ems_command_id=>record.id,:admit_id=>admit.id,:name=>'ถึงที่เกิดเหตุ', :status=>'PENDING', :note=>'', :sort_order=>3, :parent=>2, :address=>params[:address], :latlng=>params[:location]
#r1 = AocCaseRoute.create :ems_command_id=>record.id,:admit_id=>admit.id, :address=>'ที่เกิดเหตุ', :departure_log_id=> a1.id, :arrival_log_id=>a2.id, :start_latlng=>ambu.last_location, :stop_latlng=>ems_case.latlng, :sort_order=>0, :status=>'STARTED'


#b1 = AdmitLog.create :ems_command_id=>record.id,:admit_id=>admit.id,:name=>'ออกจากที่เกิดเหตุ', :latlng=>ems_case.latlng, :status=>'PENDING', :note=>'', :sort_order=>4
#b2 = AdmitLog.create :ems_command_id=>record.id,:admit_id=>admit.id,:name=>'ถึงโรงพยาบาล', :latlng=>ambu.last_location, :status=>'PENDING', :note=>'', :sort_order=>5, :parent=>4
#r2 = AocCaseRoute.create :ems_command_id=>record.id,:admit_id=>admit.id, :address=>'นำส่งโรงพยาบาล', :departure_log_id=> b1.id, :arrival_log_id=>b2.id, :start_latlng=>nil, :stop_latlng=>ambu.last_location, :sort_order=>10, :status=>'SCHEDULED'


#c1 = AdmitLog.create :ems_command_id=>record.id,:admit_id=>admit.id,:name=>'ออกจากโรงพยาบาล', :latlng=>ambu.last_location, :status=>'PENDING', :note=>'', :sort_order=>6
#c2 = AdmitLog.create :ems_command_id=>record.id,:admit_id=>admit.id,:name=>'ถึงฐาน', :latlng=>ambu.last_location, :status=>'PENDING', :note=>'', :sort_order=>7, :parent=>6
#r3 = AocCaseRoute.create :ems_command_id=>record.id,:admit_id=>admit.id, :address=>'ฐาน', :departure_log_id=> c1.id, :arrival_log_id=>c2.id, :start_latlng=>nil, :stop_latlng=>ambu.last_location, :sort_order=>20, :status=>'SCHEDULED'


	if ems_case.start_at
		ems_case.dispatch_time = format('%.01f',(ems_case.created_at-ems_case.start_at)/60.0) 
	end

	%>
	<%= ems_case.start_at %> - <%= ems_case.created_at %>
	<%
begin

	command = EMSCommand.where(:case_id=>record.id).first

if command

   # สั่งการ
    log1 = AdmitLog.where(:ems_command_id=>command.id, :sort_order=>1).first

    ems_case.dispatch_time = format('%.01f',(log1.stamp-ems_case.created_at)/60.0)  unless ems_case.dispatch_time

	# ออกฐาน
    log2 = AdmitLog.where(:ems_command_id=>command.id, :sort_order=>2).first

    ems_case.activation_time = format('%.01f',(log2.stamp-log1.stamp)/60.0) if log2 and log1

	# ถึงที่เกิดเหตุ	
    log3 = AdmitLog.where(:ems_command_id=>command.id, :sort_order=>3).first

    ems_case.response_time = format('%.01f',(log3.stamp-ems_case.created_at)/60.0) if log3

	if ems_case.case_type == 'EMS'

	# ออกจากที่เกิดเหตุ	
    log4 = AdmitLog.where(:ems_command_id=>command.id, :sort_order=>4).first


    ems_case.onscene_time = format('%.01f',(log4.stamp-log3.stamp)/60.0) if log4 and log3
	
	# ถึงโรงพยาบาล	
    log5 = AdmitLog.where(:ems_command_id=>command.id, :sort_order=>5).first

    ems_case.transfer_time = format('%.01f',(log5.stamp-log4.stamp)/60.0) if log5 and log4
	
	end
	# ถึงฐาน
    log6 = AdmitLog.where(:ems_command_id=>command.id, :sort_order=>7).first

    ems_case.total_time = format('%.01f',(log6.stamp-ems_case.created_at)/60.0) if log6
	

end

rescue Exception=>each

end



if true

		# records = DataRecord.where(:admit_id=>admit.id).all

		records = DataRecord.where(:admit_id=>admit.id, :bp_sys=>{"$gte"=>0}).sort(:stamp=>1).all

		if records.size > 0

	        if records[0]
					r = records[0]
					ems_case.init_vs_stamp = r.stamp
					ems_case.init_sbp = r.bp_sys
					ems_case.init_dbp = r.bp_dia
					ems_case.init_hr = r.hr
					ems_case.init_rr = r.rr
					ems_case.init_spo2 = r.spo2
					ems_case.init_temp = r.temp

			end
			if records[-1]
					r = records[-1]
					ems_case.screen_vs_stamp = r.stamp if r.stamp > 0
					ems_case.screen_sbp = r.bp_sys if r.bp_sys and r.bp_sys > 0
					ems_case.screen_dbp = r.bp_dia if r.bp_dia and r.bp_dia > 0
					ems_case.screen_hr = r.hr if r.hr and r.hr > 0
					ems_case.screen_rr = r.rr if r.rr and r.rr > 0
					ems_case.screen_spo2 = r.spo2 if r.spo2 and r.spo2 > 0
					ems_case.screen_temp = r.temp if r.temp and r.temp > 0

			end


end

end


	ems_case.discharge_stamp = Time.now

# key :dispatch_time, Integer
# key :activation_time, Integer
# key :response_time, Integer
# key :onscene_time, Integer
# key :transfer_time, Integer










%>


<form  id="discharge_form" action="<%= get_path 'create'%>" method="post" data-remote='true' data-remote-update="discharge_panel">
<input type="hidden" name="id" value="<%=ems_case.id%>">

<div class="row">

<div class="col-lg-6">

<div class="card">
  <div class="card-header bg-primary bbg-gradient text-white ">

    Discharge Information

  </div>
<div class="card-body">

<% fieldset(:record) do |f| %>
  <%= inline(this,:'_form', :this=>this, :f=>f, :ems_case=> ems_case)  %>
<% end %>

  <br/>
  
  <input type="submit" name="Discharge" value="Discharge" class="btn btn-danger">
  
  <input type="submit" name="Update" value="Update" class="btn btn-info">
  



</div>

</div>

</div>

<div class="col-lg-6">
  <div class="card">

  <div class="card-header bg-secondary bbg-gradient ">

    <div class="">
            <h6 class="mb-0 text-white">
              ข้อมูลเหตุฉุกเฉิน :
            </h6>
          </div>

  </div>

  <div class="card-body">

    <div class="summary">-</div>
		<script>
			$.ajax({
				url: "<%="../EMS/summary"%>?id=<%=record.id%>",
			  context: document.body
			}).done(function(data) {
			  $( '.summary' ).html(data);


			});

		</script>


  </div>
</div>
</div>









</form>
<% end %>
