<%
record = EMSCase.find params[:id]

  if request.post?





			admit = record.admit

			admit.discharge

      record.update_attributes params[:record]

			record.update_attributes :status=>'Completed', :completed_at=>Time.now


	# update_attributies

path = "miot/#{@context.settings.name}/z/#{admit.zone.name}"
msg = 'NULL'
send_msg = <<MSG
#{'Zone.Refresh'} #{path}
#{msg.to_json}
MSG
@context.settings.redis.publish(path, send_msg)


%>

Discharge ... <META HTTP-EQUIV="Refresh" CONTENT="1;URL=../EMS/show?id=<%=params[:id]%>">
<% else %>



<form action="<%= get_path 'update'%>" method="post">
<input type="hidden" name="id" value="<%=ems_case.id%>">

<div class="row">

<div class="col-lg-6">

<div class="card">
  <div class="card-header bg-secondary bbg-gradient text-white ">

    Discharge Information

  </div>
<div class="card-body">

<% fieldset(:record) do |f| %>
  <%= inline(this,:'_form', :this=>this, :f=>f, :ems_case=> ems_case)  %>
<% end %>

  <br/>
  <input type="submit" name="Discharge" value="Update" class="btn btn-info">

</div>

</div>

</div>

<div class="col-lg-6">
  <div class="card">

  <div class="card-header bg-primary bbg-gradient ">

    <div class="">
            <h6 class="mb-0 text-white">
             Case Summary :
            </h6>
          </div>

  </div>

  <div class="card-body">

    <div class="summary">-</div>
    <script>

      $.ajax({
        url: "<%="../EMS/summary"%>?id=<%=record.id%>",
        context: document.body
      }).done(function(data) {
        $( '.summary' ).html(data);


      });

    </script>

  </div>
</div>
</div>









</form>
<% end %>
