
<%
   record =  this.model.find params[:id]

%>
<div class="card">
<div class="card-header d-flex justify-content-between">
<h3><%=record.name%>
<%=link_to 'Check', "#",:class=>'btn btn-success',:id=>'check'%>
</h3>
</div>
<div class="card-body">
<div class="row">
<div class="col-12">
<%

if record  
	
	att = Attachment.find record.image
	if att
	%>
	<img src="<%=att.path%>" width="200">
	<%
	end

	keys = this.model.keys.collect{|i| i[0] unless i[0][0]=='_'}.compact
	
	for i in keys
%>
<div class="field">
<label><%=i.humanize%> : </label>
<v><%= record[i] %></v>
</div>
<% end %>

</div>
</div>
</div></div>
<% end %><hr/>
<%=link_to 'Edit', "edit?id=#{params[:id]}",:class=>'btn btn-info'%>
<%=link_to 'Back', 'index',:class=>'btn'%>
<style>
label{
    font-weight: bold;
}
v{
    font-weight: normal;
	color: blue;
}
</style>
<div class="modal" id="check_modal">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title">Check</h5>
</div>
<div class="modal-body" id="check_modal_body">
</div>
</div>
</div>
<script>

$('#check').click(function(){
$('#check_modal').modal('show');
$.ajax({
	url: '../EmsEMR/ex_create?document=vehicle_check&return_url=../Ambulance/show?id=<%=record.id%>',
	method: 'get',
	success: function(data){
		$('#check_modal_body').html(data);
	}
});

});

</script>