<%

	admit = Admit.find(params[:admit_id])
	
	patient = admit.patient
	score = admit.score
	station = admit.station
	
	staiton_name = ""
	
	station_name = station.name if station.name
	
	
	data = settings.senses[settings.name][station_name]
	if data['bp'] and t = data['bp'].split("/")
		data['bp_sys'] = t[0].to_i
		data['bp_dia'] = t[1].to_i
		
	end
	
	record = nil
	
	if params[:id]
		
		record = admit.medication_records.find params[:id]
	else
		record = admit.medication_records.new
		record.admit_id = admit.id
		record.start_time = Time.now 
		record.status = 'ON'
	end
	
	

%>

<input type="hidden" name="admit_id" value="<%=record.admit_id %>">
<div class="field">
<label>Time</label>
<div class="value">
 	<!-- <select name="time">
		<option value="1">1</option>
	</select > -->
	
	<%=text_field_tag  "record[start_time]", "#{record.start_time}"%>
	
</div>
</div>

 <div class="field">
 <label>Medication</label>
 <div class="value">
	<%=select  "record","medication_id", [['','']]+ Medication.all.collect{|i| [i.id,i.name] }, :value=>record.medication_id, :class=>'record_medication_id' %>
 </div>
 </div>
<script>

	$('.record_medication_id').change(function (){
		text = $(".record_medication_id option:selected").text();
		
		$('.record_name').val(text)
		
	})
</script>
 <div class="field">
 <label>Medication Name</label>
 <div class="value">
	<%=text_field_tag  "record[name]", "#{record.name}", :class=>'record_name' %>
 </div>
 </div>
 
 <div class="field">
 <label>Concentration</label>
 <div class="value">
	<%=text_field_tag  "record[concentration]", "#{record.concentration}" %>
 </div>
 </div>
 
 <div class="field">
 <label>Rate (ml/min)</label>
 <div class="value">
	<%=text_field_tag  "record[rate]", "#{record.rate}" %>
 </div>
 </div>
 
 <div class="field">
 <label>Volume (ml)</label>
 <div class="value">
	<%=text_field_tag  "record[volume]", "#{record.volume}" %>
 </div>
 </div>
 
 <div class="field">
 <label>Status</label>
 <div class="value">
	<%=select  "record","status", [['',''],['ON','ON'],['OFF','OFF']], :value=>record.status %>
 </div>
 </div>