			
			
			<%
			
			    station = Station.find params[:id]
			
			    zone = station.zone
			
			
			
				msgs = Message.where(:recipient=>"#{zone.name}|#{station.name}").limit(5).sort(:created_at=>-1).all.reverse 
				
			%>
			
			
			<div class="container">
			    <div class="row">
			        <div class="col-12">
			            <div class="panel panel-primary" id="panel-primary">
			                <div class="panel-heading" id="accordion">
			                    <span class="glyphicon glyphicon-comment"></span> Chat
			                    <div class="btn-group pull-right">
			                        <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
			                            <span class="glyphicon glyphicon-chevron-down"></span>
			                        </a>
			                    </div>
			                </div>
			            <div class="panel-collapse " id="collapseOne">
			                <div class="panel-body" id="panel-body">
			                    <ul class="chat" id="chat">
									
		<% for i in msgs %>
						
			                        <li class="left clearfix"><span class="chat-img pull-left">
			                            <img src="http://placehold.it/50/55C1E7/fff&text=<%=i.sender[0..2].upcase%>" alt="User Avatar" class="img-circle" />
			                        </span>
			                            <div class="chat-body clearfix">
			                                <div class="header">
			                                    <strong class="primary-font"><%= i.sender %></strong> <small class="pull-right text-muted" style="float:right;padding-right:10px">
			                                        <span class="glyphicon glyphicon-time"></span><%=Time.at(i.ts).strftime("%H:%M")%></small>
			                                </div>
			                                <p>
					  						
					  						<% if i.type == 'image' 
						
					  							url  = "/miot/img/svg/aoc-icon.svg"
					  							url = "../Message/content?id=#{i.id}" 
					  						%>
					  						<center><a href="<%=url%>" target="_blank" ><img src="<%=url%>" height="200"></a></center>
					  						<% elsif i.type == 'voice' 
												url = "../Message/content?id=#{i.id}" 
											%>
											<audio controls>
											  <source src="<%=url%>" type="audio/mpeg">
											Your browser does not support the audio element.
											</audio>

												
											<% else %>
					  						<p><%=i.content%></p>
					  						<% end %>
			                                </p>
			                            </div>
			                        </li>
	     <% end %>
			                  
			                    </ul>
			                </div>
			                <!-- <div class="panel-footer">
			                    <div class="input-group">
			                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
			                        <span class="input-group-btn">
			                            <button class="btn btn-warning btn-sm" id="btn-chat">
			                                Send</button>
			                        </span>
			                    </div>
			                </div> -->
			            </div>
			            </div>
			        </div>
			    </div>
			</div>
			
			<script>
				var objDiv = document.getElementById("panel-body");
				objDiv.scrollTop = objDiv.scrollHeight;
			</script>
			