<h5>Nurse Note</h5>

<div id="nurse_note-partial" style="overflow:auto">
</div>
<div style="float:right" >

<select id="score_id" style="width:100px;padding:20px;background:#ccc;height:2.5em">
  <% 
admit = Admit.find(params[:id])
score_id = admit.score_id
  
  for s in Score.all %>
  <option <%#'selected="selected"' if s.id==score_id %> value="<%=s.id%>"><%=s.name%></option>
 <% end %>
</select>

<%=link_to "+Score", '#', :id=>'nurse_score_add',:class=>'link btn-pcm2'%>
	
<%=link_to "+Note", '#', :id=>'nurse_note_add',:class=>'link  btn-pcm2'%>

</div>

<script>
		
	function create_nurse_note(event){
		event.preventDefault();
		$.get( "nurse_note_create?admit_id=<%=params[:id]%>",function(data,status){
		  $('.modal-content').html(data);
		});
		
  	  	$('#admit-modal').modal({
  	    	backdrop: 'static',
  	    	keyboard: false
  	 	})
	
	}
	
	function edit_nurse_note(event){
		event.preventDefault();
		id = $(this).attr('id')

		$.get( "nurse_note_edit?admit_id=<%=params[:id]%>&id="+id,function(data,status){
		  $('.modal-content').html(data);
		});
		
  	  	$('#admit-modal').modal({
  	    	backdrop: 'static',
  	    	keyboard: false
  	 	})
	}
	
	function reload_nurse_note(){
	
		$.ajax({
		  url: "nurse_note_partial?admit_id=<%=params[:id]%>",
		  context: document.body
		}).done(function(data) {
		  $( '#nurse_note-partial' ).html(data);
		});
	
	}
	
	$('#nurse_note_add').click(create_nurse_note);
	$('#nurse_score_add').click(function(){
		score_id = $('#score_id  option:selected').val()

		call_submit('<%=params[:id]%>',score_id)
	});
	
	reload_nurse_note();
	

	
// })



</script>
	