<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
	<link href="<%=url_for('css/main.css?=22')%>" rel="stylesheet">
    <script src="<%=url_for('js/ion.sound.min.js')%>"></script>
    <script src="/vendor/d3/d3.min.cus.js"></script>
	<link href='/vendor/fullcalendar/main.css' rel='stylesheet' />
	<script src='/vendor/fullcalendar/main.js'></script>
    <title>Medical IOT Solution</title>

    <!-- Bootstrap core CSS -->
    <link href="<%=url_for 'css/bootstrap.min.css'%>" rel="stylesheet">
	<link href="/open-iconic/font/css/open-iconic-foundation.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="" rel="stylesheet">
	<script src="/vendor/jquery-1.9.1.min.js"></script>
<style>
.navbar-pcm {
  /* background-color: #06202E; */
  background: transparent linear-gradient(180deg, #03121a  0%, #06202E 40%, #06202E 100%) 0%
    0% no-repeat padding-box;
}
/* change the brand and text color */
.navbar-pcm .navbar-brand,
.navbar-pcm .navbar-text{
  color: #C2C2C2;
}
.navbar-pcm .navbar-toggler-icon{
  color: #C2C2C2 !important;
}
/* change the link color */
.navbar-pcm .navbar-nav .nav-link {
  color: #C2C2C2;
}
/* change the color of active or hovered links */
.navbar-pcm .nav-item.active .nav-link,
.navbar-pcm .nav-item:hover .nav-link {
  color: #ffffff;
}
.navbar-pcm .nav-item.active {
border-bottom: 2px solid #3147FF;
}
.card{
	color:black;
}
.container{
	background:#fff;
	box-shadow: 0px 0px 15px #111;
	border-radius:5px;	
}
.logo-pcm{
  height:3vh;
  border-radius:0.4vh;
}
</style>
  </head>


<body>

<% 
admit = Admit.find params[:id]
patient = admit.patient



%>

<script type="text/javascript">
        
    function codespeedy(){
      var print_div = document.getElementById("printout");
var print_area = window.open();
print_area.document.write(print_div.innerHTML);
print_area.document.close();
print_area.focus();
print_area.print();
print_area.close();
// This is the code print a particular div element
    }
  </script>
	<br/>
<form>
	<div style="float:right">
    <!-- <input type="button" value="Print" onclick="window.print()" class="btn btn-info"> -->
</div>
  </form>
<style>
	.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
	   background-color: #a3efef;
	}
	
	@media print {
		.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
		   background-color: #a3efef !important;
        -webkit-print-color-adjust: exact; 
		}
		.navbar{
			display:none;
			 -webkit-print-color-adjust: exact; 
		}
	}
</style>

		<style>
		        .viewport {
		            top: 0px;
		            left: 0px;
		            overflow-y: auto;
		            right: 0px;
		            height: 1200px;
					width: 500px;
					font-size:0.8em;
					padding:0px;
					
		            background-color: white;
		            border: 0px solid #000;
		           border-radius: 4px;
		/*            box-shadow: inset 1px 1px 6px 2px rgba(0,0,0, .25);*/
		        }
				svg text {
				    -webkit-user-select: none;
				       -moz-user-select: none;
				        -ms-user-select: none;
				            user-select: none;
				}
				svg text::selection {
				    background: none;
				}
		        .info-svg {
		            fill: #2968AA;
		            overflow: visible;
		        }
				.gxt-box{
					border:0px solid #265d5c;
					min-height:300px;
					color:#ccc;
					margin-bottom:1em
				}
				h5{
					border :1px solid #265d5c;padding:10px;
/*		            border: 0px solid #000;*/
		           border-radius: 4px;
				}
		</style>

<div id="printout">
<h2>Patient Summary : <%=patient%> (HN : <%=patient.hn%>), <%=admit.bed_no%> - <%=admit.zone.name if admit.zone%></h2>
<hr/>

<div class="row">

<div class="col-4">
<strong>Admit at</strong> : <%=admit.admit_stamp%> <br/>
<strong>Discharge at</strong> : <%=admit.discharge_stamp%> <br/>
<%

admit.discharge_stamp = Time.now unless admit.discharge_stamp

u = 'mins'
	total  = (admit.discharge_stamp - admit.admit_stamp)/60
	
	if total > 1
		u = 'hours'
		total  = (admit.discharge_stamp - admit.admit_stamp)/3600 
	end
	
	if total > 24
		u = 'days'
		total  = (admit.discharge_stamp - admit.admit_stamp)/3600/24 if total > 24
	
	end
%>
<strong>Total time</strong> : <%=format("%0.2f",total) %> <%=u %> <br/>
</div >

<div class="col-4">
<strong>BMI</strong> : <%=admit.bmi%><br/>
<strong>Weight</strong> : <%=admit.weight%> kg<br/>
<strong>Height</strong> : <%=admit.height%> cm<br/>
<strong>Glucose</strong> : <%=admit.glucose%> mmol/L<br/>


</div>

</div >





<%
	
		
notes = admit.nurse_records

medications = admit.medication_records

records = admit.records

tmap = {}

for i in notes

	k = i.start_time.localtime.strftime("%H:%M:%S")
	tmap[k] = [] unless tmap[k]
	tmap[k] << ['Note',i.description]
	
	
end

for i in medications
	if i.start_time
		k = i.start_time.localtime.strftime("%H:%M:%S")
		tmap[k] = [] unless tmap[k]
		tmap[k] << ['Med',"#{i.name if i} ON Con(#{i.concentration}) Rate(#{i.rate} ml/min) Vol Set(#{format("0.04f",i.volume)} ml)"]
	end
	if i.stop_time
		k = i.stop_time.localtime.strftime("%H:%M:%S")
		tmap[k] = [] unless tmap[k]
		tmap[k] << ['Med',"#{i.name if i} OFF Con(#{i.concentration}) Rate(#{i.rate} ml/min) Vol Est(#{i.est_intake} ml)"]
	end
end	

for i in records
	
	if i.stamp
		k = i.stamp.localtime.strftime("%H:%M:%S") 
		tmap[k] = [] unless tmap[k]
		tmap[k] << ['VS',%w{bp_stamp bp pr hr rr spo2 }.collect{|j| "#{j}(#{i[j]})" }.join(", ")]
	end
end	
	
	
%>


<title>Summary of activities</title>
<hr/>
<h4>Event History:</h4>
<table class='table table-striped '>
	<caption></caption>
	<thead>
		<tr>
			<th scope="col">Time</th><th scope="col">Type</th><th scope="col">Description</th>
		</tr>
	</thead>
	<tbody>
		<% for t in tmap.keys.sort 
		lines = tmap[t]
		for i in lines
			
			type =i[0]
			des = i[1]
			
		%>
		<tr>
			<td><%=t%></td><td><%=type%></td><td><%=des%></td>
		</tr>
		<% end %>
		<% end %>
	</tbody>
</table>
</div>



		<div class="row">

		<div class="col-12 "  >
<div id="printout">
<h2>Patient Summary : <%=patient%> (HN : <%=patient.hn%>), <%=admit.bed_no%> - <%=admit.zone.name if admit.zone%></h2>
<hr/>
<h4>Flowsheet : </h4>
<hr/>
		<div class="row" style="my-2">
			<div class="col-12 viewport" style="width:1000px">
			<%= inline(this,:'_flowsheet_print')  %>
			</div>
	    </div>
		</div>
	</div>
</div>
	</div>
	<script>
	
		var settings = {version:'1.0'};

	    var components = [];

		// vs = {name:'vitalsign',type:'vs',show:true,params:['hr','pr','spo2','bp_sys','bp_dia','co2'],records:null};
		
		vs = {name:'vitalsign',type:'vs',show:true,params:['hr','pr','spo2','bp_sys','bp_dia','co2'],
		groups:[{params:['pr','hr'],range:[0,200],range_auto:true,show:true},
		{params:['bp_sys','bp_dia'],range:[0,200],range_auto:false,show:true},
		{params:['spo2','temp'],range:[0,100],range_auto:false,show:true},
		{params:['co2','rr'],range:[0,100],range_auto:false,show:true}
	],records:null};
		
		records = [];

		now = Date.now();
		
		<%
		if admit
		senses = Sense.where(:admit_id=>admit.id).limit(3000).sort(:start_time.desc).all.reverse
	    
		
		
		list =[]
		now = Time.now
		
		if true
		
		senses.each_with_index do |i,ii| 
		
			o = ActiveSupport::JSON.decode(i.vs)
			
			if o
				o.each do |j| 
					
					# [{:stamp=>2019-03-07 00:15:36 +0700, :bp=>"119/72", :bp_stamp=>
					bp = [0,0]
					bp = j['bp'].split("/") if j['bp']
					# if j['pr'] and j['spo2'] and j['temp']
						list.push({time:Time.parse(j['stamp']),:temp=>j['temp']?j['temp']:0,pr:(j['pr']!='-' and j['pr'])?j['pr']:0, :spo2=>(j['spo2']!='-' and j['spo2'])?j['spo2']:0, hr:j['hr']?j['hr']:0, co2:j['co2']?j['co2']:0,rr:j['rr']?j['rr']:0,bp_sys:bp[0].to_i,bp_dia:bp[1].to_i});
					# end
					# list.push :time=>now-(senses.size-ii),:temp=>rand(4)+35,:pr=>(100+20*Math.sin(ii*10*Math::PI/180)).to_i, :spo2=>100-rand(4), :hr=>100+rand(20),:rr=>20, :bp_sys=>120+rand(40), :bp_dia=>80+rand(40), :co2=> 35+rand(5)
			
				end
				
			end
			
		end
		
		
		else
		
			for i in DataRecord.where(:admit_id=>admit.id).all
		
				# o = ActiveSupport::JSON.decode(i.data)
				
			list.push :time=>i.stamp,:temp=>0,:pr=>i.pr, :spo2=>i.spo2, :hr=>i.hr,:rr=>20, :bp_sys=>i.bp_sys, :bp_dia=>i.bp_dia, :co2=> i.co2
			
			# list.push :time=>now-(n-t),:temp=>rand(4)+35,:pr=>(100+20*Math.sin(t*10*Math::PI/180)).to_i, :spo2=>100-rand(4), :hr=>100+rand(20),:rr=>20, :bp_sys=>120+rand(40), :bp_dia=>80+rand(40), :co2=> 35+rand(5)
			
				# if o['vs']
				# 	for j in o['vs']
				#
				# 		# [{:stamp=>2019-03-07 00:15:36 +0700, :bp=>"119/72", :bp_stamp=>
				# 		bp = j['bp'].split("/")
				# 		list.push({time:Time.parse(j['stamp']),:temp=>j['temp']?j['temp']:0,pr:j['pr']!='-'?j['pr']:0, :spo2=>j['spo2']!='-'?j['spo2']:0, hr:j['hr']?j['hr']:0,rr:j['rr']?j['rr']:0,bp_sys:bp[0].to_i,bp_dia:bp[1].to_i});
				# 	end
				#
				# end
			
			end
		
		end
		
		
		for j in list 	
		%>
		j = <%=j.to_json.html_safe%>
		records.push({time:Date.parse(j['time']),hr:j['hr'],temp:j['temp'],pr:j['pr'],spo2:j['spo2'],rr:j['rr'],bp_sys:j['bp_sys'],bp_dia:j['bp_dia'],co2:j['co2']});
		<% end %>
			<% end %>
		//records = <%= list.to_json.html_safe %>
	
		// records.push({time:now   ,hr:99,rr:20,bp_sys:103,bp_dia:90});
		// records.push({time:now+100000,hr:120,rr:19,bp_sys:113,bp_dia:100});
		// records.push({time:now+200000,hr:110,rr:20,bp_sys:163,bp_dia:120});
		// records.push({time:now+300000,hr:90,rr:20,bp_sys:100,bp_dia:60});
		// records.push({time:now+400000,hr:99,rr:20,bp_sys:103,bp_dia:90});
		
		
		vs['records'] = records;
		
		<%
			
			meds = admit.medication_records
			med_map = {}
			for i in meds
				
				k = i.name
				
				med_map[k] = [] unless med_map[k]
				med_map[k] << i
			
			end
			
			
		%>

	

		// med = {name:'medication',type:'med',show:true,params:['domicum','fentanyl','0.9%NSS'],records:null};
		
		med = {name:'medication',type:'med',show:true,params:<%=med_map.keys.to_json.html_safe%>,records:null};
		
		records = [];
		<% for i in meds 
		
			stop_time = Time.now
			stop_time = i.stop_time if i.stop_time
		%>
		
		records.push({time:new Date(<%=i.start_time.localtime.to_json%>),stop_time: new Date(<%=stop_time.localtime.to_json%>),'<%=i.name %>':{r:'<%=i.rate%>',v:'<%=i.volume%>'}});
		
		<% end %>
		
		// records.push({time:now+2000,stop_time:now+30000,fentanyl:{r:3,v:300}});
	// 	records.push({time:now+30000,stop_time:now+50000,domicum:{r:3,v:300}});

		med['records'] = records;

		components.push(vs);
		components.push(med);



		settings['components'] = components

		console.log(settings);


		 var viewport = d3.select(".viewport").append("svg")
		 .attr("class", "info-svg")

     var g = viewport.append("g")
	    .attr("transform", "translate(0,0)");
	
	 gfx = GFX()
	 .svg(g)
	 .startTime(Date.now())
	 .endTime(Date.now())
	 .viewport(d3.select(".viewport"));
	 gfx.data(settings);
	 d3.select("svg").call(gfx);
	 
	</script>
	 
	</body>
	</html>
	 