<%
	
admit = Admit.find(params[:admit_id])

records = admit.records
	
%>
<table class="table table-striped" style="border:0px solid #0c5758">
<thead>
	<tr>
		<th>Time</th><th>BP</th><th>HR</th><th>PR</th><th>SpO2</th>
	</tr>
</thead>
<tbody>
	<% for i in records %>
	<tr>

		<tr>
			<td><%=link_to i.stamp.localtime().strftime("%H:%M:%S"), '#', :id=>"#{i.id}" %></td><td><%=i.bp_sys%>/<%=i.bp_dia%></td><td><%=i.hr%></td><td><%=i.pr%></td><td><%=i.spo2%></td>
		</tr>
	</tr>
	<% end %>
	

</tbody>
</table>

			<script>
				$(document).ready(function(){
					
				<% for i in records %>
					$('#<%=i.id%>').click(edit_record)
				<% end %>
				
			})
			</script>