
<h1><%=name params[:service]%> Create</h1>
<% 
return_url = "javascript:history.back();"

return_url = params[:return] if params[:return]





	@record =  this.model.new params[:record]
	
	
	if request.post?
		
		
	if params[:record]
		
		
		
		patient = Patient.create params[:patient]
		params[:record][:patient_id] = patient.id
		params[:record][:admit_stamp] = Time.now
		record =  this.model.create params[:record]
		
		
		
	%>
	<%#redirect_to "../Admit/show?id=#{record.id}"%>
	
	<%=redirect_to "../Home/patient?id=#{record.id}"%>
	<%	
	end
	
		
		
		
   else 
%>
<form action="create" method="post" enctype="multipart/form-data">
<%= inline(this,:'_form') %>
<button type="submit" class="btn btn-primary">Submit</button>
<%=link_to 'Back', return_url ,:class=>'btn'%>

</form>
<% end %>
<script>
<% 

	his = Setting.get :his 
	if his!= nil and params[:hn]
%>
$.ajax({
  url: "get_patient_data?hn=<%=params[:hn]%>",
  context: document.body
}).done(function(data) {
 var obj = JSON.parse(data);

 $('#patient-first_name').val(obj['first_name'])
 $('#patient-last_name').val(obj['last_name'])

 $('#patient-image').attr('src',"data:image/png;base64,"+obj['picture'])


});
<% else %>
console.log('no his configure')
<% end %>
</script>