<br/>
<h3>Patient Admission <%= link_to '+Admit', "create", :class=>'btn btn-success' %></h3>
<% 
mpatients = nil
unless params[:query]
	
	# admits = Admit.limit(20).sort(:created_at=>-1).all
	
	admits = Admit.where(:zone_id=>session[:current_zone]).sort(:created_at=>-1).all
	
	# admits = Admit.all
	
else
	query = params[:query]
	patients = Patient.where('$or'=>[{:hn=>/#{query}/i},{:first_name=>/#{query}/i},{:last_name=>/#{query}/i}]).all
	# patients = Patient.all
	admits = []
	mpatients = {}
	for i in patients
		mpatients[i.id] = true 
		admit = Admit.where(:patient_id=>i.id).first
		admits << admit
	end
	
end
%>
<p>
<form action="index">
	
Search : <input type="text" name="query" value="<%=params[:query]%>" />

<input type="submit" value="Search" />
</form>
</p>

<%#inline  this, :'_list' %>
<table class="table"> 
	<thead>
			<tr>
					<th>Case No.</th>
					<th>HN</th>
					<th>Patinet Name</th>
					<th>Gender</th>
					<th>Age</th>
					<th>DateTime</th>
					<th>Duration</th>
					
					<th></th>	<th></th>
			</tr>
					
	</thead>
	<tbody>

<% 

%w{Admitted Discharged}.each do |type|
	
	admits = Admit.where(:status=>type).sort('updated_at'=>-1).limit(20).all
	# admits = Admit.all
	if mpatients
	admits = admits.collect{|i| i if mpatients[i.patient_id]}.compact	
	end
%>

<tr>
	<td colspan="9" class="alert-warning">
	<span class=" "><%=type%></span>
	</td>
</tr>

		<% for i in admits
			
			
		patient = Patient.find i.patient_id
		
		unless patient
			
			i.destroy
			
		else
			
	
		station = Station.find i.station_id
		
		ambu = Ambulance.find i.ambulance_id
		
		%>
		<tr>	
			
				<td>
					<%=link i.an, "show?id=#{i.id}"%>
					
				</td>
				<td><%=link patient.hn,  "show?id=#{i.id}"%>
				</td>
				<td><%=link "#{patient.first_name} #{patient.last_name}","show?id=#{i.id}"%> 
 				</td>
				<td><%=patient.gender%></th>
				<td><%=patient.age%></th>
				
				<td>
					<%=i.admit_stamp.strftime("%H:%M") if i.admit_stamp %><%=' - '+i.discharge_stamp.strftime("%H:%M") if i.discharge_stamp%>
				</td>
				
				<td><%
						
					hours = 0 
					mins = 0 
					
					if i.discharge_stamp
					
					total = ((i.discharge_stamp - i.admit_stamp)/60).to_i
					
					mins = total%60
					hours = total/60
					
					
				%>
					<%="#{hours} hours" if hours > 0 %> <%="#{mins} mins" if mins > 0 %>
				<% else %>
					-
				<% end %>
				</td>
				
				<td>
					<%=link 'Review', "show?id=#{i.id}"%>
				</td>
				<td>
					<%=link 'Edit', "edit?id=#{i.id}"%>
				</td>
		</tr>
		<% end %>
		<% end %>
		
	<% end %>
	</tbody>
</table>



<script>
	
	
	
</script>