	<%

	list = Patient.all
		
	%>
  <div class="form-group">
    <label for="">Patient</label>
	
	<select id="record-hospital-doctor" name="record[patient_id]" class="form-control" value="<%=@record['patient_id']%>">

	<% for j in list.collect{|k| 
			
		  
			
		[k.id,"#{k.hn}"]
	
		} 
		
		%>
	  <option value="<%=j[0]%>" <%="selected" if @record['patient_id']==j[0] %>><%=j[1]%></option>
	<% end %>
	</select>
  </div>
  

  
  
	<%

	list = SHHospital.all
		
	%>
  <div class="form-group">
    <label for="">Patient</label>
	
	<select id="record-hospital-doctor" name="record[hospital_id]" class="form-control" value="<%=@record['hospital_id']%>">

	<% for j in list.collect{|k| 
			
		  
			
		[k.id,"#{k.name}"]
	
		} 
		
		%>
	  <option value="<%=j[0]%>" <%="selected" if @record['hospital_id']==j[0] %>><%=j[1]%></option>
	<% end %>
	</select>
  </div>
  
  
	<%

	list = SHNetwork.all
		
	%>
  <div class="form-group">
    <label for="">Patient</label>
	
	<select id="record-hospital-doctor" name="record[network_id]" class="form-control" value="<%=@record['network_id']%>">

	<% for j in list.collect{|k| 
			
		  
			
		[k.id,"#{k.name}"]
	
		} 
		
		%>
	  <option value="<%=j[0]%>" <%="selected" if @record['network_id']==j[0] %>><%=j[1]%></option>
	<% end %>
	</select>
  </div>
	<%

	list = SHUserHospital.where(:provider_type=>'doctor').all
		
	%>
  <div class="form-group">
    <label for="">Hospital Doctor</label>
	
	<select id="record-hospital-doctor" name="record[hospital_doctor_id]" class="form-control" value="<%=@record['hospital_doctor_id']%>">

	<% for j in list.collect{|k| 
			
		provider = Provider.find k.provider_id
			
		[k.id,"#{provider.name}"]
	
		} 
		
		%>
	  <option value="<%=j[0]%>" <%="selected" if @record['hospital_doctor_id']==j[0] %>><%=j[1]%></option>
	<% end %>
	</select>
  </div>
  
  
	<%

	list = SHUserHospital.where(:provider_type=>'nurse').all
		
	%>
  <div class="form-group">
    <label for="">Hospital Nurse</label>
	
	<select id="record-hospital-doctor" name="record[hospital_nurse_id]" class="form-control" value="<%=@record['hospital_nurse_id']%>">

	<% for j in list.collect{|k| 
			
		provider = Provider.find k.provider_id
			
		[k.id,"#{provider.name}"]
	
		} 
		
		%>
	  <option value="<%=j[0]%>" <%="selected" if @record['hospital_nurse_id']==j[0] %>><%=j[1]%></option>
	<% end %>
	</select>
  </div>
  
	<%

	list = SHUserNetwork.where(:provider_type=>'doctor').all
		
	%>
  <div class="form-group">
    <label for="">Network Doctor</label>
	
	<select id="record-hospital-doctor" name="record[network_doctor_id]" class="form-control" value="<%=@record['network_doctor_id']%>">

	<% for j in list.collect{|k| 
			
		provider = Provider.find k.provider_id
			
		[k.id,"#{provider.name}"]
	 
		} 
		
		%>
	  <option value="<%=j[0]%>" <%="selected" if @record['network_doctor_id']==j[0] %>><%=j[1]%></option>
	<% end %>
	</select>
  </div>
  
  
	<%

	list = SHUserNetwork.where(:provider_type=>'nurse').all
		
	%>
  <div class="form-group">
    <label for="">Network Nurse</label>
	
	<select id="record-hospital-doctor" name="record[network_nurse_id]" class="form-control" value="<%=@record['network_nurse_id']%>">

	<% for j in list.collect{|k| 
			
		provider = Provider.find k.provider_id
			
		[k.id,"#{provider.name}"]
	
		} 
		
		%>
	  <option value="<%=j[0]%>" <%="selected" if @record['network_nurse_id']==j[0] %>><%=j[1]%></option>
	<% end %>
	</select>
  </div>
  
  
  
	<%

	list = SHUserNetwork.where(:provider_type=>'officer').all
		
	%>
  <div class="form-group">
    <label for="">Network Officer</label>
	
	<select id="record-hospital-doctor" name="record[network_officer_id]" class="form-control" value="<%=@record['network_officer_id']%>">

	<% for j in list.collect{|k| 
			
		provider = Provider.find k.provider_id
			
		[k.id,"#{provider.name}"]
	
		} 
		
		%>
	  <option value="<%=j[0]%>" <%="selected" if @record['network_officer_id']==j[0] %>><%=j[1]%></option>
	<% end %>
	</select>
  </div>