<textarea>
<%=@dobj.to_json%>
</textarea>
<%
    datas = @dobj['data']
    d1 = datas.first
    cols = {}
    if d1
        pe = d1['physicalExams']
        if pe
			
			for c in pe 
				
				cols[c['physicalExamCode']] = c
				
			end
			
			
        end
    end
%>
<table class="table table-striped">
<tr>
<th>Date</th>
<% for ci in cols.keys  

	col = cols[ci]

%>
<th><%=col['physicalExamCode']%> (<%=col['unit']%>)</th>
<% end %>
</tr>
<% for d in datas %>
<tr>
<td><%=d['recordDate']%></td>
<% for col in cols%>
<td><%=d['value']%></td>
<% end %>
</tr>
<% end %>
</table>

<%=%>