    <%# this.model.fields.sort.collect{|i| i.name}.join(" ")%>
<%# this.model.keys['date'].type%>
<%
	keys = this.model.keys.collect{|i| i unless i[0][0]=='_'}.compact
	for i in keys
%>


  <% if i[0] == 'product_group_id' %>
    <div class="form-group">
      <label for="product-group-id">Product Group</label>
      <select class="form-control" id="product-group-id" name="record[product_group_id]">
        <% EsmMiotMonitor::ProductGroup.all.each do |group| %>
          <option value="<%= group.id %>"><%= group.name %></option>
        <% end %>
      </select>
    </div>
  <% else %>
  <div class="form-group">
    <label for="product-name"><%=i[0].humanize%></label>
    <input type="text" class="form-control" id="record-<%=i[0]%>" name="record[<%=i[0]%>]" value='<%=@record[i[0]]%>' placeholder="<%=i[0]%>">
  </div>
  <% end %>
<% end %>
<br/>


