<h1><%=name params[:service]%> Assess Items</h1>
<%
   record =  this.model.find params[:id]


   if request.post?


	   old = EMSPatientStatusItem.where( :patient_status_id=>record.id ).all

	   for i in old
		  i.destroy
	   end

	   params[:i].each_with_index do |i,ix|

		  assessment = EMSAssessment.find i

		  item = EMSPatientStatusItem.create :name=> assessment.name, :position=>params[:p][ix], :assessment_id=>i , :patient_status_id=>record.id, :sort_order=>ix if assessment


	   end



	   %>
	   <meta http-equiv="Refresh" content="0; url='assess_items?id=<%=params[:id]%>'" />
	   <%#params.inspect %>
	   <%



	   %>
   <% end %>

   <%
  if true

if record

	keys = this.model.keys.collect{|i| i[0] unless i[0][0]=='_'}.compact

	for i in keys
%>
<div class="field">
<label><%=i.humanize%></label>
<%= record[i] %>
</div><% end %>
<% end %><hr/>
<%=link_to 'Edit', "edit?id=#{params[:id]}",:class=>'btn btn-info'%>
<%=link_to 'Back', 'index',:class=>'btn'%>
<hr/>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<%

	assess_list = EMSAssessment.all

	items = EMSPatientStatusItem.where(:patient_status_id=>record.id).all

	first_items = items.collect{|i| i if i.position=='first'}.compact
	second_items = items.collect{|i| i if i.position=='second'}.compact






%>
<div class="row">
<div class="col-4">
Template<br/>
<ul id="sortable1" class="droptrue">
	<% for i in assess_list %>
	 <li class="ui-state-default"><%=i.group.classify%> : <%=i.name %>
	 <input type="hidden" name="i[]" value="<%=i.id%>">
	 <input type="hidden" name="p[]" class="t" value="">

	 <!-- <a href="#" class="remote">[-]</a> -->
	 </li>
  <% end %>

</ul>
</div>

<!-- <ul id="sortable2" class="dropfalse">
  <li class="ui-state-highlight">Cannot be dropped..</li>
  <li class="ui-state-highlight">..on an empty list</li>
  <li class="ui-state-highlight">Item 3</li>
  <li class="ui-state-highlight">Item 4</li>
  <li class="ui-state-highlight">Item 5</li>
</ul> -->

<div class="col-8">



<form action="assess_items?id=<%=params[:id]%>" method="post">

<div class="row">
<div class="col-6">
First Page<br/>
<ul id="sortable2" class="droptrue" group="first">
  	<% for i in first_items

	assess = EMSAssessment.find i.assessment_id

	%>
  	 <li class="ui-state-default"><%=assess.group.classify if assess %> : <%=i.name %>
  	 <input type="hidden" name="i[]" value="<%=i.assessment_id%>">
  	 <input type="hidden" name="p[]" class="t" value="first">
  	 <a href="#" class="remote">[-] <%=i.sort_order%></a>
  	 </li>
    <% end %>
</ul>
</div>

 <div class="col-6">
Second Page<br/>
<ul id="sortable3" class="droptrue" group="second">
  	<% for i in second_items
		assess = EMSAssessment.find i.assessment_id
	%>
  	 <li class="ui-state-default"><%=assess.group.classify%> : <%=i.name %>
  	 <input type="hidden" name="i[]" value="<%=i.assessment_id%>">
  	 <input type="hidden" name="p[]" class="t" value="second">
  	 <a href="#" class="remote">[-] <%=i.sort_order%></a>
  	 </li>
    <% end %>
</ul>
</div>

</div>
<br/>
<input type="submit" value="update" class="btn btn-success">


</form>

</div>

</div>
  <script>
  $( function() {
    $( "ul.droptrue" ).sortable({
      connectWith: "ul",
    remove: function (e, li) {
        copyHelper = li.item.clone().insertAfter(li.item);
        $(this).sortable('cancel');
        return li.item.clone();
    },
	update: function(){
		var group = $(this).attr("group")
		$(this).find('.t').each(function(){

			$(this).val(group)

		})

	}



    });


	$('.remote').click(function(){
		obj = $(this).parent().remove()
	})


    $( "#sortable1, #sortable2, #sortable3" ).disableSelection();
  } );
  </script>

  <style>
  #sortable1, #sortable2, #sortable3 { list-style-type: none; margin: 0; float: left; margin-right: 10px; background: #eee; padding: 5px; width: 343px;}
  #sortable1 li, #sortable2 li, #sortable3 li { margin: 5px; padding: 5px; font-size: 1.2em; width: 320px; }
  </style>

  <% end %>
