<%

# record => ems_command


%>

		<div class="row">

<%
		
		ambulance_list = Ambulance.where({:zone_id=>ems_case.zone_id}).sort(:name=>1).all()
	   ch_map = {}
	   for ambu in ambulance_list
		ch_map[ambu.id] = EMSChannel.where({:name=>ambu.msg_channel}).first.id
	   end

%>
			<div class="col-12 col-lg-12 col-xl-4">
				<div class="card">
					<p class="p-3 mb-0">
						Case Info / คำสั่งการ
					</p>
					<div class="input-group px-3 pb-3">
						<%# f.textarea(:chief_complain, record.chief_complain, :class=>'form-control') %>
						<textarea name="record[init_command]" class="form-control"><%=record.init_command%></textarea>
					</div>
					<p class="px-3">

					Ambulance / รถพยายาบาล<span style="float:right">

						<a class="btn btn-info btn-sm" id="select-ambulance" data-bs-toggle="modal" data-bs-target="#selectAmbulanceModal" type="submit" value="เลือก">เลือก</a>
					</span>

					</p><%= f.select(:ambulance_id, Ambulance.where({:zone_id=>ems_case.zone_id}).sort(:name=>1).all().collect{|i| [i.id,"#{i.name} : #{i.plate_license}"] }, :value=>record.ambulance_id,:class=>'form-select mb-3 mx-3 w-auto') %>

					<p class="px-3">

					<%

					 channel_id = ems_case.channel_id
					 channel_id = record.channel_id if record.channel_id
					%>
  
					Communication Team<span style="float:right"></span>

					</p><%= f.select(:channel_id, EMSChannel.where({}).sort(:created_at=>1).all().collect{|i| [i.id.to_s,i.name]}, :value=>channel_id.to_s,:class=>'form-select mb-3 mx-3 w-auto') %>
<script>

var ch_map = <%=ch_map.to_json%>

$('#record_ambulance_id').change(function(){
	
	v = $(this).val()
	console.log(v)
	ch = $(this).find(":selected")
	ch_id = ch_map[v]	
	
	$('#record_channel_id').val(ch_id)
		
})

	
</script>



					<p class="px-3">

					EMS / เจ้าหน้าที่<span style="float:right">

					<a class="btn btn-info btn-sm" id="select-officer" data-bs-toggle="modal" data-bs-target="#selectProviderModal" type="submit" value="เลือก">เลือก</a></span>

					</p>

					<%

						ems_providers = EMSCommandProvider.where(:command_id=>record.id).all()

					%>

						<div class="" style="padding:0 20px 20px 20px;border:0px solid">


						<div class="command-provider-<%=record.id%> row">

						<% for i in ems_providers
						
							provider = i.provider
							
							if provider

						%>


						<div class="chip chip-md col-6">
							<img src="/rocker/assets/images/avatars/avatar-0.png" alt="Contact Person"><%=provider.code if provider%> : <%=provider.get_name if provider%>
						</div>
						<% else
						
						i.destroy
						
						  end %>
						  <% end %>
						</div>

						</div>

						<input type="hidden" name="providers" id="selected-providers" value="<%=ems_providers.collect{|i| i.provider_id}.join(",")%>" class="form-control mb-3 mx-3 w-auto">


														<!-- Modal -->
														<div class="modal fade" id="selectAmbulanceModal" tabindex="-1" aria-hidden="true" style="display: none;">
															<div class="modal-dialog modal-dialog-centered modal-lg">
																<div class="modal-content">
																	<div class="modal-header bg-primary bbg-gradient text-white">
																		<h5 class="modal-title text-white">Ambualance

																		</h5>
																		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
																	</div>
																	<div class="modal-body">
																				ambu
																	</div>
																</div>
															</div>
														</div>



															<!-- Modal -->
															<div class="modal fade" id="selectProviderModal" tabindex="-1" aria-hidden="true" style="display: none;">
																<div class="modal-dialog modal-dialog-centered modal-xl">
																	<div class="modal-content">
																		<div class="modal-header bg-primary bbg-gradient text-white">
																			<h5 class="modal-title text-white">Search :
																				<input type="text" id="provider_search" value=""/>
																			</h5>



																			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
																		</div>
																		<div class="modal-body">
																		<%

																			providers = Provider.all()

																		%>

																		<div class="row provider-list" style="height:30em;overflow:scroll">
																		<% for i in providers %>
						  													<% if i.code !='' || i.get_name != ' ' %>
																			<div class="col-4 search-provider " id="provider-<%=i.id%>">
																			<div class="chip chip-md chip-select  " provider_id="<%=i.id%>" >
																				<img src="/rocker/assets/images/avatars/avatar-0.png" alt="Contact Person">
																				<%=i.code%> : <%=i.get_name%>
																			</div>
																			</div>
																			<% end %>
																		<% end %>
																		</div>
																	</div>

																	<script>


																			$('#provider_search').change(function(e){
																				e.preventDefault()
																				return false;
																			})

																			$('#provider_search').keyup(function(e){

																					key = $(this).val()
																					if(e.which == 13){
																						e.preventDefault();
																					}
																					if(key.length>0){

																						$('.search-provider').each(function(){
																							f = $(this).find('.chip-select')
																							attr = f.attr('selected')
																							if (typeof attr !== 'undefined' && attr !== false) {

																							}else{
																									$(this).hide()
																							}

																						})
 																						var providers = <%=providers.to_json%>
																						count = 0
																						last_id = null;
																						for(var ix in providers){

																							i = providers[ix]

																							if(i['code']==key){
																								 count +=1 ;
																								 last_id = i['_id']
																								 $('#provider-'+i['_id']).show()
																							}


																						}

																						if(count==1&&e.which == 13 ){

																							t = $('#provider-'+last_id).find('.chip-select')
																							t.attr('selected','selected')
																							$('#provider_search').val("")
																							$('.search-provider').show()
																							$('#provider_search').focus()
																							t.addClass("bg-info")
																							e.preventDefault();
																						}



																					}
																					else{

																						$('.search-provider').show()


																					 }

																					 	e.preventDefault();
																						return false;

																			});
																	</script>

																		<div class="modal-footer">

																			<span class="modal-title text-info">Provider :
																				<input type="text" id="provider_name" value=""/>
																			</span>
																			<span class="modal-title text-info">Code :
																				<input type="text" id="provider_code" value=""/>
																			</span>
																			<span class="modal-title text-info">Role :
																				<select id="provider_role">
																					<option value="ems">EMS</option>
																					<option value="emt">EMT</option>
																					<option value="doctor">Doctor</option>
																					<option value="nurse">Nurse</option>
																				</select>
																			</span>
																			
																			<button type="button" class="btn btn-warning provider-add" >Add</button>
																			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
																			<button type="button" class="btn btn-primary officer-select">Select</button>
																		</div>
																	</div>
																</div>
															</div>

															<script>


																$('.provider-add').click(function(){
																	
																	name = $('#provider_name').val()
																	code = $('#provider_code').val()
																	role = $('#provider_role').find(":selected").val()
																	

																	$.ajax({
																    url: "<%=get_path 'add_provider'%>?name="+name+"&code="+code+"&role="+role,
																	  context: document.body
																	}).done(function(html) {

																	  	$( '.provider-list' ).append(html);


																	});



																	selected = $(this).attr("selected")

																	console.log(selected)
																	if(selected!='selected'){

																		$(this).addClass("bg-info")
																		$(this).attr('selected','selected')
																		$('#provider_search').val("")
																		$('.search-provider').show()

																	}else{
																		$(this).removeClass("bg-info")
																		$(this).removeAttr('selected')
																	}


																})
																

																$('.chip-select').click(function(){

																	selected = $(this).attr("selected")

																	console.log(selected)
																	if(selected!='selected'){

																		$(this).addClass("bg-info")
																		$(this).attr('selected','selected')
																		$('#provider_search').val("")
																		$('.search-provider').show()

																	}else{
																		$(this).removeClass("bg-info")
																		$(this).removeAttr('selected')
																	}


																})

																$('.officer-select').click(function(e){

																	var providers = []

																	$('.chip-select[selected*="selected"]' ).each(function(){

																		pid = $(this).attr('provider_id')
																		providers.push(pid)

																	})


																	$.ajax({
																    url: "<%=get_path 'show_providers'%>?providers="+providers.join(","),
																	  context: document.body
																	}).done(function(html) {

																	  $( '.command-provider-<%=record.id%>' ).html(html);
																	});

																	$('#selectProviderModal').modal('hide');


																	$('#selected-providers').val(providers.join(","))


																	e.preventDefault()
																	return false;
																})

																$('#select-ambulance').click(function(e){

																		e.preventDefault();
																		return false;

																});

																$('#select-officer').click(function(e){

																	providers = $('#selected-providers').val().split(",")
																	if(providers.length>0){
																	$('.chip').removeAttr('selected')

																	for(var ip in providers){
																			p = providers[ip]
																			$('.chip-select[provider_id="'+p+'"]').each(function(){
																				$(this).attr('selected','selected')
																				$(this).addClass("bg-info")
																			})
																	}
																	}



																	e.preventDefault();
																	return false;
																})


																$('#selectProviderModal').on('show.bs.modal', function() {


																	setTimeout(function(){

																			$('#provider_search').focus()
																	}, 500);


																});

															</script>


				</div>
			</div>



				<div class="col-12 col-lg-12 col-xl-8">
					<div class="card radius-10">
						<div class="card-header bg-transparent">
							<div class="d-flex align-items-center">
								<div>
									<h6 class="mb-0">
										สถานที่เกิดเหตุ
									</h6>
								</div>
								<div class="dropdown ms-auto">
									<a class="dropdown-toggle dropdown-toggle-nocaret" href="#" data-bs-toggle="dropdown" aria-expanded="true"></a>
									<ul class="dropdown-menu" data-popper-placement="bottom-start" style="">
										<li>
											<a class="dropdown-item" href="javascript:;">Action</a>
										</li>
										<li>
											<a class="dropdown-item" href="javascript:;">Another action</a>
										</li>
										<li>
											<hr class="dropdown-divider">
										</li>
										<li>
											<a class="dropdown-item" href="javascript:;">Something else here</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="card-body">
							<style>
							       /* Set the size of the div element that contains the map */
							      #dashboard-map {
							        height: 380px;  /* The height is 400 pixels */
							        width: 100%;  /* The width is the width of the web page */
							       }
							      #dashboard-map-2 {
							        height: 380px;  /* The height is 400 pixels */
							        width: 100%;  /* The width is the width of the web page */
							       }
							    </style>
							<div class="row">
							<div class="col-md-6">
								<label for="inputLastName1" class="form-label"><span class="t" text="address" >ที่อยู่</span></label>
								<div class="input-group"> <span class="input-group-text bg-transparent"><i class="bx bxs-user"></i></span>
								<input name='case[address]' id="record_address" value="<%=ems_case.address%>" readonly="readonly" class="form-control border-start-0 " type="text" placeholder="ที่อยู่" aria-label="default input example">
								</div>
							</div>
							<div class="col-md-6">
								<label for="inputLastName1" class="form-label"><span class="t" text="location">พิกัด</span></label>
								<div class="input-group"> <span class="input-group-text bg-transparent"><i class="bx bxs-user"></i></span>
								<input name='case[latlng]' id="record_latlng" value="<%=ems_case.latlng%>" readonly="readonly" class="form-control border-start-0 " type="text" placeholder="ที่อยู่" aria-label="default input example">
								</div>
							</div>
							</div>
							<br/>
							<div id="dashboard-map-c" style="height: 400px">
								map
							</div>
							<%#render_map  'dashboard-map', :center=>'13.69313508354787, 100.69198345629769', :main_pin=>{:latlng=>'13.656436171031853, 100.70025782511473'} %>


							<script>
								
								function beforeInit(){
								
								latlng = [13.69313508354787, 100.69198345629769]


								<% if ems_case.latlng and ems_case.latlng.index(',') %>
								latlng = [<%=ems_case.latlng%>]
								<% end %>



								mapc = new EMSMap('dashboard-map-c', {change_marker:false});
								mapc.setPosition(latlng[0], latlng[1])
								mapc.setMarkerPosition(latlng[0], latlng[1])

								mapc.changeMarkerPosition(function(marker){

								 <%
			 
			 zone = Zone.find(session[:current_zone])
				ambu_list = Ambulance.where(:zone_id=>zone).sort(:name=>1).all
				for ambu in ambu_list

			%>
			
			a = <%=ambu.to_json%>

			var t = a['last_location'].split(",")
			var pos = new google.maps.LatLng(parseFloat(t[0]), parseFloat(t[1]))

			var image = "<%=url_for("ems/ambu.png")%>";

                marker_map = new google.maps.Marker({position: pos,icon: image,  map: mapc.getMap(),label:{
                    fontSize: '20px',
                    text: a['name'],
                    className: 'marker-position',
                    
                }});
                
			<%
			
			end

			%>


								}.bind(this))

				      
					  		  }

								
								
								setMapInitCallback(beforeInit,null);

							</script>


						</div>
					</div>

			</div>


		</div>
<script>
	$('form input').on('keypress', function(e) {
    return e.which !== 13;
});
</script>