<% 

	ems_case = EMSCase.find params[:case_id]
	
%>
	
	<h2>ข้อมูลสั่งการ</h2>
	
	<hr/>

	<div class="row">
	
	<div class="col-12 col-lg-4 col-xl-4">
		
		<% 
		
		commands = ems_case.commands
			
		for i in commands
		%>
		
		<div class="card">
			<p class="p-3 mb-0">
				คำสั่งการ : <%=i.init_command%>  รถพยาบาล : <%=i.ambulance.name%>
				
				
				<a href="<%=get_path "update?id=#{i.id}" %>" class="btn btn-info btn-sm" data-remote="true"  style="float:right" data-remote-update="command">แก้ไข</a>
				
			</p>
			<p class="p-3 mb-0">
				ออกปฏิบัติการ : 
				<div class="p-3">
				<% for j in i.providers 
					
					name = j.name
					provider = nil
					provider = j.provider
					name = provider.name if provider
				%>
				
					<div class="chip chip-md">
						<img src="/rocker/assets/images/avatars/avatar-1.png" alt="Contact Person"><%=name%>
					</div>
				
				<% end %>
				</div>
			</p>
			
		</div>
		
		<% end %>
		
		
		<a href="<%=get_path "create?case_id=#{ems_case.id}" %>" class="btn btn-info" data-remote="true" data-remote-update="command">เพิ่มทีม</a>
		
	</div>
	
		<div class="col-12 col-lg-8 col-xl-8">
			<div class="card radius-10">
				<div class="card-header bg-transparent">
					<div class="d-flex align-items-center">
						<div>
							<h6 class="mb-0">
								ค้นหาสถานที่
							</h6>
						</div>
						<div class="dropdown ms-auto">
							<a class="dropdown-toggle dropdown-toggle-nocaret" href="#" data-bs-toggle="dropdown" aria-expanded="true"></a>
							<ul class="dropdown-menu" data-popper-placement="bottom-start" style="">
								<li>
									<a class="dropdown-item" href="javascript:;">Action</a>
								</li>
								<li>
									<a class="dropdown-item" href="javascript:;">Another action</a>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li>
									<a class="dropdown-item" href="javascript:;">Something else here</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="card-body">
					<style>
					       /* Set the size of the div element that contains the map */
					      #dashboard-map {
					        height: 380px;  /* The height is 400 pixels */
					        width: 100%;  /* The width is the width of the web page */
					       }
					      #dashboard-map-2 {
					        height: 380px;  /* The height is 400 pixels */
					        width: 100%;  /* The width is the width of the web page */
					       }
					    </style>
					<div class="row">
					<div class="col-md-6">
						<label for="inputLastName1" class="form-label"><span class="t" text="address" >ที่อยู่</span></label>
						<div class="input-group"> <span class="input-group-text bg-transparent"><i class="bx bxs-user"></i></span>
						<input name='record[address]' id="record_address" value="<%=ems_case.address%>" class="form-control border-start-0 " type="text" placeholder="ที่อยู่" aria-label="default input example"> 
						</div>
					</div>
					<div class="col-md-6">
						<label for="inputLastName1" class="form-label"><span class="t" text="location">พิกัด</span></label>
						<div class="input-group"> <span class="input-group-text bg-transparent"><i class="bx bxs-user"></i></span>
						<input name='record[latlng]' id="record_latlng" value="<%=ems_case.latlng%>" class="form-control border-start-0 " type="text" placeholder="ที่อยู่" aria-label="default input example"> 
						</div>
					</div>					
					</div>
					<br/>
					<div id="dashboard-map-c" style="height: 400px">
						map
					</div>
					<%#render_map  'dashboard-map', :center=>'13.69313508354787, 100.69198345629769', :main_pin=>{:latlng=>'13.656436171031853, 100.70025782511473'} %>
					
				
					<script>
						latlng = [13.69313508354787, 100.69198345629769]
						<% if Setting.get('aoc_center') %>
						latlng = [<%=Setting.get('aoc_center') %>]
						<% end %>
						<% if ems_case.latlng and ems_case.latlng.index(',') %>
						latlng = [<%=ems_case.latlng%>]
						<% end %>
						
						
						
						mapc = new EMSMap('dashboard-map-c');
						mapc.setPosition(latlng[0], latlng[1])
						mapc.setMarkerPosition(latlng[0], latlng[1])
						
						mapc.changeMarkerPosition(function(marker){
							
							// var pos = marker.position
	// 						$('#record_latlng').val(""+pos.lat()+","+pos.lng())
	//
	//
	//
	// 						map1.geocode({'location':pos},function(result){
	//
	// 							$('#record_address').val(result.formatted_address)
	//
	// 						})
	//
	// 						map2.setPosition(pos.lat(), pos.lng())
	// 						map2.setMarkerPosition(pos.lat(), pos.lng(), false)
								
						}.bind(this))
						
						mapc.init()
					</script>
			
					
				</div>
			</div>
	
	</div>
	
	
	
	</div>
	
	
	

	<script>
	
		refresh_remote()
	</script>