
<h2>แก้รายการ Commander</h2>
		
		
<% 

ems_command = EMSCommand.find params[:id]
ems_case  = EMSCase.find ems_command.case_id

if request.post? 


	
if params[:record]

	p = params[:record]
	
	# patient_id = nil
# 	patient = Patient.find p[:patient_id] if p[:patient_id]
#
# 	unless patient
#
# 		patient = Patient.create :name=>p[:patient_name], :hn=>p[:patient_hn], :public_id=>p[:patient_cid], :contact_name=>p[:contact_name], :contact_phone=>p[:patient_phone],:zone_id=>session[:current_zone]
#
# 	end
#
# 	patient_id = patient.id if patient
#
#
# 	admit = Admit.create :zone_id=>session[:current_zone], :patient_id=> patient_id
#
# 	p[:admit_id] = admit.id
# 	p[:zone_id] = session[:current_zone]
# 	p[:patient_id] = patient_id
# 	p[:status] = "New"
#
# 	counter_key = Time.now.strftime("%y%m")
#
# 	counter = EMSCaseCounter.where(:key=>counter_key).first
# 	counter = EMSCaseCounter.create(:key=>counter_key, :count=>0) unless counter
#
# 	case_no = "#{counter_key}-#{format('%04d',counter.count+1)}"
#
# 	p[:case_no] = case_no
#
	
	ems_command.update_attributes p
	
	providers = ems_command.providers
	for i in providers
		i.destroy
	end
	
	if params[:providers]
	for i in params[:providers].split(",")
			
		command_provider = EMSCommandProvider.create :command_id=>ems_command.id, :provider_id=>i
		
	end
	end
	
		
	
	
end
	


%>
Update ... <%=Time.now%>
<META HTTP-EQUIV="Refresh" CONTENT="1;URL=show?id=<%=ems_case.id%>">


<% else %>

<%
	
	
	
%>

<form action="<%= get_path 'update'%>" method="post" data-remote='true' data-remote-update="reqeust-panel">
<% fieldset(:record) do |f| %>	
<input type="hidden" name="id" value="<%=ems_command.id%>">
<%= inline(this,:'_form', :this=>this, :f=>f, :record=>ems_command, :ems_case=> ems_case)  %>


<% end %>
<input type="submit" name="update" value="Update" class="btn btn-success"> 

<a href="<%=get_path "show?case_id=#{ems_case.id}" %>" class="btn " data-remote="true" data-remote-update="command">Cancel</a>


</form>

<div id="reqeust-panel">

</div>
<% end %>

<script>
	refresh_remote()
</script>