
<%= inline(this,:'../home/_monitor') %>

<style>
.header{
	line-height:3em;

	background-color: rgb(19, 38, 58);
}
.conference{
	height:500px;
	background-color: black;
}
.map{
	height:500px;
		background:#aaa;
}

.selected{
	background:#133;
}

.value{
}
</style>
<script>
$('#main-container').removeClass('container')
</script>

<div class="selection row header context-header"  style="color:white">
	
	<div class="col-1" >
	<%=link_to '+', "create",:class=>'btn btn-success'%>
	<span class="ambu-name "><span class="value">-</span></span>
	
	</div>
	
	<div class="col-3" >
	<span class="head">Patient : </span>
	<span class="patient-name "><span class="value">-</span></span>
	
	<span class="head">CID : </span>
	<span class="patient-cid "><span class="value">-</span></span>
	
	<span class="head">HN : </span>
	<span class="patient-hn "><span class="value">-</span></span>
	<span class="head">Age : </span>
	<span class="patient-age "><span class="value">-</span></span>
	<span class="head">Sex : </span>
	<span class="patient-gender "><span class="value">-</span></span>
	
	</div>
	
	<div class="col-6" >
	
	
	
	<span class="head">Contact : </span>
	<span class="patient-contact"><span class="value">-</span></span>
	
	
	<span class="head">Indication : </span>
	<span class="patient-indication "><span class="value">-</span></span>
	
	<span class="head">Note : </span>
	<span class="patient-note "><span class="value">-<span></span>
	
	</div>

	
	
</div>

<div class="row " style="color:white">
	
	<div class="col-8">
		
		<div class="row context-panel" style="height:300px;border:0px solid #ccc;font-size:1.2em">
			<div class="col-4 station" id="panel-a">
				<div class="row">
				<div class="col-6  pr">
					<span class="label">PR</span>
					<div class="value">-</div>
				</div>
				<div class="col-6   bp">
					<span class="label">BP</span>
					<div class="value">-</div>
				</div>

					<div class="col-6   temp">
						<span class="label">Temp</span>
						<div class="value">-</div>
					</div>
					<div class="col-6  rr">
						<span class="label">RR</span>
						<div class="value">-</div>
					</div>

				<div class="col-6  spo2">
					<span class="label">SpO2</span>
					<div class="value">-</div>
				</div>

			    <div class="col-6  hr">
				    <span class="label">HR</span>
				    <div class="value">-</div>
			    </div>
				
			</div>
			</div >
			
			<div class="col-4" id="panel-b">
			
				<style>
					.wave{
						min-height:3em;
						background:#111;
						border:1px solid #333;
					}
				</style>

				<div id="wave-0" class="wave col-lg-12  order-1" style="">

				</div>
				
				<div id="wave-1" class="wave col-lg-12  order-1" style="">

				</div>
				
				<div id="wave-2" class="wave col-lg-12  order-1" style="">

				</div>
				
				<div id="wave-3" class="wave col-lg-12  order-1" style="">

				</div>
				
				<div id="wave-4" class="wave col-lg-12  order-1" style="">

				</div>
				
				
				
			</div >
			<div class="col-4" id="panel-c">
				<div style="width:100%;height:300px;overflow:hidden;font-size:0.5em">
					<iframe id="frame"  style="margin-left:-20px;margin-top:-20px;width:115%;height:340px"></iframe>
				</div>
				<script>
				    $(window).load(function(){
				     $('iframe').load(function() {
						
				       });
				       $('#loading').show();
				       $('iframe').attr( "src", "https://103.76.181.125:8080/808gps/open/player/video.html?lang=en&devIdno=819112150&account=admin&password=admin");

				     });
				</script>
				
		<!--
				
				<div id="wave-6" class="wave col-lg-12  order-1" style="">

				</div>
				
				<div id="wave-7" class="wave col-lg-12  order-1" style="">

				</div>
				
				<div id="wave-8" class="wave col-lg-12  order-1" style="">

				</div>
				
				<div id="wave-9" class="wave col-lg-12  order-1" style="">

				</div>
				
				<div id="wave-10" class="wave col-lg-12  order-1" style="">

				</div>
			
			-->
				
			</div >
		</div>
		<div class="row">
			<div class="col-12" style="background-color: rgb(19, 38, 58);line-height:3em;padding:10px">
				<center>
				<%=link_to 'Mode1',"\#", :class=>'btn btn-info',:style=>"line-height:3em" %>
				
				<%=link_to 'Mode2',"\#", :class=>'btn btn-info',:style=>"line-height:3em" %>
				
				<%=link_to 'Mode3',"\#", :class=>'btn btn-info',:style=>"line-height:3em" %>
				
				<%=link_to 'Mode4',"\#", :class=>'btn btn-warning',:style=>"line-height:3em" %>
				
			</center>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
			
				
				<div id="panel-ambulance" class="row" style="border:0px solid blue;background:#111;color:#fff;">
					
						<div class="col-12" style="">
						<div class="row hidden" >
							<div class="col-1">
							Ambulance
							</div>
							
							<div class="col-5">
							Patient
							</div>
							<div class="col-2">
							Conference
							</div>
							
							<div class="col-4">
							Monitor
							</div>

						</div>
						</div>
					
					
					<%

						host = 'prod.vidyo.io'

						ambulances = Ambulance.all

						display_name = "userDemo#{rand(999)}"
						cmd = "node apps/esm-miot-monitor/lib/vidyo.js --key #{Setting.get :vidyo_key} --appID #{Setting.get :vidyo_app_id} --userName #{display_name} --expiresInSecs 3000"
						out = `#{cmd}`
						puts cmd
						puts out
						out = out.split("\n")
						puts out.inspect
						
						puts 
						token = out[-1]
						@token = token

						for i in ambulances 
							admit= nil
							patient = nil
							station = nil
							staiton_id = nil
							resource_id = i.name
							
							admit = Admit.where(:status=>'Admitted', :ambulance_id=>i.id).first
							
							if admit and admit.status=='Admitted'
							
					
							patient = admit.patient if admit
							
							
							if admit 
								
								station = admit.station
								station_id= station.name
							
							end
							
							else
								
								station_id = ''
								admit = nil
								
							
							end
							
					%>
					<div  id="ambu-<%=i.id%>" class="col-12  ambu-row" style="height:120px;font-size:0.8em;border-bottom:1px solid #666;padding:0px;padding-right:15px;">
					<style>
					
						span.head{
							color:#bbb;
						}
					</style>
					<div class="station-<%=station_id%> row " >
						<div class="col-1 select-<%=i.id%> " >
						<center>
						<%=link_to i.name,"../Ambulance/show?id=#{i.id}"%><br/>
						<%=link_to i.plate_license,"../Ambulance/show?id=i#{i.id}"%><br/>
						<%=link_to i.phone,"../Ambulance/show?id=#{i.id}"%>
						</center>	
						</div>
						<div class="col-5">
						<div class="row" style="">
						<% if patient 
							hn = '-'
							hn = patient.hn if patient.hn and patient.hn!=''
							age = '-'
							cid = '-'
							cid = patient.public_id if patient.public_id
							now = Time.now
							age = Time.now - patient.dob if patient.dob 
							gender = '-'
							gender = patient.gender if patient.gender
						%>
						<div class="col-4"><span class="head">Patient:</span><span class="patient-name value"><%= patient.prefix_name %><%= patient.first_name %> <%= patient.last_name %></span>
						<span class="head">CID:</span> <span class="patient-cid value"><%=cid%></span><br/>
						<span class="head">HN:</span> <span class="patient-hn value"><%=hn%></span> 
						<span class="head">Age:</span> <span class="patient-age value"><%=age%></span>
						<span class="head">Sex:</span> <span class="patient-gender value"><%=gender%></span><br/>
						<span class="head">Contact:</span> <span class="patient-contact value"><%=patient.contact_name%> <%="(#{patient.contact_phone})" if patient.contact_phone%></span>
						</div>
						<div class="col-4">
						<span class="head">Indication:</span> <span class="patient-inditcation value">
							<%=admit.note%></span>
						</div>
						<div class="col-4">
						<span class="head">Note:</span> <span class="patient-note value"></span>
						</div>
						<% end %>
						</div>
						<div class="row">
							<div class="col-6">
								<span class="head">Head to:</span> <span class="ambu-headto value">-</span>
							</div>
							<div class="col-6">
								<span class="head">Location:</span> <span class="ambu-address value">-</span>
							</div>
						</div>
						<div class="row">
							<div class="col-4">
								<span class="head">Est:</span> <span class="ambu-est value">- mins</span>
							</div>
							<div class="col-4">
								<span class="head">Speed:</span> <span class="ambu-speed value">- km/h</span>
							</div>
							<div class="col-4">
								<span class="head">Duration:</span> <span class="ambu-start value">- mins</span>
							</div>
						</div>
						
						
						</div>
						<div class="col-1">
						
								<% if admit %>
								<a href="../Admit/show?id=<%=admit.id%>" class="btn btn-warning" >Flow</a><br/>	
								<% end %>
								<a href="" id="call-<%=i.id%>" class="btn btn-success" >Call</a><br/>	
								
								<a target="_blank" href='https://static.vidyo.io/latest/connector/VidyoConnector.html?host=<%=host%>&autoJoin=1&resourceId=<%=resource_id%>&displayName=<%=display_name%>&token=<%=@token%>' class="btn btn-info">Share</a>
							
								<script>
					
								</script>

						
						</div>
						<div class="col-5 station" style="font-size:0.8em">
						
						
						<div class="row">
						
						
							<div class="col-6 col-lg-2 col-sm-3 pr">
								<span class="label">PR</span>
								<div class="value">-</div>
							</div>
							<div class="col-6 col-lg-2 col-sm-3  bp">
								<span class="label">BP</span>
								<div class="value">-</div>
							</div>

								<div class="col-6 col-lg-2 col-sm-3  temp">
									<span class="label">Temp</span>
									<div class="value">-</div>
								</div>
								<div class="col-6 col-lg-2 col-sm-3  rr">
									<span class="label">RR</span>
									<div class="value">-</div>
								</div>

							<div class="col-6 col-lg-2 col-sm-3  spo2">
								<span class="label">SpO2</span>
								<div class="value">-</div>
							</div>

						    <div class="col-6 col-lg-2 col-sm-3  hr">
							    <span class="label">HR</span>
							    <div class="value">-</div>
						    </div>
						
						
						
						</div>
						
							<div class="row">
								
									<div id="wave-<%=station_id%>" class="col-lg-12  order-1" style="min-height:5em;background:#111">

									</div>
								
							</div>
						
						
						
						</div>

					
						</div>
					
					
					
					
				</div>
<% end %>



						</div>
			
			
				<div id="panel" class="row" style="border:0px solid blue;background:#111;color:#fff;">

				<% 	  
				
			
				
 					  @current_zone = Zone.first
					  @current_zone = Zone.find session[:current_zone] if session[:current_zone]
					  @current_zone = Zone.first unless @current_zone
					  
					  # @current_zone = Zone.where(:name=>'Ambu').first
					  
					  
					  admits = []
					  admits = @current_zone.admits.where(:status=>'Admitted').all if @current_zone
					 # admits =  Admit.where(:status=>'Admitted').all


					  stations = Station.find(admits.collect{|i| i.station_id})

				%>
				</div>
			
			
			
			
			
			</div>
			
		</div>
		
		
	</div>
	<div class="col-4">
		
		<div class="conference">
			<%=inline(this,:'_vidyo')%>
		</div>
		
		<div class="map">
			<%=inline(this,:'_map')%>
		</div>
		
	</div>
	
	
</div>



		<script type="text/javascript">
	    

			$(document).ready(function(){
					
				var selected_ambu = null;
				var selected_station_id = null;
				
				
		<% for i in ambulances 
				
				

				resource_id = i.name
				
				admit = nil
				admit = Admit.where(:ambulance_id=>i.id, :status=>'Admitted').first
				
				patient = nil
				patient = admit.patient if admit
				
				station_id = 'station_id'
				
				if admit
					
					station = admit.station
					station_id= station.name
				
				end
				
				
				%>
					
					
					
				$('#call-<%=i.id%>').click(function(event){
					$('.callEnd').click();
					setTimeout(function(){ 

							$('#resourceId').val("<%=i.name%>")
							$('.callStart').click();

						}, 1500);
						event.preventDefault()
				})
				
				$('.select-<%=i.id%>').click(function(event){
					
					
					
					$(".ambu-row").removeClass('selected');
					$("#ambu-<%=i.id%>").addClass('selected');
					
					if(selected_station_id!=null){
						$('.context-panel').removeClass('station-'+selected_station_id)
						$('.context-header').removeClass('station-'+selected_station_id)
						
					}
					selected_ambu = "<%=i.id%>"
					selected_station_id = "<%=station_id%>"
					
					$('.context-panel').addClass('station-<%=station_id%>')
					$('.context-header').addClass('station-<%=station_id%>')
					
					
					
					$('#resourceId').val("<%=i.name%>")
					
					show_wave_data['0'] = [];
					show_wave_data['1'] = [];
					show_wave_data['2'] = [];
					show_wave_data['3'] = [];
					show_wave_data['4'] = [];
					
					$('#wave-0').html("")
					$('#wave-1').html("")
					$('#wave-2').html("")
					$('#wave-3').html("")
					$('#wave-4').html("")
					
					var full = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '');
					prefix = full+"/<%=@context.settings.name%>"
					admit_path = prefix+"/Station/show?id=<%=station_id%>"
					<% if admit %>	
					admit_path = prefix+"/Admit/show?id=<%=admit.id%>"
					<% end %>
					
					// dvr_path = "https://103.76.181.125:8080/808gps/open/player/video.html?lang=en&devIdno=<%=i.device_no%>&jsession=3883c38b-c306-4f48-a837-7c9a8dcda3f0"
					dvr_path = "https://103.76.181.125:8080/808gps/open/player/video.html?lang=en&devIdno=<%=i.device_no%>&account=admin&password=admin"
					tele_path = ""
					
					console.log("#select view1|"+admit_path+" view2|"+dvr_path+" view3|"+tele_path)
					
					// $('.callEnd').click();
// 					setTimeout(function(){
//
// 							$('#resourceId').val("<%=i.name%>")
// 					        $('.callStart').click();
//
// 						}, 1500);
//
					event.preventDefault()

				})
				
			<% end %>	
				
				
			<%=inline(this,:'_ecg.js')%>
   

	     // var wave_data = [];
		 
		 var show_wave_data = {};
		 
		 var wave_data = {};

	<% 5.times do |i| %>
	   
	   i = "<%=i%>"
	   
	   show_wave_data[i] = [];

	  showWave('wave-<%=i%>',show_wave_data, i );
	
    <% end %>


		<% for i in stations.collect{|i| i.name}.sort %>
		   
		   i = "<%=i%>"
		   
		   wave_data[i] = [];
	
		  showWave('wave-<%=i%>',wave_data,i);
		
	    <% end %>
	
   
   	 <%=inline(this,:'_websocket.js')%>
	
	  var ws  = new WebSocket('wss://' + window.location.host + "/<%=@context.settings.name%>/Home/index");
	
	
      ws.onopen    = function()  { show('websocket opened'); 

	  	ws.send('WS.Select name=<%=session.id%>\n["Zone <%="miot/#{@context.settings.name}/z/#{@current_zone.name}"%>","ZoneUpdate zone_id=*","Alert station_id=*","Data.Image station_id=*"]')

	  };
    
	
	  ws.onclose   = function()  { show('websocket closed'); 
		
	 	setTimeout(function () {
	       // window.location.href = "index"; //will redirect to your blog page (an ex: blog.html)
	    }, 2000); //will call the function after 2 secs.
	

      }
	  
      ws.onmessage = function(m) { 
	console.log("zz"+m.data.length)	
		  <% if params[:debug] %>
		show(''+m.data)
		  <% end %>
		
		lines = m.data.split("\n")
		
		// console.log(lines[0].split(" ")[0])
		if(lines[0].split(" ")[0]=='Alert'){
			data = JSON.parse(lines[1])
		
			$('#'+data['station']).addClass('bp_alert_2');
			$('#'+data['station']+' .msg').html(data['alert']);
			
			// play sound it is work
			ion.sound.play("bell_ring");
			
		}else
		if(lines[0].split(" ")[0]=='Data.Image'){
		
			lines.shift()
			img = lines.join("")
			// alert('image '+m.data.length)
			
			$("#image").attr('src','data:image/jpg;base64,'+ JSON.parse(img))
			
			
		}
		else
		if(lines[0].split(" ")[0]=='ZoneUpdate'){

		data = JSON.parse(lines[1])
	
			
		$('.timer').html(data['time'])
			console.log(selected_ambu)	
		if(selected_ambu&&data['ambu_data']){
				
			ambu = data['ambu_data'][selected_ambu]
			admit = data['admit_data'][ambu['admit_id']]
			if(admit){
				console.log(admit['patient']['first_name'])
					
				$('.selection .ambu-name .value').html(ambu['name'])
				$('.selection .patient-name .value').html(admit['patient']['first_name']+" "+admit['patient']['last_name'])
			}
			
			
				
		}	
		console.log("yy"+data['list'].length)	

		for(var id in data['list']){
			i = data['list'][id]
			
			
			  obj = data['data'][i]
				
			 // console.log(obj)
			if(obj){
			
			  if(true){	

				    // wave_data.push(obj['wave']);
			   		// wave_data = wave_data.concat(obj['wave']);
					// for(var j=0;j<obj['leads'].length;j++){
					// 	wave_data[i].push(obj['wave'][j]);
					// }
					// console.log(wave_data)
					// console.log(i)
					if(wave_data[i]==null){
						wave_data[i] = []
					}
					console.log("xx"+id)
					wave_data[i] = 	wave_data[i].concat(obj['leads'][2])
				   	 // console.log(wave_data[i])
	   				// console.log("v"+i+" "+wave_data[i].length);
					// wave_data = obj['wave'];
			   }
			
			
			if(selected_ambu&&data['ambu_data']){
				
					admit = data['admit_data'][ambu['admit_id']]
				
				if(admit&&i==admit['station_name']){
					
					console.log( "Lat "+obj['lat']+" Lng " + obj['lng'])
				    var latlng = {lat: parseFloat(obj['lat']), lng: parseFloat(obj['lng'])};
					
					marker.setPosition(latlng);
					map.setCenter(latlng);
					
				    var path = poly.getPath();
				    path.push(marker.position);
					
					
					show_wave_data['0'] = 	show_wave_data['0'].concat(obj['leads'][0])	
					show_wave_data['1'] = 	show_wave_data['1'].concat(obj['leads'][1])	
					show_wave_data['2'] = 	show_wave_data['2'].concat(obj['leads'][2])	
					show_wave_data['3'] = 	show_wave_data['3'].concat(obj['leads'][3])	
					show_wave_data['4'] = 	show_wave_data['4'].concat(obj['leads'][4])
					
					
				}
				
			}
			
		    			
			
			 	console.log(obj)
				$('.station-'+i+' .hn').html(obj['ref'])
			
				if($('.station-'+i+' .bp').html()!=obj['bp']){
					$('.station-'+i).addClass('bp_alert');
					$('.station-'+i).removeClass('bp_alert_2');
					$('.station-'+i+' .msg').html("-");
				}else{
					$('.station-'+i).removeClass('bp_alert');
					// $('#'+i).removeClass('bp_alert_2');
					// $('#'+i+' .msg').html("-");
				}
			
				$('.station-'+i+' .bp .value').html(obj['bp'])
			
				$('.station-'+i+' .temp .value').html(obj['temp'])
			
				$('.station-'+i+' .hr .value').html(obj['hr'])
				$('.station-'+i+' .pr .value').html(obj['pr'])
				$('.station-'+i+' .rr .value').html(obj['rr'])
				$('.station-'+i+' .spo2 .value').html(obj['spo2'])
			
			
				$('.station-'+i+' .score .value').html(obj['score'])
			
			    sos = parseInt(obj['score']);
				color = 'none'
				
				if(sos<2)color='#262'
				if(sos<4&&sos>=2)color='#662'
				if(sos>=4)color='#622'
				
				
				
				$('.note-panel-'+i).css('background',color);
			
		}
			
		}
		 }
	 };


	
	})
   


   </script>
	<!-- Modal -->
	<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        ...
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>
	
<div style="font-size:0.8em;color:#999">
  	<div style="float:right" class="timer">
	00:00
	</div>
By GEXINTEC Co.,Ltd. 2019. <a href="tel:+66865443352">0865443352</a>
</div>

<br/>

<%= inline(this,:'../home/_scoring') %>

<i style="color:#666">  <div id="msgs" style="font-size:0.8em"></div></i>
