<% 

if request.post? 

    if params[:record] and params[:pid]

        record = EMSKProcess.find params[:pid]
        if record
            record.update_attributes params[:record]
        end
                
    end
		
end 
%>

<%
    pid = params[:pid]
    p = EMSKProcess.find pid
    if p
%>
<div class="card border-start border-0 border-4 border-primary">
    <div class="card-body p-2">
        
        <div class="row g-3">
            <div class="col-2">
            <label for="record_order" class="form-label">No.</label>
            <input type="text" name="record[order]" class="form-control" id="record_order-<%=p.id%>" value="<%=p.order%>">
            </div>
            <div class="col-10">
                <label for="record_name" class="form-label">TH</label>
                <textarea class="form-control" name="record[name]" id="record_name-<%=p.id%>" placeholder="คำถาม หรือ คำแนะนำ..." rows="3"><%=p.name%></textarea>
            </div>
            <div class="col-2">
            </div>
            <div class="col-10">
                <label for="record_name_en" class="form-label">EN</label>
                <textarea class="form-control" name="record[name_en]" id="record_name_en-<%=p.id%>" placeholder="Question or instruction..." rows="3"><%=p.name_en%></textarea>
            </div>
            
            <div class="col-6 mx-auto pt-3">
                <a href="javascript:updateProcess('<%=pid%>')" class="btn btn-primary px-3"><i class="bx bx-save"></i> Save</a>
                <a href="javascript:reloadProcess()" class="btn btn-light px-3"><i class="bx bx-x"></i> Cancel</a>
            </div>
            <div class="col-2 pt-3">
                <a href="javascript:delProcess('<%=pid%>')" class="btn btn-light px-3">&nbsp;<i class="bx bx-trash"></i></a>
            </div>
        </div>
    </div>
</div>
<%
    end #if p
%>