<%
    if params[:wid]
    processs = EMSKProcess.where(:kworkflow_id=>params[:wid]).all()
    for p in processs
%>
<div id="<%=p.id%>">
    <div class="card radius-10 border shadow-none">
    <div class="card-body">
        <div class="row d-flex align-items-center">
        <div class="col-10">
            <%=p.order%><p class="mb-0 "><%=p.name%></p>
            <p class="mb-0 "><%=p.name_en%></p>
        </div>
        <div class="col align-self-end">
            <!--<a href="./flow_show?id=<%=p.id%>" class="btn btn-light">edit</a>-->
            <a href="javascript:editProcess('<%=p.id%>');" class="btn btn-light">edit</a>
        </div>
        </div>
    </div>
    </div>
</div>
<%  end%>
<%  end%>