<%
    if params[:id]
    flow = EMSKWorkflow.find params[:id]
%>

<div class="card">
<div class="card-body">
<h1><%=flow.name%></h1>

<div class="col-12 col-lg-8 col-xl-8">
  <form action="<%= get_path 'process_create'%>" method="post" data-remote='true' data-remote-update="kprocess_panel">
    <input type="hidden" name="record[kworkflow_id]" value="<%=flow.id%>">
    <div class="card-body p-0">
      <label for="exampleDataList" class="form-label">ค้นหาอาการ</label>
      <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
      <datalist id="datalistOptions">
        <option value="San Francisco">
        </option><option value="New York">
        </option><option value="Seattle">
        </option><option value="Los Angeles">
        </option><option value="Chicago">
        </option></datalist>
    </div>

    <br>
    <div id="kprocess_list">
    <%
        processs = EMSKProcess.where(:kworkflow_id=>flow.id).all()
        for p in processs
    %>
    <div class="card radius-10 border shadow-none">
      <div class="card-body">
        <div class="row d-flex align-items-center">
          <div class="col-10">
            <p class="mb-0 "><%=p.name%></p>
          </div>
          <div class="col align-self-end">
            <a href="./flow_show?id=<%=p.id%>" class="btn btn-light">edit</a>
          </div>
        </div>
      </div>
    </div>
    <%  end%>
    </div><!--kprocess_list-->

    <div class="input-group"> 
		<textarea id="record_name" name="record[name]" class="form-control" aria-label="With textarea" spellcheck="false"></textarea><grammarly-extension data-grammarly-shadow-root="true" style="position: absolute; top: 0px; left: 0px; pointer-events: none; z-index: 3;" class="cGcvT"></grammarly-extension><grammarly-extension data-grammarly-shadow-root="true" style="mix-blend-mode: darken; position: absolute; top: 0px; left: 0px; pointer-events: none; z-index: 3;" class="cGcvT"></grammarly-extension>
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">บันทึก</button>
    </div>

  </form>
</div>


<div class="col-12 col-lg-4 col-xl-4">
</div>
<div id="kprocess_panel">
  result
</div>

</div>
</div>

<% end #if params%>