<%
    if params[:id]
    flow = EMSKWorkflow.find params[:id]
%>

<div class="card">
<div class="card-body">
<div class="row">
<div class="col-9"><h3><%=flow.name%></h3></div>
<div class="col-3">

<a href="index" class="btn btn-light"><< Back</a>
<a href="_flow_json?id=<%=params[:id]%>" target="_blank" class="btn btn-light">JSON</a>
<a href="javascript:delFlow('<%=params[:id]%>');" class="btn btn-light" >&nbsp;<i class="bx bx-trash"></i></a>

</div>
</div>


<input type="hidden" id="wid" value="<%=params[:id]%>">
<input type="hidden" id="m_process_id" value="">
<div class="col-12 col-lg-12 col-xl-12">
  <form action="<%= get_path 'process_create'%>" method="post" data-remote='true' data-remote-update="kprocess_panel">
    <input type="hidden" name="record[kworkflow_id]" value="<%=flow.id%>">
    <!--<div class="card-body p-0">
      <label for="exampleDataList" class="form-label">ค้นหาอาการ</label>
      <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
      <datalist id="datalistOptions">
        <option value="San Francisco">
        </option><option value="New York">
        </option><option value="Seattle">
        </option><option value="Los Angeles">
        </option><option value="Chicago">
        </option></datalist>
    </div>-->

    <br>
    <div id="kprocess_list">
    
    </div><!--kprocess_list-->


            <div class="card border-start border-0 border-4 border-primary">
							<div class="card-body p-3">
								<div class="card-title d-flex align-items-center">
									<div><i class="bx bxs-plus-square me-1 font-22 text-primary"></i>
									</div>
									<h5 class="mb-0 text-primary">Add Process</h5>
								</div>
								<hr>
								<div class="row g-3">
 
									<div class="col-12">
										<label for="record_name" class="form-label">TH</label>
										<textarea class="form-control" name="record[name]" id="record_name" placeholder="คำถาม หรือ คำแนะนำ..." rows="3"></textarea>
									</div>

									<div class="col-12">
										<label for="record_name_en" class="form-label">EN</label>
										<textarea class="form-control" name="record[name_en]" id="record_name_en" placeholder="Question or instruction..." rows="3"></textarea>
									</div>
									
									<div class="col-8 mx-auto pt-3">
										<button type="submit" class="btn btn-primary px-5"><i class="bx bx-plus"></i> Add</button>
									</div>
								</div>
							</div>
						</div>

  

  </form>
</div>


<div class="col-12 col-lg-4 col-xl-4">
</div>

<div id="kprocess_panel">
  result
</div>

</div>
</div><!--card-->


<div class="modal fade" id="actionModal" tabindex="-1" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Action</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="javascript:saveAction()" class="btn btn-primary">Add</a>
      </div>
    </div>
  </div>
</div><!--modal-->

<script>

function addAction(pid){
  wid = $("#wid").val()
  $("#m_process_id").val(pid)
  $.ajax({
    url: "../EmsKM/action_modal?wid="+wid+"&pid="+pid,
  }).done(function(html) {
    $( '.modal-body' ).html(html);
  });
  $("#actionModal").modal('toggle');
}

function saveAction(){
  kprocess_id=$("#m_process_id").val()
  kworkflow_id=$("#wid").val()
  name=$("#m_sel").val()
  type=$("#m_action").val()
  message=$("#m_message").val()
  linkto_process_id=$("#m_process").val()
  linkto_workflow_id=$("#m_flow").val()
  //alert("name="+name+" kprocess_id="+kprocess_id)
  $.ajax({
    type:"POST",
    url:"../EmsKM/action_create",
    data:{record:{kworkflow_id:kworkflow_id,kprocess_id:kprocess_id,name:name,type:type,message:message,linkto_process_id:linkto_process_id,linkto_workflow_id:linkto_workflow_id}}
  }).done(function(data){
    reloadProcess()
    $("#actionModal").modal('toggle');
  })
}

function delAction(id){
  if(confirm('Are you sure?')){   
    $.ajax({
      url:"../EMSKAction/destroy?id="+id,
    }).done(function(data){
      reloadProcess()
    })
  }
}

function reloadProcess(){
  wid = $("#wid").val()
  $.ajax({
    url: "../EmsKM/process_list?wid="+wid,
  }).done(function(html) {
    $( '#kprocess_list' ).html(html);
  });
}
reloadProcess()

function editProcess(pid){
  $.ajax({
    url: "../EmsKM/process_edit?pid="+pid,
  }).done(function(html) {
    $( '#'+pid ).html(html);
  });
}
function updateProcess(pid){
  name = $("#record_name-"+pid).val()
  name_en = $("#record_name_en-"+pid).val()
  order = $("#record_order-"+pid).val()
  // alert('pid='+pid+' \nname='+name+' \nname_en='+name_en+' \norder='+order)
  $.ajax({
    type:"POST",
    url:"../EmsKM/process_edit",
    data:{record:{name:name,name_en:name_en,order:order},pid:pid}
  }).done(function(data){
    reloadProcess()
  })
}
function delProcess(pid){
  if(confirm('Are you sure?')){   
    $.ajax({
      url: "../EmsKM/process_del?pid="+pid,
    }).done(function(html) {
      reloadProcess()
    });
  }
}
function delFlow(id){
  if(confirm('Are you sure?')){   
    
    $.ajax({
      url: "../EmsKM/flow_del?id="+id,
    }).done(function(html) {
      window.location.href="../EmsKM/index"
    });
  }
}
</script>
<% end #if params%>