<div class="col" style="width:300px;margin:0px;padding:0px">
    <div class="row">
    <div class="col-12">
    <div class="head-hn">
   <center>ชั่งน้ำหนัก-ส่วนสูง</center>
    </div>
    </div>
    <div class="col-12">
    <div class="display-hn" >
    <%=params[:hn]%>
    </div>
    
    </div>
    <div class="col-12">
	<label>น้ำหนัก (kg)</label>
	<div class="display-hn weight pad" px="weight" >
    <%=params[:weight]%>
    </div>
    
	<label>ส่วนสูง (cm)</label>	
    <div class="display-hn height pad" px="height" >
    <%=params[:height]%>
    </div>
	
	<div class="modal hide" style="display:none">
    <div class="display-hn" >
    <%=params[:value]%>
    </div>
	
	<div class="d-hn">
		
    <table width="">
    <tr>
        <td><div class="btn-hn">1</div></td>
        <td><div class="btn-hn">2</div></td>
        <td><div class="btn-hn">3</div></td>
    </tr>
    <tr>
        <td><div class="btn-hn">4</div></td>
        <td><div class="btn-hn">5</div></td>
        <td><div class="btn-hn">6</div></td>
    </tr>
    <tr>
        <td><div class="btn-hn">7</div></td>
        <td><div class="btn-hn">8</div></td>
        <td><div class="btn-hn">9</div></td>
    </tr>
    <tr>
        <td><div class="btn-hn">-</div></td>
        <td><div class="btn-hn">0</div></td>
        <td><div class="btn-hn">C</td>
    </tr>
    </table>
	
	</div>
	
	
    <!-- <a href="#" id="beep" style="display:none"></a> -->
    </center> 

    </div>
	
	
	<form action="/send" method="post">
  	  <input type="hidden" id="hn" name="hn" value="<%=params[:hn]%>">
  	  <input type="hidden" id="debug" name="debug" value="<%=params[:debug]%>"> 
	  <input type="hidden" id="weight" name="weight" value="<%=params[:weight]%>">
	  <input type="hidden" id="height" name="height" value="<%=params[:height]%>">
	<% unless params[:err] %>
	
	<center>  <input type="submit" value="ส่งข้อมูล" class="btn btn-primary btn-opd"></center>
	<% else %>
	<center>  <input type="submit" value="ส่งใหม่" class="btn btn-primary btn-opd">
	<div  style="color:red;">Err : <%=params[:err_msg]%></div>
	</center>
	
	
	<% end %>
	
	</form>
	<!-- <a href="log" class="btn-result-cancle" style="float:right">View log</a>  -->
    </div>
    </div>

 <center><a href="/"><label>ยกเลิก</label></a></center>
<div style='float:left'><div id="timer" style="color:#ddd;">- T</div></div>
<div style='float:right'><div id="temp" style="color:#ddd;">- C</div></div>
</div>
</div>


<% if params[:debug]%>
<div id="out" style="color:#333;"></div>
<% end %>
<script>
	
	var count = 0; 
	
	$('.pad').click(function(){
		
		px = $(this).attr('px')
		
		hn = $('#hn').val()
		w = $('#weight').val()
		h = $('#height').val()
		
		location.href = '/pad?hn='+hn+'&weight='+w+'&height='+h+'&select='+px;
		
	})

	function fresh(){
		
		<% 
			
		url = "/get"
		url = "/get?debug=1" if params[:debug]
			
		%>
		
		$.ajax({
		  url: "<%=url%>",
		  context: document.body
		}).done(function(data) {
			console.log(data)
			obj = JSON.parse(data)
			
			if(obj['time']){
				
				t = obj['time'].split(' ')[1];
				$('#timer').html('T '+t)
				
			}
			
			if(obj['temp']){
				
				
				$('#temp').html(obj['temp']+'C')
				
			}
			
			if(obj['weight']!=""&&obj['weight']!=null){
				w = parseFloat(obj['weight'])
				$('#weight').val(obj['weight'])
				$('.weight').html(obj['weight'])
			}
			
			if(obj['height']!=""&&obj['height']!=null){
				h = parseFloat(obj['height'])
				$('.height').html(h*100)
				$('#height').val(h*100)
			}
			
			$('#out').html(data);
		});
		
		if(count>300){
			location.href = '/'
		}
		count++;
		
	}

setInterval(fresh, 1000);

</script>

<style>
	label{
		font-size:2em;
	}
	</style>