<%
    if params[:id]
        current_room = Room.find(params[:id])
    else
        current_room = room
    end
    
    records = ERCase.where(room_id: current_room.id, :status=>'Admitted').all

%>


    <div class="row gy-4">
    <div class="d-flex flex-wrap justify-content-start">
    <%  
        beds = Bed.where(:room_id=>current_room.id).sort(:name=>1).all

        beds.each do |bed| 
        data = {}
        record = ERCase.where(:bed_id=>bed.id, :status=>'Admitted').first
        if record
            admit = Admit.find(record.admit_id)
            patient = Patient.find(admit.patient_id)
            
          

            last_data_record = DataRecord.where({admit_id: admit.id}).sort(:stamp=>1).first
            if last_data_record
                data = last_data_record
            else
                data = {}
            end
        else
            record  = nil
            admit = Admit.new
            patient = Patient.new
        end
 
    %>
 <style>
    .patient-card {
        border: 2px solid yellow;
        border-radius: 10px;
        padding: 15px;
        max-width: 500px;
    }
</style>
  <%
                station = Station.find(admit.station_id)
 %>
    <a href="show?id=<%=record.id if record%>">   
    <div class="card  m-2  patient-card  <%='station-'+station.name if station%> room-<%=current_room.name%>" style="background-color: <%=current_room.bg_color%>;">
            <div class="row g-2 mb-2">
                <div class="col-2">
                    <input type="text" class="form-control text-center" value="<%=bed.name%>" readonly>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control text-center" value="<%=patient.to_s%> <%=patient.gender%> <%=patient.to_age%>" readonly>
                </div>
                <div class="col-4">
                    <input type="text" class="form-control text-center fw-bold" value="<%=record.case_no if record%>" readonly>
                </div>
            </div>
            <div class="d-flex justify-content-between">
            <% if record and record.date %>
                <span>IN <%=record.date.strftime("%H:%M")%></span>
                <span>Stay <%=((Time.now - record.date) / 3600).round(1)%> Hr</span>
            <% else %>
                <span>IN -</span>
                <span>Stay -</span>
            <% end %>
            </div>
            <div class=""></div>
          
            <input type="text" class="form-control text-center mb-2" value="<%=station.name if station%>" readonly>
            <div class="row g-2 mb-2">
                <div class="col-3">
                    <button class="btn btn-light w-100 bp"><%=data['bp']%>&nbsp;</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-light w-100 pr"><%=data['pr']%>&nbsp;</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-light w-100 spo2"><%=data['spo2']%>&nbsp;</button>
                </div>  
                <div class="col-3">
                    <button class="btn btn-light w-100 rr"><%=data['rr']%>&nbsp;</button>
                </div>
            </div>
            <%
                orders = Order.where(admit_id: admit.id).all
                items = OrderItem.where(order_id: orders.map(&:id), :status=>{'$nin'=>['cancel','completed']}).all

                
            %>
            <div class="row g-2">
                <% for item in items[0..3] 
                    product = item.product
                %>
                <div class="col-3"> 
                    <button class="btn btn-light w-100"><%=product.name%><br/><span class="badge bg-secondary "><%=item.status%> <%=item.created_at.strftime("%H:%M")%></span></button>
                </div>
                <% end %>
                
            </div>
        </div>
   
    </a>
<% end %>
    </div>
    
   <center> <%= Time.now %> </center>
    
       </div>

<script>
    

    var current_room = '<%= current_room.bg_color %>';
    var dark_room = darkenColor(current_room, 0.1);

    $('.room-<%=current_room.name%>').css('border-color', dark_room);
    
</script>

