<%
    lists = []


    records = ERCase.where(:status=>{'$in'=>['New','Admitted']}).order(:room_id=>1,:created_at=>1)
    
    lists << {'name'=>'New/Admitted', 'list'=>records}

    records = ERCase.where(:status=>{'$in'=>['Discharged', 'Referred']}).order(:room_id=>1,:created_at=>1)
   
    lists << {'name'=>'Discharged/Referred', 'list'=>records}


%>

        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Registration </div>
            <div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page"></li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
                        <div class="btn-group">
							<a href="create" class="btn btn-primary">+ Patient</a>
                        </div>
						<div class="btn-group">
							<button type="button" class="btn btn-primary">Settings</button>
							<button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
							</button>
							<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>
								<a class="dropdown-item" href="javascript:;">Another action</a>
								<a class="dropdown-item" href="javascript:;">Something else here</a>
								<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
							</div>
						</div>
					</div>
				</div>
    <style>
        .table th {
            background-color: gray;
            color: white;
            text-align: center;
        }
        .table td {
            text-align: center;
        }
        .gray-bg {
            background-color: #ccc;
        }
        .red-bg {
            background-color: #f8caca;
        }
        .yellow-bg {
            background-color: #fff5b1;
        }
        .pink-bg {
            background-color: #f8c1ff;
        }
    </style>


    <% for list in lists 
        if list['list'].size > 0
        %>
    <div class="card">
    <div class="card-body">
        <h3><%= list['name'] %></h3>
  <table class="table table-bordered table-striped">
            <thead>
                <tr>
                     <th>เลขที่เคส</th>
                    <th>ชื่อ-นามสกุล</th>
                    <th>เพศ</th>
                    <th>อายุ</th>
                    <th>Bed</th>
                    <th>แพทย์</th>
                    <th>หมายเหตุ</th>
                    <th>เวลาเข้า</th>
                    <th>ระยะเวลา (min)</th>
                    <th>สถานะ</th>
                    <th>จัดการ</th>

                </tr>
            </thead>
            <tbody>
            <% for er_case in list['list'] 
               
                er_case.case_no = "N/A" unless er_case.case_no && er_case.case_no != ""


                admit = Admit.find(er_case.admit_id)
                if admit
                patient = Patient.find(admit.patient_id)
                room = nil
                doctor = nil
                bed = nil
                if admit.room_id
                    room = Room.find(admit.room_id)
                    bed = Bed.find(admit.bed_id)
                    room = bed.room
                    
                    doctor = Provider.find(er_case.provider_id)
                    resident = Provider.find(er_case.resident_id)
                    nurse = Provider.find(er_case.nurse_id)
                    nurse_assistant = Provider.find(er_case.nurse_assistant_id)


                end 

            %>
                <tr class="" >
                    <td><%=link_to er_case.case_no, "show?id=#{er_case.id}" %></td>
                    <td><%= patient.to_s %></td>
                    <td><%= patient.gender %></td>
                    <td><%= patient.to_age %></td>
                    <td style="background: <%= bed.room.bg_color if bed and bed.room %>"><%= bed.name if bed %></td>
                    <td><%= doctor.name if doctor %></td>
                    <td><%= er_case.special %></td>
                    <td><%= er_case.created_at.strftime('%Y-%m-%d %H:%M') %></td>
                    <td><%= ((Time.now - er_case.created_at) / 60).round(1) %> </td>
                    <td><%= er_case.status %><%= "<br/>"+er_case.referred_to if er_case.referred_to and er_case.referred_to != ""%></td>
                      <td>
                        <a href="destroy?id=<%= er_case.id %>" 
                           onclick="return confirm('คุณแน่ใจหรือไม่ที่จะลบข้อมูลนี้?')"
                           class="btn btn-outline-danger btn-sm">&nbsp;
                            <i class="bx bx-trash"></i>
                        </a>
                    </td>
                </tr>
                  <% else %>
                    <tr> 
                        <td><%=link_to er_case.case_no, "show?id=#{er_case.id}" %></td>
                        <td colspan="8">ไม่พบข้อมูล</td>
                        <td><%= er_case.status %><%= "<br/>"+er_case.referred_to if er_case.referred_to and er_case.referred_to != ""%></td>
                      <td>
                        <a href="destroy?id=<%= er_case.id %>" 
                           onclick="return confirm('คุณแน่ใจหรือไม่ที่จะลบข้อมูลนี้?')"
                           class="btn btn-danger btn-sm">
                            <i class="bx bx-trash"></i>
                        </a>
                    </td>
                    </tr>
                <% end %>
            <% end %>
            </tbody>
        </table>
    </div>
</div>
<% end %>
<% end %>