<%
require 'json'
	
senses = Sense.find(params[:ids].split(","))
first = senses[0]
last = senses[-1]
	senses_data = senses.collect{|i| JSON.parse(i.data) }
	
%>

<div class="report" >
	<style>
		#printable { display: none; }

		    @media print
		    {
		        #non-printable { display: none; }
		        #printable { display: block; }
		    }
	</style>
<h1>ECG.  <%=first.start_time.strftime("%d/%m/%Y %H:%M:%S") if first %>  - <%=last.stop_time.strftime("%H:%M:%S") if last %>  
<span style="float:right" id="non-printable">
	<%=link_to 'Close' ,"javascript:window.close();", :class=>'btn'%>
	<%=link_to 'Print' ,"javascript:ecg_print();", :class=>'btn btn-info'%></span>
</h1>
<hr/>

			<% 6.times do |w| %>
			<div class="row">
			<div class="col-lg-12">
			L<%=w+1%>
			</div>
		
			<div id="wave-<%=w%>" class="col-lg-11 order-lg-3 order-3" style="min-height:5em;background:white">
		
			</div>
		
			</div>
		
			<% end %>
			

<script>
	
	

 var lead_data = {};
     
 <%= inline(this,:'_ecg.js') %>
	
 


    // var wave_data = [];

 <% 6.times do |i|  %>
  	i = <%=i%>
    lead_data[i] = [];
   
	<% for s in senses_data %>
	lead_data[i] =  lead_data[i].concat(<%=s['leads'][i.to_s]%>);
	<% end%>
	
    presetWave('wave-<%=i%>')

    i = "<%=i%>"

   // genData(lead_data[i]) 
  
   printWave('wave-<%=i%>',lead_data[i],i);
 
 <% end %>				
   function ecg_print(){
	   print();
	   // w=window.open();
  // 	   w.document.write($('.report').html());
  // 	   w.print();
  // 	   w.close();
  //
   }
  
	
</script>
   
   </div>