   <script src="<%=url_for('hls/hls.js')%>"></script>

<%= inline(this,:'../home/_monitor') %>

<%
	station = Station.find params[:id]
	
	admit = station.admits.where(:status=>'Admitted', :station_id=>station.id).last
		

	
%>
<div id="panel" class="row" style="border:0px solid blue;background:#111;color:#eee;">

<% 1.times do |i| 
	i = station.name
	%>

<div id="<%=i%>"  class=" col-12 station active-station " style="border-right:0px solid #888">
	<div class="row" style="background:#666">
		
		<div class="col-2 text-left ">
		<%= link_to station.to_s,"../Station/show?id=#{station.id}",:class=>'btn' %>
		</div>
		<div class="col-7 text-center">
			<%
			
			if admit
				patient = admit.patient
			
			%>
			<%= link_to "#{patient.name} (#{patient.hn})","../Admit/show?id=#{admit.id}", :class=>'btn' if admit %>
			<% end %> 	
	
		</div>
		<div class="col-3">
			
		<%= link_to "","../Station/show?id=#{station.id}",:class=>'btn hn' %>
		
		</div>
		
			
	</div>
	<div  class="row align-items-start">
		<div class="col-lg-6 order-2">
		<% if station.stream_url and station.stream_url.index('m3u8')%>
		 <video id="video" width="100%" controls autoplay="true"></video>
		<script>
		  var video = document.getElementById('video');
		  var videoSrc = '<%=station.stream_url%>';
		  if (Hls.isSupported()) {
		    var hls = new Hls();
		    hls.loadSource(videoSrc);
		    hls.attachMedia(video);
		    hls.on(Hls.Events.MANIFEST_PARSED, function() {
		    //   video.play();
		    });
		  }

		  else if (video.canPlayType('application/vnd.apple.mpegurl')) {
		    video.src = videoSrc;
		    video.addEventListener('loadedmetadata', function() {
		      video.play();
		    });
		  }
		</script>
		<% else %>
			<center><img src="<%= station.stream_url%>" height="300"></center> 
		<% end %>
		</div>
		<div class="col-lg-6 order-lg-1order-1">
			<div class="row">
						<div class="col-6  col-lg-3 col-sm-3 pr">
							<span class="label">PR</span>
							<div class="value">-</div>
						</div>
						<div class="col-6  col-lg-3 col-sm-3 bp">
							<span class="label">BP <span style="font-size:0.8em" class="bp-mean"></span></span>
							<div class="value">-</div>
						</div>
			
							<div class="col-6  col-lg-3 col-sm-3 cvp">
								<span class="label">CVP</span>
								<div class="value">-</div>
							</div>
							
							<div class="col-6  col-lg-3  col-sm-3 rr">
								<span class="label">RR</span>
								<div class="value">-</div>
							</div>
			
						<div class="col-6  col-lg-3 col-sm-3 spo2">
							<span class="label">SpO2</span>
							<div class="value">-</div>
						</div>
							<div class="col-6  col-lg-3 col-sm-3 hr">
								<span class="label">HR</span>
								<div class="value">-</div>
							</div>	
							
							
									<div class="col-6  col-lg-3 col-sm-3 temp">
										<span class="label">Temp</span>
										<div class="value">-</div>
									</div>
									<div class="col-6 col-lg-3 col-sm-3 co2">
									    <span class="label">CO2</span>
										<div class="value">-</div> 
									</div>
						<div class="col-6 col-lg-3 col-sm-3 cc">
						    <span class="label">LC</span>
							<div class="value">-</div> 
						</div>
						<div class="col-6 col-lg-3  col-sm-3 uc">
							<span class="label">UO</span>
							<div class="value">-</div>
						</div>
						<div class="col-6 col-lg-3  col-sm-3 msg">
							<span class="label">MSG</span>
							<div class="value" style="font-size:1em;color:gray">-</div>
						</div>
						<div class="col-6 col-lg-3  col-sm-3 score">
							<span class="label">Score</span>
							<div class="value" ><%=admit.score if admit%></div>
						</div>
						
						
			</div>
		</div>
		<div class="col-lg-6 order-lg-2 order-2 " style="display:none;border:1px solid #333;border-radius: 5px;">
			<div class="row">
					<div class="col-6 score" style="border:0px solid blue;text-align:center">
							<%

							if admit
								patient = admit.patient

							%>
							<span></span>
							<%else %><span>&nbsp;</span>
							<% end %>
						<div class="value" style='font-size:4em;'>
						- 
						</div>
						
					</div>
					
					<div class="col-6" style="border:0px solid blue;">

						
					</div>
					
					
			</div>
			<div class="row text-center">
				
			</div>
			
			<div class="row">
			
			</div>
		</div>
		<br/><br/><br/>
		<div style=""  class="col-lg-12 order-lg-12 order-3">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs">
  		  <li class="nav-item nav-itemx">
  		    <a class="nav-link " data-toggle="tab" id="menu1-link" href="#menu1">ECG Monitor</a>
  		  </li>
		  <li class="nav-item nav-itemx">
		    <a class="nav-link " data-toggle="tab" id="menu2-link" href="#menu2">Scoring System</a>
		  </li>
	
		  <li class="nav-item nav-itemx">
		    <a class="nav-link" data-toggle="tab" id="menu3-link" href="#menu3">Flow Sheet</a>
		  </li>
		  <li class="nav-item nav-itemx">
		    <a class="nav-link" data-toggle="tab" href="#menu4">Medication</a>
		  </li>
		  <li class="nav-item nav-itemx">
		    <a class="nav-link" data-toggle="tab" href="#menu5">Video & Image</a>
		  </li>
		
		  
		</ul>

		<!-- Tab panes -->


		<div class="tab-content">
		 
		  <div id="menu1" class="tab-pane fade ">
			<p>
		    <h3 style="padding-left:20px">ECG Monitor
			<div style="float:right;padding-right:20px">
		     <span><%=link_to 'History', '#',:class=>'btn btn-info', :id=>'ecg-history-btn' %></span>
		    <span><%=link_to 'Print', "print_ecg?id=#{params[:id]}",:class=>'btn btn-info',:target=>'_blank' %></span>
			</div>
			</h3>
			<% if admit %>
			<div class="col-12">
			<% patient = admit.patient %>
			Patient Name : <%=patient.name%>  <span style="float:right">HN : <%=patient.hn if patient%></span>
			</div>
			<% end %>
			<script>
				<% if admit %>
						$('#ecg-history-btn').click(function(){
							
							$.ajax({
							  url: "ecg_history?admit_id=<%=admit.id %>",
							  context: document.body
							}).done(function(content) {
							
							  $( '#ecg-history' ).html( content);
							
							  	$('#ecg-history').slideToggle();
							});
						})
				<% end %>
					</script>
					<div id="ecg-history" style="display:none">
					</div>
			
			
					<div id="ecg-result">
					</div>
			
			<% 
			
			labels = %w{ECGII SPO2 ECGIII CH4 CH5 CH6}
			labels = %w{CH1 CH2 CH3 CH4 CH5 CH6 CH7 CH8 CH9 CH10 CH11 CH12 CH13 CH14}
			labels = %w{CVP dV1 dV3 dV4 aVF I II III V2 V5 Ven1 Ven2 CH13 SpO2}
			
			         lx = %w{31-1 25-22 6-1 1-2 1-3 1-4 1-34 1-36 1-37 1-40 1-43 1-45 1-46 1-48  95-54 95-55 95-57}
					 
					 

 			           lxi = %w{31-1 25-22 6-1   1-2 1-3 1-4 1-34 1-36 1-37 1-40 1-43 1-45 1-46 1-48  95-54 95-55 95-57}
				   
 			           # lx = %w{31-1 25-22 6-1   1-2 1-36 1-43 1-46   1-3 1-34 1-37 1-40  1-4 1-35 1-45 1-48    95-54 95-55 95-57}
					 
					 
			           ll = {}
			   			
						
					   ll['31-1'] = 'CO2'
   			           ll['25-22'] = 'SpO2'
   			           ll['6-1'] = 'ART'
			   
   			           ll['1-2'] = 'I'
   			           ll['1-3'] = 'II'
   					   ll['1-4'] = 'III'
			   
   					   ll['1-34'] = 'aVR'
   					   ll['1-36'] = 'aVL'
   					   ll['1-35'] = 'aVF'
					   
   			           ll['1-37'] = 'V2'
	           
   					   ll['1-40'] = 'V5'
					   
   					   ll['1-43'] = 'dV1'
   					   ll['1-45'] = 'dV3'
   			           ll['1-46'] = 'dV4'
   					   ll['1-48'] = 'aV6'
			 
   					   ll['95-54'] = 'VenI'
   			           ll['95-55'] = 'VenII'
   					   ll['95-57'] = 'VenIII'
			labels = lx.collect{|x| ll[x]}
			
				
			16.times do |w| %>
			<div class="row">
			<div class="col-lg-12">
			<%=labels[w]%> <span id="wave-<%=w%>-note" style="font-size:0.7em;color:gray"></span>
			</div>
		
			<div id="wave-<%=w%>" class="col-lg-11 order-lg-3 order-3" style="min-height:5em;background:#111">
		
			</div>
		
			</div>
		
			<% end %>
			
			
			</p>
		  </div>
		  
  		  <div id="menu2" class="tab-pane fade  ">
  			    	<p>
  	    <h3 style="padding-left:20px">Scoring System
		<div style="float:right;padding-right:20px">
	    <span><%#link_to 'History', '#',:class=>'btn btn-info' %></span>
	    <span><%=link_to 'Print', '#',:class=>'btn btn-info' %></span>
		</div>
		</h3>
		 
		<div id="result" class= "col-lg-12 order-lg-4 order-4">
        <%=link_to 'Admit', "../Admit/create?record[station_id]=#{params[:id]}"%>
		</div>
		
  		</p>
  		  </div>
		  
		  
		  <div id="menu3" class="tab-pane fade">
		    <p><h3 style="padding-left:20px">Flow Sheet
			<div style="float:right;padding-right:20px">
		    <span><%=link_to 'History', '#',:class=>'btn btn-info' %></span>
		    <span><%=link_to 'Print', '#',:class=>'btn btn-info' %></span>
			</div>
			</h3>

		<style>
		        .viewport {
		            top: 0px;
		            left: 0px;
		            overflow-y: auto;
		            right: 0px;
		            height: 800px;
					width:800px;
					font-size:0.8em;
					
		            background-color: white;
		            border: 0px solid #000;
		/*            border-radius: 4px;*/
		/*            box-shadow: inset 1px 1px 6px 2px rgba(0,0,0, .25);*/
		        }
				svg text {
				    -webkit-user-select: none;
				       -moz-user-select: none;
				        -ms-user-select: none;
				            user-select: none;
				}
				svg text::selection {
				    background: none;
				}
		        .info-svg {
		            fill: #2968AA;
		            overflow: visible;
		        }
		
	
		
		</style>
	

		<%= inline(this,:'_flowsheet') %>
		
		    
			</p>
		  </div>
		  
		  <div id="menu4" class="tab-pane fade">
		    <p>
		    <div id="medication-panel"></div>
			<script>
		
				// $.ajax({
				// 	  url: "medication?station_id=<%=station.id%>&admit_id=<%=admit.id if admit%>",
				// 	  context: document.body
				// 	}).done(function(data) {
				// 		  
				// 	$('#medication-panel').html(data)
				// 		        });
				// 	
			</script>
			
		   </p>
		  </div>
		  
		  <div id="menu5" class="tab-pane fade">
	
		</div>
			</p>
		  </div>
		  
		</div>
	  </div>
		
		<div>
		
		
		</div>
		

	</div>

</div>

<% end %>

</div>


<%
   record =  this.model.find params[:id]
if record  
%>

<% end %><hr/>

<%#link_to 'Edit', "edit?id=#{params[:id]}",:class=>'btn'%>
<%#link_to 'Back', 'index',:class=>'btn'%>

	<span class="col-sm-12 msg " style="color:gray;font-size:0.7em;<%='display:none' if params[:debug]!='1' %>" ></span>	

		<script type="text/javascript">
	    
 var gfx = null;
 
			$(document).ready(function(){
				
				
				
				
 			   var lead_data = {};
		  	 var wave_data = [];
			
		
			var data = [100,200,100,200];

			var settings = {version:'1.0'};

		    var components = [];
	
			vs = {name:'vitalsign',type:'vs',show:true,params:['hr','pr','spo2','co2','rr','temp','bp_sys','bp_dia'],records:null};
			records = [];
	
			now = Date.now();
			
			<%
			if admit
			senses = Sense.where(:admit_id=>admit.id).limit(100).sort(:start_time.desc).all.reverse
		    
			
			list =[]
			
			for i in senses
			
				o = ActiveSupport::JSON.decode(i.data)
				
				if o['vs']
					for j in o['vs']
						
						# [{:stamp=>2019-03-07 00:15:36 +0700, :bp=>"119/72", :bp_stamp=>
						bp = j['bp'].split("/")
						list.push({time:Time.parse(j['stamp']),:temp=>j['temp']?j['temp']:0,pr:j['pr']!='-'?j['pr']:0, :spo2=>j['spo2']!='-'?j['spo2']:0, hr:j['hr']?j['hr']:0,rr:j['rr']?j['rr']:0,bp_sys:bp[0].to_i,bp_dia:bp[1].to_i});
					end
					
				end
				
			end
			%>
			
			
			<%
			for j in list 	
			%>
			j = <%=j.to_json.html_safe%>
			records.push({time:Date.parse(j['time']),hr:j['hr'],temp:j['temp'],pr:j['pr'],spo2:j['spo2'],rr:j['rr'],bp_sys:j['bp_sys'],bp_dia:j['bp_dia']});
			
			<% end %>
				<% end %>
			//records = <%= list.to_json.html_safe %>
		
			// records.push({time:now   ,hr:99,rr:20,bp_sys:103,bp_dia:90});
			// records.push({time:now+100000,hr:120,rr:19,bp_sys:113,bp_dia:100});
			// records.push({time:now+200000,hr:110,rr:20,bp_sys:163,bp_dia:120});
			// records.push({time:now+300000,hr:90,rr:20,bp_sys:100,bp_dia:60});
			// records.push({time:now+400000,hr:99,rr:20,bp_sys:103,bp_dia:90});
			
			
			vs['records'] = records;
	
	
	
			med = {name:'medication',type:'med',show:true,params:['domicum','fentanyl','0.9%NSS'],records:null};
			records = [];
			
			records.push({time:now,stop_time:now+20000,domicum:{r:3,v:300}});
			records.push({time:now+2000,stop_time:now+30000,fentanyl:{r:3,v:300}});
			records.push({time:now+30000,stop_time:now+50000,domicum:{r:3,v:300}});

			med['records'] = records;
	
			components.push(vs);
			components.push(med);

	
	
			settings['components'] = components
	
			console.log(settings);
	
	
			 var viewport = d3.select(".viewport").append("svg")
    		 .attr("class", "info-svg")

	     var g = viewport.append("g")
		    .attr("transform", "translate(0,0)");
		 gfx = GFX()
		 .svg(g)
		 .startTime(Date.now())
		 .endTime(Date.now()+1000*3600)
		 .viewport(d3.select(".viewport"));
		 gfx.data(settings);
		 d3.select("svg").call(gfx);

		 window.addEventListener("resize", gfx.resize);
		

	
	// var show = function(el){
	//      	return function(msg){ el.innerHTML = msg  }
	//     }
   
   
	var show = function(el){
        return function(msg){ el.innerHTML = msg  }
      }(document.getElementById('msgs'));
	
	  var ws       = new WebSocket('wss://' + window.location.host + "<%="/ws/#{params[:gxt]}/Home/index"%>");
	
	  var plot_pos = {};
	
   ws.onopen    = function()  { show('websocket opened'); 
	
	  	ws.send('WS.Select name=<%=session.id%>\n["Zone <%="miot/#{params[:gxt]}/z/#{record.zone.name}"%>","ZoneUpdate zone_id=*","Alert station_id=*","Data.Image station_id=*"]')

	  };
   ws.onclose   = function()  { show('websocket closed'); 
		
	 	setTimeout(function () {
	 		       // window.location.href = "index"; //will redirect to your blog page (an ex: blog.html)
	 		    }, 2000); //will call the function after 2 secs.
	 		

   }
   ws.onmessage = function(m) { 
	
		active = $('.active-station').size()
			
		<% if params[:debug] %>	
		show(''+m.data)
		<% end %>
		
		
		lines = m.data.split("\n")
		
		// console.log(lines[0].split(" ")[0])
		if(lines[0].split(" ")[0]=='Alert'){
			data = JSON.parse(lines[1])
			
			// alert(data['alert'])
			
			$('#'+data['station']).addClass('bp_alert_2');
			$('#'+data['station']+' .msg').html(data['alert']);
			
			// play sound
			ion.sound.play("bell_ring");
			
		}else
		if(lines[0].split(" ")[0]=='Data.Image'){
		
			lines.shift()
			img = lines.join("")
			// alert('image '+m.data.length)
			
			$("#image").attr('src','data:image/jpg;base64,'+ JSON.parse(img))
			
			
		}
		else
		if(lines[0].split(" ")[0]=='ZoneUpdate'){
		
	
		data = JSON.parse(lines[1])
			// 
			// if(data['list'].length!=active)
			// window.location.href = "index"; 
			
		$('#timer').html(data['time'])
		for(var id in data['list']){
			i = data['list'][id]
			
			if($('#'+i).length > 0){ 
			obj = data['data'][i]
				
			
		  if(obj['wave']){	
			  
			    // wave_data.push(obj['wave']);
		   		// wave_data = wave_data.concat(obj['wave']);
				
				if(wave_data.length > 1000){
					wave_data = null
					wave_data = []
					
				}
				
				for(var j=0;j<obj['wave'].length;j++){
					wave_data.push(obj['wave'][j]);
				}
				// console.log(wave_data);
				// wave_data = obj['wave'];
		   }
		   
		   if(obj['leads']){
		   	
			   for(var j=0;j<14;j++){
				   
				jid = ''+j
			   	
				if(lead_data[jid].length>1000){
					lead_data[jid] = null
					lead_data[jid] = []
				}
				
				lead_data[jid] = lead_data[jid].concat(obj['leads'][jid])
			
			    console.log(lead_data[jid].length)
				   
			   }
			
		   }
		    			
			
			 // console.log(obj)
			$('#'+i+' .hn').html(obj['ref'])
			
			if($('#'+i+' .bp').html()!=obj['bp']){
				$('#'+i).addClass('bp_alert');
				$('#'+i).removeClass('bp_alert_2');
		
			}else{
				$('#'+i).removeClass('bp_alert');
				// $('#'+i).removeClass('bp_alert_2');
				// $('#'+i+' .msg').html("-");
			}
			
			$('#'+i+' .bp .value').html(obj['bp'])
			
			$('#'+i+' .temp .value').html(obj['temp'])
			
			$('#'+i+' .pr .value').html(obj['pr'])
			$('#'+i+' .hr .value').html(obj['hr'])
			
			
			
			$('#'+i+' .rr .value').html(obj['rr'])
			$('#'+i+' .spo2 .value').html(obj['spo2'])
			$('#'+i+' .co2 .value').html(obj['co2'])
			
			
			$('#'+i+' .msg .value').html(obj['msg'])
			
			$('#'+i+' .score .value').html(obj['score'])
			
			bp = obj['bp'].split('/')
			
			hr = parseInt(obj['hr'])
			pr = parseInt(obj['pr'])
			spo2 = parseInt(obj['spo2'])
			rr = parseInt(obj['rr'])
			temp = parseInt(obj['temp'])
			
			
			if(isNaN(hr))hr=0;
			if(isNaN(pr))pr=0;
			if(isNaN(spo2))spo2=0;
			if(isNaN(rr))rr=0;
			
			if(isNaN(temp))rr=0;
			
			
		    vs = [{time:Date.now(),hr:hr,pr:pr,spo2:spo2,temp:temp,rr:rr,bp_sys:parseInt(bp[0]),bp_dia:parseInt(bp[1])}];
			
			gfx.tick({update:[{name:'vitalsign',append:vs}]});
			
			
			
			
			}else{
					setTimeout(function () {
				       // window.location.href = "show?id=<%=params[:id]%>"; //will redirect to your blog page (an ex: blog.html)
				    }, 2000); //will call the function after 2 secs.
				
			}
			
		}
		 }
	 };


	
	
	$('.ctl').each(function(){
		
		obj = $(this)
		
		obj.click(function(){
			o = $(this)
			 ws.send(o.attr('id'));
		})
		
	})


     
<%= inline(this,:'_ecg.js') %>
	



   // var wave_data = [];

<% 14.times do |i|  %>
   
   presetWave('wave-<%=i%>')

   i = "<%=i%>"

   lead_data[i] = [];
  // genData(lead_data[i]) 
  
  showWave('wave-<%=i%>',lead_data[i],i);
 
<% end %>				


  <% if params[:score] == '1' %>
  $('#menu2-link').click();
  <% else %>
  $('#menu1-link').click();
  <% end %>
  
  $('#menu3-link').click(function(){
  	gfx.active(true);
	width = document.body.clientWidth;
	$('.viewport').css('width',width);
  	gfx.render(true);
  });


	});


	// init bunch of sounds
	ion.sound({
	    sounds: [
	        {name: "bell_ring"}
	    ],

	    // main config
	    path: "<%=url_for 'sounds/'%>",
	    preload: true,
	    multiplay: true,
	    volume: 0.9
	});

	$('#search-form').submit(function(event){
		
		hn = $('#search').val()
		
		
		$.ajax({
		  url: "patient?station_id=<%=station.id%>&hn="+hn,
		  context: document.body
		}).done(function(data) {
		  
		$('#result').html(data)
		
		
		});
		
		$('#search').val("");
		event.preventDefault();
	})	
	

</script>	<i style="color:#666">  <div id="msgs" style="font-size:0.8em"></div></i>
<%= inline(this,:'../home/_scoring') %>



<div class="modal fade" id="admit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="color:black">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      
    </div>
  </div>
</div>




<script>
	
	
	

function call_admit(){
	$.ajax({
	  url: "../Admit/admiting?id=<%=station.name%>",
	  context: document.body
	}).done(function(data) {
	  $('.modal-content').html(data);
	  $('#admit-modal').modal({
	    backdrop: 'static',
	    keyboard: false
	})
	});
}
<% if admit %>		
		$.ajax({
		  url: "patient?station_id=<%=station.id%>&hn=<%=admit.patient.hn%>",
		  context: document.body
		}).done(function(data) {
				$('#result').html(data)


				});
<% end %>
			
</script>
				<script>
				$('#main-container').removeClass('container')
					$(document).ready(function(){
						
						
					})
					
					
				</script>
			<i style="color:#666">  <div id="msgs" style="font-size:0.8em"></div></i>