<%
	
ambu = Ambulance.find params[:id]
	
	
%>



<ul class="nav nav-tabs justify-content-center" style="padding-top:10px">

  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><%=ambu.name%></a>
  </li>
  
  
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Tracking</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Share</a>
  </li>
  
  <li class="nav-item">
	
  </li>
  
  
<span style="float:right;margin-top:0px"></span>

  
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
  	
	<div class="conference" style="height:390px">
		<%=inline(this,:'../sas/_vidyo')%>
	</div>
	
	<% 
		
	admit = Admit.where(:status=>'Admitted', :ambulance_id=>ambu.id).first
	
	%>
	<% if admit 
	
	patient = Patient.find admit.patient_id
		
	%>
	<div class="row">
		<div class="col-12 ">
			<div class="alert alert-success">
		<b>Patient :</b><br/> 
		Name : <v><%=patient.first_name%> <%=patient.last_name%></v>
		Age : <v><%=patient.age%></v> Sex : <v><%=patient.gender%></v><br/>
		HN : <v><%=patient.hn%> </v> CID : <v><%=patient.public_id%></v><br/>
		Contact : <v><%=patient.contact_name%> @ <a href="tel:<%=patient.contact_phone%>"><%=patient.contact_phone%></a></v>
	</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-6">
		Monitor
		</div>
	</div>

	<div class="row">
		<div class="col-6">
		<form action="." >
		<input name="">
		</form>
		</div>
		<div class="col-6">
		Note
		</div>
	</div>
	
	<%end %>
  </div>
 
  
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
  	<% if admit %>
	<% 
	logs = AdmitLog.where(:admit_id=>admit.id).sort(:sort_order).all
	%>
	<table class='table'>
	<% for i in logs %>
	<tbody>
	<tr>
		<td>
			<%=i.name%>
		</td>
		<td>
			<%='30mins'%>
		</td>
		<td>
			<%=i.note%>
		</td>
		<td>
			<%=i.stamp%>
		</td>
		
		
	</tr>

	<% end %>
		</tbody>
	</table>
	
	
	<% end %>
	
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
	 <center>
  	<img src=<%="/barcode?code=#{request.url}&type=qr_code&xdim=10"%>/><br/><br/>
	<%=request.url%>
</center>
  </div>
  
</div>
<hr/>
<center>  <%=link_to 'Back', "index",:class=>'nav-link' %></center>
<style>
	.tab-pane{
		padding-top:10px;
	}
	v{
		color:blue;
	}
	#toolbarRight{display:none;}
	#optionsVisibilityButton{display:none;}
</style>

<script>
	$(document).ready(function(){
		$('#toolbarCenter').removeClass('col-6');
		$('#toolbarCenter').addClass('col-10');
		$('#renderer').css('height','320px');
		$('.resourceId').val("<%=ambu.name%>")
		$('.displayName').val("Mobile")
	})
</script>
	