<%

	current_unit = EMSUnit.current @current_user


	@record =  this.model.new  params[:record]

    @record.unit_id = current_unit.id if current_unit
	@record.creator = @current_user.login

	# name is code 
    # "miot-EMS-2501-0003-PRE"


	@record.zone_id =  session[:current_zone]


	@record.status = "OPEN"
	@record.schedule_at = Time.now 
	@record.type = 'CONF'



%>
<%=   %>
<h1><%=name params[:service]%> Create</h1>
<% 
return_url = "javascript:history.back();"

return_url = params[:return] if params[:return]



	if request.post?
		
	if params[:record]



		tag = Time.now.strftime("%y%m")
		pref = "#{@current_solution}-CONF-#{tag}"
		count = Counter.get(pref)
		params[:record][:name] = "#{pref}-#{format("%04d",count)}"
		params[:record][:zone_id ] = session[:current_zone]
		record =  this.model.create params[:record]

		
	%>
	<%=redirect_to "index?id=#{record.id}"%>
	<%	
	end
	
		
		
		
   else 
%>
<form action="create" method="post" enctype="multipart/form-data">
<%= inline(this,:'_form') %>
<button type="submit" class="btn btn-primary">Submit</button>
<%=link_to 'Back', return_url ,:class=>'btn'%>

</form>
<% end %>
