	<link rel="stylesheet" type="text/css" href="<%=url_for "PatternLock/_style/patternlock.css"%>"/>
<style>




	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
	    transition: background-color 5000s ease-in-out 0s;
	}

	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
	    -webkit-appearance: none;
	    margin: 0;
	}
 
	input[type="number"] {
	    -moz-appearance: textfield;
	}

	button:focus, input:focus {
	    outline: none;
	}



	.mm-number-container {
		-ms-box-orient: horizontal;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -moz-flex;
		display: -webkit-flex;
		display: flex;
	
		/*align-items: center;
		justify-content: center;*/
		height: inherit;
	}

	.mm-number-input {
		width: 500px;
		max-width: 90%;
	/*	margin: 0 auto;*/
		text-align: center;
	}

	.mm-number-input-container {
		-ms-box-orient: horizontal;
	    display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -moz-flex;
	    display: -webkit-flex;
	    display: flex;
/*	    margin: 0 auto;*/
/*	    align-items: center;
	    justify-content: center;*/
	    height: inherit;
	}

	.mm-number-input-item {
		width: 40px;
		height: 40px;
		margin: 10px 2px;
	}

	.mm-number-input-item input {
		width: 100%;
		height: inherit;
		font-size: 20px;
		font-weight: 300;
		text-align: center;
		border: 1px solid rgba(20,20,20,0.1);
	}

	.mm-number-input-submit {
	    text-align: center;
	    width: 80px;
	    height: 40px;
	    background: #f1f1f1;
	    color: #333;
	    border: none;
	    font-size: 14px;
	    font-weight: 300;
	}

	.mm-number-input-submit:focus, .mm-number-input-submit:hover {
		background: #333;
		color: #f1f1f1;
		cursor: pointer;
	}
	</style>
<%
	

record = User.find params[:id] 
	
if request.post?

	mark = false
	
	if  params[:password].size > 0 and params[:password] == params[:password_confirmation]
		record.password = params[:password]
		mark=true
		
	end
	
	
	if  params[:passcode].size > 0 
		if params[:passcode].size==12
			new_code = params[:passcode][6..-1]
			old_code = params[:passcode][0..5]
		else
			new_code = params[:passcode]
		end
		
		if record.passcode == old_code or old_code == ""
			record.passcode =  new_code
		end
		
		mark=true
		
	end
	
	if params[:pattern_password].size > 0 
		exist = User.where(:pattern=>params[:pattern_password]).first
		unless exist
			record.pattern =  params[:pattern_password]
			mark=true
		else
			puts 'Passcode exist'
		end
		
	end
	
	record.save if mark
	
	
	
	
%>
<%= redirect_to 'index'
%>

<% else %>

<form action="password" method="post" enctype="multipart/form-data">
    <input type="hidden" class="form-control" id="record_id" name="id" value="<%=params[:id]%>" placeholder="Password">
	
<div class="form-group">
  <label for="product-name">Password</label>

    <input type="password" class="form-control" id="record_password" name="password" value="" placeholder="Password">
</div>

<div class="form-group">
  <label for="product-name">Password Confirmation</label>

    <input type="password" class="form-control" id="record" name="password_confirmation" value="" placeholder="Password Confirmation">
</div>

<div class="form-group">
  <!-- <label for="product-name">Passcode</label> -->

    <input type="hidden" class="form-control" id="record_passcode" name="passcode" value="" placeholder="Password">

<label for="product-name">Old Pin Code</label>
<div class="mm-number">
			<div class="mm-number-container">
				<div class="mm-number-input">
					<div class="mm-number-input-container animated">
						<div class="mm-number-input-item">
							<input type="number" pattern="\d*" class="animated" maxlength="1" placeholder="X">
						</div>
						<div class="mm-number-input-item">
							<input type="number" pattern="\d*" class="animated" maxlength="1" placeholder="X">
						</div>
						<div class="mm-number-input-item">
							<input type="number" pattern="\d*" class="animated" maxlength="1" placeholder="X">
						</div>
						<div class="mm-number-input-item">
							<input type="number" pattern="\d*" class="animated" maxlength="1" placeholder="X">
						</div>
						<div class="mm-number-input-item">
							<input type="number" pattern="\d*" class="animated" maxlength="1" placeholder="X">
						</div>
						<div class="mm-number-input-item">
							<input type="number" pattern="\d*" class="animated" maxlength="1" placeholder="X">
						</div>
					</div>
				</div>
			</div>
</div>
<label for="product-name">New Pin Code</label>
<div class="mm-number">
			<div class="mm-number-container">
				<div class="mm-number-input">
					<div class="mm-number-input-container animated">
						<div class="mm-number-input-item">
							<input type="number" pattern="\d*" class="animated" maxlength="1" placeholder="X">
						</div>
						<div class="mm-number-input-item">
							<input type="number" pattern="\d*" class="animated" maxlength="1" placeholder="X">
						</div>
						<div class="mm-number-input-item">
							<input type="number" pattern="\d*" class="animated" maxlength="1" placeholder="X">
						</div>
						<div class="mm-number-input-item">
							<input type="number" pattern="\d*" class="animated" maxlength="1" placeholder="X">
						</div>
						<div class="mm-number-input-item">
							<input type="number" pattern="\d*" class="animated" maxlength="1" placeholder="X">
						</div>
						<div class="mm-number-input-item">
							<input type="number" pattern="\d*" class="animated" maxlength="1" placeholder="X">
						</div>
					</div>
				</div>
			</div>
</div>
</div>	
		

<div class="form-group">
  <label for="product-name">Pattern Lock</label>
    <!-- <input type="password" class="form-control" id="record_pattern" name="pattern" value="" placeholder="Password"> -->
	<input type="password" name="pattern_password" class="patternlock">
	
</div>

<button type="submit" class="btn btn-primary">Submit</button> 

<%=link_to 'Back', "index" %>
</form>

<% end %>
<script>
	
	jQuery(document).ready(function() {

	
	  jQuery('.mm-number-input-item:nth-child(1) input').focus();

		jQuery('.mm-number-input-item').each(function(index) {
			var item, id, input;
			item = jQuery(this);
			id = index + 1;
			input = item.children('input');
			item.addClass('mm-number-input-item-'+id);
			input.data('id',id);
		});

		jQuery('.mm-number-input-item input').on('keyup', function(e) {

	    	var item, value, id, count, pass = [];
			item = jQuery(this);
			value = item.val();
			id = item.data('id');
			count = jQuery('.mm-number-input-item').length;

			if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
				jQuery('.mm-number-input-item-'+(id)+' input').val('');
			}
			else {
				if(!value) {
					jQuery('.mm-number-input-item-'+id+' input').focus().select();
				}
				else {
					if(id < count) {
						jQuery('.mm-number-input-item-'+(id+1)+' input').focus().select();
					}
					else {
						//
					}
				}

				jQuery('.mm-number-input-item input').each(function() {
					var x;
					x = jQuery(this);
					pass.push(x.val());
				});

				var number = pass.join("");
			}

			if(id === count) {
				
				$('#record_passcode').val(number)
				
				// if(parseInt(number) === password) {
// 					jQuery('.mm-number-input-container').addClass('bounceOutUp');
// 					setTimeout(function() {
// 						jQuery('.mm-number-input-container').removeClass('bounceOutUp').addClass('bounceInDown');
// 						setTimeout(function() {
// 							jQuery('.mm-number-input-container').removeClass('bounceInDown');
// 							jQuery('.mm-number-input-item input').val('');
// 							jQuery('.mm-number-input-item-1 input').focus();
// 						},500);
// 					},1500);
// 				}
// 				else {
// 					jQuery('.mm-number-input-item input').addClass('shake');
// 					setTimeout(function() {
// 						jQuery('.mm-number-input-item input').removeClass('shake');
// 						jQuery('.mm-number-input-item input').val('');
// 						jQuery('.mm-number-input-item-1 input').focus();
// 					},500);
// 				}
			}
			else {
				//
			}

		});

	});
</script>
	
	<script src="<%=url_for "PatternLock/_script/patternlock.js"%>"></script>
	